<template>
<!-- THIS IS DAYA -->
<div class="ag-are-you-sure-three-modal ag-register-modal-container">
    <div class="inner-container">
        <div  class="input-modal-form">
            <h5 class="text-center">{{Message}}</h5>
            <div  class="form-group row">

            </div>    
            <div class="form-actions text-center">
                <button @click="HandleAction()" class="btn btn-md btn-main-2 btn-primary ag-modal-close-2">OK</button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2">Cancel</button>                  
            </div>                    
        </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>  
</template>
<script>
export default {
    props:{
        Message:null,
        HandleAction:null
    },
    name:'AreYouSureThree'
}
</script>
<style scoped>
.ag-are-you-sure-three-modal.ag-register-modal-container{
    left: 0;
}
.ag-are-you-sure-three-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-are-you-sure-three-modal  .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 100px;
    width: 50%;
    background-color: white;
    background-origin: padding-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}
</style>