<template>
<div class="ag-cancellation-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-6 offset-md-3">
            <div class="register_modal cancellation">
                <div class="" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>UNSUBSCRIBE</h1>
                    <h4>Are you sure you want to proceed cancellation?</h4>
                    <div class="form_rmodal" >
                        <div class="form-group">
                            <!-- <textarea  class="form-control"  v-model="input.Reason" rows="3" placeholder="REASON"></textarea> -->
                        </div>
  
                       <div class="form-group btn-holder">
                            <button class="btn btn-lg btn-main-2 btn-primary sign-up" @click="submit">  <!-- <button class="pop-up-login-btn" @click="submit"> -->
                                <span v-if="!submitted"> Confirm </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>

                        <div class=""><!-- pop-up-login-btn -->
                            <!-- Already a Member? <a href="#" class="pop-up-yellow-signup pop-up-yellow-signup2 popup_login_modal">Log in.</a> -->
                        </div>
                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <p class="register-thankyou">Your account with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p><!-- ../../../assets/images/agora-logo-white.png -->
                    <p>Your subscription was successfully cancelled.</p>
                    <button @click="ReloadPage()" type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <span class="ag-modal-close ag-modal-close-3 ag-modal-close-2 fa fa-times"></span>
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {subscriptionCancellation} from '../../../api/member/member.js'

export default {

name: 'Cancellation',
components: {PulseLoader},
data () {
    return {
        isSuccess : false,
        submitted:false,
        input:
        {
            Reason:null
        },
        errors:
        {
            Reason:null,
            Member:null
        }
    }   
},
methods:
{
    submit()
    {
        this.submitted = true;
        subscriptionCancellation(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSuccess = true;
        }).catch((response)=>{
            if(response.body.Errors.Reason){
                  this.$toasted.error(response.body.Errors.Reason);
                  return;
            }
            if(response.body.Errors.Member){
                  this.$toasted.error(response.body.Errors.Member);
                  return;
            }            
        }).finally(()=>{
            this.submitted = false;
        })
    },
    ReloadPage(){
        this.$router.go()
    }
    

}
  


}
</script>

<style scoped>
.ag-cancellation-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 95px;
}
.register_modal h4{
    text-transform: none;
}
.register_modal.cancellation{
    margin-top: 25vh;
}
</style>
