<template>
<div class="ag-profile-change-backdrop-modal ag-register-modal-container">
    <div class="inner-container">
        <div  class="input-modal-form">
            <h5>Change Header Backdrop</h5>
            <div  class="form-group row">
                  <div @click="SetSelect(1)" class="backdrop cover-banner-1 " :class="{'backrop_selected' :  input.BackDropID == 1 }"></div>
                  <div @click="SetSelect(2)" class="backdrop cover-banner-2" :class="{'backrop_selected' : input.BackDropID == 2}"></div>
                  <div @click="SetSelect(3)" class="backdrop cover-banner-3" :class="{'backrop_selected' : input.BackDropID == 3 }"></div>
                  <!-- <div @click="SetSelect(4)" class="backdrop cover-banner-4" :class="{'backrop_selected' :input.BackDropID == 4 }"></div> -->
                  <!-- <div @click="SetSelect(5)" class="backdrop cover-banner-5" :class="{'backrop_selected' : input.BackDropID == 5 }"></div> -->
                  <div @click="SetSelect(6)" class="backdrop cover-banner-6" :class="{'backrop_selected' : input.BackDropID == 6 }"></div>
                  <div @click="SetSelect(7)" class="backdrop cover-banner-7" :class="{'backrop_selected' : input.BackDropID == 7 }"></div>
                  <!-- <div @click="SetSelect(8)" class="backdrop cover-banner-8" :class="{'backrop_selected' : input.BackDropID == 8 }"></div> -->
                    <!-- <div @click="SetSelect(9)" class="backdrop cover-banner-9" :class="{'backrop_selected' : input.BackDropID == 9 }"></div> -->
                  <div @click="SetSelect(10)" class="backdrop cover-banner-10" :class="{'backrop_selected' : input.BackDropID == 10 }"></div>
                  <!-- <div @click="SetSelect(11)" class="backdrop cover-banner-11" :class="{'backrop_selected' : input.BackDropID == 11 } "></div> -->
                  <div @click="SetSelect(12)" class="backdrop cover-banner-12" :class="{'backrop_selected' : input.BackDropID == 12 }"></div>
                  <!-- <div @click="SetSelect(13)" class="backdrop cover-banner-13" :class="{'backrop_selected' : input.BackDropID == 13 }"></div> -->
            </div>    
            <div class="form-actions text-center">
                <button @click="SubmitChangeProfile()" class="btn btn-md btn-main-2 btn-primary ag-modal-close-2">OK</button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2">Cancel</button>                  
            </div>                    
        </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>  
</template>
<script> 
import {postChangeBackdrop} from '../../../api/member/member.js'
export default {
    name:'ChangeBackdrop',
    data(){
        return {
            SelectedBackdrop:1,
            input:{
                BackDropID:null
            }
        }
    },
    computed:{
        memberDetail : function(){
            let _memberDetail = this.$store.state.memberDetail;
            this.input.BackDropID = _memberDetail.back_drop;
            return  _memberDetail;
        }        
    },
    methods:{
        IsSelected:function(backdrop_id){
            if(backdrop_id == this.input.BackDropID ){
                return true;
            }
            return false
        },
        SetSelect:function(backdrop_id){
            this.input.BackDropID= backdrop_id;
        },
       
        SubmitChangeProfile:function(){
            postChangeBackdrop(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("Profile backdrop has been successfully updated.");
                this.$store.commit("commitProfileBackdrop", this.input.BackDropID);
            }).catch((response)=>{

            });
        },
    }
}
</script>
<style scoped>
.ag-profile-change-backdrop-modal.ag-register-modal-container{
    left: 0;
}
.ag-profile-change-backdrop-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-profile-change-backdrop-modal .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 100px;
    width: 50%;
    background-color: white;
    background-origin: padding-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
.backdrop{
    height: 55px;
    width: 100%;
    margin-bottom: 3px;
    border: 4px solid transparent;
    cursor: pointer;
}
.backdrop:hover{
    border: 4px solid lightskyblue;
}
.backrop_selected{
    border: 4px solid lightskyblue;
}
.input-modal-form .form-actions{
    margin-bottom: 2em;
}
</style>

