<template>
<div class="ag-change-pass-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-6 offset-md-3">
            <div class="register_modal">
                <div class="" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>Change Password</h1>
                    <h4>Please fill in your details</h4>
                    <div class="form_rmodal" >

                        <div class="form-group">
                            <input v-model="input.OldPassword" type="password" 
                            class="form-control margin-bot-5" 
                            :class="{'is-invalid' : (!HasValue(input.OldPassword) || HasErrorBool(errors.OldPassword)) } " 
                            placeholder="PASSWORD" autocomplete="off">

                            <input v-model="input.NewPassword" type="password" 
                            class="form-control margin-bot-5" 
                            :class="{'is-invalid' : (!HasValue(input.NewPassword) || HasErrorBool(errors.NewPassword)) }"
                            placeholder="NEW PASSWORD" autocomplete="off">

                            <input v-model="input.ConfirmPassword" type="password" 
                            class="form-control margin-bot-5" 
                            :class="{'is-invalid' : (!HasValue(input.ConfirmPassword) || HasErrorBool(errors.ConfirmPassword)) }"
                            placeholder="CONFIRM NEW PASSWORD" autocomplete="off"> 
                        </div>

  
                       <div class="form-group btn-holder">
                            <button :disabled="DisableSubmit()" class="btn btn-lg btn-main-2 btn-primary sign-up" @click="submit">  <!-- <button class="pop-up-login-btn" @click="submit"> -->
                                <span v-if="!submitted"> Submit </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>
                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <p class="register-thankyou">Thank you for your inquiry with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p><!-- ../../../assets/images/agora-logo-white.png -->
                    <p>Your password has been successfully updated</p>
                    <button @click="CloseModal()" type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <span id="closeChangePass" @click="CloseModal()" class="ag-modal-close ag-modal-close-3 ag-modal-close-2 fa fa-times"></span>
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {changePassword} from '../../../api/member/member.js'

export default {

name: 'ForgotPassword',
components: {PulseLoader},
data () {
    return {
        isSuccess : false,
        submitted:false,
        input:
        {
            OldPassword:null,
            NewPassword:null,
            ConfirmPassword:null

        },
        errors:
        {
            OldPassword:[],
            NewPassword:[],
            ConfirmPassword:[]
        }
    }   
},
methods:
{
    submit()
    {
        this.submitted = true;
        changePassword(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSuccess = true;
            this.$toasted.success("Password has been updated");
            document.getElementById("closeChangePass").click();
        }).catch((response)=>{

            if(response.body.Errors.Member){
                  this.$toasted.error("Incorrect password");
                  this.errors.OldPassword = response.body.Errors.Member;
          
            }
            
            else if(response.body.Errors.OldPassword){
                 this.$toasted.error("Incorrect password");
                  this.errors.OldPassword = response.body.Errors.OldPassword;
                    // this.$toasted.error( response.body.Errors.ConfirmationCode[0].replace("ConfirmationCode", "Confirmation Code"));
            
            }else{
                this.errors.ConfirmPassword = [];
            }
            
            if(response.body.Errors.NewPassword){
                  this.$toasted.error("Invalid password");
                  this.errors.NewPassword = response.body.Errors.NewPassword;
            }else{
                this.errors.NewPassword = [];
            }

            if(response.body.Errors.ConfirmPassword){
                this.errors.ConfirmPassword = response.body.Errors.ConfirmPassword;
                  this.$toasted.error("Passwords do not match");
          
            }else{
                this.errors.ConfirmPassword = [];
            }                       
        }).finally(()=>{
            this.submitted = false;
        })
    },
    DisableSubmit(){
        if(this.input.OldPassword == null || this.input.NewPassword == null || this.input.ConfirmPassword == null ){
            return true;
        }
        if(this.input.OldPassword.trim() == '' || this.input.NewPassword.trim() == '' || this.input.ConfirmPassword.trim() == '' ){
            return true;
        }        
        return false;
    },
    CloseModal(){
        this.isSuccess = false;
        this.input.OldPassword  = null;
        this.input.NewPassword  = null;
        this.input.ConfirmPassword  = null;
    }

}
  


}
</script>

<style scoped>
.ag-change-pass-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 95px;
}
</style>
