<template>
<div class="ag-deactivation-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-6 offset-md-3">
            <div class="register_modal">
                <div class="" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>Deactivate</h1>
                    <h4>We are sad to see you go.</h4>
                    <h5>Can you please tell us the reason why you're leaving?</h5>
                    <div class="form_rmodal" >
                        <div class="form-group">

                            <textarea  class="form-control"  v-model="input.Reason" rows="3" placeholder="REASON"></textarea>
                            <!-- <input v-model="input.Email" type="text" class="form-control" placeholder="EMAIL ADDRESS" autocomplete="off">  -->
                        </div>
  
                       <div class="form-group btn-holder">
                            <button :disabled="DisableInput()"
                            class="btn btn-lg btn-main-2 btn-primary sign-up popup_are_you_sure_four "
                            > 
                                <span v-if="!submitted"> Confirm </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>

                        <div class=""><!-- pop-up-login-btn -->
                            <!-- Already a Member? <a href="#" class="pop-up-yellow-signup pop-up-yellow-signup2 popup_login_modal">Log in.</a> -->
                        </div>
                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <p class="register-thankyou">Your account with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p><!-- ../../../assets/images/agora-logo-white.png -->
                    <p>Your account is now deactivated. Thank you for your support.</p>
                    <button @click="LogOutUser()" type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <span @click="LogOutUser()" class="ag-modal-close ag-modal-close-3 ag-modal-close-2 fa fa-times"></span>

    <are-you-sure-four :Message="DeleteDialogMessage" :handle-action="submit"></are-you-sure-four>
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {memberDeactivation} from '../../../api/member/member.js'
import AreYouSure from './AreYouSureModal'
import AreYouSureFour from './AreYouSureModalFour'
export default {

name: 'Cancellation',
components: {PulseLoader, AreYouSure, AreYouSureFour},
data () {
    return {
        isSuccess : false,
        submitted:false,
        DeleteDialogMessage:"Are you sure you want to proceed?",
        input:
        {
            Reason:null
        },
        errors:
        {
            Reason:null,
            Member:null
        }
    }   
},
methods:
{
    submit()
    {
        this.submitted = true;
        memberDeactivation(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSuccess = true;
        }).catch((response)=>{
            if(response.body.Errors.Reason){
                  this.$toasted.error(response.body.Errors.Reason);
                  return;
            }
            if(response.body.Errors.Member){
                  this.$toasted.error(response.body.Errors.Member);
                  return;
            }            
        }).finally(()=>{
            this.submitted = false;
        })
    },
    DisableInput(){
        if(this.input.Reason == null){
            return true;
        }
        if(this.input.Reason.trim() == ''){
            return true;
        }
        return false;
    },
    ReloadPage(){
        this.$router.go('/')

    }
    

}
  


}
</script>

<style scoped>
.ag-deactivation-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 75px;
}
</style>
