<template>
<div class="ag-forgot-pass-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-8 offset-md-2">
            <div class="register_modal">
                <div class="forgot_password" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>Forgot Password</h1>
                    <h4>Please fill in your details</h4>
                    <div class="form_rmodal" >
                        <div class="form-group">
                            <input v-model="input.Email" type="text" class="form-control" placeholder="EMAIL ADDRESS" autocomplete="off"> 
                        </div>
  
                       <div class="form-group btn-holder">
                            <button class="btn btn-lg btn-main-2 btn-primary sign-up" @click="submit">  <!-- <button class="pop-up-login-btn" @click="submit"> -->
                                <span v-if="!submitted"> Submit </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>

                        <!-- <div class="">
                            Already a Member? <a href="#" class="pop-up-yellow-signup pop-up-yellow-signup2 popup_login_modal">Log in.</a>
                        </div> -->

                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <!-- <p class="register-thankyou">Thank you for your inquiry with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p>
                    <br/> -->
                    <p>An email has been sent to you containing the temporary code to reset your password.</p>
                    <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <span class="ag-modal-close ag-modal-close-3 fa fa-times"></span>
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {forgotPassword} from '../../../api/member/member.js'

export default {

name: 'ForgotPassword',
components: {PulseLoader},
data () {
    return {
        isSuccess : false,
        submitted:false,
        input:
        {
            Email:null,
        },
        errors:
        {
            Email:null,
        }
    }   
},
methods:
{
    submit()
    {
        this.submitted = true;
        forgotPassword(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSuccess = true;
        }).catch((response)=>{
            if(response.body.Errors.Email){
                  this.$toasted.error(response.body.Errors.Email);
                  return;
            }
        }).finally(()=>{
            this.submitted = false;
        })
    }

}
  


}
</script>

<style scoped>
.ag-forgot-pass-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 95px;
}
</style>
