<template>
    <div ref="signinBtn" data-theme="dark" >
        <img src="../../../assets/images/staticimage/icons/btngmaillogin.png" class="gmail_login"/>
    </div>
</template>

<script>
export default {
    name:'GmailLogin',
    mounted(){
        window.gapi.load('auth2', () => {
        const auth2 = window.gapi.auth2.init({
            client_id: '934623161162-db39h98bqegbtmp03cc4lrko5e1l8qg8.apps.googleusercontent.com'
        })
        auth2.attachClickHandler(this.$refs.signinBtn, {}, googleUser => {
            this.$emit('done', googleUser)
        }, error => console.log(error))
        })
    },
}
</script>

<style scoped>
.gmail_login{
    float:right
}
</style>


