
<template>
<!--Log In Modal-->



<div class="ag-login-modal ag-register-modal-container">
    <div class="inner-container">
        <div class="aside-banner d-none d-lg-block">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/agora-logo-white.png" width="125" height="48" alt="The Agora School">
            </a>
            <div class="aside-banner-message">
                <span>Hello there,</span><br>
                <span>welcome to <strong>Agora.</strong></span>
            </div>
            <div class="text-center">
                <img class="banner-img" src="../../../assets/images/staticimage/login_new.png"/> 
            </div>       
        </div>
        <div class="aside-main reg-pop-up-header">
            <div class="fixer">
                <p class="login-p">
                    <strong>Log in</strong> to your Account.
                </p>
                <input v-model="input.username" type="text" class="reg-popup-input login-popup-input first" id="username" data-toggle="tooltip" data-placement="top" :data-original-title="errror.username" placeholder="Username" autocomplete="off"> 
                <input v-model="input.password"  @keyup.enter="login" type="password" class="reg-popup-input login-popup-input second" id="password" data-toggle="tooltip" data-placement="top" :data-original-title="errror.password" placeholder="Password" autocomplete="off"> 
                <span class="popup-passcon">
                    <a href="#" class="popup_forgot_pass">Forgot Password</a>
                </span>
                <span class="pop-up-rememberme">
                    <input type="checkbox" name="rememberme" v-model="input.rememberme"/>
                    Remember Me
                </span>
               
                <div class="clearing"></div>
                <span  @click="testfb()" class="popup-passcon curs-pointer margin-top-15">
                    <img src="../../../assets/images/staticimage/icons/btnloginfb.png"/>

                </span>    
                <span class="pop-up-rememberme  curs-pointer  margin-top-15">
                    <gmail-login @done="onGmailSignIn"></gmail-login>
                </span>                             
          
                <div class="clearing"></div>


                <div class="text-center">
                    <button class="pop-up-login-btn" @click="login" :disabled="submitted">
                        <span v-if="!submitted"> LOG IN </span>
                        <pulse-loader v-else></pulse-loader>
                    </button>
                </div>
                
                <div class="pop-up-sign-up-msg text-center">
                    Not yet a Member? <a href="#" class="pop-up-yellow-signup popup_register_modal">Sign up.</a>
                    
                    <!-- <a href="#" @click="testfb()">Login FB</a> -->
                </div>
            </div>
        </div>  
        <div class="clearing"></div>       
    </div>
    <span class="ag-modal-close fa fa-times"></span>
</div>
<!--End Log In Modal-->
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import {newFBRegister, newGoogleRegister} from '../../../api/member/member.js'
import GmailLogin from './GmailLogin'
export default {

name: 'LoginModal',
components: {PulseLoader,  GmailLogin},
data () {
    return {
        submitted:false,
        input:
        {
            username:null,
            password:null,
            rememberme:false
        },
        errror:
        {
            username:null,
            password:null
        },
        fb_register:{
            FBUserID:null,
            EmailAddress :null,
            FirstName:null,
            LastName:null,
            Birthday:null,
            Gender:null
        },
        google_register:{
            GmailUserID:null,
            EmailAddress :null,
            FirstName:null,
            LastName:null,
            Birthday:null,
            Gender:null 
        }

    }   
},

methods:{
    testfb:function(){
        FB.getLoginStatus((response)=> {
            this.statusChangeCallback(response);
        });        
    },
    statusChangeCallback(response){
        // console.log("---FBLOGIN STATUS---");
        // console.log(response);
        // console.log("---FBLOGIN STATUS---");
        // alert(response.status );
        if(response.status == 'not_authorized' || response.status == 'unknown' ){
            //prompt log in         
            FB.login((response2)=> {
            //    console.log('Welcome!  Fetching your information.... ');
                this.GetFBDetailsForRegister();
            }, {scope: 'public_profile,email'});
            // user_birthday, user_gender, user_age_range'

        
        }else{
            //log out
                FB.logout((response) =>{
                console.log("user is logged out");
                });            
        }
        console.log("---");
    },

    GetFBDetailsForRegister(){
        FB.api('/me','GET', { fields: 'id,name,email,first_name,last_name,gender,birthday' }, (user_response)=> {
        // console.log('Good to see you, ' + user_response.name + '.');
            // console.log(user_response);
            this.fb_register.FBUserID = user_response.id;
            this.fb_register.EmailAddress = user_response.email;
            this.fb_register.FirstName = user_response.first_name;
            this.fb_register.LastName = user_response.last_name;
            this.fb_register.Birthday = user_response.birthday;
            if(user_response.gender == 'male'){
                this.fb_register.Gender = 1;      
            }else if(user_response.gender == 'female'){
                this.fb_register.Gender = 2;      
            }
            this.ExecuteSocialRegister();
        });   
    },
    ExecuteSocialRegister(){
        newFBRegister(this.fb_register).then((response)=>{
            if(response.status == 200)
            {
                let cookie_expires = '';
                if(this.input.rememberme){
                    cookie_expires = '3D';
                }
                this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: cookie_expires });
                this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: cookie_expires });
                this.$cookie.set('is_valid_user',response.body.UserValid,  { expires: cookie_expires });
                this.$store.commit("commitIsValidUser", response.body.UserValid);
                if(response.body.UserLevel == 4){
                     this.$cookie.set('user_level','TEACHER',  { expires: cookie_expires });
                }else{
                    this.$cookie.set('user_level','STUDENT',  { expires: cookie_expires });
                }

                if(!response.body.AlreadyRegistered == false){
                    this.$toasted.show("Please head to your Profile to update your details" );
                }
             
                if(response.body.UserLevel > 0){
                    window.location.replace('/activity?welcome=true');  
                }else{
                    window.location.replace('/membership_payment');
                }       
              
            }
        }).catch((response)=>{
            alert("AND ERROR HAS OCCURRED");
            console.log(response);
        })
    },  
    onGmailSignIn:function(googleUser){
        // console.log(googleUser);
        let access_token = googleUser.Zi.access_token;
        // alert(googleUser.Zi.access_token);
      // Useful data for your client-side scripts:
         var profile = googleUser.getBasicProfile();
        // console.log(profile);

        this.google_register.GmailUserID = profile.getId();
        this.google_register.EmailAddress = profile.getEmail();
        this.google_register.FirstName = profile.getGivenName();
        this.google_register.LastName = profile.getFamilyName();
        this.ExecuteGoogleSocialRegister();
            



    },
    ExecuteGoogleSocialRegister(){
        newGoogleRegister(this.google_register).then((response)=>{
            if(response.status == 200)
            {
                let cookie_expires = '';
                if(this.input.rememberme){
                    cookie_expires = '3D';
                }
                this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: cookie_expires });
                this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: cookie_expires });
                this.$cookie.set('is_valid_user',response.body.UserValid,  { expires: cookie_expires });
                this.$store.commit("commitIsValidUser", response.body.UserValid);
                if(response.body.UserLevel == 4){
                     this.$cookie.set('user_level','TEACHER',  { expires: cookie_expires });
                }else{
                    this.$cookie.set('user_level','STUDENT',  { expires: cookie_expires });
                }

                
                if(!response.body.AlreadyRegistered == false){
                    this.$toasted.show("Please head to your Profile to update your details" );
                }

                
                if(response.body.UserLevel > 0){
                    window.location.replace('/activity?welcome=true');  
                }else{
                    window.location.replace('/membership_payment');
                }
              
            }
        }).catch((response)=>{
            alert("AND ERROR HAS OCCURRED");
            console.log(response);
        })
    },      
    login:function()
    {
        if(this.submitted){
            return;
        }
        this.submitted = true;
        this.$http.post(this.$apis.login,
        {
          Username : this.input.username,
          Password : this.input.password  
        }).then(function(response)
        {
            if(response.status == 200)
            {
                let cookie_expires = '';
                if(this.input.rememberme){
                    cookie_expires = '3D';
                }
                this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: cookie_expires });
                this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: cookie_expires });
                this.$cookie.set('is_valid_user',response.body.UserValid,  { expires: cookie_expires });
                
                this.$store.commit("commitIsValidUser", response.body.UserValid);
                //Redirect to Teacher dashborad if teacher acct
                if(response.body.UserLevel == 4){
                     this.$cookie.set('user_level','TEACHER',  { expires: cookie_expires });
                }else{
                    this.$cookie.set('user_level','STUDENT',  { expires: cookie_expires });
                }
             
                window.location.replace('/activity?welcome=true');           
              
            }
        }).catch(function(response)
        {
            try{
                if(response.body.Username)
                {
                    this.errror.username = response.body.Username[0];
                    $("#username").focus();
                }
                else if(response.body.Password)
                {
                    this.errror.password = response.body.Password[0];
                    $("#password").focus();
                }else
                {
                    this.errror.username = response.body.Error;
                    $("#username").focus();
                }
            } catch(e){}

         this.$toasted.show("Incorrect username and/or password");
             
        }).finally(function(response){
               this.submitted = false;
        });
     
   
    }

}
  


}
</script>
<style scoped>
.ag-login-modal.ag-register-modal-container{
    left:0;
}
.ag-register-modal-container .aside-main{
    /*padding-left: 50px;*/
    width: 100%;
}
.reg-pop-up-header .fixer{
    width: 100%;
    margin: auto;
    padding: 0 5em;
}
@media (min-width: 768px) {
   .ag-register-modal-container .aside-main{
        /*padding-left: 80px;*/
        width: 60%;
        height: 77%;
        padding: 1em 2em;
    }
}

@media (max-width: 768px) {
    .reg-pop-up-header .fixer{
        padding: 0 3em;
    }
}

</style>
