<template>
<div  class="ag-register-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-6 offset-md-3">
            <div class="register_modal tp-2em">
                <div class="" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>Register</h1>
                    <h4>Please fill in your details</h4>
                    <div class="form_rmodal" >
                        <div class="form-group">
                            <input v-model="input.Username" type="text" 
                                    class="form-control" 
                                    :class="{'is-invalid' : (!HasValue(input.Username) || HasErrorBool(errors.Username)) } "
                                    id="username-reg" data-toggle="tooltip" data-placement="top" 
                                    :data-original-title="errors.Username" 
                                    placeholder="USERNAME" autocomplete="off"> 
                        </div>
                        <div class="form-group">
                            <input v-model="input.EmailAddress" type="text" 
                                    class="form-control"
                                    :class="{'is-invalid' : (!HasValue(input.EmailAddress) || HasErrorBool(errors.EmailAddress)) }" 
                                    id="email-reg" data-toggle="tooltip"  data-placement="top" 
                                    :data-original-title="errors.EmailAddress"  
                                    placeholder="EMAIL ADDRESS" autocomplete="off"> 
                        </div>
                        <div class="form-group">
                            <input v-model="input.Password" type="password"
                                    class="form-control" 
                                    :class="{'is-invalid' : (!HasValue(input.Password) || HasErrorBool(errors.Password))}" 
                                    id="password-reg" data-toggle="tooltip" data-placement="top" 
                                    :data-original-title="errors.Password"  placeholder="PASSWORD" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input v-model="input.ConfirmPassword" type="password" 
                                    class="form-control" 
                                    :class="{'is-invalid' :  (!HasValue(input.ConfirmPassword) || HasErrorBool(errors.ConfirmPassword)) }" 
                                    id="confirmpassword" data-toggle="tooltip" data-placement="top" 
                                    :data-original-title="errors.ConfirmPassword"  
                                    placeholder="CONFIRM PASSWORD" autocomplete="off">
                        </div>
   
                       <div class="form-group btn-holder">
                            <button class="btn btn-lg btn-main-2 btn-primary sign-up" @click="submit">  <!-- <button class="pop-up-login-btn" @click="submit"> -->
                                <span v-if="!submitted"> Sign Up </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>

                        <div class="form-group btn-holder">
                            <img @click="testfb()"  class="fb_login curs-pointer" src="../../../assets/images/staticimage/icons/btnloginfb.png"/>
                            <gmail-login @done="onGmailSignIn"></gmail-login>
                            <div class="clearing"></div>
                       </div>                       

                    </div>
                    <div class=""><!-- pop-up-login-btn -->
                        Already a Member? <a href="#" class="pop-up-yellow-signup pop-up-yellow-signup2 popup_login_modal">Log in.</a>
                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <p class="register-thankyou">Thank you for your registration with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p><!-- ../../../assets/images/agora-logo-white.png -->
                    <p>A verification link has been sent to your email to proceed.</p>
                    <button type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <span class="ag-modal-close ag-modal-close-3 fa fa-times"></span>
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newMemberEnroll} from '../../../api/member/member.js'
import {bus} from '../../../main.js'
import {newFBRegister, newGoogleRegister} from '../../../api/member/member.js'
import GmailLogin from './GmailLogin'
export default {

name: 'Register1Modal',
components: {PulseLoader, GmailLogin},
data () {
    return {
        isSuccess : false,
        submitted:false,
        input:
        {
            Username:'',
            EmailAddress:'',
            Password:'',
            ConfirmPassword:'',
            SelectedPlan : null
        },
        errors:
        {
            Username:null,
            EmailAddress:null,
            Password:null,
            ConfirmPassword:null
        },
        fb_register:{
            FBUserID:null,
            EmailAddress :null,
            FirstName:null,
            LastName:null,
            Birthday:null,
            Gender:null
        },
        google_register:{
            GmailUserID:null,
            EmailAddress :null,
            FirstName:null,
            LastName:null,
            Birthday:null,
            Gender:null 
        }        
    }   
},
created(){
    bus.$on("getSeleectedMembership",(payload)=>{
       if(payload == 'free' || payload == 'monthly' || payload == 'yearly' ){
           this.input.SelectedPlan = payload;
       }
      
    }); 
},
methods:
{
    submit()
    {

        if(!this.HasValue(this.input.Username) || !this.HasValue(this.input.EmailAddress) ||  
        !this.HasValue(this.input.Password) || !this.HasValue(this.input.ConfirmPassword )){
            this.$toasted.error("Please check again");
            return;
        }

        let isValid = true;
        var specialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        if(!isNaN(this.input.FirstName) || /\d/.test(this.input.FirstName) 
        || specialChar.test(this.input.FirstName) ){
                this.errors.FirstName = ["Invalid first name"];
                this.$toasted.error("Invalid user name");
                isValid = false;
        }else{
                this.errors.FirstName = [];
        }

        if(!isNaN(this.input.LastName) || /\d/.test(this.input.LastName) 
        || specialChar.test(this.input.LastName) ){
                this.errors.LastName = ["Invalid last name"];
                this.$toasted.error("Invalid last name");
                isValid = false;
        }else{
                this.errors.LastName = [];
        }

             
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(re.test(this.input.EmailAddress) == false){
            this.errors.EmailAddress = ["Invalid Email Address"];
            this.$toasted.error("Invalid Email Addres");
            isValid = false;
        }else{
                this.errors.EmailAddress = [];
        }

        if(!isValid){
            return;
        }

        


        this.submitted = true;
        newMemberEnroll(this.input).then((response)=>{
            if(response.status == 200)
            {
                this.isSuccess = true;
            }

        }).catch((response) => {
            try{

               if(response.body.ExistenceError){
                 
                    if(response.body.ExistenceError.Username){
                        this.errors.Username = response.body.ExistenceError.Username;
                        this.$toasted.error("Username is already taken");
                        return;
                    }
                    if(response.body.ExistenceError.EmailAddress){
                        this.errors.EmailAddress = response.body.ExistenceError.EmailAddress;
                        this.$toasted.error("Email is already registered");
                        return;
                    }                    

                }
                
                
                if(response.body.Errors){
                    if(response.body.Errors.Username)
                    {
                        this.errors.Username = response.body.Errors.Username;
                        let message = response.body.Errors.Username[0];
                        // if(message.includes("must validate against")){
                        //     message = "Username should contains only alphabet, numbers and underscores";
                        // }                        
                        this.$toasted.error("Invalid username");
                        return;
                    }else{
                         this.errors.Username = [];
                    }

                    if(response.body.Errors.EmailAddress)
                    {
                        this.errors.EmailAddress = response.body.Errors.EmailAddress;
                        this.$toasted.error("Invalid email address");
                        return;
                    }else{
                        this.errors.EmailAddress = [];
                    }

                    if(response.body.Errors.Password)
                    {
                        this.errors.Password = response.body.Errors.Password;
                        this.$toasted.error(response.body.Errors.Password[0]);
                        return;
                    }else{
                        this.errors.Password = [];
                    }
                    if(response.body.Errors.ConfirmPassword)
                    {   
                        this.errors.ConfirmPassword = response.body.Errors.ConfirmPassword;
                        let message = response.body.Errors.ConfirmPassword[0];

                        if(message.includes("must be equals")){
                            message = "Passwords do not match";
                        }
                        
                        this.$toasted.error( message);
                        return;

                    }else{
                        this.errors.ConfirmPassword = [];
                    }   
                }

                // this.$toasted.show("Sorry. Please Check inputted Information");
            } catch(e){
                if(response.status ==400){
                    this.$toasted.show("Ooops. Something went wrong at our end");
                }
            }
        }).finally((response)=> {
            this.submitted = false;
        });
          
    },
    onGmailSignIn:function(googleUser){
        let access_token = googleUser.Zi.access_token;
        var profile = googleUser.getBasicProfile();
        this.google_register.GmailUserID = profile.getId();
        this.google_register.EmailAddress = profile.getEmail();
        this.google_register.FirstName = profile.getGivenName();
        this.google_register.LastName = profile.getFamilyName();
        this.ExecuteGoogleSocialRegister();
    },
    ExecuteGoogleSocialRegister(){
        newGoogleRegister(this.google_register).then((response)=>{
            if(response.status == 200)
            {
                let cookie_expires = '';
                if(this.input.rememberme){
                    cookie_expires = '3D';
                }
                this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: cookie_expires });
                this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: cookie_expires });
                this.$cookie.set('is_valid_user',response.body.UserValid,  { expires: cookie_expires });
                this.$store.commit("commitIsValidUser", response.body.UserValid);
                if(response.body.UserLevel == 4){
                     this.$cookie.set('user_level','TEACHER',  { expires: cookie_expires });
                }else{
                    this.$cookie.set('user_level','STUDENT',  { expires: cookie_expires });
                }
                if(response.body.UserLevel > 0){
                    window.location.replace('/activity?welcome=true');  
                }else{
                    window.location.replace('/membership_payment');
                }
              
            }
        }).catch((response)=>{
            console.log(response);
        })
    },     
    testfb:function(){
        FB.getLoginStatus((response)=> {
            this.statusChangeCallback(response);
        });        
    },
    statusChangeCallback(response){
        // console.log("---FBLOGIN STATUS---");
        // console.log(response);
        // console.log("---FBLOGIN STATUS---");
        if(response.status == 'not_authorized' || response.status == 'unknown' ){
            //prompt log in         
            FB.login((response2)=> {
            //    console.log('Welcome!  Fetching your information.... ');
                this.GetFBDetailsForRegister();
            }, {scope: 'public_profile,email, user_birthday, user_gender, user_age_range'});

        
        }else{
            //log out
                FB.logout((response) =>{
                console.log("user is logged out");
                });            
        }
        console.log("---");
    },

    GetFBDetailsForRegister(){
        FB.api('/me','GET', { fields: 'id,name,email,first_name,last_name,gender,birthday' }, (user_response)=> {
        // console.log('Good to see you, ' + user_response.name + '.');
            // console.log(user_response);
            this.fb_register.FBUserID = user_response.id;
            this.fb_register.EmailAddress = user_response.email;
            this.fb_register.FirstName = user_response.first_name;
            this.fb_register.LastName = user_response.last_name;
            this.fb_register.Birthday = user_response.birthday;
            this.fb_register.Gender = (user_response.gender == 'male')  ? 1 : 2;
            this.ExecuteSocialRegister();
        });   
    },    
    ExecuteSocialRegister(){
        newFBRegister(this.fb_register).then((response)=>{
            if(response.status == 200)
            {
                let cookie_expires = '';
                if(this.input.rememberme){
                    cookie_expires = '3D';
                }
                this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: cookie_expires });
                this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: cookie_expires });
                this.$cookie.set('is_valid_user',response.body.UserValid,  { expires: cookie_expires });
                this.$store.commit("commitIsValidUser", response.body.UserValid);
                if(response.body.UserLevel == 4){
                     this.$cookie.set('user_level','TEACHER',  { expires: cookie_expires });
                }else{
                    this.$cookie.set('user_level','STUDENT',  { expires: cookie_expires });
                }
             
                if(response.body.UserLevel > 0){
                    window.location.replace('/activity?welcome=true');  
                }else{
                    window.location.replace('/membership_payment');
                }       
              
            }
        }).catch((response)=>{
            alert("AND ERROR HAS OCCURRED");
            console.log(response);
        })
    }, 
}
  


}
</script>

<style scoped>
.ag-register-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 95px;
}
.fb_login {
    float:left;
}
.gmail_login{
    float:right
}


</style>
