<template>
<div class="reset_password_page ag-change-pass-modal ag-register-modal-container white-modal-container">
    <div class="inner-container">
        <div class="col-md-6 offset-md-3">
            <div class="register_modal">
                <div class="" v-if="!isSuccess">
                    <img class="banner-img" src="../../../assets/images/staticimage/logo-colored.png"/>
                    <h1>Reset Your Password</h1>
                    <h4>Please fill in your details</h4>
                    <div class="form_rmodal" >

                        <div class="form-group">
                            <input v-model="input.ConfirmationCode" type="password" 
                            class="form-control margin-bot-5" 
                            :class="{'is-invalid' : (!HasValue(input.ConfirmationCode) || HasErrorBool(errors.ConfirmationCode)) } " 
                            placeholder="CONFIRMATION CODE" autocomplete="off">

                            <input v-model="input.NewPassword" type="password" 
                            class="form-control margin-bot-5" 
                            :class="{'is-invalid' : (!HasValue(input.NewPassword) || HasErrorBool(errors.NewPassword)) }"
                            placeholder="NEW PASSWORD" autocomplete="off">

                            <input v-model="input.ConfirmPassword" type="password" 
                            class="form-control " 
                            :class="{'is-invalid' : (!HasValue(input.ConfirmPassword) || HasErrorBool(errors.ConfirmPassword)) }"
                            placeholder="CONFIRM NEW PASSWORD" autocomplete="off"> 
                        </div>
                       <div class="form-group btn-holder">
                            <button :disabled="DisableSubmit()" class="btn btn-lg btn-main-2 btn-primary sign-up" @click="submit">  <!-- <button class="pop-up-login-btn" @click="submit"> -->
                                <span v-if="!submitted"> Submit </span>
                                <pulse-loader v-else></pulse-loader>
                            </button>
                            <button @click="Close()" type="button" class="btn btn-lg btn-danger ag-modal-close-2"><span> Cancel </span></button>
                       </div>

                        <div class=""><!-- pop-up-login-btn -->
                            <!-- Already a Member? <a href="#" class="pop-up-yellow-signup pop-up-yellow-signup2 popup_login_modal">Log in.</a> -->
                        </div>
                    </div>
                </div>
                
                <div v-else class="text-center verification">
                    <!-- <p class="register-thankyou">Thank you for your inquiry with  &nbsp; <img src="../../../assets/images/staticimage/logo-colored.png" alt="The Agora School"> </p> -->
                    <p>Your password has been successfully updated.</p>
                    <button @click="Close()" type="button" class="btn btn-lg btn-danger"><span> Close </span></button>
                </div>
            </div>
        </div>

        <div class="clearing"></div>       
    </div>
    <!-- <span class="ag-modal-close ag-modal-close-3 ag-modal-close-2 fa fa-times"></span> -->
</div>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {resetPassword} from '../../../api/member/member.js'
export default {

name: 'ForgotPassword',
components: {PulseLoader},
data () {
    return {
        isSuccess : false,
        submitted:false,
        input:
        {
            ResetTicket : null,
            ConfirmationCode:null,
            NewPassword:null,
            ConfirmPassword:null
        },
        errors:
        {
            ResetTicket : null,
            OldPassword:[],
            NewPassword:[],
            ConfirmPassword:[]
        }
    }   
},
mounted(){
    if(!this.HasValue(this.$route.query.reset_ticket)){
        this.$router.push({ name: 'Index'  });
        return;
    }else{
        this.input.ResetTicket = this.$route.query.reset_ticket;
    }

},
methods:
{
    submit()
    {
        this.submitted = true;
        resetPassword(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSuccess = true;
        }).catch((response)=>{

            if(response.body.Errors.Member){
                  this.$toasted.error("Incorrect confirmation code");

                  this.errors.ConfirmationCode = response.body.Errors.Member;
                  return;
            }else{
                this.errors.ConfirmationCode = [];
            }
            
            if(response.body.Errors.ConfirmationCode){
                 this.$toasted.error("Incorrect confirmation code");
                  this.errors.ConfirmationCode = response.body.Errors.ConfirmationCode;
                    // this.$toasted.error( response.body.Errors.ConfirmationCode[0].replace("ConfirmationCode", "Confirmation Code"));
                  return;
            }else{
                this.errors.ConfirmationCode = [];
            }
            
            if(response.body.Errors.NewPassword){
                  this.$toasted.error("Invalid password");
                  this.errors.NewPassword = response.body.Errors.NewPassword;
                  return;
            }else{
                this.errors.NewPassword = [];
            }

            if(response.body.Errors.ConfirmPassword){
                  this.$toasted.error("Passwords do not match");
                  this.errors.ConfirmPassword =  response.body.Errors.ConfirmPassword;
                  return;
            }else{
                this.errors.ConfirmPassword = [];
            }                        
        }).finally(()=>{
            this.submitted = false;
        })
    },
    DisableSubmit(){
        if(this.input.ConfirmationCode == null || this.input.NewPassword == null || this.input.ConfirmPassword == null ){
            return true;
        }
        if(this.input.ConfirmationCode.trim() == '' || this.input.NewPassword.trim() == '' || this.input.ConfirmPassword.trim() == '' ){
            return true;
        }        
        return false;
    },
    Close(){
        this.$router.push({ name: 'Index'  });
    }

}
  


}
</script>

<style scoped>
.reset_password_page{
    display: block;
}
.ag-change-pass-modal.ag-register-modal-container{
    left:0;
}
.register-thankyou{
    margin-top: 95px;
}
</style>
