<template>
<div>

<h3>Question Banks</h3>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <router-link :to="{ name: 'QuestionBank' }" class="nav-link" :class="CheckActive(1)" id="pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="pills-home" aria-selected="false">
        Dashboard
    </router-link>
  </li>
  <li class="nav-item" >
    <router-link :to="{ name: 'QuestionBankList' }" class="nav-link" :class="CheckActive(2)" id="pills-question-bank-list" data-toggle="pill" role="tab" aria-controls="pills-List" aria-selected="false">
        Question Banks
    </router-link>
  </li>
  <li class="nav-item">
    <router-link :to="{ name: 'NewQuestionBank' }" class="nav-link" :class="CheckActive(3)" id="pills-new-qbank" data-toggle="pill" href="#" role="tab" aria-controls="pills-new-qbank" aria-selected="false">
        Add New  <span class="fa fa-plus"></span>
    </router-link>
  </li>  
</ul>

<br>

<transition name="fade" mode="out-in">
<router-view></router-view>
</transition>
</div>




</template>
<script>

export default {
  name:"QuestionBanks",
  methods:{
      CheckActive:function(e){
        let routeName = '';
        if(e == 1){
            routeName ='QuestionBank'
        }
        else if(e == 2){
            routeName ='QuestionBankList'
        }else if(e == 3){
            routeName ='NewQuestionBank'
        }
        if(routeName == '') return false;

        return{
            active: this.$route.name == routeName
        }
        
      }
  }
}
</script>

<style scoped>
.nav-pills .nav-link{
    color:#036564;

}
.nav-pills .nav-link.active
{
    background-color: #036564;
    color:white;
}
</style>

