<template>
<!-- Edit assignment -->
<div>
<div class="row header-row">
    <div v-if="isLoading" class="loader" ></div>

    <div v-if="!isLoading && Detail != null" class="col-md-4 aside-image aside-image2">
                <div class="float-right exam-pic">
                    <span @click="OpenUploader()" v-if="isEditing" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                    <input @change="UploadAssignCover()" ref="update_assign_cover" type="file" id="changeAssignPhoto" accept="image/*" />
                </div>
                <img v-if="input.CoverPhoto != '' && input.CoverPhoto != null" 
                :src="this.GetImageURL() + input.CoverPhoto"
                id="upd_assignment_cover">
                <div v-else class="noImg">
                    <span> {{Detail.assignment_title.charAt(0)}}</span>
                </div>        
           <!-- <div class="noImg">
                <span> {{Detail.assignment_title.charAt(0)}}</span>
            </div> -->
    </div>
    <div v-if="!isLoading && Detail != null" class="col-md-8 main-description">
        <!-- <h6>{{Detail.date_added}}</h6>  -->
        <h1><span>{{Detail.assignment_title}} </span></h1>

        <div class="form-group row">
            <div class="col-sm-12">
                    <div class="table-ul-con">
                        <table class="table-ul">
                            <!-- <tr>
                                <td class="title">Category</td>
                                <td>{{GetCategoryName(Detail.category_id)}}</td>
                            </tr>     
                            <tr>
                                <td class="title">Section</td>
                                <td>{{Detail.section_title}}</td>
                            </tr>     --> 
                            <tr>
                                <td class="title">Created On</td>
                                <td>{{ToDate(Detail.date_added)}}</td>
                            </tr>

                            <tr>
                                <td class="title">Available From</td>
                                <td v-if="!isEditing">{{ToDate(Detail.available_from)}}</td>
                                <td v-else>
                                    <input id="t_ed_assign_avail_from"  :value="input.AvailableFrom"  :class="HasError(this.errors.AvailableFrom, isInitialLoad)" type="text"  class="form-control agora_date_picker_assign">
                                    <div v-if="this.errors.AvailableFrom.length > 0" class="invalid-feedback">
                                        {{this.errors.AvailableFrom[0].replace("AvailableFrom", "Available From")}}
                                    </div>    
                                </td>
                            </tr>           
                            <tr>
                                <td class="title">Available To</td>
                                <td v-if="!isEditing">{{ToDate(Detail.available_to)}}</td>
                                <td v-else>
                                    <input  id="t_ed_assign_avail_to"  :value="input.AvailableTo" :class="HasError(this.errors.AvailableTo, isInitialLoad)" type="text"  class="form-control agora_date_picker_assign">
                                    <div  v-if="this.errors.AvailableTo.length > 0" class="invalid-feedback">
                                        {{this.errors.AvailableTo[0].replace("AvailableTo", "Available Until")}}
                                    </div>                                       
                                </td>
                            </tr>                              
                            <tr>
                                <td class="title">Assignment Type</td>
                                <td v-if="Detail.type_id == 1">Audio</td>
                                <td v-if="Detail.type_id == 2">MCQ</td>
                                <td v-if="Detail.type_id == 3">Essay </td>
                                <td v-if="Detail.type_id == 4">File Upload</td>
                            </tr>
                            <tr>
                                <td class="title">Linked Lesson</td>
                                <td>{{GetCategoryName(Detail.category_id)}} / {{Detail.section_title}} / {{Detail.level_title}} / {{Detail.title}}</td>
                            </tr>                               
                            <tr>
                                <td class="title">Points</td>
                                <td v-if="!isEditing">{{Detail.points}}</td>
                                <td v-else>
                                    <input v-model="input.Points" :class="HasError(this.errors.Points, isInitialLoad)" type="number"  class="form-control">
                                    <div class="invalid-feedback">
                                        {{this.errors.Points[0]}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Passing Grade</td>
                                <td v-if="!isEditing" class="color-pass-1 semi-bold">{{Detail.passing_rate}}</td>
                                <td v-else>
                                    <input v-model="input.PassingRate" :class="HasError(this.errors.PassingRate, isInitialLoad)" type="number"  class="form-control">
                                    <div v-if="this.errors.PassingRate.length > 0" class="invalid-feedback">
                                        {{this.errors.PassingRate[0].replace("PassingRate", "Passing Grade")}}
                                    </div>                                       
                                </td>
                            </tr>
                                                     
                        </table>
                    </div>

            </div>
        </div> 
        <div class="controls">
            <button type="button" class="btn edit" @click="ToggleEdit()">{{EditButton}}</button> 
            <button v-if="!isEditing" type="button" class="btn delete popup_are_you_sure">Delete</button>
            <button v-else @click="CancelEdit()" type="button" class="btn delete">Cancel</button>
        </div>
    </div>
</div>
<div class="row control-row">
    <ul>
        <li @click="tab = 'assignment_ques'" :class="{ active: tab === 'assignment_ques' }">Assignment Questions</li>
        <li @click="tab = 'assignment_ans'" :class="{ active: tab === 'assignment_ans' }">Answers</li>
    </ul>
    <div class="clearing"></div>
</div>

<div class="row" v-if="!isLoading &&this.tab=='assignment_ques'">
    <div v-if="Detail != null" class="col-12">
        <div class="content">
          
          <span v-if="!isEditing">
          {{Detail.description}} 
          <br> 
          </span>
          <div v-else>
            <textarea v-model="input.Description" :class="HasError(errors.Description, isInitialLoad)" class="form-control"></textarea>
            <div class="invalid-feedback">
                {{errors.Description[0]}}
            </div>              
          </div>
        
        </div> 


        <!-- AUDIO TYPE -->
        <div class="content" v-if="Detail.type_id == 1" >
            <!-- {{Detail.attachment_file}} -->
            <audio v-if="HasValue(Detail.attachment_file) && !isEditing" controls controlsList="nodownload">
                <source :src="this.GetAudioURL() + Detail.attachment_file"  >
            </audio>            

               <div v-else-if="isEditing" class="input-group form-control">
                    <div class="form-group row form-group2">
                        <label for="staticEmail" class="col-sm-12 col-form-label">Audio File </label>
                    </div>        

                    <div class="col-sm-8">
                        <div class="input-group form-control assign-bg mg-l15">
                            <div class="custom-file">
                                <input @change="UploadAssignmentFile(1)"  :class="HasError(this.errors.FileAttachment, isInitialLoad)"  ref="assign_audio_attach_file" accept=".mp3" type="file" class="custom-file-input curs-pointer" id="assignment_audio">
                                <label class="custom-file-label curs-pointer nowrap" for="assignment_audio">   {{UploadingFileName}}</label>
                            </div>
                            <div v-if="isUploading" class="input-group-append">
                                <span class="input-group-text">
                                    <sync-loader v-if="isUploading"></sync-loader> 
                                </span>
                            </div>
                            <div v-if="errors.FileAttachment.length > 0" class="invalid-feedback disp-block">
                                {{errors.FileAttachment[0]}}
                            </div>                          
                        </div>
                    </div>                                 
                            
                </div>            

            
        </div>
        <!-- OTHER FILES -->
        <div class="content" v-else-if="Detail.type_id == 4">
            <div v-if="!isEditing && HasValue(Detail.attachment_file)">
            {{Detail.attachment_file}}
            <a target="_blank" :href="this.GetOthersURL() +Detail.attachment_file " download class="btn btn-sm btn-primary btn-main-2" >DOWNLOAD</a>        
            </div>

               <div v-else-if="isEditing" class="input-group form-control">
                    <div class="form-group row form-group2">
                        <label for="staticEmail" class="col-sm-12 col-form-label">File </label>
                    </div>        

                    <div class="col-sm-8">
                        <div class="input-group form-control assign-bg mg-l15">
                            <div class="custom-file">
                                <input @change="UploadAssignmentFile(4)"  :class="HasError(this.errors.FileAttachment, isInitialLoad)"  ref="assign_attach_file" accept=".docx, .pdf, .txt" type="file" class="custom-file-input curs-pointer" id="assignment_audio">
                                <label class="custom-file-label curs-pointer nowrap" for="assignment_audio">   {{UploadingFileName}}</label>
                            </div>
                            <div v-if="isUploading" class="input-group-append">
                                <span class="input-group-text">
                                    <sync-loader v-if="isUploading"></sync-loader> 
                                </span>
                            </div>
                            <div v-if="errors.FileAttachment.length > 0" class="invalid-feedback disp-block">
                                {{errors.FileAttachment[0]}}
                            </div>                          
                        </div>
                    </div>                                 
                            
                </div>   


        </div>
        
        <!-- MCQ Question Bank -->
        <div class="content" v-if="Detail.type_id == 2" >
            <div class="col">
                    <div v-if="!isEditing" class="form-group row form-group2">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Question Bank</label>
                        <div class="col-sm-7">
                            <label for="staticEmail" class=" col-form-label">{{GetQuestionBankTitle}}</label>
                        </div>
                    </div>                        

                    <div v-else class="form-group row form-group2">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Question Bank</label>
                        <div class="col-sm-7">
                            <select v-model="input.QuestionBank" :class="HasError(this.errors.QuestionBank)"  class="input-group form-control  assign-bg mg-l15">
                                <option value="0">Select Question Bank</option>
                                <option v-for="item in QuestionBankList" 
                                :value="item.question_bank_id" :key="item.question_bank_id" >{{item.question_bank_title}}</option>
                            </select>                 
                            <div v-if="this.errors.QuestionBank.length > 0"  class="invalid-feedback margin-left-15">
                                {{errors.QuestionBank[0].replace("QuestionBank", "Question Bank")}}
                            </div>
                        </div>
                    </div>   
            
            </div>       
        </div>

    </div>
</div>

<div  class="row add-section-row" :class="{ 'disp-none' : this.tab!='assignment_ans'}">
    <div class="table-responsive">
        <table v-if="HasValue(Detail)" class="table table-hover table-banks-list">
            <thead class="">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student's Name</th>
                    <th scope="col">Type</th>
                    <th v-if="Detail.type_id == 4 || Detail.type_id == 1 " scope="col">File</th>
                    <th scope="col">Date Submitted</th>
                    <th scope="col">Score</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in Submissions" :key="'submissions_'+index">
                    <td>{{ PagerNumberingStart  + (index + 1)}}</td>
                    <td>{{item.lname}} , {{item.fname}}</td>
                    <td>
                        <span v-if="item.type == 1">Audio</span>
                        <span v-else-if="item.type == 2">Multiple Choice Question</span>
                        <span v-else-if="item.type == 3">Essay</span>
                        <span v-else-if="item.type == 4">File Upload</span>
                    </td>
                    <td v-if="Detail.type_id == 4 || Detail.type_id == 1 ">
                        {{item.answer_attachment}}
                    </td>
                    <td>{{ToDate(item.date_added)}}</td>
                    <td>
                        <span v-if="item.status==2">PENDING</span>
                        <span v-else-if="HasValue(item.score)">
                            {{item.score}} / {{Detail.points}}

                        </span>
                    </td>
                    <td>
                        <button @click="GotoViewAssignment(item.user_id, item.assignment_id, item.assign_sumission_id)" type="button" class="table-btn-ag btn-sm btn-main-2 btn-primary">View</button>
                        <button disabled type="button" class="table-btn-ag btn-sm btn-main-dnger-1 btn-danger popup_are_you_sure_two">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <nav class="pager_navigation" aria-label="Lists">
        <ul class="pagination justify-content-center">
            <!-- <li class="page-item disabled"> -->
            <li class="page-item">
            <a v-if="this.PageOffset - 1 > 0" @click.prevent="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

            <li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)" :key="n">
            <a @click.prevent="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
            </li>

            <li class="page-item">
            <a v-if="this.PageOffset + 1 <= this.PageCount" @click.prevent="PagerNextPage()" class="page-link" href="#">Next</a>
            </li>
        </ul>
        </nav> 
</div>  

<are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteAssignment"></are-you-sure>

</div>
<!-- Edit assignment -->    
</template>
<script>
import {getAssignmentDetail, deleteAssignment, getItemsforAssignment, editAssignment, getAssignmentSubmissions} from '../../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../../api/teacher/question_bank.js'
import {uploadFile} from '../../../../..//api/common/file_upload.js'
import AreYouSure from '../../../../subcomponents/modal/AreYouSureModal'
import {bus} from '../../../../../main.js'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
export default {
    name:'EditAssignment',
    components:{AreYouSure, SyncLoader},
    data(){
        return{
            isInitialLoad:true,
            isEditing:false,
            isLoading:false,
            AssignmentID:null,
            Detail:null,
            Submissions:[],
            tab:'assignment_ques',
            DeleteDialogMessage:"Are you sure you want to delete this Assignment?",
            EditButton:null,
            QuestionBankList:[],
            editTexts:{
                normal : 'Edit',
                save : 'Save Changes'
            },            
            input:{
                AssignmentID:null,
                Category:'',
                Type:null,
                QuestionBank:null,
                Item:null,
                Title:null,
                Description:null,
                AvailableFrom:null,
                AvailableTo:null,
                Points:null,
                DueDate:null,
                NoOfQuestions:null,
                PassingRate:null,
                FileAttachment:null,
                CoverPhoto:''
            },
            errors:{
                Category:[],
                Type:[],
                QuestionBank:[], 
                Item:[],
                Title:[],
                Description:[],
                AvailableFrom:[],
                AvailableTo:[],
                Points:[],
                DueDate:[],  
                NoOfQuestions:[],
                PassingRate:[]    ,
                FileAttachment:[],
                CoverPhoto:[],
            },
            isUploading:false,
            UploadingFileName:null  ,
            
            PageLimit : 10,// 5 student per page only
            PageOffset: 1,
            PageCount:0,    
            uploadFiles:{
                CoverPhoto:'Choose Image',
                CourseCoverUploading:false
            },       
            AllowedAudioType: ["mp3","wav"]                
        }
    }, 
    computed:{
      PagerNumberingStart:function(){
            if(this.PageOffset == 1){
                return 0;
            }
            else{
                return (this.PageOffset - 1) * 10;
            }
        },
      GetQuestionBankTitle:function(){

            let bank = this.QuestionBankList.filter((item, index)=>{
                return item.question_bank_id == this.input.QuestionBank;
            })           
            var _bank = bank[0];
            if(_bank){
                return _bank.question_bank_title;
            } 
            return '';
      }  
    },
    beforeRouteUpdate(to,from, next){
        this.AssignmentID = to.params.assign_id;
     
        this.GetDetail();
        this.GetSubmissions();
        this.EditButton = this.editTexts.normal;
        this.isEditing = false;  
        next();
    },    
    created(){
        this.AssignmentID = this.$route.params.assign_id;
        this.GetDetail();
        this.GetSubmissions();
        this.EditButton = this.editTexts.normal;
        this.isEditing = false;  
    }, 
    methods:{
        GetItems:function(){
            getItemsforAssignment(this.GetSessionHeaders(), this.input.Category).then((response)=>{
                this.Items = response.body.Items;
            });
        },

        CategoryName:function(category_id){
            var category = this.$store.state.categories.filter((item)=>{
                return item.category_id === category_id; 
            })
            return category[0].category_title;
        },
        ResetInput:function(){



            this.errors.Category = [];
            this.errors.Type = [];
            this.errors.QuestionBank = [];
            this.errors.Item = [];
            this.errors.Title = [];
            this.errors.Description = [];
            this.errors.AvailableFrom = [];
            this.errors.AvailableTo = [];
            this.errors.Points = [];
            this.errors.DueDate = [];
            this.errors.NoOfQuestions = [];
            this.errors.PassingRate = [];
            this.errors.FileAttachment = [];
            this.errors.CoverPhoto = [];
        },     
        GetDetail:function(){
            this.isLoading = true;
             
            this.input.Category = '';
            this.input.Type = null;
            this.input.QuestionBank = null;
            this.input.Item = null;
            this.input.Title = null;
            this.input.Description = null;
            this.input.AvailableFrom = null;
            this.input.AvailableTo = null;
            this.input.Points = null;
            this.input.DueDate = null;
            this.input.NoOfQuestions = null;
            this.input.PassingRate = null;
            this.input.FileAttachment = null;
            this.input.CoverPhoto = '';
            this.Detail = null;
            getAssignmentDetail(this.GetSessionHeaders(), this.AssignmentID).then((response)=>{
                this.Detail = response.body.Assignment;
                this.input.AssignmentID = this.Detail.assignment_id;
                this.input.Category = this.Detail.category_id;
                this.input.Type = this.Detail.type_id;
                this.input.QuestionBank = this.Detail.question_bank_id;
                this.input.Item = this.Detail.section_item_id;
                this.input.Title = this.Detail.assignment_title;       
                this.input.Description = this.Detail.description; 
                this.input.AvailableFrom = this.Detail.available_from;  
                this.input.AvailableTo = this.Detail.available_to;  
                this.input.DueDate = this.Detail.due_date;  
                this.input.Points = this.Detail.points;  
                this.input.NoOfQuestions = this.Detail.no_of_questions;  
                this.input.PassingRate = this.Detail.passing_rate;  
                this.input.FileAttachment = this.Detail.attachment_file;  
                this.UploadingFileName = this.input.FileAttachment;

                this.GetQuestionBanks();
                                                                     
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        EditAssignment:function(){

            // if(this.input.Type == null){
            //     this.$toasted.error('Please Select an assignment type');
            //     return;
            // }
            // if(parseInt(this.input.PassingRate) > parseInt(this.input.Points)){
            //     this.$toasted.error('Passing rate should not be greater than Points');
            //     return;
            // }

            // this.input.DueDate =  document.getElementById('t_ed_assign_due_date').value;
            this.input.AvailableFrom = document.getElementById('t_ed_assign_avail_from').value; 
            this.input.AvailableTo = document.getElementById('t_ed_assign_avail_to').value; 

            // if(this.input.AvailableFrom && this.input.AvailableTo){
            //     var afromdate = new Date(this.input.AvailableFrom);
            //     var atodate = new Date(this.input.AvailableTo);
            //     if(afromdate > atodate){
            //         this.$toasted.error('Available to should be greater than Available from');
            //         return;
            //     }
            // }
            this.isLoading = true;
            this.isInitialLoad = false;
            editAssignment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isEditing = false;
                this.EditButton = this.editTexts.normal;
                this.GetDetail();
                if(response.status == 200){
                    bus.$emit('reloadAssignmentList');
                }
                this.$toasted.success('Assignment has been successfully updated!');
                
            }).catch((response)=>{
                try{
                    if(response.body.Errors.Category){
                        this.errors.Category = response.body.Errors.Category;
                    }else{
                        this.errors.Category = [];
                    }   

                    if(response.body.Errors.Item){
                        this.errors.Item = response.body.Errors.Item;
                    }else{
                        this.errors.Item = [];
                    }                        
                                        
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                        this.errors.Title = [];
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                        this.errors.Description = [];
                    }
                    
                    if(response.body.Errors.QuestionBank){
                        this.errors.QuestionBank = response.body.Errors.QuestionBank;
                    }else{
                        this.errors.QuestionBank = [];
                    } 

                    if(response.body.Errors.NoOfQuestions){
                        this.errors.NoOfQuestions = response.body.Errors.NoOfQuestions;
                    }else{
                        this.errors.NoOfQuestions = [];
                    }        
                    
                    if(response.body.Errors.PassingRate){
                        this.errors.PassingRate = response.body.Errors.PassingRate;
                    } else{
                        this.errors.PassingRate = [];
                    }                         

                    if(response.body.Errors.AvailableFrom){
                        this.errors.AvailableFrom = response.body.Errors.AvailableFrom;
                    }else{
                        this.errors.AvailableFrom = [];
                    }   

                    if(response.body.Errors.AvailableTo){
                        this.errors.AvailableTo = response.body.Errors.AvailableTo;
                    }else{
                         this.errors.AvailableTo = [];
                    }    
                    
                    if(response.body.Errors.DueDate){
                        this.errors.DueDate = response.body.Errors.DueDate;
                    }else{
                        this.errors.DueDate = [];
                    }            
                    
                    if(response.body.Errors.FileAttachment){
                        this.errors.FileAttachment = response.body.Errors.FileAttachment;
                    } else{
                         this.errors.FileAttachment = [];
                    }      
                    
                    if(response.body.Errors.Points){
                        this.errors.Points = response.body.Errors.Points;
                    }else{
                         this.errors.Points = [];
                    }  
                    
                    

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }  
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        DeleteAssignment(){
            deleteAssignment(this.GetSessionHeaders(), this.AssignmentID).then((response)=>{
                bus.$emit('reloadAssignmentList');
                this.$toasted.success("Assignment was succesfully deleted!");
                this.$router.push({ name: 'TeacherAssignment' });
            });
        },
        GetSubmissions(){
            getAssignmentSubmissions(this.GetSessionHeaders(), this.AssignmentID, this.PageLimit, this.PageOffset).then((response)=>{
                this.Submissions  = response.body.Submissions;
                this.PageCount = Math.ceil(response.body.TotalCount / this.PageLimit);
            });
        },
        GotoViewAssignment(user_id, assign_id, submission_id){
            this.$router.push({ name: 'ViewAssignment', params:{user_id: user_id, assign_id: assign_id, submission_id : submission_id} });
        },


       ToggleEdit:function(){
            if(!this.isEditing){
                this.isEditing = true;
                this.EditButton = this.editTexts.save;
                this.ResetInput();
            }
            else{
                this.EditAssignment();
            }
       },
       CancelEdit:function(){
            this.isEditing = false;
            this.EditButton = this.editTexts.normal;
            this.GetDetail();
            this.ResetInput();
       },
        GetQuestionBanks:function(){
            if(this.input.Type != 2){
                return; //since 2 is for mcq we don't need to fecth banks here
            }
 

            getQuestionBanks(this.GetSessionHeaders(), 100,1, this.Detail.section_id, this.Detail.level_id).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },




        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetSubmissions();
        },
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },  
        OpenUploader:function(){
            document.getElementById('changeAssignPhoto').click();
        }, 
     UploadAssignCover:function(){
            let formData = new FormData();
            let media_file = this.$refs.update_assign_cover.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.uploadFiles.CourseCover = media_file.name;
            this.uploadFiles.CourseCoverUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.CoverPhoto = response.body.File.FileName;
                //do a preview in view after image has been uploaded
                var oFReader = new FileReader();
                oFReader.readAsDataURL(media_file);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("upd_assignment_cover").src = oFREvent.target.result;
                };                

            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at uploading your image");
            }).finally(()=>{
                this.uploadFiles.CourseCoverUploading = false;
            });
        },               
      UploadAssignmentFile:function(type){
            let formData = new FormData();
            let media_file = null;
            if(type == 1){ //audi
                media_file = this.$refs.assign_audio_attach_file.files[0];
                if(!this.AllowedAudioType.includes(this.GetFileExtension(media_file.name))){
                    this.$toasted.show("Audio file should be only mp3 or wav format");
                    return;
                }
            }else if(type == 4){
                media_file = this.$refs.assign_attach_file.files[0];
            }
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.UploadingFileName = media_file.name;
            this.isUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.FileAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isUploading = false;
            });

        },         
        

    }      
}
</script>

<style scoped>
.table-banks-list {
    font-size: 13px;
}
.table-banks-list thead th {
    background-color: #036564;
    border-color: #036564;
    color: #fff;
    vertical-align: middle;
}
.table-banks-list td, .table-banks-list th{
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
}
.pagination .page-item.active .page-link {
    background-color: #8CC152;
    border-color: #8CC152;
}
#changeAssignPhoto{
    display: none;
}

</style>