<template>
<!--  Add New Assignment Form -->
<div class="view-assign">
    <h4>Create a New Assignment</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row form-group2">
                <div class="col-sm-10">
                    <input v-model="input.Title" :class="HasError(this.errors.Title, intialLoad)" type="text" class="form-control" placeholder="Assignment Name">
                    <div class="invalid-feedback">
                        {{errors.Title[0]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row view-assign-br">
        <div class="col-md-6">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <select v-model="input.Category" @change="GetItems()" :class="HasError(this.errors.Category, intialLoad)" class="form-control assign-bg" >
                        <option selected value="">Choose Category...</option>
                        <option v-for="(item,index) in Categories" :key="'cate_'+ index" :value="item.category_id" >
                            {{item.category_title}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        {{this.errors.Category[0]}}
                    </div>
                </div>
            </div>

            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Section</label>
                <div class="col-sm-8">
                    <select v-model="input.CategorySection" @change="GetSectionLevels()" class="form-control assign-bg">
                        <option value="">Choose Section...</option>
                        <option v-for="(item, index) in Items" :key="'cate_sections_'+index" 
                        :value="item.category_section_id" :class="HasError(errors.Item,intialLoad)">
                            {{item.section_title}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        {{this.errors.Item[0]}}
                    </div>                    
                </div>
            </div> 

            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Level</label>
                <div class="col-sm-8">
                    <select v-model="input.Level" @change="GetLessons()" class="form-control assign-bg">
                        <option value="">Choose Level...</option>
                        <option v-for="(item, index) in Levels" :key="'cate_sections_level_'+index" 
                        :value="item.category_section_level_id" :class="HasError(errors.Item,intialLoad)">
                            {{item.level_title}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        {{this.errors.Item[0]}}
                    </div>                    
                </div>
            </div> 


            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Lesson</label>
                <div class="col-sm-8">
                    <select v-model="input.Item" class="form-control assign-bg">
                        <option value="">Choose Lesson...</option>
                        <option v-for="(item, index) in Lessons" :key="'item_'+index" :value="item.section_item_id" :class="HasError(errors.Item,intialLoad)">
                            {{item.title}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        {{this.errors.Item[0]}}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row view-assign-br">
        <div class="col-md-4">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-12 col-form-label">Due Date</label>
                <div class="col-sm-12">
                    <input id="t_assign_due_date" type="text" :class="HasError(this.errors.DueDate,intialLoad)"  class="form-control agora_date_picker_assign calendar" placeholder="">
                    <p id="t_assign_due_date_todate">No Date Selected</p>
                    <div v-if="this.errors.DueDate.length > 0"  class="invalid-feedback">
                        {{this.errors.DueDate[0].replace("DueDate", "Due Date")}}
                    </div>                        
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-12 col-form-label">Available From</label>
                <div class="col-sm-12">
                    <input id="t_assign_avail_from" :class="HasError(this.errors.AvailableTo, intialLoad)" type="text"  class="form-control agora_date_picker_assign calendar" placeholder="">
                    <p id="t_assign_avail_from_todate">No Date Selected</p>
                    <div v-if="this.errors.AvailableFrom.length > 0" class="invalid-feedback">
                        {{this.errors.AvailableFrom[0].replace("AvailableFrom", "Available From")}}
                    </div>                       
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-12 col-form-label">Until</label>
                <div class="col-sm-12">
                    <input id="t_assign_avail_to" :class="HasError(this.errors.AvailableTo, intialLoad)" type="text"  class="form-control agora_date_picker_assign calendar" placeholder="">
                    <p id="t_assign_avail_to_todate">No Date Selected</p>
                    <div  v-if="this.errors.AvailableTo.length > 0" class="invalid-feedback">
                        {{this.errors.AvailableTo[0].replace("AvailableTo", "Available Until")}}
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Points</label>
                <div class="col-sm-8">
                    <input v-model="input.Points" :class="HasError(this.errors.Points, intialLoad)" type="number"  class="form-control" placeholder="">
                    <div class="invalid-feedback">
                        {{this.errors.Points[0]}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Passing Grade</label>
                <div class="col-sm-8">
                    <input v-model="input.PassingRate" 
                    :class="HasError(this.errors.PassingRate, intialLoad)" 
                    type="number"  class="form-control">
                    <div v-if="this.errors.PassingRate.length > 0" class="invalid-feedback">
                        {{this.errors.PassingRate[0].replace("PassingRate", "Passing Grade")}}
                    </div>                
                </div>
            </div>
        </div>        

     
    </div>
    <div class="row mg-b15">
        <div class="col-md-6">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-4 col-form-label">Type</label>
                <div class="col-sm-8">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input v-model="input.Type" 
                        @change="GetQuestionBanks()"
                        :class="HasError(errors.Type, intialLoad)" 
                        type="radio" value="1" name="assign_type" class="custom-control-input" id="audio">
                        <label class="custom-control-label" for="audio">Audio</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input v-model="input.Type" 
                        @change="GetQuestionBanks()"
                        :class="HasError(errors.Type, intialLoad)" type="radio" value="2" 
                        name="assign_type" class="custom-control-input" id="multiple">
                        <label class="custom-control-label" for="multiple">Multiple Choice Questions</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input v-model="input.Type" 
                        @change="GetQuestionBanks()"
                        :class="HasError(errors.Type, intialLoad)" type="radio" value="3" name="assign_type" class="custom-control-input" id="essay">
                        <label class="custom-control-label" for="essay">Essay</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input v-model="input.Type" 
                        @change="GetQuestionBanks()"
                        :class="HasError(errors.Type, intialLoad)" type="radio" value="4" 
                        name="assign_type" class="custom-control-input" id="file">
                        <label class="custom-control-label" for="file">File Upload</label>
                        <div v-if="errors.Type.length > 0" class="invalid-feedback">
                            {{errors.Type[0].replace("Type", "Assignment Type")}}
                        </div>                         
                    </div>
                </div>
            </div>
        </div>           
    </div>
    <div class="row mg-b15">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea v-model="input.Description" :class="HasError(errors.Description, intialLoad)" class="form-control assign-bg mg-l15"></textarea>
                    <div class="invalid-feedback">
                        {{errors.Description[0]}}
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <div class="row  mt-3" >
        <!-- Audio -->
        <div v-if="input.Type == 1" class="col-md-11">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-2 col-form-label curs-pointer">Audio File </label>
                <div class="col-sm-9">
                    <div class="input-group form-control assign-bg mg-l15">
                        <div class="custom-file">
                            <input @change="UploadAssignmentFile(1)"  :class="HasError(this.errors.FileAttachment, intialLoad)"  ref="assign_audio_attach_file" accept=".mp3" type="file" class="custom-file-input curs-pointer" id="assignment_audio">
                            <label class="custom-file-label curs-pointer nowrap" for="assignment_audio">   {{UploadingFileName}}</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <sync-loader v-if="isUploading"></sync-loader> 
                            </span>
                        </div>
                            <div class="invalid-feedback disp-block">
                                {{errors.FileAttachment[0]}}
                            </div>                          
                    </div>
                </div>
            </div>
        </div>

        <!-- MCQ -->
        <div v-if="input.Type == 2" class="col-md-11">
            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-2 col-form-label">Question Bank</label>
                <div class="col-sm-9">
                    <select v-model="input.QuestionBank" :class="HasError(this.errors.QuestionBank, intialLoad)"  class="input-group form-control  assign-bg mg-l15">
                        <option value="0">Select Question Bank</option>
                        <option v-for="item in QuestionBankList" :value="item.question_bank_id" :key="item.question_bank_id" >{{item.question_bank_title}}</option>
                    </select>                 
                    <div v-if="this.errors.QuestionBank.length > 0"  class="invalid-feedback margin-left-15">
                        {{errors.QuestionBank[0].replace("QuestionBank", "Question Bank")}}
                    </div>
                </div>
            </div>   

            <div class="form-group row form-group2">
                <label for="staticEmail" class="col-sm-2 col-form-label">No Of Questions</label>
                <div class="col-sm-9">
                    <input v-model="input.NoOfQuestions" :class="HasError(this.errors.NoOfQuestions, intialLoad)" type="text"  class="form-control assign-bg mg-l15" placeholder="">
                    <div class="invalid-feedback">
                        {{errors.NoOfQuestions[0]}}
                    </div>
                </div>
            </div> 
        </div>

        <!-- ESSAY -->
        <div v-if="input.Type == 3" class="col-md-11">
  
        </div>        
        <!-- OTHERS -->
        <div v-if="input.Type == 4" class="col-md-11">
            <div class="form-group row form-group2">
                <label for="assignment_file" class="col-sm-2 col-form-label">File </label>
                <div class="col-sm-9">
                    <div class="input-group form-control assign-bg mg-l15">
                        <div class="custom-file">
                            <input @change="UploadAssignmentFile(4)" :class="HasError(this.errors.FileAttachment, intialLoad)" 
                            ref="assign_attach_file" accept=".docx, .pdf, .jpg, .txt" type="file" class="custom-file-input" id="assignment_file">
                            <label class="custom-file-label curs-pointer nowrap" for="assignment_audio">
                                {{UploadingFileName}}
                            </label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <sync-loader v-if="isUploading"></sync-loader> 
                            </span>
                        </div>
                         <div class="invalid-feedback disp-block">
                                {{errors.FileAttachment[0]}}
                        </div>                           
 
                    </div>
                </div>
            </div>
        </div>             

    </div>    
    <div class="row">
        <div class="assign-btn">
            <button @click="NewAssignment()" type="button" class="btn btn-primary btn-main-2">Add Assignment</button>
            <button @click="CancelNewAssign()" type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
    
</div>
<!--  Add New Assignment Form -->    
</template>
<script>
import {getItemsforAssignment, newAssignment, getItemsforQuestionBanks, getSectionLevelforQuestionBanks} from '../../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../../api/teacher/question_bank.js'
import {uploadFile} from '../../../../../api/common/file_upload.js'
import {bus} from '../../../../../main.js'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
export default {
    name:"NewAssignment",
    components:{SyncLoader},
    data(){
        return{
            Items:[],
            Levels:[],
            Lessons:[],
            isSubmitted:false,
            intialLoad : true,
            QuestionBankList:[],
            opt:{
                CategorySection:'',
                Level:'',
            },
            input:{
                Category:'',
                Type:null,
                QuestionBank:null,
                CategorySection:'',
                Level:'',
                Item:'',
                Title:null,
                Description:null,
                AvailableFrom:null,
                AvailableTo:null,
                Points:null,
                DueDate:null,
                NoOfQuestions:null,
                PassingRate:null,
                FileAttachment:null
            },
            errors:{
                Category:[],
                Type:[],
                QuestionBank:[], 
                Item:[],
                Title:[],
                Description:[],
                AvailableFrom:[],
                AvailableTo:[],
                Points:[],
                DueDate:[],  
                NoOfQuestions:[],
                PassingRate:[]    ,
                FileAttachment:[]
            },
            isUploading:false,
            UploadingFileName:null      ,
            AllowedAudioType: ["mp3","wav"]         
        }
    },
    computed:{
        Categories:function(){
            return this.$store.state.categories;
        }
    },
    created(){
        // this.GetQuestionBanks();
    },
    methods:{

        GetItems:function(){
            getItemsforQuestionBanks(this.GetSessionHeaders(), this.input.Category).then((response)=>{
                this.Items = response.body.Items;
            });
        }, 
        GetSectionLevels:function(){
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.input.CategorySection).then((response)=>{
                this.Levels = response.body.Levels;
            });
            this.GetQuestionBanks(); //for mcq only
        },   

        GetLessons:function(){
            getItemsforAssignment(this.GetSessionHeaders(), this.input.Category, this.input.CategorySection, this.input.Level).then((response)=>{
                this.Lessons = response.body.Items;
            });
            this.GetQuestionBanks(); //for mcq only
        },
        GetQuestionBanks:function(){
            if(this.input.Type != 2){
                return; //since 2 is for mcq we don't need to fecth banks here
            }
            
            if(this.input.CategorySection == this.opt.CategorySection 
            && this.input.Level == this.opt.Level){
                return;
            }
            this.opt.CategorySection = this.input.CategorySection;
            this.opt.Level = this.input.Level;

            getQuestionBanks(this.$parent.GetSessionHeaders(), 100,1, this.input.CategorySection, this.input.Level).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },
        NewAssignment:function(){
            // if(this.input.Type == null){
            //     this.$toasted.error('Please Select an assignment type');
            //     return;
            // }
            // if(parseInt(this.input.PassingRate) > parseInt(this.input.Points)){
            //     this.$toasted.error('Passing rate should not be greater than Points');
            //     return;
            // }
            if(this.isSubmitted){
                return;
            }

            this.input.DueDate =  document.getElementById('t_assign_due_date').value;
            this.input.AvailableFrom = document.getElementById('t_assign_avail_from').value; 
            this.input.AvailableTo = document.getElementById('t_assign_avail_to').value; 

            this.intialLoad = false;
            this.isSubmitted = true;
            // if(this.input.DueDate){
            //     var date = new Date(this.input.DueDate);
            //     var current = new Date();             
            //     if(date < current){
            //          this.$toasted.error('Due date cannot be set at the past');
            //          return;
            //     }   
            // }

            // if(this.input.AvailableFrom && this.input.AvailableTo){
            //     var afromdate = new Date(this.input.AvailableFrom);
            //     var atodate = new Date(this.input.AvailableTo);
            //     if(afromdate > atodate){
            //         this.$toasted.error('Available to should be greater than Available from');
            //         return;
            //     }
            // }


            newAssignment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success('Assignment has been successfully added!');
                bus.$emit('reloadAssignmentList');
                this.$router.push({ name: 'TeacherAssignment' });

            }).catch((response)=>{
                try{
                    if(response.body.Errors.Category){
                        this.errors.Category = response.body.Errors.Category;
                    }else{
                        this.errors.Category = [];
                    }   

                    if(response.body.Errors.Item){
                        this.errors.Item = response.body.Errors.Item;
                    }else{
                        this.errors.Item = [];
                    }                        
                                        
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                        this.errors.Title = [];
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                        this.errors.Description = [];
                    }
                    
                    if(response.body.Errors.QuestionBank){
                        this.errors.QuestionBank = response.body.Errors.QuestionBank;
                    }else{
                        this.errors.QuestionBank = [];
                    } 

                    if(response.body.Errors.NoOfQuestions){
                        this.errors.NoOfQuestions = response.body.Errors.NoOfQuestions;
                    }else{
                        this.errors.NoOfQuestions = [];
                    }        
                    
                    if(response.body.Errors.PassingRate){
                        this.errors.PassingRate = response.body.Errors.PassingRate;
                    } else{
                        this.errors.PassingRate = [];
                    }                         

                    if(response.body.Errors.AvailableFrom){
                        this.errors.AvailableFrom = response.body.Errors.AvailableFrom;
                    }else{
                        this.errors.AvailableFrom = [];
                    }   

                    if(response.body.Errors.AvailableTo){
                        this.errors.AvailableTo = response.body.Errors.AvailableTo;
                    }else{
                         this.errors.AvailableTo = [];
                    }    
                    
                    if(response.body.Errors.DueDate){
                        this.errors.DueDate = response.body.Errors.DueDate;
                    }else{
                        this.errors.DueDate = [];
                    }            
                    
                    if(response.body.Errors.FileAttachment){
                        this.errors.FileAttachment = response.body.Errors.FileAttachment;
                    } else{
                         this.errors.FileAttachment = [];
                    }      
                    
                    if(response.body.Errors.Points){
                        this.errors.Points = response.body.Errors.Points;
                    }else{
                         this.errors.Points = [];
                    }  
                    
                    if(response.body.Errors.Type){
                        this.errors.Type = response.body.Errors.Type;
                    }else{
                        this.errors.Type = [];
                    }   
                    
                    if(response.body.Errors.Item){
                        this.errors.Item = response.body.Errors.Item;
                    }else{
                        this.errors.Item = [];
                    }                       

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }  
            }).finally(()=>{
                this.isSubmitted = false;
            })
        },
        UploadAssignmentFile:function(type){
            let formData = new FormData();
            let media_file = null;
            if(type == 1){ //audi
                media_file = this.$refs.assign_audio_attach_file.files[0];
                if(!this.AllowedAudioType.includes(this.GetFileExtension(media_file.name))){
                    this.$toasted.show("Audio file should be only mp3 or wav format");
                    return;
                }                

            }else if(type == 4){
                media_file = this.$refs.assign_attach_file.files[0];
                
            }
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            // var totalSizeMB = media_file.size / Math.pow(1024,2);
            // if(totalSizeMB > 20){
            //     this.$toasted.error("File should not be over 20mb");
            //     return;
            // }
          

            formData.append("file_upload",  media_file);
            this.UploadingFileName = media_file.name;
            this.isUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.FileAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isUploading = false;
            });

        }, 
        CancelNewAssign:function(){
            this.$router.push({ name: 'TeacherAssignment' });
        }               
    }
}
</script>

