<template>
    <!-- go to assignment -->
<div>
<div v-for="(item, index) in RecentSubmissions" :key="'recent_teacher_assign'+index" class="row header-row">
    <div class="col-md-4 aside-image aside-image2">
        <img v-if="item.cover_photo != '' && item.cover_photo != null"  
        :src="this.GetImageURL() + item.cover_photo">
        <div class="noImg">
            <span> {{item.title.charAt(0)}}</span>
        </div>            
    </div>
    <div class="col-md-8 main-description">
        <h6>{{item.category_title}} </h6> 
        <h1><span>{{item.category_title}} - {{item.title}}</span></h1>
        <div class="form-group row">
            <div class="col-sm-12">
                <p class="assign-content">{{item.description}} </p>
            </div>
        </div> 
        <div class="controls">
            <button 
            @click="GoToAssignment(item.assignment_id, index)"
             type="button" class="btn edit assign_btn">Go To Assignment</button> 
        </div>
    </div>
</div>   
</div> 
</template>

<script>
export default {
    name:"NotifAssignment",
    data(){
        return{
            AssignmentID:null,
            Detail:null
        }
    },
    computed:{
        RecentSubmissions:function(){
            return this.$store.state.teacherRecentAssignmentsSubmission;
        }
    },
    methods:{
        GoToAssignment:function(assignment_id, index){
            //Remove first from the reducer
            this.$store.commit("removeAssignmentFromRecentSubmission", index);

            this.$router.push({ name: 'EditAssignment', params: { assign_id : assignment_id } });
        }
    }
    
}
</script>

