<template>
<!-- view assignment -->
<div>
  <div v-if="isLoading" class="loader" ></div>

<div v-else  class="view-assign">

    <h4>View Assignment</h4>
    <div class="row">
        <div v-if="MemberDetail != null && AssignmentDetail != null" class="col-md-6">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Student Name</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext"> {{MemberDetail.fname}} {{MemberDetail.lname}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Assignment Name</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">{{AssignmentDetail.assignment_title}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Category</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">{{GetCategoryName(AssignmentDetail.category_id)}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Level</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">{{AssignmentDetail.level_title}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Student Rank</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">N/A</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Submitted On</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">{{ToDate(AssignmentDetail.submission.date_added)}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Section</label>
                <div class="col-sm-7">
                    <label class="form-control-plaintext">{{AssignmentDetail.section_title}}</label>
                    <!-- {{AssignmentDetail.title}} == Lesson Item -->
                </div>
            </div> 
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Status</label>
                <div class="col-sm-7">
                    <label v-if="AssignmentDetail.submission.status == 1" class="form-control-plaintext">Completed</label>
                    <label v-if="AssignmentDetail.submission.status == 2" class="form-control-plaintext">Pending</label>
                </div>
            </div>           
        </div>
    </div>
    <div class="row">
        <div v-if="MemberDetail != null && AssignmentDetail != null" class="col-md-12">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <label class="form-control-plaintext desc-assign">{{AssignmentDetail.description}}</label>
                </div>
            </div>
            <div v-if="AssignmentDetail.type_id ==1  || AssignmentDetail.type_id == 4" class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">File</label>
                <div class="col-sm-6">
                    <!-- AUDIO -->
                    <div class="assign-aud desc-assign" v-if="AssignmentDetail.type_id == 1 && HasValue( AssignmentDetail.submission.answer_attachment)">
                        <audio controls controlsList="nodownload">
                            <source :src="this.GetAudioURL() + AssignmentDetail.submission.answer_attachment"  >
                        </audio>            
                    </div> 
                    <!-- OTHER -->
                    <div class="assign-aud desc-assign" v-if="AssignmentDetail.type_id == 4">
                        <label class="">{{ AssignmentDetail.submission.answer_attachment}}</label>  
                    </div>                
                </div>
                <div class="col-sm-2">
                    <div class="assign-aud desc-assign" v-if="AssignmentDetail.type_id == 4 && HasValue( AssignmentDetail.submission.answer_attachment)">
                        <a target="_blank" :href="this.GetImageURL() +  AssignmentDetail.submission.answer_attachment "
                         download class="btn btn-sm btn-primary btn-main-2" > DOWNLOAD</a>      
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- FOR ESSAY ONLY -->
    <div v-if="AssignmentDetail.submission.type == 3" class="row">
        <div class="col-md-8 offset-md-3 mg-b3em">
            <div class="form-group row">
                <textarea :value="AssignmentDetail.submission.answer_essay" readonly class="form-control assign-update"></textarea>
            </div>
        </div>
    </div>
    <!-- FOR MCQ ONLY  SHOW QUESTIONS AND ANSWERS-->
    <div class="row" v-if="AssignmentDetail != null && AssignmentDetail.type_id == 2">
        <div class="col-md-12 mg-b3em">
            <div v-if="AssignmentDetail != null && AssignmentDetail.type_id == 2" class="form-group row">
                <table class="table table-hover table-banks-list">
                    <thead class="thead-dark ">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Question</th>
                        <th scope="col">Choice 1</th>
                        <th scope="col">Choice 2</th>
                        <th scope="col">Choice 3</th>
                        <th scope="col">Choice 4</th>
                        <th scope="col">Answer</th>
                        </tr>
                    </thead>
                    <tbody v-if="isPagerLoading">
                         <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><div class="sm-loader margin-top-15" ></div></td>
                            <td></td>
                            <td></td>
                            <td></td>                                                         
                             
                         </tr>
                         
                    </tbody>
                    <tbody v-else>
                        <tr v-for="(item, index) in AssignmentQuestions" :key="'questions_'+index">
                        <td><b>{{ PagerNumberingStart + (index + 1)}}</b></td>
                        <td>
                            {{item.question_description}} </td>

                        <td  v-for="(item2, index2) in item.choice" :key="'choices_'+index+'_'+index2">
            
                            <span v-if="(item.correct_answer) == (index2 + 1)"> <b>{{item2}} </b></span>
                            <span v-else>{{item2}}</span>
                             <!-- {{item2}} -->
                        </td>

                        <td>
                            <!-- MCQ -->
                            <span v-if="item.question_answer_mode == 1"> 
                                {{ item.choice[ item.selected_answer-1 ] }}
                                <!-- 
                                     {{item.selected_answer}} -->
                                        <!-- {{CourseGrade}} -->
                                        <!-- {{QuestionsDetail}} -->
                                        <!-- {{item.choice[ GetStudentAnswer(item.question_id)-1 ] }} -->
                                     <!-- {{GetStudentAnswer(item.question_id)}} -->
                            </span>
                        </td>

                        </tr>
                    </tbody>
                </table> 
                <nav class="pager_navigation" aria-label="Lists">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>

                    <li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)" :key="'assign_quest_stea'+n">
                    <a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
                    </li>

                    <li class="page-item">
                    <a v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="page-link" href="#">Next</a>
                    </li>
                </ul>
                </nav>                 
          
            </div>
        </div>
    </div>

    <!-- FOR MCQ ONLY  -->

    <div class="row">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Grade</label>
                <div class="col-sm-9">
                    <label class="form-control-plaintext desc-assign2">
                        <!-- COMPLETED -->
                        <input v-model="input.TeacherMark" type="number" class="assign-grade form-control  " :class="HasError(this.errors.TeacherMark)">
                        / {{AssignmentDetail.points}}

                            <div class="invalid-feedback">
                                {{errors.TeacherMark[0]}}
                            </div>      
                    </label>
                                   
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9"> 
                    <textarea v-model="  input.Comment" class="form-control assign-bg desc-assign2"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="assign-btn">
            <button @click="UpdatePendingAssignment()" type="button" class="btn table-btn-ag btn-main-2 btn-primary">Save</button>
            <button v-if="HasValue(input.TeacherMark)" @click="Cancel()" type="button" class="btn table-btn-ag btn-main-dnger-1 btn-danger" >Cancel</button>       
            <button v-else type="button" class="btn table-btn-ag btn-main-dnger-1 btn-danger popup_are_you_sure">Cancel</button>
            <!-- @click="Cancel()"  -->
        </div>
    </div>
</div>
<!--  view assignment -->    
<are-you-sure :Message="CancelMessage" :handle-action="Cancel"></are-you-sure>
</div>
</template>
<script>
import {getAssignmentSubmissionDetailed, approvePendingAssignment, getAssignmentSubmissionMCQQuestions} from '../../../../../api/teacher/exam.js'
import AreYouSure from '../../../../subcomponents/modal/AreYouSureModal'
export default {
    name:"ViewAssignment",
    components:{AreYouSure},
    data(){
        return{
            isLoading:false,
            AssignmentSubmissionID:null,
            AssignmentID:null,
            UserID:null,
            AssignmentDetail:null,
            MemberDetail:null,
            input:{
                TeacherMark:null,
                PassFailed:0, //0 = Failed, 1 = passed,
                StudentID:null,
                AssignmentSubmissionID:null,
                Comment:null                
            },
            errors:{
                TeacherMark:[],
                Comment:[],
            },
            AssignmentQuestions:[],
            CancelMessage:"Item has no grade yet. Do you still want to proceed?",
            isPagerLoading:false,
            PageLimit : 10,//def = 20
            PageOffset: 1,
            PageCount : 0                
        }
    },
    computed:{
        PagerNumberingStart:function(){
            if(this.PageOffset == 1){
                return 0;
            }
            else{
                return (this.PageOffset - 1) * 10;
            }
        }
    },    
    created(){
        this.UserID = this.$route.params.user_id;
        this.AssignmentID = this.$route.params.assign_id;
        this.AssignmentSubmissionID = this.$route.params.submission_id;
        this.GetAssignmentDetail();
    },
    methods:{
        GetAssignmentDetail:function(){
            this.isLoading = true;
            getAssignmentSubmissionDetailed(this.GetSessionHeaders(), this.AssignmentID, this.UserID).then((response)=>{
                this.MemberDetail = response.body.Member;
                this.AssignmentDetail = response.body.Submission;
                this.input.TeacherMark = this.AssignmentDetail.submission.score;
                this.input.Comment = this.AssignmentDetail.submission.teacher_comments;
                if(this.AssignmentDetail.type_id == 2){
                    this.GetMCQQuestions();
                }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        GetMCQQuestions(){
            this.isPagerLoading = true;
            getAssignmentSubmissionMCQQuestions(this.GetSessionHeaders(), this.AssignmentID,this.UserID, this.PageLimit, this.PageOffset).then((response)=>{
                this.AssignmentQuestions = response.body.Questions;
                this.PageOffset = response.body.PageOffset;
                this.PageCount = Math.ceil(response.body.TotalCount / this.PageLimit);
            }).finally(()=>{
                this.isPagerLoading = false;
            });            
            
        },
        UpdatePendingAssignment:function(){
            if(!this.HasValue(this.input.TeacherMark)){
                this.$toasted.error("Please enter a grade.");
                this.errors.TeacherMark = ["Grade should not be empty."];
                return;
            }else{
                 this.errors.TeacherMark = [];
            }

            if(parseInt(this.input.TeacherMark) > this.AssignmentDetail.points){
                this.$toasted.error("Grade should not be greater than the maximum score for this Exam");
                return;
            }
            this.isLoading = true;
            if(this.input.TeacherMark >= this.AssignmentDetail.passing_rate){
                this.input.PassFailed = 1;
            }else{
                this.input.PassFailed = 0; //set to failed
            }            

            this.input.AssignmentSubmissionID = this.AssignmentSubmissionID;
            this.input.StudentID = this.UserID;
          
            approvePendingAssignment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.GetAssignmentDetail();
                this.$toasted.success("The assignment was succesfully checked");

            }).catch((response)=>{
                // this.$toasted.error("Oops. Something went wrong here");
                    if(response.body.Errors.TeacherMark){
                        this.errors.TeacherMark = response.body.Errors.TeacherMark;
                    }else{
                        this.errors.TeacherMark = [];
                    }

            }).finally(()=>{
                this.isLoading = false;
            });


        },
        Cancel:function(){
            // if(!this.HasValue(this.input.TeacherMark)){
            //     this.$toasted.error("Item has no grade yet. Do you still want to proceed?");
            //     return;
            // }
            this.$router.go(-1);
            
        },
        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetMCQQuestions();
        },       
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },            
        
    }
}
</script>

