.tp_event {
  .date {
    color: $thim_body_primary_color;
  }

  .title {
    a {
      color: $thim_font_title_color;
      &:hover {
        color: $thim_body_primary_color;
      }
    }
  }
}

.single-tp_event {
  article {
    .sticky-sidebar {
      .share-text {
        color: $thim_font_title_color;
      }
    }

    .tp_event_counter {
      background-color: $thim_body_primary_color;
    }

    .event_register_submit {
      background: $thim_body_primary_color;
      &:hover {
        background: darken($thim_body_primary_color, 20%);
      }
    }
  }
}

#event-lightbox {
  .event_auth_form_field {
    input {
      &:focus {
        border-color: $thim_body_primary_color;
      }
    }
  }
  .event_register_foot {
    button {
      &:hover {
        background: $thim_body_primary_color;
      }
    }
  }
}

.entry-register {
  .event_auth_button {
    background-color: $thim_body_primary_color !important;
    &:hover {
      background-color: darken($thim_body_primary_color, 5%) !important;
    }
  }
}

.list-tab-event {
  .nav-tabs {
     a {
      color: $thim_font_title_color;
       &.active {
         &:before {
           background: $thim_body_primary_color;
         }
       }
    }
  }
}
.nav-tabs a.active:before {
  background: $thim_body_primary_color;
}