/*
 * General style customizer options */

@media (min-width: 1400px) {
  body.home.responsive #wrapper-container .container {
    width: $thim_site_home_width;
  }
}

.color {
  color: $thim_body_primary_color;
}

.flexslider {
  .flex-direction-nav a {
    background: $thim_body_primary_color;
    &:before {
      color: $thim_body_primary_color;
    }
    &:hover {
      background: $thim_body_primary_color;
    }
  }
}

//Home Page
.action-info {
  .button {
    font-family: $thim_font_title_font_family;
  }
}

.gallery-info {
  .all-gallery {
    font-family: $thim_font_title_font_family;
    &:after {
      color: $thim_body_primary_color;
    }
  }
}

.select2-container .select2-selection--single:hover {
  border-color: $thim_body_primary_color;
}

.thim-form-homepage {
  .heading-button {
    input[type="submit"] {
      font-family: $thim_font_body_font_family;
    }
  }

  select {
    font-family: $thim_font_body_font_family;
  }
}

.home-events {
  background: $thim_footer_background_color;
}

// About Page
.list-about {
  li {
    &:before {
      color: $thim_body_primary_color;
    }
    a:hover {
      color: $thim_body_primary_color;
    }
  }
}

//Contact Page
.wpcf7-form {
  input, textarea {
    &:focus, &:hover {
      border-color: $thim_body_primary_color;
    }
  }

  .contact-button {
    .wpcf7-submit {
      font-family: $thim_font_title_font_family;
      &:focus, &:hover {
        border-color: $thim_body_primary_color;
        color: $thim_body_primary_color;
      }
    }
  }
}

.thim-form-contactpage {
  input[type="text"], textarea, input[type="submit"] {
    font-family: $thim_font_body_font_family;
  }
}

.icon-box-contact {
  .thim-icon-box {
    .icon {
      span {
        color: $thim_body_primary_color;
      }
    }
  }

  .contact-info {
    .description {
      &:hover {
        a {
          color: $thim_body_primary_color;
        }
      }
    }
  }
}

// page 404
body.error404 {
  .page-title .breadcrumb-content #breadcrumbs,
  #wrapper-container.bg-type-color {
    background-color: $thim_body_primary_color;
  }
}

.pagetitle-hide {
  header#masthead.header-overlay {
    &.affix-top {
      &.site-header .header-wrapper {
        //background: $thim_body_primary_color !important;
      }
      .width-navigation .main-menu > li > a {
        &:hover {
          //color: darken($thim_body_primary_color, 20%);
          color: $thim_body_primary_color;
        }
      }
    }
  }
  header#masthead.template-layout-2.palette-transparent.affix-top .widget_thim-login a:hover {
    color: darken($thim_body_primary_color, 20%);
  }
  &.single {
    header#masthead.header-overlay {
      &.affix-top {
        &.site-header .header-wrapper {
          background: $thim_body_primary_color !important;
        }
        .width-navigation .main-menu > li > a:hover,
        .width-navigation .main-menu >li.current-menu-parent >a {
          color: darken($thim_body_primary_color, 20%) !important;
        }
      }
    }
  }
}

.wp-social-login-connect-with {
  color: $thim_font_title_color;
}

//Home 4
.register-lesson {
  label {
    color: $thim_font_title_color;
  }

  input, textarea {
    &:focus {
      border-color: $thim_body_primary_color;
    }
  }
}

//Edit Style
.thim-sc-enroll-course .title-course a {
  &:hover {
    color: $thim_body_primary_color;
  }
}

// Login popup
#thim-popup-login {
  .login-banner {
    &:before {
      background: $thim_body_primary_color;
    }
  }

  .login-form {
    .login-remember {
      color: $thim_font_title_color;
    }

    .icon-check {
      background: $thim_body_primary_color;
    }
  }

  #wp-submit, #popupLoginSubmit {
    background: $thim_body_primary_color;

    &:hover {
      background: darken($thim_body_primary_color, 20%);
    }
  }

  .lost-pass-link {
    color: $thim_font_title_color;

    &:hover {
      color: $thim_body_primary_color !important;
    }
  }
}