<template>
<div class="col-md-9 main-content admin-scrollable">
    <div class="row header-row">
        <div class="col-md-10 main-description offset-1" >

            <div v-if="isSucceed" class="alert agora-new-alert" role="alert">
                <h5 class="alert-heading"><b>ACCOUNT  :</b> {{input.FirstName}} {{input.LastName}} was successfully added</h5>
                <!-- <p>
                    {{input.CategoryDescription}}
                </p> -->
                <p class="text-right">
                    <button @click="CancelTeacher()"  class="btn btn-sm modal-close success-btn">Go Back</button>
                    <button @click="ResetInputs()"  class="btn btn-sm modal-close success-btn">Add New </button>
                </p>
            </div>        

            <form v-else @submit="SubmitNewTeacher">
                <h1>New Teacher Account</h1>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.EmailAddress" :class="HasError(errors.EmailAddress, isInitialLoad)" type="email" class="form-control"  placeholder="Email Address" >
                    <div v-if="this.errors.EmailAddress.length > 0"  class="invalid-feedback">
                        {{this.errors.EmailAddress[0].replace("EmailAddress", "Email Address")}}
                    </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.Username" :class="HasError(errors.Username, isInitialLoad)" 
                    type="text" class="form-control" placeholder="Username" >
                    <div v-if="this.errors.Username.length > 0"  class="invalid-feedback">
                        {{this.errors.Username[0].replace("UserName", "User Name")}}
                    </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.Password" :class="HasError(errors.Password, isInitialLoad)" 
                    type="password" class="form-control" placeholder="Password" >
                    <div v-if="this.errors.Password.length > 0"  class="invalid-feedback">
                        {{this.errors.Password[0]}}
                    </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.ConfirmPassword" :class="HasError(errors.ConfirmPassword, isInitialLoad)" 
                    type="password" class="form-control" placeholder="Confirm Password" >
                    <div v-if="errors.ConfirmPassword.length > 0"  class="invalid-feedback">
                        {{errors.ConfirmPassword[0].replace("ConfirmPassword", "Confirm Password")}}
                    </div>
                    </div>
                </div>              

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.FirstName" :class="HasError(errors.FirstName, isInitialLoad)" 
                    type="text" class="form-control" placeholder="First Name" >
                    <div v-if="errors.FirstName.length > 0"  class="invalid-feedback">
                        {{this.errors.FirstName[0].replace("FirstName", "First Name")}}
                    </div>
                    </div>
                </div>  

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.LastName" :class="HasError(errors.LastName, isInitialLoad)" 
                    type="text" class="form-control" placeholder="Last Name" >
                    <div v-if="errors.LastName.length > 0"  class="invalid-feedback">
                        {{this.errors.LastName[0].replace("LastName", "Last Name")}}
                    </div>
                    </div>
                </div>                                                      

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input  :class="HasError(errors.Birthday, isInitialLoad)" 
                    id="reg_bday" ref="reg_bday"
                    type="text" class="form-control agora_date_picker register_date" placeholder="Birthdate" >
                    <div v-if="errors.Birthday.length > 0"  class="invalid-feedback">
                        {{this.errors.Birthday[0]}}
                    </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.Age" :class="HasError(errors.Age, isInitialLoad)" 
                    type="number" class="form-control" placeholder="Age" >
                    <div v-if="errors.Age.length > 0"  class="invalid-feedback">
                        {{this.errors.Age[0]}}
                    </div>
                    </div>
                </div>    

                <div class="form-group row">
                    <div class="col-sm-10">
                        <select v-model="input.Gender"
                        :class="HasError(this.errors.Gender, isInitialLoad)" class="form-control">
                            <option value="0" selected>Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <div v-if="errors.Gender.length > 0" class="invalid-feedback">
                            {{this.errors.Gender[0]}}
                        </div>
                    </div>
                </div>                  

                <div class="form-group row">
                    <div class="col-sm-10">
                        <select v-model="input.CountryID"
                        :class="HasError(this.errors.CountryID, isInitialLoad)" class="form-control">
                            <option value="0" selected>Country</option>
                             <option v-for="item in Countries" 
                             :value="item.id" :key="'country'+item.id" >{{item.country_name}}</option>
                        </select>
                        <div v-if="errors.CountryID.length > 0" class="invalid-feedback">
                            {{this.errors.CountryID[0].replace("CountryID", "Country")}}
                        </div>
                    </div>
                </div>     

                <div class="form-group row">
                    <div class="col-sm-10">
                        <select v-model="input.EducationLevel"
                        :class="HasError(this.errors.EducationLevel, isInitialLoad)" class="form-control">
                            <option value="0" selected>Education Level</option>
                            <option v-for="item in Educations" 
                             :value="item.edu_level_id" :key="'education'+item.edu_level_id" >{{item.edu_level_description}}</option>
                        </select>
                        <div v-if="errors.EducationLevel.length > 0" class="invalid-feedback">
                            {{this.errors.EducationLevel[0].replace("EducationLevel", "Education Level")}}
                        </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                        <input　v-model="input.AdminPrivilege" class="form-check-input" type="checkbox" id="adminCheck" >
                        <label class="form-check-label curs-pointer" for="adminCheck">
                            Admin Privilege
                        </label>
                        </div>                            
                    </div>
                </div>                                                          

                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
                        <span v-if="!isSubmitted"> Submit </span>
                        <pulse-loader v-else></pulse-loader>
                    </button>
                    <button type="button" @click="CancelTeacher()" class="btn btn-lg btn-danger">Cancel</button>  
                </div>        
            </form>
        </div>
    </div>
</div>       
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
import {bus} from '../../../../../main.js'
import {getCountries, getEducation} from '../../../../../api/common/definition.js' 
import {newTeacher} from '../../../../../api/teacher/admin.js' 
export default {
    name:"NewTeacher",
    components: {PulseLoader, SyncLoader},
    data(){
        return{
            isInitialLoad:true,
            isSubmitted : false,
            isSucceed : false,
            Countries:[],
            Educations:[],
            input:{
                EmailAddress:null,
                Username:null,
                Password:null,
                ConfirmPassword:null,
                FirstName:null,
                LastName:null,
                Birthday:null,
                Age:null,
                CountryID:0,
                EducationLevel:0,
                Gender:0,
                AdminPrivilege:0,
            },
            errors:{
                EmailAddress:[],
                Username:[],
                Password:[],
                ConfirmPassword:[],
                FirstName:[],
                LastName:[],
                Birthday:[],
                Age:[],
                CountryID:[],
                EducationLevel:[],
                Gender:[],
                AdminPrivilege:[],
            }         
        }
    },
    created(){
        getCountries().then((response) =>{
          this.Countries = response.body.Countries;
        });
        getEducation().then((response) => {
          this.Educations = response.body.Educations;
        });
    },
    methods:{
        SubmitNewTeacher:function(e){
            e.preventDefault();
            if(this.isSubmitted){
                return;
            }         
            this.isSubmitted = true;
            this.isInitialLoad = false;      
            this.input.Birthday = document.getElementById('reg_bday').value;
            if(this.input.AdminPrivilege){
                this.input.AdminPrivilege = 1;
            }else{
                this.input.AdminPrivilege = 0;
            }
            newTeacher(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadAdminTeachers');
            }).catch((response)=>{
            try{
                if(response.body.Errors.Username){
                    this.errors.Username = response.body.Errors.Username;
                }
                if(response.body.Errors.EmailAddress){
                    this.errors.EmailAddress = response.body.Errors.EmailAddress;
                }   

                if(response.body.Errors.Password)
                {
                    this.errors.Password = response.body.Errors.Password;
                }
                if(response.body.Errors.ConfirmPassword)
                {   
                    this.errors.ConfirmPassword = response.body.Errors.ConfirmPassword;
                }                   

                if(response.body.Errors.FirstName){
                    this.errors.FirstName = response.body.Errors.FirstName;
                }
                if(response.body.Errors.LastName){
                    this.errors.LastName = response.body.Errors.LastName;
                }
                if(response.body.Errors.Age){
                    this.errors.Age = response.body.Errors.Age;
                }
                if(response.body.Errors.CountryID){
                    this.errors.CountryID = response.body.Errors.CountryID;
                }
                if(response.body.Errors.ZipCode){
                    this.errors.ZipCode = response.body.Errors.ZipCode;
                }
                
                if(response.body.Errors.Gender){
                    this.errors.Gender = response.body.Errors.Gender;
                }  
                
                if(response.body.Errors.EducationLevel){
                    this.errors.EducationLevel = response.body.Errors.EducationLevel;
                }                                                
                if(response.body.Errors.Birthday){
                    this.errors.Birthday = response.body.Errors.Birthday;
                }        
                if(response.body.Errors.School){
                    this.errors.School = response.body.Errors.School;
                }  
                
            }catch(e){
                this.$toasted.show('Ooops. Something went wrong at our end.');
            }                
            }).finally(()=>{
                this.isSubmitted = false;
            });
            
        },

        ResetInputs:function(){
            this.input.EmailAddress = null;
            this.input.Username = null;
            this.input.Password = null;
            this.input.ConfirmPassword = null;
            this.input.FirstName = null;
            this.input.LastName = null;
            this.input.Birthday = null;
            this.input.Age = null;
            this.input.CountryID = 0;
            this.input.EducationLevel = 0;
            this.input.Gender = 0;
            this.input.AdminPrivilege = 0;
            this.input.isSucceed = false;
        },
        CancelTeacher:function(){
            this.ResetInputs();
            this.$router.push({ name: 'TeacherAdmin' });
        },        

    }    
}
</script>
