<template>
<div class="col-md-9 main-content admin-scrollable">
    <div class="loader" v-if="isLoading"></div>
    <div class="row header-row teacher-cate " v-else-if="!isLoading && HasValue(MemberDetail)">
            <div class="col-md-4 aside-image view_teacher">
                <img v-if="HasValue(MemberDetail.profile_image)" 
                :src="this.GetProfileImageURL() + MemberDetail.profile_image"
                id="upd_course_cover">

                    <button @click="ToggleTeacherActive()" type="submit" class="btn btn-sm  col-centered margin-top-12 btn-primary" 
                    :class="{'btn-main-2' : (MemberDetail.active == 0), ' btn-danger' : (MemberDetail.active == 1) }">
                        <span v-if="!isSubmitted && (MemberDetail.active == 1)"> Deactivate </span>
                        <span v-else-if="!isSubmitted && (MemberDetail.active == 0)"> Activate </span>
                        <pulse-loader v-else></pulse-loader>
                    </button>                
            </div> 
            <div class="col-md-8 main-description" >
                <h1><span>{{MemberDetail.fname}} {{MemberDetail.lname}}</span> </h1>
                <div class="form-group row">
                    <div  class="col-sm-12">
                          <div class="table-ul-con">
                            <table class="table-ul">
                                <tr>
                                    <td class="title">Registration Date </td>
                                    <td> {{ToDate(MemberDetail.registration_date)}}   {{ToDisplayTimeOnly(MemberDetail.registration_date)}}</td>
                                </tr> 
                                <tr>
                                    <td class="title">Email Address </td>
                                    <td> {{MemberDetail.user_email}}</td>
                                </tr> 
                                <tr>
                                    <td class="title">Username </td>
                                    <td> {{MemberDetail.user_login}}</td>
                                </tr> 
                                <tr>
                                    <td class="title">Age </td>
                                    <td> {{MemberDetail.age}}</td>
                                </tr>     
                                <tr>
                                    <td class="title">Gender </td>
                                    <td> 
                                        <span v-if="MemberDetail.gender== 1">Male</span>
                                        <span v-else-if="MemberDetail.gender ==2">Female</span>
                                    </td>
                                </tr>                                                                                                                                
                                <tr>
                                    <td class="title">User Level </td>
                                    <td> 
                                        <span v-if="MemberDetail.user_level == 4 && MemberDetail.admin_privelege == 1">Teacher (w/ Admin Rights)</span>
                                        <span v-else>Teacher</span>
                                    </td>
                                </tr>                                 
                            </table>
                          </div>
                    </div>
                </div>
            </div>          
    </div>

</div>       
</template>
<script>
import {getMemberDetail, deactivateActivateTeacher} from '../../../../../api/teacher/admin.js' 
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
export default {
    name:"ViewTeacher",
    components: {PulseLoader},
    data(){
        return{
            isLoading:true,
            UserID: null,
            MemberDetail:null,
            isSubmitted : false,
        }
    },
    beforeRouteUpdate(to,from, next){
        this.UserID = to.params.user_id;
        this.GetTeacherDetail();
        next();
    },
    created(){
        this.UserID = this.$route.params.user_id;
        this.GetTeacherDetail();
    },
    methods:{
        GetTeacherDetail:function(){
            this.isLoading = true;
            getMemberDetail(this.GetSessionHeaders(), this.UserID).then((response)=>{
                this.MemberDetail = response.body.Member;
            }).catch(()=>{

            }).finally(()=>{
                this.isLoading = false;
            })
        },
        ToggleTeacherActive:function(){
            if(this.isSubmitted){
                return;
            }
            this.isSubmitted = true;
            deactivateActivateTeacher(this.GetSessionHeaders(), this.UserID).then((response)=>{
                if(this.MemberDetail.active == 1){
                    this.$toasted.success('Teachear account has been deactivated.');
                }else{
                    this.$toasted.success('Teachear account has been re-activated.');
                }

                this.GetTeacherDetail();
                
            }).finally(()=>{
                this.isSubmitted = false;

            });
        }
    }
}
</script>
<style scoped>
.view_teacher{
    text-align: center;
}
</style>

