<template>
<div class="row rw-max-height">

    <category-list></category-list>

    <div class="col-md-9 main-content" v-if="isInitialLoad">
        <p class="watermark watermark-2">
            <img src="../../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <transition v-else name="fade" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
    </transition>
</div>       
</template>


<script>
import CategoryList from './CategoryList.vue';
export default {
    name:"ExamCategories",
    components:{
        CategoryList
    },
    data(){
        return{
            isInitialLoad : true
        }
    },
    beforeRouteUpdate(to,from, next){

        if(to.name == 'Categories'){
            this.isInitialLoad= true;
        }else{
            this.isInitialLoad = false;
        }
        next();
    },    
}
</script>

