<template>
     <div class="col-md-3 search-sidebar rw-max-height">
        <div class="search-controls">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <div @click="CreateNewCategory()" class="create-new">
            <span class="fa fa-edit"></span>
            <span>Create New Category</span>
        </div>

        <!--ITEMS-->
        <div class="searched-items">
            <div v-for="item in CompCategoryList" @click="GoToCateEditPage(item.category_id)" :key="item.category_id" class="item">
                <div class="aside-image">
                    <img v-if="item.cover_photo != '' && item.cover_photo != null" :src="GetImageURL() + item.cover_photo">
                    <span v-else class="circling-title">{{item.category_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title">{{item.category_title}}</div> 
                    <!-- <div class="description">{{item.category_desc}}</div> -->
                </div>
                <div class="clearing"></div>
            </div>
            <div v-if="(PageCount  > PageOffset) && PageCount > 1" @click="IncreasePageOffset()"  class="item">
                <div class="load-more">
                    <div class="sm-loader margin-top-15" v-if="isPagerLoading"></div>
                    <div class="ft-size-21 col-centered  margin-top-15" v-else>Load More</div>
                </div>
            </div>            
        </div>
        <!--END ITEMS-->

    </div>    
</template>

<script>
import {getCategories2} from '../../../../api/teacher/exam.js'
import {bus} from '../../../../main.js'
export default {
  name: 'CategoryList',
  data(){
      return{
        isSearching:false,
        SearchInput:'',
        Sort : 0,
        isLoading : true,
        CategoriesCount:0,
        CategoryList:[],
        PageLimit : 20,
        PageOffset: 1,       
        PageCount : 0,  
        isPagerLoading:false
      }
  },
  computed:{
      CompCategoryList:function(){
        if(this.isSearching && this.SearchInput != ''){
            return this.CategoryList.filter(item=>{
                return item.category_title.toLowerCase().indexOf(this.SearchInput) > -1;
            });
        }
        if(this.Sort == 0){
            let temp =  this.CategoryList.slice();
            return temp.sort(function(a,b){
                var nameA = a.category_title.toUpperCase(); 
                var nameB = b.category_title.toUpperCase(); 
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }                    
            });
        }  
        if(this.Sort == 1){
            return this.CategoryList;
        }  
        if(this.Sort == 2){
            let temp =  this.CategoryList.slice();
            return temp.sort(function(a,b){
                return new Date(a.date_added) - new Date(b.date_added);                
            });                
        }              
        return this.CategoryList;
      }
  },
  created(){
    bus.$off("reloadCategoryList");
    //bind event bus functions to listedn
    bus.$on("reloadCategoryList",()=>{
        this.PageOffset=  1;       
        this.PageCount = 0;        
        this.CategoryList = [];
        this.GetExamCategories();
    });
   },  
  mounted(){
    this.GetExamCategories();
  },
  beforeRouteUpdate(to,from, next){
    this.GetExamCategories();
    next();
  },
  methods:{ 
    GetExamCategories:function(){
        this.isLoading = true;
      getCategories2(null, this.PageLimit, this.PageOffset).then((response)=>{
        this.PageCount = response.body.PageCount;
        let _categoryList =  [];
        if(this.CategoryList.length > 0) {
            _categoryList =  this.CategoryList;
        } 
        if( _categoryList.length > 0 &&
            (_categoryList.length >= response.body.TotalCount)){
            this.PageOffset = this.PageCount;
            return;
        }    
        if(this.PageOffset >= 1){
            _categoryList.push(...response.body.Categories);
        }                   
        this.CategoryList = _categoryList;

      }).catch((response)=>{
        this.$toasted.show("Opps. Something went wrong at our end");
      }).finally(()=>{
        this.isLoading = false;
        this.isPagerLoading = false;
      });        
    },      

    CreateNewCategory:function(){
        this.$router.push({ name: 'NewCategory' });
    },
    GoToCateEditPage(id){
        this.$router.push({ name: 'EditCategory', params: { category_id: id } });
    },



    IncreasePageOffset(){
        if(this.PageOffset >= this.PageCount){
            return;
        }
        this.PageOffset = this.PageOffset+1;
        this.isPagerLoading = true;
        this.GetExamCategories();
    },    
  }
}
</script>