<template>
<div class="col-md-9 main-content admin-scrollable">
    <div class="loader" v-if="isLoading"></div>
    <div class="row header-row teacher-cate" v-else>
            <div class="col-md-4 aside-image">
                <div class="float-right exam-pic">
                    <span @click="OpenUploader()" v-if="isEditing" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                    <input @change="UploadCouseCover()" ref="update_cate_cover" type="file" id="changeCatePhoto" accept="image/*" />
                </div>
                <img v-if="input.CoverPhoto != '' && input.CoverPhoto != null" 
                :src="this.GetImageURL() + input.CoverPhoto"
                id="upd_course_cover">
                <div v-else class="noImg">
                    <span> {{input.CategoryTitle.charAt(0)}}</span>
                </div>
            </div> 
            <div class="col-md-8 main-description" >
                <h1><span v-if="!isEditing">{{input.CategoryTitle}}</span></h1>     

                <div class="form-group" v-if="isEditing">
                    <input v-model="input.CategoryTitle" :class="HasError(this.errors.CategoryTitle)" type="text" class="form-control"  placeholder="Title" >
                        <div v-if="this.errors.CategoryTitle.length > 0" class="invalid-feedback">
                            {{this.errors.CategoryTitle[0].replace("CategoryTitle", "Category Name")}}
                        </div>
                </div>    
                     
                <div class="form-group row">
                    <div  class="col-sm-12" >
                        <!-- <div v-if="!isEditing" class="table-ul-con">
                            <table  class="table-ul">
                                <tr>
                                    <td>{{input.CategoryDescription}}</td>
                                </tr>
                            </table>
                        </div>
                        <textarea v-model="input.CategoryDescription"  v-else :class="HasError(this.errors.CategoryDescription)" class="form-control" placeholder="Description"> </textarea>
                        <div v-if="this.errors.CategoryDescription.length > 0" class="invalid-feedback">
                            {{this.errors.CategoryDescription[0].replace("CategoryDescription", "Description")}}
                        </div>    -->

                        <div class="controls add-section-row">
                            <button type="button" class="btn edit" @click="ToggleEdit()">{{EditButton}}</button>
                            <button v-if="!isEditing" type="button" class="btn delete popup_are_you_sure">Delete Category</button>
                             <button v-else @click="CancelEdit()" type="button" class="btn delete">Cancel</button>
                        </div>  

                    </div>                
                
                </div>
            </div>             
    </div>
    <div v-if="!isLoading" class="row add-section-row">
        <div class="add_new_section popup_new_section_modal">
                <span class="fa fa-plus"></span>
                <span>ADD A NEW SECTION </span>
        </div>
    </div>  
    <div v-if="isSectionLoading" class="row section-row">
        <div class="sm-loader margin-top-15"></div>
    </div>
    <div v-else class="row section-row">
        <category-section-item  
            v-for="item in this.CategorySections"
            :key="item.category_section_id" 
            v-bind:propSectionItem="item">
        </category-section-item>
        <div class="clearing"></div>

    </div>    
    <!--NEW SECTION MODAL-->
    <new-section-modal v-if="!isLoading" v-bind:PropCategoryID="this.input.CategoryID"></new-section-modal>

    <!-- NEW SECTION LEVEL MODAL -->
    <new-category-level-modal></new-category-level-modal>
    <!-- EDIT SECTION LEVEL MODAL -->
    <edit-category-level-modal></edit-category-level-modal>


    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteDialog"></are-you-sure>
</div>       
</template>
<script>
import {getCategory, updateCategory, deleteCategory, getCategorySection} from '../../../../api/teacher/exam.js'
import {bus} from '../../../../main.js'
import AreYouSure from '../../../subcomponents/modal/AreYouSureModal'
import {uploadFile} from '../../../../api/common/file_upload.js'
import NewSectionModal from './subcomponents/NewExamSectionModal'
import NewCategoryLevelModal from './subcomponents/NewCategoryLevelModal'
import EditCategoryLevelModal from './subcomponents/EditCategoryLevelModal'
import CategorySectionItem from './subcomponents/CategorySectionItem'

export default {
    name:"EditCategory",
    components:{
        AreYouSure,NewSectionModal,NewCategoryLevelModal,EditCategoryLevelModal,CategorySectionItem
    },
    data(){
        return{
            isLoading:true,
            isSectionLoading:true,
            isEditing:false,
            editTexts:{
                normal : 'Edit Category',
                save : 'Save Changes'
            },
            EditButton:null,
            CategoryDatePosted:null,
            CategoryDetail:null,
            CategorySections:[],
            input:{
                CategoryID : null,
                CategoryTitle: null,
                CategoryDescription:null,
                CoverPhoto:''
            },
            errors:{
                CategoryID : [],
                CategoryTitle: [],
                CategoryDescription:[],
                CoverPhoto:[]               
            },
            DeleteDialogMessage:"Are you sure you want to delete this category?",
            uploadFiles:{
                CoverPhoto:'Choose Image',
                CourseCoverUploading:false
            }                 
        }
    },
    created(){
        //bind event bus functions to listedn
        bus.$on("reloadCateSections",()=>{
            this.GetCategorySections();
        });
    },    
    beforeRouteUpdate(to,from, next){
        let category_id = to.params.category_id;
        this.GetCategoryDetails(category_id);
        this.EditButton = this.editTexts.normal;
        next();
    },
    mounted(){
        let category_id = this.$route.params.category_id;
        this.GetCategoryDetails(category_id);
        this.EditButton = this.editTexts.normal;
    },
    methods:{
        GetCategoryDetails:function(category_id){
            this.isLoading = true;
            this.isEditing = false;
            getCategory(this.GetSessionHeaders(),category_id).then((response)=>{
                if(response.status == 200){
                    this.input.CategoryID = response.body.Categories.category_id; 
                    this.input.CategoryTitle = response.body.Categories.category_title;
                    this.input.CategoryDescription = response.body.Categories.category_desc;
                    this.input.CategoryDatePosted = response.body.Categories.date_added;
                    this.input.CoverPhoto = response.body.Categories.cover_photo;
                }
                this.GetCategorySections();
            }).catch((error)=>{


            }).finally(()=>{
                this.isLoading = false;
            });
        },
        ToggleEdit:function(){
            if(!this.isEditing){
                this.isEditing = true;
                this.EditButton = this.editTexts.save;
            }
            else{
                this.EditCategory();
            }
        },
        EditCategory:function(){
            this.isLoading = true;
            updateCategory(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("Category was succesfully updated!");
                this.isEditing = false;
                this.EditButton = this.editTexts.normal;
                bus.$emit('reloadCategoryList');
            }).catch((response)=>{
                try{
                    if(response.body.Errors.CategoryTitle){
                        this.errors.CategoryTitle = response.body.Errors.CategoryTitle;
                    }

                    if(response.body.Errors.CategoryDescription){
                        this.errors.CategoryDescription = response.body.Errors.CategoryDescription;
                    }
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        DeleteExamCategory:function(){
            deleteCategory(this.GetSessionHeaders(), this.input.CategoryID).then((response)=>{
                this.$toasted.success("Category was succesfully deleted!");
                this.$router.push({ name: 'Categories' });  
                bus.$emit('reloadCategoryList');              
            }).catch((response)=>{

            }).finally(()=>{

            });
        },
        DeleteDialog:function(){
            this.DeleteExamCategory();
        }       ,
        CancelEdit:function(){
            this.isEditing = false;
            this.EditButton = this.editTexts.normal;
            this.errors.CategoryTitle = [];
            this.errors.CategoryDescription = [];
            this.errors.CoverPhoto = [];
            this.GetCategoryDetails(this.input.CategoryID);
       },    
        OpenUploader:function(){
            document.getElementById('changeCatePhoto').click();
        },
        UploadCouseCover:function(){
            let formData = new FormData();
            let media_file = this.$refs.update_cate_cover.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.CourseCover = media_file.name;
            this.uploadFiles.CourseCoverUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.CoverPhoto = response.body.File.FileName;
                //do a preview in view after image has been uploaded
                var oFReader = new FileReader();
                oFReader.readAsDataURL(media_file);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("upd_course_cover").src = oFREvent.target.result;
                };                

            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at uploading your image");
            }).finally(()=>{
                this.uploadFiles.CourseCoverUploading = false;
            });
        },   
        GetCategorySections:function(){
            this.isSectionLoading = true;
           getCategorySection(this.GetSessionHeaders(), this.input.CategoryID).then((response)=>{
               this.CategorySections = response.body.CategorySection;
           }).catch((response)=>{

           }).finally(()=>{
               this.isSectionLoading = false;
           })
       }, 

    }        
}
</script>
<style>
#changeCatePhoto{
    display: none;
}
</style>