<template>
<div class="col-md-9 main-content">

    <div class="loader" v-if="isLoading"></div>

    <div class="row header-row" v-else>
        <div class="col-md-4 aside-image">
            <div class="float-right exam-pic">
                <span @click="OpenUploader()" v-if="isEditing" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                <input @change="UploadCouseCover()" ref="update_course_cover" type="file" id="changeCoursePhoto" accept="image/*" />
            </div>
            <img v-if="input.CourseCoverPhoto != '' && input.CourseCoverPhoto != null" 
            :src="this.GetImageURL() + input.CourseCoverPhoto"
             id="upd_course_cover">
            <div v-else class="noImg">
                <span> {{input.CourseTitle.charAt(0)}} </span>
            </div>
        </div>  
        <div class="col-md-8 main-description" >
       
            <!-- <h6>
                {{input.ExamDatePosted}}
            </h6> -->

            <h1><span v-if="!isEditing">{{input.CourseTitle}}</span>      </h1>
            <div v-if="isEditing" class="form-group">
                <input v-model="input.CourseTitle" :class="HasError(this.errors.CourseTitle)" 
                type="text" class="form-control"  placeholder="Exam Title" >
                    <div v-if="errors.CourseTitle.length > 0" class="invalid-feedback">
                        {{this.errors.CourseTitle[0].replace("CourseTitle", "Title")}}
                    </div>
            </div>                
      
            <div class="form-group row">
                <div v-if="!isEditing" class="col-sm-12" >
                    <!-- <label for="course_edit_category" class="col-form-label">{{CategoryTitle}}</label> -->
                    <div class="table-ul-con">
                        <table class="table-ul">
                            <tr>
                                <td class="title">Category </td>
                                <td>{{CategoryTitle}}</td>
                            </tr> 
                            <tr>
                                <td class="title">Section </td>
                                <td>{{CourseDetail.section_title}}</td>
                            </tr>      
                            <tr>
                                <td class="title">Level </td>   
                                <td>{{CourseDetail.level_title}}</td>
                            </tr>      
                            <tr>
                                <td class="title">Chapter </td>
                                <td>{{CourseDetail.chapter_no}}</td>
                            </tr>                                                                            
                            <tr>
                                <td class="title">No. of Questions </td>
                                <td>{{input.NoOfQuestion}}</td>
                            </tr>
                            <tr>
                                <td class="title">Passing Grade</td>
                                <td>{{input.PassingGrade}}</td>
                            </tr>
                            <tr>
                                <td class="title">Retake Count</td>
                                <td>
                                    <span v-if="input.Retake != 4">{{input.Retake}} </span>
                                    <span v-else>Infinite</span>
                                </td>
                            </tr>
                            <tr v-if="input.TimeLimit > 0">
                                <td class="title">Time Limit</td>
                                <td>
                                    <span>{{input.TimeLimit}} Minutes</span>
                                </td>
                            </tr>                            
                        </table>
                    </div>
                </div>
                <div v-else class="col-sm-12" >
                    <div class="table-ul-con">
                        <table class="table-ul table-ul2">
                            <tr>
                                <td class="title">No. of Questions </td>
                                <td class="input">
                                    <input v-model="input.NoOfQuestion" :class="HasError(this.errors.NoOfQuestion)"  type="text"  class="form-control">
                                    <div v-if="errors.NoOfQuestion.length > 0" class="invalid-feedback">
                                        {{this.errors.NoOfQuestion[0].replace("NoOfQuestion", "No of Questions")}}
                                     </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Passing Grade</td>
                                <td class="input">
                                    <input v-model="input.PassingGrade" :class="HasError(this.errors.PassingGrade)" type="text"  class="form-control">
                                    <div v-if="errors.PassingGrade.length > 0" class="invalid-feedback">
                                        {{this.errors.PassingGrade[0].replace("PassingGrade", "Passing Grade")}}
                                    </div>                                
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Time Limit</td>
                                <td class="input">
                                    <input v-model="input.TimeLimit" :class="HasError(this.errors.TimeLimit)" type="number" 
                                    class="form-control"  placeholder="Time Limit (Minutes)"  aria-describedby="clock-addon">
                                    <div v-if="errors.TimeLimit.length > 0" class="invalid-feedback">
                                        {{this.errors.TimeLimit[0].replace("TimeLimit", "Time Limit")}}
                                    </div>                                
                                </td>
                            </tr>                            
                            <tr>
                                <td class="title">Retake Count</td>
                                <td class="input">
                                    <select  v-model="input.Retake"  class="form-control" :class="HasError(this.errors.Retake)">
                                        <option value="" selected>Select Retake Count</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">Infinite</option>
                                    </select>   
                                    <div v-if="errors.Retake.length > 0" class="invalid-feedback">
                                        {{this.errors.Retake[0].replace("Retake", "Retake Count")}}
                                    </div>                                                                       
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Section</td>
                                <td class="input">
                                    <select  v-model="input.SectionID"  @change="GetSectionLevels()" class="form-control"
                                    :class="HasError(this.errors.SectionID)">
                                        <option value="0" selected>Select Section</option>
                                        <option v-for="(item, index) in Items" :key="'item_'+index" :value="item.category_section_id" >
                                            {{item.section_title}}
                                        </option>
                                    </select>   
                                    <div v-if="errors.SectionID.length > 0" class="invalid-feedback">
                                        {{this.errors.SectionID[0].replace("SectionID", "Section")}}
                                    </div>                                      
                                </td>

                            </tr>
                            <tr>
                                <td class="title">Level</td>
                                <td class="input">
                                    <select  v-model="input.Level" class="form-control"
                                    :class="HasError(this.errors.Level)"
                                    @change="GetQuestionBanks()">
                                        <option value="0" selected>Select Level</option>
                                        <option v-for="(level, index) in Levels" :key="'levels_'+index" :value="level.category_section_level_id" >
                                            {{level.level_title}}
                                        </option>
                                    </select>   
                                    <div v-if="errors.Level.length > 0" class="invalid-feedback">
                                        {{this.errors.Level[0]}}
                                    </div>                                      
                                </td>
                            </tr>    
                            <tr>
                                <td class="title">Chapter</td>
                                <td class="input">
                                    <input v-model="input.Chapter" class="form-control"
                                    :class="HasError(this.errors.Chapter)" type="number" placeholder="Chapter No" >    
                                    <div v-if="errors.Chapter.length > 0" class="invalid-feedback">
                                        {{this.errors.Chapter[0]}}
                                    </div>                                      
                                </td>
                            </tr>   
                            <tr>
                                <td class="title">Question Bank</td>
                                <td class="input">
                                    <select v-model="input.QuestionBank"
                                    :class="HasError(this.errors.QuestionBank)" class="form-control">
                                        <option value="0" selected>Select Question Bank</option>
                                        <option v-for="item in QuestionBankList" 
                                        :value="item.question_bank_id" :key="'bank'+item.question_bank_id" >{{item.question_bank_title}}</option>
                                    </select>   
                                    <div v-if="errors.QuestionBank.length > 0" class="invalid-feedback">
                                        {{this.errors.QuestionBank[0].replace("QuestionBank", "Question Bank")}}
                                    </div>                                 
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Category</td>
                                <td class="input">
                               
                                    <select :disabled="!isEditing" v-model="input.CategoryID" :class="HasError(this.errors.CategoryID)" id="course_edit_category" class="form-control">
                                        <option value="0">Select Category</option>
                                        <option v-for="item in Categories" :value="item.category_id" :key="item.category_id" :selected="item.category_id == input.CategoryID">{{item.category_title}}</option>
                                    </select>
                                    <div v-if="errors.CategoryID.length > 0" class="invalid-feedback">
                                         {{this.errors.CategoryID[0].replace("CategoryID", "Category")}}
                                    </div>                            
                                </td>
                            </tr>                                                                                         
                        </table>
                    </div>                 
                </div>
            </div>                        
            <div class="controls">
                <button type="button" class="btn edit" @click="ToggleEdit()">{{EditButton}}</button>
                <button v-if="isEditing"  @click="CancelEdit()" type="button" class="btn delete">Cancel</button>
                <button v-else type="button" class="btn delete popup_are_you_sure">Delete Exam</button>
            </div>
            
           
        </div>
    </div>    

    <div class="row control-row">
        <ul>
            <li @click="tab = 'exam_desc'" :class="{ active: tab === 'exam_desc' }">Description</li>
            <li @click="tab = 'exam_structure'" :class="{ active: tab === 'exam_structure' }">Structure</li>
        </ul>
        <div class="clearing"></div>
    </div>

    <div class="row" v-if="this.tab=='exam_desc'">
        <div class="col-12">
            <p v-if="!isEditing">
                <br>
                <span>
                {{input.CourseDescription}}
                </span>
            </p>
            <div class="form-group"  v-else>
                <textarea v-model="input.CourseDescription" :class="HasError(this.errors.CourseDescription)"  
                class="form-control" placeholder="Exam Description" rows="3" > </textarea>
                <div class="invalid-feedback">
                    {{this.errors.CourseDescription[0]}}
                </div>
            </div>                 
        </div>
    </div>

    <div v-if="!isLoading" :class="{ 'disp-none' : this.tab!='exam_structure'}">

        <exam-section-item  v-for="item in this.CourseSections" 
        :key="item.course_section_id" v-bind:propSectionItem="item"
        v-bind:categorySectionID="CourseDetail.category_section_id"
        v-bind:categoryLevelID="CourseDetail.category_section_level_id">
            
        </exam-section-item>
        <div class="clearing"></div>

    </div>


    <div v-if="this.tab=='exam_structure'" class="row section-row">




    </div>
  


    <!--NEW SECTION MODAL-->
    <!-- <new-section-modal v-bind:PropCourseID="input.CourseID"></new-section-modal> -->
    <!--NEW WORKSHEET MODAL-->
    <new-work-sheet  v-if="!isLoading"  v-bind:PropCourseID="input.CourseID" 
    v-bind:PropBankID="input.QuestionBank" ></new-work-sheet>
    <!--NEW WORKSHEET MODAL-->
    <new-unit-test  v-if="!isLoading"  v-bind:PropCourseID="input.CourseID" v-bind:PropBankID="input.QuestionBank"></new-unit-test>
    <!-- Edit Worksheet Modal -->
    <edit-work-sheet  v-if="!isLoading"></edit-work-sheet>
    <!-- Edit Unit Test Modal -->
    <edit-unit-test  v-if="!isLoading"></edit-unit-test>
    
    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteDialog"></are-you-sure>



</div>   
    
</template>

<script>
import {getCourseDetail, getCategories, updateCourseExam, deleteCourseExam, getCourseSection,
 getItemsforQuestionBanks, getSectionLevelforQuestionBanks} from '../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../api/teacher/question_bank.js';
import ExamSectionItem from './subcomponents/ExamSectionItem'
import NewSectionModal from './subcomponents/NewExamSectionModal'
import NewWorkSheet from './subcomponents/NewWorkSheet'
import NewUnitTest from './subcomponents/NewUnitTest'
import EditWorkSheet from './subcomponents/EditWorsheetModal'
import EditUnitTest from './subcomponents/EditUnitTestModal'
import AreYouSure from '../../../subcomponents/modal/AreYouSureModal'
import {uploadFile} from '../../../../api/common/file_upload.js'

import {bus} from '../../../../main.js'

export default {
    name:"EditExam",
    components:{ ExamSectionItem, NewSectionModal, NewWorkSheet,NewUnitTest, AreYouSure, EditWorkSheet, EditUnitTest},
    data(){
        return{
            isLoading:true,
            isGetQuestionLoading:false,
            isEditing:false,
            editTexts:{
                normal : 'Edit Exam',
                save : 'Save Changes'
            },
            EditButton:null,
            Categories:[],
            CategoryTitle:null,
            CourseSections:[],
            Items:[],
            Levels:[],
            QuestionBankList:[],
            CourseDetail:null,
            input:{
                CourseID:null,
                ExamDatePosted:null,
                CourseTitle: null,
                CourseExcerpt:null,
                CourseDescription:null,
                CategoryID:null,
                SectionID:0,
                Level:0,                
                Chapter:null,
                QuestionBank:0,                
                NoOfQuestion:0,
                Retake:3,
                PassingGrade:null,                
                CourseCoverPhoto: "",
                TimeLimit:null
            },
            errors:{
                CourseID:[],
                CourseTitle: [],
                CourseExcerpt:[],
                CourseDescription:[],
                CategoryID:[],
                SectionID:[],
                Level:[],                
                Chapter:[],
                QuestionBank:[],                
                CourseCoverPhoto: [],
                NoOfQuestion:[],
                Retake:[],
                PassingGrade:[]  ,
                TimeLimit:[]              
            },
            delete_input:{
                BankID : null,
                Delete : null
            },
            tab:'exam_desc',
            DeleteDialogMessage:"Are you sure you want to delete this exam?",
            //Pager
            PageLimit : 20,//def = 20
            PageOffset: 1,
            PageCount:null,
            uploadFiles:{
                CourseCover:'Choose Image',
                CourseCoverUploading:false
            }            
        }
    },
    beforeRouteUpdate(to,from, next){
        let exam_id = to.params.exam_id;
        this.GetExamCourseDetails(exam_id);
        this.GetCourseCategories();
        this.EditButton = this.editTexts.normal;
        this.isEditing = false;
        next();
    },
    created(){
        //bind event bus functions to listedn
        bus.$on("reloadSections",()=>{
            this.GetCourseSections();
        });

    },
    mounted(){
        let exam_id = this.$route.params.exam_id;
        this.GetExamCourseDetails(exam_id);
        this.GetCourseCategories();
  
        this.EditButton = this.editTexts.normal;
        this.isEditing = false;
    },    
    methods:{
       GetExamCourseDetails:function(exam_id){
           this.isLoading = true;
           this.input.CourseID = exam_id;
           getCourseDetail(this.GetSessionHeaders(),exam_id).then((response)=> {
               if(response.status == 200){
                   this.CourseDetail = response.body.Course;
                   this.input.CourseID = exam_id;
                   this.input.CourseTitle = response.body.Course.course_title;
                   this.input.CourseExcerpt = response.body.Course.course_excerpt;
                   this.input.CourseDescription = response.body.Course.course_description;
                   this.input.CategoryID = response.body.Course.category_id;
                   this.input.SectionID = response.body.Course.category_section_id;
                   this.input.Level = response.body.Course.category_section_level_id;
                   this.input.Chapter = response.body.Course.chapter_no;
                   this.input.QuestionBank = response.body.Course.question_bank_id;
                   this.input.ExamDatePosted = response.body.Course.date_added;
                   this.input.CourseCoverPhoto = response.body.Course.course_cover_image;
                   this.CategoryTitle = response.body.Course.category_title;
                   this.input.NoOfQuestion = response.body.Course.no_of_questions;
                   this.input.Retake = response.body.Course.retake_allowed;
                   this.input.PassingGrade = response.body.Course.passing_rate;
                   this.input.TimeLimit = response.body.Course.time_limit;
                   this.GetCourseSections();
                   this.GetItems();
                   this.GetSectionLevels();
                   this.GetQuestionBanks();
               }
           }).catch((response)=>{

           }).finally(()=>{
               this.isLoading = false;
           });
       },
        GetCourseCategories:function(){
            getCategories().then((response)=>{
                this.Categories = response.body.Categories;
            })
        },
        GetItems:function(){
            getItemsforQuestionBanks(this.GetSessionHeaders(), this.input.CategoryID).then((response)=>{
                this.Items = response.body.Items;
            });
        }, 
        GetSectionLevels:function(){
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.input.SectionID).then((response)=>{
                this.Levels = response.body.Levels;
            });
        }, 
        GetQuestionBanks:function(){
            getQuestionBanks(this.GetSessionHeaders(), 100,1, this.input.SectionID, this.input.Level).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },
       GetCourseSections:function(){
           getCourseSection(this.GetSessionHeaders(), this.input.CourseID).then((response)=>{
               this.CourseSections = response.body.CourseSection;
           }).catch((response)=>{

           }).finally(()=>{

           })
       },     
       ToggleEdit:function(){
        if(!this.isEditing){
            this.isEditing = true;
            this.EditButton = this.editTexts.save;
        }
        else{
            this.EditCourseExam();
        }
       },
       CancelEdit:function(){
            this.isEditing = false;
            this.EditButton = this.editTexts.normal;
            this.GetExamCourseDetails(this.input.CourseID);
            this.ResetInputs();
       },
       EditCourseExam:function(){
            this.isLoading = true;
           updateCourseExam(this.GetSessionHeaders(),this.input).then((response)=>{
                this.$toasted.success("Exam Details was succesfully updated!");
                this.isEditing = false;
                this.EditButton = this.editTexts.normal;
                //refresh data
                this.GetExamCourseDetails(this.input.CourseID);
                bus.$emit('reloadExamList');
           }).catch((response)=>{
                try{
                    if(response.body.Errors.CourseTitle){
                        this.errors.CourseTitle = response.body.Errors.CourseTitle;
                    }

                    if(response.body.Errors.CourseExcerpt){
                        this.errors.CourseExcerpt = response.body.Errors.CourseExcerpt;
                    }

                    if(response.body.Errors.CourseDescription){
                        this.errors.CourseDescription = response.body.Errors.CourseDescription;
                    }
                    
                    if(response.body.Errors.CategoryID){
                        this.errors.CategoryID = response.body.Errors.CategoryID;
                    }     

                    if(response.body.Errors.SectionID){
                        this.errors.SectionID = response.body.Errors.SectionID;
                    }else{
                        this.errors.SectionID = [];
                    }   
                    
                    if(response.body.Errors.Level){
                        this.errors.Level = response.body.Errors.Level;
                    }else{
                        this.errors.Level = [];
                    }                       

                    if(response.body.Errors.Chapter){
                        this.errors.Chapter = response.body.Errors.Chapter;
                    }else{
                        this.errors.Chapter = [];
                    }   
                    
                    if(response.body.Errors.QuestionBank){
                        this.errors.QuestionBank = response.body.Errors.QuestionBank;
                    }else{
                        this.errors.QuestionBank = [];
                    }  

                    if(response.body.Errors.NoOfQuestion){
                        this.errors.NoOfQuestion = response.body.Errors.NoOfQuestion;
                    }  

                    if(response.body.Errors.Retake){
                        this.errors.Retake = response.body.Errors.Retake;
                    }  

                    if(response.body.Errors.PassingGrade){
                        this.errors.PassingGrade = response.body.Errors.PassingGrade;
                    }       
                    
                    if(response.body.Errors.TimeLimit){
                        this.errors.TimeLimit = response.body.Errors.TimeLimit;
                    }                                                                                                      

                }catch(e){
                    console.log(e);
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }
           }).finally(()=>{
            this.isLoading = false;
           });
       },
        DeleteExamCourse:function(exam_id){
            deleteCourseExam(this.GetSessionHeaders(), exam_id).then((response)=>{
                this.$toasted.success("Exam was succesfully deleted!");
                bus.$emit('reloadExamList');
                this.$router.push({ name: 'Exams' });

            }).catch((response)=>{

            });
        },
        DeleteDialog:function(){
            this.DeleteExamCourse(this.input.CourseID);
        }     ,
        OpenUploader:function(){
            document.getElementById('changeCoursePhoto').click();
        },        
        UploadCouseCover:function(){
            let formData = new FormData();
            let media_file = this.$refs.update_course_cover.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.uploadFiles.CourseCover = media_file.name;
            this.uploadFiles.CourseCoverUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.CourseCoverPhoto = response.body.File.FileName;
                //do a preview in view after image has been uploaded
                var oFReader = new FileReader();
                oFReader.readAsDataURL(media_file);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("upd_course_cover").src = oFREvent.target.result;
                };                

            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at uploading your image");
            }).finally(()=>{
                this.uploadFiles.CourseCoverUploading = false;
            });
        },  
        ResetInputs:function(){
            this.errors.isSubmitted=false;
            this.errors.CourseTitle = [];
            this.errors.CourseExcerpt = [];
            this.errors.CourseDescription = [];
            this.errors.CategoryID = [];
            this.errors.SectionID = [];
            this.errors.Level = [];
            this.errors.Chapter = [];  
            this.errors.QuestionBank = [];
            this.errors.NoOfQuestion = [];  
            this.errors.Retake = [];  
            this.errors.PassingGrade = [];  
            this.errors.TimeLimit = []; 
        },                 

    }
    
    
}
</script>
<style>
#changeCoursePhoto{
    display: none;
}
</style>

