<template>
<div class="row rw-max-height">

    <exam-list></exam-list>

    <div class="col-md-9 main-content" v-if="isInitialLoad">
        <p class="watermark watermark-2">
            <img src="../../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <transition v-else name="fade" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
    </transition>
    
</div>       
</template>


<script>
import ExamList from './ExamList.vue';
export default {
    name:"Exams",
    components:{
        ExamList
    },
    data(){
        return{
            isInitialLoad : true
        }
    },
    created(){
        if(this.$route.name == 'Exams')
        {
            this.isInitialLoad = true;
        }else{
            this.isInitialLoad = false;
        }
    },
    beforeRouteUpdate(to,from, next){

        if(from.name == 'Exams'){
            this.isInitialLoad= false;
        }else{
            this.isInitialLoad = false;
        }

        next();
    },         
}
</script>

