<template>
     <div class="col-md-3 search-sidebar ">
        <div class="search-controls">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <!--ITEMS-->
        <div class="searched-items">
            <div v-for="(item,index) in CourseList" @click="GoToBankEditPage(item.course_id)" :key="'search_'+item.course_id +'_' + index" class="item">
                <div class="aside-image">
                    <img v-if="item.course_cover_image != '' && item.course_cover_image != null" :src="$parent.GetImageURL() + item.course_cover_image">
                    <span v-else class="circling-title">{{item.course_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title teacher_title">{{item.course_title}}</div> 
                    <!-- <div class="description line-clamp line-clamp-3">{{item.course_description}}</div> -->
                    <div class="description line-clamp line-clamp-3">
                        <p class="line-clamp line-clamp-1">{{item.category_title}} - {{item.section_title}} <br>
                        <span>{{item.level_title}}</span></p>
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
           <div v-if="(PageCount  > PageOffset) && PageCount > 1" @click="IncreasePageOffset()"  class="item">
                <div class="load-more">
                    <div class="sm-loader margin-top-15" v-if="isPagerLoading"></div>
                    <div class="ft-size-21 col-centered  margin-top-15" v-else>Load More</div>
                </div>
            </div>              
        </div>
        <!--END ITEMS-->

    </div>    
</template>

<script>
import {getTeacherCourses} from '../../../../api/teacher/exam.js';
import {getQuestionBanks} from '../../../../api/teacher/question_bank.js'
import {bus} from '../../../../main.js'
export default {
    name:"ExamList",
    data(){
        return{
            isSearching:false,
            SearchInput:'',
            isLoading : true,
            Sort : 1,
            PageLimit : 10,
            PageOffset: 1,
            PageCount : 0,  
            isPagerLoading:false,            
          
        }
    },
    computed:{
        CourseList:function(){
            if(this.isSearching && this.SearchInput != ''){
               return this.$store.state.teacherCourses.filter(item=>{
                    return item.course_title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            
            if(this.Sort == 0){
                let temp =  this.$store.state.teacherCourses.slice();
                return temp.sort(function(a,b){
                    var nameA = a.course_title.toUpperCase(); 
                    var nameB = b.course_title.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }            
            if(this.Sort == 1){
                return this.$store.state.teacherCourses;
            }
            if(this.Sort == 2){
                let temp =  this.$store.state.teacherCourses.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }
            //fallback
            return this.$store.state.teacherCourses;
        }
    },   
    created(){
        bus.$off("reloadExamList");
        //bind event bus functions to listedn
        bus.$on("reloadExamList",()=>{
            this.PageOffset=  1;       
            this.PageCount = 0;             
            this.$store.commit("commitTeacherCourses",[]);            
            this.GetExamList();
        });
        this.GetExamList();
        this.GetQuestionBanks();
    },     
    beforeRouteUpdate(to,from, next){
        this.GetExamList();
        next();
    },    
    methods:{
        GetExamList:function(){
            this.isLoading = true;
            getTeacherCourses( this.GetSessionHeaders(),this.PageLimit, this.PageOffset).then((response)=>{
                this.PageCount = response.body.PageCount;
            
                let _exams =  [];
                if(this.$store.state.teacherCourses) {
                    _exams =  this.$store.state.teacherCourses;
                }
                if( _exams.length > 0 &&
                    (_exams.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }       

                if(this.PageOffset >= 1){
                    _exams.push(...response.body.Courses);
                }

                this.$store.commit("commitTeacherCourses", _exams);
            }).catch((response)=>{
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isLoading = false;
            });        
        },         
        GoToBankEditPage(id){
            this.$router.push({ name: 'EditExam', params: { exam_id : id } });
        } ,
        GetQuestionBanks:function(){
            getQuestionBanks(this.GetSessionHeaders(), this.PageLimit, this.PageOffset).then((response)=>{
                this.$store.commit("commitTeacherBanks", response.body.QuestionBanks);
            });
        },     
        IncreasePageOffset(){
            if(this.PageOffset >= this.PageCount){
                return;
            }
            this.PageOffset = this.PageOffset+1;
            this.isPagerLoading = true;
            this.GetExamList();
        },                            
    }
}
</script>

