<template>
<div class="col-md-9 main-content">
    <div class="row header-row">
        <div class="col-md-10 main-description offset-1" >

            <div v-if="isSucceed" class="alert agora-new-alert" role="alert">
                <h5 class="alert-heading"><b>CATEGORY :</b> {{input.CategoryTitle}} was successfully added</h5>
                <p>
                    {{input.CategoryDescription}}
                </p>
                <p class="text-right">
                    <button @click="CancelCategory()"  class="btn btn-sm modal-close success-btn">Go Back</button>
                    <button @click="CreateNewCategory()"  class="btn btn-sm modal-close success-btn">Add New </button>
                </p>
            </div>        

            <form v-else @submit="SubmitNewCategory">
                <h1>New Exam Category</h1>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10">
                    <input v-model="input.CategoryTitle" :class="HasError(errors.CategoryTitle, isInitialLoad)" type="text" class="form-control" id="cateTitle" placeholder="Category Name" >
                    <div v-if="this.errors.CategoryTitle.length > 0"  class="invalid-feedback">
                        {{this.errors.CategoryTitle[0].replace("CategoryTitle", "Category Name")}}
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <div class="custom-file" :class="HasError(this.errors.CoverPhoto, isInitialLoad)">
                                <input @change="UploadCategoryCover" ref="cate_cover"
                                :class="HasError(this.errors.CoverPhoto, isInitialLoad)"
                                  type="file" class="custom-file-input curs-pointer" accept="image/*">
                                <label class="custom-file-label nowrap" for="cover_photo">{{uploadFiles.CoverPhoto}}</label>                          
                            </div>
                            <div v-if="this.errors.CoverPhoto.length > 0"  class="invalid-feedback disp-block">
                                {{this.errors.CoverPhoto[0].replace("CoverPhoto","Photo")}}
                            </div> 
                        </div>                        

                    <sync-loader v-if="uploadFiles.CourseCoverUploading"></sync-loader>
                    <div class="exam-cover-preview" v-if="input.CoverPhoto != ''">
                        <img  id="uploadPreview" />
                        <span @click="CancelUpload()" class="fa fa-times"></span>
                    </div>
                    
                    </div>
                </div>                 
                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
                        <span v-if="!isSubmitted"> Submit </span>
                        <pulse-loader v-else></pulse-loader>
                    </button>
                    <button type="button" @click="CancelCategory()" class="btn btn-lg btn-danger">Cancel</button>  
                </div>        
            </form>
        </div>
    </div>
</div>       
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
import {newCategory} from '../../../../api/teacher/exam.js'
import {bus} from '../../../../main.js'
import {uploadFile} from '../../../../api/common/file_upload.js'
export default {
    name:"NewCategory",
    components: {PulseLoader, SyncLoader},
    data(){
        return{
            isInitialLoad:true,
            isSubmitted : false,
            isSucceed : false,
            input:{
                CategoryTitle:null,
                CategoryDescription:null,
                CoverPhoto:'',
            },
            errors:{
                CategoryTitle:[],
                CategoryDescription:[],
                CoverPhoto:[]
            },
            uploadFiles:{
                CoverPhoto:'Choose Image',
                CourseCoverUploading:false
            }            
        }
    },

    methods:{
        SubmitNewCategory:function(e){
            e.preventDefault();
            if(this.isSubmitted){
                return;
            }
            this.isSubmitted = true;
            this.isInitialLoad = false;
            newCategory(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadCategoryList');
            }).catch((response)=>{
                try{
                    if(response.body.Errors.CategoryTitle){
                        this.errors.CategoryTitle = response.body.Errors.CategoryTitle;
                    }else{
                        this.errors.CategoryTitle = [];
                    }

                    if(response.body.Errors.CategoryDescription){
                        this.errors.CategoryDescription = response.body.Errors.CategoryDescription;
                    }else{
                        this.errors.CategoryDescription = [];
                    }
                    if(response.body.Errors.CoverPhoto){
                        this.errors.CoverPhoto = response.body.Errors.CoverPhoto;
                    }else{
                        this.errors.CoverPhoto = [];
                    }
                    
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }
            }).finally(()=>{
                this.isSubmitted = false;
            });

        },
        ResetInputs:function(){
            this.isSubmitted=false;
            this.isSucceed=false;
            this.isInitialLoad = true;
            this.input.CategoryTitle = null;
            this.input.CategoryDescription = null;
            this.input.CoverPhoto = '';
            this.errors.CategoryTitle = [];
            this.errors.CategoryDescription = [];
            this.errors.CoverPhoto = [];
            this.uploadFiles.CoverPhoto = 'Choose Image';
        },
        CreateNewCategory:function(){
            this.ResetInputs();
            this.$router.push({ name: 'NewCategory' });
        },
        CancelCategory:function(){
            this.ResetInputs();
            this.$router.push({ name: 'Exams' });
        },
        UploadCategoryCover:function(){
            let formData = new FormData();
            let media_file = this.$refs.cate_cover.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }


            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.CoverPhoto = media_file.name;
            this.uploadFiles.CourseCoverUploading = true;
            
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.CoverPhoto = response.body.File.FileName;
                //do a preview in view after image has been uploaded
                var oFReader = new FileReader();
                oFReader.readAsDataURL(media_file);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("uploadPreview").src = oFREvent.target.result;
                };                

            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at uploading your image");
            }).finally(()=>{
                this.uploadFiles.CourseCoverUploading = false;
            });
        },
        CancelUpload:function(){
            this.uploadFiles.CoverPhoto = 'Choose Image';
            this.uploadFiles.CourseCover = 'Choose Image';
            this.$refs.cate_cover.files = null;
            this.input.CoverPhoto = '';
        },                           
    }    
}
</script>

<style scoped>
.exam-cover-preview{
    position: relative;
    width:350px;
}
.exam-cover-preview span{
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
}
.exam-cover-preview img {
    width:350px;
}

</style>
