<template>
<div class="col-md-9 main-content admin-scrollable">
    <div class="row header-row">
        <div class="col-md-10 main-description offset-1 teacher-new-exam" >
            
            <div v-if="isSucceed" class="alert agora-new-alert" role="alert">
              
                <h5 class="alert-heading"><b>EXAM :</b> {{input.CourseTitle}} was successfully added!</h5>
                <p>
                    {{input.CourseDescription}}
                </p>
            </div>
            <div v-if="isSucceed" role="alert">
                <div class="row">
                    <div class="col-md-6">
                        <div @click="CreateNewSection()" class="row add-section-row">
                            <div class="add_new_section two-col">
                                <span class="fa fa-plus"></span>
                                <span>GO TO EXAM STRUCTURE </span>
                            </div>
                        </div>                          
                    </div>
                    <div class="col-md-6">
                        <div @click="CreateNewExam()"   class="row add-section-row">
                            <div class="add_new_section two-col">
                                <span class="fa fa-plus"></span>
                                <span>ADD ANOTHER EXAM </span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>        

            <form v-else @submit="SubmitNewExam">
                <h1>Create a New Exam</h1>
                <br>
                <div class="form-group row">
                    <!-- <label for="courseTitle" class="col-sm-2 col-form-label">Exam Title</label> -->
                    <div class="col-sm-12">
                    <input v-model="input.CourseTitle" :class="HasError(this.errors.CourseTitle, isInitialLoad)" type="text" class="form-control" id="courseTitle" placeholder="Exam Name" >
                    <div v-if="this.errors.CourseTitle.length > 0" class="invalid-feedback">
                        {{this.errors.CourseTitle[0].replace("CourseTitle", "Title")}}
                    </div>
                    </div>
                </div>
                             
                <div class="form-group row">
                    <!-- <label for="course_description" class="col-sm-2 col-form-label">Exam Description</label> -->
                    <div class="col-sm-12">
                    <textarea v-model="input.CourseDescription" 
                    :class="HasError(this.errors.CourseDescription, isInitialLoad)" 
                    class="form-control" id="course_description"  rows="1" placeholder="Description">
                    </textarea>
                    <div class="invalid-feedback">
                        {{this.errors.CourseDescription[0]}}
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.CategoryID"  @change="GetItems()"
                     id="course_category" :class="HasError(this.errors.CategoryID, isInitialLoad)" class="form-control">
                        <option value="0" selected>Select Category</option>
                        <option v-for="item in Categories" :value="item.category_id" :key="item.category_id">{{item.category_title}}</option>
                    </select>
                    <div v-if="errors.CategoryID.length > 0" class="invalid-feedback">
                        {{this.errors.CategoryID[0].replace("CategoryID", "Category")}}
                    </div>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.SectionID"  @change="GetSectionLevels()"
                     :class="HasError(this.errors.SectionID, isInitialLoad)" class="form-control">
                        <option value="0" selected>Select Section</option>
                        <option v-for="(item, index) in Items" :key="'item_'+index" :value="item.category_section_id" >
                            {{item.section_title}}
                        </option>
                    </select>
                    <div v-if="errors.SectionID.length > 0" class="invalid-feedback">
                        {{this.errors.SectionID[0].replace("SectionID", "Section")}}
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.Level"
                     :class="HasError(this.errors.Level, isInitialLoad)" 
                     @change="GetQuestionBanks()"
                     class="form-control">
                        <option value="0" selected>Select Level</option>
                        <option v-for="(level, index) in Levels" :key="'levels_'+index" :value="level.category_section_level_id" >
                            {{level.level_title}}
                        </option>
                    </select>
                    <div v-if="errors.Level.length > 0" class="invalid-feedback">
                        {{this.errors.Level[0]}}
                    </div>
                    </div>
                </div>     

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.Chapter" :class="HasError(this.errors.Chapter, isInitialLoad)" type="number" placeholder="Chapter No" class="form-control">    
                    <div v-if="errors.Chapter.length > 0" class="invalid-feedback">
                        {{this.errors.Chapter[0]}}
                    </div>
                    </div>
                </div>                                  

                <div class="form-group row">
                    <label for="course_description" class="col-sm-3 col-form-label">Question Bank</label>
                    <div class="col-sm-9">
                        <select v-model="input.QuestionBank"
                        :class="HasError(this.errors.QuestionBank, isInitialLoad)" class="form-control">
                            <option value="0" selected>Select Question Bank</option>
                             <option v-for="item in QuestionBankList" 
                             :value="item.question_bank_id" :key="'bank'+item.question_bank_id" >{{item.question_bank_title}}</option>
                        </select>
                        <div v-if="errors.QuestionBank.length > 0" class="invalid-feedback">
                            {{this.errors.QuestionBank[0].replace("QuestionBank", "Question Bank")}}
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <label for="course_description" class="col-sm-3 col-form-label">Lesson Type</label>
                    <label for="course_description" class="col-sm-9 col-form-label">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.
                    </label>
                </div>                 -->

                <!-- NO of Question -->
                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.NoOfQuestion" :class="HasError(this.errors.NoOfQuestion, isInitialLoad)" type="number" class="form-control" id="course_no_of_quest"  placeholder="No of Question" >
                    <div v-if="this.errors.NoOfQuestion.length > 0" class="invalid-feedback">
                        {{this.errors.NoOfQuestion[0].replace("NoOfQuestion", "No Of Question")}}
                    </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="clock-addon"> <span class="fa fa-clock color-text-sub-1"></span></span>
                        </div>
                        <input v-model="input.TimeLimit" :class="HasError(this.errors.TimeLimit, isInitialLoad)" type="number" class="form-control"  placeholder="Time Limit (Minutes)"  aria-describedby="clock-addon">
                        <div v-if="this.errors.TimeLimit.length > 0"  class="invalid-feedback">
                            {{this.errors.TimeLimit[0].replace("TimeLimit", "Time Limit")}}
                        </div>
                    </div>                    
           
                    </div>
                </div>     

                <!-- Retake -->
                <div class="form-group row">
                    <div class="col-sm-12">
                    <select  v-model="input.Retake"  class="form-control" :class="HasError(this.errors.Retake, isInitialLoad)">
                        <option value="" selected>Select Retake Count</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">Infinite</option>
                    </select>
                    <div  v-if="this.errors.Retake.length > 0" class="invalid-feedback">
                        {{this.errors.Retake[0].replace("Retake", "Retake Count")}}
                    </div>
                    </div>
                </div>                             

                <!-- Passing Grade -->
                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.PassingGrade" :class="HasError(this.errors.PassingGrade, isInitialLoad)" type="text" class="form-control" id="course_passing_grade"  placeholder="Passing Grade" >
                    <div  v-if="errors.PassingGrade.length > 0"  class="invalid-feedback">
                        {{this.errors.PassingGrade[0].replace("PassingGrade", "Passing Grade")}}
                    </div>
                    </div>
                </div>         

                <div class="form-group row">
                    <label for="course_cover" class="col-sm-2 col-form-label">Course Photo</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input @change="UploadCouseCover" ref="course_cover"  type="file" class="custom-file-input curs-pointer" id="cover_photo" accept="image/*">
                                <label class="custom-file-label nowrap" for="cover_photo">{{uploadFiles.CourseCover}}</label>
                            </div>
                        </div>                        
                    <div class="invalid-feedback">
                        {{this.errors.CourseCoverPhoto[0]}}
                    </div>
                    <sync-loader v-if="uploadFiles.CourseCoverUploading"></sync-loader>
                    <div class="exam-cover-preview" v-if="input.CourseCoverPhoto != ''">
                        <img  id="uploadPreview" />
                        <span @click="CancelUpload" class="fa fa-times"></span>
                    </div>
                    
                    </div>
                </div>                

                <br>
                <div class="form-actions">
                <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button @click="CancelNewExam()" type="button" class="btn btn-lg  btn-danger">
                    <span> Cancel </span>
                </button>
                </div>        
            </form>
        </div>
    </div>

</div>       
</template>

<script>
import {uploadFile} from '../../../../api/common/file_upload.js'
import {getCategories, newCourseExam, getItemsforQuestionBanks, getSectionLevelforQuestionBanks} from '../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../api/teacher/question_bank.js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
import {bus} from '../../../../main.js'
export default {
    name:"NewExam",
    components: {PulseLoader, SyncLoader},
    data(){
        return{
            isInitialLoad:true,
            isSubmitted : false,
            isSucceed : false,
            SucceedCourseID :null,
            Categories:[],
            Items:[],
            Levels:[],
            QuestionBankList:[],
            input:{
                CourseTitle:null,
                CourseExcerpt:'toavoid',
                CourseDescription:null,
                CourseCoverPhoto:'',
                CategoryID:0,
                SectionID:0,
                Level:0,
                Chapter:null,
                QuestionBank:0,
                NoOfQuestion:null,
                Retake:'',
                PassingGrade:null,
                TimeLimit:null
            },
            errors:{
                CourseTitle:[],
                CourseExcerpt:[],
                CourseDescription:[],
                CourseCoverPhoto:[],
                CategoryID:[],
                SectionID:[],
                Level:[],
                Chapter:[],
                QuestionBank:[],
                NoOfQuestion:[],
                Retake:[],
                PassingGrade:[],
                TimeLimit:[]                
            },
            uploadFiles:{
                CourseCover:'Choose Image',
                CourseCoverUploading:false
            }
        }
    },
    mounted(){
        this.GetCourseCategories();
    },
    methods:{
        GetCourseCategories:function(){
            getCategories().then((response)=>{
                this.Categories = response.body.Categories;
            });
        },
        GetItems:function(){
            getItemsforQuestionBanks(this.GetSessionHeaders(), this.input.CategoryID).then((response)=>{
                this.Items = response.body.Items;
            });
        }, 
        GetSectionLevels:function(){
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.input.SectionID).then((response)=>{
                this.Levels = response.body.Levels;
            });
        }, 
        GetQuestionBanks:function(){
            getQuestionBanks(this.GetSessionHeaders(), 100,1, this.input.SectionID, this.input.Level).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },
        UploadCouseCover:function(){
            let formData = new FormData();
            let media_file = this.$refs.course_cover.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }


            formData.append("file_upload",  media_file);
            this.uploadFiles.CourseCover = media_file.name;
            this.uploadFiles.CourseCoverUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.CourseCoverPhoto = response.body.File.FileName;
                //do a preview in view after image has been uploaded
                var oFReader = new FileReader();
                oFReader.readAsDataURL(media_file);

                oFReader.onload = function (oFREvent) {
                    document.getElementById("uploadPreview").src = oFREvent.target.result;
                };                

            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at uploading your image");
            }).finally(()=>{
                this.uploadFiles.CourseCoverUploading = false;
            });
        },
        SubmitNewExam:function(e){
            e.preventDefault();
            if(this.isSubmitted){
                return;
            }
            this.isSubmitted = true;
            this.isInitialLoad = false;
            if(!this.input.TimeLimit){
                this.input.TimeLimit = 0;
            }
            newCourseExam(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                this.SucceedCourseID = response.body.CourseID;
                bus.$emit('reloadExamList');
            }).catch((response)=>{
                try{
                    if(response.body.Errors.CourseTitle){
                        this.errors.CourseTitle = response.body.Errors.CourseTitle;
                    }else{
                        this.errors.CourseTitle = [];
                    }

                    if(response.body.Errors.CourseExcerpt){
                        this.errors.CourseExcerpt = response.body.Errors.CourseExcerpt;
                    }else{
                        this.errors.CourseExcerpt = [];
                    }

                    if(response.body.Errors.CourseDescription){
                        this.errors.CourseDescription = response.body.Errors.CourseDescription;
                    }else{
                        this.errors.CourseDescription = [];
                    }
                    
                    if(response.body.Errors.CategoryID){
                        this.errors.CategoryID = response.body.Errors.CategoryID;
                    }else{
                        this.errors.CategoryID = [];
                    }    
                    
                    if(response.body.Errors.SectionID){
                        this.errors.SectionID = response.body.Errors.SectionID;
                    }else{
                        this.errors.SectionID = [];
                    }   
                    
                    if(response.body.Errors.Level){
                        this.errors.Level = response.body.Errors.Level;
                    }else{
                        this.errors.Level = [];
                    }                       

                    if(response.body.Errors.Chapter){
                        this.errors.Chapter = response.body.Errors.Chapter;
                    }else{
                        this.errors.Chapter = [];
                    }   
                    
                    if(response.body.Errors.QuestionBank){
                        this.errors.QuestionBank = response.body.Errors.QuestionBank;
                    }else{
                        this.errors.QuestionBank = [];
                    }                       

                    if(response.body.Errors.NoOfQuestion){
                        this.errors.NoOfQuestion = response.body.Errors.NoOfQuestion;
                    }else{
                        this.errors.NoOfQuestion = [];
                    }  

                    if(response.body.Errors.Retake){
                        this.errors.Retake = response.body.Errors.Retake;
                    }  else{
                        this.errors.Retake = [];
                    } 

                    if(response.body.Errors.PassingGrade){
                        this.errors.PassingGrade = response.body.Errors.PassingGrade;
                    }else{
                        this.errors.PassingGrade = [];
                    }        
                    
                    if(response.body.Errors.TimeLimit){
                        this.errors.TimeLimit = response.body.Errors.TimeLimit;
                    }else{
                        this.errors.TimeLimit = [];
                    }                                                                                                       

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }
            }).finally(()=>{
                this.isSubmitted = false;
                
            });            
        },
        ResetInputs:function(){
            this.isSubmitted=false;
            this.isSucceed=false;
            this.isInitialLoad = true;
            this.input.CourseTitle = null;
            this.input.CourseExcerpt = null;
            this.input.CourseDescription = null;
            this.input.CategoryID = 0;
            this.input.SectionID = 0;
            this.input.Level = 0;
            this.input.Chapter = null;  
            this.input.QuestionBank = 0;
            this.input.NoOfQuestion = null;  
            this.input.Retake = '';  
            this.input.PassingGrade = null;  
            this.input.TimeLimit = null; 
        },        
        CreateNewExam:function(){
            this.ResetInputs();
            this.$router.push({ name: 'NewExam' });
        },
        CancelNewExam:function(){
            this.ResetInputs();
            this.$router.push({ name: 'Exams' });
        },
        CancelUpload:function(){
            this.input.CourseCoverPhoto = '';
            this.uploadFiles.CourseCover = 'Choose Image';
        },
        CreateNewSection : function(){
            this.$router.push({ name: 'EditExam', params:{exam_id:this.SucceedCourseID} });
        }             
    }    

}
</script>
<style scoped>
.exam-cover-preview{
    position: relative;
    width:350px;
}
.exam-cover-preview span{
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
}
.exam-cover-preview img {
    width:350px;
}

</style>

