<template>
<div id="contact">
    <div class="container-fluid contact-us-container">
        <div class="row rw-contact-lower fixed-bottom contact-con">
           <div class="col-md-5 offset-md-1 contact-col1">
                <h1 class="contactus-header first contact-head">Say</h1>
                <h1 class="contactus-header">Hello!</h1>

                <p class="contactus-email">info@agoraschool.com</p>

                <ul class="contact-us-lst">
                    <li><span class="fa fa-phone"></span> +(000) 999-9999</li>
                    <li><span class="fas fa-map-marker-alt"></span>Singapore</li>
                </ul>
           </div>
           <div class="col-md-6 contact-col2">

                <a class="navbar-brand contact-logo" href="/">
                    <img src="../../assets/images/agora-logo-white.png" width="185" height="68" alt="The Agora School">
                </a>
                
                <form method="post" @submit="SubmitNewInquiry($event)">
                <div class="form-group contact-form first contact_form">
                    <label for="contactName">Name</label>
                    <input v-model="input.Name" type="text" id="contactName" class="form-control contactus-input" >
                </div>

                <div class="form-group contact-form">
                    <label for="contactEmail">Email address</label>
                    <input v-model="input.Email" type="email" id="contactEmail" class="form-control contactus-input" placeholder="name@example.com">
                </div>

                <div class="form-group contact-form">
                    <label for="contactMsg">Message</label>
                    <textarea v-model="input.Message"  type="email" id="contactMsg" class="form-control contactus-input" rows="6"></textarea>
                    <div class="text-center contact_btn">
                                                           
                        <button type="submit" class="btn btn-primary contact-submit">
                                <span v-if="!isLoading"> Submit </span>
                                <pulse-loader v-else></pulse-loader>                            
                        </button>
                    </div>
                    
                </div>
                </form>


           </div>
        </div>

    </div>
    <faq v-vpshow></faq>
</div>
</template>
<script>
import Faq from './Faq';
import {postNewContact} from '../../api/member/member.js';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
export default {
  name: 'Contactus',
  components:
  {
      Faq, PulseLoader
  },
  data(){
     return{
        isLoading:false,
        isSuccess: false,
        input:{
            Name:null,
            Email:null,
            Message:null
        },
        errors:{
            Name:[],
            Email:[],
            Message:[]
        }         
     }
  },
  methods:{
      SubmitNewInquiry:function(e)
      {
          e.preventDefault();
          if(this.isLoading){return;}
          this.isLoading = true;
          postNewContact(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("Your inquiry has been successfully sent.");
              this.isSuccess = true;
              this.ResetInputs();

          }).catch((response)=>{
              try{
                if(response.body.Errors.Name){
                    this.errors.Name = response.body.Errors.Name[0];
                    this.$toasted.error(this.errors.Name);
                    return;
                }  
                if(response.body.Errors.Email){
                    this.errors.Email = response.body.Errors.Email[0];
                    this.$toasted.error(this.errors.Email);
                    return;
                }                  
                if(response.body.Errors.Message){
                    this.errors.Message = response.body.Errors.Message[0];
                    this.$toasted.error(this.errors.Message);
                    return;
                }                  

              this.$toasted.success("Theres an error in your request");
              }catch(e){

              }

          }).finally(()=>{
              this.isLoading = false;
          })
      },
      ResetInputs:function(){
        this.input.Name = null;
        this.input.Email = null;
        this.input.Message = null;
        this.error.Name = [];
        this.error.Email = [];
        this.error.Message = [];        
      }
  }
}
</script>

<style scoped>
body
{
    padding-top: 0;
}
.contact-con{
    z-index: 1029;
}
</style>
