<template>
<div>
    <div class="container-fluid demo-container">
        <div class="col demo-container">
            <img class="demo-play" src="../../assets/images/staticimage/SUB_DEMO.png"/>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-white fixed-bottom demo-nav ">
        <div class="container-fluid">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="../../assets/images/main-logo-transparent_bg.png" width="135" height="50" alt="The Agora School">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demoNavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="col collapse navbar-collapse demo-nav-menu" id="demoNavbarNav">
                <ul class="navbar-nav demo-nav-menu-ul ">
                    <li class="nav-item semi-bold active"> <a class="nav-link demo-nav-item" data-toggle="collapse" href="#">ABOUT</a></li>
                    <li class="nav-item semi-bold">
                        <router-link class="nav-link demo-nav-item" :to="{ name: 'Contactus' }">CONTACT US</router-link>
                    </li>
                    <li class="nav-item semi-bold"><a class="nav-link demo-nav-item" data-toggle="collapse" href="#">COURSES</a></li>
                    <li class="nav-item semi-bold"><a class="nav-link demo-nav-item sign-up" data-toggle="modal" data-target="#registerModal" href="#">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>
</template>
<script>
export default {
  name: 'Demopage'
}
</script>

<style scoped>
body
{
    padding-top: 0;
}
</style>
