<template>
<!--About Index-->
<div class="faq-con">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 margin-top-45">
                <div class="faq-holder">
                    <h1>Got Questions?</h1>
                    <!-- <div class="item">
                        <h5>How do I sign up?</h5>
                        <p>You start with a free trial.
                            We don't need your credit card until you've determined that Agora School is the right product for you.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>Do I need to enter my credit card details to sign up?</h5>
                        <p>No. You can sign up and use Agora School for 14 days without entering your credit card details.
                            At the end of your trial you will need to pick a plan and enter your credit card details.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>Is there a setup fee?</h5>
                        <p>No. There are no setup fees on any of our plans.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>Can I change my plan later on?</h5>
                        <p>Yes! You can upgrade your plan at any time.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>Is upgrading prorated?</h5>
                        <p>Yes, upgrading your plan (or add-on quantity) in between a plan period is prorated.</p>    
                    </div>
                    <div class="item">
                        <h5>When can I cancel my subscription?</h5>
                        <p>You are able to cancel your subscription anytime.</p>    
                    </div>
                    <div class="item">
                        <h5>Are there any discount plans available?</h5>
                        <p>We provide the option to subscribe for a six-month, yearly or three-years plan.
                        You can save up to 30% by subscribing to a longer plan.
                    </p>    
                    </div>
                    <div class="item">
                        <h5>What is an active user?</h5>
                        <p>It is a system account in active status (able to login).
                            Blocked accounts will not be included in the license usage.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>What is meant by unlimited?</h5>
                        <p>Certain packages do not have resource limits for normal usage.</p>    
                    </div>
                    <div class="item">
                        <h5>Do you offer refunds?</h5>
                        <p>No, we do not offer refunds.
                            If there are extenuating circumstances, please contact our support.
                        </p>    
                    </div>
                    <div class="item">
                        <h5>Am I charged when I enter a credit card?</h5>
                        <p>No. When you enter your card info, we only verify it. Your card is charged at the end of the billing cycle.</p>    
                    </div>
                    <div class="item">
                        <h5>What form of payments do you accept?</h5>
                        <p>We accept Visa, MasterCard, Discover.</p>    
                    </div> -->

                    <div id="accordion">
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Overview</button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>1. What is Agora School?</h5>
                                <p>Agora School is an online platform where students/learners can use the resources found here to further enhance their learning capabilities.</p>
                            </div>
                            <div class="item">
                                <h5>2. How does it work?</h5>
                                <p>Unlike any other Open Online Courses, Agora School do not offer virtual lessons nor study materials. What you will find here are worksheets, tests and examination modules that allow you to practise and test the level of understanding of a subject at the level you are in. At the end of each module, you will be graded accordingly. Also depending on your score, you will then unlock the next level of materials.  </p>
                            </div>
                            <div class="item">
                                <h5>3. Can I do it at my own pace?</h5>
                                <p>Other than the test and examinations, you can take each worksheet at your own pace.  </p>
                            </div>
                            <div class="item">
                                <h5>4. How do I register?</h5>
                                <p>All you need to do is to go to the Register Page and fill in your particulars. You will then receive an email to confirm and verify your details to continue with the registration. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Content</button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>5. Are the content found accredited by any institutions</h5>
                                <p>As we are not an accredited institution, and neither are our materials sourced from accredited agencies, we offer content that are meticulously produced, curated and examined by experts of their respective field and subject.</p>
                            </div>
                            <div class="item">
                                <h5>6. What kind of subjects can be found at Agora School?</h5>
                                <p>Primarily we will be focusing on English and Mathematics subjects for the initial release. 
                                    However, in due time you will find other humanities and life sciences subjects such as history, literature, physics, chemistry and many others.
                                </p>
                            </div>
                            <div class="item">
                                <h5>7. Will the content be updated regularly?</h5>
                                <p>Yes, it will. New content will be updated on a weekly basis on top of the current catalogue. Our educators, go about regularly refreshing any dated content found on the site.  </p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Account</button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>8. What do I do if I forget my username or password or even both?</h5>
                                <p>Proceed to the Forgot Password link in the Login page. An email will be sent containing a confirmation code separately to proceed. You can enter your email address to login in case you forgot your username.</p>
                            </div>
                            <div class="item">
                                <h5>9. How do I change my password?</h5>
                                <p>Head over to your profile and select Change Password under account details.</p>
                            </div>
                            <div class="item">
                                <h5>10. How can I track my progress?</h5>
                                <p>There is  a progress bar displayed on your Profile to show your stage at each lesson you took.</p>
                            </div>
                            <div class="item">
                                <h5>11. Can I delete my account?</h5>
                                <p>You can only deactivate your account, which can be done in your Profile page.</p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Subscription</button>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>12. What does free trial entail?</h5>
                                <p>When you register on the website, you have access to try out 5 worksheets for free. Should you wish to continue, then you would have to subscribe to have access of the entire catalogue.</p>
                            </div>
                            <div class="item">
                                <h5>13. Can I cancel the subscription at any time?</h5>
                                <p>Yes, for Monthly subscription. However for Annual subscription, you can cancel a week before your set end date.</p>
                            </div>
                            <div class="item">
                                <h5>14. How do I cancel my subscription?</h5>
                            </div>
                            <div class="item">
                                <h5>15. Will there be a refund?</h5>
                                <p>There are no partial refunds, so any payments you made before cancelling will not be refunded.</p>
                            </div>
                            <div class="item">
                                <h5>16. Can I pause my subscription?</h5>
                                <p>There is currently no option offered for pausing subscription.</p>
                            </div>
                            <div class="item">
                                <h5>17. Can I change my subscription plan?</h5>
                                <p>You can change from a monthly plan to an annual plan. However you are unable to downgrade from a yearly plan to a monthly plan.</p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">Payment</button>
                          </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>18. How do I make payment?</h5>
                            </div>
                            <div class="item">
                                <h5>19. Are there any hidden costs?</h5>
                                <p>All prices are clearly displayed without any hidden cost. You'll always pay exactly the amount you see when you enter your payment information.</p>
                            </div>
                            <div class="item">
                                <h5>20. What are the accepted payment methods?</h5>
                                <p>You can make payments either by using your Credit Cards, Debit Cards and PayPal. </p>
                            </div>
                            <div class="item">
                                <h5>21. Would there be educational support?</h5>
                                <p>Should you have any questions about an issue that can be found in any of the content, as a registered user, you are able to contact our educational instructor for clarifications on it. </p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="card card2">
                        <div class="card-header card_header2" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">Support</button>
                          </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body">
                            <div class="item">
                                <h5>22. What are the technical requirements to use Agora School?</h5>
                                <p>You just need a reliable personal computer with an internet access.</p>
                            </div>
                            <div class="item">
                                <h5>23. Is there an app for Agora School?</h5>
                                <p>Soon! </p>
                            </div>
                            <div class="item">
                                <h5>24. How do I contact technical support?</h5>
                            </div>
                            <div class="item">
                                <h5>25. How do I contact teacher support?</h5>
                                <p>If you already have an account, send a message directed to the Teacher. </p>
                            </div>
                            <div class="item">
                                <h5>26. What can I do if I was to face some technical issues?</h5>
                                <p>If you’re having a technical issue with our website, you may be able to resolve it by clearing your cache and cookies, because it’s the first step to try solving technical problems here. After you clear your cache and cookies, you’ll need to re-enter your login information. Should the problem persist, please contact our technical staff and inform of the issue you are experiencing. </p>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--End About Index-->
</template>
<script>
export default {
  name: 'Faq'
}
</script>



