<template>
<div class="container-fluid  fixed-bottom faq-detail-container">
    <div class="container">
        <div class="row rw-faq-detail">
            <div class="col-3">
                <a class="" href="/">
                    <img src="../../assets/images/main-logo-transparent_bg.png" width="185" height="68" alt="The Agora School">
                </a>
            </div>

            <div class="col-7">
                <h1 class="faq-choice-title" >FREQUENTLY ASKED QUESTIONS</h1>
            </div>

            <div class="col-2">
                <div class="faq-detail-search">
                    <span class="fa fa-search faq-detail-search-btn"></span>
                </div>
            </div>

        </div>

        
        <div class="row rw-faq-main">
            <div class="col-2">
                <div class="faq-choice-help active">Student Help</div>
                <div class="faq-choice-help">Instructor Help</div>
            </div> 
            <div class="col-10">
                <h3 class="faq-choice-title">New to Agora?</h3>
                <br>
                <div class="faq-question-detail">
                    <h5>Question?</h5>
                    <p>Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.
                        Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait
                    </p>
                </div>

                <div class="faq-question-detail">
                    <h5>Question?</h5>
                    <p>Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.
                        Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait
                    </p>
                </div>

                <div class="faq-question-detail">
                    <h5>Question?</h5>
                    <p>Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.
                        Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait
                    </p>
                </div>

                <div class="faq-question-detail">
                    <h5>Question?</h5>
                    <p>Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.
                        Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait
                    </p>
                </div>

                <div class="faq-question-detail">
                    <h5>Question?</h5>
                    <p>Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.
                        Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait
                    </p>
                </div>

                <div class="faq-detail-sendus"><a href="#">Send us your <br> question.</a></div>
            </div> 
        </div>

    </div> 

</div>    
</template>
<script>
export default {
    name:'FaqAll'
}
</script>
