<template>
    <div class="container-fluid  fixed-bottom faq-container">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../../assets/images/main-logo-transparent_bg.png" width="185" height="68" alt="The Agora School">
        </a>
        
        <div class="row rw-faq-main">
            <div class="col-2">
                <div class="faq-choice-help active">Student Help</div>
                <div class="faq-choice-help">Instructor Help</div>
                
            </div> 
            <div class="col-4">
                <h3 class="faq-choice-title">Frequently <br>Asked Questions</h3>
            </div> 
            <div class="col-4">
                <form class="form-inline" >
                    <div class="form-group has-success has-feedback">
                        <input type="text" class="form-control faq-search-input" id="faq-search">
                        <span class="fa fa-search form-control-feedback faq-search"></span>
                    </div>
                </form>
            </div> 
            <div class="col-2">
                <a href="#" class="faq-send-question-1">Send us your question.</a>
            </div> 
        </div>

        <div class="row rw-faq-main">
            <div class="col-2">
            </div> 

            <div class="col-2">
                <h3 class="faq-choice-title">New to <br>Agora?</h3>
            </div> 

            <div class="col-8">
                <a href="#" class="faq-question-item">Question 1?</a>
                <a href="#" class="faq-question-item">Question 2?</a>
                <a href="#" class="faq-question-item">Question 3?</a>
                <a href="#" class="faq-question-item">Question 4?</a>
                <a href="#" class="faq-question-item">Question 5?</a>

                <router-link :to="{name:'FaqAll'}" class="faq-question-seeall">See all</router-link>
                <!-- <a href="#" class="faq-question-seeall">See all</a> -->
            </div>  
        </div>

        
        <div class="row rw-faq-main">
            <div class="col-2">
            </div> 

            <div class="col-2">
                <h3 class="faq-choice-title">New to <br>Agora?</h3>
            </div> 

            <div class="col-8">
                <a href="#" class="faq-question-item">Question 1?</a>
                <a href="#" class="faq-question-item">Question 2?</a>
                <a href="#" class="faq-question-item">Question 3?</a>
                <a href="#" class="faq-question-item">Question 4?</a>
                <a href="#" class="faq-question-item">Question 5?</a>

                <router-link :to="{name:'FaqAll'}" class="faq-question-seeall">See all</router-link>
            </div>  
        </div>



    </div> 

</div>
</template>
<script>
export default {
    name:'FaqList'
}
</script>
