<template>
<div class="container-fluid exam-manager-container st-assignment-container">
    <div class="row">
        <!-- <div class="col-2 sidebar " style="width: 12.499999995%">
            <div class="assign-sidebar-header">
                <h4>Assignments</h4>
            </div>
          <button @click="GoToCreateExam()" class="get-started-btn">
                <span class="fa fa-edit"></span>
                Create a New Exam
            </button>
            <div class="list-menu-main assignment">
                <div :class="{active:isNewAssignment}" class="item">
                    <span class="fa fa-book-open"></span>
                    New Assignments
                    <span class="circle">1</span>
                </div>

                <div class="clearing"></div>
                <div :class="{active:isAnsweredAssignment}" class="item">
                    Answered Assignments
                    <span class="circle">5</span>
                </div>

                <div class="clearing"></div>
                <div :class="{active:isDraft}" class="item">
                    Drafts
                    <span class="circle">5</span>
                </div>

                <div class="clearing"></div>


            </div>
        </div> -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 search-sidebar">
                    <div class="search-controls">
                        <select class="form-control">
                            <option>Sort By Title</option>
                            <option>Sort By Newly Added</option>
                            <option>Sort By Firstly Added</option>
                        </select>
                        <!-- <input type="text" class="search_bar form-control"> -->
                        <span class="fa fa-search"></span>
                        <div class="clearing"></div>
                    </div>
                    <div class="create-new">
                        <span class="fa fa-edit"></span>
                        <span>Create a New Assignment</span>
                    </div>

                    <!--ITEMS-->
                    <div class="searched-items">



                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>

                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>

                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>

                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>

                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>

                        <div class="item">
                            <div class="aside-image">
                                <img src="../../assets/images/flags/074-peru.png">
                            </div>
                            <div class="content-details">
                                <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                                <div class="title">Exam 4013 - Lorem Ipsum</div>
                                <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                            </div>
                            <div class="clearing"></div>
                        </div>                    

                    </div>
                    <!--END ITEMS-->

                </div>

                <div class="col-md-9 main-content">
                    <!-- <div v-if="!hasNewSubmissions" class="assignment no-new-container">
                        <div class="col-10 offset-2 message">
                            No New Submissions
                        </div>
                    </div>   -->
                <div  v-if="!hasNewSubmissions" class="assignment no-new-container">
                    <div class="col-md-10 message">
                        <div class="notif-img">
                            <img src="../../assets/images/staticimage/notification.png">
                        </div>
                        <h3>No New Submission</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, erat ut ornare ultricies, nibh nunc posuere felis, id consequat massa sem scelerisque arcu. Aliquam mattis urna urna, quis ullamcorper risus volutpat sed.</p> -->
                    </div>
                </div>                    

                    <!-- view assignment -->
                    <div class="view-assign">
                        <h4>View Assignment</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Student Name</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">Katherine Lacosta</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Assignment Name</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">Grammar Vol. 1</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">English</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Description</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">This is a grammar assignment</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">File</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">file.docx</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Student Rank</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">N/A</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Submitted On</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">June 8, 2018 1:00pm</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Item</label>
                                    <div class="col-sm-8">
                                      <label class="form-control-plaintext">Grammar I</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-2 mg-b3em">
                                <div class="form-group row">
                                    <textarea class="form-control assign-update"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Grade</label>
                                    <div class="col-sm-10">
                                      <label class="form-control-plaintext mg-l15"><span class="assign-grade">0</span>/100</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Comments</label>
                                    <div class="col-sm-9">
                                      <textarea class="form-control assign-bg mg-l15"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="assign-btn">
                                <button type="button" class="btn btn-sm">Save</button>
                                <button type="button" class="btn btn-sm">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <!--  view assignment -->
                    
                    <!--  Add New Assignment Form -->
                    <div class="view-assign">
                        <h4>Create a New Assignment</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row form-group2">
                                    <div class="col-sm-10">
                                      <input type="text" readonly class="form-control" placeholder="Assignment Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row view-assign-br">
                            <div class="col-md-6">
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
                                    <div class="col-sm-8">
                                        <select class="form-control assign-bg">
                                            <option selected="">Choose...</option>
                                            <option>...</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Item</label>
                                    <div class="col-sm-8">
                                        <select class="form-control assign-bg">
                                            <option selected="">Choose...</option>
                                            <option>...</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row view-assign-br">
                            <div class="col-md-4">
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Due Date</label>
                                    <div class="col-sm-12">
                                        <input type="text" readonly class="form-control calendar" placeholder="">
                                        <p>Monday June 11, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Available From</label>
                                    <div class="col-sm-12">
                                        <input type="text" readonly class="form-control calendar" placeholder="">
                                        <p>Monday June 11, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-12 col-form-label">Until</label>
                                    <div class="col-sm-12">
                                         <input type="text" readonly class="form-control calendar" placeholder="">
                                         <p>Monday June 11, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Points</label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row form-group2">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Type</label>
                                    <div class="col-sm-8">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="audio">
                                            <label class="custom-control-label" for="audio">Audio Recording</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="multiple">
                                            <label class="custom-control-label" for="multiple">Multiple Choice Question</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="essay">
                                            <label class="custom-control-label" for="essay">Essay</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="file">
                                            <label class="custom-control-label" for="file">File Upload (docx, pdf, jpg, etc.)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Comments</label>
                                    <div class="col-sm-9">
                                      <textarea class="form-control assign-bg mg-l15"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="assign-btn">
                                <button type="button" class="btn btn-sm">Add Assignment</button>
                                <button type="button" class="btn btn-sm">Cancel</button>
                            </div>
                        </div>
                    </div>
                   <!--  Add New Assignment Form -->

                     <!-- go to assignment -->
                    <div class="row header-row">
                        <div class="col-md-4 aside-image aside-image2">
                            <img src="https://dev.agora-school.com/agorapiv1/public/resources/images/image_20180619-5b28b603c4d3e.jpg">
                        </div>
                        <div class="col-md-8 main-description">
                            <h6>2018-06-22 21:38:35</h6> 
                            <h1>
                                <span>English Exam Vol. 1 </span>
                            </h1>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <p class="assign-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut </p>
                                </div>
                            </div> 
                            <div class="controls">
                                <button type="button" class="btn edit assign_btn">Go To Assignment</button> 
                            </div>
                        </div>
                    </div>

                    <!-- Edit assignment -->
                    <div>
                        <div class="row header-row">
                            <div class="col-md-4 aside-image aside-image2">
                                <img src="https://dev.agora-school.com/agorapiv1/public/resources/images/image_20180619-5b28b603c4d3e.jpg">
                            </div>
                            <div class="col-md-8 main-description">
                                <h6>2018-06-22 21:38:35</h6> 
                                <h1>
                                    <span>English Exam Vol. 1 </span>
                                </h1>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <p class="assign-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut </p>
                                    </div>
                                </div> 
                                <div class="controls">
                                    <button type="button" class="btn edit">Edit Exam</button> 
                                    <button type="button" class="btn delete popup_are_you_sure">Delete Exam</button>
                                </div>
                            </div>
                        </div>
                        <div class="row control-row">
                            <ul>
                                <li @click="tab = 'assignment_ques'" :class="{ active: tab === 'assignment_ques' }">Assignment Questions</li>
                                <li @click="tab = 'assignment_ans'" :class="{ active: tab === 'assignment_ans' }">Answers</li>
                            </ul>
                            <div class="clearing"></div>
                        </div>

                        <div class="row" v-if="this.tab=='assignment_ques'">
                            <div class="col-12">
                                <div class="content">
                                    Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, nihil impetus sea ne, quo cu ullum senserit.

                                    Ne putant eripuit suavitate est, ea mea diceret appellantur, vim ea mollis feugait, im ea mollis feugait, im ea mollis feugait, im ea mollis feugait ea mea diceret appellantur, vim ea mollis feugait, im ea mollis feugait, im ea mollis feugait, im ea mollis feugait
                                 </div> 
                                 <div class="row">
                                    <table class="table table-hover table-banks-list">
                                        <thead class="thead-dark ">
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Student's Name</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">File</th>
                                            <th scope="col">Date Submitted</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><!-- v-for="(item, index) in QuestionBankQuestions" :key="item.question_id" -->
                                                <th>1</th>
                                                <td></td>
                                                <td>
                                                    <!-- <span v-if="item.question_type_id == 1" class="fa fa-italic"></span>
                                                    <span v-if="item.question_type_id == 2" class="fa fa-images"></span>
                                                    <span v-if="item.question_type_id == 3" class="fa fa-file-audio"></span> -->
                                                </td>
                                                <td>
                                                    <!-- <span v-if="item.question_answer_mode == 1">Multiple Choice</span>
                                                    <span v-if="item.question_answer_mode == 2">Essay</span> -->
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button type="button" class="table-btn-ag btn-sm btn-main-2 btn-primary">View</button>
                                                    <button type="button" class="table-btn-ag btn-sm btn-main-dnger-1 btn-danger popup_are_you_sure_two">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                                  
                            </div>
                        </div>

                        <div  class="row add-section-row" :class="{ 'disp-none' : this.tab!='assignment_ans'}">
                            <div class="add_new_section popup_new_section_modal">
                                <span class="fa fa-plus"></span> <span>ADD A NEW SECTION </span>
                            </div>
                        </div>  

                        <div v-if="this.tab=='assignment_ans'" class="row section-row">

                            <div class="section-item">
                                <div class="section-item-header dropleft">
                                    <span class="title">
                                        <span > <!-- v-if="!isEditing" -->
                                        <!-- {{propSectionItem.section_title}}  --> Grammar
                                        </span>

                                        <!-- <input type="text" v-else v-model="input.SectionTitle" class="form-control form-control-sm"/>  --> 

                                    </span>
                                    <span class="menu-icon fa fa-trash-alt"></span>
                                    <span class="menu-icon fa fa-pencil-alt"></span>
                                    <span class="menu-icon fa fa-plus " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                    <div class="dropdown-menu new-section-item-menu">
                                        <a class="dropdown-item popup_new_worksheet_modal" href="#">Worksheet</a>
                                        <a class="dropdown-item popup_new_unitest_modal" href="#">Unit Test</a>
                                        <!-- <a class="dropdown-item" href="#">Content Text</a> -->
                                    </div>
                                    <div class="clearing"></div>
                                </div>
                                <div class="section-description">
                                    <p > <!-- v-if="!isEditing" v-html="propSectionItem.section_description" -->
                                    </p>
                                    <div ><!-- v-else -->
                                        
        
                                    </div>

                                </div>
                                <!-- <div class="section-sub-items">
                                    <ul>
                                        
                                        <li v-for="item in propSectionItem.section_item" :key="item.section_item_id">
                                            <span class="fa fa-sticky-note" v-if="item.item_type == 1"></span> 
                                            <span class="fa fa-list" v-if="item.item_type == 2"></span> 
                                            {{item.title}}

                                            <div class="section-item-controls">
                                                <span class="menu-icon fa fa-trash-alt"></span>
                                                <span class="menu-icon fa fa-pencil-alt"></span>                 
                                            </div>
                                            <div class="clearing"></div>
                                         
                                        </li>
                                    </ul>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                    <!-- Edit assignment -->

                </div>
    
            </div>
        </div>
    
    
    
    </div>
</div>    
</template>
<script>
export default {
    name:'StudentAssignment',
    data(){
        return{
            isNewAssignment: true,
            isAnsweredAssignment:false,
            isDraft:false,
            hasNewSubmissions:false,
            tab:'assignment_ques',

        }
     
    }
}
</script>
<style scoped>
.exam-manager-container.st-assignment-container .sidebar{
    padding-top: 0;
}
.st-assignment-container .assign-sidebar-header{
    background-color: #036564;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
    font-size: 21px;
}
.st-assignment-container .assign-sidebar-header h4{
    padding-top: 40px;
}
.list-menu-main.assignment{
    margin-top: 0;
}
.list-menu-main.assignment .item{
    font-size: 13px;
}
.assignment.no-new-container{
    margin-top: 20px;
}
.table-banks-list{
    font-size:13px;

}
.table-banks-list td, .table-banks-list th {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
} 
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
</style>
