<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div class="col-md-3 search-sidebar">
        <div class="search-controls">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        
        <div class="searched-items">
            <div v-for="(item, index) in DiscussionList" @click="SelectDiscussion(item)" :key="'dicuss_'+index" class="item">
                <div class="aside-image">
                    <img v-if="item.course_cover_image != '' && item.course_cover_image != null" 
                        :src="GetImageURL() + item.course_cover_image" >
                    <span v-else class="circling-title">{{item.title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title">{{item.title}}</div>
                    <!-- <div class="description">{{item.comment}}</div> -->
                    <div class="description line-clamp line-clamp-3">
                        <p class="line-clamp line-clamp-1">{{GetCategoryName(item.category_id)}} - {{item.section_title}} <br>
                        <span>{{item.level_title}}</span></p>
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
            
        </div>
        <!--END ITEMS-->
    </div>  
        <div class="col-md-9 admin-col-main">

            <div v-if="!hasNewNotif && SelectedItem == null" class="discussion-container discussion-container2"><!-- no-new-container -->
                <div class="messages no-new-container">
                    <div class="col-md-10 message">
                        <div class="notif-img">
                            <img src="../../assets/images/staticimage/notification.png">
                        </div>
                        <h3>No New Notification</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, erat ut ornare ultricies, nibh nunc posuere felis, id consequat massa sem scelerisque arcu. Aliquam mattis urna urna, quis ullamcorper risus volutpat sed.</p> -->
                    </div>
                </div>
            </div>  
            <!-- Recent Discussion Notifs -->
            <div v-else-if="hasNewNotif  && SelectedItem == null" class="discussion-container">
                <div class="row">
                    <div v-for="(item, index) in RecentDiscussion" :key="'recent_discuss_'+index" class="col-md-12">
                        <div class="discussion">
                            <div class="header">
                                <div class="discuss_date">{{CategoryName(item.category_id)}}</div>
                                <div class="discussion_title">{{item.title}}</div>
                            </div>

                            <div class="discuss-item discuss-item2">
                                <div class="details">
                                    <div class="avatar-discussion">
                                        <!-- <img class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg"> -->
                                        <img v-if="item.profile_image != '' && item.profile_image != null " class="sender_profile_ico"
                                            :src="GetProfileImageURL() + item.profile_image">                        
                                        <img v-else class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg">
                                                                            
                                        
                                        <div class="sender_info">
                                            <span class="name">
                                                <strong> {{item.fname}}  {{item.lname}}</strong>
                                                <br>
                                                <!-- <span v-if="item.user_level == 4"> Instructor</span> 
                                                <span v-else> Student</span>  -->
                                            </span>
                                        </div>
                                    </div>

                                    <div class="content content3">
                                        <p>
                                            {{item.comment}}
                                        </p>
                                       
                                    </div>
                                    
                                    <div class="sender_reply sender_reply1">
                                        <a href="#" class="btn btn-sm view-btn" @click="SelectRecentDiscussion(item, index)">View</a>
                                    </div>                        
                                    <div class="clearing"></div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>     
                           
            </div>

            <div v-else-if="SelectedItem != null" class="discussion-container">
                <div class="header">
                    <!-- <div class="discuss_date">JANUARY 24, 2018 · 2:05 PM</div> -->
                    <div class="discuss_date" v-if="HasValue(SelectedItem.category_id)"> {{this.CategoryName(SelectedItem.category_id)}}</div>
                    <div class="discussion_title" v-if="HasValue(SelectedItem.title)">{{SelectedItem.title}}</div>
                </div>

                <div v-if="isCommentLoading" class="loader" ></div>
                <div class="discussion-comments-scroller" v-else>
                    <div v-for="(item, index) in CompComments" :key="'comments_' + index" class="discuss-item">

                        <div class="details">
                            <div class="avatar-discussion">
                                <img v-if="item.profile_image != '' && item.profile_image != null " class="sender_profile_ico"
                                :src="GetProfileImageURL() + item.profile_image">                        
                                <img v-else class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg">
                                
                                <div class="sender_info">
                                    <!-- SHOW THE NAME OF STUDENT -->
                                    <span v-if="item.user_level != 4" class="name">
                                        <strong> {{item.fname}}  {{item.lname}}</strong>
                                        <br>
                                    </span>
                                    <!-- SHOW TEACHER ONLY IF TEACHER -->
                                    <span v-if="item.user_level == 4" class="name">
                                        <strong> Teacher </strong>
                                        <br>
                                    </span>                                     
                                    <!-- <span class="name">
                                        <strong> {{item.fname}}  {{item.lname}}</strong>
                                        <br>
                                        <span v-if="item.user_level == 4"> Instructor</span> 
                                        <span v-else> Student</span> 
                                    </span> -->
                                </div>
                            </div>
                            
                            <div class="content">
                                <p v-if="!EditComments[index].isEditing">
                                {{item.comment}}
                                </p>
                                <input v-else type="text" :value="item.comment" v-on:keyup.enter="updateComment($event, item.discussion_id)" class="form-control form-control-sm" placeholder="Reply" pattern=".{5,}" required title="Minimum of 5 Characters">                                
                            </div>  

                            <div v-if="memberDetail.user_id == item.user_id" class="sender_reply sender_reply2">
                                <span @click="ToggleEditMain(index)" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                                <span  @click="PreapareDeleteComment(item.discussion_id)" class="menu-icon fa fa-trash-alt curs-pointer popup_are_you_sure"></span>
                            </div>
                            <div class="clearing"></div>                          
                        </div>

                        <!-- INDENTED REPLY -->
                        <div class=" discuss-item2 discuss-item3">
                            <div  v-for="(item2, index2) in item.replies" :key="'replies_'+index+'_'+index2" class="details details2">

                                <div class="avatar-discussion">
                                    <img v-if="item2.profile_image != '' && item2.profile_image != null " class="sender_profile_ico"
                                    :src="GetProfileImageURL() + item2.profile_image">                        
                                    <img v-else class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg">
                                    <div class="sender_info">
                                        <!-- SHOW THE NAME OF STUDENT -->
                                        <span v-if="item2.user_level != 4" class="name">
                                            <strong> {{item2.fname}}  {{item2.lname}}</strong>
                                            <br>
                                        </span>
                                        <!-- SHOW TEACHER ONLY IF TEACHER -->
                                        <span v-if="item2.user_level == 4" class="name">
                                            <strong> Teacher </strong>
                                            <br>
                                        </span>                                        
                                    </div>
                                </div>

                                <div class="content content2">
                                    <p v-if="!EditComments[index].Replies[index2]">
                                        {{item2.comment}}
                                    </p>
                                    <input v-else type="text" :value="item2.comment" v-on:keyup.enter="updateComment($event, item2.discussion_id)" class="form-control form-control-sm" placeholder="Reply" pattern=".{5,}" required title="Minimum of 5 Characters">                                
                                </div>

                                 <!-- THIS ALLOW ONLY THE LOGGED IN USER COMMENTS TO BE EDITED OR DELETED-->
                                <div v-if="memberDetail.user_id == item2.user_id" class="sender_reply sender_reply2">
                                    <span @click="ToggleEditReply(index, index2)" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                                    <span @click="PreapareDeleteComment(item2.discussion_id)" class="menu-icon fa fa-trash-alt curs-pointer popup_are_you_sure" ></span>
                                </div>  
                                 
                                <div class="clearing"></div>

                            </div>

                            <!-- REPLY BOX -->
                            <div class="details details2">
                                <div class="avatar-discussion">
                                    <!-- <img class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg"> -->
                                    <img v-if="memberDetail.profile_image != '' && memberDetail.profile_image != null " class="sender_profile_ico"
                                        :src="GetProfileImageURL() + memberDetail.profile_image">                        
                                    <img v-else class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg">
                                                                        
                                    
                                    <div class="sender_info">
                                        <span class="name">
                                            <strong> {{memberDetail.fname}}  {{memberDetail.lname}}</strong>
                                            <br>
                                            <!-- <span v-if="item.user_level == 4"> Instructor</span> 
                                            <span v-else> Student</span>  -->
                                        </span>
                                    </div>
                                </div>

                                <div class="content content3">
                                    <div class="form-group">
                                        <input type="text" v-on:keyup.enter="newComment($event, true, item.discussion_id)" class="form-control form-control-sm" placeholder="Reply and press Enter" pattern=".{5,}" required title="Minimum of 5 Characters">
                                    </div> 
                                </div>                    
                                <div class="clearing"></div>

                            </div>

                            
                            <!-- END REPLY BOX -->
                        </div> 
              
                        <!-- INDENTED REPLY -->

                    </div>
                    <br>

                    <div class="new-comment-discussion">
                        <div class="avatar-discussion">     
                            <img v-if="memberDetail.profile_image != '' && memberDetail.profile_image != null " class="sender_profile_ico"
                                :src="GetProfileImageURL() + memberDetail.profile_image">                        
                            <img v-else class="sender_profile_ico" src="../../assets/images/avatars/Avatar4.jpg">
                            
                            <div class="sender_info">
                                <span class="name">
                                    <strong> {{memberDetail.fname}}  {{memberDetail.lname}}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="form-group">
                                <textarea v-on:keyup.ctrl.enter="newComment($event)" v-model="input.Comment" class="form-control add-comment" rows="3" id="comment" placeholder="Add new comment"></textarea>
                            </div>
                        </div>
                        <div class="clearing"></div>
                        <div class="">
                            <router-link :to="{ name: 'Index' }" class="float-l color-txt-main-2"> Back to Main Page</router-link>
                            <button @click="newComment($event)" 
                            class="btn btn-primary btn-sm btn-main-2 float-r">Post</button>
                            <div class="clearing"></div>
                        </div>  
                    </div>  

                </div>


            </div>

            <br>
        </div>     
    </div>
    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteComment"></are-you-sure>
  </div>    
</template>
<script>
import AreYouSure from '../subcomponents/modal/AreYouSureModal';
import {getMemberDiscussions, getRecentMemberDiscussions, getDiscussionComments,postNewDiscussionComment, 
updateDiscussionComment,deleteDiscussionComment, viewRecentDiscussion} from '../../api/member/member.js'
import {bus} from '../../main.js'
export default {
    name:'Discussion',
    components:{
        AreYouSure
    },
    data(){
        return{
            // hasNewNotif:false,
            isSearching:false,
            SearchInput:'',
            Sort : 1,      
            isSubmitted:false,          
            isCommentLoading:false,
            SelectedToReply:0,
            SelectedItem:null,
            Comments:[],
            input:{
                CourseID: null,
                SectionItemID:null,  
                Comment:null,
                IsReply:0,
                ReplyTo:0                
            },
            errors:[],
            ToDeleteID:null,
            DeleteDialogMessage:"Are you sure you want to delete this comment?",
            edit_input:{
                Comment:null,
                DiscussionID:null
            },
            EditComments:[],            
        }
    },
    computed:{
        DiscussionList:function(){
            if(this.isSearching && this.SearchInput != ''){
                return this.$store.state.memberDiscussions.filter(item=>{
                    return item.title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.$store.state.memberDiscussions.slice();
                return temp.sort(function(a,b){
                    var nameA = a.title.toUpperCase(); 
                    var nameB = b.title.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                return this.$store.state.memberDiscussions;
            }  
            if(this.Sort == 2){
                let temp =  this.$store.state.memberDiscussions.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }              
            
            return this.$store.state.memberDiscussions;
        },
        //Experimental
        CompComments : function(){
            return this.Comments;
        },
        hasNewNotif:function(){
            if(this.$store.state.memberRecentDiscussions.length > 0){
                return true;
            }
            return false;
        },
        RecentDiscussion:function(){
            if(this.$store.state.memberRecentDiscussions){
                return this.$store.state.memberRecentDiscussions;
            }
            return [];
        },
        memberDetail : function(){
            return this.$store.state.memberDetail;
        },           
    },
    created(){
        this.GetDiscussionList();
        this.GetRecentDiscussion();
        bus.$on("reloaDiscussions",()=>{
            this.GetDiscussionComments();
        });        

        if(this.HasValue(this.$route.query.course) && this.HasValue(this.$route.query.quizz)){
            this.SelectedItem = {course_id : this.$route.query.course,  section_item_id: this.$route.query.quizz };
            this.GetDiscussionComments();
        }
    },
    methods:{
        CategoryName:function(category_id){
            var category = this.$store.state.categories.filter((item)=>{
                return item.category_id === category_id; 
            })
            return category[0].category_title;
        },        
        GetDiscussionList:function(){
            getMemberDiscussions(this.GetSessionHeaders()).then((response)=>{
                this.$store.commit("commitDiscussions", response.body.Discussion);
            }).finally(()=>{

            })
        },
        GetRecentDiscussion:function(){
            getRecentMemberDiscussions(this.GetSessionHeaders()).then((response)=>{
                this.$store.commit("commitRecentDiscussions", response.body.RecentDiscussion);
            }).finally(()=>{

            })
        },
        SelectDiscussion:function(DiscussionItem){
            this.SelectedItem = DiscussionItem;
            this.GetDiscussionComments();
        },
        SelectRecentDiscussion:function(DiscussionItem, index){
            this.SelectedItem = DiscussionItem;
            this.$store.commit("removeDiscussionFromRecentDiscussion", index);
            //Mark as viewed api
            var input = {
                DiscussionID : DiscussionItem.discussion_id
            };
            viewRecentDiscussion(this.GetSessionHeaders(), input);
            // 
            this.GetDiscussionComments();
        },
        GetDiscussionComments:function(){
            this.isCommentLoading = true;
            getDiscussionComments(this.GetSessionHeaders(), this.SelectedItem.course_id, this.SelectedItem.section_item_id).then((response)=>{
                if(response.status == 200){
                    this.Comments = response.body.Comments;

                    let _tempObj = {
                        isEditing : false,
                        Replies:[]
                    };

                    this.EditComments = Array(this.Comments.length).fill(_tempObj);
                    let _EditComments = [];
                    let _newEditComments = this.EditComments.map((element,index)=>{
                        let _replies = Array(this.Comments[index].replies.length).fill(false);
                        _EditComments[index] = { isEditing: false, Replies: _replies};
                        // console.log(element);
                    });
                    this.EditComments = _EditComments;
                    // console.log(this.EditComments);
                }
            }).finally(()=>{
                this.isCommentLoading = false;
            });
        },
        newComment:function(event,is_reply = false, reply_to = 0){
            if(this.isSubmitted){
                return;
            }

            this.isSubmitted = true;
            this.input.CourseID = this.SelectedItem.course_id;
            this.input.SectionItemID = this.SelectedItem.section_item_id;
            if(is_reply){
                this.input.Comment = event.target.value;
            }

            if(!this.HasValue(this.input.Comment)){
                return;
            }
            this.isCommentLoading = true;

            if(is_reply && reply_to != 0){
                this.input.IsReply = 1;
                this.input.ReplyTo = reply_to;
            }else{
                this.input.IsReply = 0;
                this.input.ReplyTo = 0;
            }

            postNewDiscussionComment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.input.Comment = null;
                this.GetDiscussionComments();
                this.GetDiscussionList();
            }).catch((error)=>{
                if(error.body.Errors.Comment){
                     this.errors = error.body.Errors.Comment;
                }
            }).finally(()=>{
                 this.isCommentLoading = false;
                 this.isSubmitted = false;
            });
        },
        PreapareDeleteComment:function(comment_id){
            this.ToDeleteID = comment_id;
        },
        DeleteComment:function(){
            deleteDiscussionComment(this.GetSessionHeaders(), this.ToDeleteID).then((response)=>{
                this.$toasted.success("Comment was succesfully deleted");
                this.GetDiscussionComments();
            }).catch((error)=>{

            });
        },
        ToggleEditMain(index){
            let temp = this.EditComments[index];
            temp.isEditing = !temp.isEditing;
            this.$set(this.EditComments, index, temp);
        },      
        ToggleEditReply(index, index2){
            let temp = this.EditComments[index];
            temp.Replies[index2] = !temp.Replies[index2];
            this.$set(this.EditComments, index, temp);            
        },            
        updateComment:function(event, discussion_id){

            if(this.isSubmitted){
                return;
            }
            this.isSubmitted = true;
            let edit_input={
                DiscussionID:discussion_id,
                Comment:event.target.value
            }

            this.isCommentLoading = true;
            updateDiscussionComment(this.GetSessionHeaders(), edit_input).then((response)=>{
                this.GetDiscussionComments();
            }).catch((error)=>{
                if(error.body.Errors.Comment){
                     this.errors = error.body.Errors.Comment;
                }
            }).finally(()=>{
                 this.isCommentLoading = false;
                 this.isSubmitted = false;
            });            
        }
    
    }
}
</script>
<style scoped>
.discussion.no-new-container{
    margin-top: 80px;
}
.discussion-comments-scroller{
    max-height: 520px;
    overflow-y: scroll;
}

@media only screen and (max-width: 1600px) {
    .discussion-comments-scroller {
        max-height: 650px;
    }
}
@media only screen and (max-width: 1366px) {
    .discussion-comments-scroller{
        max-height: 520px;
    }
}
</style>
