<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div class="col-md-3 search-sidebar">
        <div class="search-controls">
            <select class="form-control">
                <option>Sort By Title</option>
                <option>Sort By Newly Added</option>
                <option>Sort By Firstly Added</option>
            </select>
            <span class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <!-- <div class="create-new">
            <span class="fa fa-edit"></span>
            <span>Create a Discussion</span>
        </div> -->

        <!--ITEMS-->
        <div class="searched-items">
            <div class="item">
                <div class="aside-image">
                    <img src="../../assets/images/flags/074-peru.png">
                </div>
                <div class="content-details">
                    <div class="date-added">JAN 24, 2018 · 2:05 PM</div>
                    <div class="title">Exam 4013 - Lorem Ipsumasdasdasdas</div>
                    <div class="description">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</div>
                </div>
                <div class="clearing"></div>
            </div>
            
        </div>
        <!--END ITEMS-->

    </div>  
        <div class="col-md-9 admin-col-main">
           <div class="row">
               <div class="student-grade-row">
                  <div class="col-md-12 details">
                    <div>
                       <button class="btn btn-sm btn-more-opt">More options</button>
                     </div>
                     <h6>GRADES AND SCORESHEET</h6>
                     <h2>Exam 4013 - Lorem Ipsum</h2>
                     <p>
                         Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                     </p>
                 </div>
                <!--  <div class="col-md-1">
                     <button class="btn btn-sm btn-more-opt">More options</button>
                     <div class="clearing"></div>
                 </div> -->
               </div>
           </div>
           <div class="row student-grade-items-row">
               <div class="col-md-10 col-items">
                   <div class="grade-item">
                       <div class="header">
                           <span class="title">
                                Exam Section Name
                           </span>
                        </div>
                        <div class="description">
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            </p>
                        </div>
                   </div>

                   <div class="grade-item">
                       <div class="header">
                           <span class="title">
                                Exam Section Name
                           </span>
                        </div>
                        <div class="description">
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            </p>
                        </div>
                   </div>

                   <div class="grade-item">
                       <div class="header">
                           <span class="title">
                                Exam Section Name
                           </span>
                        </div>
                        <div class="description">
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            </p>
                        </div>
                   </div>

                   <div class="grade-item">
                       <div class="header">
                           <span class="title">
                                Exam Section Name
                           </span>
                        </div>
                        <div class="description">
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                            </p>
                        </div>
                   </div>

               </div>
               <div class="col-md-2">
                    <div class="grade-score-item">
                       <div class="header">
                           <span class="title">
                                FINAL SCORE
                           </span>
                        </div>
                        <div class="grade">
                            <span>98.3</span>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                        </div>
                        
                   </div>        

                    <div class="grade-score-item">
                       <div class="header">
                           <span class="title">
                                FINAL SCORE
                           </span>
                        </div>
                        <div class="grade">
                            <span>98.3</span>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                        </div>
                   </div>  

                    <div class="grade-score-item">
                       <div class="header">
                           <span class="title">
                                FINAL SCORE
                           </span>
                        </div>
                        <div class="grade">
                            <span>98.3</span>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                        </div>
                   </div>  

                    <div class="grade-score-item">
                       <div class="header">
                           <span class="title">
                                FINAL SCORE
                           </span>
                        </div>
                        <div class="grade">
                            <span>98.3</span>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                        </div>
                   </div>  

               </div>
           </div>  

          <!-- table -->
          <div class="row">
            <div class="student-grade-row g-wid-100">
                <div class="col-md-12 details">
                   <h6>GRADES AND SCORESHEET</h6>
                   <h2>Exam 4013 - Lorem Ipsum</h2>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10">
              <table class="table table-hover table-banks-list">
                <thead >
                    <tr>
                        <th>#</th>
                        <th>Student's Name</th>
                        <th>Retake</th>
                        <th>Score</th>
                        <th>Average</th>
                        <th>Grade</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lascosta, Katherine</td>
                        <td>1</td>
                        <td>50 </td>
                        <td>90.10</td>
                        <td>A</td>
                        <td>
                          <button type="button" class="table-btn-ag btn-sm btn-green btn-primary">View</button>
                          <button type="button" class="table-btn-ag btn-sm btn-green btn-danger popup_are_you_sure_two">Delete</button>
                        </td>
                    </tr>
                    
                </tbody>
              </table>
            </div>
            <div class="col-md-2">
                <div class="grade-score-item">
                   <div class="header-title">
                       <span class="title">FINAL SCORE</span>
                    </div>
                    <div class="grade">
                        <span>98.3</span>
                    </div>
                    <!-- <div class="text-center">
                      <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                    </div> --> 
                </div>   
             </div>
          </div>

          <!-- grade list -->
          <div class="row">
            <div class="col-md-10">
              <table class="table grade-list">
                <thead >
                    <tr>
                        <th>Grade</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <!-- <span>A+</span> -->
                          <div class="form-group offset-md-4">
                            <input type="text" name="" class="form-control ">
                          </div>
                        </td>
                        <td>
                          <div class="form-inline form-group offset-md-4">
                            <input type="text" name="" class="form-control grade-input"> <span class="mgrl10">to</span> <input type="text" name="" class="form-control grade-input">
                          </div>
                          <!-- <span class="mgrl10">95</span> to <span class="mgrl10">100</span> -->
                        </td>
                        <td>
                          <button type="button" class="table-btn-ag btn-sm btn-green btn-danger popup_are_you_sure_two">Delete</button>
                        </td>
                    </tr>
                </tbody>
              </table>
              <div class="row">
                  <div class="assign-btn">
                      <button type="button" class="btn btn-sm">Save Changes</button>
                      <button type="button" class="btn btn-sm">Cancel</button>
                  </div>
              </div>
            </div>
          </div>

        </div>     
    </div>


  </div>
</template>

<script>
export default {
    name:"StudentGrade"
}
</script>
<style scoped>
.table-banks-list{
  margin-top: 25px;
}

.table-banks-list th{
    color: #fff;
}

.table-banks-list td, .table-banks-list th {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 10px;
} 
.table-banks-list th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
    vertical-align: middle;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
</style>