<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div class="col-3 search-sidebar">
        <div class="messages search-controls ">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Name</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <div @click="prepareCreateMessage()" class="create-new new-msg">
            <span class="fa fa-edit"></span>
            <span>Create a New Message</span>
        </div>
        <div v-if="HasValue(memberDetail) && memberDetail.user_level == 4" class="teacher-only-msg-controls">
            <div class="msg-inbox" @click="ToggleMessageMode(1)" :class="{'active': Messagetab}">INBOX</div>
            <div class="msg-inquiry" @click="ToggleMessageMode(2)" :class="{'active': Inquirytab}">INQUIRY</div>
            <div class="clearing"></div>
        </div>        
        <!--ITEMS MESSAGES-->
        <div v-if="Messagetab == true && Inquirytab == false" class="searched-items">
            <div v-for="(item, index) in CompMessageHeads" :key="'mess_head_' + index" @click="GetConversationDetail(item, item.receiver_id)" class="item">
                <div class="aside-image">
                    <img v-if="item.profile_image != '' && item.profile_image != null" :src="GetProfileImageURL() + item.profile_image">
                    <img v-else src="../../assets/images/avatars/Avatar4.jpg">
                </div>
                <div class="content-details">
                    <!-- date_added -->
                    <div class="date-added"><strong> {{item.receiver}}</strong> 

                    <span v-if="!item.viewed" class="has-notif fa fa-circle red"></span>

                    <span v-if="item.is_not_date && !item.show_hour_only" class="float-right">{{item.last_active}}</span>
                    <span v-else-if="item.is_not_date && item.show_hour_only" class="float-right">{{ToClientLocalTimeOnly(item.last_active)}}</span>
                    <span v-else class="float-right">{{ToClientLocalDate(item.last_active)}}</span>
                    </div>
                    <div class="title">{{item.subject}}</div>
                    <div class="description">
                        {{item.message}}
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
        </div>
        <!-- INQUIRY -->
        
      <div v-if="Messagetab == false && Inquirytab == true" class="searched-items">
            <div v-for="(item, index) in CompInquiries" :key="'mess_head_' + index" @click="SelectInquiry(item)" class="item">
                <div class="aside-image">
                    <img src="../../assets/images/avatars/Avatar4.jpg">
                </div>
                <div class="content-details">
                    <!-- date_added -->
                    <div class="date-added"><strong> {{item.inquirer_name}}</strong>
                    
                    <span v-if="!item.viewed" class="has-notif fa fa-circle red"></span>

                    <span v-if="item.is_not_date && !item.show_hour_only" class="float-right">{{item.date_added}}</span>
                    <span v-else-if="item.is_not_date && item.show_hour_only" class="float-right">{{ToClientLocalTimeOnly(item.date_added)}}</span>
                    <span v-else class="float-right">{{ToClientLocalDate(item.date_added)}}</span>                    
                    </div>
                    <div class="title">{{item.inquirer_email}}</div>
                    <div class="description">
                        {{item.inquirer_message}}
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
        </div>        
        <!--END ITEMS-->
    </div> 
        <div v-if="!hasNewMessage" class="col-md-9  admin-col-main">
            <div class="messages no-new-container">
                <div class="col-md-10 message">
                    <div class="notif-img notif-img3">
                        <img src="../../assets/images/staticimage/notification.png">
                    </div>
                    <h3>No New Messages</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, erat ut ornare ultricies, nibh nunc posuere felis, id consequat massa sem scelerisque arcu. Aliquam mattis urna urna, quis ullamcorper risus volutpat sed.</p> -->
                </div>
            </div>
        </div>
        <div v-else class="col-md-7 offset-md-1 admin-col-main user-messages" id="messengerDiv">
            <!-- Create new message -->
            <div v-if="CreateNewMessage" class="row">
                <div class="col-md-12">
                    <div class="form-group row mg_b0">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Recipient</label>
                        <div class="col-sm-8">
                            <input v-model="MemberSearch" @change="SearchMembers()" type="text" class="form-control assign-bg mg-l15" placeholder="Type Username">
                        </div>
                        <div class="col-md-2">
                            <div class="form-group row text-center mg_b0">
                                <div class="msg-btn">
                                    <button type="button" class="table-btn-ag btn-sm btn-green btn-primary curs-pointer">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row message_span">
                        <div class="assign-bg mg-l15">
                            <span v-for="(item, index) in CompMembers" :key="'search_member_'+index" @click="SetReceiver(item)"  class="to_send_user rounded">
                                 {{item.fname}} {{item.lname}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-10">
                            <input v-model="input.Title" type="text"
                            :class="HasError(this.errors.Title)"
                            class="form-control assign-bg mg-l15" placeholder="Subject">
                            <div v-if="errors.Title.length > 0" class="invalid-feedback mg-l15">
                                {{errors.Title[0].replace("Title", "Subject")}}
                            </div> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Message</label>
                        <div class="col-sm-10">
                            <textarea v-model="input.Message"  :class="HasError(this.errors.Message)" class="form-control assign-bg mg-l15" rows="7"></textarea>
                            <div class="invalid-feedback mg-l15">
                                {{errors.Message[0]}}
                            </div> 
                        </div>                   
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="reply-controls col-sm-10">
                            <div class="left-controls left-controls2">
                                <button @click="SendNewMessage(true)" class="btn btn-sm btn-reply">
                                    <span  v-if="!isMessageReplyLoading">SEND</span>
                                    <sync-loader v-if="isMessageReplyLoading"></sync-loader> 
                                </button>
                            </div>
                            <div class="left-controls">
                                <button @click="CancelNewMessage()" class="btn btn-sm btn-delete btn-danger">CANCEL</button>
                            </div>
                            <div class="clearing"></div>
                        </div>
                    </div>                     
                </div>
               
            </div>    
            <!-- Create new message -->
            <div v-else-if="!CreateNewMessage && Messagetab == true">
                <div v-if="isLoading" class="row message-item">
                    <div class="loader" ></div>
                </div>
                <div v-if="!isLoading" class="row message-item">
                    <div class="col-md-10 details">
                        <div class="message-header">
                            <span class="fa fa-star"></span>
                            <h4 v-if="CurrentMessageHead !=null">{{CurrentMessageHead.subject}}</h4>
                            <div class="clearing"></div>
                            <!-- <span class="from">{{CurrentMessageHead.subject}}</span> -->
                        </div>
                    </div>
                </div>
                <div v-if="!isLoading" v-for="(item, index) in MessageDetails" :key="'message_detaile_' + index" class="row message-item">
                    <div class="col-md-8 details">
                        <div class="message-avatar">
                            <div class="sender-sendee">
                                <img v-if="item.profile_image != '' && item.profile_image != null" 
                                :src="GetProfileImageURL() + item.profile_image">
                            
                                <img v-else src="../../assets/images/avatars/Avatar4.jpg">
                        
                                <div class="clearing"></div>
                                <span v-if="item.urgency == 2" class="message-level urgent"> •  URGENT</span>
                                <div class="title">
                                    <span  v-if="item.sender_id == memberDetail.user_id">Me </span>
                                    <span  v-else>{{item.receiver}} </span>
                                    <!-- Me -->
                                </div>
                            </div>
                        </div>

                        <div class="message-content">
                            {{item.message}}
                        </div> 


                    </div>
                    <div class="col-md-4 msg-date-details">
                        <span>{{ ToClientLocalTime(item.date_added)}}</span>
                        <!-- <span>{{ ToFullDisplayDate(item.date_added)}}</span> -->
                        <!-- <span>2:06PM</span> -->
                        <div class="clearing"></div>
                    </div>  
                    <div class="clearing"></div>
                
                    </div> 

                    <div class="row">
                    <div class="col-md-12">
                            <div class="form-group row">
                                <textarea  v-on:keyup.ctrl.enter="SendNewMessage()" v-model="input.Message"  :class="HasError(this.errors.Message)"  class="form-control assign-bg mg-l15"></textarea>
                                    <div class="invalid-feedback mg-l15">
                                        {{errors.Message[0]}}
                                    </div>                             
                            </div>
                        </div>
                    </div>           
                    <!--REPLY PART-->
                    <div class="reply-controls">
                        <div class="left-controls">
                            <button @click="SendNewMessage()" class="btn btn-sm btn-reply">
                                <span v-if="!isMessageReplyLoading">REPLY</span>
                                <sync-loader v-if="isMessageReplyLoading"></sync-loader> 
                                
                            </button>
                            <!-- <button class="btn btn-sm btn-print" disabled>FORWARD</button>
                            <button class="btn btn-sm btn-print" disabled>PRINT</button> -->
                        </div>
                        <div class="right-controls">
                            <!-- <button class="btn btn-sm btn-delete" disabled>DELETE</button> -->
                        </div>
                        <div class="clearing"></div>
                    </div>
            </div>
            <div v-else-if="!CreateNewMessage && Inquirytab == true">
                <div v-if="isLoading" class="row message-item">
                    <div class="loader" ></div>
                </div> 
                <div v-if="!isLoading" class="row message-item">
                    <div class="col-md-10 details">
                        <div class="message-header">
                            <span class="fa fa-star"></span>
                            <h4 v-if="HasValue(CurrentInquryDetail)">Inquiry</h4>
                            <div class="clearing"></div>
                            <!-- <span class="from">{{CurrentMessageHead.subject}}</span> -->
                        </div>
                    </div>
                </div>                               
                <div v-if="HasValue(CurrentInquryDetail)" class="row message-item">
                    <div class="col-md-10 details">
                        <div class="message-avatar">
                            <div class="sender-sendee">
                                <img src="../../assets/images/avatars/Avatar4.jpg">
                                <div class="clearing"></div>
                                <div class="title">
                                    <span>{{CurrentInquryDetail.inquirer_name}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="message-content inquiry">
                            {{CurrentInquryDetail.inquirer_message}}
                        </div> 
                    </div>
                    <div class="col-md-2 msg-date-details">
                        <span v-if="CurrentInquryDetail.is_not_date && !CurrentInquryDetail.show_hour_only">{{CurrentInquryDetail.date_added}}</span>
                        <span v-else-if="CurrentInquryDetail.is_not_date && CurrentInquryDetail.show_hour_only">{{ToClientLocalTimeOnly(CurrentInquryDetail.date_added)}}</span>
                        <span v-else>{{ToClientLocalDate(CurrentInquryDetail.date_added)}}</span>                          
                        <!-- <span>{{CurrentInquryDetail.date_added}}</span> -->
                        <div class="clearing"></div>
                    </div>  
                    <div class="clearing"></div>                    
                </div>   
            </div>         
    </div>     
    </div>


  </div>
</template>

<script>
import {searchMember, postNewMessage, getMemberMessages, getMemberMessagesWith,postViewedMessage, getTeacherInquiry, postViewedInquiry} from '../../api/member/member.js'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'

export default {
    name:"Messages",
    components:{SyncLoader},
    data(){
        return{
            isLoading:false,
            isSubmitted:false,
            isInquiryLoading:false,
            isMessageReplyLoading:false,
            isSearching:false,
            SearchInput:'',
            Sort : 1,            
            hasNewMessage:false,
            CreateNewMessage:false,
            showConversation:false,
            isReplying:true,
            MemberSearch:null,
            CurrentMessageHead:null,
            Members:[],
            input:{
                ReceiverID:null,
                Title:null,
                Message:null,
                NewMessage:false,
            },
            errors:{
                ReceiverID:[],
                Title:[],
                Message:[],
            },
            InquiryHeads:[],
            MessageHeads:[],
            MessageDetails:[],

            Messagetab: true,
            Inquirytab:false,
            CurrentInquryDetail:null

        }
    },
    computed:{
        CompMessageHeads:function(){
            if(this.isSearching && this.SearchInput != ''){
                return this.MessageHeads.filter(item=>{
                    return item.receiver.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.MessageHeads.slice();
                return temp.sort(function(a,b){
                    var nameA = a.receiver.toUpperCase(); 
                    var nameB = b.receiver.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }     
            if(this.Sort == 1){
                return this.MessageHeads;
            }  
            if(this.Sort == 2){
                let temp =  this.MessageHeads.slice();
                console.log(temp);
                return temp.sort(function(a,b){
                    return new Date(a.last_active) - new Date(b.last_active);                
                });                
            }         
        
            return this.MessageHeads;
        },
        CompInquiries:function(){
            if(this.isSearching && this.SearchInput != ''){
                return this.InquiryHeads.filter(item=>{
                    return item.inquirer_name.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.InquiryHeads.slice();
                return temp.sort(function(a,b){
                    var nameA = a.inquirer_name.toUpperCase(); 
                    var nameB = b.inquirer_name.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }   
            
            if(this.Sort == 1){
                return this.InquiryHeads;
            }  

            if(this.Sort == 2){
                let temp =  this.InquiryHeads.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }  

        } ,       
        CompMembers:function(){
            return this.Members;
        },
        memberDetail : function(){
            return this.$store.state.memberDetail;
        },        
    },
    created(){
        this.GetMessages();
    },
    mounted(){
        this.GetInquiryTeacher();
    },
    methods:{
        ToggleMessageMode:function(mode){
            if(mode == 1){ //inbox
                this.Messagetab = true;
                this.Inquirytab = false;
            }else if(mode == 2){
                this.Messagetab = false;
                this.Inquirytab = true;
            }
        },
        prepareCreateMessage:function(){
            this.showConversation = false;
            this.CreateNewMessage = true;
            this.hasNewMessage = true;
            this.isReplying = false;
            this.MemberSearch = null;
            this.Members = [];
            this.input.Title = '';
            this.input.Message= '';
        },
        GetInquiryTeacher:function(){
            if(this.$store.state.memberDetail){
                if(this.$store.state.memberDetail.user_level != 4){
                    return;
                }            
                getTeacherInquiry(this.GetSessionHeaders()).then((response)=>{
                    this.InquiryHeads = response.body.Inquiry;
                });
                this.isReplying = false;
            }
        },
        SelectInquiry:function(item){
            this.isLoading = true;
            this.showConversation = true;
            this.CreateNewMessage = false;
            this.CurrentInquryDetail = item;
            this.hasNewMessage = true;
            this.isLoading = false;
            this.ViewedInquiry();
        },
        GetMessages:function(isNewMessage= false, MessageHeadId = 0){
            getMemberMessages(this.GetSessionHeaders(), this.GetClientTimeZone()).then((response)=>{
                this.MessageHeads = response.body.Messages;
                    if(this.MessageHeads.length > 0){
                        let notViewed = this.MessageHeads.filter(item=>{
                            return item.viewed == false;
                        });
                        if(notViewed.length == 0){
                            this.$store.commit("commitMemberNotifSubMessage",false);
                        }
                    }                     
            });
            this.isReplying = false;
            if(isNewMessage && MessageHeadId > 0){
                let test = this.MessageHeads.filter(item=>{
                    return item.message_head == MessageHeadId;
                });
                if(test.length > 0){
                    this.CurrentMessageHead = test[0];
                    this.input.ReceiverID = test[0].receiver_id;
                }
            }

        },
        GetConversationDetail:function(message_head ,receiver_id){
       
            this.showConversation = true;
            this.CreateNewMessage = false;
            this.hasNewMessage = true;
            this.input.ReceiverID = receiver_id;
            this.CurrentMessageHead = message_head;
            this.GetConversaionMessage(receiver_id);
            this.ViewedMessage();


        },
        GetConversaionMessage:function(receiver_id){
            this.isLoading = true;
            getMemberMessagesWith(this.GetSessionHeaders(), receiver_id).then((response)=>{
                this.MessageDetails = response.body.Messages;
              
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        SearchMembers:function(){
            searchMember(this.GetSessionHeaders(), this.MemberSearch ).then((response)=>{
               this.Members = response.body.Members;
            }).catch((error)=>{

            });
        },
        SetReceiver:function(receiver){
            this.input.ReceiverID = receiver.user_id;
            this.MemberSearch = receiver.fname + ' '+ receiver.lname;
        },
        SendNewMessage:function(isNewMessage = false){
            if(this.isSubmitted){
                return;
            }
            this.isMessageReplyLoading = true;
            this.isSubmitted = true;
            if(isNewMessage){
                this.input.NewMessage = true;
            }else{
                this.input.NewMessage = false;
            }
            
            postNewMessage(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success('Message was successfully sent!');
                // this.GetConversationDetail(this.input.ReceiverID, this.CurrentMessageHead);
                this.GetMessages(isNewMessage, response.body.MessageHeadID);
                this.GetConversaionMessage(this.input.ReceiverID);
                this.CreateNewMessage = false;
                this.input.Message = null;
                this.errors.Title = [];
                this.errors.Message = [];
            
            }).catch((error)=>{
                if(error.body.Errors.ReceiverID){
                    this.errors.ReceiverID = error.body.Errors.ReceiverID;
                }
                if(error.body.Errors.Title){
                    this.errors.Title = error.body.Errors.Title;
                }else{
                     this.errors.Title  = [];
                }
                if(error.body.Errors.Message){
                    this.errors.Message = error.body.Errors.Message;
                }else{
                    this.errors.Message = [];
                }                                
            }).finally(()=>{
                this.isSubmitted = false;
                this.isMessageReplyLoading = false;
            });
            this.isReplying = false;
        },
        ViewedMessage:function(){
            if(this.CurrentMessageHead == null){
                return;
            }
            if(!this.CurrentMessageHead.viewed){
                let read_input = {
                    MessageHeadID: this.CurrentMessageHead.message_head
                };
                postViewedMessage(this.GetSessionHeaders(), read_input).then((response)=>{
                    this.GetMessages();
                })          
            }
      
        },
        ViewedInquiry:function(){
            if(this.CurrentInquryDetail == null){
                return;
            }
            if(!this.CurrentInquryDetail.viewed){
                let read_input = {
                    InquiryID: this.CurrentInquryDetail.inquiry_id
                };
                postViewedInquiry(this.GetSessionHeaders(), read_input).then((response)=>{
                    this.GetInquiryTeacher();
                })   
            }
        },
        CancelNewMessage:function(){
            this.CreateNewMessage = false;
            this.hasNewMessage = false;
        }
                
    }
}
</script>
<style scoped>
.messages.search-controls .messages-title{
    float: left;
}
.messages.search-controls .messages-title span{
    float: left;
    margin-top: 0;
}
.messages.search-controls .messages-title span.fa{
    padding-left: 35px;   
    padding-top: 5px;
}
.messages.search-controls .messages-title span.header{
    padding-left: 20px;
    font-size: 23px;
}

.messages.search-controls .messages-title span:hover{
    color: white;
}
.search-sidebar .create-new.new-msg{
    text-align: center;
    font-size: 14px;
    color: #aab2bd;
}

.user-messages{
    margin-top: 95px;
    max-height: 80vh;
    overflow:scroll;
}
.user-messages::-webkit-scrollbar{
    display: block;
    width: 10px;
    opacity: 0.5;
}
.user-messages::-webkit-scrollbar-track{
    width: 3px; 
}
.user-messages::-webkit-scrollbar-thumb{
    border: 3px solid transparent;
    border-radius: 15px;
    background-color: #656d78;
    width: 3px !important;
    background-clip: content-box;
}
.user-messages .sender-sendee, .user-messages .message-header{
    float: left;
}



.user-messages .message-item{
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 20px;
}
.user-messages .message-item .details .sender-sendee img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /*margin-right: 12px;*/
    cursor: pointer;
}
.user-messages .message-item .details .message-level{
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}
.user-messages .message-item .details .message-level.urgent{
    color: #df5656;
}
.user-messages .message-item .details{
    color :#434a54;
}
.user-messages .message-item .details .message-header span.fa{
    float: left;
    padding-right: 8px;
    font-size: 10px;
    color:#f6bb42;
    height: 30px;
    line-height: 30px;
}
.user-messages .message-item .details .message-header h4{
    float: left;
    font-weight: 600;
}
.user-messages .message-item .details .message-header .from{
    font-size: 14px;
    line-height: 0;
    height: 25px;
    font-weight: 600;
}
.user-messages .message-item .msg-date-details{
    font-size: 12px;
    color :#434a54;
    text-align: right;
    padding:0;
}
.user-messages .message-item .msg-date-details span{
    text-align: right;
    font-weight: 600;
}

.user-messages .message-item .message-content{
    color :#434a54;
    font-size: 13px;
    padding: 12px;
    text-align: justify;
    word-wrap: break-word;
}
.user-messages .reply-controls {
    margin-top: 10px;
    margin-bottom: 45px;
}
.user-messages .reply-controls .left-controls{
    float: left;
    margin-right: 1em;
}
.user-messages .reply-controls .left-controls2{
    margin-left: .8em;
}
.user-messages .reply-controls button{
    width: 120px;
    color:white;
    font-weight: bold;
    border-radius: .7rem;
}
.user-messages .reply-controls .left-controls .btn-reply{
    background-color: #8cc152;
}
.user-messages .reply-controls .left-controls .btn-print{
    background-color: #033649;
}
.user-messages .reply-controls .right-controls .btn-delete{
    background-color: #dd4b4b;
}
.user-messages .reply-controls .right-controls{
    float: right;
}
.messages.no-new-container{
    margin-top: 80px;
    /*height: 100vh;*/
}
.to_send_user{
    background-color: #8cc152;
    color:white;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.to_send_user:hover{
    color: black;
}

.teacher-only-msg-controls{
    color: #434a54;
    height: 50px;
    line-height: 50px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
    transition-timing-function: ease-out;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6; 
}
.msg-inbox, .msg-inquiry{
    width: 50%;
    float: left;
    transition: inherit;
}
.msg-inbox.active, .msg-inquiry.active{
    background-color: lightgray;
}
.msg-inbox:hover, .msg-inquiry:hover{
    background-color: lightgray;
}
.message-content.inquiry{
    width: auto;
}
</style>

