<template>
<!-- Edit assignment -->
<div>
<div class="row header-row ">
    <div v-if="isLoading" class="loader" ></div>

    <div v-if="!isLoading && Detail != null" class="col-md-4 aside-image aside-image2">
           <div class="noImg">
                <span> {{Detail.assignment_title.charAt(0)}}</span>
            </div>
    </div>
    <div v-if="!isLoading && Detail != null" class="col-md-8 main-description">
        <!-- <h6>{{ToDate(Detail.date_added)}}</h6>  -->
        <h1><span>{{Detail.assignment_title}} </span></h1>

        <div class="form-group row">
            <div class="col-sm-12">
                    <div class="table-ul-con">
                        <table class="table-ul">
                            <tr>
                                <td class="title">Created On</td>
                                <td>{{ToDate(Detail.date_added)}}
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Due Date</td>
                                <td>{{ToDate(Detail.due_date)}}

                                    <!-- <button type="button" id="showsuccess" class="popup_success_assignment">CLICK</button> -->
                                </td>
                                
                            </tr>               
                            <tr>
                                <td class="title">Assignment Type</td>
                                <td v-if="Detail.type_id == 1">Audio</td>
                                <td v-if="Detail.type_id == 2">MCQ</td>
                                <td v-if="Detail.type_id == 3">Essay</td>
                                <td v-if="Detail.type_id == 4">File Upload</td>
                            </tr>         

                            <tr>
                                <td class="title">Linked Lesson</td>
                                <td>{{GetCategoryName(Detail.category_id)}} / {{Detail.section_title}} / {{Detail.level_title}} / {{Detail.title}}</td>
                            </tr>      
                                             
                            <tr>
                                <td class="title">Points</td>
                                <td>{{Detail.points}}</td>
                            </tr>
                            <tr>
                                <td class="title">Passing Grade</td>
                                <td class="color-pass-1 semi-bold"> {{Detail.passing_rate}}</td>
                            </tr>     
                            <tr v-if="Detail.submission">
                                <td>Answered Date</td>
                                <td>{{ToDate(Detail.submission.date_added)}}
                                </td>
                            </tr>                                                     
                            <tr v-if="Detail.submission">
                                <td>Grade</td>
                                <td>
                                        <span v-if="Detail.submission.status == 2" class="color-pending-1 semi-bold">PENDING</span>
                                        <span v-else>
                                            <!-- COMPLTET -->
                                            <!-- <span v-if="Detail.submission.pass_failed == 1" class="color-pass-1 semi-bold"> PASSED : </span>
                                            <span v-if="Detail.submission.pass_failed == 2" class="color-failed-1 semi-bold"> FAILED : </span> -->
                                            <span 
                                            class="semi-bold"
                                            :class="{'color-pass-1' : Detail.submission.pass_failed == 1, 
                                            'color-failed-1' : Detail.submission.pass_failed == 0}">{{ToPercent(Detail.points,Detail.submission.score )}} %</span>
                                            
                                        </span>
                                </td>
                            </tr>    
                                                                  
                        </table>
                    </div>


            </div>
        </div> 

    </div>
</div>
<div v-if="Detail != null && !isLoading">
<!-- ESSAY -->
<div v-if="Detail.type_id == 3"  class="row margin-top-15" >
    <div class="col-md-10 offset-md-1">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label pad-left-none">Description</label> 
            <div class="col-sm-9 pad-right-none">
                <label class="form-control-plaintext">{{Detail.description}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label pad-left-none">Answer</label> 
            <div class="col-sm-10 pad-right-none">
                <textarea v-model="input.Essay" :readonly="hasSubmitted" :class="HasError(this.errors.Essay, this.isInitialLoad)" class="form-control resize-none " rows="5"></textarea>            
                <div class="invalid-feedback">
                    {{errors.Essay[0]}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AUDIO OR FILE -->
<div v-if="Detail.type_id == 1 || Detail.type_id == 4" class="row " >
    <div class="col-10 offset-1">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label  pad-left-none">Description</label> 
            <div class="col-sm-9 pad-right-none">
                <label class="form-control-plaintext">{{Detail.description}}</label>
            </div>
        </div>
        <div class="form-group row" v-if="(Detail.type_id == 1 || Detail.type_id == 4) && HasValue(Detail.attachment_file)">
            <label for="staticEmail" class="col-sm-2 col-form-label  pad-left-none">Uploaded File</label> 
            <div class="col-sm-9 pad-right-none" >
                <label v-if="Detail.type_id == 1 && HasValue(Detail.attachment_file)" class="form-control-plaintext">
                    <audio controls controlsList="nodownload">
                        <source :src="this.GetAudioURL() + Detail.attachment_file"  >
                    </audio>   
                </label>
                <label v-else-if="HasValue(Detail.attachment_file)" class="form-control-plaintext">
                    {{Detail.attachment_file}}
                    <form target="_target" method="get" :action="this.GetOthersURL() + Detail.attachment_file">
                        <button class="btn btn-sm btn-primary btn-main-2" type="submit">DOWNLOAD</button>
                    </form>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGroupFile00" class="col-sm-2 col-form-label  pad-left-none">File</label>
            <div  class="col-sm-10 pad-right-none" > 
                <div class="input-group mb-3">
                <div class="custom-file">
                    <input ref="assign_attach_file" @change="UploadAssignMediaFile()" 
                    :disabled="hasSubmitted" 
                    accept=".docx,.pdf,.jpg,.jpeg,.png, .mp3, .mp4"  type="file" class="custom-file-input">
                    <label class="custom-file-label nowrap" for="inputGroupFile00">
                        <span v-if="!uploadFiles.AssignmentMediaAttachmentUploading">
                        {{uploadFiles.AssignmentMediaAttachment}}
                        </span>
                         <sync-loader v-else></sync-loader>
                    </label>
                </div>
                </div>
            <div class="invalid-feedback">
                {{this.errors.QuestionAttachment}}
            </div>
            </div> 
        </div>   
    </div>   
</div>

<!-- MCQ -->
<div v-if="Detail!= null && Detail.type_id == 2 && Detail.submission.status != 1 " class="row" >

    <div  v-if="!isMCQStarted"  class="col-md-10 offset-md-1 exam-take-question-col">
        <div class="row main-take-exam-row">
            <div  id="assignment_mcq_field" class="question-item">
                <div class="header">
                    <span class="title">
                        {{Detail.assignment_title}}
                    </span>
                    <span class="duration">
                    </span>
                </div>
                <div class="description text-center table-ul-con offset-md-4">
                    <table class="table-ul">
                        <tr>
                            <td class="title">No of Questions</td>
                            <td>{{Detail.no_of_questions}}</td>
                        </tr>
                        <tr>
                            <td class="title">Passing Grade</td>
                            <td>{{ToPercent(Detail.no_of_questions, Detail.passing_rate)}}</td>
                        </tr>                            
                    </table>
                </div>
            </div>    
        </div> 
    </div>

    <!-- START MCQ ASSIGNMENT -->
    <div v-if="!isMCQStarted" class="col-md-12">
        <div class="controls text-center">
            <div class="assign-btn">
                <button @click="StartMCQAssignment()" type="button" class="btn btn-primary btn-main-2">Start Assignment</button>
            </div>
        </div>
    </div>
    <!-- START MCQ ASSIGNMENT -->    

    <!-- Actual MCQ Field -->
    <div  v-if="isMCQStarted"  class="col-md-10 offset-md-1 exam-take-question-col">
        <div v-if="isQuestionLoading" class="loader" ></div>

        <div v-if="!isQuestionLoading" class="row main-take-exam-row">
            <div v-if="CurrentQuestionDetail != null" id="assignment_mcq_field" class="question-item">
                <div class="header">
                    <span class="title">
                         {{CurrentQuestionNo}} / {{TotalNoOfQuestions}}
                    </span>
                    <span class="duration">
                    </span>
                </div>
                <div class="description  text-center">
                     <p class="render-pre">  
                        {{CurrentQuestionDetail.question_description}}
                    </p>
                </div>
            </div>    
        </div> 
    </div>

    <div v-if="!isQuestionLoading && CurrentQuestionDetail != null"  class="col-md-8 offset-md-3 exam-take-choices exam-take-choices-col">
        
        <div v-if=" CurrentQuestionDetail.question_answer_mode == 1" class="row">
            <div v-for="(choice, index) in CurrentQuestionDetail.choices" :key="index" class="form-check col-md-6 exam-take-form">
                <div class="exam-take-choices-check">
                    <input @change="CheckAnswer()" v-model="McqAnswer" class="form-check-input" type="radio" name="choices" :id="'exampleRadios'+choice" :value="index + 1" >
                    <label class="form-check-label choice-option" :for="'exampleRadios'+choice">
                        {{choice}}
                    </label>
                </div>
                <div v-if="CurrentQuestionDetail.question_type_id != 1">
                    <div v-if="CurrentQuestionDetail.question_type_id == 2" class="attachement">
                        <img class="image_choice" :src="GetImageURL() +  CurrentQuestionDetail.choices_attachments[index]" >
                    </div>
                    <div  v-else class="attachement attachement_audio">
                        <audio controls controlsList="nodownload">
                            <source :src="GetAudioURL() + CurrentQuestionDetail.choices_attachments[index]"  >
                        </audio>  
                    </div>                
                </div>
            </div>
        </div>

        <div v-if=" CurrentQuestionDetail.question_answer_mode == 2" class="row">
            <div class="col-md-12">
                <textarea v-model="McqAnswer" class="form-control">

                </textarea>
            </div>

        </div>

    </div>   

    <div v-if=" isMCQStarted &&  !isQuestionLoading"  class="col-8 offset-md-2 exam-field-controls">
        <button :disabled="CurrentQuestionNo  <= 1" @click="PrevQuestionButton()"  class="btn btn-sm btn-exam-field ">PREVIOUS</button>
        <button v-if="CurrentQuestionNo  < TotalNoOfQuestions"  @click="NextQuestionButton()"  class="btn btn-sm btn-exam-field " >NEXT</button>
        <button v-else  @click="FinishExam()" class="btn btn-sm btn-exam-field " 
        :class="{ popup_exam_error: this.UnansweredQuestion.length > 0}" >
        SUBMIT</button>
        <div class="clearing"></div>
    </div>
     
    
    <!-- Actual MCQ Field -->


        
</div>

<!-- SUBMITTING ASSIGNMENT CONTROLS -->
<div v-if="Detail!= null && Detail.type_id != 2 && Detail.submission.status != 1 " class="row ">
    <div class="col-md-12">
        <div class="controls text-center">
            <div class="assign-btn">
                <button @click="SubmitNewAssignment()" :disabled="hasSubmitted" type="button" class="btn btn-sm btn-primary btn-main-2">Submit</button>
                <button @click="CancelAnswer()" type="button" class="btn btn-sm btn-danger">Cancel</button>
            </div>        
        </div>    
    </div>

</div>
<!-- SUBMITTING ASSIGNMENT CONTROLS -->

<!-- MCQ ANSWERS -->
<!-- SHOWS ONLY WHEN STUDENT HAS SUBMITTED -->
<div  v-if="Detail!= null && Detail.type_id == 2 && Detail.submission.status == 1 " class="row">
    <div  class="col-md-10 offset-md-1 exam-take-question-col">
        <div class="row main-take-exam-row">
            <div  id="assignment_mcq_field" class="question-item">
                <div class="header">
                    <span class="title">
                       {{GetCategoryName(Detail.category_id)}} : {{Detail.title}}
                    </span>
                    <span class="duration">
                    </span>
                </div>
                <div v-if="isPagerLoading" class="description text-center table-ul-con">
                    <div class="sm-loader margin-top-15" ></div>
                </div>
                <div v-else class="description text-center table-ul-con">
                    <table class="table-ul mcq_answer">
                        <tr>
                            <th class="question">Question</th>
                            <th class="answer">Answer</th>
                        </tr>
                        <tr v-for="(question, index) in AssignmentQuestions" :key="'questions_'+index">
                            <td class="question_desc " role="text">
                                <span tabindex="0" data-toggle="tooltip" :title="question.question_description">
                                {{question.question_description}}
                                </span>
                            </td>
                            <td class="question_answer"> 
                                <span class="color-pass-1 semi-bold" v-if="question.correct_answer == question.selected_answer">Correct - {{question.choice[question.selected_answer-1]}}</span>
                                <span class="color-failed-1 semi-bold" v-else>Incorrect - {{question.choice[question.selected_answer-1]}}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="student_assign_quest_controls ft-size-21 color-txt-main-2">
                        <span v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="fa fa-angle-left curs-pointer"></span>
                        <span v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="fa fa-angle-right curs-pointer"></span>
                    </div>
                </div>
            </div>    
        </div> 
    </div>    
</div>

<!-- MCQ ANSWERS -->

<!-- TEACHER COMMENTS -->
<div v-if="Detail !=null && Detail.submission.status == 1" class="row">
    <div class="col-md-10 offset-md-1">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label pad-left-none">Teacher's Comment</label> 
            <div class="col-sm-10 pad-right-none">
                <textarea :value="Detail.submission.teacher_comments" readonly  class="form-control resize-none" rows="5"></textarea>            
            </div>
        </div>
    </div>

</div>

<!-- TEACHER COMMENTS -->

</div><!--  nullchecker -->

<!-- MODAL -->
<input id="showsuccess" type="hidden" class="popup_success_assignment">
<div class="ag-student-assignment-submit ag-register-modal-container">
    <div class="inner-container">
           <div class="input-modal-form">
                <div v-if="Detail != null" class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading text-center"><b>ASSIGNMENT : </b>{{Detail.assignment_title}} was successfully finished</h5>
                    <hr>
                    <p class="mb-0 load-more">
                        <span v-if="input.Type != 2">
                            Please wait until the Teacher has graded your assignment.
                        </span>
                         <span v-else>
                             <span class="semi-bold">  RESULT</span> <br>
                             {{this.input.Score}} / {{this.TotalNoOfQuestions}} correct answers
                             <br>
                             <span v-if="this.input.Score >= this.Detail.passing_rate" class="color-pass-1 semi-bold" >PASSED</span>
                             <span v-else class="color-failed-1 semi-bold">FAILED </span>
                             <br>
                             <br>
                         </span>
                        <br>
                    </p>
                    <p class="text-center">
                         <br>
                         <button @click="ReloadPage()" class="btn btn-sm ag-modal-close-2 modal-close">Close</button>
                    </p>
                </div>                  
            </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>  
</div>
<!-- Edit assignment -->    
</template>
<script>
import {getAssignmentDetail} from '../../../api/teacher/exam.js'
import {submitAssignment, getStudentAssignmentDetail, getStudentAssignmentMCQAnswers} from '../../../api/student/exam.js'
import {getQuestionDetail} from '../../../api/teacher/question_bank.js'
import {uploadFile} from '../../../api/common/file_upload.js'
import AreYouSure from '../../subcomponents/modal/AreYouSureModal'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
export default {
    name:'EditAssignment',
    components:{AreYouSure, SyncLoader},
    data(){
        return{
            isLoading:false,
            AssignmentID:null,
            Detail:null,
            AssignmentQuestions:[], //forMCQ
            isInitialLoad:true,
            isSubmitted:false,
            hasSubmitted:false,//Student already sent the answers

            // FOR MCQ
            isMCQStarted:false,
            isQuestionLoading:false,
            Language:0,
            QuestionList:[],
            AnsweredQuestion:[],
            SelectedAnswers:[],//Answer
            UnansweredQuestion:[],
            CurrentQuestionNo: 0,
            NextQuestionNo : 1,
            TotalNoOfQuestions:null,
            CurrentQuestionDetail :null,
            McqAnswer:null,

            // FOR MCQ
            input:{
                AssignmentID:null,
                Type:null,
                Answers:[],
                Score:null,
                Essay:null,
                Result:null,
                FileAttachment:null
            },
            uploadFiles:{
                AssignmentMediaAttachmentUploading:false,
                AssignmentMediaAttachment:"Choose file"
            },
            errors:{
                AssignmentAttachment :[],
                Essay:[]
            } ,
            isPagerLoading:false,
            PageLimit : 4,//def = 20
            PageOffset: 1,
            PageCount : 0                          
        }
    }, 
    beforeRouteUpdate(to,from, next){
        this.AssignmentID = to.params.assign_id;
        this.input.AssignmentID = this.AssignmentID;
        this.isInitialLoad = true;
        this.GetDetail();
        this.ResetInputs();
        next();
    },    
    created(){
        this.AssignmentID = this.$route.params.assign_id;
        this.input.AssignmentID = this.AssignmentID;
        this.GetDetail();
    }, 
      
    methods:{
        GetDetail:function(){
            this.isLoading = true;
            getStudentAssignmentDetail(this.GetSessionHeaders(), this.AssignmentID).then((response)=>{
                this.Detail = response.body.Assignment;
                this.input.Type = this.Detail.type_id;
                // MCQ
                this.QuestionList = this.Detail.questions;
                this.TotalNoOfQuestions = this.Detail.no_of_questions; 
                this.AnsweredQuestion = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                this.SelectedAnswers = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                this.input.Answers = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                //MCQ
                if(this.Detail.submission){
                    this.hasSubmitted = true;
                    this.input.Essay = this.Detail.submission.answer_essay;
                    this.input.FileAttachment = this.Detail.submission.answer_attachment;
                    this.uploadFiles.AssignmentMediaAttachment =  this.Detail.submission.answer_attachment;
                    if(this.Detail.type_id == 2) {
                        this.GetSumbittedQuestionsAnswers();
                    }
                }else{
                    this.hasSubmitted = false;
                    this.input.Essay = "";
                    this.input.FileAttachment ="";
                    this.uploadFiles.AssignmentMediaAttachment ="Choose file" ;                    
                }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        UploadAssignMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.assign_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.uploadFiles.AssignmentMediaAttachment = media_file.name;
            this.uploadFiles.AssignmentMediaAttachmentUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.FileAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.uploadFiles.AssignmentMediaAttachmentUploading = false;
            });

        },

        SubmitNewAssignment:function(){
            this.isInitialLoad = false;
            this.isLoading = true;
            submitAssignment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSubmitted = true;
                document.getElementById('showsuccess').click();
            }).catch((response)=>{
                    if(response.body.Errors.Essay){
                        this.errors.Essay = response.body.Errors.Essay;
                    }else{
                        this.errors.Essay = [];
                    }                  
                // console.log(response);
            }).finally(()=>{
                this.isLoading = false;
                this.isMCQStarted = false;
            });
        } ,
        //FOR MCQ
        StartMCQAssignment:function(){
            this.isMCQStarted = true;
            this.NextQuestionButton();//get the first question
        },
        GetNextQuestionDetail:function(){
            this.isQuestionLoading = true;
            getQuestionDetail(this.GetSessionHeaders(), this.QuestionList[this.CurrentQuestionNo - 1], this.Language).then((response)=>{
                this.CurrentQuestionDetail = response.body.Question;
            }).catch((response)=>{

            }).finally(()=>{
                this.isQuestionLoading = false;
            });
        },       
        NextQuestionButton:function(){
            this.CheckAnswer();
            this.McqAnswer = null;
            this.CurrentQuestionNo = this.CurrentQuestionNo+1;
            this.GetNextQuestionDetail();
            this.GetPastAnswer();
        },
        PrevQuestionButton:function(){
            if(this.CurrentQuestionNo  <= 1){
                return;
            }
            this.CheckAnswer();
            this.McqAnswer = null;
            this.CurrentQuestionNo = this.CurrentQuestionNo-1;
            this.GetNextQuestionDetail();
            this.GetPastAnswer();
        },   
        CheckAnswer:function(){
            
            if(this.McqAnswer == null || this.McqAnswer == 0 ){
                return;//cause it will be automatically set to 0
            }
            
            //correct
            if(this.CurrentQuestionDetail.correct_answer == this.McqAnswer){
                this.AnsweredQuestion[this.CurrentQuestionNo - 1] = 1;
            }else{
                //incorrect
                this.AnsweredQuestion[this.CurrentQuestionNo - 1] = -1;
            }
            this.SelectedAnswers[this.CurrentQuestionNo - 1] = this.McqAnswer ;
            // console.log(this.SelectedAnswers);
        },            
        GetPastAnswer:function(){
            this.McqAnswer = this.SelectedAnswers[this.CurrentQuestionNo - 1];
        },  
        
   FinishExam:function(){
            
            if(this.CurrentQuestionDetail.question_answer_mode == 2){
                //Cause we don't have a way to check the answer
                this.CheckAnswer();
            }

            this.UnansweredQuestion = new Array();
            //Count the number of correct answers 
            var newArray = this.AnsweredQuestion.filter((ans,index)=>{
                if(ans == 1){
                    this.input.Score = this.input.Score + 1;
                }
                if(ans == 0){
                    this.UnansweredQuestion.push(index);
                    return true;
                }
            });

            if(this.UnansweredQuestion.length == 0){
                this.isCompleted = true;
                //Send the result to server
                this.isLoading = true;
                if(this.input.Score >= this.Detail.passing_rate){
                    //Passed
                    this.input.Result = 1;
                }else{
                    this.input.Result = 2;
                }
                this.input.Answers = this.SelectedAnswers;
                this.SubmitNewAssignment();
            }else{
                //reset the no of correct answer
                this.input.Score = 0;
                this.$toasted.error("You still have blank answers left");
            }
        },        
        GetSumbittedQuestionsAnswers:function(){
            this.isPagerLoading = true;
            getStudentAssignmentMCQAnswers(this.GetSessionHeaders(), this.AssignmentID, this.PageLimit, this.PageOffset).then((response)=>{
                this.AssignmentQuestions = response.body.Questions;
                this.PageOffset = response.body.PageOffset;
                this.PageCount = Math.ceil(response.body.TotalCount / this.PageLimit);
            }).finally(()=>{
                this.isPagerLoading = false;
            });
        },
        //FOR MCQ
       CancelAnswer:function(){
           this.$router.push({ name: 'StudentAssignment' });
       },
       ReloadPage:function(){
            this.GetDetail();
       },
       ResetInputs:function(){
            this.isInitialLoad = true;
            this.isMCQStarted = false;
       },
        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetSumbittedQuestionsAnswers();
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },        
     
    }      
}
</script>

<style scoped>
.table-banks-list thead th {
    background-color: #036564;
    border-color: #036564;
    color: #fff;
}
 .ag-student-assignment-submit.ag-register-modal-container{
    left: 0;
} 
.ag-student-assignment-submit.ag-register-modal-container .inner-container{
    width: 100%;
    margin-top: 32vh;
    margin-left: 28vw;
}
#assignment_mcq_field{
    width:100%;
}

#assignment_mcq_field .description{
  height: auto;  
}
.btn-start-mcq-assign{
    margin: auto;
}

.exam-field-controls{
    margin: 2em auto;
}
.exam-field-controls .btn-exam-field{
    background-color: #308a4f;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    height: 35px;
    width: 49%;
}
.exam-field-controls .btn-exam-field.disabled{
    background-color: gray;
}
.resize-none{
    resize:none;
    /* overflow-y: scroll; */
}
.resize-none::-webkit-scrollbar{
    display:block;
}
.main-take-exam-row .question-item .description{
    padding: 2em;
}
.table-ul.mcq_answer{

     width: 100%;
}
.table-ul.mcq_answer tr th.question{
    width: 70%;
}

.table-ul.mcq_answer .question_desc{
    margin-right: 15px;
    width: 70%;
}
.table-ul.mcq_answer .question_answer{
    text-align: center;
}
</style>