<template>
<div>
<div v-for="(item, index) in RecentAssignments" :key="'std_notif_assign'+index" class="row header-row">
    <div class="col-md-4 aside-image aside-image2">
        <!-- <img src="https://dev.agora-school.com/agorapiv1/public/resources/images/image_20180619-5b28b603c4d3e.jpg"> -->
           <div class="noImg">
                <span> {{item.title.charAt(0)}}</span>
            </div>    
    </div>
    <div class="col-md-8 main-description">
        <h6> {{ToDate(item.date_added)}}</h6> 
        <h1><span>{{item.title}} </span></h1>
        <div class="form-group row">
            <div class="col-sm-12">
                <p class="assign-content">{{item.description}} </p>
            </div>
        </div> 
        <div class="controls">
            <button @click="GoToAssignment(item.assignment_id, index)" type="button" class="btn edit assign_btn">Go To Assignment</button> 
        </div>
    </div>
</div>    
</div>    
</template>
<script>
import {viewRecentAssignment} from '../../../api/student/exam.js';
export default {
    name:"StudentNotifAssign",
    computed:{
        RecentAssignments:function(){
            return this.$store.state.memberRecentAssignments;
        },        
    },
    methods:{
        GoToAssignment:function(assignment_id, index){
            this.$store.commit("removeAssignmentFromRecent", index);
            let input = {AssignmentID: assignment_id};
            viewRecentAssignment(this.GetSessionHeaders(),input);
        
            this.$router.push({ name: 'AnswerAssignment', params: { assign_id : assignment_id } });
        }
    }
}
</script>

