<template>
<div class="container-fluid exam-manager-container st-assignment-container">
    <div class="row rw-max-height">
        <div class="col-md-12">
            <div class="row rw-max-height">
                <div class="col-md-3 search-sidebar ">
                    <div class="search-controls">
                        <select v-if="!isSearching" v-model="Sort" class="form-control">
                            <option value="0">Sort By Title</option>
                            <option value="1">Sort By Newly Added</option>
                            <option value="2">Sort By Firstly Added</option>
                        </select>
                        <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
                        <span @click="isSearching = !isSearching" class="fa fa-search"></span>
                        <div class="clearing"></div>
                    </div>
                    <!--ITEMS-->
                     <div class="searched-items">
                        <div v-for="(item, index) in CompAssignments" :key="'assignment_' + index" @click="GotoAssignmentPage(item.assignment_id)" class="item">
                            <div class="aside-image">
                                <img v-if="item.course_cover_image != '' && item.course_cover_image != null" 
                                    :src="GetImageURL() + item.course_cover_image">
                                 <span v-else class="circling-title">{{item.title.charAt(0)}}</span>
                            </div>
                            <div class="content-details">
                                <!-- <div class="date-added">{{item.date_added}}</div> -->

                      
                                <div class="title">{{item.title}}
                                    <span v-if="item.viewed == 0 && IsRecent(item.assignment_id)" class="has-notif fa fa-circle red"></span>
                                </div>

                               
                                <!-- <div class="description line-clamp line-clamp-3">
                                    {{item.description}}
                                </div> -->
                                <div class="description line-clamp line-clamp-3">
                                    <p class="line-clamp line-clamp-1">{{item.category_title}} - {{item.section_title}}  <br>
                                    <span>{{item.level_title}}</span></p>
                                </div>
                            </div>
                            <div class="clearing"></div>
                        </div>
                    </div>
                    <!--END ITEMS-->

                </div>

                <div class="col-md-9 main-content">
                    <div  v-if="!hasNewSubmissions  & isInitialLoad" class="assignment no-new-container">
                        <div class="col-md-10 message">
                            <div class="notif-img notif-img4">
                                <img src="../../../assets/images/staticimage/notification.png">
                            </div>
                            <h3>No New Notification</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, erat ut ornare ultricies, nibh nunc posuere felis, id consequat massa sem scelerisque arcu. Aliquam mattis urna urna, quis ullamcorper risus volutpat sed.</p> -->
                        </div>
                    </div>

                    <student-notif-assign v-else-if="hasNewSubmissions & isInitialLoad"/>

                    <router-view v-else></router-view>
                </div>
    
            </div>
        </div>
    </div>
</div>     
</template>
<script>
import {getStudentAssignment, getRecentStudentAssignment} from '../../../api/student/exam.js'
import StudentNotifAssign from './NotifsAssignment.vue'
export default {
    components:{StudentNotifAssign},
    data(){
        return{
            isSearching:false,
            isInitialLoad:true,
            SearchInput:'',
            Sort : 1,
            // hasNewSubmissions:false,
            tab:'assignment_ques',
            // Assignments:[],
        }
     
    },
    computed:{
        CompAssignments:function(){

            if(!this.$store.state.memberAssignments){
                return [];
            }
            if(this.isSearching && this.SearchInput != ''){
                return  this.$store.state.memberAssignments.filter(item=>{
                    return item.title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.$store.state.memberAssignments.slice();
                return temp.sort(function(a,b){
                    var nameA = a.title.toUpperCase(); 
                    var nameB = b.title.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                let temp =  this.$store.state.memberAssignments.slice();
                return temp.sort(function(a,b){
                    return new Date(b.date_added) - new Date(a.date_added);                
                });   
            }  
            if(this.Sort == 2){
                let temp =  this.$store.state.memberAssignments.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }  
            return this.$store.state.memberAssignments;
        },
        hasNewSubmissions:function(){
            if(this.$store.state.memberRecentAssignments.length > 0){
                return true;
            }
            return false;
        },
    },
    created(){
        this.GetStudentAssignments();
        this.GetStudentRecentAssignments();
    },
    beforeRouteUpdate(to,from, next){
        if(to.name == 'AnswerAssignment'){
            this.isInitialLoad = false;
        }else{
            this.isInitialLoad = true;
        } 
        next();
    },    
    methods:{
        GetStudentAssignments:function(){
            getStudentAssignment(this.GetSessionHeaders()).then(response=>{
                this.$store.commit("commitMemberAssignments", response.body.Assignments);
            });
        },
        GetStudentRecentAssignments:function(){
            getRecentStudentAssignment(this.GetSessionHeaders()).then((response)=>{
                this.$store.commit("commitMenberRecentAssignments",  response.body.Assignment);
            });
        },
        GotoAssignmentPage:function(assignment_id){
            this.isInitialLoad = false;
            this.$router.push({ name: 'AnswerAssignment', params: { assign_id : assignment_id } });
        },
        IsRecent:function(assignment_id){
            let count = this.$store.state.memberRecentAssignments.filter((item)=>{
                return item.assignment_id == assignment_id;
            }).length;

            return count >= 1;
        }
    }    
}
</script>

