<template>
<div class="container-fluid enroll-container faq-detail-container course-detail-container" >
    <div class="row">
        <div class="col-md-7 enroll-course-trailer">
            <img v-if="CourseDetail.course_cover_image != '' && CourseDetail.course_cover_image != null" :src="$parent.GetImageURL() + CourseDetail.course_cover_image" >
            <img v-else src="../../assets/images/sliders/bg1.jpg" >
        </div>
        <div class="col-md-5 enroll-course-main-details">
            <div class="row">
                <div class="col">
                    <h1 class="color-txt-main-2 semi-bold margin-top-15">{{CourseDetail.course_title}}</h1>
                    <div class="enroll-course-reviews">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <a href="#" class="enroll-course-reviews-count">0 Reviews</a>

                        <div class="row margin-top-15">
                            <div class="col">
                                <table class="enroll-course-table-detail">
                                    <tr>
                                        <td class="capstitle">Category</td>
                                        <td class="render-pre">{{CourseDetail.category_title}}</td>
                                    </tr>                                    
                                    <tr>
                                        <td class="capstitle">Description</td>
                                        <td class="render-pre">{{CourseDetail.course_description}}</td>
                                    </tr>
                                    <tr>
                                        <td class="capstitle">Questions</td>
                                        <td>{{CourseDetail.no_of_questions}}</td>
                                    </tr>   
                                    <tr>
                                        <td class="capstitle">Passing Rate</td>
                                        <td>{{ToPercent(CourseDetail.no_of_questions, CourseDetail.passing_rate) }}%</td>
                                    </tr>    
                                    <tr>
                                        <td class="capstitle">Lesson Type</td>
                                        <td>Essay</td>
                                    </tr>
                                    <tr>
                                        <td class="capstitle">Instructor</td>
                                        <td>{{CourseDetail.author}}</td>
                                    </tr>
                                    <tr>
                                        <td class="capstitle">Students</td>
                                        <td>{{CourseDetail.student_enrolled}} Registered</td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <button v-if="isLoggedIn" @click="EnrollCourse()" class="btn btn-light enroll-course-start">START COURSE</button>
                    <button v-else class="btn btn-light enroll-course-start popup_login_modal">START COURSE</button>
                </div>
                <div class="col-md enroll-course-category">
                    <a :href="'#'+ CourseDetail.category_id" class="enroll-course-category-link">{{CourseDetail.category_title}}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="row margin-top-45"></div>

    <!-- <div class="row margin-top-15">
        <div class="col">
            <h3 class="color-txt-main-2 semi-bold">Course Description</h3>
            <p class="enroll-course-excerpt color-txt-main-2 ">Lorem ipsum dolor sit amet, mea maiorum scaevola expetenda ex, 
                nihil impetus sea ne, quo cu ullum senserit. Ne putant eripuit suavitate est, 
                ea mea diceret appellantur, vim ea mollis feugait, im ea mollis feugait, 
                im ea mollis feugait, im ea mollis feugait
                ea mea diceret appellantur, vim ea mollis feugait, im ea mollis feugait, 
                im ea mollis feugait, im ea mollis feugait
            </p>
        </div>    
    </div> -->


</div>
</template>
<script>
import {getCourseDetail} from '../../api/teacher/exam.js'
import {enrollCourse} from '../../api/student/exam.js'
export default {
    
    name:"CourseDetail",
    data(){
        return{
            isLoading:true,
            CourseDetail :{},
            inputs:{
                CourseID:null
            }
        }
    },
    computed:{
        isLoggedIn : function(){
            return this.$store.state.isLoggedIn;
        }
    },
    beforeRouteUpdate(to,from, next){
        let course_id = to.params.course_id;
        this.GetExamCourseDetails(course_id);
        next();
    },    
    mounted(){
        let course_id = this.$route.params.course_id;
        this.GetExamCourseDetails(course_id);
    },
    methods:{
        GetExamCourseDetails:function(course_id){
            this.isLoading = true; 
            getCourseDetail(this.$parent.GetSessionHeaders(), course_id).then((response)=>{
                this.inputs.CourseID = course_id;
                if(response.status == 200){
                    this.CourseDetail = response.body.Course;
                }
            }).finally(()=>{
                this.isLoading = false;
            })
        },
        EnrollCourse:function(){
            if(this.$store.state.memberDetail.user_level == 0){
                this.$toasted.error("Sorry. You don't have a subscription yet. Please go to Membership page to inquire");
                return;
            }
            if(!this.$store.state.isValidUser){
                this.$toasted.error("Sorry. You're Subscription trial has been expired");
                return;
            }
            

            enrollCourse(this.$parent.GetSessionHeaders(), this.inputs).then((response)=>{
                if(response.status == 200){
                    this.$router.push({ name: 'StudentExam' });
                }
            }).catch((error)=>{
                if(error.body.Errors.Course){
                    this.$router.push({ name: 'StudentExam' });
                }
            });
        }
    }
}
</script>
<style scoped>
.course-detail-container{
    margin-top: 90px;
}
</style>

