<template>
	<div class="container-fluid course-list-container course-sub">
	    <div class="container-fluid course-list-banner-img">
	        <img class="d-none d-md-block" src="../../assets/images/staticimage/courses_new.png">
	    </div>
	    <div class="container-fluid course-list-sort-container">
	        <button class="btn btn-outline course-list-sort-controls" @click="GoToCourses()"><span class="fa fa-bars"></span> Courses</button>
			<span v-if="HasValue(SectionDetail)"  class=" course-list-sort-controls">
				<span @click="GoToCourses()">{{GetCategoryName(SectionDetail.category_id)}}</span>> {{SectionDetail.section_title}} 
			</span>
			<!-- <button v-if="HasValue(SectionDetail)"  class="btn btn-outline course-list-sort-controls"> {{GetCategoryName(SectionDetail.category_id)}} > {{SectionDetail.section_title}} </button> -->
	    </div>
		<div v-if="isLoading" class="container-fluid">
			    <div class="loader"></div>
		</div>
	    <div v-if="!isLoading && SectionDetail != null" class="container-fluid">
	    	<div class="row">
	    		<div class="col-md-12">
					<h1 class="color-txt-main-2 semi-bold margin-top-15">{{SectionDetail.section_title}}</h1>					
	    			<p>
						<!-- {{SectionDetail.section_description}} -->
					</p>
	    		</div>
				
	    	</div>
			<div class="row">
				<div class="col-md-10">
					<table class="table-ul">
						<tr>
							<td class="title">Choose Level: </td>
							<td>
								<select v-model="CategorySectionLevelID" @change="ChangeLevel()" class="form-control" >
									<option v-for="(item,index) in this.SectionDetail.section_item"
									:key="'course_section_levels_'+item.category_section_id+'_'+index"
									:value="item.category_section_level_id">
									{{item.level_title}}
									</option>
								</select>	
							</td>
						</tr>      
					</table>					
				</div>				
			
			</div>
	    	<div class="row" id="overlay">
	    		<div class="col-md-12 get-started-line get-started-line2">
	    			<div class="overlay-line"></div>
	    		</div>
	    	</div>
			<div v-if="isSectionLoading" class="row">
				<div class="sm-loader margin-top-15"></div>
			</div>			
			<div v-if="!isSectionLoading && HasValue(SectionLevelDetail)" >
			<div 
			v-for="(item,index) in SectionLevelDetail.chapter_details" :key="'course_section_'+item.category_section_id+'_'+index" >
				<div class="row">
					<div class="col-md-12">
						<h2 class="cs-maintitle">Chapter {{item.chapter_no}}</h2>
					</div>
				</div>

				<div v-for="(course, index) in item.course_detail" :key="'course_exams'+index" class="row course-sub-line margin-bot-15 ">
					<!-- MAIN EXAM -->
					<div class="col-md-1">
						<div class="cs-imgcon">
							<a @click.prevent="GenerateModalInfo(GetMainExam(course.course_section), GetExamSectionItems(course.course_section), GetUnitTestPassFailed(course.course_section))" 
									href="#" class="popup_test_detail">
								<img src="../../assets/images/staticimage/exam1-min.jpg" class="cs-image">
							</a>
						</div>
						<div class="">
							<p class="text-center cs-subtext">
								<a @click.prevent="GenerateModalInfo(GetMainExam(course.course_section), GetExamSectionItems(course.course_section), GetUnitTestPassFailed(course.course_section))" 
									href="#" class="popup_test_detail">Exam</a>
							</p>
						</div>
					</div>

					<div v-if="GetUnitTest(course.course_section) != null" class="col-md-1">
						<div class="cs-imgcon">
							<a @click.prevent="GenerateModalInfo(GetUnitTest(course.course_section) , 
									GetExamSectionItems(course.course_section))" class="popup_test_detail" href="#">
									<img src="../../assets/images/staticimage/test1-min.jpg" class="cs-image">
							</a>
						</div>
						<div class="">
							<p class="text-center cs-subtext">
								<a @click.prevent="GenerateModalInfo(GetUnitTest(course.course_section) , 
									GetExamSectionItems(course.course_section))" class="popup_test_detail" href="#">Test</a>
							</p>
						</div>
					</div>
					<div v-for="(worksheet, w_index) in GetWorksheets(course.course_section)" 
					:key="'section_sub_item'+worksheet.section_item_id" 
					class="col-md-1">
						<div class="cs-imgcon" :class="{'disabled' : (w_index != 0 && isFreeTrial)}">

							<!-- FOR FREE TRIAL -->
							<a v-if="w_index != 0 && isFreeTrial"  @click.prevent="FreeTrialRestrict()" class="" href="#">
								<img src="../../assets/images/staticimage/worksheet1-min.jpg" class="cs-image">
							</a>
														
							<a v-else @click.prevent="GenerateModalInfo(worksheet,null,false, w_index+1)" class="popup_test_detail" href="#">
								<img src="../../assets/images/staticimage/worksheet1-min.jpg" class="cs-image">
							</a>
						</div>
						<div class="">
							<p class="text-center cs-subtext">
								<a v-if="w_index != 0 && isFreeTrial" @click.prevent="FreeTrialRestrict()" href="#">Worksheet</a>

								<a v-else @click.prevent="GenerateModalInfo(worksheet,null,false, w_index+1)" class="popup_test_detail" href="#">Worksheet</a>
							</p>
						</div>
					</div>
				</div>
			</div>	

				<nav class="pager_navigation" aria-label="Question Bank Lists">
				<ul class="pagination justify-content-center">
					<li class="page-item">
					<a v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
					</li>

					<li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)" :key="n"  v-if="(n >= PageOffset) && (n < PageOffset + 5)">
					<a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
					</li>

					<li class="page-item">
					<a v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="page-link" href="#">Next</a>
					</li>
				</ul>
				</nav>



			</div>

	    </div>
		<detail-modal :CourseDetail="ModalDetailProp" @closing="DetailModalClosing()"/>
	</div>
</template>
<script>
import {getCategories3SectionDetail, getCategories3SectionLevelDetail} from '../../api/teacher/exam.js';
import DetailModal from './DetailModal';
export default {
	name:'CourseSub',
	components:{DetailModal},
    data(){
        return{
			isInitialLoad:true,
			isLoading:false,
			isSectionLoading:false,
			CourseID:null,
			CategorySectionID:null,
			CategorySectionLevelID:null,
			ModalDetailProp:null,
			SectionDetail:null,
			SectionLevelDetail:null,
            PageLimit : 4, //4 chapters per page
            PageOffset: 1,
            PageCount : 0,  
        }
	},
	computed:{
        isLoggedIn : function(){
            return this.$store.state.isLoggedIn;
		},
		isFreeTrial : function(){
			if(this.$store.state.isLoggedIn){
				if(this.$store.state.memberDetail.user_level == 1){
					return true;
				}
				return false;
			}

			return false;
		}
	},
	created(){
		this.CourseID = this.$route.params.course_id;
		this.CategorySectionID = this.$route.params.course_id;
		this.GetCategorySectionDetail();
	},
	methods:{
		GetCategorySectionDetail:function(){
			 this.isLoading = true; 
			getCategories3SectionDetail(this.GetSessionHeaders(), this.CategorySectionID).then((response)=>{
				this.SectionDetail = response.body.SectionDetail;

				//Automatically set the to first level if for initial load
				if(this.isInitialLoad && this.HasValue(this.SectionDetail)){

					if(this.SectionDetail.section_item.length <= 0){
						return;
					}
					this.CategorySectionLevelID = this.SectionDetail.section_item[0].category_section_level_id;
					this.GetSectionLevelDetail();

					this.isInitialLoad = false;
				}
			}).finally(()=>{
                this.isLoading = false;
            })
		},
		GetSectionLevelDetail:function(){
			this.isSectionLoading = true;
			getCategories3SectionLevelDetail(this.GetSessionHeaders(), this.CategorySectionID, this.CategorySectionLevelID, this.PageLimit, this.PageOffset).then((response)=>{
				this.SectionLevelDetail = response.body.SectionLevelDetail;
				this.PageCount = response.body.SectionLevelDetail.PageCount;
				
			}).finally(()=>{
				this.isSectionLoading = false;
			})
		},
		ChangeLevel:function(){
			this.PageOffset = 1;
			this.GetSectionLevelDetail();
		},
		GenerateModalInfo:function(item,SectionItems = null,  isUnitTestPassed = false, worksheetNo = null){
				this.ModalDetailProp = {
					course_cover_image : null,
					course_title: item.title,
					course_description: item.description,
					no_of_questions: item.no_of_question,
					passing_rate: item.passing_rate,
					item_type :item.item_type,
					answer_type :item.answer_type,
					section_id : item.section_id,
					section_item_id : item.section_item_id,
					user_progress: item.user_progress,
					course_id:item.course_id,
					unit_test_pass_failed: isUnitTestPassed,
					section_items : SectionItems,
					worksheet_no : worksheetNo
				}

		},
	   //Helpers
	   GetExamSectionItems:function(SectionItems){
			if(!SectionItems){
				return {};
			}
			return SectionItems[0].section_item;

	   },
	   GetUnitTestPassFailed:function(SectionItems){
			if(!SectionItems){
				return false;
			}
			return SectionItems[0].unit_test_pass_failed;
	   },	   
		GetWorksheets:function(SectionItems){
			if(!SectionItems){
				return;
			}			
			let items = SectionItems[0].section_item.filter((item)=>{
                return  (item.item_type == 1);
            });

            return items;
		},   
		GetUnitTest:function(SectionItems){
			if(!SectionItems){
				return;
			}
			if(SectionItems.length > 0){
				let items = SectionItems[0].section_item.filter((item)=>{
					return  (item.item_type == 2);
				});
		
				if(items.length > 0){
					return items[0];
				}				
			}
		},
		GetMainExam:function(SectionItems){
			if(!SectionItems){
				return;
			}
			if(SectionItems.length > 0){
				let items = SectionItems[0].section_item.filter((item)=>{
					return  (item.item_type == 3);
				});
				if(items.length > 0){
					return items[0];
				}				
			}
		},		
		GoToCourses:function(){
			 this.$router.push({ name: 'CourseList' });
		},
		DetailModalClosing:function(){
	
		},

        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetSectionLevelDetail();
        },
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
		},
		FreeTrialRestrict:function(){
			this.$toasted.error("We're sorry. Your free trial has expired. \n Please head to your Profile to select a subscription to continue.");
		}

	}
	
    

}
</script>