<template>
<div class="container-fluid course-list-container">
    <div class="container-fluid course-list-banner-img">
        <img class="d-none d-md-block" src="../../assets/images/staticimage/courses_new.png">
    </div>
    <div class="container-fluid course-list-sort-container">
        <button class="btn btn-outline course-list-sort-controls" @click="SortBy('CourseCategoryList')">
            <span class="fa fa-bars"></span> Courses
        </button>
        <!-- <button class="btn btn-outline course-list-sort-controls"  @click="SortBy('CoursesItemList',1 )">
            <span class="fa fa-star"></span> Popular
        </button>
        <button class="btn btn-outline course-list-sort-controls" @click="SortBy('CoursesItemList',2 )"><span class="fa fa-plus"></span> Latest</button> -->
    </div>
    <div class="container-fluid">
        <keep-alive>
            <component v-bind:is="CurrentComponent"></component>
        </keep-alive>
        <input id="course_list_logged_in" type="hidden" class="reload_not_logged_in"/>
    </div>
</div>

</template>
<script>
import  CourseCategoryList  from "./subcomponents/Coursesv2";
import {bus} from '../../main.js'
export default {
  name: 'CourseLists',
  components:{
      CourseCategoryList
  },
  data(){
      return{
          CurrentComponent : 'CourseCategoryList',
          SortingMode : 1, //Popular
      }
  },
  mounted(){
       document.getElementById('course_list_logged_in').click();
  },
    methods:{
        SortBy(SortingComponent,SortingMode=0){
            this.CurrentComponent = SortingComponent;
            if(SortingMode != 0){
                this.SortingMode = SortingMode;
                //1 is Popular 2 is latest
                bus.$emit('CourseListSortBy', this.SortingMode);
            }
        },
        //will be called at the category component
        FilterByCategory(CategoryId){
            this.CurrentComponent = 'CoursesItemList';
            bus.$emit('FilterByCategory', CategoryId);
        }
    }

}
</script>

<style scoped>
.course-list-container{
    padding-top:56px;
    min-height: 780px;
}
</style>
