<template>
<div class="ag-test-detail-modal ag-register-modal-container">
    <!-- new design -->
    <div v-if="CourseDetail != null" class="container-fluid enroll-container course-detail-container courses_new_design">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <span class="ag-modal-close ag-modal-close-4 fa fa-times" @click="CloseModal()"></span>
                <div class="courses_modal_new1" v-if="CourseDetail.item_type == 3">
                    <!-- <h3 class="cm_title courses-green">{{CourseDetail.course_title}}</h3> -->
                    <h3 class="cm_title courses-green">Exam</h3>
                    <div class="main-content courses-lg-green">
                        <div class="cm_desc ">
                            <!-- <p>{{CourseDetail.course_description}}</p> -->
                            <p v-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else-if="CourseDetail.answer_type == 2">Essay</p>
                            <p v-else>Multiple Choice</p>
                            <!-- <p v-else>Combination of Multiple Choice and Essay</p> -->
                            <hr style="border-top: dotted 1px;" />
                            <!-- <p v-if="CourseDetail.answer_type == null || CourseDetail.answer_type == 3">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.</p>
                            <p v-else-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else>Essay</p> -->
                            <p>Upon clicking the button below,
                                you will be automatically redirected to the Exam's Page.
                            </p>
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-light"><span class="title">{{CourseDetail.no_of_questions}}</span> <br> <span class="sub">Questions</span></button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light"><span class="title">{{ToPercent(CourseDetail.no_of_questions, CourseDetail.passing_rate) }}%</span> <br> <span class="sub">Passing Rate</span></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button v-if="isLoggedIn"  @click="TakeExam()" type="button" class="btn courses-green "><span class="exam">Take Exam</span></button>
                                <button v-else  type="button" class="btn courses-green  popup_login_modal"><span class="exam">Take Exam</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses_modal_new1" v-if="CourseDetail.item_type == 2">
                    <!-- <h3 class="cm_title courses-red">{{CourseDetail.course_title}}</h3> -->
                    <h3 class="cm_title courses-red">Test</h3>
                    <div class="main-content courses-lg-red">
                        <div class="cm_desc ">
                            <!-- <p>{{CourseDetail.course_description}}</p> -->
                            <p v-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else-if="CourseDetail.answer_type == 2">Essay</p>
                            <p v-else>Multiple Choice</p>
                            <!-- <p v-else>Combination of Multiple Choice and Essay</p>                                                         -->
                            <hr style="border-top: dotted 1px;" />
                            <!-- <p v-if="CourseDetail.answer_type == null || CourseDetail.answer_type == 3">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.</p>
                            <p v-else-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else>Essay</p>     -->
                            <p>Upon clicking the button below,
                                you will be automatically redirected to the Exam's Page.
                            </p>                                                   
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-light"><span class="title">{{CourseDetail.no_of_questions}}</span><br> <span class="sub">Questions</span></button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light"><span class="title">{{ToPercent(CourseDetail.no_of_questions, CourseDetail.passing_rate) }}%</span> <br> <span class="sub">Passing Rate</span></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button v-if="isLoggedIn"  @click="TakeExam()" type="button" class="btn courses-red "><span class="exam">Take Test</span></button>
                                <button v-else  type="button" class="btn courses-red  popup_login_modal"><span class="exam">Take Test</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Worksheet -->
                <div class="courses_modal_new1" v-if="CourseDetail.item_type == 1">
                    <h3 class="cm_title courses-yellow">Worksheet {{CourseDetail.worksheet_no}}</h3>
                    <div class="main-content courses-lg-yellow">
                        <div class="cm_desc ">
                            <!-- <p>{{CourseDetail.course_description}}</p> -->
                            <p v-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else-if="CourseDetail.answer_type == 2">Essay</p>   
                            <p v-else>Multiple Choice</p>                         
                            <hr style="border-top: dotted 1px;" />
                            <!-- <p v-if="CourseDetail.answer_type == null || CourseDetail.answer_type == 3">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.</p>
                            <p v-else-if="CourseDetail.answer_type == 1">Multiple Choice</p>
                            <p v-else>Essay</p>   -->
                            <p>Upon clicking the button below,
                                you will be automatically redirected to the Exam's Page.
                            </p>                                                      
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-light"><span class="title">{{CourseDetail.no_of_questions}}</span> <br> <span class="sub">Questions</span></button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-light"><span class="title">{{ToPercent(CourseDetail.no_of_questions, CourseDetail.passing_rate) }}%</span> <br> <span class="sub">Passing Rate</span></button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button v-if="isLoggedIn" @click="TakeExam()" type="button" class="btn courses-yellow "><span class="exam">Take Worksheet</span></button>
                                <button v-else  type="button" class="btn courses-yellow  popup_login_modal"><span class="exam">Take<br> Worksheet</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <span class="ag-modal-close ag-modal-close-2 fa fa-times" @click="CloseModal()"></span> -->
</div>  
</template>
<script>
export default {
    name:'DetailModal',
    props:{CourseDetail:null},
    data(){
        return{
            CourseID : null,
            SectionID : null,
            isRetake : false,
            Language :0 , //defaul to english for now because fu
            isShowing:true,
        }
    },
	computed:{
        isLoggedIn : function(){
            return this.$store.state.isLoggedIn;
        }
    },   
    methods:{
        UnitTestCheck(){
            if(!this.CourseDetail){ return; } 
            if(!this.CourseDetail.section_items) {return;}
            
            let totalWorksheets =  this.CourseDetail.section_items.filter((item)=>{
                return  (item.item_type ==1);
            });

            let totalPassedWorksheets =  this.CourseDetail.section_items.filter((item)=>{
                if(item.user_progress){
                    return  (item.item_type ==1  && item.user_progress.pass_failed == 1);
                }
                return false;
            });            

            if( (totalPassedWorksheets.length) >=(totalWorksheets.length / 2)){
                return true;
            }
            return false;            
        },
        MainExamCheck(){
            if(!this.CourseDetail){ return; } 
            if(!this.CourseDetail.section_items) {return;}  
            return this.CourseDetail.unit_test_pass_failed;
        },
        TakeExam:function(){

            if(this.$store.state.memberDetail.user_level == 0){
                // this.$toasted.error("You are enrolling with no current subscription.");
                this.$toasted.error("Please go to your Profile and click on Get Subscription to proceed.");
                return;
            }
            if(this.$store.state.memberDetail.user_level == 1 && !this.$store.state.isValidUser){
                this.$toasted.error("We're sorry. Your free trial has expired.\nPlease head to your Profile to select a subscription to continue");
                return;
            }
            if(this.CourseDetail.item_type == 2){
                if(!this.UnitTestCheck()){
                    this.$toasted.error("Sorry, You are not yet eligible to take this Unit Test.");
                    return;
                }
            }else if(this.CourseDetail.item_type == 3){
                if(!this.MainExamCheck()){
                    this.$toasted.error("Sorry, You are not yet eligible to take this Exam.");
                    return;
                }
            }
            


            if(this.CourseDetail.user_progress){
                this.isRetake = true;
            }

            this.CourseID = this.CourseDetail.course_id;
            this.SectionID = this.CourseDetail.section_item_id;
             this.$router.push({ name: 'StudentInProgressExam', 
             params: {exam_id : this.CourseID, quiz_id : this.SectionID },  query: { retake: this.isRetake, language:this.Language } });
        },

        CloseModal(){
            this.$emit("closing");
        }
    }
}
</script>
<style scoped>
.ag-test-detail-modal{
    left: 0;
}
#modalDetail{
    background-color: white !important;
    width: 80%;
    padding: .93em 1.5em 1.5em 1.5em;
    margin-top: 6%;
}
</style>

