<template>
<!--Index Course Collection-->
<div class="container-fluid course-collection how-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>How It Works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="how">
                    <img src="../../../assets/images/staticimage/steps/step1.png" alt="How it works step 1">
                    <p class="title">Step 1</p>
                    <p>Complete all Worksheets of one Chapter.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="how">
                    <img src="../../../assets/images/staticimage/steps/step2.png" alt="How it works step 2">
                    <p class="title">Step 2</p>
                    <p>Take the Test.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="how">
                    <img src="../../../assets/images/staticimage/steps/step3.png" alt="How it works step 3">
                    <p class="title">Step 3</p>
                    <p>Take the Exam. Chapter complete!</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="how">
                    <img src="../../../assets/images/staticimage/steps/step4.png" alt="How it works step 4">
                    <p class="title">Step 4</p>
                    <p>Take the Assignments, join the discussion, interact with your classmates. Aim to be ranked!</p>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--End Index Course Collection-->
</template>