<template>
<!--Index Reviews-->
<div class="container-fluid reviews-container reload_reviews">
    <div class="container ">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h1>REVIEWS</h1>
                    <hr class="hr-line">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="reviewsliderslick">

                            <div class="review-slider">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4 review-slider-avatar">
                                            <img class="rounded-circle review-image" src="../../../assets/images/avatars/Avatar2.jpg"/>
                                        </div>
                                        <div class="col-8 testimony-holder">
                                            <p class="testimony">
                                                “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Nam aliquet vitae libero at porta. Nunc ullamcorper est sed nibh maximus, 
                                                vitae euismod neque fermentum.”
                                            </p>
                                            <p class="testimoner">
                                                John Doe, Teacher
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="review-slider">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4 review-slider-avatar">
                                            <img class="rounded-circle review-image" src="../../../assets/images/avatars/Avatar4.jpg"/>
                                        </div>
                                        <div class="col-8 testimony-holder">
                                            <p class="testimony">
                                                “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Nam aliquet vitae libero at porta. Nunc ullamcorper est sed nibh maximus, 
                                                vitae euismod neque fermentum.”
                                            </p>
                                            <p class="testimoner">
                                                John Doe, Teacher
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Reviews-->


</template>
<script>
export default {
  name: 'IndexReviews'
}
</script>
