<template>
<!--Index Course Collection-->
<div class="container-fluid course-collection how-container mission-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Mission</h2>
                <div class="mission mission2">
                    <p>
                        Education is society’s great leveller. Here at Agora School, we make education accessible. It doesn’t matter where you are; in this digital age, a classroom can be anywhere. It doesn’t matter what stage of learning you’re at; we cater to all levels.
                    </p>
                </div>
                <h2>Your Goals</h2>
                <div class="mission">
                    <p>
                        You could be a student, hungry to learn and achieve. Or a parent who wants the best for his or her child. Perhaps you’re a mature student keen to go back to college. Ultimately, you believe in the importance of an education. No matter where you are along your journey, Agora School will help you get there.
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>
<!--End Index Course Collection-->
</template>