<template>
<!--Home Page Slider-->
<div class="container-fluid slider-container">
    <div class="">
        <div><img class="slider-image" src="../../../assets/images/sliders/bg1.jpg" alt="Agora Banner1"></div>
    </div>

    <div v-if="!isLoggedIn" class="slider-logo"></div>
    <div class="index-menu-nav d-none d-md-block">
        <ul v-if="!isLoggedIn">
            <li><router-link :to="{ name: 'CourseList' }"> Courses </router-link> </li>
            <li><router-link :to="{ name: 'Pricing' }"> Pricing </router-link> </li>
            <li><router-link :to="{ name: 'Contactus' }"> Contact Us </router-link></li>
            <li><a @click.prevent="Silence()" href="#" class="popup_login_modal">Log In</a></li>
            <li class="signup"><a href="#" class="popup_register_modal">Sign Up</a></li>
        </ul>
        <div class="clearing"></div>
    </div>
    <div class="slider-caption">
        <div class="slider-caption-title">
            Learn Something <br>
            New Today
        </div>
        <button v-if="!isLoggedIn" class="slider-caption-btn btn btn-light popup_register_modal">Sign Up</button>
        <button v-else @click="GoToCourseList()" class="slider-caption-btn btn btn-light ">Browse Course</button>
    </div>
</div>
<!--End Home Page Slider-->
</template>
<script>
export default {
  name: 'IndexMainSlider',
  computed:{
      isLoggedIn : function(){
        return this.$store.state.isLoggedIn;
      }
  },
  methods:{
    GoToCourseList:function(){
        this.$router.push({ name: 'CourseList' });
    },
  }
}
</script>



