<template>
<!--Index News and Updates-->
<div class="container news-update-container">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>NEWS AND UPDATES</h1>
                <hr class="hr-line">
            </div>
        </div>
        <div class="row">
            <div class="col-md news-updates">
                <img src="../../../assets/images/staticimage/newsupdates.png">
                <h4>Lorem ipsum dolor sit amet, dicunt aliquam docendi ne eam.asS </h4>
                <span>Juan Dela Cruz · January 3, 2018</span>
            </div>
            <div class="col-md news-updates">
                <img src="../../../assets/images/staticimage/newsupdates.png">
                <h4>Lorem ipsum dolor sit amet, dicunt aliquam docendi ne eam.asS </h4>
                <span>Juan Dela Cruz · January 3, 2018</span>
            </div>
            <div class="col-md news-updates">
                <img src="../../../assets/images/staticimage/newsupdates.png">
                <h4>Lorem ipsum dolor sit amet, dicunt aliquam docendi ne eam.asS </h4>
                <span>Juan Dela Cruz · January 3, 2018</span>
            </div>
        </div>
    </div>
</div>
<!--End Index News and Updates-->
</template>
<script>
export default {
  name: 'IndexNews'
}
</script>



