<template>
<!--About Index-->
<div class="container about-container">
    <div class="row">
        <div class="col-md-4 about-flag-cont">
            <img src="../../../assets/images/agora-flagship.png" class="about-flag-ship"/>
        </div>
        <div class="col-md-8 margin-top-45">
            <div class="row">
                <!-- <div class="col-md-4">
                    <span class="semi-bold color-txt-main-2 about-the-school ft-size-34">
                        ABOUT
                    </span>
                    <span class="semi-bold color-txt-main-2 disp-block about-the-school ft-size-34">
                        THE SCHOOL
                    </span>
                    
                </div> -->
                <h1 class="about-the-school color-txt-main-2 semi-bold text-center">ABOUT THE SCHOOL</h1>
                <h5 class="about-school-h6">We believe education is a foundation and a springboard – to success and achieving your dreams. But more than that, it opens up worlds – of learning, opportunity and understanding. An education lasts a lifetime, and we want to give you a headstart.
                </h5>
            </div>
            <!-- <div class="row margin-top-30">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 about">
                            <img class="rounded mx-auto d-block" src="../../../assets/images/index_details/Exam.jpg" width="200px" height="220px"/>
                            <div class="course-underline mw-100"></div>
                        </div>
                        <div class="col-md-4 about">
                            <img class="rounded mx-auto d-block"  src="../../../assets/images/index_details/Test.jpg" width="200px" height="220px"/>
                            <div class="course-underline mw-100"></div>
                        </div>
                        <div class="col-md-4 about">
                            <img class="rounded mx-auto d-block" src="../../../assets/images/index_details/Worksheet.jpg" width="200px" height="220px"/>
                            <div class="course-underline mw-100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="about-the-school color-txt-main-2 semi-bold">OUR<br> MISSION</h1>
                </div>
                <div class="col-md-8 color-txt-main-2 about-desc">Education is society’s great leveller. Here at Agora School, we make education accessible. It doesn’t matter where you are; in this digital age, a classroom can be anywhere. It doesn’t matter what stage of learning you’re at; we cater to all levels.</div>
            </div> -->
            <!-- <div class="row margin-top-30">
                <div class="col-md-4">
                    <h1 class="about-the-school color-txt-main-2 semi-bold">YOUR<br> GOALS</h1>
                </div>
                <div class="col-md-8 color-txt-main-2 about-desc">You could be a student, hungry to learn and achieve. Or a parent who wants the best for his or her child. Perhaps you’re a mature student keen to go back to college. Ultimately, you believe in the importance of an education. No matter where you are along your journey, Agora School will help you get there.</div>
            </div> -->
        </div>
    </div>
</div>
<!--End About Index-->
</template>
<script>
export default {
  name: 'IndexAbout'
}
</script>



