<template>
<!--Index Course Collection-->
<div class="container-fluid course-collection">
    <div class="container course-col-wrapper">
        <!--CourseScroller-->
        <div class="course-scroll">
            <ul class="course-carousel" id="index-course-carousel">

                <li v-for="(item, index) in CategoryList" 
                 :key="'cate_'+index" :class="{'normal-1': (index >= 0 && index % 2 == 0), 'normal-2': (index > 0 && index % 2 == 1) }"   
                 class="course-item curs-pointer"
                 @click.prevent="GoToCourseList(item.category_id)" >
                    <span class="fa fa-location-arrow"></span>
                    <!-- <span class="fa fa-check" v-if="index == 0" ></span>
                    <span class="fa fa-location-arrow" v-else-if="index == 1" ></span>
                    <span class="fa fa-circle" v-else></span> -->
                    <span>{{item.category_title}}</span>
                </li>

                <li v-for="n in ToFill" :key="'cate_icon_'+n" class="course-item normal-1">
                    <span></span>
                </li>
            </ul>
            <div class="course-featureds reload_course_collection">
                <div class="featuredslider ">
                    <!-- v-if="item.category_id ==1 || item.category_id == 2 || item.category_id == 8 " -->
                    <div v-for="item in CompCategorySlider" :key="item.category_id" class="course-slide-item"
                        @click.prevent="GoToCourseList(item.category_id)">
                        <a href="#">
                            <img class="slider-image" 
                            :src="GetImageURL() + item.cover_photo" :alt="item.cover_photo"> 
              
                        </a>
                        <h5>{{item.category_title}}</h5>
                         <span v-if="item.course_count > 1">{{item.course_count}} Courses</span>
                        <span v-else>{{item.course_count}} Course</span>
                    </div>
                </div>
            </div>
        </div>
        <!--End CourseScroller-->

        <!--Featured Course-->
        <div class="col course-slider">
            <div class="row">
                <div class="col-md-5 course-hid-col"></div> <!--To have Grid System-->
                <div class="col-md-7 load-more">
                    <h1>Course Collection</h1>
                    <p class="course-collection-p">Customize your academic track through our collection of online courses</p>
                    <button class="view-more-btn btn btn-light" @click="GoToCourseList()">View More</button>
                </div>
            </div>
        </div>
        <!--Emd Featured Course-->
    </div>
</div>
<!--End Index Course Collection-->
</template>
<script>
import {getCategories2} from '../../../api/teacher/exam.js'
export default {
  name: 'IndexCourseCollection',
  data(){
      return{
        CategoryList:[],
        CategorySlider:[],
        CategoriesCount:0
      }
  },
  computed:{
      ToFill:function(){
          return 10 - this.CategoriesCount;
      },
      CompCategoryList:function(){
          return this.CategoryList;
      },
      CompCategorySlider:function(){
          return this.CategorySlider;
      }
  },
  created(){
    this.GetCategories();
  },  
  methods:{
      GoToCourseList:function(){
          this.$parent.$router.push({ name: 'CourseList' });
      },
      GetCategories:function(){
        getCategories2(this.PageLimit, this.PageOffset).then((response)=>{
            this.CategoryList = response.body.Categories;

            this.CategoriesCount = response.body.Categories.length;
            if(this.CategoriesCount <= 5){
                this.CategorySlider = response.body.Categories;
            }else{
                this.CategorySlider = this.CategoryList.slice(0,5);
            }

                this.$nextTick(() => {
                this.TriggerReload();
                });
        }); 
      },
      TriggerReload:function(){
          //This will reload the slider for course 
            document.getElementsByClassName('reload_course_collection')[0].click();
            document.getElementsByClassName('reload_reviews')[0].click();    
      },
      GoToCourseList:function(cate_id){
            this.$router.push({ name: 'CourseList'});
      }
  }
}
</script>
<style scoped>
.course-collection-p{
    /* display: inline;
    overflow:visible;
    position: absolute;
    width: 120%;
    left: -35px; */
    font-size: 1.25rem;
}
</style>
