<template>
  <div class="container-fluid admin-dashboard-container">
    <br>
    <div class="row rw-max-height">
        <div class="col-md-3 admin-sidebar-col">
            <div class="admin-sidebar">
                <ul>
                    <li><span class="fa fa-file-archive"></span> Question Banks</li>
                    <li><span class="fa fa-book"></span> Courses</li>
                    <li><span class="fa fa-user-graduate"></span> Students</li>
                    <li><span class="fa fa-exclamation"></span> Activities</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 admin-col-main">
           <div class="row">
               <div class="col-11">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>
               </div>
           </div>
        </div>     
    </div>


  </div>
</template>


<script>
import WelcomeTeacherDashboard from './subcomponents/1_Welcome';
import QuestionBanks from './subcomponents/2_QuestionBanks';
import Courses from './subcomponents/3_Courses';
export default {
  name: 'TeacherMainIndex',
  components:{
      WelcomeTeacherDashboard,
      QuestionBanks,
      Courses
  }
}
</script>

<style scoped>
footer.footer-contact-us
{
    display: none;
}
</style>

