<template>
    <div class="container-fluid exam-manager-container">
        <div class="row">
            <div class="col-md-2 sidebar tearcher-exam height_auto" style="">
                <button @click="GoToCreateExam()" class="get-started-btn">
                    <span class="fa fa-edit"></span>
                    Create a New Exam
                </button>
                <br>
                <div class="list-menu-main dropright">
                    <div :class="{active:isExam}" class="item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-book-open"></span> Exam Manager
                         <span v-if="CourseCount > 0" class="circle">{{CourseCount}}</span>
                    <div  class="dropdown-menu">
                        <!-- Dropdown menu links -->
                            <a @click="GoToExams()" class="dropdown-item  btn-sm" href="#">
                                <span class="fa fa-bookmark"></span> Exams
                            </a>
                            <div class="dropdown-divider"></div>
                            <a @click="GoToCategories()" class="dropdown-item  btn-sm" href="#">
                                <span class="fa fa-tags"></span> Categories
                            </a>
                    </div>
                    </div>

                    <div class="clearing"></div>
                    <div @click="GoToQuestionBank()" :class="{active:isQuestionBank}" class="item">
                        <span class="fa fa-question"></span> Question Banks
                        <span v-if="BankCount > 0" class="circle">{{BankCount}}</span>
                    </div>
                    <div 
                    v-if="this.$store.state.memberDetail.admin_privelege == 1"
                    @click="GoToTeacherAccount()" :class="{active:isTeacher}" class="item">
                        <span class="fa fa-users"></span>  Teacher Accounts
                         <!-- <span v class="circle"></span> -->
                    </div>                    
                    <div class="clearing"></div>
                </div>
            </div>
            <div class="col-md-10">
            <transition name="fade" mode="out-in">                
            <router-view></router-view>
            </transition>
            </div>
        
        
        
        </div>

    </div>
</template>


<script>

export default {
  name: 'TeacherMainComponent',
  data(){
      return{
          isExam:false,
          isQuestionBank:false,
          isTeacher:false,
      }
  },
  mounted(){
      this.GetCurrentRoute();
  },
  computed:{
    CourseCount:function(){
        if(this.$store.state.teacherCourses){
            return this.$store.state.teacherCourses.length;
        }
        return 0;
    },
    BankCount:function(){
        if(this.$store.state.teacherQuestionBanks){
            return this.$store.state.teacherQuestionBanks.length;
        }
        return 0;
    }    
  },
  methods:{
      GetCurrentRoute(){
          if(this.$route.name == 'Exams' || this.$route.name == 'Categories'){
            this.isExam = true;
            this.isQuestionBank = false;
          }
          else if(this.$route.name == 'QuestionBanks'){
            this.isQuestionBank = true;
            this.isExam = false;
          }
      },      
      GoToExams(){
        this.$router.push({ name: 'Exams' });
        this.isExam = true;
        this.isQuestionBank = false;
        this.isTeacher = false;
      },
      GoToCategories(){
        this.$router.push({ name: 'Categories' });
        this.isExam = true;
        this.isQuestionBank = false;
        this.isTeacher = false;
      },      
      GoToQuestionBank(){
        this.$router.push({ name: 'QuestionBanks' });
        this.isQuestionBank = true;
        this.isExam = false;
        this.isTeacher = false;
      },   
     GoToTeacherAccount(){
        this.$router.push({ name: 'TeacherAdmin' });
        this.isTeacher = true;
        this.isQuestionBank = false;
        this.isExam = false;
      },             
      GoToCreateExam(){
        this.$router.push({ name: 'NewExam' });
        this.isQuestionBank = false;
        this.isExam = true;
        this.isTeacher = false;        
      }      
  }
}
</script>

<style scoped>

</style>

