<template>
<div>
    <div class="row">
        <div  v-for="item in CategoryList" :key="item.category_id" @click="$parent.FilterByCategory(item.category_id)" class="col-md-3">
            <div class="courselist-course-item">
                <img v-if="item.category_id ==1"  src="../../../assets/images/categories/Math.jpg"> 
                <img v-if="item.category_id == 2" src="../../../assets/images/categories/English.jpg"> 
                <img v-if="item.category_id == 8" src="../../../assets/images/categories/Science.jpg"> 
                <img v-if="item.category_id != 1 && item.category_id != 2 && item.category_id != 8" class="slider-image" src="../../../assets/images/no-image.png">
                <!-- <img  src="../../../assets/images/no-image.png"/> -->
                <!-- <img src="../../../assets/images/staticimage/static_course1.jpg"/> -->
                <div class="courselist-course-item-desc">
                    <h5>{{item.category_title}}</h5>
                    <span class="ft-size-14">{{item.category_desc}}</span>
                    <br>
                    <span></span>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-3">
            <div class="courselist-course-item">
                <img src="../../assets/images/staticimage/static_course1.jpg"/>
                <div class="courselist-course-item-desc">
                    <h5>Chemistry</h5>
                    <span class="ft-size-14">lorem ipsum</span>
                    <br>
                    <span></span>
                    
                </div>
            </div>
        </div>   -->

    </div>
    <div class="row courses-accor-con">
        <div class="col-md-3">
            <div class="arrow_courses"></div>
            <div class="courses-main-accor">
                <h4>English</h4>
                <p>This English Exam consists of tests and worksheets related to the subject English</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="courses-sub-accor">
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li>Vocabulary</li>
                            <li>Grammar</li>
                            <li>Reading</li>
                            <li>Section</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Vocabulary</li>
                            <li>Grammar</li>
                            <li>Reading</li>
                            <li>Section</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Vocabulary</li>
                            <li>Grammar</li>
                            <li>Reading</li>
                            <li>Section</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>Vocabulary</li>
                            <li>Grammar</li>
                            <li>Reading</li>
                            <li>Section</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
</template>
<script>
import {getCategories} from '../../../api/teacher/exam.js'
export default {
    name:'CourseCategoryList',
    data(){
        return{
            isLoading : true,
            CategoriesCount:0,
            CategoryList:[],
            PageLimit : 20,
            PageOffset: 1
        }
    },
    mounted(){
        this.GetExamCategories();
    },
    methods:{
        GetExamCategories:function(){
            this.isLoading = true;
        getCategories(this.PageLimit, this.PageOffset).then((response)=>{
            this.CategoryList = response.body.Categories;
            // this.CategoriesCount = response.body.Count;
            // this.PageLimit = response.body.PageLimit;
            // this.PageOffset = response.body.PageOffset;
        }).catch((response)=>{
            this.$toasted.show("Opps. Something went wrong at our end");
        }).finally(()=>{
            this.isLoading = false;
        });        
        }        
    }
}
</script>

