<template>
<div class="">
    <div v-for="(row,rowIndex) in RowArray" :key="'cate_row'+rowIndex">
        <div class="row">
            <div v-for="(item,cateIndex) in row" :key="item.category_id"
                @click="ShowCategoryDetail(rowIndex,cateIndex )" class="col-md-2">
                <div class="courselist-course-item">
                    <img v-if="item.category_id ==1"  src="../../../assets/images/categories/Math.jpg"> 
                    <img v-else-if="item.category_id == 2" src="../../../assets/images/categories/English.jpg"> 
                    <img v-else-if="item.category_id == 8" src="../../../assets/images/categories/Science.jpg"> 
                    <img v-else-if="item.course_cover_image != '' && item.course_cover_image != null" 
                    :src="GetImageURL() + item.cover_photo">    
                    <!-- FOR TESTING -->
                    <img v-else src="../../../assets/images/categories/Science.jpg">             

                    <div class="courselist-course-item-desc">
                        <h5>{{item.category_title}}</h5>
                    </div>
                    <transition name="fade" mode="out-in">   
                    <div v-if="isDetailVisible && ShowCateCol== cateIndex" class="arrow_courses_m arrow_courses course_tab"></div>
                    </transition>
                </div>
            </div>
        </div>
        <transition name="fade" mode="out-in">    
            <div v-for="(item,cateIndex) in row" :key="'cate_iten'+cateIndex"
            v-if="isDetailVisible && ShowRow == rowIndex && ShowCateCol == cateIndex " class="row courses-accor-con course-modal-mobile-only" >
                <div class="col-md-12 pad-right-0">
                    <!-- <div  v-if="ShowCateCol <= 2"  class="arrow_courses_m arrow_courses arrow_courses1"></div>
                    <div  v-if="ShowCateCol >= 3" class="arrow_courses_m arrow_courses_right arrow_courses_r1"></div> -->
                    <div class="table-responsive table-courses-pad">
                        <table class="table table-courses">
                            <tr>
                                <td v-if="ShowCateCol <= 2" class="table-courses-main-accor table-courses-sub-accor-right">
                                    <div>
                                        <h4>{{item.category_title}}</h4>
                                        <p> {{item.category_desc}}</p>
                                    </div>
                                </td>
                                <td class="table-courses-sub-accor" :class="{'table-courses-sub-accor-right' : (ShowCateCol >= 3) }">
                                    <ul>
                                    <li v-for="(section,sectionIndex) in  SliceHelper(item.sections ,0 , 4)" 
                                        :key="'sections_'+rowIndex+'_'+cateIndex+'_'+sectionIndex"
                                        class="curs-pointer category_section_li"
                                        @click="GotoCourseSub(section.category_section_id)" >
                                        {{section.section_title}}
                                        </li>
                                    </ul>
                                </td>
                                <td class="table-courses-sub-accor">
                                    <ul>
                                        <li v-for="(section,sectionIndex) in SliceHelper(item.sections ,4, 8)" 
                                        :key="'sections2_'+rowIndex+'_'+cateIndex+'_'+sectionIndex"
                                        class="curs-pointer category_section_li"
                                        @click="GotoCourseSub(section.category_section_id)" >
                                        {{section.section_title}}
                                        </li> 
                                    </ul>
                                </td>
                                <td class="table-courses-sub-accor" :class="{'table-courses-sub-accor-left' : (ShowCateCol <= 2)}">
                                    <ul>
                                        <li v-for="(section,sectionIndex) in SliceHelper(item.sections ,8, 12)" 
                                        :key="'sections2_'+rowIndex+'_'+cateIndex+'_'+sectionIndex"
                                        class="curs-pointer category_section_li"
                                        @click="GotoCourseSub(section.category_section_id)" >
                                        {{section.section_title}}
                                        </li> 
                                    </ul>
                                </td>
                       
                                <td  v-if="ShowCateCol >= 3"  class="table-courses-main-accor table-courses-sub-accor-left">
                                    <div>
                                        <h4>{{item.category_title}}</h4>
                                        <p> {{item.category_desc}}</p>
                                    </div>
                                </td>                                
                            </tr>
                        </table>
                    </div>
                </div>
                <span @click="ShowCategoryDetail(rowIndex,cateIndex )" class="disp-none course-section-closer fa fa-times"></span>
            </div>
        </transition>    
    </div>
    <!-- new design -->
    <!-- <div class="row courses-accor-con">
        <div class="col-md-12 pad-right-0">
            <div class="arrow_courses_m arrow_courses arrow_courses1"></div>
            <div class="table-responsive table-courses-pad">
                <table class="table table-courses">
                    <tr>
                        <td class="table-courses-main-accor table-courses-sub-accor-right">
                           <div>
                                <h4>English</h4>
                                <p>This English Exam consists of tests and worksheets related to the subject English</p>
                            </div>
                        </td>
                        <td class="table-courses-sub-accor">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                        <td class="table-courses-sub-accor">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                        <td class="table-courses-sub-accor table-courses-sub-accor-left">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row courses-accor-con">
        <div class="col-md-12 pad-right-0">
             <div class="arrow_courses_m arrow_courses_right arrow_courses_r1"></div>
            <div class="table-responsive table-courses-pad">
                <table class="table table-courses">
                    <tr>
                        <td class="table-courses-sub-accor table-courses-sub-accor-right">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                        <td class="table-courses-sub-accor">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                        <td class="table-courses-sub-accor ">
                            <ul>
                                <li>Vocabulary</li>
                                <li>Grammar</li>
                                <li>Reading</li>
                                <li>Section</li>
                            </ul>
                        </td>
                        <td class="table-courses-main-accor table-courses-sub-accor-left">
                           <div>
                                <h4>English</h4>
                                <p>This English Exam consists of tests and worksheets related to the subject English</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
    <!-- new design -->

</div>    
</template>
<script>

import {getCourses, getCategories, getCategories3} from '../../../api/teacher/exam.js'
export default {
    name:'CourseCategoryList',
    data(){
        return{
            isLoading : true,
            CourseList:[],
            CategoriesCount:0,
            isDetailVisible:false,
            ShowRow:null,
            ShowCateCol:null,
            RowArray:[],
            CategoryList:[],
            PageLimit : 20,
            PageOffset: 1,
            SortingMethod : 2, //1 = Popular 2 = Latest
        }
    },
    computed:{
        CompCourseList:function(){
            return this.CourseList;
        }
    },
    created(){
        this.GetExamCategories();
    },
    methods:{
        GetExamCategories:function(){
            this.isLoading = true;
            getCategories3(this.PageLimit, this.PageOffset).then((response)=>{
                this.CategoryList = response.body.Categories;
                let allCategory = response.body.Categories.slice(); //clone
                while (allCategory.length > 0) {
                    let chunk = allCategory.splice(0,6);
                    this.RowArray.push(chunk);
                }                
            }).catch((response)=>{
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isLoading = false;
            });        
        },
        ShowCategoryDetail:function(rowIndex, itemIndex){
            this.ShowRow = rowIndex;
            this.ShowCateCol = itemIndex;
            this.isDetailVisible = !this.isDetailVisible;
        }        ,
        GotoCourseSub:function(inp_course_id){
              this.$router.push({ name: 'CourseSub', params:{course_id:inp_course_id} });
        },
        SliceHelper(items, start, end){
            let original = items.slice(); //clone
            let _items = original.slice(start, end);
            return _items;
        }
    }
}
</script>

