<template>
<!--Course Items Progress-->
<div class="row">
    <div v-if="isLoading" class="col-md-2 offset-5">
        <div class="loader">Loading...</div>
    </div>
   
    <div v-if="!isLoading" v-for="item in Courses" :key="item.course_id" @click="GoToDetail(item.course_id)" class="col-md-3">
        <router-link class="courses-list-link" :to="{ name: 'CourseDetail', params:{course_id :  item.course_id }  }" >
        <div class="courselist-course-item with-progress">
            <div class="img-con">
                <img v-if="item.course_cover_image != '' && item.course_cover_image != null" :src="$parent.GetImageURL() + item.course_cover_image">
                <img v-else src="../../../assets/images/no-image.png"/>
            </div>
            <div class="courselist-course-item-desc">
                <h5>{{item.course_title}} </h5>
                <div class="course-progress-bar"></div>
                <span class="ft-size-14">{{item.course_description}}</span>
                <br>
                <span></span>
                <button class="course-enroll-btn"><span class="fa fa-plus"></span> Enroll</button>
            </div>
        </div>
        </router-link>
    </div>           
</div>
<!--Course Items-->    
</template>
<script>
import {getCourses} from '../../../api/teacher/exam.js'
import {bus} from '../../../main.js'
export default {
    name:'CoursesItemList',
    data(){
        return{
            isLoading:false,
            CourseList:[],
            PageLimit:20,
            PageOffset:1,
            SortingMethod : 2, //1 = Popular 2 = Latest,
            FilterByCategory:0, 
        }
    },
    computed:{
        Courses:function(){
            return this.CourseList;
        }
    },
    created(){
        bus.$on("CourseListSortBy",(SortingMode)=>{
            this.SortingMethod = SortingMode;
            this.GetCourseList();
        });
        bus.$on("FilterByCategory",(CategoryId)=>{
            this.FilterByCategory = CategoryId;
            this.GetCourseList();
        });
    },
    mounted(){
        this.GetCourseList();
    },
    methods:{
        GetCourseList:function(){
            this.isLoading = true; 
            getCourses(this.$parent.GetSessionHeaders(),this.FilterByCategory,this.SortingMethod, this.PageLimit, this.PageOffset).then((response)=>{
                if(this.PageOffset == 1){
                    this.CourseList = response.body.Courses;
                }else{
                    //TODO PUSH ARRAY TO COURSE LIST
                }
               
            }).finally(()=>{
                this.isLoading = false;
            })
        },
        //TODO CREATE A URL NAME
        GoToDetail:function(id){
            this.$parent.$router.push({ name: 'CourseDetail', params: { course_id: id } });
        }
    }

}
</script>
<style>
.courses-list-link{
    text-decoration: none;
    color: inherit;
}
.courses-list-link:hover{
    text-decoration: none;
}

</style>


