<template>
<span>
    <span>{{CountDown.Hours}}</span> : <span>{{CountDown.Minutes}}</span> : <span>{{CountDown.Seconds}}</span>
</span>
</template>
<script>
export default {
    name:'CountDownTimer',
    props:{
        PropMinute: null,
        HandleFinish: null,
    },
    data(){
        return{
            StartTime: 65,  //in minutes,
            StartTimeInSeconds: 0,
            isStart:false,
            timerId:null,
            CountDown:{
                Hours:0,
                Minutes:0,
                Seconds:0
            }
        }
    },
    created(){
        if(this.PropMinute != null){
            this.StartTime = this.PropMinute;
            this.InitializeTimer();
        }
    },  
    methods:{
        InitializeTimer:function(){
            this.StartTimeInSeconds = this.StartTime * 60; //multiply minutes to second
            this.StartTimer();
        },
        StartTimer:function(){
            this.timerId  = window.setInterval(() => {
                this.StartTimeInSeconds = this.StartTimeInSeconds - 1;
                var sec_num = parseInt(this.StartTimeInSeconds, 10) ;   
                this.CountDown.Hours    = Math.floor(sec_num / 3600) % 24;
                this.CountDown.Minutes  = Math.floor(sec_num / 60) % 60;
                this.CountDown.Seconds = sec_num % 60 ;  
                if(this.StartTimeInSeconds <= 0){
                    //Finish
                    try{
                        this.HandleFinish();
                    }catch(e){

                    }
                    window.clearTimeout(this.timerId);
                }
            },1000);            
        }
    }


}
</script>

