<template>
<div class="row student-grade-items-row">

    <div v-if="isLoading" class="col-4 offset-4 col-items">
        <div class="loader" ></div>
    </div>    

    <div v-if="!isLoading" class="col-md-12 col-items">
        <div class="grade-item discussion-comments">
            <div class="header">
                <span class="title">
                    COMMENTS
                </span>
            </div>
            <!-- SHOW IF NO COMMENTS  -->
            <div v-if="!hasComment" class="description">
                <div class="row">
                    <div class="col-md-12">
                    <div class="no-new-container">
                        <div class=" message">
                            No Comments
                        </div>
                    </div>  
                    </div>
                </div>
            
            </div>
            <div  v-else class="comments">
                <div v-for="item in Comments" :key="item.discussion_id" class="description">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="descrip-student">
                                <img v-if="item.profile_image != '' && item.profile_image != null " class="rounded-circle"  width="45px" height="45px"
                                    :src="GetProfileImageURL() + item.profile_image">
                                <img v-else class="rounded-circle" src="../../../assets/images/avatars/Avatar5.jpg"  width="45px" height="45px">     
                                <br>
                                <label>{{item.fname}}</label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>
                                {{item.comment}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="memberDetail != null" class="discussion-comment-form">
            <div class="row">
                <div class="col-md-2 comment_profile">
                    <img v-if="memberDetail.profile_image != '' && memberDetail.profile_image != null " class="rounded-circle"  width="45px" height="45px"
                            :src="this.GetProfileImageURL() + memberDetail.profile_image">
                    <img v-else class="rounded-circle" src="../../../assets/images/avatars/Avatar5.jpg"  width="45px" height="45px">                    
                    <br>
                    <label>{{memberDetail.fname}}, {{memberDetail.age}}</label>
                    <label class="location">{{memberDetail.w_country}}</label>
                </div>
                <div class="col-md-7">
                    <div class="form-group row">
                        <textarea v-model="input.Comment" :class="HasError(this.errors)" class="form-control exam_discussion_tarea" rows="3">
                        </textarea>
                        <div class="invalid-feedback">
                            <!-- Looks good! -->
                            {{this.errors[0]}}
                        </div>                           
                    </div>
                </div>
                <div class="col-md-2">
                    <button @click="newComment()" class="btn btn-sm btn-discuss-post">POST</button>
                </div>
            </div>

        </div>                   


    </div>
</div> 
</template>
<script>
import {getDiscussionComments,postNewDiscussionComment} from '../../../api/member/member.js'
export default {
    name:'ExamDiscussion',
    data(){
        return{
            isLoading:true,
            hasComment:false,
            Comments:[],
            input:{
                CourseID:null,
                SectionItemID:null,  
                Comment:null,
                IsReply:0,
                ReplyTo:0
            },
            errors:[] //Comment ERror only
        }
    },
    computed:{
        memberDetail : function(){
            let _memberDetail =  this.$store.state.memberDetail;
            return _memberDetail;
        }
    },
    created(){
        this.input.CourseID = this.$route.params.exam_id;
        this.input.SectionItemID = this.$route.params.quiz_id;
    },
    mounted(){
        this.input.CourseID = this.$route.params.exam_id;
        this.input.SectionItemID = this.$route.params.quiz_id;
        this.GetComments();
    },
    beforeRouteUpdate(to,from, next){
        this.input.CourseID = this.$route.params.exam_id;
        this.input.SectionItemID = this.$route.params.quiz_id;
        this.GetComments();
        next();
    },            
    methods:{
        GetComments:function(){
            this.isLoading = true;
            getDiscussionComments(this.GetSessionHeaders(), this.input.CourseID, this.input.SectionItemID).then((response)=>{
                if(response.status == 200){
                    this.Comments = response.body.Comments;
                    if(this.Comments.length > 0){
                        this.hasComment = true;
                    }
                }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        newComment:function(){
            this.isLoading = true;
            postNewDiscussionComment(this.GetSessionHeaders(), this.input).then((response)=>{
                this.GetComments();
                this.input.Comment = null;
            }).catch((error)=>{
                if(error.body.Errors.Comment){
                     this.errors = error.body.Errors.Comment;
                }
                this.isLoading = false;
            }).finally(()=>{

            });
        }        

    }


}
</script>
<style scoped>
.student-grade-items-row .col-items .grade-item.discussion-comments{
   width: 100%; 
}
.student-grade-items-row .col-items .grade-item.discussion-comments .description{
    height: auto;
    overflow: visible;
    border-bottom: .5px #ddd solid;
}
.btn-discuss-post{
    color: white;
    background-color:  #434a54;
    width: 80px;
    margin-top: 4em;
    margin-left: 7px;
}
.grade-item.discussion-comments{

}
.grade-item.discussion-comments .comments{
    max-height: 470px;
    overflow: scroll;
}

.exam_discussion_tarea{
    resize: none;
}


</style>


