<template>
<div class="container-fluid exam-manager-container">
<div v-if="!isCompleted">
    <br>
    <div :class="{'disp-none' :!isLoading }" class="col-4 offset-4 main-content">
        <div class="loader" ></div>
    </div>

    <!-- new exam design -->
    <!-- col-md-10 offset-1  -->
    <div :class="{'disp-none' :isLoading }" class="col-md-12 main-content">
        <div class="row test-container">
            <div class="col-md-6" v-if="HasValue(SectionItemDetail)">
                <!-- <h2>{{SectionItemDetail.title}}</h2> ACTUAL NAME, RENAMED TO WORKSHEET, UNIt TESt, EXAM-->
                <h2 v-if="SectionItemDetail.item_type == 1">Worksheet</h2> 
                <h2 v-else-if="SectionItemDetail.item_type == 2">Test</h2> 
                <h2 v-else-if="SectionItemDetail.item_type == 3">Exam</h2> 
            </div>
            <div class="col-md-12" v-if="HasValue(SectionItemDetail)">
                <p>{{SectionItemDetail.description}} </p>
            </div>
        </div>
        <div class="col-12 main-content main-content2">
            <div class="row control-row">
                <ul>
                    <li class="active">Questions</li>
                </ul>
                <p class="exam-field-cancel popup_exam_leave"><a href="#" >Cancel</a></p>
                <div class="clearing"></div>
            </div>
        </div>
    </div>
    <div :class="{'disp-none' :isLoading }"  class="col-md-10 offset-md-1 exam-take-question-col">

        <div class="row main-take-exam-row">
            <div class="question-item">
                <div class="header">
                    <span class="title">
                       {{CurrentQuestionNo}} / {{TotalNoOfQuestions}}
                    </span>
                    <span class="duration" v-if="HasValue(SectionItemDetail)">
                        <span v-if="SectionItemDetail.time_limit == 0">NO TIME LIMIT</span>
                        <span v-else>
                            <!-- SectionItemDetail.time_limit -->
                            <count-down-timer :PropMinute="SectionItemDetail.time_limit" :handle-finish="this.TimesUp"></count-down-timer>
                            <span id="hidden_times_up_modal_trigger" class="popup_are_you_sure"></span>
                            <!-- <button  id="hidden_times_up_modal_trigger" type="button" class="btn delete popup_are_you_sure">Delete</button> -->
                        </span>
                    </span>
                </div>
                <div class="description">
                    <br>
                    <p>
                        {{CurrentQuestionDetail.question_description}}
                    </p>
                </div>
            </div>    
        </div>   
        <!-- <span v-if="CurrentQuestionNo  > 1" @click="PrevQuestionButton()" class="controls left fa fa-angle-left"></span>
        <span v-if="CurrentQuestionNo  < TotalNoOfQuestions" @click="NextQuestionButton()" class="controls right fa fa-angle-right"></span> -->
    </div>

    <div :class="{'disp-none' :isLoading }"  class="col-md-8 offset-md-3 exam-take-choices exam-take-choices-col">
        
        <div v-if=" CurrentQuestionDetail.question_answer_mode == 1" class="row">
            <div v-for="(choice, index) in CurrentQuestionDetail.choices" :key="index" class="form-check col-md-6 exam-take-form">
                <div class="exam-take-choices-check">
                    <input @change="CheckAnswer()" v-model="question_input.answer" class="form-check-input" type="radio" name="choices" :id="'exampleRadios'+choice" :value="index + 1" >
                    <label class="form-check-label choice-option" :for="'exampleRadios'+choice">
                        {{choice}}
                    </label>
                </div>
                <div v-if="CurrentQuestionDetail.question_type_id != 1">
                    <div v-if="CurrentQuestionDetail.question_type_id == 2" class="attachement">
                        <img class="image_choice" :src="GetImageURL() +  CurrentQuestionDetail.choices_attachments[index]" >
                    </div>
                    <div  v-else class="attachement attachement_audio">
                        <audio controls controlsList="nodownload">
                            <source :src="GetAudioURL() + CurrentQuestionDetail.choices_attachments[index]"  >
                        </audio>  
                    </div>                
                </div>
            </div>
        </div>

        <div v-if=" CurrentQuestionDetail.question_answer_mode == 2" class="row">
            <div class="col-md-12">
                <textarea v-model="essay_input" class="form-control">

                </textarea>
            </div>

        </div>

    </div>

    <div :class="{'disp-none' :isLoading }"  class="col-8 offset-md-2 exam-field-controls">
        <button :disabled="CurrentQuestionNo  <= 1" @click="PrevQuestionButton()"  class="btn btn-sm btn-exam-field ">PREVIOUS</button>
        <button v-if="CurrentQuestionNo  < TotalNoOfQuestions"  @click="NextQuestionButton()"  class="btn btn-sm btn-exam-field " >NEXT</button>
        <button v-else  @click="FinishExam()" class="btn btn-sm btn-exam-field " :class="{ popup_exam_error: this.UnansweredQuestion.length > 0}" >SUBMIT</button>
        <div class="clearing"></div>
    </div>

    
    <exam-not-complete-modal :unanswered-question="UnansweredQuestion"></exam-not-complete-modal>
    <exam-leave @okay="ExamLeaveModal"></exam-leave>
    <exam-times-up-modal :Message="TimesUpMessage" :HandleAction="BackToExamManager"></exam-times-up-modal>
</div>
<!--Completed-->
<div v-else>
    <div class="col-12 main-content">
        <div class="row">
        <div class="col-5">
            <br>
            <div class="alert agora-new-alert exam_success" role="alert">
                <h5 class="alert-heading"><b>
                    <span v-if="SectionItemDetail.item_type==1">WORKSHEET</span>
                    <span v-else-if="SectionItemDetail.item_type==2">TEST</span>       
                    <span v-if="SectionItemDetail.item_type==3">EXAM</span></b> <br>

                    <span v-if="SectionItemDetail.item_type==1">Chapter {{$route.query.chno}} - Worksheet {{$route.query.wsno}}</span>   
                    <span v-else-if="SectionItemDetail.item_type==2">Chapter {{$route.query.chno}} - Test</span>          
                    <span v-else-if="SectionItemDetail.item_type==3">Chapter {{$route.query.chno}} - Exam</span>          
                    <!-- <span>{{SectionItemDetail.title}}  has been completed!</span> -->
                    </h5>
                <table class="exam-finish">
                    <tr>
                        <td>Score</td>
                        <td>{{input.NoOfCorrectAnswer}} / {{SectionItemDetail.no_of_question}}</td>
                    </tr>
                    <tr>
                        <td>Result</td>
                        <td>
                            <span v-if="SectionItemDetail.answer_type == 2" class="green font-weight-bold">PENDING </span>
                            <span v-else-if="input.NoOfCorrectAnswer >=SectionItemDetail.passing_rate" class="green font-weight-bold">PASSED</span>
                            <span v-else class="red font-weight-bold">FAILED</span>
                        </td>
                    </tr>
                </table>
                 
            </div>    
                <div  class="row add-section-row">
                    <div class="add_new_section two-col success_exam_btn">
                        <!-- <span class="fa fa-plus "></span> -->
                        <span @click="BackToExamManager">Back to Exam Manager </span>
                    </div>
                </div>               
        </div>
        <div class="col-7">
            <exam-discussion></exam-discussion>
        </div>
        </div>
    </div>
</div>


</div>
</template>
<script>
import ExamNotCompleteModal from './modals/ExamNotComplete';
import ExamTimesUpModal from './modals/ExamTimesUp';
import ExamLeave from './modals/ExamLeave';
import CountDownTimer from './subcomponents/CountDownTimer';
import ExamDiscussion from './ExamDiscussion';
import {getTakenQuestionList, getSectionItemDetail, updateSectionItemComplete} from '../../../api/student/exam.js'
import {getQuestionDetail} from '../../../api/teacher/question_bank.js'
export default {
    components:{ExamNotCompleteModal, ExamDiscussion, ExamLeave, CountDownTimer, ExamTimesUpModal},
    data(){
        return{
            isInitalLoad:true,
            isLoading:false,
            isCompleted:false,
            isRetake:false,
            Language:0,
            CourseID:null,
            SectionItemID:null,
            SectionItemDetail:null,
            CurrentQuestionDetail : {
                question_id:null,
                question_type_id : null,
                question_type_id:null
            },
            QuestionList:[],
            AnsweredQuestion:[],
            SelectedAnswers:[],//Answer
            UnansweredQuestion:[],
            CurrentQuestionNo: 0,
            NextQuestionNo : 1,
            TotalNoOfQuestions:null,
            input:{
                SectionItemID : null,
                CourseID : null,
                NoOfCorrectAnswer: 0, //score
                // Score:0,
                Answers:[],
                WrongAnswerQuestionID:[],
                Result:0,
                ProgressID:null
            },
            question_input:{
                answer:null
            },
            essay_input:null,
            
            TimesUpMessage:'Time is up! You will be redirected to the main page.'
        }
    },  
    created(){
            this.CourseID = this.$route.params.exam_id;
            this.SectionItemID = this.$route.params.quiz_id;
            this.input.CourseID = this.CourseID;
            this.input.SectionItemID = this.SectionItemID;
            this.isRetake = this.$route.query.retake;
            this.Language = this.$route.query.language;
            this.GetQuestionList();
            this.isInitalLoad = false;

    },
    mounted(){
        this.GetSectionDetail();
        this.isRetake = this.$route.query.retake;
        this.Language = this.$route.query.language;        
    },
    beforeRouteUpdate(to,from, next){
        this.CourseID = to.params.exam_id;
        this.SectionItemID = to.params.quiz_id;
        this.input.CourseID = this.CourseID;
        this.input.SectionItemID = this.SectionItemID;
        this.isRetake = this.$route.query.retake;
        this.Language = this.$route.query.language;
        
        next();
    },    
    beforeRouteLeave (to, from , next) {
        if(!this.isCompleted){
            const answer = window.confirm('Are you sure you want to leave?')
            if (answer) {
                next()
            } else {
                next(false)
            }
        }else{
            next();
        }
     
    },    
    computed:{
        isLastQuestion:function(){
            if(this.CurrentQuestionNo == this.TotalNoOfQuestions){
                return true;
            }
        }
    },
    methods:{
        GetSectionDetail:function(){
           getSectionItemDetail(this.GetSessionHeaders(), this.CourseID, this.SectionItemID).then((response)=>{
               this.SectionItemDetail = response.body.SectionItem;
            // console.log(this.SectionItemDetail);
           });
        },
        GetQuestionList:function(){
            this.isLoading = true;
            getTakenQuestionList(this.GetSessionHeaders(), this.CourseID, this.SectionItemID, this.isRetake, this.Language).then((response)=>{
                this.input.SectionItemID = response.body.Courses.section_item_id;
                this.QuestionList = response.body.Courses.questions;
                this.TotalNoOfQuestions = response.body.Courses.no_of_questions; 
                this.input.ProgressID = response.body.Courses.section_progress_id;
                this.AnsweredQuestion = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                this.SelectedAnswers = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                this.input.Answers = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
                this.input.WrongAnswerQuestionID = Array(this.TotalNoOfQuestions).fill(0, 0, this.TotalNoOfQuestions);
    
                this.NextQuestionButton();//get the first question
            }).finally(()=>{
            this.isLoading = false;
            });
        },

        GetNextQuestionDetail:function(){
            this.isLoading = true;
            getQuestionDetail(this.GetSessionHeaders(), this.QuestionList[this.CurrentQuestionNo - 1].question_id, this.Language).then((response)=>{
                this.CurrentQuestionDetail = response.body.Question;
            }).catch((response)=>{

            }).finally(()=>{
                this.isLoading = false;
            });
        },
        NextQuestionButton:function(){
            this.CheckAnswer();
            this.question_input.answer = null;
            this.CurrentQuestionNo = this.CurrentQuestionNo+1;
            this.GetNextQuestionDetail();
            this.GetPastAnswer();
        },
        PrevQuestionButton:function(){
            if(this.CurrentQuestionNo  <= 1){
                return;
            }
            this.CheckAnswer();
            this.question_input.answer = null;
            this.CurrentQuestionNo = this.CurrentQuestionNo-1;
            this.GetNextQuestionDetail();
            this.GetPastAnswer();
        },
        CheckAnswer:function(){
            
            //for essay

            if(this.CurrentQuestionDetail.question_answer_mode == 2){
                 this.question_input.answer = this.essay_input;

                // alert(this.question_input.answer);
            }


            if(this.question_input.answer == null || this.question_input.answer == 0 ){
                return;//cause it will be automatically set to 0
            }
            
            //correct
            if(this.CurrentQuestionDetail.correct_answer == this.question_input.answer){
                this.AnsweredQuestion[this.CurrentQuestionNo - 1] = 1;
                this.input.WrongAnswerQuestionID[this.CurrentQuestionNo - 1] = 0;
            }else{
                //incorrect
                this.AnsweredQuestion[this.CurrentQuestionNo - 1] = -1;
                //set the question id of wrong answer
                this.input.WrongAnswerQuestionID[this.CurrentQuestionNo - 1] = this.CurrentQuestionDetail.question_id;
            }
            this.SelectedAnswers[this.CurrentQuestionNo - 1] = this.question_input.answer;
            // console.log(this.SelectedAnswers);
        },
        GetPastAnswer:function(){
            this.question_input.answer = this.SelectedAnswers[this.CurrentQuestionNo - 1];
        },
        FinishExam:function(){
            
            if(this.CurrentQuestionDetail.question_answer_mode == 2){
                //Cause we don't have a way to check the answer
                this.CheckAnswer();
            }

            this.UnansweredQuestion = new Array();
            var newArray = this.AnsweredQuestion.filter((ans,index)=>{
                if(ans == 1){
                    this.input.NoOfCorrectAnswer = this.input.NoOfCorrectAnswer + 1;
                }
                if(ans == 0){
                    this.UnansweredQuestion.push(index);
                    return true;
                }
            });

            if(this.UnansweredQuestion.length == 0){
                this.isCompleted = true;
                //Send the result to server
                this.isLoading = true;
                if(this.input.NoOfCorrectAnswer >= this.SectionItemDetail.passing_rate){
                    //Passed
                    this.input.Result = 1;
                }else{
                    this.input.Result = 2;
                }
                this.input.Answers = this.SelectedAnswers;
                updateSectionItemComplete(this.GetSessionHeaders(), this.input).then((response)=>{

                }).finally(()=>{
                    this.isLoading = false;
                })
               
            }else{
                //reset the no of correct answer
                this.input.NoOfCorrectAnswer = 0;
            }
            // console.log("ANSWER");
            // console.log(this.AnsweredQuestion);
            
        },
        ExamLeaveModal:function(){
            this.isCompleted = true;
            this.$router.push({ name: 'StudentExam'});
        },
        BackToExamManager:function(){
             this.$router.push({ name: 'StudentExam'});
        },
        TimesUp:function(){
            document.getElementById("hidden_times_up_modal_trigger").click(); //not yet working
            // alert("Time's up! You will be redirected to the Exam Manager page.");
            // this.BackToExamManager();
        }
                
    },

}
</script>
<style>
.exam-take-question-col{
    margin-top:1%;
    position: relative;
}
.exam-take-question-col .main-take-exam-row .question-item{
    width: 100%;
}
.exam-take-question-col .main-take-exam-row .question-item .description{
    overflow: auto;
    height: auto;
}
.exam-take-question-col .controls{
    font-size: 42px;
    color:#036564;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    top: 150%;
}
.exam-take-choices-col .choice-option{
    cursor: pointer;
}
.exam-take-choices-col .image_choice{
    width: 40%;
}
.exam-take-question-col .controls:hover{
    opacity: 1;
}
.exam-take-question-col .controls.left{
    left: 0;
}
.exam-take-question-col .controls.right{
    right:0;
}
.exam-field-controls{
    margin: 2em auto;
}
.exam-field-controls .btn-exam-field{
    background-color: #308a4f;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    height: 35px;
    width: 49%;
}
.exam-field-controls .btn-exam-field.disabled{
    background-color: gray;
}
</style>

