<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div id="student_main_sidebar" class="col-md-3 search-sidebar search-sidebar2 ">
        <div class="search-controls search-controls2">
            <select v-if="!isSearching" v-model="SelectedCategory" @change="GetCourses()" class="form-control">
                <option value="0">Select Subject</option>
                <option v-for="(item, index) in Categories" :key="'category_'+index" :value="item.category_id">
                    {{item.category_title}}
                </option>
                <!-- <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option> -->

            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
            <input type="hidden" id="hidden_not_enrolled_pop" class="popup_are_you_sure_four"/>
        </div>
        <!--ITEMS-->
        <div class="searched-items">
             <!-- @click="GetSectionDetail(item)" -->
             <!-- Due to client request Courses here was now infact a  category -->
            <div v-for="item in Courses" :key="item.course_id"
                @click="GetSectionDetail(item.SectionDetail)"  class="item item2 open_student_collapse_sidebar">
                <div class="aside-image">
                    <img v-if="item.cover_photo != '' && item.cover_photo != null" 
                    :src="GetImageURL() + item.cover_photo">
                    <span v-else class="circling-title">{{item.category_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <div class="title">{{item.category_title}}</div> 
                    <!-- <div class="description line-clamp line-clamp-1">{{item.category_desc}}</div> -->
                    <div v-if="item.SectionDetail != null" class="title">
                        {{ item.SectionDetail.section_title}}</div> 
                     <div v-if="item.SectionDetail != null" class="date-added">
                         {{item.SectionDetail.PassedLevelCount}} / {{item.SectionDetail.section_item.length}} Levels Completed
                    </div>   
                </div>
                <div class="clearing"></div>
            </div>            
        </div>        
        <!--END ITEMS-->
    </div>  
    <div id="student_collapse_sidebar" class="col-md-3 std-exam-aside-2-col" :class="{ bg_sidebar: isShowSectionDetail }">
        <div v-if="SectionDetail != '' && SectionDetail != null"  class="std-exam-aside-2">
            <div class="searched-items">
                 <div v-if="isShowSectionDetail" class="return-test">
                    <p class="">
                        <a @click.prevent="isShowSectionDetail = false" href="#" class="">
                            <span class="fas fa-chevron-circle-left"></span> &nbsp; Return to Levels
                        </a>
                    </p>
                </div>   
              <!-- IF MAIN EXAM -->
                <div v-if="!isShowSectionDetail" class="item">
                   <div class="aside-image">
                        <!-- <img v-if="SectionDetail.course_cover_image != '' && SectionDetail.course_cover_image != null" :src="$parent.GetImageURL() + SectionDetail.course_cover_image">
                        <span v-else class="circling-title">{{SectionDetail.course_title.charAt(0)}}</span>
                        <span class="section">{{CompNumberofPassedSection}} / {{CourseSections.length}}</span> -->
                    </div> 
                    <div class="content-details">
                        <!-- <div class="date-added">{{SectionDetail.date_added}}</div> -->
                        <div class="title margin-left-15"><h2>{{SectionDetail.section_title}}</h2></div> 
                        <div class="description description2 margin-left-15 line-clamp line-clamp-1">{{SectionDetail.section_description}}</div>
                        <div class="btn_holder">
                            <select v-model="LevelID" @change="GetCourseLevelChapters()" class="form-control  form-control-sm margin-left-15 margin-bot-5">
                                <option v-for="(item,index) in SectionLevel" :key="'select_level'+index" :value="item.category_section_level_id">
                                    {{item.level_title}}
                                </option>
                            </select>

                            <!-- <select v-model="ChapterID" @change="GetSectionDetailCourses()" class="form-control  form-control-sm margin-left-15">
                                <option v-for="(item,index) in LevelChapters" :key="'select_chapters_'+index" :value="item.chapter_no">
                                    Chapter {{item.chapter_no}}
                                </option>
                            </select>      -->
                        </div> 
                    </div>
                    <div class="clearing"></div>
                </div>   

                <!-- 3rdSidebar -->
                <div v-if="isShowSectionDetail" class="item item2">
                    <div class="aside-image">
                        <span class="circling-title">{{SectionDetail.section_title.charAt(0)}}</span>
                       <!-- <span class="section">  {{SectionDetail.section_description}} LevelDetail</span> -->
                        <!-- <span class="circling-title">{{SectionDetail.section_title.charAt(0)}}</span>
                        <span class="section"> {{CompNumberofPassedWorksheets}} / {{CompNumberofWorksheets}}</span> -->
                    </div>
                    <div class="content-details margin-top-15">
                        <!-- <div class="date-added">{{SectionDetail.date_added}}</div> -->
                        <div class="title">{{SectionDetail.section_title}}</div> 
                        <div class="description line-clamp line-clamp-1">Chapter : {{this.ChapterID}}</div>
                        <div class="description line-clamp line-clamp-1">{{SectionDetail.section_description}}</div>
                        <!-- <div class="title">Chapter : {{this.ChapterID}}</div>  -->
                        <!-- <div class="btn_holder">
                            <button class="btn btn-sm btn-main-2 color-white" @click="GetSectionUnitTest(CompIsUnitTestUnlocked )">
                                <span v-if="!CompIsUnitTestUnlocked" class="fa fa-lock"></span>
                                <span v-else class="fa fa-lock-open"></span>
                                Take Exam
                            </button>
                        </div> -->
                    </div>
                    <div class="clearing"></div>
                </div>   
            </div>
            <!-- LOWER PART OF SECOND SIDEBAR -->
            <!-- <div v-if="!isShowSectionDetail" v-for="item in SectionLevel" @click="GetCourseLevelDetail(item)" 
                :key="item.course_section_id" class="section-item re_open_student_collapse_sidebar">
                <h5>{{item.level_title}}</h5>
                <span>  0 / {{item.Courses.length}} Lessons Completed </span>
            </div> -->
            <div v-if="!isShowSectionDetail" class="searched-items second">
            <div v-if="isChapterCoursesLoading" class="item item2">
                 <div class="sm-loader margin-top-15" ></div>
            </div>
                        <!-- v-for="item in LevelChapterCourses" @click="GetCourseLevelDetail(item)"  -->
            <div v-else-if=" !isChapterCoursesLoading" 
            v-for="(item, index) in LevelChapters" @click="SelectChapter(item.chapter_no)" 
                :key="'level_chapter_courses_' + item.course_id +'_'+index" class="item item2 section-item  re_open_student_collapse_sidebar">

                    <div class="aside-image">
                        <!-- <img v-if="item.course_cover_image != '' && item.course_cover_image != null" 
                        :src="GetImageURL() + item.course_cover_image">                         -->
                        <span class="circling-title">{{item.chapter_no}}</span>
                    </div>
                    <div class="content-details vertical_align_center">
                        <!-- <div class="date-added">{{SectionDetail.date_added}}</div> -->
                        <div class="title title2 margin-left-15">Chapter : {{item.chapter_no}}</div> 
                   
                  
                    </div>
                    <div class="clearing"></div>                
      
            </div>
            </div>
        
            <div v-if="isShowSectionDetail">
                <div v-if="isChapterCourseSectionsLoading" class="section-item">
                     <div class="sm-loader margin-top-15" ></div>
                </div>
                <!-- Exam, Unit Test, Worksheet -->
                <div v-else 
                v-for="(item, index) in CourseSections.section_item" @click="GotoTakePage(item, CompIsUnitTestUnlocked, item.item_type, (index - 1))" 
                :key="item.section_item_id" 
                class="section-item vertical_align_center">
             
                    <div class="clearing"></div>                                       
                    <h5>
                        <span v-if="item.item_type == 3">EXAM</span>
                        <span v-else-if="item.item_type == 2">TEST</span>
                        <span v-else-if="item.item_type == 1">WORKSHEET {{index - 1}}</span>
                        <!-- {{item.title}} -->
                    </h5>
                    <span class="desc">
                        <!-- {{item.description}} -->
                    </span>
                   
                    <span v-if="item.user_progress != null && item.user_progress.pass_failed == 1" class="fa fa-check">  </span>
                    <!-- <span v-if="item.user_progress != null && item.user_progress.pass_failed == 0" class="fa fa-exclamation">  </span> -->
                    
                    <span v-else-if="item.item_type == 2 && !CompIsUnitTestUnlocked" class="fa fa-lock"></span>
                    <span v-else-if="item.item_type == 2 && CompIsUnitTestUnlocked" class="fa fa-lock-open"></span>  


                    <span v-else-if="(item.item_type == 3 && !CompIsMainExamUnlock) ||MemberLevel== 1 && item.section_item_id != FirstWorksheet" class="fa fa-lock"></span>
                    <span v-else-if="item.item_type == 3 && CompIsMainExamUnlock" class="fa fa-lock-open"></span>                    

                </div>
            </div>
        </div>
    </div>

    <div v-if="isInitialLoad" class="col-md-9 exam-worksheet hide_student_collapse_sidebar">
        <p class="watermark">
            <img src="../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <div v-else class="col-md-9 exam-worksheet hide_student_collapse_sidebar">
        <transition name="fade" mode="out-in">
            <router-view :section-item-detail="SectionItemDetail"></router-view>
        </transition>
    </div>
</div>

<are-you-sure-four :Message="NotEnrolledMessage" :handle-action="GotoCoursePage"></are-you-sure-four>
  </div>        
</template>
<script>
//Note : This component becomes messy due to f multiple unreasonable changes that was not agreed in the first place
//Good luck maintaining this thing here.
import {getEnrolledCourses, getStudentCourseSection, getSectionItemDetail, getSubEnrolledCourses} from '../../../api/student/exam.js'
import {getCourseSection, getCategories2LevelChapters} from '../../../api/teacher/exam.js'
import AreYouSureFour from '../../subcomponents/modal/AreYouSureModalFour'
export default {
    components:{AreYouSureFour},
    data(){
        return{
            isInitialLoad:true,
            SectionDetail:null,
            isShowSectionDetail:false,
            SectionDetail:null,
            SectionItems:[],
            SectionItemDetail:null,
            MainExamSectionItemDetail:null,
            isSearching:false,
            SearchInput:'',
            Sort : 1,   
            SelectedCategory:0,
            SectionID:null,
            LevelID:null,
            ChapterID:null,
            SectionPerCategory:[], //First layer
            SectionLevel:[],
            LevelDetail:null,
            LevelChapters:[],
            LevelChapterCourses:[], //for gods sake let this be the last edit. 
            CourseSections:[],
            isChaptersLoading:false,
            isChapterCoursesLoading:false,
            isChapterCourseSectionsLoading:false,
            PagerCourses:{
                PageLimit : 20,
                PageOffset: 1,
                PageCount : 0, 
            },


            //lazy this
            FirstWorksheetItemID :null,
            WorksheetCounter : 0,
            NotEnrolledMessage : "You are currently not enrolled to this Subject. <br> You will be redirected to Courses page to enroll."
     
        }
    },
    computed:{
        Courses: function(){
            if(this.isSearching && this.SearchInput != ''){
                return  this.$store.state.memberEnrolledCourse.filter(item=>{
                    return item.SectionDetail.section_title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.$store.state.memberEnrolledCourse.slice();
                return temp.sort(function(a,b){
                    var nameA = a.SectionDetail.section_title.toUpperCase(); 
                    var nameB = b.SectionDetail.section_title.toUpperCase(); 
                    if (nameA < nameB) {
                        return 1;
                    }
                    if (nameA > nameB) {
                        return -1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                return  this.$store.state.memberEnrolledCourse;
            }  
            if(this.Sort == 2){
                let temp =   this.$store.state.memberEnrolledCourse.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }               
            return  this.$store.state.memberEnrolledCourse;
        },
        Categories : function(){
            return this.$store.state.categories;
        }, 
        //We will remove the unit test here 
        //Show only the worksheet
        CompSectionWorksheetOnlyItems:function(){
            return this.SectionItems.filter((item)=>{
                return  item.item_type ==1;
            })
        },
        CompNumberofWorksheets:function(){
            let items =  this.SectionItems.filter((item)=>{
                return  (item.item_type ==1);
            })
            return items.length;
        },
        CompNumberofPassedWorksheets:function(){
            let items =  this.SectionItems.filter((item)=>{
                if(item.user_progress){
                    return  (item.item_type ==1 && item.user_progress.pass_failed == 1);
                }
                return false;
            })
            return items.length;            
        },
        CompIsUnitTestUnlocked:function(){
            let totalWorksheets =  this.CourseSections.section_item.filter((item)=>{
                return  (item.item_type ==1);
            });
            let totalPassedWorksheets =  this.CourseSections.section_item.filter((item)=>{
                if(item.user_progress){
                    return  (item.item_type ==1  && item.user_progress.pass_failed == 1);
                }
                return false;
            });
            if(totalPassedWorksheets.length ==totalWorksheets.length){
                return true;
            }
            return false;
        },
        FirstWorksheet:function(){
            return this.FirstWorksheetItemID;
        },
        CompNumberofPassedSection:function(){
            let items =  this.CourseSections.filter((item)=>{
                return  (item.unit_test_pass_failed == 1);
            })
            return items.length;            
        },
        CompIsMainExamUnlock:function(){
            return  (this.CourseSections.unit_test_pass_failed == 1);
        },
        MemberLevel:function(){
            return this.$store.state.memberDetail.user_level;
        }
    },
    created(){
        //Get thecount of worksheet
        this.$store.dispatch("fetchMemberStats",this.GetSessionHeaders());
        
        if(this.$route.name == 'StudentExam')
        {
            this.isInitialLoad = true;
        }else{
            this.isInitialLoad = false;
        }
        //Removed feature that persist last selected course 
        // if(this.$store.state.categories.length > 0 && this.$store.state.memberEnrollSelectedCategory == 0 ){
        //     this.SelectedCategory = 0;
        // }else{
        //     this.SelectedCategory = this.$store.state.memberEnrollSelectedCategory;
        // }
        //  this.GetCourses();
    },
    beforeRouteUpdate(to,from, next){
        if(from.name == 'StudentExam'){
            this.isInitialLoad= false;
        }else{
            this.isInitialLoad = false;
        }
        if(to.name  == 'StudentExam'){
            this.isInitialLoad = true;
        }
        next();
    },       
    methods:{
        ProcessResults:function(List){
            let CategoryWithSections = [];
            List.map((category)=>{

                let startIndex = 0;
                let sections = category.Sections.map((section)=>{
                    let tempCategory = JSON.parse(JSON.stringify(category));
                    delete tempCategory["Sections"];//to optimize since we don't neeed it anymore because we spread it                     
                    tempCategory["SectionDetail"] = section;
                    CategoryWithSections[startIndex] = tempCategory;
                    startIndex++;
                });
            });
            return CategoryWithSections;
        },
        GetCourses:function(){
            if(this.SelectedCategory == 0){
                return;
            }
            this.isShowSectionDetail = false;
            getEnrolledCourses(this.GetSessionHeaders(), this.SelectedCategory).then((response)=>{
                this.$store.commit("commitEnrolledExams", this.ProcessResults(response.body.Category));
                this.$store.commit("commitEnrollSelectedCategory",  this.SelectedCategory);
                //disregard exam in progress page
                if(response.body.Category.length == 0 && this.$route.name != "StudentInProgressExam"){
                    //DO
                    document.getElementById("hidden_not_enrolled_pop").click();
                }
            });

        },
        GetSectionDetail:function(exam){
            this.SectionDetail = exam;
            this.isShowSectionDetail = false;
            this.SectionLevel = exam.section_item;
            if(this.SectionLevel.length > 0){
                this.LevelID = this.SectionLevel[0].category_section_level_id;
                this.GetCourseLevelChapters();
            }else{
                this.LevelChapters = [];
                this.LevelChapterCourses = [];
            }
        },
        GetCourseLevelChapters:function(){
            this.isChaptersLoading = true;
            this.isChapterCoursesLoading = true;
            getCategories2LevelChapters(this.GetSessionHeaders(), this.SectionDetail.category_section_id, this.LevelID, 100 ).then((response)=>{
               this.LevelChapters= response.body.Chapters;
               if(this.LevelChapters.length > 0){
                   this.ChapterID = this.LevelChapters[0].chapter_no;
                //    this.GetSectionDetailCourses(); remove due tof client request
               }else{
                   this.LevelChapterCourses = [];
               }
            }).finally(()=>{
                this.isChaptersLoading = false;
                this.isChapterCoursesLoading = false;
            });
        },
        SelectChapter:function(chapterId){
            this.ChapterID = chapterId;
            this.GetSectionDetailCourses();
            
        },
        //Sub of GetSectionDetail
        GetSectionDetailCourses:function() {
            //ChapterID is actually just a no
            this.SectionID = this.SectionDetail.category_section_id;
            this.isChapterCoursesLoading = true;
            getSubEnrolledCourses(this.GetSessionHeaders(),this.SectionID, this.LevelID, this.ChapterID, this.PagerCourses.PageLimit, this.PagerCourses.PageOffset).then((response)=>{
                this.LevelChapterCourses = response.body.Courses;
                if(this.LevelChapterCourses.length > 0){
                    this.GetCourseLevelDetail(this.LevelChapterCourses[0]);
                }
            }).finally(()=>{
                this.isChapterCoursesLoading = false;
            });
        },

        GetCourseLevelDetail:function(course){



            this.isShowSectionDetail = true;
          
            this.LevelDetail = course;
            this.isChapterCourseSectionsLoading = true; 
    
                //let course = section.Courses[0];
                //We may add a loader here for the items
                getStudentCourseSection(this.GetSessionHeaders(), course.course_id).then((response)=>{
                    if(response.body.CourseSection != null && response.body.CourseSection.length > 0){
                        this.CourseSections = response.body.CourseSection[0];
                        this.CourseSections.section_item = this.SortLessonItems(this.CourseSections.section_item);
                        this.GetFirstWorksheetSectionItem();

                        // console.log(this.CourseSections);
                    }else{
                        this.CourseSections = [];
                    }
                }).catch(()=>{
                     this.CourseSections = [];
                }).finally(()=>{
                    this.isChapterCourseSectionsLoading = false; 
                });                
          
        },
   
        GotoTakePage:function(section_item, isPassed = true, item_type = null, worksheet_no = null){
            
            if(this.$store.state.memberDetail && this.$store.state.memberStats){
                //Free Trial
                if(this.$store.state.memberDetail.user_level == 1){
                    //5 worksheet is max for free tier
                    if(this.$store.state.memberStats.WorksheetCount >= 5){
                        this.$toasted.error("We're sorry. Your free trial has expired. \n Please head to your Profile to select a subscription to continue.");
                        return;
                    }

                    //Free trial have access only to first worksheet always 

                    if(this.$store.state.memberDetail.user_level == 1 && this.FirstWorksheetItemID != section_item.section_item_id){
                        this.$toasted.error("We're sorry. Your free trial only has access to first worksheet.");
                        return;
                    }



                }
            }

            if(!isPassed && item_type == 2){
                this.$toasted.error("Sorry, You are not yet eligible to take this Unit Test.");
                return;
            }else if(item_type == 3 &&  this.CourseSections.unit_test_pass_failed != 1){
                this.$toasted.error("Sorry, You are not yet eligible to take this Exam.");
                return;
            }
            // else if(item_type == 1){
          
            // }
        
            this.isInitialLoad = false;
            this.SectionItemDetail = section_item;
            this.$router.push({ name: 'StudentTakeExam', 
            params: {exam_id :section_item.course_id,  quiz_id : section_item.section_item_id}, query: { chno: this.ChapterID , wsno: worksheet_no } });
        },

        //MISC
        //This is only one on any occassion, this weere array before but due to client request
        //limit into 1 now
        GetCategorySection:function(category_item){
            if(!category_item){return;}
            return category_item[0];
        },
        CountWorksheets:function(section_item){
            let items = section_item.filter((item)=>{
                return  (item.item_type == 1);
            });

            return items.length;
        },
        GetSectionUnitTest:function(isUnitTestUnlocked){ //no one use
            if(!isUnitTestUnlocked){
                this.$toasted.error("Sorry, You are not yet eligible to take this Unit Test.");
                return;
            }
            let items = this.SectionItems.filter((item)=>{
                return  (item.item_type == 2);
            });
            if(items.length > 0){
                this.GotoTakePage(items[0]);
            }
        },
        PrepareMainExamTest:function(course_id, section_item_id){ //no one use
            
            getSectionItemDetail(this.GetSessionHeaders(), course_id, section_item_id).then((response)=>{
               this.CourseDetail = response.body.SectionItem;
           });     
        },

        GetMainExamTest:function(isMainExamUnlocked){ //no one use
            if(!isMainExamUnlocked){
                this.$toasted.error("Sorry, You are not yet eligible to take this Exam.");
                return;
            }
            this.isInitialLoad = false;
            this.GotoTakePage(this.MainExamSectionItemDetail);
        },

        ReloadSlideMenu:function(){
            //Helper method to initiate slider
            let refreshSlider = document.getElementsByClassName('open_student_collapse_sidebar')[0];
            if(refreshSlider){
                refreshSlider.click();
            }            
        },
 
        SortLessonItems:function(lesson_items){
            this.WorksheetCounter = 0; 
            if(lesson_items == null){
                return;
            }
            //sorts lessonitem (exam, unit, ws)

            return lesson_items.sort((a,b)=>{
                return b.item_type - a.item_type;
            });
        },

        GetFirstWorksheetSectionItem:function(){
            let totalWorksheets =  this.CourseSections.section_item.filter((item)=>{
                return  (item.item_type ==1);
            });
            if(totalWorksheets.length > 0){
                this.FirstWorksheetItemID = totalWorksheets[0].section_item_id;
            }
        },
        GotoCoursePage:function(){
            this.$router.push({ name: 'CourseList' });

        }
    }
}
</script>
<style scoped>
.std-exam-aside-2-col{
    padding-left: 0;
    padding-top: 4.7em;
}
.std-exam-aside-2-col .searched-items{
    background-color: #f5f7fa;
    min-height: 150px;
    margin-top: -6px;
}
.std-exam-aside-2-col .section-item{
    width: 100%;
    text-align: justify;
    padding: 10px 15px;
    font-weight: bold;
    border-left: 3px solid transparent;
    cursor: pointer;
    /*height: 65px;*/
    color:#033649;
}
.std-exam-aside-2-col .section-item:hover{
    border-left: 3px solid #033649;
    background-color: #f5f7fa;
}
.std-exam-aside-2-col .section-item h5{
    /*padding-top: 10px;*/
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}
/* .std-exam-aside-2-col .section-item span{
    font-size: 13px;
    font-weight: normal;
} */
.std-exam-aside-2-col .section-item span.fa{
    /* float:right; */
    margin-right: 10px;
   opacity: .5;
   font-weight: 900;
   position: absolute;
   right: 10px;
}

@media (min-width: 768px)
{
    #student_collapse_sidebar{
        position: absolute;
        left: 0;
    }
    .col-md-3#student_collapse_sidebar{
        top: 65px;
        background-color: white;
        min-height: 99%;
        display: none;
        height: 109%;
    }    
    .col-md-3#student_collapse_sidebar{
        top: 0px;
        max-width:21%;/*22%;*/
    }
}
.std-exam-aside-2-col .searched-items .item2{
    min-height: 90px !important;
}
.std-exam-aside-2-col .searched-items.second .item2{
    min-height: 90px !important;
    height: 90px !important;
    cursor: pointer;
}
.vertical_align_center{
        display: flex;
    align-items: center;
    height: 100%;
}

/* .searched-items.second item{
    height: 90px !important;
} */
</style>


