<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div id="student_main_sidebar" class="col-md-3 search-sidebar search-sidebar2 ">
        <div class="search-controls search-controls2">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <!--ITEMS-->
        <div class="searched-items">
            <div v-for="item in Courses" @click="GetCourseDetail(item)" :key="item.course_id" class="item item2 open_student_collapse_sidebar">
                <div class="aside-image">

                    <img v-if="item.course_cover_image != '' && item.course_cover_image != null" :src="$parent.GetImageURL() + item.course_cover_image">
                    <span v-else class="circling-title">{{item.course_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title">{{item.course_title}}</div> 
                    <div class="description line-clamp line-clamp-3">{{item.course_description}}</div>
                </div>
                <div class="clearing"></div>
            </div>            
        </div>
        <!--END ITEMS-->
    </div>  
    <div id="student_collapse_sidebar" class="col-md-3 std-exam-aside-2-col" :class="{ bg_sidebar: isShowSectionDetail }">
        <div v-if="CourseDetail != '' && CourseDetail != null"  class="std-exam-aside-2">
            <div class="searched-items">
                 <div v-if="isShowSectionDetail" class="return-test">
                    <p class="">
                        <a @click.prevent="isShowSectionDetail = false" href="#" class="">
                            <span class="fas fa-chevron-circle-left"></span> &nbsp; Return to Tests
                        </a>
                    </p>
                </div>   
              <!-- IF MAIN EXAM -->
                <div v-if="!isShowSectionDetail" class="item">
                    <div class="aside-image">
                        <img v-if="CourseDetail.course_cover_image != '' && CourseDetail.course_cover_image != null" :src="$parent.GetImageURL() + CourseDetail.course_cover_image">
                        <span v-else class="circling-title">{{CourseDetail.course_title.charAt(0)}}</span>
                        <span class="section">{{CompNumberofPassedSection}} / {{CourseSections.length}}</span>
                                              
                    </div>
                    <div class="content-details">
                        <!-- <div class="date-added">{{CourseDetail.date_added}}</div> -->
                        <div class="title">{{CourseDetail.course_title}}</div> 
                        <div class="description description2 line-clamp line-clamp-5">{{CourseDetail.course_description}}</div>
                        <div class="btn_holder">
                            <button @click="GetMainExamTest(CompIsMainExamUnlock)" class="btn btn-sm btn-main-2 color-white btn_side">
                                <span v-if="!CompIsMainExamUnlock"  class="fa fa-lock"></span>
                                <span v-else class="fa fa-lock-open"></span> Start Exam
                            </button> 
                        </div> 
                    </div>
                    <div class="clearing"></div>
                </div>   

                <!-- UNIT TEST -->
                <div v-if="isShowSectionDetail" class="item item2">
                    <div class="aside-image">
                        <!-- <img v-if="CourseDetail.course_cover_image != '' && CourseDetail.course_cover_image != null" :src="$parent.GetImageURL() + CourseDetail.course_cover_image"> -->
                        <span class="circling-title">{{SectionDetail.section_title.charAt(0)}}</span>
                        <span class="section"> {{CompNumberofPassedWorksheets}} / {{CompNumberofWorksheets}}</span>
                    </div>
                    <div class="content-details">
                        <!-- <div class="date-added">{{CourseDetail.date_added}}</div> -->
                        <div class="title">{{SectionDetail.section_title}}</div> 
                        <div class="description line-clamp line-clamp-3">{{SectionDetail.section_description}}</div>
                        <div class="btn_holder">
                            <button class="btn btn-sm btn-main-2 color-white" @click="GetSectionUnitTest(CompIsUnitTestUnlocked )">
                                <span v-if="!CompIsUnitTestUnlocked" class="fa fa-lock"></span>
                                <span v-else class="fa fa-lock-open"></span>
                                Take Test
                            </button>
                        </div>
                    </div>
                    <div class="clearing"></div>
                </div>   
            </div>
            <!-- LOWER PART OF SECOND SIDEBAR -->
            <div v-if="!isShowSectionDetail" v-for="item in CourseSections" @click="GetCourseSectionDetail(item)" :key="item.course_section_id" class="section-item re_open_student_collapse_sidebar">
                <h5>{{item.section_title}}</h5>
                <!-- {{item.section_item.length}} -->
                <span>  {{CountWorksheets(item.section_item)}} Worksheets</span>
            </div>
            <div v-if="isShowSectionDetail">
                <!-- UNIT TEST WORKSHEETS -->
                <!-- v-for="item in SectionItems" -->
                <div v-for="item in CompSectionWorksheetOnlyItems" @click="GotoTakePage(item)" :key="item.section_item_id" class="section-item">
                    <h5>{{item.title}}</h5>
                    <span>{{item.no_of_question}} Questions</span>
                </div>
            </div>
        </div>
    </div>

    <div v-if="isInitialLoad" class="col-md-9 exam-worksheet hide_student_collapse_sidebar">
        <p class="watermark">
            <img src="../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <div v-else class="col-md-9 exam-worksheet hide_student_collapse_sidebar">
        <transition name="fade" mode="out-in">
            <router-view :section-item-detail="SectionItemDetail"></router-view>
        </transition>
    </div>
</div>


  </div>        
</template>
<script>
import {getEnrolledCourses, getStudentCourseSection, getSectionItemDetail} from '../../../api/student/exam.js'
import {getCourseSection} from '../../../api/teacher/exam.js'
export default {
    data(){
        return{
            isInitialLoad:true,
            CourseSections:[],
            CourseDetail:null,
            isShowSectionDetail:false,
            SectionDetail:null,
            SectionItems:[],
            SectionItemDetail:null,
            MainExamSectionItemDetail:null,
            isSearching:false,
            SearchInput:'',
            Sort : 1,   
        }
    },
    computed:{
        Courses: function(){
            if(this.isSearching && this.SearchInput != ''){
                return  this.$store.state.memberEnrolledCourse.filter(item=>{
                    return item.title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.$store.state.memberEnrolledCourse.slice();
                return temp.sort(function(a,b){
                    var nameA = a.title.toUpperCase(); 
                    var nameB = b.title.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                return  this.$store.state.memberEnrolledCourse;
            }  
            if(this.Sort == 2){
                let temp =   this.$store.state.memberEnrolledCourse.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }               
            return  this.$store.state.memberEnrolledCourse;
        },
        //We will remove the unit test here 
        //Show only the worksheet
        CompSectionWorksheetOnlyItems:function(){
            return this.SectionItems.filter((item)=>{
                return  item.item_type ==1;
            })
        },
        CompNumberofWorksheets:function(){
            let items =  this.SectionItems.filter((item)=>{
                return  (item.item_type ==1);
            })
            return items.length;
        },
        CompNumberofPassedWorksheets:function(){
            let items =  this.SectionItems.filter((item)=>{
                if(item.user_progress){
                    return  (item.item_type ==1 && item.user_progress.pass_failed == 1);
                }
                return false;
            })
            return items.length;            
        },
        CompIsUnitTestUnlocked:function(){
            let totalWorksheets =  this.SectionItems.filter((item)=>{
                return  (item.item_type ==1);
            });
            let totalPassedWorksheets =  this.SectionItems.filter((item)=>{
                if(item.user_progress){
                    return  (item.item_type ==1  && item.user_progress.pass_failed == 1);
                }
                return false;
            });
            if( (totalPassedWorksheets.length) >=(totalWorksheets.length / 2)){
                return true;
            }
            return false;
        },
        CompNumberofPassedSection:function(){
            let items =  this.CourseSections.filter((item)=>{
                return  (item.unit_test_pass_failed == 1);
            })
            return items.length;            
        },
        CompIsMainExamUnlock:function(){
            let totalSections = this.CourseSections.length;
            let totalPassedUnitTest =  this.CourseSections.filter((item)=>{
                return  (item.unit_test_pass_failed == 1);
            });
            if(totalPassedUnitTest.length == totalSections){
                return true;
            }
            return false;
        }
    },
    created(){
        if(this.$route.name == 'StudentExam')
        {
            this.isInitialLoad = true;
        }else{
            this.isInitialLoad = false;
        }
    },
    mounted(){
        this.GetCourses();
        //this.ReloadSlideMenu();
    },
    beforeRouteUpdate(to,from, next){

        if(from.name == 'StudentExam'){
            this.isInitialLoad= false;
        }else{
            this.isInitialLoad = false;
        }

        next();
    },       
    methods:{
        GetCourses:function(){
            this.isShowSectionDetail = false;
            getEnrolledCourses(this.GetSessionHeaders()).then((response)=>{
                this.$store.commit("commitEnrolledExams", response.body.Courses);
         
            });
        },
        GetCourseDetail:function(exam){
            this.CourseDetail = exam;
            this.isShowSectionDetail = false;
            // this.isInitialLoad = false;
            getStudentCourseSection(this.GetSessionHeaders(), exam.course_id).then((response)=>{
                this.CourseSections = response.body.CourseSection;
            });
            this.PrepareMainExamTest();
        },
        GetCourseSectionDetail:function(section){
            this.isShowSectionDetail = true;
            this.isInitialLoad = false;
            this.SectionDetail = section;
            this.SectionItems=[];
            this.SectionItems = section.section_item;
          
        },
        GotoTakePage:function(section_item){
            this.SectionItemDetail = section_item;
            this.$router.push({ name: 'StudentTakeExam', params: {exam_id :this.CourseDetail.course_id, quiz_id : section_item.section_item_id } });
        },

        //MISC
        CountWorksheets:function(section_item){
            let items = section_item.filter((item)=>{
                return  (item.item_type == 1);
            });

            return items.length;
        },
        GetSectionUnitTest:function(isUnitTestUnlocked){
            if(!isUnitTestUnlocked){
                this.$toasted.error("Sorry, You are not yet eligible to take this Unit Test.");
                return;
            }
            let items = this.SectionItems.filter((item)=>{
                return  (item.item_type == 2);
            });
            if(items.length > 0){
                this.GotoTakePage(items[0]);
            }
        },
        PrepareMainExamTest:function(){
            getSectionItemDetail(this.GetSessionHeaders(), this.CourseDetail.course_id, this.CourseDetail.section_item_id).then((response)=>{
               this.MainExamSectionItemDetail = response.body.SectionItem;
           });     
        },
        GetMainExamTest:function(isMainExamUnlocked){
            if(!isMainExamUnlocked){
                this.$toasted.error("Sorry, You are not yet eligible to take this Exam.");
                return;
            }
            this.isInitialLoad = false;
            this.GotoTakePage(this.MainExamSectionItemDetail);
        },

        ReloadSlideMenu:function(){
            //Helper method to initiate slider
            let refreshSlider = document.getElementsByClassName('open_student_collapse_sidebar')[0];
            if(refreshSlider){
                refreshSlider.click();
            }            
        }
    }
}
</script>
<style scoped>
.std-exam-aside-2-col{
    padding-left: 0;
    padding-top: 4.7em;
}
.std-exam-aside-2-col .searched-items{
    background-color: #f5f7fa;
    min-height: 150px;
    margin-top: -6px;
}
.std-exam-aside-2-col .section-item{
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
    border-left: 3px solid transparent;
    cursor: pointer;
    /*height: 65px;*/
    color:#033649;
}
.std-exam-aside-2-col .section-item:hover{
    border-left: 3px solid #033649;
    background-color: #f5f7fa;
}
.std-exam-aside-2-col .section-item h5{
    /*padding-top: 10px;*/
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.std-exam-aside-2-col .section-item span{
    font-size: 13px;
    font-weight: normal;
}

@media (min-width: 768px)
{
    #student_collapse_sidebar{
        position: absolute;
        left: 0;
    }
    .col-md-3#student_collapse_sidebar{
        top: 65px;
        background-color: white;
        min-height: 99%;
        display: none;
    }    
    .col-md-3#student_collapse_sidebar{
        top: 0px;
        max-width:21%;/*22%;*/
    }
}
</style>


