<template>
<div v-if="SectionDetail != null" class="col-12 main-content">
    <div class="row take_exam_row">
        <div class="col-6 offset-3 exam-section-detail-col">
            <div  class="details">
                <h2 v-if="SectionDetail.item_type == 1">Chapter {{$route.query.chno}} - Worksheet {{$route.query.wsno}}</h2>
                <h2 v-else-if="SectionDetail.item_type == 2">Chapter {{$route.query.chno}} - Test</h2>
                <h2 v-else-if="SectionDetail.item_type == 3">Chapter {{$route.query.chno}} - Exam</h2>

                <!-- <h2 v-if="SectionDetail.item_type == 1">Worksheet</h2>
                <h2 v-else-if="SectionDetail.item_type == 2">Test</h2>
                <h2 v-else-if="SectionDetail.item_type == 3">Exam</h2> -->

                <!-- <h3 v-if="SectionDetail.item_type ==1">Chapter {{$route.query.chno}} - Worksheet {{$route.query.wsno}}</h3>
                <h3 v-else>{{SectionDetail.title}}</h3> -->
                <table>
                    <tr>
                        <td>No of Questions</td>
                        <td>{{SectionDetail.no_of_question}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Points</td>
                        <td>{{SectionDetail.no_of_question}} Points</td>
                    </tr> -->
                    <tr>
                        <td>Time Limit</td>
                        <td>
                            <span v-if="SectionDetail.time_limit != 0">{{SectionDetail.time_limit}} mins</span>    
                            <span v-else> No Duration </span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Passing Rate</td>
                        <td>{{SectionDetail.passing_rate}}  Points </td>
                    </tr>
                    <tr v-if="SectionDetail.item_type != 1">
                        <td >Retakes Allowed</td>
                        <td>
                            <span  v-if="SectionDetail.retake_count != 4">{{SectionItemDetail.retake_count}} Times</span>
                            <span v-else>Infinite</span>

                        </td>
                    </tr>
                    <tr v-if="SectionDetail.item_type != 1 && (SectionItemDetail.user_progress != null &&  SectionDetail.retake_count != 0)">
                        <td>Your Retakes</td>
                        <td>
                            <span v-if="SectionItemDetail.student_retakes-1 > SectionDetail.retake_count">{{SectionDetail.retake_count}}  / {{SectionDetail.retake_count}}
                            </span>
                            <span v-else>{{SectionItemDetail.student_retakes-1}} / {{SectionDetail.retake_count}}
                            </span>
                        </td>
                    </tr>                    
                    <tr v-if="SectionItemDetail.user_progress != null">
                        <td>Last Score</td>
                        <td>{{SectionItemDetail.user_progress.score}} / {{SectionDetail.no_of_question}}
                        </td>
                    </tr>
                    <tr v-if="false">
                        <td>Language</td>
                        <td>
                            <select v-model="Language" class="form-control">
                                <option value="0">English</option>
                                <option v-for="(item,index) in SectionItemDetail.languages" :value="item.trans_country_id" :key="'avail_lang_test_' + index">
                                {{item.country_name}} ~ {{item.language}}
                                </option>
                            </select>
                        </td>
                    </tr>                    
                </table>
            </div>

            <div class="btn-con row">
                <!--Initial -->
                <button v-if="SectionItemDetail.user_progress == null" @click="TakeTheExam()" class="btn btn-sm btn-take-exam-start">Start</button>
                <!--Retake -->
                <button v-else-if="SectionItemDetail.user_progress != null" @click="TakeTheExam(true)" class="btn btn-sm btn-take-exam-start">Retake</button>
                <!-- Go To Discussion Page -->
                <button if="SectionItemDetail.user_progress != null" @click="GotoDiscussion()" class="btn btn-sm btn-take-exam-retake btn-main-2">Discussions</button>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    props:{
        SectionItemDetail:null,
    },
    data(){
        return{
            CourseID:null,
            SectionID:null,
            Language:0,
            tab : 'details'
        }
    },
    computed:{
        SectionDetail:function(){
            // console.log(this.SectionItemDetail);
            return this.SectionItemDetail;
        }
    },
    mounted(){
      if(!this.$route.query.wsno || !this.$route.query.chno) //if not present
      {
          this.$router.back();
      }

    },
    methods:{
        TakeTheExam:function(isRetake = false){
            try{
                if((this.SectionItemDetail.student_retakes-1) >= this.SectionDetail.retake_count ){
                    this.$toasted.error('Sorry, maximum number of retakes has been reached');
                    return;
                }
            }catch(e){

            }

            this.$router.push({ name: 'StudentInProgressExam', params: {exam_id :this.CourseID, quiz_id : this.SectionID },  
                query: { retake: isRetake, language:this.Language,  chno: this.$route.query.chno , wsno: this.$route.query.wsno } });
        },
        GotoDiscussion:function(){
            // console.log(this.SectionItemDetail);
            this.$router.push({ name: 'Discussion', query: { course: this.CourseID, quizz:this.SectionID}});

        }
    },
    mounted(){
        this.CourseID = this.$route.params.exam_id;
        this.SectionID = this.$route.params.quiz_id;
    },     
    beforeRouteUpdate(to,from, next){
        this.CourseID = to.params.exam_id;
        this.SectionID = to.params.quiz_id;
        this.tab = 'details';
        next();
    }
}
</script>
<style scoped>
.exam-section-detail-col{
   margin-top: 60px;
   font-weight: bold;
}
.exam-section-detail-col .details{
    color: #036564;
    margin-top: 12%;
 
}
.exam-section-detail-col .details h2{
    font-weight: bolder;
    text-align: center;
}
.exam-section-detail-col .details h3{
    font-weight: bolder;
    text-align: center;
}
.exam-section-detail-col .details table{
    margin: auto;
}
.exam-section-detail-col .details table tr td{
    font-size: 13px;
    text-align: left;
    color: #434a54;
    padding-left: 5px;
    padding-right: 5px;
    width: 12em;
}

.exam-section-detail-col  .btn-take-exam-start, .exam-section-detail-col  .btn-take-exam-retake {
    background-color: #308a4f;
    color: white;
    width: 48%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 25px;
}
.exam-section-detail-col  .btn-take-exam-retake{
    background-color: #033649;
}

.btn-con{
    text-align: center;
}
.btn-con .btn-take-exam-start{
    margin-right: 4%;
}
</style>

