<template>
<div class="ag-student-exam-modal ag-register-modal-container">
    <div class="inner-container">
        <div  class="input-modal-form">
            <h5>You forgot to answer the following items</h5>
            <div  class="form-group row">
                <ul class="form-group">
                    <li v-for="(item, index) in UnansweredQuestion" :key="index">
                        Question {{item + 1}}
                    </li>
                </ul>
            </div>    
            <div class="form-actions">
                <button  class="btn btn-md btn-main-2 btn-primary ag-modal-close-2">
                Okay
                </button>
            </div>                    
        </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>                
</template>
<script>
export default {
    name:'ExamNotCompleteModal',
    props:{
        UnansweredQuestion:null
    }
 
}
</script>
<style scoped>
.ag-student-exam-modal.ag-register-modal-container{
    left: 0;
}
.ag-student-exam-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-student-exam-modal .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 100px;
    width: 50%;
    background-color: white;
    background-origin: padding-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
</style>
