<template>
<div class="ag-student-exam-leave-modal ag-register-modal-container">
    <div class="inner-container">
        <div  class="input-modal-form">
            <h5>Canceling this lesson may incur a <br/> count in the number of your retake allowed.</h5>
            <h6>
                Do you still want to proceed?
            </h6>    
            <div class="form-actions margin-bot-15">
                <button @click="BackToExamManager()"  class="btn btn-md btn-main-2 btn-primary ag-modal-close-2">
                 Okay
                </button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2">
                    Cancel
                </button>                  
            </div>                    
        </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>                
</template>
<script>
export default {
    name:'ExamLeave',
    methods:{
       BackToExamManager:function(){
           this.$emit("okay");
        }             
    }
 
}
</script>
<style scoped>
.ag-student-exam-leave-modal.ag-register-modal-container{
    left: 0;
}
.ag-student-exam-leave-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-student-exam-leave-modal .inner-container .input-modal-form{
    padding: 1.5em;
    height: 165px !important;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin: 12% auto;
    text-align: center;
}
</style>
