<div>

	<h3>Course Builder 2.0.3 - 06/03/2018</h3>
	<ul>
		<li>ADDED: New Demo Corporate Learning</li>
		<li>UPDATED: Filter on events archive page</li>
		<li>UPDATED: Login link in blog single page/PMP page</li>
		<li>UPDATED: Hide course price when enable "Buy course only via Membership" option</li>
		<li>UPDATED: Some options for shortcode (Select course by category, Instructor, Events status,...)</li>
		<li>UPDATED: Responsive</li>
		<li>FIXED: Some minor bugs (Paypal button, Wishlist button, Icons profile page, Messenger chat positions,...)</li>
	</ul>

	<h3>Course Builder 2.0.2 - 06/02/2018</h3>
	<ul>
		<li>UPDATED: Shortcode Thim Text Box opens link in same tab/new tab</li>
		<li>UPDATED: Shortcode Thim Icon box layout</li>
		<li>UPDATED: Responsive and RTL layout for all demos</li>
		<li>FIXED: Some minor bugs (Become an instructor submit without login, course review title doesn't show, hide Add to Wishlist button after buy course...)</li>
	</ul>

	<h3>Course Builder 2.0.1 - 26/1/2018</h3>
	<ul>
		<li>UPDATED: Demo data</li>
		<li>FIXED: RTL layout</li>
		<li>FIXED: Login/Register button is unable to click</li>
	</ul>

	<h3>Course Builder 2.0.0 - 24/1/2018</h3>
	<ul>
		<li>ADDED: New demo Test Prep for Course Builder theme!</li>
		<li>UPDATED: Show Co-instructor in course single page</li>
		<li>UPDATED: Add Font Awesome Icons for shortcodes</li>
		<li>UPDATED: Course duration and total learning feature</li>
		<li>FIXED: Some minor bugs (shortcode thim user info shows html, retype password unmatched, deactivate course review add-on shows error...)</li>
	</ul>

	<h3>Course Builder 1.0.9 - 26/12/2017</h3>

	<ul>
		<li>ADDED: Profile dropdown menu for demo 3 and 4</li>
		<li>ADDED: Cart icon for demo 3 and 4</li>
		<li>ADDED: Pop-up login for demo 3 and 4</li>
		<li>UPDATED: Thim Testimonial shortcode slider style</li>
		<li>UPDATED: Sidebar setting in  course single page</li>
		<li>FIXED: Some minor bugs (Coming Soon plugin showing enroll button, course archive page not showing grid style...)</li>
	</ul>

	<h3>Course Builder 1.0.8 - 6/12/2017</h3>

	<ul>
		<li>ADDED: LearnPress addons to demo import process.</li>
		<li>ADDED: Custom Page Title options for single page.</li>
		<li>ADDED: Progress bar in LearnPress lesson.</li>
		<li>UPDATED: Child theme function.php.</li>
		<li>UPDATED: Theme language file.</li>
		<li>FIXED: Some minor bugs (course archive page title, blog video format thumbnail, author avatar in Post Block 1 shortcode...).</li>
	</ul>

	<h3>Course Builder 1.0.7 - 10/11/2017</h3>

	<ul>
		<li>ADDED: Login/Register redirect option</li>
		<li>ADDED: Cart icon for demo 3 and 4</li>
		<li>ADDED: Popup for Social share</li>
		<li>UPDATED: Demo content and RTL layout</li>
		<li>FIXED: Some minor bugs (shortcodes style, lesson view, LearnPress conflicts,...).</li>
	</ul>

	<h3>Course Builder 1.0.6 - 27/10/2017</h3>

	<ul>
		<li>ADDED: Register option for Demo 3 and 4.</li>
		<li>ADDED: Login/Register, Profile option on mobile.</li>
		<li>ADDED: Open new tab option for Thim Textbox and Button</li>
		<li>UPDATED: Demo data and button style</li>
		<li>FIXED: Some minor bugs (empty course page, register redirect, plugins deactivation conflict, ...).</li>
	</ul>

	<h3>Course Builder 1.0.5 - 11/10/2017</h3>

	<ul>
		<li>ADDED: Login popup feature.</li>
		<li>ADDED: Course progress bar in user profile.</li>
		<li>ADDED: Course progress bar in user profile.</li>
		<li>ADDED: Customize setting to change lesson logo.</li>
		<li>UPDATED: Demo data</li>
		<li>FIXED: Some minor bugs (shop page on mobile, menu on mobile, ...).</li>
	</ul>

	<h3>Course Builder 1.0.4 - 09/22/2017</h3>

	<ul>
		<li>FIXED: Login problem, redirecting to WP Login page.</li>
		<li>ADDED: bbPress Style.</li>
		<li>ADDED: Import demo with VC Templates</li>
		<li>UPDATED: Improve active callback Radio Image field.</li>
		<li>UPDATED: Mobile responsive.</li>
		<li>UPDATED: UI/UX.</li>
	</ul>

	<h3>Course Builder 1.0.3 - 09/19/2017</h3>

	<ul>
		<li>ADDED: New option custom tab only visible for author, co-instructor and administrator, not public.</li>
		<li>ADDED: Option alignment for shortcode Thim Counter box.</li>
		<li>FIXED: Collection archive page.</li>
		<li>FIXED: Shortcode Course Enroll.</li>
		<li>UPDATE: BuddyPress Style.</li>
		<li>UPDATE: UI.</li>
	</ul>

	<h3>Course Builder 1.0.2 - 09/18/2017</h3>

	<ul>
		<li>UPDATED: Demo data.</li>
		<li>UPDATED: UX/UI.</li>
		<li>UPDATED: RTL.</li>
		<li>FIXED: Style for Event page.</li>
		<li>FIXED: Some minor bugs.</li>
		<li>UPDATE: Allow overwrite shortcodes template.</li>
		<li>UPDATE: Allow change icon on Thim: Heading.</li>
		<li>UPDATE: Child theme.</li>
	</ul>

	<h3>Course Builder 1.0.1 - 09/12/2017</h3>

	<ul>
		<li>UPDATE: Description</li>
	</ul>

	<h3>Course Builder 1.0.0 - 09/12/2017</h3>

	<ul>
		<li>Release the first version.</li>
	</ul>
</div>

