<template>
<div class="container-fluid exam-manager-container st-assignment-container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 search-sidebar height_auto">
                    <div class="search-controls">
                        <select v-if="!isSearching" v-model="Sort" class="form-control">
                            <option value="0">Sort By Title</option>
                            <option value="1">Sort By Newly Added</option>
                            <option value="2">Sort By Firstly Added</option>
                        </select>
                        <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
                        <span @click="isSearching = !isSearching" class="fa fa-search"></span>
                        <div class="clearing"></div>
                    </div>
                    <div @click="CreateNewAssignment()" class="create-new">
                        <span class="fa fa-edit"></span>
                        <span>Create a New Assignment</span>
                    </div>

                    <!--ITEMS-->
                     <div class="searched-items">
                        <div v-for="(item, index) in CompAssignments" :key="'assignment_' + index" @click="GotoEditPage(item.assignment_id)" class="item">
                            <div class="aside-image">
                                <img v-if="item.cover_photo != '' && item.cover_photo != null" :src="GetImageURL() + item.cover_photo">
                                <span v-else class="circling-title">{{item.title.charAt(0)}}</span>
                            </div>
                            <div class="content-details">
                                <!-- <div class="date-added">{{item.date_added}}</div> -->
                                <div class="title">{{item.title}}
                                    <span v-if="IsRecent(item.assignment_id)" class="has-notif fa fa-circle red"></span>
                                </div>
                                <!-- <div class="description line-clamp line-clamp-3">
                                    {{item.description}}
                                </div> -->
                                <div class="description line-clamp line-clamp-3">
                                    <p class="line-clamp line-clamp-1">{{item.category_title}} - {{item.section_title}} <br>
                                    <span>{{item.level_title}}</span></p>
                                </div>
                            </div>
                            <div class="clearing"></div>
                        </div>
                        <div v-if="(PageCount  > PageOffset) && PageCount > 1" @click="IncreasePageOffset()"  class="item">
                            <div class="load-more">
                                <div class="sm-loader margin-top-15" v-if="isPagerLoading"></div>
                                <div class="ft-size-21 col-centered  margin-top-15" v-else>Load More</div>
                            </div>
                        </div>
                    </div>
                    <!--END ITEMS-->

                </div>

                <div class="col-md-9 main-content admin-scrollable">
                    <div  v-if="!hasNewSubmissions  & isInitialLoad" class="assignment no-new-container">
                        <div class="col-md-10 message">
                            <div class="notif-img notif-img2">
                                <img src="../../../../assets/images/staticimage/notification.png">
                            </div>
                            <h3>No New Submission</h3>
                        </div>
                    </div>

                    <notif-assignment v-else-if="hasNewSubmissions & isInitialLoad"></notif-assignment>

                    <router-view v-else></router-view>
                </div>
            </div>
        </div>
    </div>
</div>    
</template>
<script>
import {getAssignment, getRecentAssignmentSubmission} from '../../../../api/teacher/exam.js'
import {bus} from '../../../../main.js'
import NotifAssignment from './subcomponents/NotifAssignment';
export default {
    name:'TeacherAssignment',
    components:{NotifAssignment},
    data(){
        return{
            isSearching:false,
            SearchInput:'',
            Sort : 1,
            isInitialLoad:true,
            tab:'assignment_ques',
            isPagerLoading:false,
            PageLimit : 20,//def = 20
            PageOffset: 1,
            PageCount : 0,            
        }
     
    },
   beforeRouteUpdate(to,from, next){
        if(to.name != 'TeacherAssignment'){
            this.isInitialLoad = false;
        }else{
            this.isInitialLoad = true;
        }        
        next();
    },        
    computed:{
        CompAssignments:function(){
            if(this.isSearching && this.SearchInput != ''){
                return  this.$store.state.teacherAssignments.filter(item=>{
                    return item.title.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.$store.state.teacherAssignments.slice();
                return temp.sort(function(a,b){
                    var nameA = a.title.toUpperCase(); 
                    var nameB = b.title.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                return this.$store.state.teacherAssignments;
            }  
            if(this.Sort == 2){
                let temp =  this.$store.state.teacherAssignments.slice();
                return temp.sort(function(a,b){
                    return new Date(a.date_added) - new Date(b.date_added);                
                });                
            }               

            return this.$store.state.teacherAssignments;
        },
        hasNewSubmissions:function(){
            if(!this.$store.state.teacherRecentAssignmentsSubmission) {return false}
            return this.$store.state.teacherRecentAssignmentsSubmission.length > 0;
        }        
    },
    created(){
        this.GetTeacherAssignments();
        this.GetRecentSubmission();
        bus.$on("reloadAssignmentList",()=>{
            this.PageOffset=  1;       
            this.PageCount = 0;             
            this.$store.commit("commitTeacherAssignments",[]);
            this.GetTeacherAssignments();            
        });        
        if(this.$route.name != "TeacherAssignment"){
            this.isInitialLoad = false;
        }
    
    },
    beforeDestroy () {
        bus.$off('reloadAssignmentList',()=>{

        });
    },    
    methods:{
        CreateNewAssignment:function(){
  
            this.$router.push({ name: 'NewAssignment' }); 
        },
        IncreasePageOffset(){
            if(this.PageOffset >= this.PageCount){
                return;
            }
            this.PageOffset = this.PageOffset+1;
            this.isPagerLoading = true;
            this.GetTeacherAssignments();
        },
        GetTeacherAssignments:function(){
            getAssignment(this.GetSessionHeaders(),  this.PageLimit, this.PageOffset).then(response=>{
                this.PageCount = response.body.PageCount;
                let _assignments =  [];
                if(this.$store.state.teacherAssignments) {
                     _assignments =  this.$store.state.teacherAssignments;
                }
                if( _assignments.length > 0 &&
                    (_assignments.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }
                
                if(this.PageOffset >= 1){
                    _assignments.push(...response.body.Assignments);
                }

                this.$store.commit("commitTeacherAssignments",_assignments);
            }).finally(()=>{
                this.isPagerLoading = false;
            });
        },
        GetRecentSubmission:function(){
            if(!this.$store.state.teacherRecentAssignmentIsLoaded){
                getRecentAssignmentSubmission(this.GetSessionHeaders()).then((response)=>{
                    this.$store.commit("commitTeacherRecentAssignmentsSubmission", response.body.Assignment);
                });
            }
    
        },        
        GotoEditPage:function(assignment_id){
            this.$router.push({ name: 'EditAssignment', params: { assign_id : assignment_id } });
        },
       IsRecent:function(assignment_id){
            let count = this.$store.state.teacherRecentAssignmentsSubmission.filter((item)=>{
                return item.assignment_id == assignment_id;
            }).length;

            return count >= 1;
        }        
    }
}
</script>
<style scoped>
.exam-manager-container.st-assignment-container .sidebar{
    padding-top: 0;
}
.st-assignment-container .assign-sidebar-header{
    background-color: #036564;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
    font-size: 21px;
}
.st-assignment-container .assign-sidebar-header h4{
    padding-top: 40px;
}
.list-menu-main.assignment{
    margin-top: 0;
}
.list-menu-main.assignment .item{
    font-size: 13px;
}
.assignment.no-new-container{
    margin-top: 20px;
}
.table-banks-list{
    font-size:13px;

}
.table-banks-list td, .table-banks-list th {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
} 
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
</style>
