<template>
<div class="section-item">
    <div class="section-item-header dropleft">
        <span class="title">
            <span v-if="!isEditing">
            {{propSectionItem.section_title}}
            </span>

            <input v-else v-model="input.SectionTitle" :class="HasError(this.errors.SectionTitle)" type="text" class="form-control form-control-sm"/>
            <div v-if="this.errors.SectionTitle.length > 0" class="invalid-feedback">
                {{this.errors.SectionTitle[0].replace("SectionTitle", "Title")}}
            </div>            
        </span>
        <span class="menu-icon fa fa-trash-alt popup_are_you_sure_two" @click="PrepareDeleteSection(propSectionItem.category_section_id)"></span>
        <span class="menu-icon fa fa-pencil-alt" @click.prevent="ToggleEdit()"></span>
        <span class="menu-icon fa fa-plus " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
        <div class="dropdown-menu new-section-item-menu">
            <a class="dropdown-item popup_new_level_modal" 
            @click.prevent="AddNewSectionSubItem(propSectionItem.category_section_id)" href="#">
            Level
            </a>
        </div>
        <div class="clearing"></div>
    </div>
    <div class="clearing"></div>
    <div class="section-description">
        <div  v-if="isEditing">
            <div class="clearing"></div>
            <div class="margin-top-15">
                <button type="button" class="btn edit btn-main-2 btn-sm btn-primary" @click="SaveEdit()" >Save Changes</button>
                <button type="button" class="btn delete btn-sm btn-danger" @click.prevent="ToggleEdit()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="section-sub-items">
        <ul>
           <li v-for="item in propSectionItem.section_item" :key="item.category_section_level_id" class="worksheet">
                <span class="fa fa-list"></span>  <!-- LEVEL ICON -->
                {{item.level_title}}

                <div class="section-item-controls">
                    <span @click="PrepareDeleteSectionItem(item.category_section_level_id)" class="menu-icon fa fa-trash-alt popup_are_you_sure_three" ></span>
                    <span @click="EditNewSectionSubItem(item)" class="menu-icon fa fa-pencil-alt popup_edit_level_modal"></span>                 
                </div>
                <div class="clearing"></div>
             
            </li>
        </ul>
    </div>
    <!-- Delete Course Section Modal -->
    <are-you-sure-two v-if="HasValue(delete_section_item_input.SectionID)" :Message="DeleteDialogMessage" :handle-action="HandleDeleteSection"></are-you-sure-two>
    <!-- Delete Course Section Item Modal -->
    <are-you-sure-three v-if="this.delete_SectionItemID != null" :Message="DeleteItemDialogMessage" :handle-action="this.HandleDeleteSectionItem"></are-you-sure-three>
</div>   
</template>
<script>
import {bus} from '../../../../../main.js'
import {updateCategorySectionExam, deleteCategorySection, deleteCategorySectionLevel} from '../../../../../api/teacher/exam.js'
import AreYouSureTwo from '../../../../subcomponents/modal/AreYouSureModalTwo'
import AreYouSureThree from '../../../../subcomponents/modal/AreYouSureModalThree'
export default {
    name:"CategorySectionItem",
    props:['propSectionItem'],
    components:{ AreYouSureTwo, AreYouSureThree },
    data(){
        return{
            isEditing :false,
            DeleteDialogMessage:"Are you sure you want to delete this section?",
            DeleteItemDialogMessage:"Are you sure you want to delete this level?",
            input:{
                SectionID:null,
                SectionTitle:null,
                SectionDescription:null
            },
            errors:{
                SectionTitle:[],
                SectionDescription:[]
            },
            delete_section_item_input:{
                SectionID:null,
            },
            
            delete_SectionItemID:null        
            //For Edit Exam Section Items
            // ExamSectionDetail:null
        }
    },
    methods:{
        AddNewSectionSubItem:function(section_id){
            bus.$emit('addNewLevel', section_id);
        },
        EditNewSectionSubItem:function(section_item_detail){
            bus.$emit('editSectionLevel', section_item_detail);
        },        
        ToggleEdit:function(){
            this.isEditing = !this.isEditing;
            this.input.SectionID = this.propSectionItem.category_section_id;
            this.input.SectionTitle = this.propSectionItem.section_title;
            this.input.SectionDescription = this.propSectionItem.section_description;
            this.errors.SectionTitle = [];
            this.errors.SectionDescription = [];
        },
        SaveEdit:function(){
            updateCategorySectionExam(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                bus.$emit('reloadCateSections');
                 this.$toasted.success('Successfully Updated!');
                 this.ToggleEdit();
            }).catch( (response)=>{
                try{
                    if(response.body.Errors.SectionTitle){
                        this.errors.SectionTitle = response.body.Errors.SectionTitle;
                    }else{
                         this.errors.SectionTitle = [];
                    }

                    if(response.body.Errors.SectionDescription){
                        this.errors.SectionDescription = response.body.Errors.SectionDescription;
                    }else{
                         this.errors.SectionDescription = [];
                    }
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }                 
            });
        },
        PrepareDeleteSection:function(SectionID){
            this.delete_section_item_input.SectionID = SectionID;
        },
        HandleDeleteSection:function(){
            deleteCategorySection(this.GetSessionHeaders(),  this.delete_section_item_input.SectionID).then((response)=>{
                bus.$emit('reloadCateSections');
                this.$toasted.success('Successfully Deleted!');
            }).finally(()=>{
                 this.delete_section_item_input.SectionID = null;
            });
        },
        PrepareDeleteSectionItem:function(SectionItemID){

            this.delete_SectionItemID = SectionItemID;
        },
        HandleDeleteSectionItem:function(){

            deleteCategorySectionLevel(this.GetSessionHeaders(),  this.delete_SectionItemID).then((response)=>{
                bus.$emit('reloadCateSections');
                this.$toasted.success('Successfully Deleted!');
            }).finally(()=>{
                this.delete_SectionItemID = null
            });            
        }
    }
}
</script>
<style scoped>
.section-item{
    margin-bottom: 10px;
}
</style>
