<template>
<div class="ag-edit_unittest-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>TEST : </b>{{this.input.Title}} was successfully updated</h5>
                    <hr>
                    <p class="mb-0">
                        {{this.input.Description}}
                    </p>
                    <p class="text-right">
                        <button class="btn btn-sm ag-modal-close-2 modal-close"  @click="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>Edit Unit Test</h5>
                <span class="ft-size-12">
                    *Questions will be automatically pulled from other Worksheets
                </span>
                <br>
                <div class="form-group row margin-top-15">
                    <div class="col-sm-12">
                    <input v-model="input.Title" :class="$parent.HasError(this.errors.Title)" type="text" class="form-control"  placeholder="Test Name" >
                    <div class="invalid-feedback">
                        {{this.errors.Title[0]}}
                    </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.Description" :class="HasError(this.errors.Description)" class="form-control"   rows="5" placeholder="Test Description">
                    </textarea>
                    <div class="invalid-feedback">
                        {{this.errors.Description[0]}}
                    </div>
                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Worksheets" :class="HasError(this.errors.Worksheets)" class="form-control"  multiple>
                            <option v-for="(item, index) in Worksheets" :key="'worksheets_'+index" :value="item.section_item_id">
                                {{item.title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Worksheets[0]}}
                        </div>

                    </div>
                </div>                

                <div class="form-group row">
                    <label for="course_description" class="col-sm-3 col-form-label">Lesson Type</label>
                    <label for="course_description" class="col-sm-9 col-form-label">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.
                    </label>
                </div>    

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.NoOfQuestion" :class="$parent.HasError(this.errors.NoOfQuestion)" type="text" class="form-control"  placeholder="No of Questions" >
                        <div v-if="this.errors.NoOfQuestion.length > 0"  class="invalid-feedback">
                            {{this.errors.NoOfQuestion[0].replace("NoOfQuestion", "No of Question")}}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="clock-addon"> <span class="fa fa-clock color-text-sub-1"></span></span>
                        </div>
                        <input v-model="input.TimeLimit" :class="$parent.HasError(this.errors.TimeLimit)" 
                        type="number" class="form-control"  
                        placeholder="Time Limit (Minutes)"  aria-describedby="clock-addon">
                    </div>                    
                    <div v-if="this.errors.TimeLimit.length > 0" class="invalid-feedback">
                        {{this.errors.TimeLimit[0].replace("TimeLimit", "Time Limit")}}
                    </div>
                    </div>
                </div>    

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.RetakeCount" :class="HasError(this.errors.RetakeCount)"  class="form-control">
                        <option value="-1">Retake Count</option>
                        <option value="0">0</option>
                        <option value="1">1 time</option>
                        <option value="2">2 times</option>
                        <option value="3">Infinite</option>
                    </select>                 
                        <div v-if="this.errors.RetakeCount.length > 0" class="invalid-feedback">
                            {{this.errors.RetakeCount[0].replace("RetakeCount", "Retake Count")}}
                        </div>
                    </div>
                </div>                               

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.PassingRate" :class="$parent.HasError(this.errors.PassingRate)" type="text" class="form-control"  placeholder="Passing Grade" >
                    <div  v-if="this.errors.PassingRate.length > 0" class="invalid-feedback">
                        {{this.errors.PassingRate[0].replace("PassingRate", "Passing Grade")}}
                    </div>
                    </div>
                </div>                    

                                                           

                <br>
                <div class="form-actions">
                <button @click="EditUnitTest()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2" @click="CloseModal()">
                    Cancel
                </button>                                    
                </div>
            </div>
        <div class="clearing"></div>   
    </div>
 
</div>    
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {updateQuizz, getWorksheetsBySectionID} from '../../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../../api/teacher/question_bank.js'
import {bus} from '../../../../../main.js'

export default {
    name:'EditUnitTest',
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            QuestionBankList:[],
            Worksheets:[],
            input:{
                SectionID: null,
                SectionItemID:null,
                Title:null,
                Description:null,
                BankID:null,
                AnswerType:3,
                NoOfQuestion:0,
                PassingRate:null,
                CourseID : null,
                Type:2, //2 is Unit Test
                TimeLimit:25,
                RetakeCount:-1,
                Worksheets:[],
            },
            errors:{
                SectionID:[],
                Title:[],
                Description:[],
                BankID:[],
                AnswerType:[],
                NoOfQuestion:[],
                PassingRate:[],
                CourseID:[],
                Type:[],
                TimeLimit:[],
                RetakeCount:[],
                Worksheets:[],
            }
        }        
    },
    created(){
        bus.$on("editSectionItemDetailUnitTest",(section_item_detail)=>{
            this.SectionItemDetail = section_item_detail;
            this.input.SectionID = this.SectionItemDetail.section_id;
            this.input.SectionItemID = this.SectionItemDetail.section_item_id;
            this.input.Title = this.SectionItemDetail.title;
            this.input.Description = this.SectionItemDetail.description;
            this.input.BankID = this.SectionItemDetail.ws_bank_id;
            this.input.AnswerType = this.SectionItemDetail.answer_type;
            this.input.NoOfQuestion = this.SectionItemDetail.no_of_question;
            this.input.PassingRate = this.SectionItemDetail.passing_rate;
            this.input.CourseID = this.SectionItemDetail.course_id;
            this.input.TimeLimit = this.SectionItemDetail.time_limit;
            this.input.RetakeCount = this.SectionItemDetail.retake_count;
            this.input.Type = 2; 
            this.input.Worksheets = this.SectionItemDetail.WorksheetsIDs;
            this.isSubmitted = false;
            this.isSucceed = false;            
            this.GetQuestionBanks();
            this.GetWorksheets();
        });
    },
    methods:{
      GetWorksheets:function(){
            getWorksheetsBySectionID(this.$parent.GetSessionHeaders(),this.input.SectionID ).then((response)=>{
                this.Worksheets = response.body.Worksheets;
            });
        },        
        EditUnitTest:function(){
            this.isSubmitted = true;
            updateQuizz(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadSections');
            }).catch((response)=>{
                try{
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                        this.errors.Title =[]
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                        this.errors.Description =[]
                    }
                    
                    if(response.body.Errors.BankID){
                        this.errors.BankID = response.body.Errors.BankID;
                    }else{
                        this.errors.BankID =[]
                    } 
                    
                    if(response.body.Errors.AnswerType){
                        this.errors.AnswerType = response.body.Errors.AnswerType;
                    }else{
                        this.errors.AnswerType =[]
                    }  
                    
                    if(response.body.Errors.NoOfQuestion){
                        this.errors.NoOfQuestion = response.body.Errors.NoOfQuestion;
                    }else{
                        this.errors.NoOfQuestion =[]
                    }       
                    
                    if(response.body.Errors.PassingRate){
                        this.errors.PassingRate = response.body.Errors.PassingRate;
                    }else{
                        this.errors.PassingRate =[]
                    }            
                    
                    if(response.body.Errors.TimeLimit){
                        this.errors.TimeLimit = response.body.Errors.TimeLimit;
                    }else{
                        this.errors.TimeLimit =[]
                    }       
                    
                    
                    if(response.body.Errors.Worksheets){
                        this.errors.Worksheets = response.body.Errors.Worksheets;
                    }else{
                        this.errors.Worksheets = [];
                    }     

                    if(response.body.Errors.RetakeCount){
                        this.errors.RetakeCount = response.body.Errors.RetakeCount;
                    }else{
                        this.errors.RetakeCount = [];
                    }                      

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }  
            }).finally(()=>{
                 this.isSubmitted = false;
            });
        },
        GetQuestionBanks:function(){
            getQuestionBanks(this.$parent.GetSessionHeaders(), 100,1).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },
        CloseModal:function(){
            //real closing was done by magic, all well do here is to clean this tihng up
                this.input.Title = null;
                this.input.Description = null;
                this.input.BankID = null;
                this.input.AnswerType = null;
                this.input.NoOfQuestion = null;


                this.errors.Title = [];
                this.errors.Description = [];
                this.errors.BankID = [];
                this.errors.AnswerType = [];
                this.errors.NoOfQuestion = [];
                this.errors.PassingRate = [];
                this.errors.RetakeCount = [];
                this.errors.TimeLimit = [];     
                this.errors.Worksheets = [];           
        }
    }
}
</script>
<style scoped>
.ag-edit_unittest-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-edit_unittest-modal .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 5%;
}
</style>

