<template>
<div>
    <div  class="row add-section-row">
        <div @click.prevent="AddNewSectionSubItem(2, propSectionItem.course_section_id)" 
        :class="{'popup_new_unitest_modal': HasAlreadyUnitTest}"
        class="add_new_section new_section ">
                <span class="fa fa-plus"></span>
                <span>ADD UNIT TEST </span>
        </div>
        <div @click.prevent="AddNewSectionSubItem(1, propSectionItem.course_section_id)"
         class="add_new_section new_section popup_new_worksheet_modal">
                <span class="fa fa-plus"></span>
                <span>ADD WORKSHEET</span>
        </div>    
            
    </div>  

    <div  class="row section-row">        
        <div class="section-item">

            <!-- <div class="section-description">
                <p v-if="!isEditing" v-html="propSectionItem.section_description">
                </p>
                <div  v-else>
                    <textarea v-model="input.SectionDescription" :class="HasError(this.errors.SectionDescription)" class="form-control form-control-sm" rows="2"></textarea>
                    <div  v-if="this.errors.SectionDescription.length > 0"  class="invalid-feedback">
                        {{this.errors.SectionDescription[0].replace("SectionDescription", "Description")}}
                    </div>            
                    <div class="margin-top-15">
                        <button type="button" class="btn edit btn-main-2 btn-sm btn-primary" @click="SaveEdit()" >Save Changes</button>
                        <button type="button" class="btn delete btn-sm btn-danger" @click.prevent="ToggleEdit()">Cancel</button>
                    </div>
                </div>
            </div> -->
            <div class="section-sub-items">
                <ul>
                    
                    <li v-for="item in propSectionItem.section_item" 
                    :key="item.section_item_id" :class="{ worksheet: item.item_type == 1, unit_test: item.item_type == 2 }"
                    v-if="item.item_type != 3"> <!--HIDE THE EXAM--> 
                        <span class="fa fa-sticky-note" v-if="item.item_type == 1"></span> <!--Worksheet Icon-->
                        <span class="fa fa-list" v-if="item.item_type == 2"></span> <!--Unit Test Icon-->
                        {{item.title}}

                        <div class="section-item-controls">
                            <span @click="PrepareDeleteSectionItem(item.section_item_id)" class="menu-icon fa fa-trash-alt popup_are_you_sure_three" ></span>
                            <span @click="EditNewSectionSubItem(item)" :class="{'popup_edit_worksheet_modal': item.item_type == 1, 'popup_edit_unitest_modal' : item.item_type == 2}" class="menu-icon fa fa-pencil-alt"></span>                 
                        </div>
                        <div class="clearing"></div>
                    
                    </li>
                </ul>
            </div>
            <!-- Delete Course Section Modal -->
            <are-you-sure-two :Message="DeleteDialogMessage" :handle-action="HandleDeleteSection"></are-you-sure-two>
            <!-- Delete Course Section Item Modal -->
            <are-you-sure-three v-if="this.delete_SectionItemID != null" :Message="DeleteItemDialogMessage" :handle-action="this.HandleDeleteSectionItem"></are-you-sure-three>
        </div>  
    </div> 

</div>
</template>
<script>
import {bus} from '../../../../../main.js'
import {updateCourseSectionExam, deleteCourseSection, deleteQuizz} from '../../../../../api/teacher/exam.js'
import AreYouSureTwo from '../../../../subcomponents/modal/AreYouSureModalTwo'
import AreYouSureThree from '../../../../subcomponents/modal/AreYouSureModalThree'
export default {
    name:"ExamSectionItem",
    props:['propSectionItem','categorySectionID', 'categoryLevelID'],
    components:{ AreYouSureTwo, AreYouSureThree },
    data(){
        return{
            isEditing :false,
            DeleteDialogMessage:"Are you sure you want to delete this section?",
            DeleteItemDialogMessage:"Are you sure you want to delete this section item?",
            CategorySectionID:null,
            input:{
                CourseID:null,
                SectionID:null,
                SectionTitle:null,
                SectionDescription:null
            },
            errors:{
                SectionTitle:[],
                SectionDescription:[]
            },
            delete_section_item_input:{
                SectionID:null,
            },
            
            delete_SectionItemID:null        
            //For Edit Exam Section Items
            // ExamSectionDetail:null
        }
    },
    computed:{
        HasAlreadyUnitTest:function(){
            if(!this.propSectionItem){
                return false;
            }

            let unitTest = this.propSectionItem.section_item.filter((unittest)=>{
                    return (unittest.item_type == 2);
            });

            if(unitTest.length > 0){
                return false;
            }

            return true;

        }
    },
    methods:{
        AddNewSectionSubItem:function(type, section_id){

            if(type == 1){
                //worksheet
                bus.$emit('addNewWorkSheetQuizz', section_id, this.categorySectionID, this.categoryLevelID);
            }else{

                let unitTest = this.propSectionItem.section_item.filter((unittest)=>{
                        return (unittest.item_type == 2);
                });

                if(unitTest.length > 0){
                    this.$toasted.error('You can only add one Unit Test');
                    return;
                }

                bus.$emit('addNewUnitTestQuizz', section_id, this.categorySectionID, this.categoryLevelID);
            }

            
        },

        EditNewSectionSubItem:function(section_item_detail){
            if(section_item_detail.item_type == 1){
                bus.$emit('editSectionItemDetailWorksheet', section_item_detail , this.categorySectionID , this.categoryLevelID);
            }else if(section_item_detail.item_type == 2){
                bus.$emit('editSectionItemDetailUnitTest', section_item_detail, this.categorySectionID , this.categoryLevelID);
            }
           
        },        
        ToggleEdit:function(){
            this.isEditing = !this.isEditing;
            this.input.SectionID = this.propSectionItem.course_section_id;
            this.input.CourseID = this.propSectionItem.course_id;
            this.input.SectionTitle = this.propSectionItem.section_title;
            this.input.SectionDescription = this.propSectionItem.section_description;
            this.errors.SectionTitle = [];
            this.errors.SectionDescription = [];
        },
        SaveEdit:function(){
            updateCourseSectionExam(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                bus.$emit('reloadSections');
                 this.$toasted.success('Successfully Updated!');
                 this.ToggleEdit();
            }).catch( (response)=>{
                try{
                    if(response.body.Errors.SectionTitle){
                        this.errors.SectionTitle = response.body.Errors.SectionTitle;
                    }else{
                         this.errors.SectionTitle = [];
                    }

                    if(response.body.Errors.SectionDescription){
                        this.errors.SectionDescription = response.body.Errors.SectionDescription;
                    }else{
                         this.errors.SectionDescription = [];
                    }
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }                 
            });
        },
        PrepareDeleteSection:function(SectionID){
            this.delete_section_item_input.SectionID = SectionID;
        },
        HandleDeleteSection:function(){
            deleteCourseSection(this.GetSessionHeaders(),  this.delete_section_item_input.SectionID).then((response)=>{
                bus.$emit('reloadSections');
                this.$toasted.success('Successfully Deleted!');
            });
        },
        PrepareDeleteSectionItem:function(SectionItemID){
            alert(SectionItemID);
            this.delete_SectionItemID = SectionItemID;
   

        },
        HandleDeleteSectionItem:function(){

            deleteQuizz(this.GetSessionHeaders(),  this.delete_SectionItemID).then((response)=>{
                bus.$emit('reloadSections');
                this.$toasted.success('Successfully Deleted!');
            }).finally(()=>{
                this.delete_SectionItemID = null
            });            
        }
    }
}
</script>
<style scoped>
.section-item{
    margin-bottom: 10px;
}
.add_new_section.new_section{
    width: 40%;
}
</style>
