<template>
<div class="ag-new_level-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>LEVEL : </b> {{input.Title}} was successfully added</h5>
                    <hr>
                    <p class="mb-0">
                        {{input.Description}}
                        <br>
                    </p>
                    <p class="text-right">
                        <button class="btn btn-sm ag-modal-close-2 modal-close" @click.prevent="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>New Section Level</h5>
                <br>
                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.Title" :class="HasError(this.errors.Title)" 
                    type="text" class="form-control"  placeholder="Level Name" >
                    <div v-if="this.errors.Title.length > 0" class="invalid-feedback">
                        {{this.errors.Title[0]}}
                    </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.Description" :class="HasError(this.errors.Description)" class="form-control"   rows="5" placeholder="Description">
                    </textarea>
                    <div  v-if="this.errors.Description.length > 0"  class="invalid-feedback">
                        {{this.errors.Description[0]}}
                    </div>

                    </div>
                </div> -->
                <br>
                <div class="form-actions">
                <button @click="NewExamSection()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button @click="CloseModal()" type="button" class="btn btn-md btn-danger ag-modal-close-2">
                    Cancel
                </button>                                    
                </div>
            </div>
        <div class="clearing"></div>   
    </div>
</div>
<!--End Log In Modal-->
</template>    
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newCategorySectionLevel} from '../../../../../api/teacher/exam.js'
import {bus} from '../../../../../main.js'
export default {
    name:'NewCategoryLevelModal',
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            input:{
                SectionID:null,
                Title:null,
                Description:null,
            },
            errors:{
                Title:[],
                Description:[],
                SectionID:[]
            }
        }
    },
    created(){
        bus.$on("addNewLevel",(section_id)=>{
            this.input.SectionID = section_id;
        });
    },    
    methods:{
        NewExamSection:function(){
            this.isSubmitted = true;
            newCategorySectionLevel(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadCateSections');

            }).catch((response)=>{
                try{
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                         this.errors.Title = [];
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                         this.errors.Description = [];
                    }
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }                
            }).finally(()=>{
                this.isSubmitted = false;
            });
        },
        CloseModal:function(){
            //real closing was done by magic, all well do here is to clean this tihng up
                this.input.Title = null;
                this.errors.Title = [];
                this.isSubmitted = false;
                this.isSucceed = false;
        }
    }
   
}
</script>
<style scoped>
.ag-new_level-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-register-modal-container .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 10%;
}
</style>


