<template>
<div class="ag-new_section-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>SECTION : </b> {{input.SectionTitle}} was successfully added</h5>
                    <hr>
                    <p class="mb-0">
                        {{input.SectionDescription}}
                        <br>
                    </p>
                    <p class="text-right">
                        <button class="btn btn-sm ag-modal-close-2 modal-close" @click.prevent="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>New Category Section</h5>
                <br>
                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.SectionTitle" :class="HasError(this.errors.SectionTitle)" type="text" class="form-control"  placeholder="Section Name" >
                    <div v-if="this.errors.SectionTitle.length > 0" class="invalid-feedback">
                        {{this.errors.SectionTitle[0].replace("SectionTitle", "Title")}}
                    </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.SectionDescription" :class="HasError(this.errors.SectionDescription)" class="form-control"   rows="5" placeholder="Description">
                    </textarea>
                    <div  v-if="this.errors.SectionDescription.length > 0"  class="invalid-feedback">
                        {{this.errors.SectionDescription[0].replace("SectionDescription", "Description")}}
                    </div>

                    </div>
                </div> -->
                <br>
                <div class="form-actions">
                <button @click="NewExamSection()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button 
                @click="CloseModal()"
                type="button" class="btn btn-md btn-danger ag-modal-close-2">
                    Cancel
                </button>                                    
                </div>
            </div>
        <div class="clearing"></div>   
    </div>
</div>
<!--End Log In Modal-->
</template>    
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newCategorySectionExam} from '../../../../../api/teacher/exam.js'
import {bus} from '../../../../../main.js'
export default {
    name:'NewSectionModal',
    props:['PropCategoryID'],
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            input:{
                SectionTitle:null,
                SectionDescription:null,
                CategoryID: this.PropCategoryID
            },
            errors:{
                SectionTitle:[],
                SectionDescription:[],
                CourseID:[]
            }
        }
    },
    methods:{
        NewExamSection:function(){
            this.isSubmitted = true;
            newCategorySectionExam(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadCateSections');
                // this.input.SectionTitle = null;
                this.input.SectionDescription = null;

            }).catch((response)=>{
                try{
                    if(response.body.Errors.SectionTitle){
                        this.errors.SectionTitle = response.body.Errors.SectionTitle;
                    }else{
                         this.errors.SectionTitle = [];
                    }

                    if(response.body.Errors.SectionDescription){
                        this.errors.SectionDescription = response.body.Errors.SectionDescription;
                    }else{
                         this.errors.SectionDescription = [];
                    }
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }                
            }).finally(()=>{
                this.isSubmitted = false;
            });
        },
        CloseModal:function(){
            //real closing was done by magic, all well do here is to clean this tihng up
                this.input.SectionTitle = null;
                this.input.SectionDescription = null;
                this.errors.SectionTitle = [];
                this.errors.SectionDescription = [];
                this.isSubmitted = false;
                this.isSucceed = false;
        }
    }
   
}
</script>
<style scoped>
.ag-new_section-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-register-modal-container .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 10%;
}
</style>


