<template>
<div class="ag-new_unittest-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>TEST : </b>{{this.input.Title}} was successfully added</h5>
                    <hr>
                    <p class="mb-0">
                        {{this.input.Description}}
                    </p>
                    <p class="text-right">
                        <button class="btn btn-sm ag-modal-close-2 modal-close"  @click="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>New Unit Test</h5>
                <span class="ft-size-12">
                    *Questions will be automatically pulled from other Worksheets
                </span>
                <br>
                <div class="form-group row margin-top-15">
                    <div class="col-sm-12">
                    <input v-model="input.Title" :class="$parent.HasError(this.errors.Title)" type="text" class="form-control"  placeholder="Test Name" >
                    <div class="invalid-feedback">
                        {{this.errors.Title[0]}}
                    </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.Description" :class="HasError(this.errors.Description)" class="form-control"   rows="5" placeholder="Test Description">
                    </textarea>
                    <div v-if="this.errors.Description.length > 0" class="invalid-feedback">
                        {{this.errors.Description[0]}}
                    </div>

                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Worksheets" :class="HasError(this.errors.Worksheets)" class="form-control"  multiple>
                            <option v-for="(item, index) in Worksheets" :key="'worksheets_'+index" :value="item.section_item_id">
                                {{item.title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Worksheets[0]}}
                        </div>

                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="course_description" class="col-sm-3 col-form-label">Lesson Type</label>
                    <label for="course_description" class="col-sm-9 col-form-label">This exam content may be a combination of texts, images or audio materials in multiple choice or essay form.
                    </label>
                </div>    

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.NoOfQuestion" :class="$parent.HasError(this.errors.NoOfQuestion)" type="text" class="form-control"  placeholder="No of Questions" >
                    <div v-if="this.errors.NoOfQuestion.length > 0"  class="invalid-feedback">
                        {{this.errors.NoOfQuestion[0].replace("NoOfQuestion", "No of Question")}}
                    </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="clock-addon"> <span class="fa fa-clock color-text-sub-1"></span></span>
                        </div>
                        <input v-model="input.TimeLimit" :class="$parent.HasError(this.errors.TimeLimit)" type="number" class="form-control"  placeholder="Time Limit (Minutes)"  aria-describedby="clock-addon">
                    </div>                    
                    <div v-if="this.errors.TimeLimit.length > 0" class="invalid-feedback">
                        {{this.errors.TimeLimit[0].replace("TimeLimit", "Time Limit")}}
                    </div>
                    </div>
                </div>            

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.RetakeCount" :class="HasError(this.errors.RetakeCount)"  class="form-control">
                        <option value="">Retake Count</option>
                        <option value="0">0</option>
                        <option value="1">1 time</option>
                        <option value="2">2 times</option>
                        <option value="3">Infinite</option>
                    </select>                 
                        <div v-if="this.errors.RetakeCount.length > 0" class="invalid-feedback">
                            {{this.errors.RetakeCount[0].replace("RetakeCount", "Retake Count")}}
                        </div>
                    </div>
                </div>                        

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.PassingRate" :class="$parent.HasError(this.errors.PassingRate)" 
                    type="text" class="form-control"  placeholder="Passing Grade" >
                    <div  v-if="this.errors.PassingRate.length > 0" class="invalid-feedback">
                        {{this.errors.PassingRate[0].replace("PassingRate", "Passing Grade")}}
                    </div>
                    </div>
                </div>                    


                                                          

                <br>
                <div class="form-actions">
                <button @click="NewWorkSheet()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2" @click="CloseModal()">
                    Cancel
                </button>                                    
                </div>
            </div>
        <div class="clearing"></div>   
    </div>
 
</div>    
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newQuizz, getWorksheetsBySectionID} from '../../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../../api/teacher/question_bank.js'
import {bus} from '../../../../../main.js'

export default {
    name:'NewUnitTest',
    props:['PropCourseID', 'PropSectionID'],
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            QuestionBankList:[],
            Worksheets:[],
            CategorySectionID:null,
            CategorySectionLevelID:null,
            input:{
                SectionID: this.PropSectionID,
                Title:null,
                Description:null,
                BankID:null,
                AnswerType:3,
                NoOfQuestion:null,
                PassingRate:null,
                CourseID : this.PropCourseID,
                Type:2, //2 is Unit Test
                TimeLimit:null,
                RetakeCount:'',
                Worksheets:[],
            },
            errors:{
                SectionID:[],
                Title:[],
                Description:[],
                BankID:[],
                AnswerType:[],
                NoOfQuestion:[],
                PassingRate:[],
                CourseID:[],
                Type:[],
                TimeLimit:[],
                RetakeCount:[],
                Worksheets:[],
            }
        }        
    },
    created(){
        bus.$off("addNewUnitTestQuizz");
        bus.$on("addNewUnitTestQuizz",(section_id, category_section_id, category_section_level_id)=>{
            this.input.SectionID = section_id;
            this.CategorySectionID = category_section_id;
            this.CategorySectionLevelID = category_section_level_id;

            this.isSubmitted = false;
            this.isSucceed = false;            
            // this.GetQuestionBanks();
            this.GetWorksheets();
        });
    },
    methods:{
        NewWorkSheet:function(){
            this.input.CourseID = this.PropCourseID;
            this.isSubmitted = true;
            newQuizz(this.$parent.GetSessionHeaders(), this.input,).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadSections');
                // this.CloseModal();
            }).catch((response)=>{
                try{
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                        this.errors.Title = [];
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                        this.errors.Description = [];
                    }
                    
                    if(response.body.Errors.BankID){
                        this.errors.BankID = response.body.Errors.BankID;
                    }else{
                        this.errors.BankID = [];
                    } 
                    
                    if(response.body.Errors.AnswerType){
                        this.errors.AnswerType = response.body.Errors.AnswerType;
                    }else{
                        this.errors.AnswerType = [];
                    }  
                    
                    if(response.body.Errors.NoOfQuestion){
                        this.errors.NoOfQuestion = response.body.Errors.NoOfQuestion;
                    }else{
                        this.errors.NoOfQuestion = [];
                    }       
                    
                    if(response.body.Errors.PassingRate){
                        this.errors.PassingRate = response.body.Errors.PassingRate;
                    }else{
                        this.errors.PassingRate = [];
                    }            
                    
                    if(response.body.Errors.TimeLimit){
                        this.errors.TimeLimit = response.body.Errors.TimeLimit;
                    } else{
                        this.errors.TimeLimit = [];
                    }

                    if(response.body.Errors.RetakeCount){
                        this.errors.RetakeCount = response.body.Errors.RetakeCount;
                    }else{
                        this.errors.RetakeCount = [];
                    }                         

                    if(response.body.Errors.Worksheets){
                        this.errors.Worksheets = response.body.Errors.Worksheets;
                    }else{
                        this.errors.Worksheets = [];
                    }                                             

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }  
            }).finally(()=>{
                 this.isSubmitted = false;
            });
        },
        GetWorksheets:function(){
            getWorksheetsBySectionID(this.$parent.GetSessionHeaders(),this.input.SectionID ).then((response)=>{
                this.Worksheets = response.body.Worksheets;
            });
        },
        CloseModal:function(){
            //real closing was done by magic, all well do here is to clean this tihng up
                this.input.Title = null;
                this.input.Description = null;
                this.input.BankID = null;
                this.input.AnswerType = 3;
                this.input.NoOfQuestion = null;
                this.input.PassingRate = null;
                this.input.RetakeCount = '';
                this.input.TimeLimit = 0;
                
                this.errors.Title = [];
                this.errors.Description = [];
                this.errors.BankID = [];
                this.errors.AnswerType = [];
                this.errors.NoOfQuestion = [];
                this.errors.PassingRate = [];
                this.errors.RetakeCount = [];
                this.errors.TimeLimit = [];
                this.errors.Worksheets = [];
        }
    }
}
</script>
<style scoped>
.ag-new_unittest-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-register-modal-container .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 5%;
}
</style>

