<template>
<div class="ag-new_worksheet-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>WORKSHEET : </b>{{this.input.Title}} was successfully added</h5>
                    <hr>
                    <p class="mb-0">
                         {{this.input.Description}}
                        <br>
                    </p>
                    <p class="text-center">
                         <button class="btn btn-sm ag-modal-close-2 modal-close"  @click="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>New Worksheet</h5>
                <br>
                <div class="form-group row">
                    <!-- <label class="col-sm-3 col-form-label">Worksheet Title</label> -->
                    <div class="col-sm-12">
                    <input v-model="input.Title" :class="$parent.HasError(this.errors.Title)" type="text" class="form-control"  placeholder="Worksheet Name" >
                    <div class="invalid-feedback">
                        {{this.errors.Title[0]}}
                    </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.Description" :class="HasError(this.errors.Description)" class="form-control"   rows="5" placeholder="Description">
                    </textarea>
                    <div v-if="this.errors.Description.length > 0" class="invalid-feedback">
                        {{this.errors.Description[0]}}
                    </div>

                    </div>
                </div> -->

                <!-- 08-13-2018 
                    <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.BankID" :class="HasError(this.errors.BankID)"  class="form-control">
                        <option value="0">Select Question Bank</option>
                        <option v-for="item in QuestionBankList" :value="item.question_bank_id" :key="item.question_bank_id" >{{item.question_bank_title}}</option>
                    </select>                 
                        <div v-if="this.errors.BankID.length > 0"  class="invalid-feedback">
                            {{this.errors.BankID[0].replace("BankID", "Question Bank")}}
                        </div>
                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.AnswerType" :class="HasError(this.errors.AnswerType)"  class="form-control">
                        <option value="0">Lesson Type</option>
                        <option value="1">Multiple Choice</option>
                        <option value="2">Essay</option>
                    </select>                 
                        <div v-if="this.errors.AnswerType.length > 0"  class="invalid-feedback">
                            {{this.errors.AnswerType[0].replace("AnswerType", "Lesson Type")}}
                        </div>
                    </div>
                </div>    

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.NoOfQuestion" :class="$parent.HasError(this.errors.NoOfQuestion)" type="number" class="form-control" placeholder="No of Questions" >
                    <div v-if="this.errors.NoOfQuestion.length > 0" class="invalid-feedback">
                        {{this.errors.NoOfQuestion[0].replace("NoOfQuestion", "No of Question")}}
                    </div>
                    </div>
                </div>  

                <div class="form-group row">
                    <div class="col-sm-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="clock-addon"> <span class="fa fa-clock color-text-sub-1"></span></span>
                        </div>
                        <input v-model="input.TimeLimit" :class="$parent.HasError(this.errors.TimeLimit)" type="number" class="form-control"  placeholder="Time Limit (Minutes)"  aria-describedby="clock-addon">
                    </div>                    
                    <div v-if="this.errors.TimeLimit.length > 0" class="invalid-feedback">
                        {{this.errors.TimeLimit[0].replace("TimeLimit", "Time Limit")}}
                    </div>
                    </div>
                </div>                   

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.RetakeCount" :class="HasError(this.errors.RetakeCount)"  class="form-control">
                        <option value="-1">Retake Count</option>
                        <option value="0">0</option>
                        <option value="1">1 time</option>
                        <option value="2">2 times</option>
                        <option value="3">Infinite</option>
                    </select>                 
                        <div v-if="this.errors.RetakeCount.length > 0" class="invalid-feedback">
                            {{this.errors.RetakeCount[0].replace("RetakeCount", "Retake Count")}}
                        </div>
                    </div>
                </div>                      

                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.PassingRate" :class="$parent.HasError(this.errors.PassingRate)" type="number" class="form-control"  placeholder="Passing Grade" >
                    <div  v-if="this.errors.PassingRate.length > 0" class="invalid-feedback">
                        {{this.errors.PassingRate[0].replace("PassingRate", "Passing Grade")}}
                    </div>
                    </div>
                </div>

                <br>
                <div class="form-actions">
                <button @click="NewWorkSheet()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Submit </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2" @click="CloseModal()">
                    Cancel
                </button>                                    
                </div>
                <input id="closenewworksheet" type="hidden" class="ag-modal-close-2">
            </div>
        <div class="clearing"></div>   
    </div>
 
</div>    
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newQuizz} from '../../../../../api/teacher/exam.js'
import {getQuestionBanks} from '../../../../../api/teacher/question_bank.js'
import {bus} from '../../../../../main.js'
export default {
    name:'NewWorkSheet',
    props:['PropCourseID', 'PropSectionID', 'PropBankID'],
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            QuestionBankList:[],
            CategorySectionID:null,
            CategorySectionLevelID:null,
            input:{
                SectionID: this.PropSectionID,
                Title:null,
                Description:null,
                BankID: null,
                AnswerType:0,
                NoOfQuestion:null,
                RetakeCount:-1,
                PassingRate:null,
                CourseID : this.PropCourseID,
                TimeLimit:null,
                Type:1, //1 is Worksheet
            },
            errors:{
                SectionID:[],
                Title:[],
                Description:[],
                BankID:[],
                AnswerType:[],
                NoOfQuestion:[],
                RetakeCount:[],
                PassingRate:[],
                CourseID:[],
                Type:[],
                TimeLimit:[],
            }
        }        
    },
    created(){
        bus.$off('addNewWorkSheetQuizz');
        bus.$on("addNewWorkSheetQuizz",(section_id, category_section_id, category_section_level_id)=>{
            this.input.SectionID = section_id;
            this.CategorySectionID = category_section_id;
            this.CategorySectionLevelID = category_section_level_id;
            this.GetQuestionBanks();
        });
    },
    methods:{
        NewWorkSheet:function(){
            this.input.CourseID = this.PropCourseID;
            this.input.BankID = this.PropBankID;
            this.isSubmitted = true;
            if(!this.input.TimeLimit){
                this.input.TimeLimit = 0;
            }
            newQuizz(this.$parent.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                bus.$emit('reloadSections');
                this.CloseModal();//reset the inpuyts
                document.getElementById('closenewworksheet').click();
            }).catch((response)=>{
                try{
                    if(response.body.Errors.Title){
                        this.errors.Title = response.body.Errors.Title;
                    }else{
                        this.errors.Title = [];
                    }

                    if(response.body.Errors.Description){
                        this.errors.Description = response.body.Errors.Description;
                    }else{
                        this.errors.Description = [];
                    }
                    
                    if(response.body.Errors.BankID){
                        this.errors.BankID = response.body.Errors.BankID;
                    }else{
                        this.errors.BankID = [];
                    } 
                    
                    if(response.body.Errors.AnswerType){
                        this.errors.AnswerType = response.body.Errors.AnswerType;
                    }else{
                        this.errors.AnswerType = [];
                    }  
                    
                    if(response.body.Errors.NoOfQuestion){
                        this.errors.NoOfQuestion = response.body.Errors.NoOfQuestion;
                    }else{
                        this.errors.NoOfQuestion = [];
                    }        
                    
                    if(response.body.Errors.PassingRate){
                        this.errors.PassingRate = response.body.Errors.PassingRate;
                    }else{
                        this.errors.PassingRate = [];
                    }       
                    
                    if(response.body.Errors.TimeLimit){
                        this.errors.TimeLimit = response.body.Errors.TimeLimit;
                    }else{
                        this.errors.TimeLimit = [];
                    }      

                    if(response.body.Errors.RetakeCount){
                        this.errors.RetakeCount = response.body.Errors.RetakeCount;
                    }else{
                        this.errors.RetakeCount = [];
                    }                          
                    
                    

                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                }  
            }).finally(()=>{
                this.isSubmitted = false;
            });
        },
        GetQuestionBanks:function(){
            getQuestionBanks(this.$parent.GetSessionHeaders(), 100,1, this.CategorySectionID, this.CategorySectionLevelID).then((response)=>{
                this.QuestionBankList = response.body.QuestionBanks;
            });
        },
        CloseModal:function(){
            //real closing was done by magic, all well do here is to clean this tihng up
                this.input.Title = null;
                this.input.Description = null;
                this.input.BankID = 0;
                this.input.AnswerType = 0;
                this.input.NoOfQuestion = null;
                this.input.RetakeCount = '-1';
                this.input.PassingRate = null;
                this.input.TimeLimit = null;
                this.isSubmitted = false;
                this.isSucceed = false;
                this.errors.Title = [];
                this.errorsDescription = [];
                this.errors.BankID = [];
                this.errors.AnswerType = [];
                this.errors.NoOfQuestion = [];
                this.errors.RetakeCount = [];      
                this.errors.PassingRate = [];      
                this.errors.TimeLimit = [];          
        }
    }
}
</script>
<style scoped>
.ag-new_worksheet-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-register-modal-container .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 5%;
}
</style>

