<template>
  <div class="container-fluid exam-manager-container">
    <div class="row">
     <div class="col-md-3 search-sidebar">
        <div class="search-controls">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <div @click="GotoGradingSchema()" class="create-new">
            <span class="fa fa-edit"></span>
            <span>Grading Schema</span>
        </div>        

        <!--ITEMS-->
       <div class="searched-items">
            <div v-for="item in CompCategoryList" @click="GoToGradeSheetPage(item.category_id)" :key="item.category_id" class="item">
                <div class="aside-image">
                    <img v-if="item.cover_photo != '' && item.cover_photo != null" :src="GetImageURL() + item.cover_photo">
                    <span v-else class="circling-title">{{item.category_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title">{{item.category_title}}</div> 
                    <!-- <div class="description">{{item.category_desc}}</div> -->
                </div>
                <div class="clearing"></div>
            </div>
        </div>        
    </div>  
        <div class="col-md-9 admin-col-main">
            <div v-if="!hasNewSubmissions & isInitialLoad" class="grade_schema no-new-container">
                <div class="col-md-10 message">
                    <div class="notif-img notif-img3">
                        <img src="../../../../assets/images/staticimage/notification.png">
                    </div>
                    <h3>No New Submission</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper, erat ut ornare ultricies, nibh nunc posuere felis, id consequat massa sem scelerisque arcu. Aliquam mattis urna urna, quis ullamcorper risus volutpat sed.</p> -->
                </div>
            </div>
            <notif-grade  v-else-if="hasNewSubmissions & isInitialLoad"></notif-grade>

            <transition name="fade" mode="out-in" v-else>
                <router-view  :key="$route.fullPath"></router-view>
            </transition>
        </div>     
    </div>


  </div>
</template>

<script>
import {getMainGradeList, getCategories2, getRecentGradeSubmission} from '../../../../api/teacher/exam.js';
import NotifGrade from './subcomponents/NotifGrade';
export default {
    name:"StudentGrade",
    components:{NotifGrade},
    data(){
        return{
            isSearching:false,
            SearchInput:'',
            isInitialLoad:true,
            // hasNewSubmission:true,
            Sort : 1,
            isLoading : true,
            PageLimit : 10,// 5  per page only
            PageOffset: 1,
            PageCount : 0,  
            isPagerLoading:false,           
            
            CategoryList:[]
        }
    },    
    created(){
        this.GetExamCategories();
        // this.GetList();
        this.GetRecentSubmission();
    },
   beforeRouteUpdate(to,from, next){
        if(to.name != 'TeacherGrade'){
            this.isInitialLoad = false;
        }else{
            this.isInitialLoad = true;
        }        
        next();
    },      
    computed:{
      CompGradeList:function(){
        if(this.isSearching && this.SearchInput != ''){
            return this.$store.state.teacherGrades.filter(item=>{
                return item.title.toLowerCase().indexOf(this.SearchInput) > -1;
            });
        }
        if(this.Sort == 0){
            let temp =  this.$store.state.teacherGrades.slice();
            return temp.sort(function(a,b){
                var nameA = a.title.toUpperCase(); 
                var nameB = b.title.toUpperCase(); 
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }                    
            });
        }  
        if(this.Sort == 1){
            return this.$store.state.teacherGrades;
        }  
        if(this.Sort == 2){
            let temp =  this.GradeList.slice();
            return temp.sort(function(a,b){
                return new Date(a.date_added) - new Date(b.date_added);                
            });                
        }          
        return this.$store.state.teacherGrades;
      },
      CompCategoryList:function(){
        if(this.$store.state.categories.length == 0) {
            return[];
        }
        if(this.isSearching && this.SearchInput != ''){
            return this.$store.state.categories.filter(item=>{
                return item.category_title.toLowerCase().indexOf(this.SearchInput) > -1;
            });
        }
        if(this.Sort == 0){
            let temp =  this.$store.state.categories.slice();
            return temp.sort(function(a,b){
                var nameA = a.category_title.toUpperCase(); 
                var nameB = b.category_title.toUpperCase(); 
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }                    
            });
        }  
        if(this.Sort == 1){
            return this.$store.state.categories;
        }  
        if(this.Sort == 2){
            let temp =  this.$store.state.categories.slice();
            return temp.sort(function(a,b){
                return new Date(a.date_added) - new Date(b.date_added);                
            });                
        }              
        return this.$store.state.categories;
      },



    hasNewSubmissions:function(){
        if(!this.$store.state.teacherRecentGradesSubmission) {return false}
        return this.$store.state.teacherRecentGradesSubmission.length > 0;
    }         

    },     
    methods:{
        GetList:function(){
            this.isLoading = true;
            getMainGradeList( this.GetSessionHeaders(),this.PageLimit, this.PageOffset).then((response)=>{

                this.PageCount = response.body.PageCount;

                let _grades =  [];
                if(this.$store.state.teacherGrades) {
                    _grades =  this.$store.state.teacherGrades;
                }

                if( _grades.length > 0 &&
                    (_grades.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }    
                if( _grades.length > 0 && this.PageOffset == 1){
                    let divide = _grades.length / this.PageLimit;
                    if(divide >= this.PageOffset){
                        this.PageOffset = Math.ceil(divide);
                        return;
                    }
                }     
                if(this.PageOffset >= 1){
                    _grades.push(...response.body.List);
                }           


                this.$store.commit("commitTeacherGrades", _grades);                
                
            }).catch((response)=>{
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isLoading = false;
                this.isPagerLoading = false;
            });        
        },
        GetExamCategories:function(){
            this.isLoading = true;
            getCategories2(null, this.PageLimit, this.PageOffset).then((response)=>{
                this.PageCount = response.body.PageCount;
                let _categoryList =  [];
                if(this.CategoryList.length > 0) {
                    _categoryList =  this.CategoryList;
                } 
                if( _categoryList.length > 0 &&
                    (_categoryList.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }    
                if(this.PageOffset >= 1){
                    _categoryList.push(...response.body.Categories);
                }                   
                this.CategoryList = _categoryList;

            }).catch((response)=>{
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isLoading = false;
                this.isPagerLoading = false;
            });        
        },   


        GetRecentSubmission:function(){
            getRecentGradeSubmission(this.GetSessionHeaders()).then((response)=>{
                //Pre process
                let grades = response.body.Grades;
                if(grades){
                    let newGrade = grades.map((categories)=>{
                        let lessons = categories.Items;
                        //    console.log(lessons);
                        let distinct_section_ids = [...new Set(lessons.map(lesson => lesson.category_section_id))];

                        let new_lessons = [];
                        distinct_section_ids.map((id)=>{
                            
                            let section_items = lessons.filter((inner_lesson)=>{
                                return inner_lesson.category_section_id == id;
                            });

                            if(section_items.length > 0){
                                let _tmp_lesson = {
                                    SectionName : section_items[0].section_title,
                                    SectionID : section_items[0].category_section_id,
                                    Lessons : section_items
                                }
                                new_lessons.push(_tmp_lesson);
                            }
                            
                        });
                        categories.Items = new_lessons;

                        return categories;
                        // console.log(new_lessons);
                        // console.log(distinct_section_ids);
                    });
                }

                this.$store.commit("commitTeacherRecentGradesSubmission", response.body.Grades);
            });
        },         
        GoToGradeSheetPage(id){
            this.$router.push({ name: 'GradeSheets', params: { category_id : id } });
        } ,
        GotoGradingSchema:function(){
            this.$router.push({ name: 'GradeSchema',  params: { course_id : 1 }});
        },
        IncreasePageOffset(){
            if(this.PageOffset >= this.PageCount){
                return;
            }
            this.PageOffset = this.PageOffset+1;
            this.isPagerLoading = true;
            this.GetList();
        },                          
    }    
}
</script>
<style scoped>
.table-banks-list{
  margin-top: 25px;
}

.table-banks-list th{
    color: #fff;
}

.table-banks-list td, .table-banks-list th {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 10px;
} 
.table-banks-list th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
    vertical-align: middle;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
.grade_schema.no-new-container{
    margin-top: 12em;
}
</style>