// Become-instructor Page

.custom-style {
	&.thim-sc-steps {
		.content-box {
			.steps-wrapper {
				.steps {
					.nav {
						.nav-item {
							.nav-link {
								border: 1px solid $border-color;
								color: $thim_font_body_color;
								&.active {
									background-color: $thim_body_primary_color !important;;
								}
							}
						}
					}
				}
			}
		}
	}
}

.register-content {
	color: $thim_font_title_color;
	.register-form {
		.register-fields {
			li {
				input {
					&:hover {
						border-color: $thim_body_primary_color;
					}
				}
				button {

					background-color: $thim_body_primary_color;
					&:hover {
						background-color: darken($thim_body_primary_color, 20%);
					}
				}
			}
		}
	}
}

.thim-content-talk {
	p {
		font-family: TimesNewRomanPS-MT;
	}
	&:before {
		color: $thim_body_primary_color;
		font-family: Arial;
	}
}

#learn-press-become-teacher-form {
	input[type=text], input[type=email] {
		font-family: $thim_font_body_font_family;
	}
}
