<template>
<div class="col-md-3 search-sidebar">
    <div class="search-controls">
        <select v-if="!isSearching" v-model="Sort" class="form-control">
            <option value="0">Sort By Title</option>
            <option value="1">Sort By Newly Added</option>
            <option value="2">Sort By Firstly Added</option>
        </select>
        <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
        <span @click="isSearching = !isSearching" class="fa fa-search"></span>
        <div class="clearing"></div>
    </div>
    <div @click="CreateNewTeacher()" class="create-new">
        <span class="fa fa-edit"></span>
        <span>Create a New Teacher</span>
    </div>

    <!--ITEMS-->
        <div class="searched-items">
        <div v-for="(item, index) in CompTeachers" :key="'assignment_' + index" @click="GotoEditPage(item.user_id)" class="item">
            <div class="aside-image">
                <img v-if="item.profile_image != '' && item.profile_image != null" :src="GetProfileImageURL() + item.profile_image">
            </div>
            <div class="content-details">
                <!-- <div class="date-added">{{item.date_added}}</div> -->
                <div class="title teacher_title">{{item.fname}} {{item.lname}}</div>
                <!-- <div class="description line-clamp line-clamp-3">
                    {{item.description}}
                </div> -->
                <!-- <div class="description line-clamp line-clamp-3">
                    <p class="line-clamp line-clamp-1">{{item.category_title}} - {{item.section_title}} <br>
                    <span>{{item.level_title}}</span></p>
                </div> -->
            </div>
            <div class="clearing"></div>
        </div>
        <div v-if="(PageCount  > PageOffset) && PageCount > 1" @click="IncreasePageOffset()"  class="item">
            <div class="load-more">
                <div class="sm-loader margin-top-15" v-if="isPagerLoading"></div>
                <div class="ft-size-21 col-centered  margin-top-15" v-else>Load More</div>
            </div>
        </div>
    </div>
    <!--END ITEMS-->

</div>      
</template>
<script>
import {getTeachers} from '../../../../api/teacher/admin.js'
import {bus} from '../../../../main.js'
export default {
    name:"AdminList",
    data(){
            return{
                isSearching:false,
                SearchInput:'',
                Sort : 1,
                isInitialLoad:true,
                Teachers:[],
                isPagerLoading:false,
                PageLimit : 20,//def = 20
                PageOffset: 1,
                PageCount : 0,       
            }
        
    },
   beforeRouteUpdate(to,from, next){
        if(to.name != 'AdminTeacher'){
            this.isInitialLoad = false;
        }        
        next();
    },
    computed:{
        CompTeachers:function(){
            if(this.isSearching && this.SearchInput != ''){
                return  this.Teachers.filter(item=>{
                    return item.fname.toLowerCase().indexOf(this.SearchInput) > -1;
                });
            }
            if(this.Sort == 0){
                let temp =  this.Teachers.slice();
                return temp.sort(function(a,b){
                    var nameA = a.fname.toUpperCase(); 
                    var nameB = b.fname.toUpperCase(); 
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }                    
                });
            }  
            if(this.Sort == 1){
                return this.Teachers;
            }  
            if(this.Sort == 2){
                let temp =  this.Teachers.slice();
                return temp.sort(function(a,b){
                    return new Date(a.registration_date) - new Date(b.registration_date);                
                });                
            }               

            return this.Teachers;
        },
    },
    created(){
        this.GetTeachers();
        bus.$off('reloadAdminTeachers',()=>{});
        bus.$on("reloadAdminTeachers",()=>{
            this.PageOffset=  1;       
            this.PageCount = 0;     
            this.Teachers = []; 
            this.GetTeachers();
        });        
    },
    beforeDestroy () {
        bus.$off('reloadAdminTeachers',()=>{

        });
    },     
    methods:{
        CreateNewTeacher:function(){
            this.$router.push({ name: 'NewTeacher' }); 
        },
        IncreasePageOffset(){
            if(this.PageOffset >= this.PageCount){
                return;
            }
            this.PageOffset = this.PageOffset+1;
            this.isPagerLoading = true;
            //this.GetTeachers();
        },
        GetTeachers:function(){
            getTeachers(this.GetSessionHeaders(),  this.PageLimit, this.PageOffset).then(response=>{
                this.PageCount = response.body.PageCount;
                let _teachers =  [];

                if(this.Teachers) {
                     _teachers =  this.Teachers;
                }
                if( _teachers.length > 0 &&
                    (_teachers.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }

                if( _teachers.length > 0 && this.PageOffset == 1){
                    let divide = _teachers.length / this.PageLimit;
                    if(divide >= this.PageOffset){
                        this.PageOffset = Math.ceil(divide);
                        return;
                    }
                }                
                
                if(this.PageOffset >= 1){
                    _teachers.push(...response.body.Teachers);
                }
                this.Teachers = _teachers;
                //this.$store.commit("commitTeacherAssignments",_assignments);
            }).finally(()=>{
                this.isPagerLoading = false;
            });
        },  
        GotoEditPage:function(user_id){

            this.$router.push({ name: 'ViewTeacher', params: { user_id : user_id } });
        }                              
    }      
}
</script>
