<template>
<div class="row">
    <admin-list></admin-list>
    <div class="col-md-9 main-content" v-if="isInitialLoad">
        <p class="watermark watermark-2">
            <img src="../../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <transition v-else name="fade" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
    </transition>
    
</div>       
</template>

<script>
import AdminList from './AdminList.vue';
export default {
    name:"Admin",
    components:{
        AdminList
    },
    data(){
        return{
            isInitialLoad : true
        }
    },
    created(){
        if(this.$route.name == 'TeacherAdmin')
        {
            this.isInitialLoad = true;
        }else{
            this.isInitialLoad = false;
        }
    },
    beforeRouteUpdate(to,from, next){

        if(to.name == 'TeacherAdmin'){
            this.isInitialLoad= true;
        }else{
            this.isInitialLoad = false;
        }

        next();
    },              
}
</script>
