<template>
<div>
    <!-- table -->

    <div class="row">
    <div v-if="isLoading" class="loader mt-12" ></div>
    <div v-else class="student-grade-row g-wid-100">
        <div class="col-md-12">
            <div class="details">
              <h6>GRADES AND SCORESHEET</h6>
              <h2>{{GetCategoryName(CategoryID)}}</h2>
            </div>
        </div>
        <div class="row margin-left-15">
            <div class="col-md-1">Section</div>
            <div class="col-md-3">
                <select v-model="CategorySectionID" @change="GetCategorySectionDetail()"  
                class="form-control  form-control-sm margin-bot-5">
                    <option value="0">Please Select Section</option>
                    <option v-for="(item,index) in CategorySections" :key="'select_cate_sections'+index" :value="item.category_section_id">
                        {{item.section_title}}
                    </option>
                </select>
            </div> 
        </div>
    
        <div class="row margin-left-15">
            <div class="col-md-1">Level</div>
            <div class="col-md-3"  >
                <select v-model="CategorySectionLevelID" @change="GetCourseLevelChapters()"  
                class="form-control  form-control-sm margin-bot-5">
                    <option value="0">Please Select Level</option>
                    <option v-for="(item,index) in CompCategorySectionLevels" 
                    :key="'course_section_levels_'+item.category_section_id+'_'+index" 
                    :value="item.category_section_level_id">
                        {{item.level_title}}
                    </option>
                </select>
            </div>   
        </div>

        <div class="row margin-left-15">
            <div class="col-md-1">Chapter</div>
            <div class="col-md-3">
                <select v-model="CategorySectionLevelChapterID" @change="GetLessons()"  
                class="form-control  form-control-sm margin-bot-5 ">
                    <option value="0">Please Select Chapters</option>
                    <option v-for="(item,index) in LevelChapters" 
                    :key="'select_chapters_'+index"
                    :value="item.chapter_no">
                        Chapter {{item.chapter_no}}
                    </option>
                </select>
            </div>  
        </div>

        <div class="row margin-left-15">
            <div class="col-md-1">Lesson</div>
            <div class="col-md-3">
                <select v-model="SectionItemID" @change="SelectLesson()" class="form-control  form-control-sm margin-bot-5">
                    <option value="0">Please Select Lesson</option>
                    <option v-for="(item,index) in this.Lessons" 
                    :key="'select_lesson_'+index"
                    :value="item.section_item_id">
                        {{item.title}}
                    </option>
                </select>
            </div> 
        </div>

    </div>
    </div>

    <div v-if="!isLoading" class="row add-section-row">
    <div class="col-md-12">

        <div v-if="isResultLoading" class="sm-loader margin-top-15"></div>

        <div v-else class="table-responsive">
          <table class="table table-hover table-banks-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student's Name</th>
                    <th>Attempts</th>
                    <th>Score</th>
                    <th>Average</th>
                    <th>Grade</th>
                    <th>Action</th>
                    <th>Final Score</th>
                </tr>
            </thead>
            <tbody  v-for="(item,index) in CompCourseGradeResults" :key="'student_result_'+index">
                <tr v-for="(grade,index2) in item.Grades" :key="'gr_result_'+index2">
                    <td>
                        <span v-if="index2 == 0">
                            {{index + 1}}
                        </span>
                        
                    </td>
                    <td>{{grade.lname}}, {{grade.fname}}</td>
                    <td>{{index2 + 1}}</td>
                    <td>

      
                        <span v-if="grade.status == 2">Pending</span>
                        <span v-else>{{grade.score}}</span>
                        
                    </td>
                    <td>
                        <span v-if="grade.status == 2">N / A</span>
                        <span v-else>{{ToPercent(grade.no_of_question, grade.score)}} %</span>                    
                 
                    </td>
                    <td>
                        <span v-if="grade.status == 2">N / A</span>
                        <span v-else>    {{CalculateGradeMark(ToPercent(grade.no_of_question, grade.score))}}</span>                        
                     
                        </td>
                    <td>
                        <button @click="GoToViewStudentGrade(grade.course_id, grade.section_progress_id, grade.user_id)" type="button" class="table-btn-ag btn-sm btn-green btn-primary">View</button>
                        <button @click="PrepareDelete(grade.section_progress_id)" type="button" class="table-btn-ag btn-sm btn-green btn-danger popup_are_you_sure">Delete</button>
                    </td>

                    <td v-if="index2 == 0">
                        <div class="grade-score-item">
                            <div class="grade">
                                <span>{{CalculateFinal(item)}}</span>
                            </div>
                        </div>   
                    </td>
                </tr>
                
            </tbody>
          </table>
        </div>

        <nav v-if="!isResultLoading"  class="pager_navigation" aria-label="Lists">
            <ul class="pagination justify-content-center">
                <!-- <li class="page-item disabled"> -->
                <li class="page-item">
                <a v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
                </li>

                <li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)" :key="n">
                <a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
                </li>

                <li class="page-item">
                <a v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>        
    </div>
    </div>

 <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteAttempt"></are-you-sure>
</div>    
</template>
<script>
import AreYouSure from '../../../../subcomponents/modal/AreYouSureModal';
import {getCourseDetail,getCourseSection, getGradeResultForCourse,getCategorySection, getCategories3SectionDetail, getCategories2LevelChapters,
 getLessonsBySectionLevelChapter , getGradeSchema, deleteUserAttemptForGrade} from '../../../../../api/teacher/exam.js';
import  {getSectionItemDetail} from '../../../../../api/student/exam.js';


export default{
    name:'GradeSheet',
    components:{AreYouSure},
    data(){
        return{
            isLoading:false,
            isInitialLoad:true,
            fromNotification:false,
            isResultLoading:false,
            SectionItemID:null,
            CourseID:null,
            SectionDetail:null,        
    


            CourseDetail:null,
            CourseGradeResults:[],
            CourseGradeSchema:[],
            DeleteDialogMessage:"Are you sure you want to delete this entry?",
            ToDeleteID:null,
            
            CategoryID:1,
            isSectionLoading:false,
            CategorySections:[],
            CategorySectionID:0,
            CategorySectionDetail:null,
            CategorySectionLevelID:0,
            LevelChapters:[],
            CategorySectionLevelChapterID:0,
            Lessons:[],

            PageLimit : 5,// 5 student per page only
            PageOffset: 1,
            PageCount:null,

        }
    },
    computed:{
        CompCourseGradeResults:function(){
            return this.CourseGradeResults;
        },
        CompCategorySectionLevels:function(){
            if(this.CategorySectionDetail){
                return this.CategorySectionDetail.section_item;
            }
            return [];
        }
    },
    beforeRouteUpdate(to,from, next){
        this.CategoryID = to.params.category_id;
        this.GetCategorySections();
        this.GetCourseGradingSchema();
        next();
    },
    mounted(){
        this.CategoryID = this.$route.params.category_id;
        this.GetCourseGradingSchema();
        this.GetCategorySections();

        if( this.HasValue(this.$route.query.section) && this.HasValue(this.$route.query.level) && this.HasValue(this.$route.query.chapter) && this.HasValue(this.$route.query.lesson)){
            this.isInitialLoad = false;
            this.fromNotification = true;
            this.isResultLoading = true;
            this.CategorySectionID = this.$route.query.section;
            this.CategorySectionLevelID = this.$route.query.level;
            this.CategorySectionLevelChapterID = this.$route.query.chapter;
            //SectionItemID refers to lesson
            this.SectionItemID = this.$route.query.lesson;
    
        }        
    },     
    methods:{
        GetCategorySections:function(){
            this.isLoading = true;
            getCategorySection(this.GetSessionHeaders(), this.CategoryID).then((response)=>{
                this.CategorySections = response.body.CategorySection;

                if(this.CategorySections <= 0){
                    return;
                }
                if(this.fromNotification){
                    this.CategorySectionID = this.$route.query.section;
                }else{
                    this.CategorySectionID = this.CategorySections[0].category_section_id;
                }
               

                this.GetCategorySectionDetail();

            }).finally(()=>{
                this.isLoading = false;
            })
        }, 
		GetCategorySectionDetail:function(){
            this.isLoading = true; 
			getCategories3SectionDetail(this.GetSessionHeaders(), this.CategorySectionID).then((response)=>{
				this.CategorySectionDetail = response.body.SectionDetail;
				//Automatically set the to first level if for initial load
				if(this.HasValue(this.CategorySectionDetail)){

					if(this.CategorySectionDetail.section_item.length <= 0){
						return;
                    }

                    if(this.fromNotification){
                        this.CategorySectionLevelID = this.$route.query.level;
                    }else if(this.isInitialLoad){
                        this.CategorySectionLevelID = this.CategorySectionDetail.section_item[0].category_section_level_id;
                    }                    
                    
					
					this.GetCourseLevelChapters();
				}
			}).finally(()=>{
                this.isLoading = false;
            })
		},        
       GetCourseLevelChapters:function(){
            this.isLoading = true;
            getCategories2LevelChapters(this.GetSessionHeaders(), this.CategorySectionID, this.CategorySectionLevelID, 100 ).then((response)=>{
               this.LevelChapters= response.body.Chapters;
               if(this.LevelChapters.length > 0){

                    if(this.fromNotification){
                        this.CategorySectionLevelChapterID = this.$route.query.chapter;
                    }else{
                        this.CategorySectionLevelChapterID = this.LevelChapters[0].chapter_no;
                    }                      

                    this.GetLessons();
               }else{
                   this.Lessons = [];
               }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        GetLessons:function(){
                this.isLoading = true;
                if(!this.HasValue(this.CategorySectionID) || !this.HasValue(this.CategorySectionLevelID) || !this.HasValue(this.CategorySectionLevelChapterID) ){
                    this.Lessons = [];
                    return;
                }
                getLessonsBySectionLevelChapter( this.GetSessionHeaders(),this.CategorySectionID, this.CategorySectionLevelID,this.CategorySectionLevelChapterID,100).then((response)=>{
                    this.Lessons = response.body.List;


                    if(this.fromNotification){
                        this.GetCourseResults();
                    }
                }).finally(()=>{
                    this.isLoading = false;
                });
        },
        SelectLesson:function(){
            this.GetCourseResults();
        },

       GetCourseResults:function(){
           this.isResultLoading = true;
           getGradeResultForCourse(this.GetSessionHeaders(),this.SectionItemID, this.PageLimit, this.PageOffset).then((response)=>{
               this.CourseGradeResults = response.body.Grades;
               this.PageCount = Math.ceil(response.body.TotalCount / this.PageLimit);
           }).finally(()=>{

                    if(this.fromNotification){
                        this.fromNotification = false;
                    }          
                    
                this.isResultLoading = false;
           });
       },
       GetCourseGradingSchema:function(){
           this.isLoading = true;
            getGradeSchema(this.GetSessionHeaders(), 29 ).then((response)=>{
                this.CourseGradeSchema = response.body.GradeSchema;
                this.$store.commit("commitTeacherGradeSchema", response.body.GradeSchema);
            }).finally(()=>{
                this.isLoading = false;
            });
       },
       PrepareDelete:function(id){
           this.ToDeleteID =  id;
       },
        DeleteAttempt:function(){
            deleteUserAttemptForGrade(this.GetSessionHeaders(),this.ToDeleteID ).then((response)=>{
                this.GetCourseResults();
                this.$toasted.success('Grade was successfully deleted.');
            });
        },

       CalculateGradeMark:function(input_percent){
           let trn_input= Math.trunc(input_percent);
           let mark = this.$store.state.teacherGradeSchema.filter((item)=>{
               if(trn_input >= item.grade_from && trn_input <=item.grade_to){
                    return true;
               }
                return false;
           });
            if(mark.length > 0){
                 return mark[0].grade_mark;
            }
          

       },       
       GotoGradeSchema:function(){
           this.$router.push({ name: 'GradeSchema',  params: { course_id : 1 }});
       },
    //    GoToIndepthGrade:function(progress_id, user_id){
    //        this.$router.push({ name: 'GradeIndepthView',  params: { course_id: this.CourseID ,progress_id : user_id }});
    //    },
       GoToViewStudentGrade:function(course_id ,progress_id, user_id){
           this.$router.push({ name: 'ViewStudentGrade',  params: { course_id: course_id, section_item_id: this.SectionItemID ,user_id : user_id, progress_id : progress_id }});
       },
       
       //MISC

       CalculateFinal:function(item){
           if(item.Grades){
               let totalScore = 0;
               let totaluserScore = 0;
               item.Grades.map((grades)=>{
                    totaluserScore += parseInt(grades.score);
                    totalScore += parseInt(grades.no_of_question);
               });
               return this.ToPercent(totalScore, totaluserScore);
           }else{
               return 0;
           }
       },
        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetCourseResults();
        },
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },       

    }

}
</script>

<style scoped>
.table-banks-list thead th {
    background-color: #036564 !important;
    border-color: #036564 !important;
    color: #fff !important;
    vertical-align: middle !important;
}
.pagination .page-item.active .page-link {
    background-color: #8CC152;
    border-color: #8CC152;
}
#changeAssignPhoto{
    display: none;
}

</style>