<template>
<div>
    <!-- grade list -->
    <div class="row">
    <div class="student-grade-row  col-md-10">
        <div v-if="isLoading" class="loader" ></div>
        <table v-else class="table grade-list">
        <thead >
            <tr>
                <th>Grade</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in GradeSchema" :key="'g_schema_'+index">
                <td>
                    <div class="form-group offset-md-4">
                    <input v-model="input.BulkGradeSchemas[index].GradeMark"  type="text" name="" class="form-control ">
                    </div>
                </td>
                <td>
                    <div class="form-inline form-group offset-md-4">
                        <input v-model="input.BulkGradeSchemas[index].GradeFrom" type="text" name="" class="form-control grade-input"> 
                        <span class="mgrl10">to</span> 
                        <input v-model="input.BulkGradeSchemas[index].GradeTo" type="text" name="" class="form-control grade-input">
                    </div>
                </td>
                <td>
                    <button @click="PrepareDeletingSchema(input.BulkGradeSchemas[index].GradeSchemaID)" type="button" class="table-btn-ag btn-sm btn-green btn-danger curs-pointer popup_are_you_sure">Delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group offset-md-4">
                        <input v-model="new_input.GradeMark" :class="HasError(new_errors.GradeMark, isInitialLoad)"  type="text"  class="form-control">
                    </div>
                </td>
                <td>
                    <div class="form-inline form-group offset-md-4">
                        <input v-model="new_input.GradeFrom" :class="HasError(new_errors.GradeFrom, isInitialLoad)" type="text" name="" class="form-control grade-input"> 
                        <span class="mgrl10">to</span> 
                        <input v-model="new_input.GradeTo" :class="HasError(new_errors.GradeTo, isInitialLoad)"  type="text" name="" class="form-control grade-input">
                    </div>
                </td>
                <td>
                    <button @click="InsertNewGradeSchema()" type="button" class=" btn-sm btn-green btn-danger curs-pointer">Add</button>
                </td>                
                
            </tr>
        </tbody>
        </table>
        <div v-if="!isLoading" class="row">
            <div class="assign-btn">
                <button @click="UpdateBulkGradeSchema()" type="button" class="btn btn-sm btn-primary btn-main-2">Save Changes</button>
                <button @click="CancelButton()" type="button" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>
    </div>
    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteAGradeSchema"></are-you-sure>
</div>    
</template>
<script>
import AreYouSure from '../../../../subcomponents/modal/AreYouSureModal'
import {getGradeSchema,newGradeSchema, putBulkGradeSchema, deleteGradeSchema} from '../../../../../api/teacher/exam.js'
export default {
    components:{AreYouSure},
    data(){
        return{
            isInitialLoad:true,
            isLoading:false,
            CourseID:null,
            GradeSchema:null,
            DeleteDialogMessage:'Are you sure you want to delete this schema?',
            input:{
                CourseID:null,
                BulkGradeSchemas:[]
            },
            delete_input: null,
            new_input:{
                CourseID:null,
                GradeMark:null,
                GradeFrom:null,
                GradeTo:null
            },
            new_errors:{
                CourseID:[],
                GradeMark:[],
                GradeFrom:[],
                GradeTo:[]                
            }
            
            
        }
    },   
    beforeRouteUpdate(to,from, next){
        this.CourseID =29;
        this.GetCourseGradeSchema();
    },    
    mounted(){
        this.CourseID = 29; //quick fix
        this.GetCourseGradeSchema();
    },  
    methods:{
        GetCourseGradeSchema:function(){
            this.isLoading = true;
            this.GradeSchema = [];
            getGradeSchema(this.GetSessionHeaders(), this.CourseID).then((response)=>{
                this.GradeSchema = response.body.GradeSchema;
                this.input.BulkGradeSchemas = [];
                this.GradeSchema.forEach((element)=> {
                    var _schemaTmp ={
                        "CourseID":this.CourseID,
                        "GradeSchemaID": element.g_schema_id,
                        "GradeMark": element.grade_mark,
                        "GradeFrom": element.grade_from,
                        "GradeTo": element.grade_to,
                    }
                    this.input.BulkGradeSchemas.push(_schemaTmp);
                });
                // console.log(this.input.BulkGradeSchemas);
            }).catch((error)=>{

            }).finally(()=>{
                this.isLoading = false;
            });
        },
        InsertNewGradeSchema:function(){
            this.new_input.CourseID = this.CourseID;
            this.isInitialLoad = false;
            newGradeSchema(this.GetSessionHeaders(), this.new_input).then((response)=>{

                this.GetCourseGradeSchema();
                   this.isInitialLoad = true;
                   this.new_input.GradeMark = null;
                   this.new_input.GradeTo = null;
                   this.new_input.GradeFrom = null;

                     this.$toasted.success("Grade Schema was successfully added");
            }).catch((response)=>{
              try{

                  if(response.body.Errors.CourseID){
                      this.$toasted.show(response.body.Errors.CourseID[0]);
                      return;
                  }

                  if(response.body.Errors.GradeMark){
                      this.new_errors.GradeMark = response.body.Errors.GradeMark;
                  }else{
                       this.new_errors.GradeMark = [];
                  }

                  if(response.body.Errors.GradeFrom){
                      this.new_errors.GradeFrom = response.body.Errors.GradeFrom;
                  }else{
                       this.new_errors.GradeFrom = [];
                  }
                  
                  if(response.body.Errors.GradeTo){
                      this.new_errors.GradeTo = response.body.Errors.GradeTo;
                  }else{
                       this.new_errors.GradeTo = [];
                  }               

              }catch(e){
                 this.$toasted.show('Ooops. Something went wrong at our end.');
              }
            });
        },
        UpdateBulkGradeSchema:function(){
            this.isLoading = true;
            this.input.CourseID = this.CourseID;
            putBulkGradeSchema(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("Grade Schema was successfully updated");
            }).catch((response)=>{
                 this.$toasted.error('Kindly Fill all the fields');
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        PrepareDeletingSchema:function(schema_id){
            this.delete_input = schema_id;
        },
        DeleteAGradeSchema:function(){
            this.isLoading = true;
            deleteGradeSchema(this.GetSessionHeaders(), this.delete_input).then((response)=>{
                this.$toasted.success('Successfully Deleted.');
                this.GetCourseGradeSchema();
            }).catch((response)=>{

            }).finally(()=>{
            this.isLoading = false;
            });
        },
        CancelButton:function(){
            this.$router.push({ name: 'TeacherGrade' });
        }
    }    
}
</script>

