<template>
<div>
    <div class="row">
        <div class="student-grade-row">
            <div v-if="CourseDetail != null" class="col-md-12 details">
            <div>
                <!-- <button class="btn btn-sm btn-more-opt">More options</button> -->
                </div>
                <h6>GRADES AND SCORESHEET</h6>
                <h2>{{CourseDetail.course_title}}</h2>
                <p>
                    {{CourseDetail.course_description}}
                </p>
            </div>
        <!--  <div class="col-md-1">
                <button class="btn btn-sm btn-more-opt">More options</button>
                <div class="clearing"></div>
            </div> -->
        </div>
    </div>
    <div class="row student-grade-items-row">
        <div v-if="CourseSections != null" class="col-md-10 col-items">
            <div v-for="(item, index) in CourseSections" :key="'course_section_'+index"   class="grade-item">
                <div class="header">
                    <span class="title">
                        {{item.section_title}}
                    </span>
                </div>
                <div class="description">
                    <p>
                        {{item.section_description}}
                    </p>
                </div>
            </div>

            <!-- <div class="grade-item">
                <div class="header">
                    <span class="title">
                        Exam Section Name
                    </span>
                </div>
                <div class="description">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    </p>
                </div>
            </div> -->


        </div>
        <div v-if="CourseSections != null" class="col-md-2">
            <div  v-for="(item, index) in CourseSections" :key="'course_section_'+index"  class="grade-score-item">
                <div class="header">
                    <span class="title">
                        FINAL SCORE
                    </span>
                </div>
                <div class="grade">
                    <span>{{GetCourseSectionGrade(item)}}</span>
                </div>
                <div class="text-center">
                    <button @click="PrepareModal(item.section_item)" class="btn btn-sm btn-indepth popup_indepth_section">IN-DEPTH VIEW</button>
                </div>
                
            </div>        

            <!-- <div class="grade-score-item">
                <div class="header">
                    <span class="title">
                        FINAL SCORE
                    </span>
                </div>
                <div class="grade">
                    <span>98.3</span>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-indepth">IN-DEPTH VIEW</button>
                </div>
            </div>   -->

        </div>
    </div>   
<!-- MODAL DETAIL PER SECTION-->
<div class="ag-view-section-indepth-modal ag-register-modal-container">
    <div class="container-fluid enroll-container course-detail-container">
        <div class="row student-grade-items-row">
        <div v-if="ModalDetail != null" class="col-md-10 col-items">
            <div v-for="(item, index) in ModalDetail " :key="'wor_'+index" class="grade-item">
                <div class="header">
                    <span class="title">
                       {{item.title}}
                    </span>
                </div>
                <div class="description">
                    <p>
                         {{item.description}}
                    </p>
                </div>
            </div>

        </div>
        <div v-if="ModalDetail != null" class="col-md-2">
            <div v-for="(item, index) in ModalDetail " :key="'wor2_'+index" class="grade-score-item">
                <div class="header">
                    <span class="title">
                        FINAL SCORE
                    </span>
                </div>
                <div class="grade">
                    <span>{{GetCourseSectionItemGrade(item)}}</span>
                </div>
       
            </div>  

        </div>
            
    </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>  
<!-- END MODAL -->
</div>
</template>
<script>
import {getCourseDetail, getStudentIndepthGradeResultForCourse} from '../../../../../api/teacher/exam.js'
export default {
    data(){
        return{
            CourseID:null,
            ProgressID: null,
            CourseDetail:null,
            CourseSections:null,
            ModalDetail:null,
        }
    },
    created(){
        this.ProgressID = this.$route.params.progress_id;
        this.CourseID = this.$route.params.course_id;
        this.GetExamCourseDetails();
        // this.GetCourseSections();
        this.GetIndepthGrade();
    },       
    methods:{
       GetExamCourseDetails:function(){
           this.isLoading = true;
           getCourseDetail(this.GetSessionHeaders(),this.CourseID).then((response)=> {
               if(response.status == 200){
                   this.CourseDetail = response.body.Course;
                   
               }
           }).catch((response)=>{

           }).finally(()=>{
               this.isLoading = false;
           });
       },        

       GetIndepthGrade:function(){
           getStudentIndepthGradeResultForCourse(this.GetSessionHeaders(), this.CourseID, this.ProgressID).then((response)=>{
      
                    this.CourseSections = response.body.Results;
    
           }).catch((response)=>{

           }).finally(()=>{

           })
       },
       PrepareModal:function(item){
           this.ModalDetail = item.filter((x)=>{
               return x.item_type == 1;
           });
       },
       //Helpers
       GetCourseSectionGrade(item){
            let section = item.section_item.filter((x)=>{
                return x.item_type == 2;
            });
            if(section.length ==0 ){
                return;
            }
            let course_section = section[0];
            if(course_section.Grade){
                return this.ToPercent(course_section.no_of_question, course_section.Grade.score);
            }
       },
       GetCourseSectionItemGrade(item){
            let course_section_item =item;
            if(course_section_item.Grade){
                return this.ToPercent(course_section_item.no_of_question, course_section_item.Grade.score);
            }
       }          
    }
}
</script>
<style>
.ag-view-section-indepth-modal{
    left:0;
}
.ag-view-section-indepth-modal .container-fluid{
    background-color: white !important;
    width: 80%;
    padding: 1.5em 1.5em;
    margin-top: 6%;    
}
</style>


