<template>
<div class="mt-5 pt-5">
<div v-for="(item, index) in RecentSubmissions" :key="'recent_submission_'+index">
    <div class="row">
        <div class="student-grade-row g-wid-100 mt-0">
            <div class="col-md-12 details">
                <div class="row">
                    <div class="col-md-10 offset-1">
<h2>{{item.category_title}}</h2>

                    </div>
                </div>
                <!-- <h6>GRADES AND SCORESHEET</h6> -->
                
            </div>
        </div>
    </div>
    <div class="row student-grade-items-row">
        <div  class="col-md-10 col-items offset-1">
            <div v-for="(section, index2) in item.Items" :key="'item_'+index2" class="grade-item">
                <div class="header">
                    <span class="title">
                        {{section.SectionName}}
                    </span>
                </div>
                <div class="description height_auto">
                    <table v-for="(lesson, index3) in section.Lessons" :key="'lessons_'+index3" 
                            class="notif-table">
                            <tr>
                                <td class="label">Level</td>
                                <td> {{lesson.level_title}}</td>
                                <td rowspan="3">
                                    <div  class="text-center ft-size-14 color-txt-main-1 semi-bold">{{lesson.new_count}}</div>
                                    <div  class="text-center ft-size-14 color-txt-main-1 curs-pointer semi-bold" @click.prevent="ViewGrade(lesson)">View</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Chapter</td>
                                <td> Chapter {{lesson.chapter_no}}</td>
                            </tr>
                            <tr class="breaker"> 
                                <td class="label">Lesson</td>
                                <td>{{lesson.title}}</td>
                            </tr>                                            
                    </table>
                    <!-- <p>
                
                    </p> -->
                </div>
            </div>

            <!-- <div class="grade-item">
                <div class="header">
                    <span class="title">
                        Exam Section Name
                    </span>
                </div>
                <div class="description">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                    </p>
                </div>
            </div> -->


        </div>
        <!-- <div class="col-md-2">
            <div  v-for="(item2, index2) in item.Items" :key="'item_grade_'+index2"  class="grade-score-item">
                <div v-for="(lesson, index3) in item2.Lessons" :key="'item_grade_'+index3" class="margin-top-15">
                    <div class="header">
                        <span class="title">
                            NEW  
                        </span>
                    </div>
                    <div class="grade">
                        <span>{{lesson.new_count}} </span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-sm btn-indepth" @click="ViewGrade(lesson)"> VIEW </button>
                    </div>

                </div>
            </div>        
        </div> -->
    </div>   
</div>
</div>
</template>
<script>
import {viewRecentGradeSumission} from '../../../../../api/teacher/exam.js';

export default {
    name:'NotifGrade',
    computed:{
        RecentSubmissions:function(){
            if(!this.$store.state.teacherRecentGradesSubmission){
                return [];
            }
            return this.$store.state.teacherRecentGradesSubmission;
        }        
    },
    methods:{
       ViewGrade:function(item){
            let input = {SectionItemID:item.section_item_id};
            viewRecentGradeSumission(this.GetSessionHeaders(),input);
                this.$router.push({ name: 'GradeSheets', 
                    params: { category_id : item.category_id }, 
                    query :{ 
                        section: item.category_section_id,
                        level : item.category_section_level_id,
                        chapter: item.chapter_no,
                        lesson: item.section_item_id}

             });
       }
    }
}
</script>
<style>
.ag-view-section-indepth-modal{
    left:0;
}
.ag-view-section-indepth-modal .container-fluid{
    background-color: white !important;
    width: 80%;
    padding: 1.5em 1.5em;
    margin-top: 6%;    
}
.student-grade-row .details p.notif{
    min-height: 15px;
}
.notif-table{
    margin-bottom: 28px;
    width: 100%;
}
.notif-table .label{
    width: 33%;
    font-weight: bold;
}
</style>


