<template>
<div class="row">
<div v-if="isLoading" class="loader" ></div>

<div v-else class="col-md-12 view-assign view-grade">
    <h4>View Grade</h4>
    <div v-if="CourseDetail!= null && CourseGrade != null && MemberDetail!=null && CourseGradeSchema !=null" class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Student Name</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">{{MemberDetail.fname}} {{MemberDetail.lname}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Lesson Item</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">{{SectionDetail.title}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">{{CourseDetail.category_title}}</label>
                </div>
            </div>
            <!-- <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">{{SectionDetail.description}}</label>
                </div>
            </div> -->
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Student Rank</label>
                <div class="col-sm-8">
                    <label v-if="CourseGrade != null && SectionDetail != null && CourseGrade != null" class="form-control-plaintext">
                        <!-- COMPLETED -->
                        <span  v-if="CourseGrade.status == 3">
                               {{CalculateGradeMark(ToPercent(SectionDetail.no_of_question, CourseGrade.score))}}
                        </span>
                        <!-- PENDING -->
                        <span v-if="CourseGrade.status == 2">N / A</span>
                    
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Date Answered</label>
                <div class="col-sm-8">
                    <label class="form-control-plaintext">{{ToDate(CourseGrade.date_added)}}</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <label v-if="CourseGrade != null" class="form-control-plaintext">
                        <span v-if="CourseGrade.status == 3">Completed</span>
                        <span v-if="CourseGrade.status == 2">Pending</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  mg-b3em">
            <div v-if="QuestionsDetail != null" class="form-group row">
                <div class="table-responsive">
                    <table class="table table-hover table-banks-list">
                        <thead class="thead-dark ">
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Question</th>
                            <th v-if="SectionDetail.answer_type == 1" scope="col">Choice 1</th>
                            <th v-if="SectionDetail.answer_type == 1" scope="col">Choice 2</th>
                            <th v-if="SectionDetail.answer_type == 1" scope="col">Choice 3</th>
                            <th v-if="SectionDetail.answer_type == 1" scope="col">Choice 4</th>
                            <th scope="col">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in QuestionsDetail.Questions" :key="'questions_'+index">
                            <td><b>{{ PagerNumberingStart + (index + 1)}}</b></td>
                            <td>
                                {{item.question_description}} </td>

                            <td v-if="SectionDetail.answer_type == 1"  v-for="(item2, index2) in item.choice" :key="'choices_'+index+'_'+index2">
                
                                <span v-if="(item.correct_answer) == (index2 + 1)"> <b>{{item2}} </b></span>
                                <span v-else>{{item2}}</span>
                                 <!-- {{item2}} -->
                            </td>

                            <td>
                                <!-- MCQ -->
                                <span v-if="item.question_answer_mode == 1"> 
                                    <!-- {{ item.choice[ CourseGrade.uns_answers[index]-1 ] }}
                                         {{item.selected_answer}} -->
                                            <!-- {{CourseGrade}} -->
                                            <!-- {{QuestionsDetail}} -->
                                            {{item.choice[ GetStudentAnswer(item.question_id)-1 ] }}
                                         <!-- {{GetStudentAnswer(item.question_id)}} -->
                                </span>
                                <!-- ESSaY -->
                                <span v-else>
                                  {{  CourseGrade.uns_answers[index]}}

                             
                                </span>
                                
                                    <!-- {{CourseGrade.uns_answers[index] }} -->
                            </td>

                            </tr>
                        </tbody>
                    </table>
                </div> 

                <nav class="pager_navigation" aria-label="Lists">
                    <ul class="pagination justify-content-center">
                        <!-- <li class="page-item disabled"> -->
                        <li class="page-item">
                        <a v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>

                        <li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)" :key="n">
                        <a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
                        </li>

                        <li class="page-item">
                        <a v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>                 
          
            </div>
        </div>
    </div>
    <div v-if="CourseDetail!= null && CourseGrade != null && MemberDetail!=null && SectionDetail !=null"  class="row">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Grade</label>
                <div class="col-sm-10">
                    <label class="form-control-plaintext mg-l15">
                        <!-- COMPLETED -->
                        <span v-if="CourseGrade.status == 3" class="assign-grade">{{CourseGrade.score}}</span>
                       <!-- PENDING -->
                        <input v-else-if="CourseGrade.status == 2" v-model="input.TeacherMark" type="text" class="assign-grade">
                      
                        / {{SectionDetail.no_of_question}}
                    
                    
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div v-if="CourseDetail!= null && CourseGrade != null && MemberDetail!=null"  class="row">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Result</label>
                <div class="col-sm-10">
                    <label class="form-control-plaintext mg-l15">
                        <span v-if="CourseGrade.status == 2">Pending</span>
                        <span v-else-if="CourseGrade.pass_failed == 1"> Passed</span>
                        <span v-else-if="CourseGrade.pass_failed == 2"> Failed</span>
                    </label>
                </div>
            </div>
        </div>
    </div>    
    <!-- <div class="row">
        <div class="col-md-11">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control assign-bg mg-l15"></textarea>
                </div>
            </div>
        </div>
    </div> -->
    <div   v-if="CourseGrade != null"  class="row">
        <div v-if="CourseGrade.status != null" class="assign-btn">
            <button :disabled="CourseGrade.status == 3" @click="UpdatePendingGrade()" type="button" class="btn btn-sm btn-primary btn-main-2">Save</button>
            <button @click="Cancel()" type="button" class="btn btn-sm btn-danger">Cancel</button>
        </div>
    </div>
</div>  
</div>  
</template>
<script>
import {getCourseDetail,getStudentQuestionResultForCourse, getStudentIndepthGradeResultForCourse, getGradeSchema, approvePendingExam} from '../../../../../api/teacher/exam.js'
import {getSectionItemDetail} from '../../../../../api/student/exam.js'
export default {
    name:'ViewGrade',
    data(){
        return{
            isLoading:false,
            MemberDetail:null,
            CourseID:null,
            SectionItemID:null,
            ProgressID: null,
            UserID:null,
            SectionDetail:null,
            CourseDetail:null,
            CourseGrade:null,
            CourseSections:null,
            ModalDetail:null,
            CourseGradeSchema:null,

            QuestionsDetail:null,
            TotalCount:null,
            PageLimit : 10,//def = 20
            PageOffset: 1,
            PageCount:null,    
            
            
            input:{
                TeacherMark:null,
                PassFailed:0, //0 = Failed, 1 = passed,
                StudentID:null,
                ProgressID:null,
            }
        }
    },
    computed:{
        PagerNumberingStart:function(){
            if(this.PageOffset == 1){
                return 0;
            }
            else{
                return (this.PageOffset - 1) * 10;
            }
        }
    },    
    created(){
        this.UserID = this.$route.params.user_id;
        this.ProgressID = this.$route.params.progress_id;
        this.CourseID = this.$route.params.course_id;
        this.SectionItemID = this.$route.params.section_item_id;
        this.GetSectionDetails();
        this.GetExamCourseDetails();
        this.GetIndepthGrade();
        this.GetCourseGradingSchema();
        this.GetQuestions();
    },  
    methods:{
     GetSectionDetails:function(){
         this.isLoading = true;
         getSectionItemDetail(this.GetSessionHeaders(), this.CourseID, this.SectionItemID).then((response)=> {
               if(response.status == 200){
                   this.SectionDetail = response.body.SectionItem;
              
                  
               }
           }).catch((response)=>{

           }).finally(()=>{
               this.isLoading = false;
           });
     },        
       GetExamCourseDetails:function(){
           this.isLoading = true;
           getCourseDetail(this.GetSessionHeaders(),this.CourseID).then((response)=> {
               if(response.status == 200){
                   this.CourseDetail = response.body.Course;
                   
               }
           }).catch((response)=>{

           }).finally(()=>{
               this.isLoading = false;
           });
       },        

       GetIndepthGrade:function(){
           getStudentIndepthGradeResultForCourse(this.GetSessionHeaders(), this.CourseID,this.UserID, this.ProgressID).then((response)=>{
                this.CourseGrade = response.body.Results;
                this.MemberDetail = response.body.Student;
                this.input.TeacherMark = this.CourseGrade.score;
           }).catch((response)=>{

           }).finally(()=>{

           })
       },
       GetCourseGradingSchema:function(){
            getGradeSchema(this.GetSessionHeaders(), 29).then((response)=>{
                this.CourseGradeSchema = response.body.GradeSchema;
              
            });
       },       

       GetQuestions:function(){
        getStudentQuestionResultForCourse(this.GetSessionHeaders(), this.ProgressID, this.UserID, this.PageLimit, this.PageOffset).then((response)=>{
            this.QuestionsDetail = response.body.Results;
                this.TotalCount = this.QuestionsDetail.TotalCount;
                this.PageCount = Math.ceil(this.TotalCount / this.PageLimit);            
        })
       },
        UpdatePendingGrade:function(){

            if(this.CourseGrade.status == 3){ //Completed
                return;
            }
            if(this.input.TeacherMark == null){
                this.$toasted.error("Grade should not be null");
                return;
            }

            if(parseInt(this.input.TeacherMark) > this.SectionDetail.no_of_question){
                this.$toasted.error("Grade should not be greater than the maximum score for this Exam");
                return;
            }
            if(this.input.TeacherMark >= this.SectionDetail.passing_rate){
                this.input.PassFailed = 1;
            }else{
                this.input.PassFailed = 2; //set to failed
            }

            this.input.ProgressID = this.ProgressID;
            this.input.StudentID = this.UserID;

            approvePendingExam(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("The exam was succesfully checked");
                this.GetSectionDetails();
                this.GetExamCourseDetails();
                this.GetIndepthGrade();
                this.GetCourseGradingSchema();
                this.GetQuestions();                
            }).catch((response)=>{
                this.$toasted.error("Oops. Something went wrong here");
            });

        },



       //Helpers
       CalculateGradeMark:function(input_percent){
           let trn_input= Math.trunc(input_percent);
           let mark = this.CourseGradeSchema.filter((item)=>{
               if(trn_input >= item.grade_from && trn_input <=item.grade_to){
                    return true;
               }
                return false;
           });

           return mark[0].grade_mark;

       },        
       Cancel:function(){
           this.$router.go(-1);
       },
       GetStudentAnswer(question_id){
           let idtoanswer = this.QuestionsDetail.IdtoAnswer;
           let question = idtoanswer.filter((item)=>{
               return item.id == question_id;
           })
           if(question.length > 0){
               return question[0].ans_index;
           }
           return null;
       },
        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetQuestions();
        },       
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },                 
    }    
}
</script>
<style scoped>
.view-assign.view-grade{
    margin-top: 60px;
}
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
</style>


