.tgb_input_text
{
    font-size: 16px;
    font-style: italic;
    letter-spacing: .3px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    color: #888;
    line-height: 47px;
    border-radius: 5px;
    display: block;
    width: 100%!important;
    border: 1px solid #e7e7e7;
    min-width: 100px;
}

.tgb_input_text:focus
{
    font-style: normal;
    color:black;
    border:  1px solid  #1ea69a;
}

.tgb_input_label
{
    font-size: 18px;
    line-height: 47px;
    letter-spacing: .3px;
    color:black;
}


.tabs-title {
    list-style: none;
    border-bottom: 1px solid rgba(230,230,230,.8);
    padding-bottom: 13px;
    margin-left: 0;
    margin-bottom: 40px;
    line-height: 28px;
}

.tabs-title .tab {
    display: inline-block;
    font-weight: 400;
    letter-spacing: .4px;
}

.tabs-title .tab.active {
    position: relative;
}

.tabs-title .tab:not(:last-child) {
    margin-right: 59px;
}

.tabs-content .content:not(.active)
{
    display: none;
}

.tabs-title .tab.active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -14px;
    background-color: #1ea69a;
}
.tgb_main_table
{
    white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
}
.tgb_table
{
    border: none;
 
}
.tgb_table tr
{
    border: 0;

}

.tgb_table tr td
{
    border: 0;

}
/*Modal*/
.tgb_modal
{
    display: none;
    position: fixed;
    z-index:10000;
    left: 0;
    top: 0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    overflow-y: scroll;
}
.tgb_modal .tgb_modal_inner
{
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}



/*MISC*/

.marg_bot_5
{
    margin-bottom: 5px;
}

.marg_left_5
{
    margin-left: 5px;
}

.marg_right_5
{
    margin-right: 5px;
}


.marg_top_15
{
    margin-bottom: 15px;
}

.font_weight_700
{
  font-weight: 700;
}

.tgb_hidden
{
    display: none;
}

.tgb_cursor_upl
{
    cursor: pointer;
}
.tgb_input_invalid
{
    border: 1px solid #ff6351!important;
}
.clearing
{
    clear: both;
}

.disp_none
{
    display: none;
}
.color_blck
{
    color:black;
}

.tgb_wrap_text_no_ov
{
    white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
}