div#tgb_override_profile_size
{
    width: 350px !important; 
    height: 350px !important;
}
.tgb_normal_padd_left
{
    padding-left: 20px !important;
}

.user-profile-section-content .info-left
{
    margin-right: 0 !important;
}