.add_new_element
{
 border: 1px solid #1ea69a;
 background-color: #d7dae0;
 width: 100%;
 height: 100px;
 line-height: 100px;
 text-align: center;
 border-radius: 50px 20px;
 cursor: pointer;

}
.tgb_add_section
{
    font-size: 26px;
    margin: 0 auto 0 auto;
    cursor: inherit;
}


.exam_section
{
    min-height: 150px;
    border: 2px solid #1ea69a;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
.exam_section_title
{
    height: 50px;
    line-height: 50px;
    background-color: lightgray;
    padding-left: 10px;
}
.exam_section_title h3
{
  float: left;
  width: 80%;
}
.exam_section_title h3::after
{
    clear: both;
}
.exam_section_title .controls
{
    color:black;
    float: right;
}
.exam_section_title .controls .control_action
{
    float: right;
    height: 45px;
    width: 45px;
    cursor: pointer;
}
.exam_section_title .controls .control_action:hover
{
    color: #1ea69a;
}
.exam_section_title .controls .control_action::after
{
    clear: both;
}
.exam_section_title::after
{
    clear: both;
}
.exam_section_items 
{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    padding-left: 1.2em;
    padding-bottom: 0.3em;
}
.exam_section_items li
{
    border:1px solid gray;
    margin: 0 3px 3px 3px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}

#exam_section_sortable li
{
    cursor: pointer;
}
#exam_section_sortable li:hover
{
    color:black;
}

/*Add New Section Elemet*/
.add_new_sec_btn
{
    position: relative;
}
.add_new_sec_btn .add_new_sec_element
{
    color: black;
    position: absolute;
    z-index: 5;
    font-size: 14px !important; 
    width: 140px;
    right: 5px;
    text-align: left;
    background-color: lightgray;
    display: none;
}
.add_new_sec_btn .add_new_sec_element ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.add_new_sec_btn .add_new_sec_element ul li
{
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding-left: 5px;
}
.add_new_sec_btn .add_new_sec_element ul li:hover
{
    background-color: white;
}



