.list-item.item-td
{
    display: none !important;
}

#shaon-pricing-table-plus
{
    text-align: center;
}

@media (min-width: 1281px) {
  
    .highlight plan 
    {
        width: 300px !important;
    }
    
  }
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .highlight plan 
    {
        width: 300px !important;
    }
    
}