<template>
<div class="col-md-9 main-content">

    <div class="loader" v-if="isLoading"></div>

    <div class="row header-row" v-else>
        <div class="col-md-4 aside-image">
            <img v-if="input.QuestionType == 2 &&  HasValue(input.QuestionAttachment)  " :src="this.GetImageURL() + input.QuestionAttachment">
            <div v-else class="noImg">
                <span> {{input.QuestionDescription.charAt(0)}}</span>
            </div>
        </div>
        <div class="col-md-8 main-description" >

            <!-- <h6>
                {{QuestionDatePosted}}
            </h6> -->

            <h1>
                <!-- <span v-if="!isEditing">{{input.QuestionTitle}}</span>
                 <input v-model="input.QuestionTitle" v-else :class="HasError(this.errors.QuestionTitle)" class="form-control" type="text" placeholder="Title">
                    <div v-if="this.errors.QuestionTitle.length > 0"  class="invalid-feedback">
                        {{this.errors.QuestionTitle[0].replace("QuestionTitle", "Title")}}
                    </div>                  -->
            </h1>
            <div>
                <span v-if="!isEditing">
                {{input.QuestionDescription}}
                </span>

                <textarea v-model="input.QuestionDescription" v-else :class="HasError(this.errors.QuestionDescription)" 
                class="form-control" placeholder="Question"> </textarea>
                  <div v-if="this.errors.QuestionDescription.length > 0"  class="invalid-feedback">
                        {{this.errors.QuestionDescription[0].replace("QuestionDescription", "Question")}}
                </div>    

                <!-- //SHOW AUDIO -->
                <div class="ch-aud" v-if="!isEditing && this.input.QuestionType == 3"> 
                    <audio v-if="HasValue(input.ChoiceOneAttachment)" controls controlsList="nodownload">
                        <source :src="this.GetAudioURL() + input.QuestionAttachment"  >
                    </audio>
                </div>           

                <div v-if="isEditing && (this.input.QuestionType == 2 || this.input.QuestionType == 3)" 
                class="input-group mb-12 form-control-sm curs-pointer">
                    <div v-if="!uploadFiles.QuestionMediaAttachmentUploading" class="custom-file">
                        <input @change="UploadExamMediaFile" 
                        ref="attach_file"  type="file" class="custom-file-input curs-pointer" 
                        :class="HasError(this.errors.QuestionAttachment)"
                        id="inputGroupFile00">
                        <label class="custom-file-label curs-pointer nowrap" for="inputGroupFile00">
                                {{uploadFiles.QuestionMediaAttachment}}
                        </label>
                    </div>
                    <sync-loader v-else></sync-loader>
                </div> 



            </div>
            
            <div class="controls bank-q1">
                <br>
                <button type="button" class="btn edit" @click="ToggleEdit()">{{EditButton}}</button>
                <button v-if="isEditing" type="button" class="btn delete" @click="CancelEdit()">Cancel</button>
                
                <button v-if="!isEditing" type="button" class="btn edit popup_new_question_translation">Add Translation</button>
                <button v-if="!isEditing" type="button" class="btn delete popup_are_you_sure">Delete Question</button>
            </div>
           
        </div>
    </div>

    <div class="row header-row" v-if="!isLoading">
        <div class="col-12 main-description">
            <p class="controls bank-q2">
                <button @click="$router.go(-1)" type="button" class="btn btn-sm edit questions_back">Back</button>
            </p>
            <!-- SHOW ONLY FOR MCQ TYPE OF QUESTION -->
            <div v-if="input.AnswerMode == 1" class="choices-preview">
                <h4>
                    <span>Choices</span>
                    <!-- <span class="menu-icon fa fa-trash-alt icons"></span> -->
                    <span class="menu-icon fa fa-pencil-alt icons curs-pointer" @click="isChoiceEditing = !isChoiceEditing"></span>
                </h4>
                <ul>
                    <li :class="{'right-answer' : this.input.CorrectAnswer == 1}">
                        <div class="row">
                            <div :class="{'col-sm-11': !isChoiceEditing && (input.QuestionType == 1 ) , 
                                        'col-sm-10' : (!isChoiceEditing && (input.QuestionType == 2 )) ,
                                        'col-sm-6' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                        }
                                        ">                              
                                <div class="row">
                                    <span 
                                    :class="{'col-sm-3' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-4' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }"
                                    class="ques-choice"> Choice One </span>
                                    <span v-if="!isChoiceEditing" 
                                    :class="{'col-sm-9' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-8' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }">{{this.input.ChoiceOne}}</span>
                                    <span v-else class="col-sm-12">
                                        <input v-model="input.ChoiceOne" :class="HasError(this.errors.ChoiceOne)"  type="text" class="form-control form-control-sm">
                                        <div v-if="this.errors.ChoiceOne.length > 0"  class="invalid-feedback">
                                            {{this.errors.ChoiceOne[0].replace("ChoiceOne", "Answer 1")}}
                                        </div>                                     
                                    </span>
                                </div>
                            </div>
                            <div v-if="!isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )"  
                            :class="{'col-sm-2' : (!isChoiceEditing && input.QuestionType == 2),
                            'col-sm-5' : (!isChoiceEditing && input.QuestionType == 3)  }">
                                <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceOneAttachment)" class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceOneAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceOneAttachment)" controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceOneAttachment"  >
                                    </audio>
                                </div> 
                            </div>

                            <div v-else-if="isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )" 
                            class="col-sm-6">
                                <!-- <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceOneAttachment" >
                                </div> -->
                                <!-- <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceOneAttachment)" controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceOneAttachment"  >
                                    </audio>
                                </div>  -->
                                <!-- UPLOADER -->
                                <div v-if="this.input.QuestionType == 2 || this.input.QuestionType == 3" 
                                class="input-group mb-12 form-control-sm curs-pointer margin-top-12">
                                    <div v-if="!uploadFiles.QuestionChoiceOneUploading" class="custom-file">
                                        <input @change="UploadChoiceOneMediaFile" 
                                        ref="c1_attach_file"  type="file" class="custom-file-input curs-pointer" 
                                        :class="HasError(this.errors.ChoiceOneAttachment)"
                                        id="inputGroupFile01">
                                        <label class="custom-file-label curs-pointer nowrap" for="inputGroupFile04">
                                                {{uploadFiles.QuestionChoiceOneAttachment}}
                                        </label>
                                    </div>
                                    <sync-loader v-else></sync-loader>
                                </div> 

                            </div>                            
                        </div>                          
                    </li>
                    <li :class="{'right-answer' : this.input.CorrectAnswer == 2}">
                        <div class="row">
                            <div :class="{'col-sm-11': !isChoiceEditing && (input.QuestionType == 1 ) , 
                                        'col-sm-10' : (!isChoiceEditing && (input.QuestionType == 2 )) ,
                                        'col-sm-6' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                        }
                                        ">                            
                                <div class="row">
                                    <span 
                                    :class="{'col-sm-3' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-4' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }"
                                    class="ques-choice"> Choice Two </span>
                                     <span v-if="!isChoiceEditing" 
                                    :class="{'col-sm-9' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-8' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }">{{this.input.ChoiceTwo}}</span>
                                    <span v-else  class="col-sm-12">
                                        <input v-model="input.ChoiceTwo" :class="HasError(this.errors.ChoiceTwo)" type="text" 
                                        class="form-control form-control-sm">
                                        <div v-if="this.errors.ChoiceTwo.length > 0"  class="invalid-feedback">
                                            {{this.errors.ChoiceTwo[0].replace("ChoiceTwo", "Answer 2")}}
                                        </div>                                  
                                    </span>                                     
                                </div>
                               
                            </div>
                            <div v-if="!isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )"  
                            :class="{'col-sm-2' : (!isChoiceEditing && input.QuestionType == 2),
                            'col-sm-5' : (!isChoiceEditing && input.QuestionType == 3)  }">
                                <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceTwoAttachment)" class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceTwoAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceTwoAttachment)" controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceTwoAttachment"  >
                                    </audio>
                                </div> 
                            </div>
                            <div v-else-if="isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )" 
                            class="col-sm-6">
                                <!-- <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceTwoAttachment)" class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceTwoAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceTwoAttachment)" controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceTwoAttachment"  >
                                    </audio>
                                </div>  -->

                                <!-- UPLOADER -->
                                <div v-if="this.input.QuestionType == 2 || this.input.QuestionType == 3" 
                                class="input-group mb-12 form-control-sm curs-pointer margin-top-12">

                                    <div v-if="!uploadFiles.QuestionChoiceTwoUploading" class="custom-file">
                                        <input @change="UploadChoiceTwoMediaFile" 
                                        ref="c2_attach_file"  type="file" class="custom-file-input curs-pointer" 
                                        :class="HasError(this.errors.ChoiceTwoAttachment)"
                                        id="inputGroupFile02">
                                        <label class="custom-file-label curs-pointer nowrap" for="inputGroupFile02">
                                                {{uploadFiles.QuestionChoiceTwoAttachment}}
                                        </label>
                                    </div>
                                    <sync-loader v-else></sync-loader>
                                </div>
                            </div>
                        </div>                 
                    </li>     
                    <li :class="{'right-answer' : this.input.CorrectAnswer == 3}">
                        <div class="row">
                            <div :class="{'col-sm-11': !isChoiceEditing && (input.QuestionType == 1 ) , 
                            'col-sm-10' : (!isChoiceEditing && (input.QuestionType == 2 )) ,
                            'col-sm-6' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                            }
                            ">
                                <div class="row">
                                    <span 
                                    :class="{'col-sm-3' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-4' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }"
                                    class="ques-choice"> Choice Three </span>

                                    <span v-if="!isChoiceEditing" 
                                    :class="{'col-sm-9' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-8' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }">{{this.input.ChoiceThree}}</span>
                                    <span v-else class="col-sm-12">
                                        <input v-model="input.ChoiceThree" :class="HasError(this.errors.ChoiceThree)" type="text" class="form-control form-control-sm">
                                        <div v-if="this.errors.ChoiceThree.length > 0"  class="invalid-feedback">
                                            {{this.errors.ChoiceThree[0].replace("ChoiceThree", "Answer 3")}}
                                        </div>                                     
                                    </span>  

                                </div>
                                    
                            </div>
                            <div v-if="!isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )"  
                            :class="{'col-sm-2' : (!isChoiceEditing && input.QuestionType == 2),
                            'col-sm-5' : (!isChoiceEditing && input.QuestionType == 3)  }">
                                <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceThreeAttachment)" class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceThreeAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceThreeAttachment)"  controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceThreeAttachment"  >
                                    </audio>
                                </div>                                 
                            </div>
                            <div v-else-if="isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )" 
                            class="col-sm-6">
                                <!-- <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceThreeAttachment)" class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceThreeAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceThreeAttachment)"  controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceThreeAttachment"  >
                                    </audio>
                                </div>  -->

                                <!-- UPLOADER -->
                                <div v-if="this.input.QuestionType == 2 || this.input.QuestionType == 3" 
                                class="input-group mb-12 form-control-sm curs-pointer margin-top-12">

                                    <div v-if="!uploadFiles.QuestionChoiceThreeUploading" class="custom-file">
                                        <input @change="UploadChoiceThreeMediaFile" 
                                        ref="c3_attach_file"  type="file" class="custom-file-input curs-pointer" 
                                        :class="HasError(this.errors.ChoiceThreeAttachment)"
                                        id="inputGroupFile03">
                                        <label class="custom-file-label curs-pointer nowrap" for="inputGroupFile03">
                                                {{uploadFiles.QuestionChoiceThreeAttachment}}
                                        </label>
                                    </div>
                                    <sync-loader v-else></sync-loader>
                                </div>

                            </div>
                        </div>                       
                    </li>      
                    <li :class="{'right-answer' : this.input.CorrectAnswer == 4}">
                        <div class="row">
                            <div :class="{'col-sm-11': !isChoiceEditing && (input.QuestionType == 1 ) , 
                            'col-sm-10' : (!isChoiceEditing && (input.QuestionType == 2 )) ,
                            'col-sm-6' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                             }
                            ">
                                <div class="row">
                                    <span 
                                    :class="{'col-sm-3' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-4' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }"
                                    class="ques-choice"> Choice Four </span>
                                    <span v-if="!isChoiceEditing" 
                                    :class="{'col-sm-9' : (!isChoiceEditing && (input.QuestionType == 2 )),
                                        'col-sm-8' : (!isChoiceEditing && (input.QuestionType != 2 ) || isChoiceEditing) 
                                    }"
                                    >{{this.input.ChoiceFour}}</span>
                                    <span v-else class="col-sm-12">
                                        <input v-model="input.ChoiceFour" :class="HasError(this.errors.ChoiceFour)" type="text" class="form-control form-control-sm">
                                        <div v-if="this.errors.ChoiceFour.length > 0"  class="invalid-feedback">
                                            {{this.errors.ChoiceFour[0].replace("ChoiceFour", "Answer 4")}}
                                        </div>                                      
                                    </span>   
                                </div>
                                
                            </div>
                            <div v-if="!isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )"   
                            :class="{'col-sm-2' : (!isChoiceEditing && input.QuestionType == 2),
                                    'col-sm-5' : (!isChoiceEditing && input.QuestionType == 3)  }"
                            >
                                <div class="ch-img" v-if="this.input.QuestionType == 2"> 
                                    <img v-if="HasValue(input.ChoiceFourAttachment)"  class="edit_question_preview" :src="this.GetImageURL() + input.ChoiceFourAttachment" >
                                </div>
                                <div class="ch-aud" v-if="this.input.QuestionType == 3"> 
                                    <audio v-if="HasValue(input.ChoiceFourAttachment)" controls controlsList="nodownload">
                                         <source :src="this.GetAudioURL() + input.ChoiceFourAttachment"  >
                                    </audio>
                                </div>                            
                            </div>
                            <div v-else-if="isChoiceEditing && (input.QuestionType == 2 || input.QuestionType == 3 )"
                             class="col-sm-6">
                                <div v-if="this.input.QuestionType == 2 || this.input.QuestionType == 3" 
                                class="input-group mb-12 form-control-sm curs-pointer margin-top-12">

                                    <div v-if="!uploadFiles.QuestionChoiceFourUploading" class="custom-file">
                                        <input @change="UploadChoiceFourMediaFile" 
                                        ref="c4_attach_file"  type="file" class="custom-file-input curs-pointer" 
                                        :class="HasError(this.errors.ChoiceFourAttachment)"
                                        id="inputGroupFile04">
                                        <label class="custom-file-label curs-pointer nowrap" for="inputGroupFile04">
                                                {{uploadFiles.QuestionChoiceFourAttachment}}
                                        </label>
                                    </div>
                                    <sync-loader v-else></sync-loader>
                                </div>                                

                            </div>
                        </div>            
                    </li>                              

                </ul>
                <div v-if="isChoiceEditing" class="margin-top-15 text-right">
                    <button type="button" class="btn edit btn-main-2 btn-sm btn-primary" @click="EditQuestion()">Save</button> 
                    <button type="button" class="btn delete btn-sm btn-danger" @click="CancelChoiceEditing()">Cancel</button>
                </div>
            </div>    
        </div>
    </div>


    <div v-if="!isLoading" class="row control-row">
        <ul>
            <li>Translations</li>
        </ul>
        <div class="clearing"></div>
    </div>

    <div v-if="!isLoading" class="row">

        <table class="table table-hover table-banks-list">
            <thead class="thead-dark">
            </thead>
            <tbody>
                <tr v-for="(item,index) in Translations" :key="'translations_' + index">
                    <td colspan="4">
                        <div class="choices-table">
                            <h4>
                                <span>Language : {{item.language}}</span>
                                <span @click="PrepareDeleteTranslation(item.id)" class="menu-icon fa fa-trash-alt icons curs-pointer popup_are_you_sure_two"></span>
                                <span @click="PrepareEditingTranslation(item)" class="menu-icon fa fa-pencil-alt icons curs-pointer popup_edit_question_translation"></span>
                            </h4>
                            <ul>
                                <li>
                                    {{item.trans_question_description}} 
                                </li>


                                <li v-if="input.AnswerMode == 1" :class="{'right-answer' : input.CorrectAnswer == 1}">
                                    <span class="ques-choice"><strong> Choice One </strong></span> {{item.choices[0]}}
                                                        
                                </li >
                                <li v-if="input.AnswerMode == 1" :class="{'right-answer' :input.CorrectAnswer == 2}">
                                    <span class="ques-choice"><strong> Choice Two </strong></span>   {{item.choices[1]}}                 
                                </li>     
                                <li v-if="input.AnswerMode == 1" :class="{'right-answer' : input.CorrectAnswer == 3}">
                                    <span class="ques-choice2"><strong> Choice Three </strong></span>  {{item.choices[2]}}</li>      
                                <li v-if="input.AnswerMode == 1" :class="{'right-answer' : input.CorrectAnswer == 4}">
                                    <span class="ques-choice3"><strong> Choice Four </strong></span>  {{item.choices[3]}}
                                </li>
                                
                                                              
                            </ul>

                            <!-- <div class="margin-top-15 text-right buttons">
                                <button type="button" class="btn edit btn-main-2 btn-sm btn-primary">Save</button> 
                                <button type="button" class="btn delete btn-sm btn-danger">Cancel</button>
                            </div> -->
                        </div> 
                    </td>
                </tr>
            </tbody>            
        </table> 
    </div>
    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteDialog"></are-you-sure>
    <are-you-sure-two :Message="DeleteTransDialogMessage" :handle-action="DeleteTranslation"></are-you-sure-two>
    <add-translation  v-if="addNewTransReady" v-bind:PropQuestionID="this.input.QuestionID" v-bind:PropAnswerMode="this.input.AnswerMode" v-bind:MainQuestionDetail="this.input"></add-translation>
    <edit-translation v-if="editTransReady" v-bind:PropQuestionID="this.input.QuestionID" 
    v-bind:PropAnswerMode="this.input.AnswerMode" v-bind:MainQuestionDetail="this.input" 
    v-bind:TranslationDetail="this.TranslationDetail"
    v-bind:handleCancel="this.CancelPreparingEditingTranslation"></edit-translation>
</div>   
    
</template>


<script>
import AreYouSure from '../../../subcomponents/modal/AreYouSureModal'
import AreYouSureTwo from '../../../subcomponents/modal/AreYouSureModalTwo'
import {updateQuestion, getQuestionDetail,getQuestAvailableTranslation, deleteQuestion, deleteTranslatedQuestion} from '../../../../api/teacher/question_bank.js'
import {uploadFile} from '../../../../api/common/file_upload.js'
import AddTranslation from './subcomponents/AddTranslationModal.vue'
import EditTranslation from './subcomponents/EditTranslationModal.vue'
import {bus} from '../../../../main.js'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
export default {
    name:"EditQuestion",
    components:{AreYouSure,AreYouSureTwo, AddTranslation, EditTranslation, SyncLoader},
    data(){
        return{
            isLoading:true,
            isInitialLoad:true,
            isEditing:false,
            isChoiceEditing:false,
            EditButton:null,
            editTexts:{
                normal : 'Edit Question',
                save : 'Save Changes'
            },            
            isSubmitted : false,
            isSucceed : false,
            QuestionDatePosted:null,
            DeleteDialogMessage:"Are you sure you want to delete this question?",
            Translations:[],
            ToDeleteTranslationID:null,
            TranslationDetail:null,
            DeleteTransDialogMessage:"Are you sure you want to delete this translation?",
            addNewTransReady:false,
            editTransReady:false,
            input:{
                QuestionBankID:null,
                QuestionID:null,
                QuestionType:1,
                AnswerMode:1,
                QuestionTitle:null,
                QuestionDescription:null,
                QuestionAttachment:null, //not yet implemetned TODO
                ChoiceOne:null,
                ChoiceTwo:null,
                ChoiceThree:null,
                ChoiceFour:null,
                CorrectAnswer:null,
                ChoiceOneAttachment:null,
                ChoiceTwoAttachment:null,
                ChoiceThreeAttachment:null,
                ChoiceFourAttachment:null,
                
            },
            errors:{
                QuestionID:[],
                QuestionType:[],
                AnswerMode:[],
                QuestionTitle:[],
                QuestionDescription:[],
                QuestionAttachment:[], //not yet implemetned TODO
                ChoiceOne:[],
                ChoiceTwo:[],
                ChoiceThree:[],
                ChoiceFour:[],
                CorrectAnswer:[],
                ChoiceOneAttachment:[],
                ChoiceTwoAttachment:[],
                ChoiceThreeAttachment:[],
                ChoiceFourAttachment:[],
            },
            uploadFiles:{
                QuestionMediaAttachmentUploading:false,
                QuestionMediaAttachment:"Choose file",
                QuestionChoiceOneUploading:false,
                QuestionChoiceOneAttachment:"Choose file",
                QuestionChoiceTwoUploading:false,
                QuestionChoiceTwoAttachment:"Choose file",
                QuestionChoiceThreeUploading:false,
                QuestionChoiceThreeAttachment:"Choose file",
                QuestionChoiceFourUploading:false,
                QuestionChoiceFourAttachment:"Choose file",
            }            
        }
    },
    beforeRouteUpdate(to,from, next){
        let question_id = to.params.question_id;
        this.input.QuestionID = question_id;
        this.EditButton = this.editTexts.normal;
        this.GetQuestionDetails(question_id);
        next();
    },
    created(){
        let question_id = this.$route.params.question_id;
        this.input.QuestionID = question_id;
        this.GetQuestionDetails(question_id);
        this.GetQuestionTranslations();
        this.EditButton = this.editTexts.normal;
        bus.$on("reloadQuestTranslation",()=>{
            this.GetQuestionTranslations();
        });

    }, 
    mounted(){
        let question_id = this.$route.params.question_id;
        this.input.QuestionID = question_id;       
    }  ,
    methods:{
        GetQuestionDetails:function(){
            this.isLoading = true;
            getQuestionDetail(this.GetSessionHeaders(),this.input.QuestionID).then((response)=>{
                if(response.status == 200){
                    this.input.QuestionTitle = response.body.Question.question_title;
                    this.input.QuestionDescription = response.body.Question.question_description;
                    this.input.AnswerMode = response.body.Question.question_answer_mode;
                    this.input.QuestionType = response.body.Question.question_type_id;
                    this.QuestionDatePosted = response.body.Question.date_added; 
                    this.input.ChoiceOne =  response.body.Question.choices[0];
                    this.input.ChoiceTwo =  response.body.Question.choices[1];
                    this.input.ChoiceThree =  response.body.Question.choices[2];
                    this.input.ChoiceFour =  response.body.Question.choices[3];
                    this.input.CorrectAnswer = response.body.Question.correct_answer;
                    this.input.QuestionAttachment = response.body.Question.question_attachment;
                    this.input.QuestionBankID = response.body.Question.question_bank_id
                    if(this.input.QuestionType == 2 || this.input.QuestionType == 3){
                         this.uploadFiles.QuestionMediaAttachment = this.input.QuestionAttachment;


                        this.input.ChoiceOneAttachment =  response.body.Question.choices_attachments[0];      
                        this.uploadFiles.QuestionChoiceOneAttachment = this.input.ChoiceOneAttachment;

                        this.input.ChoiceTwoAttachment =  response.body.Question.choices_attachments[1];
                        this.uploadFiles.QuestionChoiceTwoAttachment = this.input.ChoiceTwoAttachment;

                        this.input.ChoiceThreeAttachment =  response.body.Question.choices_attachments[2];
                        this.input.ChoiceThreeAttachment =  response.body.Question.choices_attachments[2];
                        this.uploadFiles.QuestionChoiceThreeAttachment = this.input.ChoiceThreeAttachment;

                        this.input.ChoiceFourAttachment =  response.body.Question.choices_attachments[3]; 
                        this.uploadFiles.QuestionChoiceFourAttachment = this.input.ChoiceFourAttachment;
                    }
                    this.addNewTransReady = true;
                }
            }).catch((response)=>{

            }).finally(()=>{
                this.isLoading = false;
            });
        },
        EditQuestion:function(){
            this.isSubmitted = true;
            this.isInitialLoad = false;
            updateQuestion(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSucceed = true;
                this.$toasted.success("Successfully Updated!");
                this.isEditing = false;
                this.isChoiceEditing = false;
                this.EditButton = this.editTexts.normal;
            }).catch((response)=>{
              try{
                  if(response.body.Errors.BankID){
                      this.errors.BankID = response.body.Errors.BankID;
                      this.$toasted.show(this.errors.BankID[0]);
                      return;
                  }
                  if(response.body.Errors.QuestionType){
                      this.errors.QuestionType = response.body.Errors.QuestionType;
                  }else{
                       this.errors.QuestionType = [];
                  }

                  if(response.body.Errors.AnswerMode){
                      this.errors.AnswerMode = response.body.Errors.AnswerMode;
                  }else{
                       this.errors.AnswerMode = [];
                  }

                  if(response.body.Errors.QuestionTitle){
                      this.errors.QuestionTitle = response.body.Errors.QuestionTitle;
                  }else{
                       this.errors.QuestionTitle = [];
                  }
                  
                  if(response.body.Errors.QuestionDescription){
                      this.errors.QuestionDescription = response.body.Errors.QuestionDescription;
                  }else{
                       this.errors.QuestionDescription = [];
                  }
                  
                  if(response.body.Errors.AnswerMode){
                      this.errors.AnswerMode = response.body.Errors.AnswerMode;
                  }else{
                       this.errors.AnswerMode = [];
                  } 
                  
                  if(response.body.Errors.ChoiceOne){
                      this.errors.ChoiceOne = response.body.Errors.ChoiceOne;
                  }else{
                       this.errors.ChoiceOne = [];
                  }           
                  
                  if(response.body.Errors.ChoiceTwo){
                      this.errors.ChoiceTwo = response.body.Errors.ChoiceTwo;
                  }else{
                       this.errors.ChoiceTwo = [];
                  }    
                  
                  if(response.body.Errors.ChoiceThree){
                      this.errors.ChoiceThree = response.body.Errors.ChoiceThree;
                  }else{
                       this.errors.ChoiceThree = [];
                  }      
                  
                  if(response.body.Errors.ChoiceFour){
                      this.errors.ChoiceFour = response.body.Errors.ChoiceFour;
                  }else{
                       this.errors.ChoiceFour = [];
                  }    

                  if(response.body.Errors.CorrectAnswer){
                      this.errors.CorrectAnswer = response.body.Errors.CorrectAnswer;
                  }else{
                       this.errors.CorrectAnswer = [];
                  }    
 

              }catch(e){
                 this.$toasted.show('Ooops. Something went wrong at our end.');
              }
            }).finally(()=>{
                this.isSubmitted = false;
            })            
        },
        ToggleEdit:function(){
            if(!this.isEditing){
                this.isEditing = true;
                this.EditButton = this.editTexts.save;
            }
            else{
                this.EditQuestion();
            }
        },
       CancelEdit:function(){
            this.isEditing = false;
            this.EditButton = this.editTexts.normal;
             this.GetQuestionDetails();
       },        
       CancelChoiceEditing:function(){
            this.GetQuestionDetails();
            this.isChoiceEditing = false;
            this.errors.ChoiceOne = [];
            this.errors.ChoiceTwo = [];
            this.errors.ChoiceThree = [];
            this.errors.ChoiceFour = [];
       },
        GetQuestionTranslations:function(){
            getQuestAvailableTranslation(this.GetSessionHeaders(), this.input.QuestionID).then((response)=>{
                this.Translations = response.body.Translation;
            }).catch((response)=>{});
        },
        DeleteDialog:function(){
            deleteQuestion(this.GetSessionHeaders(), this.input.QuestionID).then((response)=>{
                this.$router.push({ name: 'QuestionBankEdit', params:{ bank_id : this.input.QuestionBankID} });
            }).catch((response)=>{

            });
        },
        PrepareDeleteTranslation(country_id){
            this.ToDeleteTranslationID = country_id;
        },
        DeleteTranslation:function(){
            deleteTranslatedQuestion(this.GetSessionHeaders(),this.input.QuestionID, this.ToDeleteTranslationID).then((response)=>{
                this.GetQuestionTranslations();
            }).catch((response)=>{

            });
        },
        CancelPreparingEditingTranslation:function(){
            this.editTransReady = false;
        },
        PrepareEditingTranslation:function(translation_item){
            this.editTransReady = false;
            this.TranslationDetail = translation_item;
            this.editTransReady = true;
            
        },  

        //Uploads
    UploadExamMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionMediaAttachment = media_file.name;
            this.uploadFiles.QuestionMediaAttachmentUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.QuestionAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.uploadFiles.QuestionMediaAttachmentUploading = false;
            });

        },        
        UploadChoiceOneMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c1_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            //if same file do not process
            if(this.uploadFiles.QuestionChoiceOneAttachment == media_file.name){
                return;
            }
            
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceOneAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceOneUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceOneAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceOneUploading = false;
            });
        },
      UploadChoiceTwoMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c2_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceTwoAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceTwoAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceTwoUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceTwoAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceTwoUploading = false;
            });
        },
        UploadChoiceThreeMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c3_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceThreeAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceThreeAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceThreeUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceThreeAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceThreeUploading = false;
            });
        },
        UploadChoiceFourMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c4_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceFourAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceFourAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceFourUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceFourAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceFourUploading = false;
            });
        },

    }
}
</script>

<style scoped>

.choices-preview h4{
    margin-left: 25px;
}
.choices-preview ul {
    list-style: none;
    padding: 0;
}
.choices-preview ul li{
    max-height: 195px;
    padding-left: 25px;
    border-bottom: 2px solid #e6e6e6;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: left;
}
.choices-preview ul li img.edit_question_preview{
    width: 85%;
}

.table-banks-list{
    font-size:13px;
    border: 1px solid #ddd;
}
.table-banks-list td, .table-banks-list th {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
} 
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
</style>

