<template>
<div class="col-md-9 main-content">
    <div class="row header-row">
        <div class="col-md-10 main-description offset-1" >

            <div v-if="isSucceed" class="alert agora-new-alert" role="alert">
                <!-- <h5 class="alert-heading"><b>QUESTION : </b> {{input.QuestionTitle}} was successfully added!</h5> -->
                <h5 class="alert-heading">Question was successfully added!</h5>
                <p class="mb-0 float-l new-quest-desc-complete">{{input.QuestionDescription}}
                </p>
                <p v-if="this.input.AnswerMode == 1" class="mb-0 float-r new-quest-ans-complete">
                    <table class="table-ul3">
                        <tr>
                            <td class="title nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 1}">A :</td>
                            <td class="nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 1}">{{input.ChoiceOne}} </td>
                            <td class="title nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 3}">C :</td>
                            <td class="nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 3}">{{input.ChoiceThree}} </td>
                        </tr>
                        <tr>
                            <td class="title nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 2}">B :</td>
                            <td class="nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 2}">{{input.ChoiceTwo}}</td>
                            <td class="title nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 4}">D :</td>
                            <td class="nowrap" :class="{'semi-bold' : this.input.CorrectAnswer == 4}">{{input.ChoiceFour}} </td>
                        </tr>
                    </table>
                    <!-- <span :class="{'semi-bold' : this.input.CorrectAnswer == 1}"> A : {{input.ChoiceOne}} </span>
                    <span :class="{'semi-bold' : this.input.CorrectAnswer == 2}"> B : {{input.ChoiceTwo}} </span>
                    <span :class="{'semi-bold' : this.input.CorrectAnswer == 3}"> C : {{input.ChoiceThree}} </span>
                    <span :class="{'semi-bold' : this.input.CorrectAnswer == 4}"> D : {{input.ChoiceFour}} </span> -->
                </p>      
                <div class="clearing"></div>          
                <p class="text-right">
                    <button @click="GoToQuestionBankPage()" class="btn btn-sm modal-close success-btn">Go to Question Bank Page</button>
                    <button @click="CreateNewQuestion()" class="btn btn-sm modal-close success-btn">Add New Question to this Bank</button>
                </p>
            </div>        

            <form v-else @submit="SubmitNewQuestion">
                <h1>New Question</h1>
                <h6>Question Bank : {{QuestionBankTitle}}</h6>
                <br>

                <div class="form-group row">
                    <!-- <label for="answerType" class="col-sm-3 col-form-label">Question Answer Type</label> -->
                    <div class="col-sm-12">
                        <select v-model="input.AnswerMode" :class="HasError(this.errors.AnswerMode)" class="form-control" id="answerType">
                            <option value="0">Format Type</option>
                            <option value="1">Multiple Choice</option>
                            <option value="2">Essay</option>
                        </select>    
                        <div v-if="this.errors.AnswerMode.length > 0"  class="invalid-feedback">
                            {{this.errors.AnswerMode[0].replace("AnswerMode", "Format Type").replace("must be positive", "must not be empty")}}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.QuestionType" :class="HasError(this.errors.QuestionType)" class="form-control" id="questionType">
                            <option value="0">Question Type</option>
                            <option value="1">Text</option>
                            <option value="2">Image</option>
                            <option value="3">Audio</option>
                        </select>    
                        <div v-if="this.errors.QuestionType.length > 0" class="invalid-feedback">
                            {{this.errors.QuestionType[0].replace("QuestionType", "Question Type")}}
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.QuestionTitle" :class="HasError(this.errors.QuestionTitle)" type="text" class="form-control" id="bankTitle" placeholder="Title" >
                    <div v-if="this.errors.QuestionTitle.length > 0" class="invalid-feedback">
                        {{this.errors.QuestionTitle[0].replace("QuestionTitle", "Title")}}
                    </div>
                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.QuestionDescription" :class="HasError(this.errors.QuestionDescription)" class="form-control" id="question_description"  rows="5" placeholder="Question">
                    </textarea>
                    <div v-if="this.errors.QuestionDescription.length > 0" class="invalid-feedback">
                        {{this.errors.QuestionDescription[0].replace("QuestionDescription", "Question")}}
                    </div>

                    </div>
                </div>

                <!--Question Attachments-->
                <div class="form-group row">
                    <label v-if="input.QuestionType != 1" for="inputGroupFile00" class="col-sm-2 col-form-label">Media</label>
                    <div v-if="input.QuestionType != 1" class="col-sm-10" > <!--Show when for  with files-->
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input ref="attach_file" @change="UploadExamMediaFile" :class="HasError(this.errors.QuestionAttachment)"  type="file" class="custom-file-input" id="inputGroupFile00">
                            <label class="custom-file-label nowrap" for="inputGroupFile00">{{uploadFiles.QuestionMediaAttachment}}</label>
                        </div>
                        <div @click="RemoveUpload(0)" class="input-group-append">
                            <span class="input-group-text curs-pointer" id="" >
                                <span  v-if="!uploadFiles.QuestionMediaAttachmentUploading">
                                    Remove
                                </span>
                                <sync-loader v-else></sync-loader>
                            </span>
                        </div>
                        </div>
                    <div v-if="this.errors.QuestionAttachment.length > 0"  class="invalid-feedback">
                        {{this.errors.QuestionAttachment[0]}}
                    </div>
                    </div> 
                </div>               

                <!--Choice One-->
                <div v-if="input.AnswerMode == 1" class="form-group row new-ques-1">
                    <!-- <label for="question_choice1" class="col-sm-2 col-form-label">Choice 1</label> -->
                    <div class="col-sm-12 new-ques-2">
                        <textarea v-model="input.ChoiceOne" :class="HasError(this.errors.ChoiceOne)" class="form-control" id="question_choice1"  rows="3" placeholder="Choice 1">
                        </textarea>
                        <div v-if="this.errors.ChoiceOne.length > 0"  class="invalid-feedback">
                            {{this.errors.ChoiceOne[0].replace("ChoiceOne", "Answer 1")}}
                        </div>
                    </div>
                    <label v-if="input.QuestionType != 1" for="inputGroupFile01" class="col-sm-2 col-form-label">Attachment</label>
                    <div v-if="input.QuestionType != 1" class="col-sm-10" > <!--Show when for  with files-->
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input @change="UploadChoiceOneMediaFile" ref="c1_attach_file" :class="HasError(this.errors.QuestionChoiceOneAttachment)" type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label nowrap" for="inputGroupFile01">{{uploadFiles.QuestionChoiceOneAttachment}}</label>
                        </div>
                        <div @click="RemoveUpload(1)" class="input-group-append">
                            <span class="input-group-text curs-pointer">
                                <span v-if="!uploadFiles.QuestionChoiceOneUploading">
                                    Remove
                                </span>
                                <sync-loader v-else></sync-loader>
                            </span>
                        </div>
                        </div>
                        <div class="invalid-feedback">
                            {{this.errors.ChoiceOne}}
                        </div>
                    </div>                    
                </div>


                <!--Choice Two-->
                <div v-if="input.AnswerMode == 1" class="form-group row new-ques-1">
                    <!-- <label for="question_choice2" class="col-sm-2 col-form-label">Choice 2</label> -->
                    <div class="col-sm-12 new-ques-2">
                        <textarea v-model="input.ChoiceTwo" :class="HasError(this.errors.ChoiceTwo)" class="form-control" id="question_choice2"  rows="3" placeholder="Choice 2">
                        </textarea>
                        <div v-if="this.errors.ChoiceTwo.length > 0" class="invalid-feedback">
                            {{this.errors.ChoiceTwo[0].replace("ChoiceTwo", "Answer 2")}}
                        </div>
                    </div>

                    <label v-if="input.QuestionType != 1" for="inputGroupFile02" class="col-sm-2 col-form-label">Attachment</label>
                    <div v-if="input.QuestionType != 1" class="col-sm-10" > <!--Show when for  with files-->
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input @change="UploadChoiceTwoMediaFile" ref="c2_attach_file" type="file" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label nowrap" for="inputGroupFile02">{{uploadFiles.QuestionChoiceTwoAttachment}}</label>
                        </div>
                        <div @click="RemoveUpload(2)" class="input-group-append">
                            <span  class="input-group-text curs-pointer">
                                <span v-if="!uploadFiles.QuestionChoiceTwoUploading">
                                    Remove
                                </span>
                                <sync-loader v-else></sync-loader>
                            </span>
                        </div>
                        </div>
                    <div class="invalid-feedback">
                        {{this.errors.ChoiceTwo}}
                    </div>
                    </div>                    
                </div>

                <!--Choice Three-->
                <div v-if="input.AnswerMode == 1" class="form-group row new-ques-1">
                    <!-- <label for="question_choice3" class="col-sm-2 col-form-label">Choice 3</label> -->
                    <div class="col-sm-12 new-ques-2">
                    <textarea v-model="input.ChoiceThree" :class="HasError(this.errors.ChoiceThree)" class="form-control" id="question_choice3"  rows="3" placeholder="Choice 3">
                    </textarea>
                    <div v-if="this.errors.ChoiceThree.length > 0" class="invalid-feedback">
                        {{this.errors.ChoiceThree[0].replace("ChoiceThree", "Answer 3")}}
                    </div>
                    </div>

                    <label v-if="input.QuestionType != 1" for="inputGroupFile03" class="col-sm-2 col-form-label">Attachment</label>
                    <div v-if="input.QuestionType != 1" class="col-sm-10" > <!--Show when for  with files-->
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input @change="UploadChoiceThreeMediaFile" ref="c3_attach_file"  type="file" class="custom-file-input" id="inputGroupFile03">
                            <label class="custom-file-label nowrap" for="inputGroupFile03">{{uploadFiles.QuestionChoiceThreeAttachment}}</label>
                        </div>
                        <div @click="RemoveUpload(3)"  class="input-group-append">
                            <span class="input-group-text curs-pointer">
                                <span v-if="!uploadFiles.QuestionChoiceThreeUploading">
                                    Remove
                                </span>
                                <sync-loader v-else></sync-loader>
                            </span>
                        </div>
                        </div>
                    <div class="invalid-feedback">
                        {{this.errors.ChoiceThree}}
                    </div>
                    </div>                    
                </div>

                <!--Choice Four-->
                <div v-if="input.AnswerMode == 1" class="form-group row new-ques-1">
                    <!-- <label for="question_choice4" class="col-sm-2 col-form-label">Choice 4</label> -->
                    <div class="col-sm-12 new-ques-2">
                    <textarea v-model="input.ChoiceFour" :class="HasError(this.errors.ChoiceFour)" class="form-control" id="question_choice4"  rows="3" placeholder="Choice 4">
                    </textarea>
                    <div v-if="this.errors.ChoiceFour.length > 0"  class="invalid-feedback">
                        {{this.errors.ChoiceFour[0].replace("ChoiceFour", "Answer 4")}}
                    </div>
                    </div>

                    <label v-if="input.QuestionType != 1" for="inputGroupFile04" class="col-sm-2 col-form-label">Attachment</label>
                    <div v-if="input.QuestionType != 1" class="col-sm-10" > <!--Show when for  with files-->
                        <div class="input-group mb-3">
                        <div class="custom-file">
                            <input @change="UploadChoiceFourMediaFile" ref="c4_attach_file"  type="file" class="custom-file-input" id="inputGroupFile04">
                            <label class="custom-file-label nowrap" for="inputGroupFile04">{{uploadFiles.QuestionChoiceFourAttachment}}</label>
                        </div>
                        <div @click="RemoveUpload(4)" class="input-group-append">
                            <span class="input-group-text curs-pointer">
                                <span v-if="!uploadFiles.QuestionChoiceFourUploading">
                                    Remove
                                </span>
                                <sync-loader v-else></sync-loader>                                
                            </span>
                        </div>
                        </div>
                    <div class="invalid-feedback">
                        {{this.errors.ChoiceFour}}
                    </div>
                    </div>                    
                </div>

                <div v-if="input.AnswerMode == 1" class="form-group row">
                    <label for="correctAns" class="col-sm-3 col-form-label">Correct Answer</label>
                    <div class="col-sm-9">
                        <select v-model="input.CorrectAnswer" :class="HasError(this.errors.CorrectAnswer)" class="form-control" id="correctAns">
                            <option value="1">Choice 1</option>
                            <option value="2">Choice 2</option>
                            <option value="3">Choice 3</option>
                            <option value="4">Choice 4</option>
                        </select>    
                        <!-- <input v-model="input.QuestionType" :class="HasError(this.errors.QuestionType)" type="text" class="form-control" id="questionType" placeholder="Bank Title" > -->
                        <div v-if="this.errors.CorrectAnswer.length > 0" class="invalid-feedback">
                            <!-- Looks good! -->
                            {{this.errors.CorrectAnswer[0].replace("CorrectAnswer", "Correct Answer")}}
                        </div>
                    </div>
                </div>                                                                                 


                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
                        <span v-if="!isSubmitted"> Submit </span>
                        <pulse-loader v-else></pulse-loader>
                    </button>
                    <button type="button" @click="CancelNewQuestion()" class="btn btn-lg  btn-danger">
                        <span>Cancel</span>
                    </button>
                </div>        
            </form>
        </div>
    </div>

</div>   

</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import SyncLoader from 'vue-spinner/src/SyncLoader.vue'
import {newQuestion, getQuestionBankDetail} from '../../../../api/teacher/question_bank.js'
import {uploadFile} from '../../../../api/common/file_upload.js'

export default {
    name: 'NewQuestion',
    components: {PulseLoader, SyncLoader},
    data(){
        return{
            isInitialLoad:true,
            isSubmitted : false,
            isSucceed : false,
            QuestionBankTitle:null,
            input:{
                BankID:null,
                QuestionType:0,
                AnswerMode:0,
                QuestionTitle:null,
                QuestionDescription:null,
                QuestionAttachment:null, //not yet implemetned TODO
                ChoiceOne:null,
                ChoiceTwo:null,
                ChoiceThree:null,
                ChoiceFour:null,
                CorrectAnswer:null,
                ChoiceOneAttachment:null,
                ChoiceTwoAttachment:null,
                ChoiceThreeAttachment:null,
                ChoiceFourAttachment:null,
                
            },
            errors:{
                BankID:[],
                QuestionType:[],
                AnswerMode:[],
                QuestionTitle:[],
                QuestionDescription:[],
                QuestionAttachment:[], //not yet implemetned TODO
                ChoiceOne:[],
                ChoiceTwo:[],
                ChoiceThree:[],
                ChoiceFour:[],
                CorrectAnswer:[],
                ChoiceOneAttachment:[],
                ChoiceTwoAttachment:[],
                ChoiceThreeAttachment:[],
                ChoiceFourAttachment:[],
            },
            uploadFiles:{
                QuestionMediaAttachmentUploading:false,
                QuestionMediaAttachment:"Choose file",
                QuestionChoiceOneUploading:false,
                QuestionChoiceOneAttachment:"Choose file",
                QuestionChoiceTwoUploading:false,
                QuestionChoiceTwoAttachment:"Choose file",
                QuestionChoiceThreeUploading:false,
                QuestionChoiceThreeAttachment:"Choose file",
                QuestionChoiceFourUploading:false,
                QuestionChoiceFourAttachment:"Choose file",
            }
        }
    },
    beforeRouteUpdate(to,from, next){
         let bank_id = to.params.bank_id;
         this.input.BankID = bank_id;
         this.GetBankDetails(bank_id);
        next();
    },   
    mounted(){
        let bank_id = this.$route.params.bank_id;
        this.input.BankID = bank_id;
        this.GetBankDetails(bank_id);
    },
    methods:{
        GetBankDetails:function(bank_id){
            this.isLoading = true;
            this.isEditing = false;
            getQuestionBankDetail(this.GetSessionHeaders(), bank_id).then((response)=>{
                if(response.status == 200){
                    this.QuestionBankTitle =  response.body.QuestionBank.question_bank_title;
                }
            }).catch((error)=>{
                if(response.status != 200){
                    this.$toasted.show("Opps. Something went wrong at our end");
                }                
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        UploadExamMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionMediaAttachment = media_file.name;
            this.uploadFiles.QuestionMediaAttachmentUploading = true;
            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.QuestionAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.uploadFiles.QuestionMediaAttachmentUploading = false;
            });

        },
        //We separate the uploading functions for each file so we can adjust how it will behavee
        UploadChoiceOneMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c1_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceOneAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceOneAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceOneUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceOneAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceOneUploading = false;
            });
        },
        UploadChoiceTwoMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c2_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceTwoAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceTwoAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceTwoUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceTwoAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceTwoUploading = false;
            });
        },
        UploadChoiceThreeMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c3_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceThreeAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }
            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceThreeAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceThreeUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceThreeAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceThreeUploading = false;
            });
        },
        UploadChoiceFourMediaFile:function(){
            let formData = new FormData();
            let media_file = this.$refs.c4_attach_file.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }
            //if same file do not process
            if(this.uploadFiles.QuestionChoiceFourAttachment == media_file.name){
                return;
            }
            //Validate File Size
            var filesize = ((media_file.size/1024)/1024).toFixed(4); // MB
            if(filesize > 50){
                this.$toasted.show("Uploaded file should be only 50mb or below");
                return;
            }

            formData.append("file_upload",  media_file);
            this.uploadFiles.QuestionChoiceFourAttachment = media_file.name;
            this.uploadFiles.QuestionChoiceFourUploading = true;

            uploadFile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.ChoiceFourAttachment = response.body.File.FileName;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }else{
                    this.$toasted.show("Opps. Something went wrong at our end");
                }

            }).finally(()=>{
                this.uploadFiles.QuestionChoiceFourUploading = false;
            });
        },
        SubmitNewQuestion:function(e){
            e.preventDefault();
            this.isSubmitted = true;
            this.isInitialLoad = false;
            newQuestion(this.GetSessionHeaders(), this.input).then((response)=>{
                 this.isSucceed = true;
            }).catch((response)=>{
              try{
                  if(response.body.Errors.BankID){
                      this.errors.BankID = response.body.Errors.BankID;
                      this.$toasted.show(this.errors.BankID[0]);
                      return;
                  }
                  if(response.body.Errors.QuestionType){
                      this.errors.QuestionType = response.body.Errors.QuestionType;
                  }else{
                      this.errors.QuestionType = [];
                  }

                  if(response.body.Errors.AnswerMode){
                      this.errors.AnswerMode = response.body.Errors.AnswerMode;
                  }else{
                      this.errors.AnswerMode = [];
                  }

                  if(response.body.Errors.QuestionTitle){
                      this.errors.QuestionTitle = response.body.Errors.QuestionTitle;
                  }else{
                      this.errors.QuestionTitle = [];
                  }
                  
                  if(response.body.Errors.QuestionDescription){
                      this.errors.QuestionDescription = response.body.Errors.QuestionDescription;
                  }else{
                      this.errors.QuestionDescription = [];
                  }
                  
                  if(response.body.Errors.AnswerMode){
                      this.errors.AnswerMode = response.body.Errors.AnswerMode;
                  } else{
                      this.errors.AnswerMode = [];
                  }
                  
                  if(response.body.Errors.ChoiceOne){
                      this.errors.ChoiceOne = response.body.Errors.ChoiceOne;
                  }else{
                      this.errors.ChoiceOne = [];
                  }          
                  
                  if(response.body.Errors.ChoiceTwo){
                      this.errors.ChoiceTwo = response.body.Errors.ChoiceTwo;
                  }else{
                      this.errors.ChoiceTwo = [];
                  }  
                  
                  if(response.body.Errors.ChoiceThree){
                      this.errors.ChoiceThree = response.body.Errors.ChoiceThree;
                  }else{
                      this.errors.ChoiceThree = [];
                  }      
                  
                  if(response.body.Errors.ChoiceFour){
                      this.errors.ChoiceFour = response.body.Errors.ChoiceFour;
                  }else{
                      this.errors.ChoiceFour = [];
                  }   

                  if(response.body.Errors.CorrectAnswer){
                      this.errors.CorrectAnswer = response.body.Errors.CorrectAnswer;
                  }else{
                      this.errors.CorrectAnswer = [];
                  } 

              }catch(e){
                 this.$toasted.show('Ooops. Something went wrong at our end.');
              }
            }).finally(()=>{
                this.isSubmitted = false;
            })
        },     
        HasError:function(error_arr){
          if(this.isInitialLoad){
              return;
          }
          if(!error_arr){
              return;
          }

          if(error_arr.length > 0){
             return{
            'is-invalid': true
            }               
          }
          else{
             return{
            'is-valid': true
            }
          }
        },
        ResetInputs:function(){
            this.isSubmitted=false;
            this.isSucceed=false;
            this.isInitialLoad = true;
            this.input.QuestionTitle = null;
            this.input.QuestionDescription = null;
            this.input.QuestionAttachment = null;
            this.input.ChoiceOne = null;
            this.input.ChoiceTwo = null;
            this.input.ChoiceThree = null;
            this.input.ChoiceFour = null;
            this.input.CorrectAnswer = null;
            this.input.ChoiceOneAttachment = null;
            this.input.ChoiceTwoAttachment = null;
            this.input.ChoiceThreeAttachment = null;
            this.input.ChoiceFourAttachment = null;
            this.uploadFiles.QuestionMediaAttachment = "Choose file";
            this.uploadFiles.QuestionChoiceOneAttachment = "Choose file";
            this.uploadFiles.QuestionChoiceTwoAttachment = "Choose file";
            this.uploadFiles.QuestionChoiceThreeAttachment = "Choose file";
            this.uploadFiles.QuestionChoiceFourAttachment = "Choose file";
        },
        RemoveUpload:function(target){
            if(target == 0){
                this.input.QuestionMediaAttachment = null;
                this.uploadFiles.QuestionMediaAttachment = "Choose file";
            }
            else if(target == 1){
                this.input.ChoiceOneAttachment = null;
                this.uploadFiles.QuestionChoiceOneAttachment = "Choose file";
            }else if(target == 2){
                this.input.ChoiceTwoAttachment = null;
                this.uploadFiles.QuestionChoiceTwoAttachment = "Choose file";
            }else if(target == 3){
                this.input.ChoiceThreeAttachment = null;
                this.uploadFiles.QuestionChoiceThreeAttachment = "Choose file";
            }else if(target == 4){
                this.input.ChoiceFourAttachment = null;
                this.uploadFiles.QuestionChoiceFourAttachment = "Choose file";
            }
        },
        CreateNewQuestion:function(){
            this.ResetInputs();
        },

        CancelNewQuestion:function(){
            this.ResetInputs();
            this.$router.push({ name: 'QuestionBanks' });
        },

        GoToQuestionBankPage:function(){
            this.$router.push({ name: 'QuestionBankEdit', params: { bank_id: this.input.BankID } });
        }
    }
}
</script>

<style scoped>
.new-quest-desc-complete{
    /* width:45%; */
    display: inline-block;
}
.new-quest-ans-complete{
    /* width:50%; */
    display: inline-block;
    overflow-y: visible !important;
    max-height:auto;
}
.new-quest-ans-complete .table-ul3{
    padding-top: 0;
}
.new-quest-ans-complete table tr td{
    padding-right: .8em;
    padding-bottom: .8em;

}
</style>

