<template>
<div>

<div class="row">
  <div class="col-md-8">  
  <div class="input-group mb-3">
    <input type="text" class="bank-list-search form-control " placeholder="Search..." aria-label="Question Banks">
    <div class="input-group-append">
      <button class="bank-list-search-btn btn btn-outline-secondary" type="button"><span class="fa fa-search"></span></button>
    </div>
  </div>
  </div>

  <div class="form-group col-md-4">
    <select @change="GetQuestionBanks()" v-model="PageLimit" id="inputState" class="form-control">
      <option value=5>5</option>
      <option value=10>10</option>
      <option value=20 selected>20</option>
    </select>
  </div>
</div>


<div class="loader" v-if="isLoading"></div>

<div v-else>


<table class="table table-hover table-banks-list">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date Added</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(item, index) in QuestionBankList">
      <th scope="row">{{index+1}}</th>
      <td>{{item.question_bank_title}}</td>
      <td>{{item.date_added}}</td>
      <td>
        <button type="button" class="btn btn-main-2 btn-primary">Modify</button>
        <div class="btn-group">
          <button type="button" class="btn btn-main-dnger-1 btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Delete
          </button>
          <div class="dropdown-menu ">
            <span class="margin-left-15"> Are you sure?</span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" @click="DeleteQuestionBank(item.question_bank_id)">Yes</a>
            <a class="dropdown-item" >No</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Question Bank Lists">
  <ul class="pagination justify-content-center">
    <!-- <li class="page-item disabled"> -->
    <li class="page-item">
      <a @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
    </li>

    <li v-for="n in PageCount" class="page-item" :class="PagerActivePage(n)">
      <a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
    </li>

    <li class="page-item">
      <a @click="PagerNextPage()" class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>

</div>  
</template>
<script>
import {getQuestionBanks} from '../../../../api/teacher/question_bank.js'
import {updateQuestionBank} from '../../../../api/teacher/question_bank.js'

export default {
  name:"QuestionBankList",
  data(){
    return{
       isLoading : true,
       QuestionBanksCount:0,
       QuestionBankList:[],
       PageLimit : 20,
       PageOffset: 1,
       PageCount:null,
       delete_input:{
         BankID : null,
         Delete : null
       }
    }
  },
  mounted(){
    this.GetQuestionBanks();
  },
  methods:{
    GetQuestionBanks:function(){
      this.isLoading = true;
      getQuestionBanks(this.GetSessionHeaders(), this.PageLimit, this.PageOffset).then((response)=>{
        this.QuestionBankList = response.body.QuestionBanks;
        this.QuestionBanksCount = response.body.Count;
        this.PageLimit = response.body.PageLimit;
        this.PageOffset = response.body.PageOffset;
        this.PageCount = Math.ceil(this.QuestionBanksCount / this.PageLimit);
      }).catch((response)=>{
          this.$toasted.show("Opps. Something went wrong at our end");
      }).finally(()=>{
        this.isLoading = false;
      });
    },
    DeleteQuestionBank:function(bank_id){
        this.delete_input.BankID = bank_id;
        this.delete_input.Delete = 1;
        updateQuestionBank(this.GetSessionHeaders(), this.delete_input).then((response)=>{
          this.$toasted.show("Question Bank was succesfully deleted!");
          this.GetQuestionBanks();
        }).catch((response)=>{
          this.$toasted.show("Opps. Something went wrong at our end");
        }).finally(()=>{

        });
    },
    SetPageOffset:function(e){
      this.PageOffset = e;
      this.GetQuestionBanks();
    },
    PagerActivePage:function(e){
      return{
        active : (e==this.PageOffset)
      }
    },
    PagerNextPage:function(){
      if(this.PageOffset + 1 <= this.PageCount){
        this.SetPageOffset(this.PageOffset+1);
      }
    },
    PagerPrevPage:function(){
      if(this.PageOffset - 1 > 0){
        this.SetPageOffset(this.PageOffset-1);
      }
    }
  }

}
</script>

<style scoped>
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
</style>

