<template>
     <div class="col-md-3 search-sidebar">
        <div class="search-controls">
            <select v-if="!isSearching" v-model="Sort" class="form-control">
                <option value="0">Sort By Title</option>
                <option value="1">Sort By Newly Added</option>
                <option value="2">Sort By Firstly Added</option>
            </select>
            <input v-else v-model="SearchInput" type="text" class="form-control search_bar">
            <span @click="isSearching = !isSearching" class="fa fa-search"></span>
            <div class="clearing"></div>
        </div>
        <div @click="CreateNewExam()" class="create-new">
            <span class="fa fa-edit"></span>
            <span>Create New Question Bank</span>
        </div>

        <!--ITEMS-->
        <div class="searched-items">

            <div v-for="(item, index) in CompQuestionBankList" @click="GoToBankEditPage(item.question_bank_id)" :key="'bank_list_'+index" class="item">
                <div class="aside-image">
                    <span class="circling-title">{{item.question_bank_title.charAt(0)}}</span>
                </div>
                <div class="content-details">
                    <!-- <div class="date-added">{{item.date_added}}</div> -->
                    <div class="title">{{item.question_bank_title}}</div> 
                    <!-- <div class="description line-clamp line-clamp-3">{{item.question_bank_desc}}</div> -->
                    <div class="description line-clamp line-clamp-3">
                        <p class="line-clamp line-clamp-1">{{item.category_title}} - {{item.section_title}} <br>
                        <span>{{item.level_title}}</span></p>
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
            <div v-if="(PageCount  > PageOffset) && PageCount > 1" @click="IncreasePageOffset()"  class="item">
                <div class="load-more">
                    <div class="sm-loader margin-top-15" v-if="isPagerLoading"></div>
                    <div class="ft-size-21 col-centered  margin-top-15" v-else>Load More</div>
                </div>
            </div>            
        </div>
        <!--END ITEMS-->

    </div>
    
</template>

<script>
import {getQuestionBanks} from '../../../../api/teacher/question_bank.js'
import {bus} from '../../../../main.js'
export default {
  name: 'QuestionBankSearch',
  data(){
      return{
        isSearching:false,
        SearchInput:'',
        Sort : 0,          
        isLoading : true,

        PageLimit : 10,
        PageOffset: 1,
        PageCount : 0,  
        isPagerLoading:false        
      }
  },
  computed:{
      CompQuestionBankList:function(){
        if(this.isSearching && this.SearchInput != ''){
            return this.$store.state.teacherQuestionBanks.filter(item=>{
                return item.question_bank_title.toLowerCase().indexOf(this.SearchInput) > -1;
            });
        }
        if(this.Sort == 0){
            let temp =  this.$store.state.teacherQuestionBanks.slice();
            return temp.sort(function(a,b){
                var nameA = a.question_bank_title.toUpperCase(); 
                var nameB = b.question_bank_title.toUpperCase(); 
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }                    
            });
        }  
        if(this.Sort == 1){
            return this.$store.state.teacherQuestionBanks;
        }  
        if(this.Sort == 2){
            let temp =  this.$store.state.teacherQuestionBanks.slice();
            return temp.sort(function(a,b){
                return new Date(a.date_added) - new Date(b.date_added);                
            });                
        }          
        return this.$store.state.teacherQuestionBanks;
      }
  },
  created(){
    bus.$off("reloadQuestionBankList");
    //bind event bus functions to listen
    bus.$on("reloadQuestionBankList",()=>{
        this.PageOffset=  1;       
        this.PageCount = 0;             
        this.$store.commit("commitTeacherBanks",[]);
        this.GetQuestionBanks();
    });
   },   
  mounted(){
    this.GetQuestionBanks();
  },
  beforeRouteUpdate(to,from, next){
    this.GetQuestionBanks();
    next();
  },
  methods:{ 
    GetQuestionBanks:function(){
      this.isLoading = true;
      getQuestionBanks(this.GetSessionHeaders(), this.PageLimit, this.PageOffset).then((response)=>{
        this.PageCount = response.body.PageCount;
       
        let _banks =  [];
        if(this.$store.state.teacherQuestionBanks) {
                _banks =  this.$store.state.teacherQuestionBanks;
        }
        if( _banks.length > 0 &&
            (_banks.length >= response.body.TotalCount)){
            this.PageOffset = this.PageCount;
            return;
        }
              
        if(this.PageOffset >= 1){
            _banks.push(...response.body.QuestionBanks);
        }
        
        this.$store.commit("commitTeacherBanks", _banks);
      }).catch((response)=>{
        this.$toasted.show("Opps. Something went wrong at our end");
      }).finally(()=>{
        this.isLoading = false;
        this.isPagerLoading = false;
      });
    },
    CreateNewExam:function(){
        this.$router.push({ name: 'QuestionBankNew' });
    },
    GoToBankEditPage(id){
        this.$router.push({ name: 'QuestionBankEdit', params: { bank_id: id } });
    },
    IncreasePageOffset(){
        if(this.PageOffset >= this.PageCount){
            return;
        }
        this.PageOffset = this.PageOffset+1;
        this.isPagerLoading = true;
        this.GetQuestionBanks();
    },    
  }
}
</script>

