<template>
<div class="col-md-9 main-content admin-scrollable">

    <div class="loader" v-if="isLoading"></div>

    <div class="row header-row teacher-cate" v-else>
        <div class="col-md-4 aside-image">
            <div class="float-right exam-pic">
                <!-- <span @click="OpenUploader()" v-if="isEditing" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                <input @change="UploadCouseCover()" ref="update_cate_cover" type="file" id="changeCatePhoto" accept="image/*" /> -->
            </div>
            <!-- <img v-if="input.CoverPhoto != '' && input.CoverPhoto != null" 
            :src="this.GetImageURL() + input.CoverPhoto"
            id="upd_course_cover"> -->
            <div class="noImg">
                <span>{{QuestionBankTitle.charAt(0)}}</span>
            </div>
        </div>
        <div class="col-md-8 main-description teacher-question" >

            <h1><span v-if="!isEditing">{{QuestionBankTitle}}</span></h1>
                <input v-if="isEditing" v-model="QuestionBankTitle" 
                :class="HasError(this.errors.BankTitle)"
                class="form-control" type="text" placeholder="Title">
                <div v-if="this.errors.BankTitle.length > 0"  class="invalid-feedback">
                    {{this.errors.BankTitle[0].replace("BankTitle", "Title")}}
                </div>                  
         
       
            <div>
                <!-- <span v-if="!isEditing">
                {{QuestionBankDescription}}
                </span> -->
                <!-- <textarea v-model="QuestionBankDescription" v-else class="form-control" placeholder="Description"> </textarea> -->
                <br>
                 <div v-if="isEditing" class="form-group row">
                    <div class="col-sm-12">
                        <div class="table-ul-con">
                            <table class="table-ul table-ul2">
                                <tr>
                                    <td class="title">Category</td>
                                    <td class="input">
                                       <select v-model="input.Category" @change="GetItems()" class="form-control" :class="HasError(errors.Category)">
                                            <option value="0" selected>Select Category</option>
                                            <option v-for="(item, index) in Categories" :key="'bank_cate_'+index" :value="item.category_id">
                                                {{item.category_title}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{this.errors.Category[0]}}
                                        </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Section</td>
                                    <td class="input">
                                       <select v-model="input.Section" @change="GetSectionLevels()" class="form-control" :class="HasError(errors.Section)">
                                            <option value="0">Select Section</option>
                                            <option v-for="(item, index) in Items" :key="'item_'+index" :value="item.category_section_id" >
                                                {{item.section_title}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{this.errors.Section[0]}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Level</td>
                                    <td class="input">
                                       <select v-model="input.Level" class="form-control" :class="HasError(errors.Level)">
                                            <option value="0">Select Level</option>
                                            <option v-for="(level, index) in Levels" :key="'levels_'+index" :value="level.category_section_level_id" >
                                                {{level.level_title}}
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{this.errors.Level[0]}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- <div  v-if="isEditing" class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Section" @change="GetSectionLevels()" class="form-control" :class="HasError(errors.Section)">
                            <option value="0">Select Section</option>
                            <option v-for="(item, index) in Items" :key="'item_'+index" :value="item.category_section_id" >
                                {{item.section_title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Section[0]}}
                        </div>
                    </div>
                </div>  -->
                <!-- <div v-if="isEditing" class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Level" class="form-control" :class="HasError(errors.Level)">
                            <option value="0">Select Level</option>
                            <option v-for="(level, index) in Levels" :key="'levels_'+index" :value="level.category_section_level_id" >
                                {{level.level_title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Level[0]}}
                        </div>
                    </div>
                </div>  -->                   


            </div>
            <br>


            <div class="controls">
                <button type="button" class="btn edit" @click="ToggleEdit()">{{EditButton}}</button>
                <button v-if="!isEditing" type="button" class="btn delete popup_are_you_sure">
                    Delete
                </button>                
                <button v-else @click="CancelEdit()" type="button" class="btn delete">
                    Cancel
                </button>
            </div>
           
        </div>
    </div>

    <div class="row control-row" v-if="!isLoading">
        <ul>
            <li>Questions</li>
            <li @click="GoToAddNewQuestion()">New Question</li>
        </ul>
        <div class="clearing"></div>
    </div>

    <div class="row" v-if="isGetQuestionLoading">
        <div class="sm-loader margin-top-15"></div>     
    </div>
    <div class="row" v-else>

        <div class="table-responsive">
            <table class="table table-hover table-banks-list">
                <thead class="thead-dark ">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Type</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in QuestionBankQuestions" :key="item.question_id">
                    <td><b>{{ PagerNumberingStart  + (index + 1)}}</b></td>
                    <td>{{item.question_description}}</td>
                    <td>
                        <span v-if="item.question_type_id == 1" class="fa fa-italic"></span>
                        <span v-if="item.question_type_id == 2" class="fa fa-images"></span>
                        <span v-if="item.question_type_id == 3" class="fa fa-file-audio"></span>
                    </td>
                    <td>
                        <span v-if="item.question_answer_mode == 1">Multiple Choice</span>
                        <span v-if="item.question_answer_mode == 2">Essay</span>
                    </td>
                    <td>
                        <button @click="VieQuestionDetail(item.question_id)" type="button" class="table-btn-ag btn-sm btn-main-2 btn-primary">View</button>
                        <button @click="PrepareToDeleteQuestion(item.question_id)" type="button" class="table-btn-ag btn-sm btn-main-dnger-1 btn-danger popup_are_you_sure_two">Delete</button>
                    </td>
                    </tr>
                </tbody>
            </table>     
        </div>    

        <nav class="pager_navigation" aria-label="Question Bank Lists">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a v-if="this.PageOffset - 1 > 0" @click="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

            <li v-for="n in (PageOffset, PageCount)" class="page-item" :class="PagerActivePage(n)" :key="n" v-if="(n >= PageOffset) && (n < PageOffset + 5)">
            <a @click="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
            </li>

            <li class="page-item">
            <a v-if="this.PageOffset + 1 <= this.PageCount" @click="PagerNextPage()" class="page-link" href="#">Next</a>
            </li>
        </ul>
        </nav>


    </div>    
    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeleteDialog"></are-you-sure>
   
   <!-- TEMPORARY FIX -->
    <are-you-sure-two :Message="DeleteQuestionDialogMessage" :handle-action="DeleteQuestionDialog"></are-you-sure-two>

</div>   

</template>
<script>
import AreYouSure from '../../../subcomponents/modal/AreYouSureModal'
import AreYouSureTwo from '../../../subcomponents/modal/AreYouSureModalTwo'
import {getQuestionBankDetail, updateQuestionBank, getQuestionsByBankId, deleteQuestion} from '../../../../api/teacher/question_bank.js'
import {getItemsforQuestionBanks, getSectionLevelforQuestionBanks} from '../../../../api/teacher/exam.js' 
import {bus} from '../../../../main.js'
export default {
    name:'EditQuestionBank',
    components:{
        AreYouSure,AreYouSureTwo
    },    
    data(){
        return{
            isLoading:true,
            isGetQuestionLoading:false,
            isEditing:false,
            editTexts:{
                normal : 'Edit Bank',
                save : 'Save Changes'
            },
            Items:[],
            Levels:[],
            EditButton:null,
            QuestionBankDetail:null,
            QuestionBankID:null,
            QuestionBankDatePosted:null,
            QuestionBankTitle: null,
            QuestionBankDescription:null,
            QuestionBankQuestions:[],

            input:{
                BankID : null,
                BankTitle: null,
                BankDescription:null,
                Category:0,
                Section:0,
                Level: 0,                
            },
            errors:{
                BankTitle:[],
                BankDescription:[],
                Category:[],
                Section:[],
                Level:[]
            },            
            delete_input:{
                BankID : null,
                Delete : null
            },
            //Pager
            PageLimit : 10,//def = 20
            PageOffset: 1,
            PageCount:null,
            DeleteDialogMessage:"Are you sure you want to delete this question bank?",
            TargetQuestionIDToDelete:null,
            DeleteQuestionDialogMessage:"Are you sure you want to delete this question?"
        }
    },
    beforeRouteUpdate(to,from, next){
        let bank_id = to.params.bank_id;
        this.QuestionBankID = bank_id;
        this.GetBankDetails(bank_id);
        this.EditButton = this.editTexts.normal;
        next();
    },
    mounted(){
        let bank_id = this.$route.params.bank_id;
        this.QuestionBankID = bank_id;
        this.GetBankDetails(bank_id);
        this.EditButton = this.editTexts.normal;

    },
    computed:{
        PagerNumberingStart:function(){
            if(this.PageOffset == 1){
                return 0;
            }
            else{
                return (this.PageOffset - 1) * 10;
            }
        },
        Categories:function(){
            return this.$store.state.categories;
        }        
    },
    methods:{
        GetItems:function(){
            getItemsforQuestionBanks(this.GetSessionHeaders(), this.input.Category).then((response)=>{
                this.Items = response.body.Items;
                this.GetSectionLevels();
            });
        }, 
        GetSectionLevels:function(){
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.input.Section).then((response)=>{
                this.Levels = response.body.Levels;
            });
        },            
        GetBankDetails:function(bank_id){
           this.isLoading = true;
           this.isEditing = false;
           getQuestionBankDetail(this.GetSessionHeaders(), bank_id).then((response)=>{
               if(response.status == 200){
                    this.QuestionBankDetail = response.body.QuestionBank;
                    this.QuestionBankID =  response.body.QuestionBank.question_bank_id;
                    this.QuestionBankDatePosted =  response.body.QuestionBank.date_added;
                    this.QuestionBankTitle =  response.body.QuestionBank.question_bank_title;
                    this.QuestionBankDescription =  response.body.QuestionBank.question_bank_desc;
                    this.input.Category =   response.body.QuestionBank.category_id;
                    this.input.Section =   response.body.QuestionBank.course_section_id;
                    this.input.Level = response.body.QuestionBank.category_level_id;
                    this.GetItems();
                    this.GetBankQuestions();
               }
               
               
           }).catch((error)=>{
               
           }).finally(()=>{
               this.isLoading = false;
           });
        },
        DeleteQuestionBank:function(bank_id){
            this.delete_input.BankID = bank_id;
            this.delete_input.Delete = 1;
            updateQuestionBank(this.GetSessionHeaders(), this.delete_input).then((response)=>{
            this.$toasted.success("Question Bank was succesfully deleted!");
            bus.$emit('reloadQuestionBankList');
            this.$router.push({ name: 'QuestionBanks' });
            }).catch((response)=>{
                if(response.status != 200){
                    this.$toasted.show("Opps. Something went wrong at our end");
                }
            }).finally(()=>{

            });
        },
        DeleteDialog:function(){
            this.DeleteQuestionBank(this.QuestionBankID);
        },
        CancelEdit:function(){
                this.isEditing = false;
                this.EditButton = this.editTexts.normal;
                this.GetBankDetails(this.QuestionBankID);
                 this.ResetErrors();
        },     
        ToggleEdit:function(){
            if(!this.isEditing){
                this.isEditing = true;
                this.EditButton = this.editTexts.save;
            }
            else{
                this.EditQuestionBank();
            }
        },
        EditQuestionBank:function(){
            this.isLoading = true;
            this.input.BankID = this.QuestionBankID;
            this.input.BankTitle = this.QuestionBankTitle;
            this.input.BankDescription = this.QuestionBankDescription;

            updateQuestionBank(this.GetSessionHeaders(), this.input).then((response)=>{
                this.$toasted.success("Question Bank was succesfully updated!");
                this.isEditing = false;
                this.EditButton = this.editTexts.normal;
                this.ResetErrors();
                bus.$emit('reloadQuestionBankList');
            }).catch((response)=>{
              try{
                  if(response.body.Errors.BankTitle){
                      this.errors.BankTitle = response.body.Errors.BankTitle;
                  }else{
                      this.errors.BankTitle =[];
                  }

                  if(response.body.Errors.BankDescription){
                      this.errors.BankDescription = response.body.Errors.BankDescription;
                  }else{
                      this.errors.BankDescription =[];
                  }

                  if(response.body.Errors.Category){
                      this.errors.Category = response.body.Errors.Category;
                  }else{
                      this.errors.Category =[];
                  }

                  if(response.body.Errors.Section){
                      this.errors.Section = response.body.Errors.Section;
                  }else{
                      this.errors.Section =[];
                  }
                  
                  if(response.body.Errors.Level){
                      this.errors.Level = response.body.Errors.Level;
                  }else{
                      this.errors.Level =[];
                  }                  

                  if(response.body.Errors.Section){
                      this.errors.Section = response.body.Errors.Section;
                  }else{
                      this.errors.Section =[];
                  }         
                 if(response.body.Errors.Level){
                      this.errors.Level = response.body.Errors.Level;
                  }else{
                      this.errors.Level =[];
                  }                                                

              }catch(e){
                  this.$toasted.show('Ooops. Something went wrong at our end.');
              }
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        GoToAddNewQuestion:function(){
            this.$router.push({ name: 'QuestionNew', params: { bank_id: this.QuestionBankID } });
        },   
        GetBankQuestions:function(){
            this.isGetQuestionLoading = true;
            getQuestionsByBankId(this.GetSessionHeaders(),this.QuestionBankID, this.PageLimit, this.PageOffset).then((response)=>{
                if(response.status == 200){
                    this.QuestionBankQuestions = response.body.Questions;
                    this.PageLimit = response.body.PageLimit;
                    this.PageOffset = response.body.PageOffset;
                    this.PageCount = Math.ceil(response.body.Count / this.PageLimit);
                }
            }).catch((response)=>{

            }).finally(()=>{
                this.isGetQuestionLoading = false;
            });
        },        
        SetPageOffset:function(e){
            this.PageOffset = e;
            this.GetBankQuestions();
        },
        PagerActivePage:function(e){
        return{
            active : (e==this.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.PageOffset + 1 <= this.PageCount){
                this.SetPageOffset(this.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.PageOffset - 1 > 0){
                this.SetPageOffset(this.PageOffset-1);
            }
        },
        VieQuestionDetail:function(_question_id){
            this.$router.push({ name: 'QuestionEdit', params: { bank_id: this.QuestionBankID, question_id: _question_id } });
        },
        DeleteBankQuestion:function(question_id){
            deleteQuestion(this.GetSessionHeaders(), question_id).then((response)=>{
                this.GetBankQuestions();
            }).catch((response)=>{

            });
        },
        PrepareToDeleteQuestion:function(question_id){
            this.TargetQuestionIDToDelete = question_id;
        },
        DeleteQuestionDialog:function(){
             this.DeleteBankQuestion(this.TargetQuestionIDToDelete);
        },   
    ResetErrors:function(){
        this.errors.BankTitle = [];
        this.errors.Category = [];
        this.errors.BankDescription = [];
        this.errors.Section = [];
        this.errors.Level = [];
    },                   
    }
}
</script>

<style scoped>
.table-banks-list{
    font-size:13px;

}
.table-banks-list td, .table-banks-list th {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
} 
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
.pager_navigation{
    margin: auto;
}
</style>