<template>
<div>
    <div v-if="isSucceed" class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{input.BankTitle}} Question Bank was successfully added!</h4>
        <p>
            {{input.BankDescription}}
        </p>
        <hr>
        <p class="mb-0">
            What to do next?, Choose below for quick action.
            <br>
            <button class="btn btn-sm btn-link">Edit this Question Bank</button>
            <button @click="ResetInputs" class="btn btn-sm btn-link">Add New Question Bank</button>
        </p>
    </div>

    <form v-else @submit="SubmitNewQuestionBank">
        <div class="form-group row">
            <label for="bankTitle" class="col-sm-2 col-form-label">Bank Title</label>
            <div class="col-sm-10">
            <input v-model="input.BankTitle" :class="HasError(this.errors.BankTitle)" type="text" class="form-control" id="bankTitle" placeholder="Bank Title" >
            <div class="invalid-feedback">
                <!-- Looks good! -->
                {{this.errors.BankTitle}}
            </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="bank_description" class="col-sm-2 col-form-label">Bank Description</label>
            <div class="col-sm-10">
            <textarea v-model="input.BankDescription" :class="HasError(this.errors.BankDescription)" class="form-control" id="bank_description"  rows="5">
            </textarea>
            <div class="invalid-feedback">
                {{this.errors.BankDescription}}
            </div>

            </div>
        </div>
        <div class="form-actions">
        <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
            <span v-if="!isSubmitted"> Submit </span>
            <pulse-loader v-else></pulse-loader>
        </button>
        </div>        
    </form>


</div>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newQuestionBank} from '../../../../api/teacher/question_bank.js'

export default {
  name:"NewQuestionBank",
  components: {PulseLoader},
  data(){
      return{
          isInitialLoad:true,
          isSubmitted : false,
          isSucceed : false,
          input:{
              BankTitle:null,
              BankDescription:null
          },
          errors:{
              BankTitle:[],
              BankDescription:[]
          }
      }
  },
  methods:{
      SubmitNewQuestionBank:function(e){
          e.preventDefault();
          this.isSubmitted = true;
          this.isInitialLoad = false;
          newQuestionBank(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSucceed = true;
          }).catch((response)=>{
              try{
                  if(response.body.Errors.BankTitle){
                      this.errors.BankTitle = response.body.Errors.BankTitle;
                  }

                  if(response.body.Errors.BankDescription){
                      this.errors.BankDescription = response.body.Errors.BankDescription;
                  }

              }catch(e){
                  this.$toasted.show('Ooops. Something went wrong at our end.');
              }
          }).finally(()=>{
            this.isSubmitted = false;
             
          });
      },
      ResetInputs:function(){
          this.isSubmitted=false;
          this.isSucceed=false;
          this.isInitialLoad = true;
          this.input.BankTitle = null;
          this.input.BankDescription = null;
      },
      HasError:function(error_arr){
          if(this.isInitialLoad){
              return;
          }

          if(error_arr.length > 0){
             return{
            'is-invalid': true
            }               
          }
          else{
             return{
            'is-valid': true
            }
          }
      }
  }
}
</script>
<style scoped>
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

</style>
