<template>
<div class="col-md-9 main-content">
    <div class="row header-row">
        <div class="col-10 main-description offset-1" >

            <div v-if="isSucceed" class="alert agora-new-alert" role="alert">
                <h5 class="alert-heading"><b>QUESTION BANK :</b> {{input.BankTitle}} was successfully added!</h5>
                <p class="mb-0">
                    {{input.BankDescription}}
                </p>
                <p class="text-right">
                    <button @click="GoToEditBak()"  class="btn btn-sm modal-close success-btn">Edit this Question Bank</button>
                    <button @click="CreateNewExam()"  class="btn btn-sm modal-close success-btn">Add New Question Bank</button>
                </p>
            </div>        

            <form v-else @submit="SubmitNewQuestionBank">
                <h1>New Question Bank</h1>
                <br>
                <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.BankTitle" :class="HasError(this.errors.BankTitle)" type="text" class="form-control" id="bankTitle" placeholder="Question Bank Name" >
                    <div v-if="this.errors.BankTitle.length > 0" class="invalid-feedback">
                        {{this.errors.BankTitle[0].replace("BankTitle", "Title")}}
                    </div>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.BankDescription" :class="HasError(this.errors.BankDescription)" class="form-control" id="bank_description"  rows="5" placeholder="Description">
                    </textarea>
                    <div v-if="this.errors.BankDescription.length > 0" class="invalid-feedback">
                        {{this.errors.BankDescription[0].replace("BankDescription", "Description")}}
                    </div>

                    </div>
                </div> -->

                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Category" @change="GetItems()" class="form-control" :class="HasError(errors.Category)">
                            <option value="0" selected>Select Category</option>
                            <option v-for="(item, index) in Categories" :key="'bank_cate_'+index" :value="item.category_id">
                                {{item.category_title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Category[0]}}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Section" @change="GetSectionLevels()" class="form-control" :class="HasError(errors.Section)">
                            <option value="0">Select Section</option>
                            <option v-for="(item, index) in Items" :key="'item_'+index" :value="item.category_section_id" >
                                {{item.section_title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Section[0]}}
                        </div>
                    </div>
                </div>                


                <div class="form-group row">
                    <div class="col-sm-12">
                        <select v-model="input.Level" class="form-control" :class="HasError(errors.Level)">
                            <option value="0">Select Level</option>
                            <option v-for="(level, index) in Levels" :key="'levels_'+index" :value="level.category_section_level_id" >
                                {{level.level_title}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            {{this.errors.Level[0]}}
                        </div>
                    </div>
                </div>  

                <br>
                <div class="form-actions">
                  <button type="submit" class="btn btn-lg btn-main-2 btn-primary">
                      <span v-if="!isSubmitted"> Submit </span>
                      <pulse-loader v-else></pulse-loader>
                  </button>
                  <button @click="CancelNewBank()"  type="button" class="btn btn-lg btn-danger">Cancel</button>  
                </div>        
            </form>
        </div>
    </div>
</div>   

</template>


<script>
import Router from 'vue-router';
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {newQuestionBank} from '../../../../api/teacher/question_bank.js'
import {getItemsforQuestionBanks, getSectionLevelforQuestionBanks} from '../../../../api/teacher/exam.js' 
import {bus} from '../../../../main.js'
export default {
  name: 'NewQuestionBanks',
  components: {PulseLoader},
  data(){
      return{
          isInitialLoad:true,
          isSubmitted : false,
          isSucceed : false,
          Items:[],
          Levels:[],
          SubmittedID: null,
          input:{
              BankTitle:null,
              BankDescription:null,
              Category:0,
              Section:0,
              Level:0
          },
          errors:{
              BankTitle:[],
              BankDescription:[],
              Category:[],
              Section:[],
              Level:[]
          }
      }
  },
  computed:{
    Categories:function(){
        return this.$store.state.categories;
    }
  },
  methods:{
        //Get Items whenever Category Changes
        GetItems:function(){
            getItemsforQuestionBanks(this.GetSessionHeaders(), this.input.Category).then((response)=>{
                this.Items = response.body.Items;
            });
        }, 
        GetSectionLevels:function(){
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.input.Section).then((response)=>{
                this.Levels = response.body.Levels;
            });
        },              
      SubmitNewQuestionBank:function(e){
          e.preventDefault();
          if(this.isSubmitted){
              return;
          }
          this.isSubmitted = true;
          this.isInitialLoad = false;
          newQuestionBank(this.GetSessionHeaders(), this.input).then((response)=>{
            this.isSucceed = true;
            this.SubmittedID = response.body.QuestionBankID;
            bus.$emit('reloadQuestionBankList');
          }).catch((response)=>{
              try{
                  if(response.body.Errors.BankTitle){
                      this.errors.BankTitle = response.body.Errors.BankTitle;
                  }else{
                      this.errors.BankTitle =[];
                  }

                  if(response.body.Errors.BankDescription){
                      this.errors.BankDescription = response.body.Errors.BankDescription;
                  }else{
                      this.errors.BankDescription =[];
                  }

                  if(response.body.Errors.Category){
                      this.errors.Category = response.body.Errors.Category;
                  }else{
                      this.errors.Category =[];
                  }

                  if(response.body.Errors.Section){
                      this.errors.Section = response.body.Errors.Section;
                  }else{
                      this.errors.Section =[];
                  }         
                 if(response.body.Errors.Level){
                      this.errors.Level = response.body.Errors.Level;
                  }else{
                      this.errors.Level =[];
                  }                                                

              }catch(e){
                  this.$toasted.show('Ooops. Something went wrong at our end.');
              }
          }).finally(()=>{
            this.isSubmitted = false;
             
          });
      },
    ResetInputs:function(){
        this.isSubmitted=false;
        this.isSucceed=false;
        this.isInitialLoad = true;
        this.input.BankTitle = null;
        this.input.BankDescription = null;
        this.input.Category = 0;
        this.input.Section = 0;
        this.input.Level = 0;


        this.errors.BankTitle = [];
        this.errors.BankDescription = [];
        this.errors.Category = [];
        this.errors.Section = [];
        this.errors.Level = [];
    },
    CreateNewExam:function(){
        this.ResetInputs();
        this.$router.push({ name: 'QuestionBankNew' });
    } ,
       CancelNewBank:function(){
            this.ResetInputs();
            this.$router.push({ name: 'QuestionBanks' });
        },   
    GoToEditBak:function(){
        if(this.SubmittedID == null){
            return
        }
        this.$router.push({ name: 'QuestionBankEdit', params: { bank_id: this.SubmittedID } });
    }
  }


}
</script>

<style scoped>

</style>

