<template>
<div class="row rw-max-height">

    <question-bank-search></question-bank-search>

    <div class="col-md-9 main-content" v-if="isInitialLoad">
        <p class="watermark watermark-2">
            <img src="../../../../assets/images/staticimage/logo-watermark.png">
        </p>
    </div>
    <transition v-else name="fade" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
    </transition>

    
</div>   
</template>


<script>
import QuestionBankSearch from './BankList.vue';
export default {
  name: 'QuestionBanks',
  components:{
      QuestionBankSearch
  },
    data(){
        return{
            isInitialLoad : true
        }
    },
    beforeRouteUpdate(to,from, next){

        if(to.name == 'QuestionBanks'){
            this.isInitialLoad= true;
        }else{
            this.isInitialLoad = false;
        }
        next();
    },   
}
</script>

