/*media query*/
@media (min-width: 576px){
	.form-inline .form-control {
		width:100%;
	}
}

@media only screen and (max-width: 1600px) {
	.new-comment-discussion .content{
	    float: left;
	    width: 86%;
	}
	.new-comment-discussion button {
	    margin-right: 2em;
	}
	.arrow_courses, .arrow_courses_right{
		display: block;
	}

	/*arrow_courses-left*/

	.arrow_courses1{
	    left: 6.5%;
	}

	.arrow_courses2{
	    left:23.5%;
	}

	.arrow_courses3{
	    left: 40.3%;
	}

	/*arrow_courses-right*/

	.arrow_courses_r1{
	    right: 5.5%;
	}

	.arrow_courses_r2{
	    right: 22.5%;
	}

	.arrow_courses_r3{
	    right:39.5%;
	}

	.view-more-btn{
		margin-top: 14em;
	}

}
@media only screen and (max-width: 1366px) {
	.exam-field-cancel{
		margin-left: 76%;
	}
	.membership_bg{
		height: auto;
	}
	.new-comment-discussion .content {
	    float: left;
	    width: 83%;
	}
	.new-comment-discussion button {
	    margin-right: 2.5em;
	}

	/*arrow_courses-left*/

	/*.arrow_courses1{
	    left: 5.1em;
	}

	.arrow_courses2{
	    left: 18.4em;
	}

	.arrow_courses3{
	    left: 32.9em;
	}*/

	/*arrow_courses-right*/

	/*.arrow_courses_r1{
	    right: 4.4em;
	}

	.arrow_courses_r2{
	    left: 18.9em;
	}

	.arrow_courses_r3{
	    right: 32.2em;
	}*/

}
@media only screen and (max-width: 1320px) {
	.exam-field-cancel{
		margin-left: 74%;
	}
}
@media only screen and (max-width: 1213px) {
	.new-comment-discussion .content{
	    float: left;
	    width: 81%;
	}
}
@media only screen and (max-width: 1200px) {
	.about-the-school {
		font-size: 3.5vw;
		margin-left: 0px;
	}

	.slider-caption .slider-caption-title {
        font-size: 52px;
        font-size: 3.5vw;
    }

    .course-featureds{
		width: 71vw;
		margin-top: -2em;
    }

    .view-more-btn{
    	margin-top: 280px;
    }

    .slick-prev, .slick-next{
    	top: 42%;
    }

    .course-slider h1{
    	font-size: 4.1vw;
    }

	/*student*/
	/*exam*/
    .searched-items .item .aside-image {
	    margin-right: 22px;
	}

	.searched-items .item .content-details {
	    width: 67%;
	}

	/*exam-field*/

	.exam-field-cancel {
	    margin-left: 72%;
	}

	/*teacher*/
	/*exam*/

	.teacher-exam{
		width: 12.499999995%
	}

	.exam-manager-container .main-content .header-row .aside-image img{
		width: 18vw;
    	height: 18vw;
	}

	.search-sidebar .searched-items .item{
		height: auto;
	}

	.search-sidebar .create-new{
		height: auto;
		font-size: 1.2vw;
	}

	.list-menu-main{
		font-size: 1.1vw;
	}

	.list-menu-main .item .circle{
		margin-top: 8%;
	}

	.membership-con2, .membership-con3{
		margin-left: 0;
		margin-top: 0;
	}

	.membership-choice-holder{
	    margin-left: 0em;
	}

	.membership_bg{
		height: auto;
	}

	.success-logo img{
	    width: 100%;
	}

}


@media only screen and (max-width: 1150px) {
	.exam-field-cancel{
		margin-left: 70%;
	}
	.success-btn{
		width: 60%;
	}
}

@media only screen and (max-width: 1098px) {
	.new-comment-discussion button{
	   margin-right: 1.3em;
	}
}

@media only screen and (max-width: 1091px) {
	.new-comment-discussion button{
	   margin-right: 2em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 79%;
	}
}

@media only screen and (max-width: 1080px) {
	.exam-field-cancel{
		margin-left: 67%;
	}
}


@media only screen and (max-width: 992px) {
	.about-the-school {
		font-size: 3.5vw;
		margin-left: 0px;
	}

    .slider-caption .slider-caption-title {
        font-size: 52px;
        font-size: 3.5vw;
    }

    .course-featureds{
		width: 71vw;
		margin-top: 1em;
		left: 2.7em;
    }

    .course-slider h1{
    	font-size: 3.5vw;
    }

    .view-more-btn{
    	margin-top: 383px;
    }

    .slick-prev, .slick-next{
    	top: 42%;
    }

    .slick-prev{
    	left: 0;
    }

	.reviewsliderslick .slick-slide .review-slider-avatar img {
	    height: auto;
	    width: 100%;
	}

	.about-the-school {
	    font-size: 3.5vw;
	    margin-left: 0px;
	}

    .about-desc {
	    font-size: 2vw;
	}

	/*student*/
	/*exam*/
	.exam-manager-container .search-sidebar {
	    min-height: 0;
	    height: 100%;
	    border-right: 1px solid #e6e6e6;
	    padding: 0;
	}

	.std-exam-aside-2-col{
		padding-left: 0;
	    padding-top: 3.7em !important;
	    border-top: 3px solid #e6e6e6;
	}

	.exam-manager-container .main-content{
		margin-top: 3.5em;
		margin-bottom: 60px;
	}

	.searched-items .item .aside-image {
	    margin-right: 22px;
	}

	.searched-items .item .content-details {
	    width: 67%;
	}

	.std-exam-aside-2-col .searched-items .item{
		border-bottom: 1px solid #e6e6e6;
	    padding: 10px 5px;
	    border-top: 4px solid #e6e6e6;
	}

	/*exam-field*/
	.exam-manager-container .main-content .control-row {
	    margin-top: 6em;
	}

	.exam-field-cancel {
	    margin-left: 65%;
	}

	.description .col-1{
		margin-right: 10px;
	}

	.discussion-comment-form div {
	    margin-bottom: 10px;
	}

	.discussion-comment-form .col-1{
		margin-right:36px;
	}

	.discussion-comment-form .col-1{
		margin-right:36px;
	}

	/*take-exam*/
	.exam-section-detail-col {
	    margin-top: 0 !important; 
	}

	.return-test{
	    border-bottom: 0px;
	    padding: 5px 7px;
	    margin-top: 13px;
	    margin-bottom: 0;
	}

	.exam-manager-container .main-content .header-row .aside-image img{
		width: 18vw;
    	height: 18vw;
	}

	.list-menu-main .item{
		overflow: hidden;
		height: auto;
	}

	.search-sidebar .searched-items .item{
		height: auto;
	}

	.search-sidebar .create-new{
		height: auto;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg{
		width: 20vw;
    	height: 20vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg span {
    	/* margin: auto; */
	     font-size: 12.5vw; 
	    position: relative;
	    top: -2vw;
	}

	.student-grade-items-row{
		padding-left: 0;
	}

	.assign-btn button{
		margin-right: 0;
	}

	.view-assign {
	    padding: 1.5em 2.5em;
	}

	.assign-content {
	    width: 100%;
	}

	.list-menu-main .item span {
	    width: 18px;
	}

	.profile-menu-row .profile-stats{
		width: 45vw !important;
		padding-top: 0em;
	}

	.profile-menu-row .profile-stats .item{
		width: 9vw !important;
	}

	/*login*/
	.ag-register-modal-container .aside-main{
		width: 100% !important;
	}

	.ag-register-modal-container .aside-banner{
		height: 100%;
	}

	.new-comment-discussion button{
	   margin-right: 2.5em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 76%;
	}


}

@media only screen and (max-width: 942px) {
	.exam-field-cancel {
	    margin-left: 62%;
	}
}

@media only screen and (max-width: 877px) {
	.exam-field-cancel {
	    margin-left: 58%;
	}
}

@media only screen and (max-width: 875px) {
	.new-comment-discussion .content{
	    float: left;
	    width: 73%;
	}
}

@media only screen and (max-width: 850px) {
	.exam-manager-container .main-content .header-row .aside-image .noImg span {
    	/* margin: auto; */
	     font-size: 12.5vw; 
	    position: relative;
	    top: -4vw;
	}

	.student-grade-row .details p{
		max-height: 220px;
	}

	.list-menu-main .item span {
	    width: 10px;
	}

	.exam-field-cancel {
	    margin-left: 55%;
	}
	.new-comment-discussion button{
	   margin-right: 1.7em;
	}
}


@media only screen and (max-width: 784px) {
	.new-comment-discussion button{
	   margin-right: 2.2em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 70%;
	}

}

@media only screen and (max-width: 767px) {
	.std-exam-aside-2-col{
		padding-left: 0;
	    padding-top: 0em !important;
	    border-top: 3px solid #e6e6e6;
	}

	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 64%;
	}

	.exam-take-choices{
		margin-left: 33.333333%;
	}

	.exam-take-choices{
		margin-left: 0%;
	}

	.return-test{
	    border-bottom: 0px;
	    padding: 10px 7px;
	    margin-top: 0;
	    margin-bottom: 0;
	}

	.about-flag-cont{
		display: none;
	}

	.about-the-school {
	    font-size: 7.5vw;
	    margin-left: 0px;
	}

	.about-the-school {
		margin: 1em auto 1em;
	}

	.about-desc {
	    font-size: 3vw;
	}

	.slider-caption .slider-caption-btn.btn{
		font-size: 2.5vw !important;
	}

	/*teacher*/
	/*exam*/
	.exam-manager-container .sidebar{
		min-height: 0;
	}

	.list-menu-main .item{
		font-size: 2.5vw;
	}

	.list-menu-main .item .circle{
		margin-top: 2%;
	}

	.aside-image{
		text-align: center;
		margin-bottom: 2em;
	}

	.exam-manager-container .main-content .header-row .main-description {
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description p {
	    font-size: 1em;
	    height: auto;
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description .controls{
		margin-left: 26%;
	}

	.exam-manager-container .main-content .control-row{
		margin-top: 0em;
	}

	/*category*/
	.teacher-category{
		margin-left: 0;
	}

	.exam-manager-container .main-content .header-row.teacher-cate{
		padding-top: 0;
		padding-bottom: 4em;
	}

	/*question*/
	.teacher-question{
		margin-left: 0;
	}

	/*new exam*/
	.teacher-new-exam{
		margin-left: 20px;
	}

	.ag-register-modal-container{
		left: 0vw;
	}

	.ag-register-modal-container .inner-container .input-modal-form {
	    width: 84vw !important;
	}

	.exam-manager-container .main-content .header-row .aside-image img{
		width: 32vw;
    	height: 32vw;
	}

	.col-sm-12 ul.edit-ul{
		padding-left: 0 !important;
	}

	.circling-title{
		margin-left: 7vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg{
		margin-left: 27vw;
	}

	.main-description .controls.bank-q1{
		margin-left: 13% !important;
	}

	.main-description .bank-q2{
		margin-left: 0 !important;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg{
		width: 35vw;
    	height: 35vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg span {
	    /* margin: auto; */
	    font-size: 18.5vw;
	    position: relative;
	    top: 2vw;
	}

	/*edit exam*/

	.table-ul-con{
		margin: 0 auto;
    	width: 100%;
	}

	.exam-pic{
	    position: relative;
	    right: 12em;
	}


	.list-menu-main .item span {
	    width: 25px;
	}

	.search-sidebar .create-new{
		font-size: 2.5vw;
	}

	.notif-img {
	    margin-top: 2em;
	}

	.notif-img img {
	    width: 85%;
	}

	.message h3{
	    margin-top: .5em;
	    font-size: 4.5vw;
	}

	.message p{
	    font-size: 2.4vw;
	    text-align: left;
	    line-height: 2.5vw;
	}

	.membership-container{
		margin: 0 auto;
	}

	.contact-us-container {
	    height: auto;
	}

	.contact-col2{
		margin-left: 15%;
	}

	.contactus-input {
	    width: 80%;
	}

	.contact-head {
	    margin-top: 13% !important;
	}

	.cs-image{
		width: 50%;
		margin: 0 auto;
	}

	.pricing2{
		width: 70%;
    	margin: 0 auto;
	}

	.pricing2-pos1 {
	    position: relative;
	    top: -1.5em;
	}

	.pricing2-pos2{
	    position: relative;
	    top: 0em;
	}

	.pricing2-pos3 {
	    position: relative;
	    top: 1.5em;
	}

	/*login*/
	.ag-register-modal-container .aside-main{
		padding-left: 0;
	}

	/*register*/
	.success-logo{
	    margin-left: 1em;
	    margin-top: -1em;
	}

	.success-logo img{
	   display: none;
	}

	.success-btn{
		width: 60%;
	}

	.profile-table{
	    margin-left: 0em;
	}

	.discussion-container .discuss-item .content{
	    width: 100%;
	}

	.discussion-container .discuss-item .content3{
	    width: 100%;
	}

	.new-comment-discussion .content{
	    float: left;
	    width: 77%;
	}

	/*exam*/
	.exam-manager-container .main-content .header-row .main-description{
		padding-left:15px;
	}

	.arrow_courses, .arrow_courses_right{
		display: none;
	}

	.arrow_courses_m{
		display: block;
	    right: 0;
	    left: 48%;
	}


}

@media only screen and (max-width: 690px) {
	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 61%;
	}
}

@media only screen and (max-width: 683px) {
	.new-comment-discussion button{
	   margin-right: 2em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 74%;
	}
}

@media only screen and (max-width: 660px) {
	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 58%;
	}

	/*teacher*/
	/*exam*/
	.exam-manager-container .sidebar{
		min-height: 0;
	}

	.list-menu-main .item{
		font-size: 3.5vw;
	}

	.list-menu-main .item .circle{
		margin-top: 2%;
	}

	.search-sidebar .search-controls {
	    padding-top: 1em;
	    height: 66px;
	}

	.aside-image{
		text-align: center;
		margin-bottom: 2em;
	}

	.exam-manager-container .main-content .header-row .main-description {
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description p {
	    font-size: 1em;
	    height: auto;
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description .controls{
		margin-left: 21%;
	}

	.exam-manager-container .main-content .control-row{
		margin-top: 0em;
	}

	/*category*/
	.teacher-category{
		margin-left: 0;
	}

	.exam-manager-container .main-content .header-row.teacher-cate{
		padding-top: 0;
		padding-bottom: 4em;
	}

	/*question*/
	.teacher-question{
		margin-left: 0;
	}

	.ag-register-modal-container{
		left: 0vw;
	}

	.ag-register-modal-container .inner-container .input-modal-form {
	    width: 84vw !important;
	}

	.exam-manager-container .main-content .header-row .aside-image img{
		width: 40vw;
    	height: 40vw;
	}

	.circling-title{
		margin-left: 7vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg{
		margin-left: 27vw;
	}

	.main-description .controls.bank-q1{
		margin-left: 5% !important;
	}

	.main-description .bank-q2{
		margin-left: 0 !important;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg span {
	    /* margin: auto; */
	    top: -1vw;
	}

	.exam-pic{
	    position: relative;
	    right: 8em;
	}


	.profile-menu-row .profile-stats{
		width: 50vw !important;
		padding-top: 0em;
	}

	.profile-menu-row .profile-stats .item{
		width: 11vw !important;
	}


}

@media only screen and (max-width: 630px){
	.exam-manager-container .main-content .header-row .main-description .controls {
	    margin-left: 25%;
	}

	.table-ul-con{
		margin: 0 auto;
    	width: 100%;
	}

	.profile-menu-row .profile-stats{
		width: 88vw !important;
		padding-top: 2em;
	}

	.profile-menu-row .profile-stats .item{
		width: 22vw !important;
	}

	.popup-passcon {
		margin-right: 1em;
	}

	.pop-up-rememberme{
		float: left;
		margin-right: 25%;
	}

	.reg-pop-up-header{
		height: 28em;
	}
}

@media only screen and (max-width: 609px) {
	.new-comment-discussion button{
	   margin-right: 2em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 71%;
	}
}

@media only screen and (max-width: 604px) {
	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 55%;
	}

	.about-school-h6 {
		font-size: 1.25rem;
		text-align: justify;
		margin: 0 auto;
		padding: 0 1.3em;
	}
}

@media only screen and (max-width: 569px) {
	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 51%;
	}
}

@media only screen and (max-width: 550px) {
	.new-comment-discussion button{
	   margin-right: 2em;
	}
	.new-comment-discussion .content{
	    float: left;
	    width: 67%;
	}
}



@media only screen and (max-width: 533px) {
	.about-the-school {
		font-size: 7.5vw;
	}

	.about-the-school {
		margin: 1em auto 1em;
	}
	
    .slider-caption .slider-caption-title {
        font-size: 52px;
        font-size: 3.5vw;
    }

    .course-featureds{
		width: 71vw;
		margin-top: 2em;
		left: 3em;
    }

    .slick-prev, .slick-next{
    	top: 42%;
    }

    .course-slider h1{
    	font-size: 7.5vw;
		margin-top: 3em;
		padding-top: 0;
    }

    .course-slider p{
    	font-size: 3vw;
    }

    .view-more-btn{
    	margin-top: 304px;
    }

    .about-desc {
	    font-size: 3.58vw;
	}

	.review-slider .testimony-holder .testimony {
	    font-size: 3.5vw;
	}

	/*student*/
	/*exam*/
	.exam-manager-container .search-sidebar {
	    min-height: 0;
	    height: 100%;
	    border-right: 1px solid #e6e6e6;
	    padding: 0;
	}

	.std-exam-aside-2-col{
		padding-left: 0;
	     padding-top: 0em !important;
	    border-top: 3px solid #e6e6e6;
	}

	.exam-manager-container .main-content{
		margin-top: 0;
		margin-bottom: 60px;
	}

	.searched-items .item .aside-image {
	    margin-right: 10px;
	}

	.searched-items .item .content-details {
	    width: 70%;
	}

	/*exam-field*/
	.exam-field-cancel {
	    margin-left: 45%;
	}

	.exam-take-choices{
		margin-left: 33.333333%;
	}

	/*take-exam*/
	.exam-section-detail-col {
	    margin-top: 0 !important; 
	}

	.discussion-comment-form .col-1 label{
		font-size: .8em;
	}

	/*teacher*/
	/*exam*/
	.exam-manager-container .sidebar{
		min-height: 0;
	}

	.list-menu-main .item{
		font-size: 3.5vw;
	}

	.list-menu-main .item .circle{
		margin-top: 2%;
	}

	.search-sidebar .search-controls {
	    padding-top: 1em;
	    height: 66px;
	}

	.aside-image{
		text-align: center;
		margin-bottom: 2em;
	}

	.exam-manager-container .main-content .header-row .main-description {
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description p {
	    font-size: 1em;
	    height: auto;
	    text-align: center;
	}

	.exam-manager-container .main-content .header-row .main-description .controls{
		margin-left: 10%;
	}

	.exam-manager-container .main-content .control-row{
		margin-top: 0em;
	}

	/*category*/
	.teacher-category{
		margin-left: 0;
	}

	.exam-manager-container .main-content .header-row.teacher-cate{
		padding-top: 0;
		padding-bottom: 4em;
	}

	/*question*/
	.teacher-question{
		margin-left: 0;
	}

	/*new exam*/
	.teacher-new-exam{
		margin-left: 20px;
	}

	.ag-register-modal-container{
		left: 0;
	}

	.ag-register-modal-container .inner-container .input-modal-form {
	    width: 84vw !important;
	}

	.exam-manager-container .main-content .header-row .aside-image img{
		width: 60vw;
    	height: 60vw;
	}

	.circling-title{
		margin-left: 5vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg{
		margin-left: 18vw;
	}

	.exam-manager-container .main-content .header-row .main-description .controls.bank-q-back{
		margin-left: 13%
	}

	.main-description .controls.bank-q1{
		margin-left: 7% !important;
	}

	.main-description .bank-q2{
		margin-left: 0 !important;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg span {
	    top: -5vw;
	}

	.exam-pic{
	    position: relative;
	    right: 3em;
	}

	.search-sidebar .create-new{
		font-size: 3vw;
	}

	.notif-img {
	    margin-top: 0em;
	}

	.message h3 {
	    margin-top: .5em;
	    font-size: 5.5vw;
	}

	.message p {
	    font-size: 2.8vw;
	    text-align: left;
	    line-height: 3vw;
	}

}

@media only screen and (max-width: 488px){
	.new-comment-discussion .content {
	    float: left;
	    width: 90%;
	}
}

@media only screen and (max-width: 480px){
	.exam-manager-container .main-content .header-row .main-description .controls {
	    margin-left: 10%;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg {
	    margin-left: 30vw;
	}

	.exam-manager-container .main-content .header-row .aside-image .noImg span {
	    top: -10vw;
	}

	.table-ul-con{
		margin: 0 auto;
    	width: 100%;
	}

	.exam-field-cancel {
	    margin-left: 42%;
	}

}

@media only screen and (max-width: 462px){
	.exam-field-cancel {
	    margin-left: 33%;
	}
}

@media only screen and (max-width: 412px){
	.exam-field-cancel {
	    margin-left: 26%;
	}
}


@media only screen and (max-width: 380px){
	.exam-field-cancel {
	    margin-left: 20%;
	}
}


/*Course Sections Modal for mobile only*/

@media only screen and (max-width: 942px) {
	.course-modal-mobile-only{
		position: absolute;
		z-index: 1000;
		top:0;
		left: 0;
		width: 100%;
		height: 706px;
		background: rgba(54, 54, 54, .7);
		position: fixed;
		margin: 0;
	}

	.course-modal-mobile-only .col-md-12{
		margin-top: 28vh;
	}

	.course-modal-mobile-only .table-courses-main-accor{
		width: auto;
	}

	.table-courses-sub-accor ul{
		padding-left: 5px;
		list-style-type: none;
	}
	.table-courses-sub-accor li{
		font-size: .8rem;
	}

	.course-modal-mobile-only .course-section-closer:hover{
		opacity: 1;
	}
	.course-modal-mobile-only .course-section-closer{
		display: block;
		position: absolute;
		font-size: 21px;
		color: white;
		top: 15vh;
		right: 25px;
		cursor: pointer;
		opacity: 0.5;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
		-webkit-transition: 0.25s;
		transition: 0.25s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}