/*colors*/
.green{
	color: #28a745;
}

.red{
	color: #dc3545;
}

.about img{
	width: 100%;
	height:100%;
}


/*courses*/
.course-scroll{
	margin-left: -30px;
}

.course-featureds{
	height: auto;
}

/* .slick-prev {
     left: 200px; 
} */

.slick-dots li{
	margin: 0 10px;
}

.about-the-school {
    font-size: 36px;
}

/*footer*/
.footer-contact-us ul li {
    height: auto;
    color: gray;
    padding-bottom: 10px;
}
.footer-contact-us ul li a{
    color:inherit;
}

/*student*/
/*exam*/
.search-sidebar .searched-items {
    max-height: 550px;
    overflow-y: auto; 
}

.std-exam-aside-2-col{
    padding-left: 0;
    padding-top: 4.4em;
    border-right: 1px solid #e6e6e6;
    padding-right: 0;
}

.std-exam-aside-2-col .searched-items .item{
	border-bottom: 1px solid #e6e6e6;
    padding: 5px;
    min-height: 150px;
}

.std-exam-aside-2-col .section-item{
	min-height: 65px !important;
}

.exam-worksheet{
	background-color: #fff;
}

.exam-field-cancel{
	margin-left: 78%; /*63.5vw;*/
    margin-bottom: 0;
    margin-top: 11px;
}

.exam-field-cancel a{
	color: #fff;
    background-color: #036564;
    padding: .5em 0.75em;
    border-radius: 14px;
}

.exam-field-cancel a:hover{
    text-decoration: none;
}

.exam-take-form{
	margin-bottom: 1em;
}

.exam-take-question-col .controls.left {
    z-index: 999;
}

.exam-take-question-col .controls.right {
    z-index: 999;
}

.edit-ul{
   padding-left: 0;
}

.table-ul .title{
    width: 11em;
}

.table-ul3{
    margin: 1em 0;
}

.table-ul3 .title{
    width: 3em;
}

.table-ul3 td:not(.title) {
    width: 18em;
    display: inline-block;
}

.table-ul2{
    margin-bottom: 1em;
    width: 100%;
}

.exam-pic{
    position: relative;
    right: 0em;
}

.table-ul2 .input, .table-ul2 .title{
    padding-bottom: .7em;
}

.edit-ul li{
    list-style: none;
}

.attachement_audio{
	margin-left: -60px;
}

audio {
    /*width:100px;
    height: 54px;*/
    display: block;
}

.description .col-1 .descrip-student{
	margin-right: 10px;
}

.discussion-comment-form .col-1 label{
	font-size: .8em;
}

.return-test{
	margin-bottom: 5px;
    border-bottom: 3px solid #e6e6e6;
    padding: 12px;
    background: #033649;
}

.return-test span, .return-test a{
	color: #fff; /*#033649*/
    font-weight: 600;
}

.return-test span, .return-test a:hover{
    text-decoration: none;
}

.return-test p{
	margin-bottom: 0;
	color: #033649;
}

.exam-manager-container .main-content .header-row .main-description p {
    height: auto;
    /* max-height: 100px; */
    overflow-y: -moz-hidden-unscrollable;
}

.ag-register-modal-container .inner-container {
    max-width: 91vw;
}

.ag-register-modal-container .inner-container .input-modal-form{
    width: 45vw !important;
    min-width: 620px;
}

.ag-register-modal-container{
	left: 37.5vw;
}

.ag-register-modal-container .inner-container .input-modal-form{
	/* overflow-y: scroll; */
    min-height: 150px;
    max-height: 550px;
}

.modal-close{
	background: #fff;
    border: 1px #ddd solid;
    padding: .25rem 2.5rem;
}

.alert{
	margin-bottom: 0;
}

.exam-manager-container .main-content .section-row .section-item .section-item-header{
	height: 38px;
}

.section-row .section-item .section-item-header .title {
    float: left;
    padding-top: .2em;
}

.section-row .section-item .section-sub-items ul li.worksheet{
	background-color: #A0D468;
}

.section-row .section-item .section-sub-items ul li.unit_test{
	background-color: #AAB2BD;
}

.section-row .section-item .section-sub-items ul li{
    background-color: #ddd;
}

.questions_back{
	margin-left: 1em;
}

/*edit question*/
.choices-preview{
	width: 96%;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

.choices-preview h4{
	background-color: #036564;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 41px;
    padding-left: 17px;
    margin-left: 0 !important;
    font-size: 1.5rem;
}

.choices-preview span.icons{
	float: right;
    margin-right: 16px;
    margin-top: 8px;
    font-size: 1.3rem;
}

.choices-preview ul li:last-child{
	border-bottom: none !important;
}

.choices-preview ul li.right-answer{
	background-color: #A0D468;
    color: #fff;
}

.right-answer{
	background-color: #A0D468;
    color: #fff;
}

.choices-preview div{
	/*margin-right: 1em;*/
}

.ch-img img, .ch-aud audio{
	width: 100%;
}

.ch-body{
	padding: 0 25px 25px 25px;
}

.ch-item{
	text-align: center;
}

.new-ques-1{
	border: 1px solid #ddd;
	padding-top: 15px;
}

.new-ques-2{
	margin-bottom: 15px;
	/*border-top: 1px solid #ddd;
    padding-bottom: 15px;*/
}

.ques-choice{
   font-weight: 600;
   padding-right: 0;
   /* margin-right: 3em; */
}

.ques-choice2{
    font-weight: 600;
    margin-right: 2.2em;
}

.ques-choice3{
    font-weight: 600;
    margin-right: 2.9em;
}

/*new question*/
.success-btn{
	padding: .25rem .5rem;
}

.choices-table{
	width: 100%;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid #e6e6e6;
   /* padding-bottom: 25px;*/
}

.choices-table h4{
	background-color: #036564;
    color: white;
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding-left: 17px;
    margin-left: 0 !important;
    font-size: 1rem;
}

.choices-table span.icons{
	float: right;
    margin-right: 16px;
    margin-top: 8px;
    font-size: 1rem;
}

.choices-table ul{
	padding: 0;
}

.choices-table ul li {
    max-height: 195px;
    padding-left: 25px;
    border-bottom: 2px solid #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
}

.choices-table ul li:last-child{
	border-bottom: none !important;
}

.choices-table ul li.right-answer{
	background-color: #A0D468;
    color: #fff;
}

.choices-table div{
	margin-right: 1em;
}

.search-sidebar .searched-items .item {
    height: 90px;
}

.searched-items .item .aside-image{
	margin-right: 23px;
}

.searched-items .item .content-details {
    float: left;
    width: 70%;
}

.searched-items .item .aside-image img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.searched-items .item .aside-image img{
	margin-top: 5px;
}

.circling-title{
	margin-top: 6px;
    width: 68px;
    height: 68px;
    margin-left: 0;
    line-height: 64px;
}


/*assignment*/
.aside-image2{
	text-align: center;
}

.assign-content{
	width: 90%;
}

.controls button.assign_btn{
	width: 172px !important;
}

.content{
	margin: .5em 1em;
}

.view-assign{
	padding: 1.5em 3.5em;
}

.view-assign h4{
	font-weight: 800;
    margin: 1em 0;
}

.view-assign .form-group{
	margin-bottom: 0;
}

.view-assign .form-group2{
	margin-bottom: 1em;
}

.assign-update{
	height: 200px;
    background-color: #f5f7fa;
    margin-left: 15px;
    margin-left:-1.5em;
}

.assign-bg{
	background-color: #f5f7fa;
}

.mg-l15{
	margin-left: 15px;
}

.mg-b3em{
	margin-bottom: 3em;
}

.assign-grade{
	background-color: #f5f7fa;
    padding: 0.1em .5em;
    width: 250px;
    display: inline;
    margin-right: 20px;
}

.assign-btn{
	margin:3em auto;
}

.assign-btn button{
	border: 3px solid #f5f7fa;
    /*background: #fff;*/
    padding: .5rem 4.5rem;
    border-radius: 7px;
    margin-right: 7em;
}

.view-assign-br{
	border-bottom: 1px #ddd solid;
	margin-bottom: 10px;
}

.calendar{
	background: url(../images/calendar.png) 98% center no-repeat;
    background-size: 23px;
}

.teacher-banner{
	background: url(../images/profile-bg/White.jpg) center center no-repeat;
}
.profile-sub-level{
    font-size: 24px;
}
.cover-sub-1{
    color:#DD4B4B;
}
.cover-sub-2{
    color:#031634;
}
.cover-sub-3{
    color:#031634;
}
.cover-sub-6{
    color:#F5F7FA;
}
.cover-sub-7{
    color:#FFCE54;
}
.cover-sub-10{
    color:#FFCE54;
}
.cover-sub-12{
    color:#FFCE54;
}
.cover-banner-1{
	background: url(../images/profile-bg/White.jpg) center center no-repeat;
}
.cover-banner-2{
	background: url(../images/profile-bg/Yellow.jpg) center center no-repeat;
}
.cover-banner-3{
	background: url(../images/profile-bg/Yellow_White.jpg) center center no-repeat;
}
.cover-banner-4{
	background: url(../images/profile-bg/Red_Yellow.jpg) center center no-repeat;
}
.cover-banner-5{
	background: url(../images/profile-bg/Red_White.jpg) center center no-repeat;
}
.cover-banner-6{
	background: url(../images/profile-bg/Red.jpg) center center no-repeat;
}
.cover-banner-7{
	background: url(../images/profile-bg/Light_Blue_White.jpg) center center no-repeat;
}
.cover-banner-8{
	background: url(../images/profile-bg/Light_Blue.jpg) center center no-repeat;
}
.cover-banner-9{
	background: url(../images/profile-bg/Green_White.jpg) center center no-repeat;
}
.cover-banner-10{
	background: url(../images/profile-bg/Green_Light_Green.jpg) center center no-repeat;
}
.cover-banner-11{
	background: url(../images/profile-bg/Dark_Blue_White.jpg) center center no-repeat;
}
.cover-banner-12{
	background: url(../images/profile-bg/Dark_Blue.jpg) center center no-repeat;
}
.cover-banner-13{
	background: url(../images/profile-bg/trans.png) center center no-repeat;
}




.sender_reply {
    /*font-size: 12px;*/
    text-align: right;
    padding-right: 15px;
}

.sender_reply button{
	color: #fff;
}

.discussion-container .discuss-item2{
	padding: 0em 1em 1em;
}

.discussion-container .discuss-item3{
    padding: 0em 4em 1em 5em;
}

/*grades*/

.student-grade-row {
    margin-left: 0;
}

.student-grade-row .details{
	margin-left: 15px;
}

.student-grade-row .details p{
	min-height: 120px;
	max-height: 0;
}

.student-grade-row .btn-more-opt {
    position: relative;
    left: -30px;
}

.student-grade-items-row .col-items .grade-item{
	width: 100%;
}

.g-wid-100{
	width: 100%;
}

.btn-green {
    background-color: #036564;
    border-color: #036564;
}

.grade-score-item .header-title{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 1em;
}

.grade-score-item .header-title .title{
	font-size: 20px;
    font-weight: bold;
    color: #036564;
}

.grade-score-item .grade{
	font-size: 28px;
    font-weight: bold;
    color: #036564;
    line-height: 1em;
    /* text-align: center; */
}

.grade-score-item .btn-indepth{
	font-weight: bold;
    color: white;
    background-color: #036564 !important;
}

.grade-list th, .grade-list td{
	border-top: 0px;
	text-align: center;
}

.grade-list thead th{
	font-size: 1.5rem;
	border-bottom: 0 solid transparent;
}

.grade-list td div input{
	background: #f5f7fa;
    padding: .5em .5em;
    width: 50% !important;
}

.grade-list td div input.grade-input{
	background: #f5f7fa;
    width: 25% !important;
}

.grade-list td span.mgrl10{
	margin-left: 10px;
    margin-right: 10px;
}


/*dashboard*/
.exam-manager-container .teacher-exam{
    padding-top: 0;
    margin-top: 0;
    padding-top: 1.5em;
}

.dashboard{
    margin-top: 2em;
}

.dashboard-row{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.main-take-exam-row .question-item{
    box-shadow: 1px 1px #ddd;
}

.question-item .date{
    float: right;
    margin-right: 1em;
    font-weight: 200;
}

.main-take-exam-row .question-item .header.bg-lgreen{
    background-color: #A0D468;
    color: #fff;
}

.main-take-exam-row .question-item .header.bg-white{
    background-color: #fff;
    color: #036564;
}

/*discussions*/
.discuss-item .details{
    margin: 1em 1em;
    border: 1px #ddd solid;
    padding: 1em;
    border-radius: 10px;
}

.discuss-item .details2{
    margin: 1em -3em .5em 1em;
}

.discuss-item .details3{
    margin: 1em 0;
}

.discuss-item2 .view-btn{
    padding: .25rem 3rem;
    background-color: #033649;
    border-color: #033649;
}

.discussion-container .discuss-item .details .sender_reply a.view-btn{
    color: #fff;
}

.exam-manager-container .main-content .section-row .section-item .section-item-header{
    margin-bottom: 10px;
}


/*student*/
.no-new-container .message{
    /*background: url(../images/staticimage/notification.png) center center no-repeat;
    width: 50vw;
    height: 67vh;*/
}

.no-new-container{
    background-color: #fff;
    min-height: 35px;
    line-height:1.6vw;
}

.no-new-container .message{
    color: #434a54;
}

.message h3{
    margin-top: .5em;
    font-size: 2.5vw;
    font-weight: 800;
}

.message p{
    font-size: 1.3vw;
    text-align: left;
}

.notif-img{
    margin-top: 10.4em; /*6em;*/
}

.notif-img2{
    margin-top: 9.7em; /*10em;*/
}

.notif-img3{
    margin-top: 13em;
}

.notif-img4{
    margin-top: 9.7em; /*6em;*/
}

.notif-img img{
    width: 65%;
}

.main-content2{
    margin-top: 0 !important;
}

.test-container{
    padding: 1em 2em 0em 2em;
}

.test-container h2{
    font-weight: 800;
}

.ques-con{
    background: #e5e5e5;
    padding: 2em 3em 2em 3em;
    border-radius: 10px;
    margin: 2em 0em;
    border: 1px solid #e5e5e5;
}

.container-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-label img{
    width: 60%;
    height: auto;
}

/* Hide the browser's default radio button */
.container-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #033649;
}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-label input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-label .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #033649;
}

.exam-take-choices-check{
    padding: .2em 1em;
}

.exam-take-choices-check label{
    margin-bottom: 0;
}

.active-check{
    background: #e5e5e5;
    border-radius: 10px;
}

.searched-items .item .content-details .description{
    height: auto; /*auto;*/
    text-align: justify;
}

.searched-items .item .content-details .description p{
    margin-bottom: 0;
}

.descrip-student{
    text-align: center;
}

.discussion-comment-form .comment_profile{
    text-align: center;
    margin-left: 14px;
}


.discussion-comment-form .comment_profile label{
    margin-bottom: 0;
    font-size: 14px;
}

.discussion-comment-form .comment_profile label.location{
    font-size: 12px;
}


/*teacher*/
.choices-table .buttons {
    margin-bottom: 1em;
}

/*.discussion-container .discuss-item .content2{
    margin-left: 13em;
}

.discussion-container .discuss-item .content textarea{
    width: 92%;
}*/

/*register*/
.white-modal-container{
  background: rgba(255, 255, 255, .8);
}

.register_modal{
    text-align: center;
    margin: 4em 0 0;
}
.register_modal.tp-2em{
    text-align: center;
    margin: 0.8em 0 0;
}
.register_modal img{
    width: 45%;
}

.register_modal h1{
    background-color: #033649;
    width: 70%;
    text-align: center;
    margin: .5em auto .3em auto;
    padding: .2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border-radius: .6em;
}

.register_modal h3{
    background-color: #033649;
    width: 85%;
    text-align: center;
    margin: .5em auto .3em auto;
    border-radius: .6em;
    padding: .2em;
    color: #fff;
    font-weight: 600;
}

.register_modal h4{
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #033649;
    font-weight: 600;
}

.form_rmodal{
    width: 70%;
    margin: 1.5em auto .3em auto;
}

.form_rmodal input,  .form_rmodal select{
    border: 2px solid #033649;
    border-radius: 1rem; 
    /*border-radius: .6em;*/
    padding: .7rem .75rem;
    font-size: .9rem;
    width: 100%;
    background: #fff;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

.form_rmodal .form-group{
    margin-bottom: .5rem;
}

.country_select{
    width: 20vw !important;
}

.country_select select{
    width: 19vw !important;
}

.age_select{
    width: 10.2vw !important;
}

.age_select select{
    width: 10.2vw !important;
}

.age_select input{
    width: 10.2vw !important;
}

.form_rmodal select.form-control:not([size]):not([multiple]){
    height: auto;
}

.form_rmodal button{
    border-radius: 1rem; 
    text-transform: uppercase;
}

.form_rmodal button.btn-lg{
    padding: .5rem 3rem;
}

.form_rmodal button.sign-up{
    background-color: #098281;
    border-color: #098281;
}

.form_rmodal .btn-holder{
    margin-top: 1.2em;
}

.pop-up-yellow-signup2{
    color:#033649;
    text-decoration: none;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.pop-up-yellow-signup2:hover{
    color:#098281;
    text-decoration: none;
}

.verification{
    color:#033649;
    font-weight: 600;
    margin-top: 40vh;
}

.register-modal-dialog.complete-profile-dialog.bg-register{
    background: url(../images/staticimage/bg_register.jpg) no-repeat #fff;
    background-size: cover;
    /* height: auto !important; */
    min-height: 100vh;
    overflow-y: scroll;
}

.complete-profile-form {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, .8);
}

.country_select2{
    width: 60% !important;
}

.country_select2 select{
    width: 95% !important;
}

.age_select2{
    width: 39% !important;
}

/*.age_select2 select{
    width: 10.5vw !important;
}*/

.age_select2 input{
    width: 100% !important;
}

.form_rmodal input.register_date{
    background: url(../images/calendar.png) 97% center no-repeat;
}

.membership_btn{
    margin-top: 1em !important;
}

/*membership*/
.membership-container{
    background: url(../images/staticimage/bg_membership4.png) center center no-repeat;
    width: 292px;
    height: 514px;
    text-align: center;
    margin-bottom: 3em;
}

.membership-container h1.title{
    color: #fff;
    font-weight: 700;
    padding: .8em 0;
    margin-left: -1em;
    text-transform: uppercase;
}

.membership-container h1.price{
    color: #fff;
    font-weight: 700;
    padding: .3em 0;
    font-size: 4.5rem;
    margin-left: .6em;
    text-transform: uppercase;
}

.membership-container p.validity{
    color: #fff;
    padding: 3.2em 0 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: left;
    margin-left: 55px;
}

.membership-container p.subtext{
    color: #fff;
    font-size: .7rem;
    margin-left: 5em;
    text-align: left;
}

.membership-container p.subtext2{
    margin-left: 2em;
}

.membership-container h3.started{
    padding: 0.5em 0;
    margin-left: -1.7em;
    text-transform: uppercase;
    font-weight: 800;
}
.membership-container h3.started.started2{
    padding: 0;
}
.membership-container h3.started a{
    color: #fff;
}

.membership-container h3.started button.btn-link{
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    font-size: 1.8rem;
}

.membership-con2{
    margin-left: -6em;
    margin-top: -1em;
}

.membership-con3{
    margin-left: -12em;
    /* margin-top: 1em; */
}

.margin-top-20{
    margin-top: 20px
}

.membership-choice-holder{
    margin-left: -5em;
    background-color: transparent;
}

.membership_bg{
    background-color: #d6e6ec !important;
    height: 100vh;
}

/*payment details*/
.braintree-heading{
    color: #7fb7b5; 
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 1em 0;
}

.braintree-test-class{
    background-color: #d6e6ec !important;
}

.braintree-show-options{
    width: 80%;
    margin-left: 5em;
}

.braintree-options-list{
    display: flex;
    justify-content: space-between;
}

.braintree-option{
    padding: 3em;
    border: 5px solid #5ca39f;
    background-color: #d6e6ec;
    border-radius: 10px;
}

.braintree-option:first-child {
    border-radius: 10px;
    border-top-width: 5px;
}

.braintree-option:last-child {
    border-radius: 10px;
    padding: 1.4em;
}

.braintree-option:hover{
    background-color: transparent;
    box-shadow: 3px 3px 5px 2px #ccc;
}

.braintree-option .braintree-option__label{
    color: #7fb7b5; 
    font-weight: 800;
    display: none;
}

.braintree-upper-container{
    margin: 3em 0 2em 0;
}

.braintree-option:first-child .braintree-option__logo svg{
    width: 150px;
    height: 87px;
}

.braintree-option:last-child .braintree-option__logo svg{
    width: 202px;
    height: 79px;
}

#payment-form .next_btn{
    margin-top: 1em;
    margin-bottom: 2em;
}

#payment-form .next_btn button{
    background: #549f9a;
    border: 1px #549f9a solid;
    width: 21%;
    padding: .5em;
    font-size: 1.4rem;
    border-radius: 15px;
    /*margin-left: -6em;*/
}

.braintree-card{
    background: #d6e6ec;
    border: none;
}

.braintree-sheet__header .braintree-sheet__text{
    color: #7fb7b5; 
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
}

.braintree-form__field-group{
    text-align: left;
}

/*.braintree-form__label, .braintree-form__field{
    display: inline-block;
}*/

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__label{
    display:none;
    width: 100%;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field{
    border: none;
    border-bottom: 3px solid #549f9a;
}
.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field-error{
    /*margin: -3px 0 14px;*/
}

.braintree-sheet__content--form .braintree-form__field-group.braintree-form__field-group--has-error {
    margin-bottom: 3px;
}

.braintree-sheet__content--form .braintree-form__field-group{
    display: grid;
}

.braintree-toggle{
    /*background-color: #d6e6ec;
    border: 3px solid #549f9a;
    width: 30%;
    border-radius: 10px;*/
    background: #549f9a;
    border: 1px #549f9a solid;
    width: 43%;
    padding: .8em .5em .8em;
    font-size: 1.2rem;
    border-radius: 15px;
    /*float: left;
    margin-left: 7em;*/
}

.braintree-toggle span {
     border-bottom: none; 
     color: #fff;
     font-weight: 800;
}

.braintree-toggle:hover{
    background: #549f9a;
    border: 1px #549f9a solid;
}

.braintree-sheet{
    background-color: #d6e6ec;
    border: none;
}

.braintree-sheet__header .braintree-sheet__label{
    color: #7fb7b5;
    font-weight: 800;
    font-size: 1.2rem;
}

/*sidemenu*/

.search-sidebar .search-controls2{
    background-color: #dcdee1;
}

.search-controls2 select, .search-controls2 .search_bar{
    background-color: #dcdee1;
}

.search-sidebar .searched-items .item2{
    background: #e5e5e5;
    border-bottom: 1px solid #b7bcc3;
}

.exam-manager-container .search-sidebar2{
    background: #e5e5e5;
}

.col-md-3#student_collapse_sidebar{
    border-right: 2px solid #bfbebe;
}

.bg_sidebar{
    background: #e5e5e5 !important;
}

.search-sidebar .search-controls{
    padding-top: 1.2em;
    height: 69px;
}

.aside-image span.section{
    margin-left: 9px;
}

.aside-image button.btn_side{
    margin-left: 3px;
}

.std-exam-aside-2-col.bg_sidebar .searched-items{
    background-color: #e5e5e5 !important;  /*#dcdee1*/
    border-bottom: 1px solid #ccc9c9;
}

.std-exam-aside-2-col.bg_sidebar .section-item:hover{
    background-color: #dcdee1 !important;
}

.std-exam-aside-2-col .section-item{
    border-bottom: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height: 89px !important;*/
}

.std-exam-aside-2-col.bg_sidebar .section-item{
    border-bottom: 1px solid #ccc9c9;
}

.std-exam-aside-2-col .searched-items{
    background-color: #fff !important;
}

.watermark{
    text-align: center;
    margin: 6.5em auto;
}
.watermark-2{
    margin: 3em auto;
}
.content-details .btn_holder{
    margin: 2em auto 0;
    text-align: right;
}

.exam-manager-container .search-sidebar{
    min-height: 100vh;
}

.header .duration{
    float: right;
    margin-right: 1em;
}

.exam-finish td{
    width: 5em;
}

.add-section-row .add_new_section.two-col {
    width: 70%;
}

.add-section-row .add_new_section{
    height: 50px;
    line-height: 47px;
}

.searched-items .item .content-details .description2{
    width: 88%;
    text-align: justify;
}

.success_exam_btn{
    background-color: #036564;
    color: #fff !important;
    border: 2px solid white !important;
}

.exam_success{
    background-color: #fff !important;
}


/*how it works*/
.how-container{
    padding: 6em 0;
    height: 100%;
}

.how-container h2{
    color: #f6bb42;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2em;
}

.how img{
    width: 100%;
}

.how p{
    color: #fff;
    font-size: 1.1rem;
}

.how p.title{
    color: #f6bb42;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 1.5em;
}

.get-started-line .get-started-btn{
    text-align: center;
    padding: .8em;
}

.index-link{
    color: #fff;
}

.index-link:hover{
    color: #fff;
    text-decoration: none;
}

/*contact paage*/
.rw-contact-lower{
    background-image: url(../images/staticimage/contact.jpg);
    height: 108vh;
}

.contact-col1{
   /* padding-left: 9em;*/
}

.contact-form.contact_form{
    margin-top: 10%;
}

.contact-head{
    margin-top: 39% !important;
}

.contact-us-lst{
    display: block;
}

.contact-us-lst li{
    display: block;
    margin-bottom: .5em;
}

.contact-submit{
    background-color: #ffb600;
    color: #033649;
    border-color: #033649;
}

.contact-us-container{
    height: 100%;
}

.contact-con{
    position: relative;
}

.contact-us-container .rw-contact-lower .navbar-brand img{
    margin-left: 0;
    margin-top: 4em;
}

.contactus-input {
    width: 80%;
}

.contact-submit{
    margin-right: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contact_btn{
    width: 80%;
}

.contact-form label{
    text-transform: uppercase;
    font-weight: 600;
}

/*faq*/

.faq-con{
    background-color: #f7f7f7;
    padding-bottom: 3em;
}

.faq-holder{
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(3,3,3,0.06);
    background: #fff;
    padding: 40px 50px;
}

.faq-holder h1{
    color: #033649;
    font-weight: 800;
    text-align: center;
}

.faq-holder .item{
    margin: 2.5em 0;
}

/*courses*/
.course-list-banner-img{
    background-color: transparent;
}

.courselist-course-item.with-progress .img-con{
    height: 250px;
    width: 250px;
    /* text-align: center; */
    margin: 0 auto;
}

.courselist-course-item.with-progress .img-con img{
    width: 100%;
    background-color: white;
    height: 250px;
}


/*nav*/
.profile-nav{
    padding: 0;
}

/*courses_sub*/
.course-sub{
    margin-top: 3.8em;
}

.courses-sub-line{
    padding-bottom: 1.5em;
    border-bottom: 1px #ddd solid;
}

.get-started-btn.reload_reviews a.cs-link{
    color: #fff;
    text-transform: uppercase;
}

.get-started-btn.reload_reviews a.cs-link:hover{
    color: #fff;
    text-decoration: none;
}

.get-started-line2{
    margin-top: 0;
    margin-bottom: 2em;
}

.cs-maintitle{
    margin: 1em 0 .5em;
    font-weight: 800;
    text-transform: uppercase;
}

.cs-subtext{
    margin-bottom: 1em;
}

.cs-subtext a{
    color: #212529;
}

.cs-imgcon{
    position: relative;
    margin-bottom: 1em;
}

.cs-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cs-imgcon:hover .cs-image {
    opacity: 0.3;
}

.cs-imgcon:hover .middle {
    opacity: 1;
}

.cs-imgcon.disabled .cs-image{
    opacity: 0.3;
    cursor: pointer;
}
.text {
    background-color: #036564;
    color: white;
    font-size: 1rem;
    padding: 16px 32px;
}

.text a, .text a:hover{
    color: white;
    text-decoration: none;
}

/*pricing2*/
.pricing2-banner-img{
    height: 100%;
}

.pricing2{
    background: #036564;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 1em;
}

.pricing2 h1{
    color: #fff;
    font-weight: 700;
    padding: .7em 0 .1em;
    text-transform: uppercase
}

.pricing2 h3{
    padding: .3em 0;
    color: #036564;
    font-weight: 800;
    background: #e6e9ed;
    font-size: 2rem;
}

.pricing2 p.desc{
    color: #fff;
    font-weight: 600;
    margin-bottom: 5em;
    height: 120px;
    margin-top: 5em;
}

.pricing2 p.btn{
    background: #fff;
    padding: .5em 0;
    border-radius: 40px;
    width: 80%;
}

.pricing2 p.btn > a{
    color: #036564;
    font-weight: 700;
    text-transform: uppercase
}

.pricing2 p.btn > a:hover{
    text-decoration:none;
}

.pricing2-pos1{
    position: relative;
    top: -3.5em;
}

.pricing2-pos2{
    position: relative;
    top: -5em;
}

.pricing2-pos3{
    position: relative;
    top: -3.5em;
}

/*login*/
.ag-register-modal-container .aside-banner{
    height: 100vh;
}

.ag-register-modal-container .aside-banner .banner-img{
    margin-top: 3em; 
}

.login-p{
    margin-top: 3em;
}

/*registration*/
.gender_select2{
    width: 39% !important;
}

.gender_select2 select{
    width: 100% !important;
}

.success_msg{
    color: #033649;
    background-color: #fff;
}

.success_holder{
    background-image: url(../images/staticimage/success-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 3em;
    margin-top: -1.5em;
}

.success-logo{
    margin-left: 1em;
    margin-top: -1em;
}

.success-logo img{
    width: 100%;
}

.success-complete{
    margin: 1.5em 0 4em;
}

.success-complete img{
    width: 100%;
}

.success-title{
    color: white;
     background-color: transparent; 
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
}

.success-desc{
    margin: 2.5em 0 4em;
    font-size: 1.3rem;
    color: #549f9a;
}

.browse_courses_btn{
     background-color: #549f9a;
    border: 1px #549f9a solid; 
    width: 27%;
    text-align: center;
    padding: .5em;
    font-size: 1.2rem;
    margin-bottom: -1em; 
}
.browse_courses_btn-v2{
    width: 47%;
}
.btn-toolbar {
    justify-content: space-evenly;
}

/*modal*/
.ag-are-you-sure-modal .inner-container .input-modal-form{
    overflow-y: -moz-hidden-unscrollable;
}

/*student*/
.searched-items .item .content-details .title{
    /* formerly 5px change to acomodate 4 rows -kl */
    margin-top: 0px;
}

.searched-items .item .content-details .teacher_title{
    margin-top: 0;
}

.aside-image 

/*line-clamp*/
.line-clamp
{
    display            : block;
    display            : -webkit-box;
    -webkit-box-orient : vertical;
    position           : relative;

    line-height        : 1.4;
    overflow           : hidden;
    text-overflow      : ellipsis;
    padding            : 0 !important;
}
.line-clamp:after
{
    content    : ' ';
    text-align : right;
    bottom     : 0;
    right      : 0;
    width      : 25%;
    display    : block;
    position   : absolute;
    height     : calc(1em * 1.2);
    background : transparent;/*linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%)*/
}
@supports (-webkit-line-clamp: 1)
{
    .line-clamp:after
    {
        display : none !important;
    }
}
.line-clamp-1
{
    -webkit-line-clamp : 1;
    height             : calc(1em * 1.4 * 1) !important;
}
.line-clamp-2
{
    -webkit-line-clamp : 2;
    height             : calc(1em * 1.4 * 2) !important;
}
.line-clamp-3
{
    -webkit-line-clamp : 3;
    height             : calc(1em * 1.432 * 3) !important;
}
.line-clamp-4
{
    -webkit-line-clamp : 4;
    height             : calc(1em * 1.4 * 4) !important;
}
.line-clamp-5
{
    -webkit-line-clamp : 5;
    height             : calc(1em * 1.43 * 5) !important;
}

/*profile*/
.profile-banner-edit{
    position: absolute;
    right: 0;
    top: 80px;
    margin-right: 30px;
    background-color: white;
    color: black;
    padding : 5px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: .5em;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.profile-banner-edit:hover{
    opacity: 1;
}
.profile-table{
    margin-left: -.5em;
}

.profile-table td{
    border: none;
    vertical-align: middle;
    text-align: left;
}

.profilet-title{
    width: 6em;
}

.profile-icons img{

}

.select-table{
    margin-bottom: 5px;
}

.new-profile-tabs h1{
    color: #036564;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.tb-profile{
    border-radius: 10px;
    border: solid #ddd 1px;
    margin-bottom: 2em;
}

.tb-profile table {
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:10px;
    border-spacing: 0; 
}

/*.tb-profile td, th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}*/

.tb-profile th {
    background-color: #036564;
    border-top: none;
    color: #fff;
    border-bottom: 0 !important;
    font-size: .9rem;
}

.tb-profile td{
    font-size: .9rem;
    padding: .5rem .75rem;
    border-top: 0 !important
}

.tb-profile td.course{
    width: 18em;
}

.tb-profile td:first-child, .tb-profile th:first-child {
     border-left: none;
}


/*close button*/
.ag-modal-close-3{
    color: #033649 !important;
}


/*discussion*/
.discussion-container2{
    height: 100vh;
    margin-top:48px;
}

.avatar-discussion{
    float: left;
    text-align: center;
}

.sender_profile_ico{
    float: none !important;
}

.discussion-container .discuss-item .details .sender_info{
    float: none !important;
    padding-left: 0 !important;
}

.discussion-container .discuss-item .content{
    float: left;
    width: 80%;
}

.discussion-container .discuss-item .content3{
    float: left;
    width: 77%;
}

.discussion-container .discuss-item .details .sender_reply{
    margin-top: 8px;
}

.discussion-container .discuss-item .details .sender_info{
    width: 7em;
}

.sender_reply1{
   /* position: absolute;
    right: 0;
    margin-right: 20px;*/
    position: relative;
    right: -13px;
    top: -30px;
}

.sender_reply2{
    position: relative;
    right: 0;
}

.reply-discussion{
   margin: 1em -3em .5em .3em;
}

.add-comment{
    font-size: .9rem;
}

/*message-avatar*/

.message-avatar{
    float: left;
    text-align: center;
}

.message-avatar .title{
    font-weight: 700;
    font-size: 12px;
}

.user-messages .message-item .message-content{
    float: left;
    width: 90%;
}

/*assignments*/
.exam-manager-container .main-content .header-row .aside-image .noImg{
    margin: 0 auto;
}

.assign-aud{
    margin-bottom: 1em;
}

.desc-assign{
    margin-left: -2.3em;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #074258;
    border-color: #074258;
    border: none;
    border-radius: 5px;
}

/*forgot_password*/
.forgot_password{
    margin-top: 8em;
}

.popup_forgot_pass{
    font-size: 14px;
    color: #fff;
}

.popup_forgot_pass:hover{
    color: #fff;
}

.popup-passcon{
    float: left;
    margin-top: -.5em
}

/*pagination*/
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8CC152;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/*courses*/
.courses_descrip{
    padding: 0em 1.5em;
    margin-bottom: 0;
}

.enroll-course-reviews  .enroll-course-table-detail tr td.capstitle
{
    width: 35%;
}

.margin-top-30 {
    margin-top: 30px;
}

.membership-no-mg-top{
    margin-top: 0em !important;
    margin-left: 0em !important;
}

.membership-left-offset{
    margin-left: 10% !important;
}

.membership-choice-holder-new{
    margin-left: -2em;
}

.profile_ph{
    color: #033649;
}

/*assignment*/
.view-assign label.col-form-label{
    color: #9da1a6;
}

.view-assign label.form-control-plaintext{
    color: #434a54;
}

.desc-assign2{
    margin-left: -1.1em;
}

/*courses new design*/
.courses-accor-con .col-md-3.no-pad-right{
    padding-right: 0;
}
.courses-accor-con .col-md-3.no-pad-left{
    padding-left: 0;
}
.courses-accor-con .col-md-3.no-pad-both{
    padding-left: 0; 
    padding-right: 0;
}
.courses-main-accor{
    width: 100%;
    float: left;
    background-color: #098281;
    min-height: 180px;
    margin-bottom: 2em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 2em;
    color: #fff;
}
.no-pad-both .courses-main-accor{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;    
} 
.no-pad-left .courses-main-accor{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;   
}
.courses-main-accor h4{
    font-weight: 700;
}
.courses-sub-accor-right{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 15em;
}
.courses-sub-accor-left{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 15em;
}
.courses-sub-accor{
    width: 100%;
    margin-bottom: 2em;
    min-height: 180px;
    background-color: #e6e9ed;
    padding: 1.9em;
    color: #098281;
}

.courses-sub-accor li{
    list-style: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.arrow_courses_m{
    width: 43px;
    height: 29px;
    background: url(../images/staticimage/arrow-courses.png);
    position: absolute;
    top: -1.5em;
    display: none;
}

.arrow_courses{
    width: 43px;
    height: 29px;
    background: url(../images/staticimage/arrow-courses.png);
    position: absolute;
    top: -1.5em;
    left: 5.7em;
}

.arrow_courses_right{
    width: 43px;
    height: 29px;
    background: url(../images/staticimage/arrow-courses.png);
    position: absolute;
    top: -1.5em;
}

.courses-accor-con{
    position: relative;
    width: 100%;
    margin-left: -6px;
}

.courses_new_design{
    margin-top: 4em;
}

.courses_modal_new1{
    background: #fff;
    border-radius: 10px;
}

.cm_title{
    padding: 1em 2em;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.courses_modal_new1 .main-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cm_desc{
    padding: 3em 3em 5em;
}

.courses_modal_new1 .btn-toolbar{
     padding: 1em .58em;
}

.courses_modal_new1 .btn-toolbar .btn{
    font-weight: 700;
    padding: .375rem .5rem;
}

.courses_modal_new1 .btn-toolbar .btn span.title{
    font-size: 1.3rem;
}

.courses_modal_new1 .btn-toolbar .btn span.sub{
    font-size: .9rem;
}

.courses_modal_new1 .btn-toolbar .btn span.exam{
    font-size: 1.2rem;
}

.courses_modal_new1 .btn-toolbar .btn.submit{
    padding: .375rem .85rem;
}

.courses-green{
    background: #036564;
    color: #fff;
}

.courses-lg-green{
    background: #d2e9e9;
    color: #1d1d1d;
}

.courses-red{
    background: #dd4b4b;
    color: #fff;
}

.courses-lg-red{
    background: #eac2c2;
    color: #1d1d1d;
}

.courses-yellow{
    background: #f6bb42;
    color: #fff;
}

.courses-lg-yellow{
    background: #f6e4c0;
    color: #1d1d1d;
}

.courses-lg-white{
    background: #fff;
    color: #1d1d1d;
}

/*faq design accordion*/
.card_header2{
    background-color: #fff;
}

#accordion .card2{
    border: none;
}

.card_header2 .btn-link{
    font-size: 1.3rem;
    color: #036564;
    text-transform: uppercase;
    font-weight: 800;
}

/* about*/
.about-the-school{
    margin: 2em auto 1em;
}

.about-school-h6{
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: justify;
}

.how-container{
    background-color: #fff;
}

.how p{
    color: #333;
    text-align: justify;
}

/*mission*/
.mission-container{
    background-color: #033649;
}

.mission-container h2{
    color: #f6bb42;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1em;
}

.mission p{
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;
}

.mission2 p{
    margin-bottom: 5em;
}

/*text-align justify*/
/*discussions*/
.discussion-container .discuss-item .content p{
    text-align: justify;
}

/*dashboard*/
.profile-status-row .status-item .content p{
    text-align: justify;
}

/*exam*/
.searched-items .item .content-details .title{
    text-align: justify;
}

.searched-items .item .content-details .title h2{
    font-weight: 600;
    text-align: justify;
}

.searched-items .item .content-details .date-added{
    text-align: justify;
}

/*assignments*/
.table-ul td{
    text-align: justify;
}

.exam-manager-container .main-content .header-row .main-description h6{
    text-align: justify;
}

.exam-manager-container .main-content .header-row .main-description h1{
    text-align: justify;
}

.exam-manager-container .main-content .header-row .main-description span{
    text-align: justify;
}

/*modal for courses*/
.ag-register-modal-container .ag-modal-close.ag-modal-close-4{
    top: 15px !important;
    right: 30px !important;
}

/*activity*/
.post-btn-holder {
    margin: 1em 0 0;
}

.post-btn-holder button{
    color: white;
    background-color: #033649;
    padding: .25rem 1.2rem;
}

/*assignment con student*/
.assignment-con-student{
    padding: 1em 2em;
}


.btn-green:hover{
    background-color: #036564;
    border-color: #036564;
}

.msg-btn{
    width: 100%;
    margin-left: 1em;
}

.msg-btn button{
    width: 100%;
    padding: .30rem .5rem;
}

/*discussion*/

.new-comment-discussion .avatar-discussion{
    float: left;
    text-align: center;
    margin-left: 2em;
    margin-top: 1em;
}

.new-comment-discussion .avatar-discussion .sender_profile_ico{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
    float: left;
}

.new-comment-discussion .avatar-discussion .sender_info{
    float: none !important;
    padding-left: 0 !important;
    width: 7em;
    font-size: 12px;
}

.new-comment-discussion .content{
    float: left;
    width: 83%;
}

.new-comment-discussion button{
    margin-right: 2.5em;
}

.new-comment-discussion .content textarea{
    resize: none;
}

.started-line{
    border-top: 1.7px solid black;
    opacity: 0.15;
    position: relative;
    top: -33px;
    z-index: -1;
    width: 102%;
}

/*courses*/
.pad-left-0{
    padding-left: 0;
}

.pad-right-0{
    padding-right: 0;
}

.pad-lr-0{
    padding-left: 0;
    padding-right: 0;
}

/*arrow_courses-left*/

.arrow_courses1{
    left: 5.1em;
}

.arrow_courses2{
    left: 18.4em;
}

.arrow_courses3{
    left: 32.9em;
}

.arrow_courses.course_tab{
    top: 90%;
    left: 40%;
}

/*arrow_courses-right*/

.arrow_courses_r1{
    right: 4.4em;
}

.arrow_courses_r2{
    right: 18.9em;
}

.arrow_courses_r3{
    right: 32.2em;
}


.table-courses td{
    border-top: none !important;
}

.table-courses-main-accor{
    /*width: 100%;*/
    width: 21em;
    background-color: #098281;
    min-height: 180px;
    /*border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;*/
    padding: 2em !important;
    color: #fff;
}

.table-courses-sub-accor-right{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.table-courses-sub-accor-left{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.table-courses-sub-accor{
    /*width: 100%;*/
    margin-bottom: 2em;
    /*min-height: 180px;*/
    background-color: #e6e9ed;
    /* padding: 1.9em !important; */
    padding-top:  1.9em !important;
    padding-bottom:  1.9em !important;
    padding-left: 0 !important;
    padding-right:  0 !important;
    color: #098281;
}

.table-courses-sub-accor li{
    list-style: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.table-courses-pad{
    padding: 0 6px 0 3px;
}

.mg_b0{
    margin-bottom: 0;
}

.message_span{
    margin-top: 8px;
    margin-bottom: 7px;
}