<template>
<div class="ag-profile-change-photo-modal ag-register-modal-container">
    <div class="inner-container">
        <div  class="input-modal-form">
            <h5>Choose your Profile Photo</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group default_profile_pic">
                        <div class="profile-photo" @click="OpenUploader()">
                            <img v-if="hasUploaded" class="image" :src="this.GetProfileImageURL() + input.FileName">
                            <!-- <img v-else class="image" src="../../assets/images/avatars/Avatar5.jpg"> -->
                            <div v-else class="regist_profile_photo rounded-circle">
                                <span class="edit-icon"><i class="fas fa-user-edit fa-2x"></i></span>
                            </div>

                            <div class="edit-overlay ">
                                <span class="fa fa-camera"></span>
                            </div>
                            <input @change="UploadNewPhoto()" ref="change_profile_photo" type="file" id="changeProfileUpload" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group profile_pics">
                        <div class="profile-photo" @click="ChangeToDefaultProfile(1 ,'Student_Avatar1.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 1}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar1.jpg'">
                        </div>
                        <div class="profile-photo" @click="ChangeToDefaultProfile(2 ,'Student_Avatar2.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 2}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar2.jpg'">
                        </div>
                        <div class="profile-photo" @click="ChangeToDefaultProfile(3, 'Student_Avatar3.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 3}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar3.jpg'">
                        </div>
                        <div class="profile-photo" @click="ChangeToDefaultProfile(4, 'Student_Avatar4.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 4}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar4.jpg'">
                        </div>
                        <div class="profile-photo" @click="ChangeToDefaultProfile(5, 'Student_Avatar5.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 5}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar5.jpg'">
                        </div>
                        <div class="profile-photo" @click="ChangeToDefaultProfile(6, 'Student_Avatar6.jpg')" :class="{'selected' : SelectedDefaultStdProfile == 6}">
                            <img class="image" :src="this.GetProfileImageURL() + 'Student_Avatar6.jpg'">
                        </div> 
                    </div>
                </div>
            </div>
            <div class="form-actions text-center">
                <button @click="SubmitChangeProfile()" class="btn btn-md btn-main-2 btn-primary ag-modal-close-2">OK</button>
                <button type="button" class="btn btn-md btn-danger ag-modal-close-2">Cancel</button>                  
            </div>                    
        </div>
    </div>
    <span class="ag-modal-close ag-modal-close-2 fa fa-times"></span>
</div>  
</template>
<script> 
import {uploadProfile} from '../../api/common/file_upload.js'
import {bus} from '../../main.js'
export default {
    name:'ChooseProfilePhoto',
    data(){
        return {
            isSelectedDefault:false,
            SelectedDefaultStdProfile:0,
            input:{
                FileName:null
            },   
            isUploading:false,
            hasUploaded:false,
            UploadingFileName:null         
        }
    },
    methods:{
        ChangeToDefaultProfile:function(selectedStudent , filename){
            this.SelectedDefaultStdProfile = selectedStudent;
            this.input.FileName = filename;
            this.isSelectedDefault = true;
        },
        SubmitChangeProfile:function(){
            bus.$emit("ChooseProfile", this.input.FileName);
        },
        OpenUploader:function(){
            document.getElementById('changeProfileUpload').click();
        },
        UploadNewPhoto:function(){
            let formData = new FormData();
            let media_file = this.$refs.change_profile_photo.files[0];
            
            if(media_file === null || media_file == "undefined")
            {
                return;
            }

            formData.append("file_upload",  media_file);
            this.UploadingFileName = media_file.name;
            this.isUploading = true;
            uploadProfile(this.GetSessionHeaders(), formData).then((response)=>{
               this.input.FileName = response.body.File.FileName;
               this.hasUploaded = true;
            }).catch((response)=>{
                if(response.status == 400){
                    this.$toasted.show(response.body.Errors);
                }
                this.$toasted.show("Opps. Something went wrong at our end");
            }).finally(()=>{
                this.isUploading = false;
            });
        }
    }
}
</script>
<style scoped>
#changeProfileUpload{
    display: none;
}
.ag-profile-change-photo-modal.ag-register-modal-container{
    left: 0;
}
.ag-profile-change-photo-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-profile-change-photo-modal .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 100px;
    width: 50%;
    background-color: white;
    background-origin: padding-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    overflow-y: -moz-hidden-unscrollable;
}
.ag-profile-change-photo-modal .profile-photo {
    margin: 15px auto 15px 10px;
    width: 125px;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
}
.ag-profile-change-photo-modal .profile-photo img{
    width:  125px;
    height: 125px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 4px 6px 1px gray;  
}

.ag-profile-change-photo-modal .profile-photo.selected img{
    border: 10px solid  #308a4f;
}
.ag-profile-change-photo-modal .profile-photo:hover img{
    border: 10px solid  #308a4f;
    opacity: 0.8;
}

.ag-profile-change-photo-modal .profile-photo .edit-overlay{
    display: flex;
    position: absolute;
    top:0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    text-align: center;
    justify-content: center;
    align-items: center;    
}
.ag-profile-change-photo-modal .profile-photo .edit-overlay span{
   font-size: 35px;
   color: darkgray;
} 
.form-actions{
    margin-top: 2em;
}
.profile_pics{
    margin-left: 0.7em;
}
.default_profile_pic{
    margin-top: 5em;
}
.regist_profile_photo{
    background-color: gray;
    width: 125px;
    height: 125px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    -webkit-box-shadow: 0 4px 6px 1px grey;
    box-shadow: 0 4px 6px 1px grey;
}
.edit-icon{
  position: absolute;
  top: 2em;
  left: 2.5em;
  color: #fff;
}
</style>

