<template>
<div class="container-fluid enroll-container faq-detail-container membership_bg" >
    <div class="row rw-faq-detail enroll-nav">
        <div class="col-3">
            <a class="" href="/">
                <img src="../../assets/images/main-logo-transparent_bg.png" width="150" height="55" alt="The Agora School">
            </a>
        </div>

        <div class="col-6 enroll-title">
            <h1 class="faq-choice-title" >AGORA MEMBERSHIP</h1>
        </div>
    </div>
    <br>
    <div class="row margin-top-30">
        <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col success_holder">
                <div class="row">
                  <div class="col-md-3">
                    <div class="success-logo">
                      <img src="../../assets/images/staticimage/success-logo.png">
                    </div>
                  </div>
                  <div class="col-md-7 offset-md-1">
                    <div class="success-complete">
                      <img src="../../assets/images/staticimage/s_breadcrumbs.png">
                    </div>
                    <h2 class="success-title">Thank you <br> for Subscribing!</h2>
                        <button @click="gotoBrowse()" class="btn btn-light enroll-course-start browse_courses_btn browse_courses_btn-v2 margin-left-40 margin-top-15">
                            BROWSE OUR COURSES <span class="fa fa-angle-right semi-bold"></span>
                        </button>
                    <p class="success-desc" >
                    </p>
                  </div>
                </div>
                    <!-- <div class="text-center">
                        <button @click="gotoBrowse()" class="btn btn-light enroll-course-start browse_courses_btn">
                            BROWSE OUR COURSES <span class="fa fa-angle-right semi-bold"></span>
                        </button>
                  </div>                 -->
              </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import {generateClientToken} from '../../api/member/member.js'
import {executePayment} from '../../api/member/member.js'
import {executeFreeTrial} from '../../api/member/member.js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import AreYouSure from '../subcomponents/modal/AreYouSureModal'
export default {
  name: 'Membershiplist',
  components: {PulseLoader, AreYouSure},
  data()
  {
      return{
          isLoggedIn: false,

      }
  },
    computed:{
        isReallyLoggedIn : function(){
            this.isLoggedIn =this.$store.state.isLoggedIn; 
            return this.$store.state.isLoggedIn;
        }
    },
  methods:{
      Back:function(){
            window.location.replace('/membership_payment');
        //   this.$router.go();//refresh
      },
        gotoBrowse:function(){
          window.location.replace('/courses')
      },
  }
}
</script>

<style scoped>
body
{
    padding-top: 0 !important;
    background-color: #d6e6ec;
}
.braintree-heading
{
    color:white;
    font-size: 24px;
    font-weight: 600;
}
#payment-form
{
    margin-top: 25px;
}
.rw-faq-detail .col-6 .faq-choice-title{
    margin-top: 10px;
}
.faq-detail-search .faq-detail-search-btn{
    margin-top:15%;
}
</style>
