<template>
<div class="container-fluid enroll-container faq-detail-container membership_bg" >
    <div class="row rw-faq-detail enroll-nav">
        <div class="col-3">
            <a class="" href="/">
                <img src="../../assets/images/main-logo-transparent_bg.png" width="150" height="55" alt="The Agora School">
            </a>
        </div>

        <div class="col-6 enroll-title">
            <h1 class="faq-choice-title" >AGORA MEMBERSHIP</h1>
        </div>
    </div>
    <br>
    <div class="row margin-top-30">
        
        <div class="col-10 offset-md-2" :class="{'membership-left-offset' : isShowPayment }">
            <div v-if="!isPaymentComplete" class="row">
              <div class="col-md-4" v-if="ShowMembershipPlan(1)">
                <div class="membership-container" :class="{'membership-no-mg-top' : isShowPayment }">
                  <h1 class="title">Free Trial</h1>
                  <h1 class="price">$0</h1>
                  <p class="validity">No Time Limit</p>
                  <p class="subtext">Five free worksheet access.<br/>Enroll only 1 subject.
                      </p>
                  <h3 class="started">
                    <button class="btn btn-link " :class="{'popup_are_you_sure' : (!isLoggedIn || memberDetail.user_level == 0)}" v-if="!isShowBackButton" value="1">
                        <span v-if="isLoggedIn && memberDetail.user_level == 1">Current Plan</span>
                        <span v-else>Get Started</span> 
                        
                        <span class="fa fa-angle-right semi-bold"></span></button>
                    <button v-if="isShowBackButton" @click="Back()" class="btn btn-link" value="1">
                        <span class="fa fa-angle-left semi-bold"></span> BACK
                    </button>
                  </h3>
                </div>
              </div>
              <div class="col-md-4" v-if="ShowMembershipPlan(2)">
                <div class="membership-container membership-con2" :class="{'membership-no-mg-top' : isShowPayment }">
                  <h1 class="title">Monthly</h1>
                  <h1 class="price">$15</h1>
                  <p class="validity">Valid for 30 days</p>
                  <p class="subtext subtext">Unlimited access<br>Cancel subscription anytime<br>Monthly subscription renewed.</p>
                  <h3 class="started started2">
                    <button class="btn btn-link" v-if="!isShowBackButton"  @click="SelectPayment(2)" value="2">
                        <span v-if="isLoggedIn && memberDetail.user_level == 2">Current Plan</span>
                        <span v-else>Get Started</span>                         
                        <span class="fa fa-angle-right semi-bold"></span></button>
                    <button v-if="isShowBackButton" @click="Back()" class="btn btn-link" value="1">
                        <span class="fa fa-angle-left semi-bold"></span> BACK
                    </button>
                  </h3>
                </div>
              </div>
              <div class="col-md-4"  v-if="ShowMembershipPlan(3)">
                <div class="membership-container membership-con3" :class="{'membership-no-mg-top' : isShowPayment }">
                  <h1 class="title">Annual</h1>
                  <h1 class="price">$100</h1>
                  <p class="validity">Valid for a year</p>
                  <p class="subtext">Unlimited access<br>Cancel subscription after a year.</p>
                  <h3 class="started">
                    <!-- <a href=""  v-if="!isShowBackButton" @click="SelectPayment(3)" value="3">Get Started <span class="fa fa-angle-right semi-bold"></span></a> -->
                    <button class="btn btn-link" v-if="!isShowBackButton" @click="SelectPayment(3)" value="3">
                        <span v-if="isLoggedIn && memberDetail.user_level == 3">Current Plan</span>
                        <span v-else>Get Started</span>  
                        <span class="fa fa-angle-right semi-bold"></span></button>
                    <button v-if="isShowBackButton" @click="Back()" class="btn btn-link" value="1">
                        <span class="fa fa-angle-left semi-bold"></span> BACK
                    </button>
                  </h3>
                </div>
              </div>

              <div class="col-md-8 membership-choice-holder-new" v-if="isShowPayment">
                  <div class="loader" v-if="isLoading"></div>
                  <div class="text-center">
                    <img src="../../assets/images/staticimage/m_breadcrumbs.png">
                  </div>
                  <form id="payment-form">
                  <div v-if="!isLoading">
                      <div class="bt-drop-in-wrapper">
                          <div id="bt-dropin"></div>
                      </div>
                      <input id="nonce" name="payment_method_nonce" type="hidden" />
                      <input v-model="input.selectedMembershipPlanID" name="subscribe_plan" type="hidden" />

                       <div class="next_btn text-center">
                          <button @click="ExecutePayment()" :disabled="isSubmitted" type="button" class="btn btn-light enroll-course-start" value="3">
                            <span v-if="!isSubmitted">Next</span>
                            <pulse-loader v-else></pulse-loader>
                          </button>
                       </div>
                  </div>
                  </form>
              </div>

            </div>
        </div>

        <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col success_holder" v-if="isPaymentComplete">
                <div class="row">
                  <div class="col-md-3">
                    <div class="success-logo">
                      <img src="../../assets/images/staticimage/success-logo.png">
                    </div>
                  </div>
                  <div class="col-md-7 offset-md-1">
                    <div class="success-complete">
                      <img src="../../assets/images/staticimage/s_breadcrumbs.png">
                    </div>
                    <h2 class="success-title">Thank you <br> for Subscribing!</h2>
                    <p class="success-desc" v-if="isFreeTrial" >
                        <br>
                        <br>
                        <!-- You may try our services and checkout our courses for free in 5 days! -->
                    </p>
                    <p class="success-desc" v-else> 
                        <br>
                        <br>
                        <!-- You are now able to access our wide range of courses. An email full of gratitude will be sent to you. -->
                    </p>
                  </div>
                </div>
                  
                  <div class="text-center" v-if="isFreeTrial">
                    <button @click="ExecuteFreeTrial()" :disabled="isSubmitted" type="button" class="btn btn-light enroll-course-start browse_courses_btn" value="3">
                      <span v-if="!isSubmitted">BECOME A MEMBER <span class="fa fa-angle-right semi-bold"></span></span>
                      <pulse-loader v-else></pulse-loader>
                    </button>
                  </div>

                  <div class="text-center" v-else>
                    <button @click="gotoBrowse()" class="btn btn-light enroll-course-start browse_courses_btn">
                        BROWSE OUR COURSES <span class="fa fa-angle-right semi-bold"></span>
                    </button>
                  </div>
              </div>
              <input type="hidden" id="open_login" class="popup_login_modal" />
                <input  v-if="isReallyLoggedIn" type="hidden" >
            </div>
        </div>
    </div>
<are-you-sure  :Message="FreeTrialMessage" :handle-action="ExecuteFreeTrial" />
<input id="course_list_logged_in" type="hidden" class="reload_not_logged_in"/>
</div>
</template>

<script>
import {generateClientToken} from '../../api/member/member.js'
import {executePayment} from '../../api/member/member.js'
import {executeFreeTrial} from '../../api/member/member.js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import AreYouSure from '../subcomponents/modal/AreYouSureModal'
export default {
  name: 'Membershiplist',
  components: {PulseLoader, AreYouSure},
  data()
  {
      return{
          isSubmitted:false,
          isLoggedIn: false,
          isLoading : false,
          isInvalid : true,
          isFreeTrial : false,
          isShowPayment:false,
          isPaymentComplete:false,
          isShowBackButton:false,
          membershipList :[1,2,3],
          membershipListPlanID :['','2bgb','g8tm'], //id generated from paypal braintree associated to the plan to be paid. will refactor later
          selectedMembership: null,
          paymentGatewayInstance :null,
          input:{
                selectedMembershipPlanID:null,
                paymentNonce:null
          },
        FreeTrialMessage:"You will only have a limited worksheet access. <br/>   Do you still want to proceed?",
      }
  },
    computed:{
        isReallyLoggedIn : function(){
            this.isLoggedIn =this.$store.state.isLoggedIn; 
            return this.$store.state.isLoggedIn;
        },
		memberDetail : function(){
			return this.$store.state.memberDetail;
		}        
    },
  created(){
      this.CheckSessionIfLoggedIn().then((response) => {
         this.isLoggedIn = response; 
        
        if(this.isLoggedIn){
            if(this.$store.state.memberDetail.user_level != 0){
                //When the user accessing this has already have a membership or is a teacher
                // this.$toasted.error("You already have a membership.");
                // this.$router.push({ name: 'Pricing'});
                // return;
            }

            let selected_plan = this.$route.query.SelectedPlan;
            
            if(selected_plan) //if has selected plan
            {   
                if(selected_plan == 'free' ){
                    //Automatically Execute the Free Trial
                    this.ExecuteFreeTrial();
                }else if(selected_plan == 'monthly'){
                    this.SelectPayment(2);
                }else if(selected_plan == 'yearly' ){
                    this.SelectPayment(3);
                }
            }
        }
        
      }).catch((response)=>{
          this.isLoggedIn = false;
      });
  },
  mounted(){
      if(this.$store.state.memberDetail){
            if(this.$store.state.memberDetail.user_level != 0){
                //When the user accessing this has already have a membership or is a teacher
                // this.$toasted.error("You already have a membership.");
                // this.$router.push({ name: 'Pricing'});
                // return;
            }
            this.isLoggedIn = true;
      }
  },
  methods:{
      ShowMembershipPlan:function(e)
      {



         
        if(!this.isShowPayment && this.selectedMembership == null)
        {
            return true;
        }
        else if(this.isShowPayment && this.selectedMembership == e || this.isFreeTrial && this.selectedMembership == e)
        {
            return true;
        }else
        {
            return false;
        }
      },
      SelectPayment:function(e)
      {

        if(!this.isLoggedIn) {
            document.getElementById("open_login").click();
            return;
        }

         if(this.isLoggedIn){

            if(this.$store.state.memberDetail.user_level == 4) {//Teacher
                this.$toasted.error("Teacher Account doesn't need to have membership.");
                return;
            }else if(this.$store.state.memberDetail.user_level != 0){
                this.$toasted.error("You already have a membership.");
                return;
            }
         }


        this.selectedMembership = e;
        this.input.selectedMembershipPlanID = this.membershipListPlanID[e-1]; //array starts at 0
        this.isShowBackButton = true;
        if(e==1){
            //for free trial
            this.isFreeTrial = true;
            return;
        }else{
            this.isFreeTrial = false;
        }
        this.isShowPayment = true;
        this.isLoading = true;
     
        var client_token = null;
        generateClientToken().then((response)=>{
            client_token = response.body.ClientToken;
            this.isInvalid = false;
            if(this.isInvalid || client_token == null)
            {
                return;
            }
            this.CreatePaymentButton(client_token);
        }).catch((response)=>{
            this.isInvalid = true;
            this.$toasted.show('Ooops. Something went wrong here.\n');
        }).finally(()=>{
            this.isLoading = false;
        });
      },
      CreatePaymentButton:function(client_token){
            braintree.dropin.create({
                authorization: client_token,
                selector: '#bt-dropin',
                 card: {
                    cardholderName: true
                },
                paypal: {
                    flow: 'vault'
                }}).then((dropinInstance) =>{
                    this.paymentGatewayInstance = dropinInstance;
                    console.log(this.paymentGatewayInstance);
                }).catch((error)=>{
                     this.$toasted.show('Ooops. Something went wrong here.');
                });
      },
      ExecutePayment:function(){
        if(this.paymentGatewayInstance == null){
            this.$toasted.show('Please select a payment method.');
        }  

        if(this.isSubmitted){
            return; //to avoid multipost attack
        }
        this.isSubmitted = true;        
        let isRequestSuccess = false;
        this.paymentGatewayInstance.requestPaymentMethod((err, payload) =>{
            if (err) {
                this.$toasted.show('Please select a payment method.');
                isRequestSuccess = false;
                this.isSubmitted = false;
                return;
            }
            if(payload)
            {
                //success payment nonce
                document.querySelector('#nonce').value = payload.nonce;
                this.input.paymentNonce = payload.nonce;
                isRequestSuccess = true;

                //execute the payment api to our server
                if(isRequestSuccess){
                    executePayment(this.GetSessionHeaders(), this.input).then((response) =>{
                        console.log("OK");
                        console.log(response);
                        this.PaymentCompleted();
                    }).catch((response)=>{
                        if(response.body.Errors){
                            let error = Object.values(response.body.Errors[0]);
                            this.$toasted.show(error[0]);
                        }else{
                            this.$toasted.show("Ooops. Something went wrong at our end");
                        }
                        
                        
                        console.log(response);
                    }).finally(()=>{
                        this.isSubmitted = false;
                    });
                }
            }
        });
      },
      ExecuteFreeTrial:function(){
          executeFreeTrial(this.GetSessionHeaders()).then((response)=>{
              this.PaymentCompleted();
          }).catch((response)=>{
              this.$toasted.show(response.body.Errors.MembershipTrial);
          });
      },
      PaymentCompleted:function(){
          this.isPaymentComplete = true;
          this.isShowPayment = false;
          this.isFreeTrial = false;
          this.$store.commit("commitIsValidUser", true);
        window.location.replace('/membership_payment_complete');
      },
      Back:function(){
            window.location.replace('/membership_payment');
        //   this.$router.go();//refresh
      },
    gotoBrowse:function(){
          window.location.replace('/courses')
      },
  }
}
</script>

<style scoped>
body
{
    padding-top: 0 !important;
    background-color: #d6e6ec;
}
.braintree-heading
{
    color:white;
    font-size: 24px;
    font-weight: 600;
}
#payment-form
{
    margin-top: 25px;
}
.rw-faq-detail .col-6 .faq-choice-title{
    margin-top: 10px;
}
.faq-detail-search .faq-detail-search-btn{
    margin-top:15%;
}
</style>
