<template>
	<div class="container-fluid course-list-container course-sub">
	    <div class="container-fluid course-list-banner-img pricing2-banner-img">
	        <img class="d-md-block" src="../../assets/images/staticimage/pricing.jpg">
	    </div>
	    <div class="container-fluid">
	    	<div class="row">
	    		<div class="col-md-10 offset-md-1">
	    			<div class="row">
			    		<div class="col-md-4">
			    			<div class="pricing2 pricing2-pos1">
			    				<h1>Free Trial</h1>
			    				<h3>$0.00</h3>
			    				<p class="desc">Free 5 Worksheets <br>
								Valid for 1 Subject  <br>
								Access any Sections under  <br> the enrolled subject
			    				</p>
			    				<p class="btn">
									<a v-if="isLoggedIn && memberDetail.user_level == 1"
									@click.prevent="Silence()" href="#" class="link">Current Plan</a>
			    					<a v-else @click.prevent="GoToRegister('free')" href="#" class="link">Get Started</a>
			    				</p>
			    			</div>
			    		</div>
			    		<div class="col-md-4">
			    			<div class="pricing2 pricing2-pos2">
			    				<h1>Monthly</h1>
			    				<h3>$15.00</h3>
			    				<p class="desc">Unlimited learning access <br>Valid for 30 days <br> Cancel subscription anytime</p>
			    				<p class="btn">
									<a v-if="isLoggedIn && memberDetail.user_level == 2"
									@click.prevent="Silence()" href="#" class="link">Current Plan</a>									
			    					<a  v-else @click.prevent="GoToRegister('monthly')" href="#" class="link">Get Started</a>
			    				</p>
			    			</div>
			    		</div>
			    		<div class="col-md-4">
			    			<div class="pricing2 pricing2-pos3">
			    				<h1>Annual</h1>
			    				<h3>$100.00</h3>
			    				<p class="desc">Unlimited learning access <br>Valid for 1 year <br> Cancel subscription after a year</p>
			    				<p class="btn">
									<a v-if="isLoggedIn && memberDetail.user_level == 3"
									@click.prevent="Silence()" href="#" class="link">Current Plan</a>										
			    					<a v-else @click.prevent="GoToRegister('yearly')" href="#" class="link">Get Started</a>
			    				</p>
			    			</div>
			    		</div>
			    	</div>
	    		</div>
	    	</div>
	    </div>
		<input type="hidden" id="open_register" class="popup_register_modal" />
        <input id="course_list_logged_in" type="hidden" class="reload_not_logged_in"/>
    		
	</div>
</template>

<script>
import {bus} from '../../main.js'
export default {
    
	name:"Pricing",
	data(){
		return{
			isLoggedIn : false
		}
	},
	computed:{
		memberDetail : function(){
			return this.$store.state.memberDetail;
		}
	},
    methods:{
		GoToRegister:function(plan){

			if(this.isLoggedIn){
				if(this.$store.state.memberDetail.user_level == 4) {//Teacher
					this.$toasted.error("Teacher Account doesn't need to have membership.");
					return;
				}else if(this.$store.state.memberDetail.user_level != 0){
					this.$toasted.error("You already have a membership.");
					return;
				}
				this.$router.push({ name: 'Membershiplist', query:{ SelectedPlan : plan } });
			}else{
				bus.$emit('getSeleectedMembership', plan);
				document.getElementById("open_register").click();
			}
		},
		LoadMenu:function(){
			document.getElementById('course_list_logged_in').click();
		}
	},
	created(){
		this.CheckSessionIfLoggedIn().then((response) => {
			this.isLoggedIn = response; 
		}).catch((response)=>{
			this.isLoggedIn = false;
		});
	},	
	mounted(){
		
	}
    
}
</script>