<template>
<div>

<div class="container-fluid complete-profile-container register-modal-dialog complete-profile-dialog bg-register">

    <div class="complete-profile-form" v-if="!isSuccess" >
        <div class="register2"><!-- register-modal-dialog complete-profile-dialog -->
            <div class="container">
                
                <div class="row">

                  <div class="col-md-6 offset-md-3">
                      <div class="register_modal register2_modal">
                          <div class="loader" v-if="isLoading"></div>
                          <div class="reg-pop-up-header-2 color-txt-main-2 invalid-activate-key" v-if="isInvalid && !isLoading">
                              <br><br>
                              <div v-if="ResendActivation">
                                    <p>A verification link has been sent to your email to proceed.</p>
                              </div>
                              <div v-else>
                            Sorry but your <strong>Activation Key</strong> has expired. <br>
                                     <button @click="DoResendActivation" class="btn  btn-main-2 btn-primary sign-up"> 
                                          <span> Send me a new Activation Key </span>
                                      </button>
                              </div>
  
                          </div>
                          <div class="" v-if="!isInvalid && !isLoading">
                              <img class="banner-img" src="../../assets/images/staticimage/logo-colored.png"/>
                              <h1>Register</h1>
                              <h4>Please fill in your details</h4>
                              <div class="form_rmodal" >

                                  <div :class="{'disp-none':RegisterStep == 2}" class="step-1">
                                    <div class="form-group">
                                        <input v-model="input.FirstName" type="text" 
                                                class="form-control "
                                                :class="{'is-invalid' : (!HasValue(input.FirstName) || HasErrorBool(errors.FirstName)) } " 
                                                name="fname" placeholder="FIRST NAME" 
                                                autocomplete="off" required> 
                                    </div>
                                    <div class="form-group">
                                        <input v-model="input.LastName" type="text" 
                                                class="form-control" 
                                                :class="{'is-invalid' : (!HasValue(input.LastName) || HasErrorBool(errors.LastName)) } " 
                                                name="lname" placeholder="LAST NAME" autocomplete="off" required> 
                                    </div>
                                    <div class="form-group">
                                        <input v-model="input.EmailAddress" disabled type="text" class="form-control" name="email_complete" 
                                        placeholder="EMAIL ADDRESS" autocomplete="off"> 
                                    </div>
                                    <div class="form-group">
                                        <input id="reg_bday" ref="reg_bday" type="text" 
                                                :class="{'is-invalid' : (HasErrorBool(errors.Birthday)) } " 
                                                class="form-control agora_date_picker register_date agora_date_picker_add_on is-invalid" 
                                                name="birthdate" placeholder="BIRTHDATE" required> 
                                    </div>
                                      <div class="form-group ">
                                          <select v-model="input.CountryID" class="form-control"
                                          :class="{'is-invalid' : (!HasValue(input.CountryID) || HasErrorBool(errors.CountryID)) } " 
                                           placeholder="Country" required>
                                            <option value="0">COUNTRY</option>
                                            <option v-for="country in Countries" :value="country.id" :key="country.id">
                                                {{country.country_name}}
                                            </option>
                                          </select>
                                      </div>

                                  </div>

                                  <div :class="{'disp-none':RegisterStep == 1}" class="step-2">
                                        <div class="form-group" :class="{'text-left':input.ProfilePhoto == null}">
                                            <label v-if="input.ProfilePhoto == null" class="profile_ph curs-pointer">Choose avatar display</label>
                                                <div v-if="input.ProfilePhoto == null" class="regist_profile_photo rounded-circle popup_change_profile_img curs-pointer">
                                                    <span class="edit-icon"><i class="fas fa-user-edit fa-2x curs-pointer"></i></span>
                                                </div>
                                                <img v-else :src="this.GetProfileImageURL() + input.ProfilePhoto" class="regist_profile_photo rounded-circle popup_change_profile_img"> 
                                        </div>

                                        <div class="form-inline">
                                            <div class="form-group country_select2 ">
                                                <input v-model="input.Age" type="number"  maxlength="2"
                                                class="form-control" 
                                                :class="{'is-invalid' : (!HasIntegerValue(input.Age) || HasErrorBool(errors.Age)) } " 
                                                name="age" placeholder="AGE" autocomplete="off">
                                            </div>
                                            <div class="form-group gender_select2">
                                                <select v-model="input.Gender" 
                                                    class="form-control" 
                                                    :class="{'is-invalid' : (!HasIntegerValue(input.Gender) || HasErrorBool(errors.Gender)) } " 
                                                    placeholder="Gender" >
                                                    <option value="0">GENDER</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </div>                                             
                                        </div>
                          
                                        <div class="form-group ">
                                            <select v-model="input.EducationLevel" 
                                                    class="form-control" 
                                                    :class="{'is-invalid' : (!HasIntegerValue(input.EducationLevel) || HasErrorBool(errors.EducationLevel)) } " 
                                                    placeholder="Education" >
                                                <option value="0">EDUCATION</option>
                                                <option v-for="education in Educations" :value="education.edu_level_id" :key="education.edu_level_id">
                                                    {{education.edu_level_description}}
                                                </option>
                                            </select>
                                        </div>
                               

                                    <div class="form-group">
                                        <input v-model="input.School" type="text" 
                                         :class="{'is-invalid' : HasErrorBool(errors.School) } " 
                                        class="form-control" name="school" 
                                        placeholder="SCHOOL" autocomplete="off"> 
                                    </div>
                                  </div>   

                                 <div v-if="RegisterStep == 1" class="form-group btn-holder">
                                      <button class="btn btn-lg btn-main-2 btn-primary sign-up" @click="NextStep()" > 
                                          <span> Next </span>
                                      </button>
                                      <button type="button" class="btn btn-lg btn-danger popup_are_you_sure"><span> Cancel </span></button>
                                 </div>

                                 <div v-else-if="RegisterStep == 2" class="form-group btn-holder">
                                      <button class="btn btn-lg btn-main-2 btn-primary sign-up" @click="Submit" :disabled="isSubmitted"> 
                                          <span v-if="!isSubmitted"> Submit </span>
                                          <pulse-loader v-else></pulse-loader>
                                      </button>
                                      <button type="button" class="btn btn-lg btn-danger" @click="RegisterStep = 1"><span> Back </span></button>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <!--END OF COMPLETION FORM-->
      <!--COMPLETION MSG-->

    <div class="complete-profile-finished" v-else>
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <div class="register_modal register2_modal">
                    <img class="banner-img" src="../../assets/images/staticimage/logo-colored.png"/>
                    <h3 class="success_msg">Profile was successfully <br> completed! </h3>
                    <p>
                       <span class="color-text-sub-1">What do you want to do next?</span>
                    </p>
                    <div class="row margin-top-45">
                        <div class="col-sm-6 pad-left-none">
                            <span class="semi-bold">Access your <br>Profile</span>
                        </div>
                        <div class="col-sm-6">
                            <button class="pop-up-login-btn completed-register" @click="goToProfile()">GO TO HOME PAGE</button>
                        </div>
                        
                    </div>
                    <div class="row margin-top-45">
                        <span class="hr-line-slim"></span>
                    </div>
                    <div class="row margin-top-45">
                        <div class="col-sm-6 pad-left-none">
                            <span class="semi-bold">
                                Choose a membership<br>
                                to access our wide<br>
                                selection of courses
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <button class="pop-up-login-btn completed-register membership_btn" @click="goToMembershipPage()">GET MEMBERSHIP</button>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>
</div>

<are-you-sure :Message="CancelRegMessage" :handle-action="goToHome"></are-you-sure>
<choose-profile-photo/>
</div>
</template>
<script>
import {getCountries, getEducation} from '../../api/common/definition.js' 
import {verifyActivationKey, resendNewActivationKey, completeMemberRegistration} from '../../api/member/member.js'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import AreYouSure from '../subcomponents/modal/AreYouSureModal.vue'
import ChooseProfilePhoto from './ChooseProfilePhoto'
import {bus} from '../../main.js'
export default {
  name: 'CompleteRegister',
  components: {PulseLoader, AreYouSure, ChooseProfilePhoto},
  data()
  {
      return{
        isLoading : true,
        isInvalid : true, //assume this to be invalid at first
        isSubmitted : false, //form is submitted
        isSuccess : false, //if form submission is successful 
        RegisterStep: 1,
        SelectedPlan:null,
        ResendActivation:false,
        input:
        {
            UserID:null,
            EmailAddress:null,
            FirstName : '',
            LastName : '',
            Age : null,
            CountryID : 0,
            ZipCode : null,
            EducationLevel : 0,
            Birthday:null,
            School:null,
            Gender:0,
            ProfilePhoto:null
        },
        errors :{
            FirstName : [],
            LastName : [],
            Age : [],
            CountryID : [],
            ZipCode : [],
            EducationLevel : [],
            Birthday:[],
            School:[],
            Gender:[],
            ProfilePhoto:[]
        },
        Countries : [],
        Educations : [],
        CancelRegMessage:'Are you sure you want to cancel the registration?'
      }
  },
  methods:
  {
      ValidateVerificationKey:function()
      {
        this.isLoading = true;
        verifyActivationKey(this.$route.query.ActivationKey).then((response) =>{
            this.input.UserID = response.body.MemberID;
            this.input.EmailAddress = response.body.MemberEmail;
            this.isInvalid = false;
        }).catch((response)=> {
            this.isInvalid = true;
        }).finally(()=>{
            this.isLoading = false;
        });
      },
      Submit:function()
      {
       
        if(!this.HasIntegerValue(this.input.Age)  || this.input.Gender == 0 || this.input.EducationLevel == 0){
            this.$toasted.error("Please Check");
            return;
        }
        if(isNaN(this.input.Age) || this.input.Age < 6 || this.input.Age > 60 ){
            this.errors.Age = ['Invalid Age'];
            this.$toasted.error("Invalid Age");
            return;
        }else{
            this.errors.Age = [];
        }
        var specialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        if(this.HasValue(this.input.School)){
            if(!isNaN(this.input.School) ||  specialChar.test(this.input.School)){
                 this.errors.School = ['Invalid School'];
                 this.$toasted.error("Invalid School");
                 return;
            }else{
                this.errors.School = [];
            }
        }

        this.isSubmitted = true;
        this.input.Birthday = document.getElementById('reg_bday').value;
        completeMemberRegistration(this.input).then((response) => {
            //ok
      
            this.$cookie.set('session_user',response.body.Session.SessionKey,  { expires: '1D' });
            this.$cookie.set('session_value',response.body.Session.SessionValue,  { expires: '1D' });
            this.$cookie.set('user_level','STUDENT',  { expires: '1D' });
            //IF Selected plan is set redirect automatically 
            if(this.SelectedPlan == 'free' || this.SelectedPlan == 'monthly' || this.SelectedPlan == 'yearly' ){
               // window.location.replace('/membership_payment?SelectedPlan='+this.SelectedPlan);
            }

            this.$store.commit("commitIsValidUser", response.body.UserValid);
            this.isSuccess = true;
            // this.$router.go();//refresh

        }).catch((response) => {

            if(response.body.Errors.User){
                this.$toasted.error(response.body.Errors.User);
                return;
            }

            if(response.body.Errors.FirstName){
                this.errors.FirstName = response.body.Errors.FirstName;
                let message = response.body.Errors.FirstName[0];
                this.$toasted.error(message);
                return;
            }else{
                this.errors.FirstName = [];
            }

            if(response.body.Errors.LastName){
                this.errors.LastName = response.body.Errors.LastName;
                let message = response.body.Errors.LastName[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.LastName = [];
            }

            if(response.body.Errors.Age){
                this.errors.Age = response.body.Errors.Age;
                let message = response.body.Errors.Age[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.Age = [];
            }

            if(response.body.Errors.CountryID){
                this.errors.CountryID = response.body.Errors.CountryID;
                let message = response.body.Errors.CountryID[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.CountryID = [];
            }

            if(response.body.Errors.ZipCode){
                this.errors.ZipCode = response.body.Errors.ZipCode;
                let message = response.body.Errors.ZipCode[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.ZipCode = [];
            }
            
            if(response.body.Errors.Gender){
                this.errors.Gender = response.body.Errors.Gender;
                let message = response.body.Errors.Gender[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.ZipCode = [];
            }  
            
            
            if(response.body.Errors.EducationLevel){
                this.errors.EducationLevel = response.body.Errors.EducationLevel;
                let message = response.body.Errors.EducationLevel[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.EducationLevel = [];
            }  

            if(response.body.Errors.Birthday){
                this.errors.Birthday = response.body.Errors.Birthday;
                let message = response.body.Errors.Birthday[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.Birthday = [];
            }         

            if(response.body.Errors.School){
                this.errors.School = response.body.Errors.School;
                let message = response.body.Errors.School[0];
                this.$toasted.error(message);
                return;                
            }else{
                this.errors.School = [];
            }  
                          

            this.$toasted.show("Sorry. Please Check inputted Information");
        }).finally(()=>{
            this.isSubmitted = false;
        });
      },
      goToHome:function()
      {
            this.$router.push({ name: 'Index'});
            this.$router.go();//refresh
      },

      goToMembershipPage:function(){
            window.location.replace('/pricing')
            window.location.replace('/membership_payment')
      },
      goToProfile:function(){
            window.location.replace('/profile')
      },
      NextStep:function(){
            this.input.Birthday = document.getElementById('reg_bday').value;
            var specialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;

            if(!this.HasValue(this.input.FirstName.trim()) || !this.HasValue(this.input.LastName.trim())
                || !this.HasValue(this.input.Birthday) || this.input.CountryID == 0){
                    this.$toasted.error("Please Check again");
                    return;
            }

            if(!isNaN(this.input.FirstName) || /\d/.test(this.input.FirstName) 
            || this.input.FirstName.includes("_") || specialChar.test(this.input.FirstName) ){
                 this.errors.FirstName = ["Invalid first name"];
                 this.$toasted.error("Invalid first name");
                 return;
            }else{
                this.errors.FirstName = [];
            }

            if(!isNaN(this.input.LastName) || /\d/.test(this.input.LastName)  
            || this.input.LastName.includes("_") || specialChar.test(this.input.LastName)){
                 this.errors.LastName = ["Invalid last name"];
                 this.$toasted.error("Invalid last name");
                 return;
            }else{
                this.errors.LastName = [];
            }
            
            if(this.HasValue(this.input.Birthday)){
                this.input.Age = this._CalculateAge(this.input.Birthday);
                if(this.input.Age > 60 || this.input.Age < 6){
                    this.errors.Birthday = ["Invalid Birthday"];
                    this.$toasted.error("Invalid Birthday");
                    return;
                }else{
                this.errors.Age = [];
                }
            }
          
          this.RegisterStep = 2;
            
      },
      _CalculateAge:function(birthday){
          try{
            var today = new Date();
            var birthDate = new Date(birthday);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
          }catch(e){
              return null;
          }
      },
      DoResendActivation:function(){
            this.isLoading = true;
          let inputs = {
              ActivationKey : this.$route.query.ActivationKey
          };
          resendNewActivationKey(inputs).then((response)=>{
                this.ResendActivation = true;
          }).catch(()=>{
                this.$toasted.show("Sorry. Invalid Activation Key");
          }).finally(()=>{
                this.isLoading = false;
          })
      }


  },
  created()
  {
        bus.$on("ChooseProfile",(payload)=>{
            //alert(payload);
            this.input.ProfilePhoto = payload;
        });
      if(!this.$route.query.ActivationKey) //if not present
      {
          this.isLoading = false;
          this.isInvalid = true;
          return;
      }

      if(this.$route.query.SelectedPlan) //if has selected plan
      {
          this.SelectedPlan = this.$route.query.SelectedPlan;
      }


      getCountries().then((response) =>{
          this.Countries = response.body.Countries;
      });
      getEducation().then((response) => {
          this.Educations = response.body.Educations;
      });
      this.ValidateVerificationKey();
  },

}
</script>

<style scoped>
body
{
    padding-top: 0 !important;
}
.regist_profile_photo{
    background-color: gray;
    width: 145px;;
    height: 145px;
    margin: auto;
    position: relative;
}
.edit-icon{
  position: absolute;
  top: 3.3em;
  left: 3.5em;
  color: #fff;
}
.register2_modal{
    margin-top: 1em !important;
}
.invalid-activate-key{
    margin-top: 30vh;
}
.invalid-activate-key button{
    margin-top: 15px;
}
</style>
