<template>
<div class="container-fluid exam-manager-container profile-container">
    <div class="row profile-menu-row student">
        <div class="col-md-12 dashboard">
            <div class="row dashboard-row">
                <div v-if="memberDetail != null" class="col-sm-4 offset-sm-1">
                    <div class="profile-img">

                        <img v-if="memberDetail.profile_image != '' && memberDetail.profile_image != null " 
                            class="image" 
                            :src="this.GetProfileImageURL() +memberDetail.profile_image">

                        <img v-else class="image" src="../assets/images/avatars/Avatar5.jpg">
                        <div class="action followed"><span class="fa fa-check"></span></div>
                    </div>

                    <div class="profile-info teacher">
                        <div class="name">{{memberDetail.fname}} {{memberDetail.lname}}</div>
                        <div class="location-age">{{memberDetail.w_country}} • {{memberDetail.age}}</div>
                       
                    </div>
                </div>

                <div class="col-sm-6 offset-sm-1">
                    <div v-if="this.IsLoggedInTeacher() && TeacherStats != null" class="profile-stats offset-sm-1">
                        <div class="item">
                            <div class="title">Students</div>
                            <div class="stats">{{TeacherStats.StudentCount}} </div>
                        </div>
                        <div class="item">
                            <div class="title">Exams</div>
                            <div class="stats">{{TeacherStats.ExamCount}}</div>
                        </div>
                        <div class="item">
                            <div class="title">Test</div>
                            <div class="stats">{{TeacherStats.UnitTestCount}}</div>
                        </div> 
                        <div class="item">
                            <div class="title">Worksheets</div>
                            <div class="stats">{{TeacherStats.WorksheetCount}}</div>
                        </div>                                 
                        <div class="clearing"></div>
                    </div>
                </div>

            </div>
            
            <div class="row profile-main-row">
                <div class="col-md-8 offset-sm-2">
                    <div class="post-status-area">
                        <textarea v-model="input.Post" 
                        :class="HasError(errors.Post, isInitialLoad)" 
                        class="form-control status-input" rows="2" placeholder="Say what's on your mind">
                        </textarea>
                        <div class="invalid-feedback">
                            {{errors.Post[0]}}
                        </div>
                        <button @click="CreateNewPost()" :disabled="!HasValue(input.Post)" class="btn btn-sm btn-post" >POST</button>
                        <div class="clearing"></div>
                    </div>
                </div>
            </div>

            <div v-if="HasValue(memberDetail)" class="row profile-status-row">
                    <div class="col-md-8  offset-2" >
                        
                        <div v-for="(item, index) in Posts" 
                            :key="'post_'+index" 
                            :class="{'posted-status': item.post_type == 1,'unlocked-status':item.post_type==2,'achievement-status':item.post_type == 3}" 
                            class="status-item ">
                            <div class="header">
                                <span class="title" v-if="item.post_type == 1">POSTED A STATUS</span>
                                <span class="title" v-if="item.post_type == 2">UNLOCKED</span>
                                <span class="title" v-if="item.post_type == 3">ACHIEVEMENT</span>
                                <span class="date">{{ToClientLocalTime(item.date_added)}} &nbsp;
                                    <!-- SHOW ICONS ONLY FOR POSTED STATUS -->
                                    <span @click="ToggleEdit(index)"  v-if="item.post_type == 1 && item.user_id == memberDetail.user_id" class="menu-icon fa fa-pencil-alt curs-pointer"></span>
                                    <span @click="PrepareDeletePost(item.post_id)"  v-if="item.post_type == 1 && item.user_id == memberDetail.user_id" class="menu-icon fa fa-trash-alt curs-pointer popup_are_you_sure"></span>
                                </span>
                            </div>
                            <div class="content">
                                <p v-if="!EditPost[index]">
                                    {{item.post_content}}
                                    </p>
                                    <textarea v-if="EditPost[index]"  
                                    @keyup.enter.exact="UpdatePost($event, item.post_id)" 
                                    @keydown.enter.exact.prevent 
                                    :ref="'post_activity_'+item.post_id"
                                    class="form-control" rows="2" 
                                    :value="item.post_content"></textarea>
                                    <p class="text-right post-btn-holder" v-if="EditPost[index]">
                                        <button class="btn btn-sm btn-post" @click="EditButton('post_activity_'+item.post_id, item.post_id, index)">POST</button>
                                    </p>
                            </div>
                        </div>
                        <div class="clearing"></div>

                        <div v-if="(PageCount  > PageOffset) && PageCount > 1" class="col-md-2 offset-5">
                            <div v-if="isPagerLoading" class="sm-loader margin-top-15" ></div>
                            <button v-else @click="IncreasePageOffset()" class="btn btn-sm btn-main-2 color-white load-more" >Load More</button>
                        </div>
                    </div>
                </div>             
        </div>
        
    </div>
    

    <are-you-sure :Message="DeleteDialogMessage" :handle-action="DeletePost"></are-you-sure>
</div>

</template>
<script>
import AreYouSure from './subcomponents/modal/AreYouSureModal';
import {getMemberActivity, postNewActivity, updateActivity,deleteActivity} from '../api/member/member.js'
export default {
    name:"Profile",
    components:{
        AreYouSure
    },    
    data(){
        return{
            isInitialLoad:true,
            EditPost:[],
            input:{
                Post:null,
                PostType:1,//Normal
            },
            errors:{
                Post:[]
            },
            ToDeleteID:null,
            DeleteDialogMessage:"Are you sure you want to delete this Post?",            
            PageLimit : 5,
            PageOffset: 1,
            PageCount : 0,  
            isPagerLoading:false,  
        }
    },
    computed:{
        memberDetail : function(){
            return this.$store.state.memberDetail;
        },
        TeacherStats:function(){
            return this.$store.state.teacherStats;
        },
        Posts:function(){
            return this.$store.state.memberPosts;
        },
                    
    },
    created(){
        this.GetPosts();
        this.$store.dispatch("fetchTeacherStats",this.GetSessionHeaders());
    },
    methods:{
        CreateNewPost:function(){
            if(!this.HasValue(this.input.Post)){
                return;
            }
            this.isInitialLoad = false;
            postNewActivity(this.GetSessionHeaders(), this.input).then((response)=>{
                this.input.Post = '';
                this.$toasted.success("Post was successfully submitted");
                this.PageOffset = 1;
                this.GetPosts(true);
                this.errors.Post = [];
            }).catch((response)=>{
                try{
                    if(response.body.Errors.Post){
                        this.errors.Post = response.body.Errors.Post;
                    }else{
                        this.errors.Post = [];
                    }                    
                }catch(e){
                    this.$toasted.show('Ooops. Something went wrong at our end.');
                } 
            });
        },
        GetPosts:function(refresh = false){
            getMemberActivity(this.GetSessionHeaders(), this.PageLimit, this.PageOffset).then((response)=>{
                this.PageCount = response.body.PageCount;

                let _post =  [];
                if(this.$store.state.memberPosts && refresh == false) {
                    _post =  this.$store.state.memberPosts;
                }

                if( _post.length > 0 &&
                    (_post.length >= response.body.TotalCount)){
                    this.PageOffset = this.PageCount;
                    return;
                }    
                
                if( _post.length > 0 && this.PageOffset == 1){
                    let divide = _post.length / this.PageLimit;
                    if(divide >= this.PageOffset){
                        this.PageOffset = Math.ceil(divide);
                        return;
                    }
                }

                if(this.PageOffset >= 1){
                    _post.push(...response.body.Post);
                }
                
                
                this.$store.commit("commitMemberPosts", _post);
                //use this to index the target posts to be edited
                this.EditPost = Array(_post.length).fill(false);
            }).finally(()=>{
                this.isPagerLoading = false;
            });
        },
        EditButton:function(refVal, post_id, index = null){
            let inputValue = this.$refs[refVal][0].value;
            
            let obj = { target : {value : inputValue}};
            this.UpdatePost(obj, post_id, index);
            // if(index){
                this.$set(this.EditPost, index,false);
            // }
        },
        UpdatePost:function(event, post_id, index= null){
            let edit_input={
                PostID : post_id,
                Post : event.target.value
            };
            updateActivity(this.GetSessionHeaders(),edit_input).then((response)=>{
                // this.GetPosts(); remove due to the added code below. No need to refetch bwaghahah
                // if(index){
                    this.$set(this.Posts, index, {...this.Posts[index], post_content : edit_input.Post });
                // }
                this.$toasted.success("Post was successfully updated");
            }).catch((response)=>{
                 this.$toasted.error("Post was not updated successfully");
            }).finally(()=>{

            })
        },
        ToggleEdit(index){
            this.$set(this.EditPost, index, !this.EditPost[index]);
        },
        PrepareDeletePost:function(post_id){
            this.ToDeleteID = post_id;
        },
        DeletePost:function(){
            deleteActivity(this.GetSessionHeaders(), this.ToDeleteID).then((response)=>{
                this.$toasted.success("Post was succesfully deleted");
                this.GetPosts(true);
            }).catch((error)=>{

            });
        },
        IncreasePageOffset(){
            if(this.PageOffset >= this.PageCount){
                return;
            }
            this.PageOffset = this.PageOffset+1;
            this.isPagerLoading = true;
            this.GetPosts();
        },         



    }
}
</script>

<style scoped>
.profile-container{
    overflow-x: hidden;
}
.profile-cover-row{
    margin-top: 65px;
}
.profile-cover-row .profile-banner img{
    width: 100%;
}
.profile-menu-row.student{
    margin-top: 4em;
}
.profile-menu-row.teacher{
    height: 60px;
    background-color: #033649;
    box-shadow: 0 0px 1px 1px gray; 
}
.profile-menu-row .profile-img img.image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 6px 1px gray; 
    position: absolute;
    top:-13px;
    left: 40px;

}
.profile-menu-row .profile-img .action.followed, .profile-menu-row .profile-img .action.not-follow{
    position: absolute;
    left: 8px;
    top:16px;
    background-color: #308a4f;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.profile-menu-row .profile-img .action.not-follow{
    background-color: #033649;
}
.profile-menu-row .profile-img .action.followed:hover, .profile-menu-row .profile-img .action.not-follow:hover{
    opacity: 1;
}
.profile-menu-row .profile-info{
    position: relative;
    left: 130px;
}
.profile-menu-row .profile-info.teacher{
    color: #033649;
    font-weight: bold;
}
.profile-menu-row .profile-info .name{
    font-size: 23px;
}
.profile-menu-row .profile-info .location-age{
    font-size: 14px;
}

.profile-menu-row .profile-info .message{
    position: relative;
    right: 0;
}
.profile-menu-row .profile-controls{
    position: relative;
    float: left;
}
.profile-menu-row .profile-controls .message{
    background-color: #3e9f60;
    color: white;
    width: 120px;
    margin-top: 14px;
}
.profile-menu-row .profile-stats{
    position: relative;
    right: 0;
    height: 60px;
    width: 45vw;
}
.profile-menu-row .profile-stats .item{
    width: 9vw;
    border-right: 1px solid black;
    color: #033649;
    font-weight: bold;
    text-align: center;
    float: left;
    height: 60px;
    overflow: hidden;
}
.profile-menu-row .profile-stats .item.no-border{
    border-right: 0px solid black;
}
.profile-menu-row .profile-stats .item .title{
    font-size: 12px;
    padding-top: 13px;
    line-height: 2px;
}
.profile-menu-row .profile-stats .item .stats{
    font-size: 28px;
    line-height: normal;
}
.profile-main-row .post-status-area
{
    margin-top: 25px;
}

.profile-main-row .post-status-area .status-input{
    resize: none;
    border: 1px solid black;
    padding: 15px;
}
.profile-main-row .post-status-area .btn-post{
    color: white;
    background-color: #033649;
    width: 120px;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}

.profile-status-row{
    margin-top: 25px;
    margin-bottom: 40px;
}
.profile-status-row .status-item{
    box-shadow: 0 1px 1px 1px gray; 
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}
.profile-status-row .status-item .header{
    width:100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-bottom: 1px #ddd solid;
}
.profile-status-row .status-item .header .title{
    float: left;
    font-weight: bold;
    padding-left: 15px;
}
.profile-status-row .status-item .header .date{
    float: right;
    padding-right: 15px;
}
.profile-status-row .status-item .content{
    padding: 15px 15px 20px 15px;
}

.profile-status-row .status-item.posted-status .header{
    color: #036564;
}

.profile-status-row .status-item.achievement-status .header{
    background-color: #3e9f60;
    color: white;
}
.profile-status-row .status-item.unlocked-status .header{
    background-color: #036564;
    color: white;
}
</style>

