<template>
    <div class="index-top-fixer">

        <index-main-slider></index-main-slider>

        <index-about v-vpshow></index-about>

        <index-mission v-vpshow></index-mission>
    
        <index-how v-vpshow></index-how>

        <index-course-collection v-vpshow></index-course-collection>

        <!-- <index-news></index-news> -->

        <!-- <index-reviews></index-reviews> -->

        <!--Get Started-->
        <div class="container-fluid" v-vpshow>
            <div class="col get-started-line ">
                <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button class="get-started-btn  popup_register_modal curs-pointer">GET STARTED</button>
                        <input type="hidden" class="reload_reviews"/>
                      </div>
                      <!-- <div class="overlay-line"></div> -->
                      <div class="started-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearing"></div>
        <!--End Get Started-->

    </div>
</template>

<script>
import IndexMainSlider from '../components/subcomponents/index/IndexMainSlider'
import IndexAbout from '../components/subcomponents/index/IndexAbout'
export default {
  name:'Index',
  components:
  {
      IndexMainSlider ,
      IndexAbout ,
      IndexMission  :  () => import('../components/subcomponents/index/IndexMission'),
      IndexHow  :  () => import('../components/subcomponents/index/IndexHowItWorks'),
      IndexCourseCollection  :  () => import('../components/subcomponents/index/IndexCourseCollection'),
  },

}
</script>


