<template>
<div>
  <!--Header Navigation-->
<nav v-if="!isLoggedIn" v-bind:id="dafaqIsthis" class="navbar navbar-expand-lg navbar-white bg-white fixed-top pad-top-none pad-bot-none nav-exam-manager">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../assets/images/main-logo-transparent.png" width="130" height="48" alt="The Agora School">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
            <li class="nav-item semi-bold">
                <router-link class="nav-link" :to="{ name: 'CourseList' }">COURSES</router-link>
            </li>                
            <li class="nav-item semi-bold"> 
                <router-link class="nav-link" :to="{ name: 'Pricing' }">PRICING</router-link>
                 <!-- <router-link class="nav-link" :to="{ name: 'Membershiplist' }">PRICING</router-link> -->
            </li>            
            <li class="nav-item semi-bold">
                <router-link class="nav-link" :to="{ name: 'Contactus' }">CONTACT US</router-link>
            </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
 
        <div class="profile-nav collapse navbar-collapse" id="mainNavBar">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item nav-flag">
                    <!-- <img class= "nav-flag-ico rounded-circle" src="../assets/images/flags/076-philippines.png" width="30px" height="30px"/> -->
                </li>
                <li class="nav-item nav-login" v-if="!isLoggedIn">
                    <a class="login-link nav-link color-white popup_register_modal" href="#">REGISTER</a>
                    <span>  /  </span>
                    <a class="login-link nav-link color-white popup_login_modal" href="#">LOGIN</a>
                </li>

                <li class="nav-item nav-login" v-if="isLoggedIn">
                    <a class="login-link nav-link color-white" href="#" >{{userFirstName}}</a>
                </li>                

            </ul>
        </div>
    </div>
</nav>
<!--End Header Navigation-->
<!--Logged In Teacher Menu-->
<nav v-if="isLoggedIn && isTeacher" class="navbar navbar-expand-lg navbar-white nav-exam-manager fixed-top pad-top-none pad-bot-none nav-bg-admin">
    <div class="container-fluid">
        <a class="navbar-brand margin-right-45"  href="/">
            <img src="../assets/images/agora-logo-white.png" width="150" height="55" alt="The Agora School">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#teacher_mainNavBar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="exam-manager-nav collapse navbar-collapse "  id="teacher_mainNavBar">
            <ul class="invert-color navbar-nav">
                <!-- Mobile Only Profile -->
                <li class="nav-item semi-bold d-lg-none" :class=" {active: this.$route.name == 'Profile'}">
                    <img @click.prevent="GoToProfile()" class= "nav-flag-ico rounded-circle" src="../assets/images/avatars/Avatar5.jpg" width="35px" height="35px"/>
                </li>     
                <!-- Mobile Only Profile -->
                <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'Activity'}">
                    <router-link :to="{name:'Activity'}" class="nav-link">Dashboard</router-link>
                </li>
                <li class="nav-item semi-bold" :class=" {active: ExamisActive() }">
                    <router-link :to="{name:'Exams'}" class="nav-link">Exams</router-link>
                </li>
                <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'Discussion'}">
                    <router-link :to="{name:'Discussion'}" class="nav-link">Discussion</router-link>

                    <span v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Discussion" class="has-notif fa fa-circle"></span>

                </li>
                <li class="nav-item semi-bold" :class=" {active: AssignmentsActive()}">
                    <router-link :to="{name:'TeacherAssignment'}" class="nav-link">Assignments</router-link>

                    <span v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Assignment" class="has-notif fa fa-circle"></span>

                </li>
                <li class="nav-item semi-bold" :class=" {active: GradeisActive()}">
                    <router-link :to="{name:'TeacherGrade'}" class="nav-link">Grades</router-link>

                        <span v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Grade" class="has-notif fa fa-circle"></span>
                </li> 
            </ul>
        </div>
    
        <div class="exam-manager-profile-nav profile-nav collapse navbar-collapse nav-bg-admin" >
            <ul class="invert-color navbar-nav ml-auto ">
                <!-- <li class="nav-item nav-flag">
                    <div class="rounded-circle notifs-counter"> <span><strong>1</strong></span></div>
                </li> -->
                <li v-if="isWelcome()" class="nav-item semi-bold ">HI {{userFirstName}} !</li>
                <li class="invert-color nav-item nav-flag">
                    <!-- <img  class= "nav-flag-ico rounded-circle" src="../assets/images/avatars/Avatar5.jpg" width="35px" height="35px"/> -->
                    <img @click.prevent="GoToProfile()" v-if="memberDetail == null" class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>
                    <img @click.prevent="GoToProfile()" v-else-if="memberDetail.profile_image != '' && memberDetail.profile_image != null" class= "nav-flag-ico rounded-circle" 
                        :src="this.GetProfileImageURL() +memberDetail.profile_image" 
                        width="35px" height="35px"/>   
                    <!--FALLBACK IF THERE IS NO IMAGE-->
                    <img @click.prevent="GoToProfile()" v-else class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>                
                
                
                </li>
                <li class="nav-item ">
                    <div class="input-group">
                        <div class="input-group-append ">
                            <div class=" semi-bold" @click.prevent="GoToProfile()" style="cursor:pointer">{{userFirstName}}</div>
                            <button type="button" id="ex-mn-dropdown-icon" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-exam-manager-menu dropdown-menu ">
                            <router-link :to="{name:'Messages'}" class="dropdown-item">Messages
                                <span  v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Message" class="has-notif messsage fa fa-circle"></span>
                            </router-link>
                            <router-link class="dropdown-item" :to="{ name: 'Profile' }">Profile</router-link>
                            <!-- <a class="dropdown-item" href="#">Profile</a> -->
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item curs-pointer" @click="$parent.LogOutUser()">Log Out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Logged in Student Menu-->
<nav v-if="isLoggedIn && isStudent" class="navbar navbar-expand-lg navbar-white nav-exam-manager fixed-top bg-white pad-top-none pad-bot-none ">
    <div class="container-fluid">
        <a class="navbar-brand margin-right-45"  href="/">
            <img src="../assets/images/main-logo-transparent.png" width="150" height="55" alt="The Agora School">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#student_mainNavBar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>

        <div class="exam-manager-nav collapse navbar-collapse "  id="student_mainNavBar">
            <ul class="navbar-nav">
                <!-- Mobile Only Profile -->
                <li @click.prevent="GoToProfile()" class="nav-item semi-bold d-lg-none" :class=" {active: this.$route.name == 'Profile'}">
                    <img v-if="memberDetail == null" class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>
                    <img v-else-if="memberDetail.profile_image != '' && memberDetail.profile_image != null" class= "nav-flag-ico rounded-circle" 
                        :src="this.GetProfileImageURL() +memberDetail.profile_image" 
                        width="35px" height="35px"/>   
                    <!--FALLBACK IF THERE IS NO IMAGE-->
                    <img v-else class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>  
                </li>
                <!-- Mobile Only Profile -->                                
                <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'Activity'}">
                    <router-link :to="{name:'Activity'}" class="nav-link">Dashboard</router-link>
                </li>
                <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'CourseList'}">
                    <router-link class="nav-link" :to="{ name: 'CourseList' }">Courses</router-link>
                </li>
                <li class="nav-item semi-bold" :class=" {active: ExamisActive() }">
                    <router-link :to="{name:'StudentExam'}" class="nav-link">Exams</router-link>
                </li>
                <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'Discussion'}">
                    <router-link :to="{name:'Discussion'}" class="nav-link">Discussion</router-link>
                   
                    <span v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Discussion" class="has-notif fa fa-circle"></span>

                </li>
                <li class="nav-item semi-bold" :class=" {active: StudentAssignmentActive()}">
                    <router-link :to="{name:'StudentAssignment'}" class="nav-link">Assignments</router-link>

                    <span v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Assignment" class="has-notif fa fa-circle"></span>

                </li>
                <!-- <li class="nav-item semi-bold" :class=" {active: this.$route.name == 'StudentGrade'}">
                    <router-link :to="{name:'StudentGrade'}" class="nav-link">Grades</router-link>
                </li> -->
            </ul>
        </div>
    
        <div class="exam-manager-profile-nav profile-nav collapse navbar-collapse" >
            <ul class="navbar-nav ml-auto ">
                <!-- <li class="nav-item nav-flag">
                    <div class="rounded-circle notifs-counter"> <span><strong>1</strong></span></div>
                </li> -->
                <li v-if="isWelcome()" class="nav-item semi-bold color-txt-main-1">HI {{userFirstName}} !</li>
                <li class="nav-item nav-flag">

                    <img v-if="memberDetail == null" class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>
                    <img v-else-if="memberDetail.profile_image != '' && memberDetail.profile_image != null" class= "nav-flag-ico rounded-circle" 
                        :src="this.GetProfileImageURL() +memberDetail.profile_image" 
                        width="35px" height="35px"/>   
                    <!--FALLBACK IF THERE IS NO IMAGE-->
                    <img v-else class= "nav-flag-ico rounded-circle" 
                        src="../assets/images/avatars/Avatar5.jpg" 
                        width="35px" height="35px"/>                                                             
                    
                </li>
                <li class="nav-item ">
                    <div class="input-group">
                        <div class="input-group-append">
                            <div class=" semi-bold color-txt-main-1" @click.prevent="GoToProfile()" style="cursor:pointer">{{userFirstName}}</div>
                            <button id="student_menu_drpdown" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split color-txt-main-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-exam-manager-menu dropdown-menu color-txt-main-1">
                            <router-link :to="{name:'Messages'}" class="dropdown-item">Messages
                                  <span  v-if="HasValue(MemberMenuNotif) && MemberMenuNotif.Message" class="has-notif messsage fa fa-circle"></span>
                            </router-link>
                            <!-- <a class="dropdown-item" href="#">Messages</a> -->
                            <router-link class="dropdown-item" :to="{ name: 'Profile' }">Profile</router-link>
                            <!-- <a class="dropdown-item" href="#" @click.prevent="GoToProfile()">Profile</a> -->
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item curs-pointer" @click="$parent.LogOutUser()">Log Out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



</div>
</template>

<script>

import {getMemberDetail,getMemberStats, getMemberNotificationStats} from '../api/member/member.js'

export default {
  name: 'MainNavigation',
  data () {
    return {
      isLoggedIn : false,
      isTeacher:false,
      isStudent:false,
      userFirstName : null,
    //   MemberMenuNotif:null,
      dafaq:'not-logged-in-nav'
    }
  },
  computed:{
      dafaqIsthis:function(){
          if(this.$route.name == 'Index'){
              return this.dafaq;
          }else{
              return 'show_not_logged_in';
          }
      },
      memberDetail:function(){
          return this.$store.state.memberDetail;
      },
      MemberMenuNotif:function(){
          return this.$store.state.memberMenuNotif;
      }
  },
  methods:
  {
      CheckIfLoggedIn : function()
      {
          if(!this.$cookie.get("session_user") || !this.$cookie.get("session_value"))
          {
            this.isLoggedIn = false;
            //this.$router.push({ name: 'Index' });
              return;
          }
          if(this.$cookie.get("user_level") == 'TEACHER'){
              this.isTeacher = true;
          }else if(this.$cookie.get("user_level") == 'STUDENT'){
              this.isStudent = true;
          }

          getMemberDetail(this.GetHeaders(),this.$cookie.get("session_value")).then((response) => {
              //Save the member detail to vuex for reuse later
              this.isLoggedIn = true;
              this.userFirstName = response.body.Member.fname;
              this.$store.commit("saveMemberDetail", response.body.Member);

              let isValid =  JSON.parse(this.$cookie.get("is_valid_user"));
              this.$store.commit("commitIsValidUser", isValid);
              if(this.$store.state.memberDetail == false){
                // this.$toasted.error('Your account is not activated yet. Please complete your registration through email we sent you first.');
                this.$parent.IncompleteRegistration();
              }

          }).catch((response)=>{
              console.log(response);
                this.isLoggedIn = false;
                //check if the router requires auth if it is
                //redirect to homepage
                let meta = this.$router.currentRoute.meta;
                if(meta.requireAuth == true){
                  this.$router.push({ name: 'Index' });
                }
          });
          getMemberStats(this.GetHeaders()).then((response)=>{
                this.$store.commit("saveMemberStats", response.body.Stats);
          });
          getMemberNotificationStats(this.GetHeaders()).then((response)=>{
              this.$store.commit("commitMemberNotif",response.body.Notifs);
          });

      },
      GetHeaders : function()
      {
        let api_headers = 
        {
            "User-Key" : this.$cookie.get("session_user"),
            "X-Authorization" : this.$cookie.get("session_value")
        }
        return api_headers;
      },
      GoToProfile:function(){
        this.$router.push({ name: 'Profile' });
      },
      ExamisActive:function(){
        if( this.$route.name == 'Exams'){
            return true;
        }
        let meta = this.$router.currentRoute.meta;
            if(meta.parentNav == 'exam'){
                return true;
            }
        return false;
      },
      AssignmentsActive:function(){
        if( this.$route.name == 'TeacherAssignment'){
            return true;
        }
        let meta = this.$router.currentRoute.meta;
            if(meta.parentNav == 'assignment'){
                return true;
            }
        return false;
      },
      StudentAssignmentActive:function(){
        if( this.$route.name == 'StudentAssignment'){
            return true;
        }
        let meta = this.$router.currentRoute.meta;
            if(meta.parentNav == 'assignment'){
                return true;
            }
        return false;
      },
      GradeisActive:function(){
        if( this.$route.name == 'TeacherGrade'){
            return true;
        }
        let meta = this.$router.currentRoute.meta;
            if(meta.parentNav == 'grade'){
                return true;
            }
        return false;          
      },
        isWelcome : function(){
            if(this.$route.query.welcome){
                return this.$route.query.welcome;
            }
            return false;
        },                

  },
  created()
  {
      this.CheckIfLoggedIn();

      if(this.$route.query.incomplete_register){
            this.$toasted.error('Your account is not activated yet. Please complete your registration through email we sent you first.');
      }
  }
}
</script>

<style scoped>
#teacher_navbar{
    min-width: 1280px;
}
.nav-bg-admin{
    background-color: #033649;
}
.invert-color.navbar-nav .nav-item .nav-link{
    color:white;
}
#ex-mn-dropdown-icon{
    color: white;
}
#student_menu_drpdown{
    border: none;
}
.invert-color.nav-item.nav-flag{
    background-color: #033649;
}
#show_not_logged_in{
    display: block !important;
}

.nav-item {
    position: relative;
}
.nav-item .has-notif{
    position: absolute;
    color : #dd4b4b !important;
    font-size: 8px;
    top:12px;
    right: -10px;
}
.nav-item .has-notif.messsage{
    right: 40px;
    top:36px;
}

</style>