<template>
<footer class="container-fluid footer-contact-us">
       	<div v-if="ShowLine()" class="container-fluid" v-vpshow>
            <div class="col get-started-line ">
                <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                      </div>
                      <div class="started-line"></div>
                    </div>
                </div>
            </div>
        </div>    
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <h4>Contact</h4>
                <ul class="">
                    <!-- <li><span class="fa "></span><router-link :to="{ name: 'Index' }"> Home </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'CourseList' }"> Courses </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'Pricing' }"> Pricing </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'Contactus' }"> Contact Us </router-link></li> -->
                    <li><span class="fa fa-envelope"></span> <a href="#">support@agora-school.com </a></li>
                    <li><span class="fa fa-phone"></span> +(000) 999-9999</li>
                    <li><span class="fa fa-fax"></span> +(000) 999-9999</li>
                    <li><span class="fa fa-map-marker"></span>  Singapore</li> 
                </ul>
            </div>
            <div class="col-md-4 offset-md-1">
                <h4></h4>
                <ul class="">
                    <!-- <li><span class="fa "></span><router-link :to="{ name: 'Index' }"> Home </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'CourseList' }"> Courses </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'Pricing' }"> Pricing </router-link> </li>
                    <li><span class="fa "></span><router-link :to="{ name: 'Contactus' }"> Contact Us </router-link></li> -->
                    <li>
                        <router-link :to="{ name: 'PrivacyPolicy' }"> Privacy Policy </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'TermsCondition' }"> Terms and Condition </router-link>
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</footer>

  
</template>

<script>
export default {
  name: 'MainFooter',
  methods:{
      ShowLine(){ 
        switch(this.$route.name){
            case "CourseList":
                return true;;
            break;
            case "CourseSub":
                return true;;
            break;     
            case "Pricing":
                return true;;
            break;                 
            case "Membershiplist":
                return true;
            break; 
          case "MembershipComplete":
                return true;
            break;                                
            default:
                return false;
            break;    
               
        }
      }
  }
}
</script>