<template>
<div class="container-fluid exam-manager-container profilev2-container">
    <div class="container-fluid profile-banner teacher-banner " :class="SelectedBackdrop()">
        <div class="text-right profile-banner-edit popup_change_backdrop">
            Edit Backdrop
            <span class="fa fa-edit  "></span>
        </div>
        <div v-if="memberDetail != null" class="name-col">
            <h1 class="ft-size-72" :class="SelectedBackdropSub()"> {{memberDetail.fname}} {{memberDetail.lname}}
                <!-- <img src="../assets/images/staticimage/medal.png"/> -->
            </h1>
            <span class="profile-sub-level" :class="SelectedBackdropSub()">{{memberDetail.w_user_level}} Profile</span>
        </div>
    </div>
    <div class="container-fluid margin-top-15">
        <div class="col-md-12">    
            <div class="row">
                <!-- Profile Details -->
                <div class="col-md-3 col-profile-detail ">

                    <div v-if="memberDetail != null " class="profile-photo popup_change_profile_img">
                        
                        <img v-if="memberDetail.profile_image != '' && memberDetail.profile_image != null " class="image" :src="this.GetProfileImageURL() +memberDetail.profile_image">
                        <img v-else class="image" src="../assets/images/avatars/Avatar5.jpg">

                        <div class="edit-overlay ">
                            <span class="fa fa-pencil-alt popup_change_profile_img"></span>
                        </div>
                    </div>

                    <div class="profile-details">
                        <div class="table-responsive">
                            <table class="table profile-table">
                                    <!-- VISIBLE ONLY ON EDITING -->
                                 <tr v-if="isEditingProfile">
                                    <td class="profilet-title">First Name</td>
                                    <td>
                                        <span>
                                            <input v-model="inputs.FirstName" 
                                            :class="{'is-invalid' : (!HasValue(inputs.FirstName) || HasErrorBool(errors.FirstName)) } " 
                                            type="text" class="form-control form-control-sm" placeholder="First Name"/>
                                            <div class="invalid-feedback">
                                                {{this.errors.FirstName[0]}}
                                            </div>    
                                        </span>
                                    </td>
                                </tr>   
                                 <tr v-if="isEditingProfile">
                                    <td class="profilet-title">Last Name</td>
                                    <td>
                                        <span>
                                            <input v-model="inputs.LastName" 
                                            :class="{'is-invalid' : (!HasValue(inputs.LastName) || HasErrorBool(errors.LastName)) } "
                                            type="text" class="form-control form-control-sm" placeholder="Last Name"/>
                                            <div class="invalid-feedback">
                                                {{this.errors.LastName[0]}}
                                            </div>    
                                        </span>
                                    </td>
                                </tr>                                   
                            <!-- VISIBLE ONLY ON EDITING -->

                                <tr>
                                    <td class="profilet-title">Location</td>
                                    <td v-if="!isEditingProfile">
                                        <strong v-if="memberDetail != null">
                                            {{memberDetail.w_country}}
                                        </strong>
                                    </td>
                                    <td v-else>
                                        <span>
                                            <select  v-model="inputs.CountryID" 
                                            :class="{'is-invalid' : (!HasValue(inputs.CountryID) || HasErrorBool(errors.CountryID)) } "
                                            class="form-control form-control-sm select-table">
                                                <option  v-for="country in countries" :value="country.id" :key="country.id">
                                                    {{country.country_name}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">
                                                {{this.errors.CountryID[0]}}
                                            </div>                                            

                                            <input v-model="inputs.ZipCode" 
                                            :class="HasError(this.errors.ZipCode, isInitialLoad)"  
                                            type="text" class="form-control form-control-sm" placeholder="Zip Code"/>
                                            <div class="invalid-feedback">
                                                {{this.errors.ZipCode[0]}}
                                            </div>    
                                        </span>
                                    </td>
                                </tr>
                                <tr v-if="memberDetail != null">
                                    <td class="profilet-title">Age, Gender</td>
                                    <td v-if="!isEditingProfile">
                                        <span v-if="HasValue(memberDetail.age)">{{memberDetail.age}}</span>
                                        <span v-else>Not specified</span>, 
                                        <span v-if="memberDetail.gender == 1">Male</span>
                                        <span v-else-if="memberDetail.gender == 2">Female</span>
                                        <span v-else>Not specified</span>
                                    </td>
                                    <td v-else>
                                        <input  v-model="inputs.Age" 
                                        :class="{'is-invalid' : (!HasValue(inputs.Age) || HasErrorBool(errors.Age)) } "
                                        type="number" class="form-control form-control-sm select-table" placeholder="Age"/>
                                        <div class="invalid-feedback">
                                            {{this.errors.Age[0]}}
                                        </div> 
                                       
                                        <select  v-model="inputs.Gender" 
                                        :class="{'is-invalid' : (!HasValue(inputs.Gender) || HasErrorBool(errors.Gender)) } "
                                        class="form-control form-control-sm">
                                            <option value="1">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{this.errors.Gender[0]}}
                                        </div>                                         
                                    </td>
                                </tr>
                                <tr v-if="memberDetail!= null">
                                    <td class="profilet-title">Birthday</td>
                                    <td v-if="!isEditingProfile">
                                        <!-- fix for now patch later -->
                                        <span v-if="memberDetail.birthday != '1970-01-01'">
                                             {{ToDate(memberDetail.birthday)}}
                                        </span>
                                        <span v-else>Not Specified</span>
                                    </td>
                                    <td v-else>
                                        <input id="profile_update_bday" 
                                        :class="{'is-invalid' : (!HasValue(inputs.Birthday) || HasErrorBool(errors.Birthday)) } "
                                        :value="inputs.Birthday" type="text" class="form-control form-control-sm agora_date_picker" 
                                         placeholder="Birthday">
                                        <div class="invalid-feedback">
                                            {{this.errors.Birthday[0]}}
                                        </div>     
                                    </td>
                                </tr>
                                <tr v-if="memberDetail!= null">
                                    <td class="profilet-title">Email</td>
                                    <td v-if="!isEditingProfile">{{memberDetail.user_email}}</td>
                                    <td v-else>
                                        <input  v-model="inputs.EmailAddress"  
                                        :class="{'is-invalid' : (!HasValue(inputs.EmailAddress) || HasErrorBool(errors.EmailAddress)) } "
                                        type="email" class="form-control form-control-sm select-table" placeholder="Email"/>
                                        <div class="invalid-feedback">
                                            {{this.errors.EmailAddress[0]}}
                                        </div>                                         
                                    </td>
                                </tr>
                                <tr v-if="memberDetail!= null">
                                    <td class="profilet-title">Username</td>
                                    <td v-if="!isEditingProfile">{{memberDetail.user_login}}</td>
                                    <td v-else>
                                        <input  v-model="inputs.Username" 
                                        :class="{'is-invalid' : (!HasValue(inputs.Username) || HasErrorBool(errors.Username)) } " 
                                        type="text" class="form-control form-control-sm select-table" placeholder="Username"/>
                                        <div class="invalid-feedback">
                                            {{this.errors.Username[0]}}
                                        </div>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="profilet-title">Password</td>
                                    <td>
                                        <a href="#"  @click.prevent="Silence()" class="popup_change_pass">Change Password</a>
                                    </td>
                                </tr>
                                <tr v-if="memberDetail!= null">
                                    <td class="profilet-title">Education</td>
                                    <td v-if="!isEditingProfile">{{memberDetail.w_education}}
                                        <span v-if="HasValue(memberDetail.w_education) 
                                        && memberDetail.w_education != 'None'">
                                             Degree
                                        </span>
                                        <span v-else-if="memberDetail.w_education == 'None'"></span>
                                        <span v-else>Not Specified</span>
                                        </td>
                                    <td v-else>
                                        <select  v-model="inputs.EducationLevel" 
                                        :class="{'is-invalid' : (!HasValue(inputs.EducationLevel) || HasErrorBool(errors.EducationLevel)) } " 
                                        class="form-control form-control-sm">
                                            <option  v-for="education in educations" :value="education.edu_level_id" :key="education.edu_level_id">
                                                {{education.edu_level_description}}
                                            </option>
                                        </select> 
                                        <div class="invalid-feedback">
                                            {{this.errors.EducationLevel[0]}}
                                        </div>                                              
                                    </td>
                                </tr>
                                <tr v-if="memberDetail!= null">
                                    <td class="profilet-title">School</td>
                                    <td v-if="!isEditingProfile">
                                     <span v-if="HasValue(memberDetail.school)">{{memberDetail.school}}</span>
                                     <span v-else>Not Specified</span>    
                                    </td>
                                    <td v-else>
                                        <input v-model="inputs.School" 
                                        :class="HasError(this.errors.School, isInitialLoad)"  
                                        type="text" class="form-control form-control-sm" placeholder="School">
                                        <div class="invalid-feedback">
                                            {{this.errors.School[0]}}
                                        </div>                                            
                                    </td>
                                </tr>
                                <tr v-if="memberDetail.user_level != 4">
                                    <td class="profilet-title">Type of Subscription</td>
                                    <!-- <td v-if="memberDetail.user_level == 1 && !this.$store.state.isValidUser">
                                        Free trial has been expired
                                    </td>
                                    <td v-if="memberDetail.user_level == 1 && !this.$store.state.isValidUser">
                                        <router-link :to="{ name: 'Pricing' }"> Get Subscription</router-link>
                                    </td> -->
                                    <td v-if="memberDetail.user_level == 0">
                                        <router-link :to="{ name: 'Membershiplist' }"> Get Subscription</router-link>
                                    </td>
                                    <td v-else>
                                        <span v-if="memberDetail.user_level == 1 && (!this.$store.state.isValidUser || this.$store.state.memberStats.WorksheetCount >= 5)">Free trial has been expired</span>
                                        <span v-else-if="memberDetail.user_level == 1">Free trial <br></span>
                                        <span v-else>{{memberDetail.subscription_type}} Subscription<br></span>

                                        <router-link 
                                            v-if="memberDetail.user_level == 1 && this.$store.state.isValidUser"
                                            :to="{ name: 'Membershiplist' }"> Get Subscription
                                        </router-link>
                                        <a v-else href="#" @click.prevent="Silence()" class="popup_member_cancellation">Cancel Subscription</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="profilet-title">Date Joined</td>
                                    <td>{{ToDate(memberDetail.registration_date)}}</td>
                                </tr>
                                <tr v-if="HasValue(memberDetail.fb_register_id) || HasValue(memberDetail.gmail_id)">
                                    <td class="profilet-title">Link Account/s</td>
                                    <td>
                                        <div class="profile-icons">
                                            <img v-if="HasValue(memberDetail.fb_register_id)" src="../assets/images/staticimage/icons/fb.png">
                                            <img v-if="HasValue(memberDetail.gmail_id)" src="../assets/images/staticimage/icons/google.png">
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <span @click="PrepareEdit()" class="fa  change-prof-detail" 
                        :class="{'fa-pencil-alt': !isEditingProfile, 'fa-times':isEditingProfile}"></span>
                        
                        <div v-if="!isEditingProfile && memberDetail.user_level != 4" class="profile-edit-controls">
                            <button class="btn btn-primary btn-sm btn-main-2 popup_member_deactivation">Deactivate</button>
                        </div>

                        <div  v-if="isEditingProfile" class="profile-edit-controls">
                            <button @click="UpdateMember()" class="btn btn-primary btn-sm btn-main-2">Update</button>
                            <button @click="CancelEdit()" class="btn btn-danger btn-sm btn-main-dnger-1">Cancel</button>
                        </div>
                    </div>
                    
                </div>
                <!-- End Profile Details -->

                <!-- Profile Content -->
                <div v-if="memberDetail != null" class="col-md-9">
                    <!-- STUDENT -->
                    <div v-if="memberDetail.user_level != 4" class="row student-stats-row">
                        <div class="col-md-6">
                            <div class="item">
                                <div class="stat-no worksheet">
                                    <span>{{Stats.WorksheetCount}}</span>
                                </div>
                                <div class="desc">
                                    Worksheets Completed
                                </div>
                                <div class="clearing"></div>
                            </div>

                            <div class="item">
                                <div class="stat-no exam">
                                    <span>{{Stats.ExamCount}}</span>
                                </div>
                                <div class="desc">
                                    Exams Completed
                                </div>
                                <div class="clearing"></div>
                            </div>                  
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <div class="stat-no unittest">
                                    <span>{{Stats.UnitTestCount}}</span>
                                </div>
                                <div class="desc">
                                    Unit Test Completed
                                </div>
                                <div class="clearing"></div>
                            </div>  

                            <div class="item">
                                <div class="stat-no assignment">
                                    <span>{{Stats.AssignmentCount}}</span>
                                </div>
                                <div class="desc">
                                    Assignments Completed
                                </div>
                                <div class="clearing"></div>
                            </div>  

                        </div>
                    </div>
                    <!-- TEACHER -->
                    <div v-if="memberDetail.user_level == 4"  class="row student-stats-row">
                        <div class="col-md-6">
                            <div class="item">
                                <div class="stat-no worksheet">
                                    <span>{{TeacherStats.WorksheetCount}}</span>
                                </div>
                                <div class="desc">
                                    Worksheets Created
                                </div>
                                <div class="clearing"></div>
                            </div>

                            <div class="item">
                                <div class="stat-no exam">
                                    <span>{{TeacherStats.ExamCount}}</span>
                                </div>
                                <div class="desc">
                                    Exams Created
                                </div>
                                <div class="clearing"></div>
                            </div>                  
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <div class="stat-no unittest">
                                    <span>{{TeacherStats.UnitTestCount}}</span>
                                </div>
                                <div class="desc">
                                    Unit Test Created
                                </div>
                                <div class="clearing"></div>
                            </div>  

                            <div class="item">
                                <div class="stat-no assignment">
                                    <span>{{TeacherStats.AssignmentCount}}</span>
                                </div>
                                <div class="desc">
                                    Assignments Created
                                </div>
                                <div class="clearing"></div>
                            </div>  

                        </div>
                    </div>            

                    <!-- Profile History -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-take-exam-row profile-stats-row">


                                <!-- Student 07152018-->
                                <div  v-if="memberDetail.user_level != 4" class="new-profile-tabs">
                                    <h1>Courses</h1>
                                    <div class="table-responsive tb-profile">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Course Item</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="memberDetail.user_level != 4" v-for="(item,index) in Stats.CourseProgresses" :key="'std_course_progresses2_'+index">
                                                    <td class="course"> {{item.category_title}}</td>
                                                    <td>
                                                        <div class="progress">
                                                        <div v-if="item.progress.has_completed_main_exam > 0" class="progress-bar bg-success" 
                                                                role="progressbar" 
                                                                style="width:100%" 
                                                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                            100%
                                                        </div>                                            
                                                        <div v-else class="progress-bar" 
                                                        :class="{'bg-success':item.progress.total_exams_completed == item.progress.total_exams_in_course,
                                                                'bg-warning': CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course) >=50 && CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course)< 99,
                                                                'bg-danger': CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course) < 50}" 
                                                                role="progressbar" 
                                                                :style="{'width': CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course) +'%'}" 
                                                                :aria-valuenow="CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course)" aria-valuemin="0" aria-valuemax="100">
                                                            {{CalculateCourseProgress(item.progress.total_exams_completed, item.progress.total_exams_in_course)}}%
                                                        </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- <tr>
                                                    <td class="course">Simple Math 101</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 100%;">100%
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr> -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div  v-if="memberDetail.user_level != 4" class="new-profile-tabs">
                                    <h1>Grades</h1>
                                    <div class="row margin-bot-15">
                                        <div class="col-md-3">
                                            <select v-model="sort_input.CategoryID" @change="GetSections()" class="form-control">
                                                <option value="0">Select Category</option>
                                                <option v-for="(item,index) in Categories" :key="`comp_cate_${index}`" :value="item.category_id">
                                                    {{item.category_title}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select  v-model="sort_input.SectionID" @change="GetSectionLevels()" class="form-control">
                                                <option value="0">Select Section</option>
                                                <option v-for="(item, index) in CompCategorySections" :key="`comp_cate_section_${index}`" :value="item.category_section_id">{{item.section_title}}</option>
                                            </select>
                                        </div>             
                                        <div class="col-md-3">
                                            <select v-model="sort_input.LevelID" class="form-control" @change="GetLevelChapters()">
                                                <option value="0">Select Level</option>
                                                <option v-for="(item, index) in CompCategorySectionLevels" :key="`comp_cate_section_level_${index}`" :value="item.category_section_level_id">{{item.level_title}}</option>
                                            </select>
                                        </div>  
                                        <div class="col-md-3"> 
                                            <select v-model="sort_input.ChapterNo" class="form-control" @change="GetTeacherGradesByChapter()">
                                                <option value="0">Select Chapter</option>
                                                <option v-for="(item, index) in CompLevelChapters" :key="`comp_cate_section_level_chapters_${index}`" :value="item.chapter_no">Chapter {{item.chapter_no}}</option>
                                            </select>
                                        </div>                                                                                                                         
                                    </div>                                    
                                    <div class="table-responsive tb-profile" >
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Course Item</th>
                                                    <th>Score</th>
                                                    <th>Grade</th>
                                                    <th>Attempt</th>
                                                    <th>Final Grade</th>
                                                    <th>Rank</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div v-if="GradeStatsLoading" class="sm-loader load-more profile-grade-loader margin-top-15" ></div>
                                                <tr v-if="GradeStatsLoading">
                                                   <td><br>
                                                    <br>
                                                    <br>
                                                   </td> 
                                                </tr>
                                                <tr v-else-if="memberDetail.user_level != 4 && !GradeStatsLoading"  v-for="(item,index) in GradeStats" :key="'stdgrade_stats2_'+index" >
                                                    <td>
                                                        <span v-if="item.item_type == 1">WORKSHEET : </span>
                                                        <span v-if="item.item_type == 2">UNIT TEST : </span>{{item.title}}
                                                    </td>
                                                    <td>   {{item.score}} / {{item.no_of_question}} </td>
                                                    <td>{{ ((item.score / item.no_of_question) * 100).toFixed(2) }} %</td>
                                                    <td>Attempt: {{item.attempt_count}}</td>
                                                    <td>{{ ((item.score / item.no_of_question) * 100).toFixed(2) }} % </td>
                                                    <td>No Rank</td>
                                                </tr>
 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Student 07152018-->

                                <!-- TEACHER -->

                                <div v-if="memberDetail.user_level == 4" class="new-profile-tabs">
                                    <h1>Students</h1>
                                    <div class="table-responsive tb-profile">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Student Name</th>
                                                    <th>Age, Location</th>
                                                    <th>Highest Rank</th>
                                                    <th>Enrolled Lessons</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in TeacherStudentStats" :key="'teacher_studnet_'+index">
                                                    <td>{{index+1}}</td>
                                                    <td>{{item.fname}} {{item.lname}}</td>
                                                    <td>{{item.age}}, {{item.country_name}}</td>
                                                    <td>No Rank</td>
                                                    <td>{{item.courses}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav class="pager_navigation" aria-label="Teacher Grade List">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                <a v-if="TeacherStudentStatsPager.PageOffset - 1 > 0" @click.prevent="PagerPrevPage()" class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>

                                                <li v-for="n in (TeacherStudentStatsPager.PageOffset, CompTeacherStudentPageCount)" class="page-item" :class="PagerActivePage(n)" :key="n" v-if="(n >= TeacherStudentStatsPager.PageOffset) && (n < TeacherStudentStatsPager.PageOffset + 5)">
                                                <a @click.prevent="SetPageOffset(n)" class="page-link" href="#">{{n}}</a>
                                                </li>

                                                <li class="page-item">
                                                <a v-if="TeacherStudentStatsPager.PageOffset + 1 <= CompTeacherStudentPageCount" @click.prevent="PagerNextPage()" class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </div>
                                </div>

                                <div v-if="memberDetail.user_level == 4" class="new-profile-tabs">
                                    <h1>Courses</h1>
                                    <div class="table-responsive tb-profile">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Course Item</th>
                                                    <th>Students</th>
                                                    <th>Tests</th>
                                                    <th>Worksheets</th>
                                                    <th>Assignments</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in TeacherCoursesStats" :key="'teacher_course_stats_'+index">
                                                    <td>{{item.category_title}}</td>
                                                    <td>{{item.StudentCount}}</td>
                                                    <td>{{item.UnitTestCount}}</td>
                                                    <td>{{item.WorksheetCount}}</td>
                                                    <td>{{item.AssignmentCount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav class="pager_navigation" aria-label="Teacher Grade List">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                <a v-if="TeacherCourseStatsPager.PageOffset - 1 > 0" @click.prevent="PagerPrevPageCourse()" class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>

                                                <li v-for="n in (TeacherCourseStatsPager.PageOffset, CompTeacherCoursePageCount)" class="page-item" :class="PagerActivePageCourse(n)" :key="n" v-if="(n >= TeacherCourseStatsPager.PageOffset) && (n < TeacherCourseStatsPager.PageOffset + 5)">
                                                <a @click.prevent="SetPageOffsetCourse(n)" class="page-link" href="#">{{n}}</a>
                                                </li>

                                                <li class="page-item">
                                                <a v-if="TeacherCourseStatsPager.PageOffset + 1 <= CompTeacherCoursePageCount" @click.prevent="PagerNextPageCourse()" class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </div>
                                </div>
                                 <!-- TEACHER -->

                            </div>  
                        </div>
                    </div>
                    <!-- End Of Profile History -->            

                </div>
                <!-- End Profile Content -->
        
            </div>
        </div>

    </div>
<change-password></change-password>
<change-profile-photo></change-profile-photo>
<change-backdrop></change-backdrop>
<cancellation></cancellation>
<deactivate></deactivate>
</div>  
</template>
<script>
import ChangeProfilePhoto from './subcomponents/modal/ChangeProfilePhoto';
import Cancellation from './subcomponents/modal/Cancellation';
import Deactivate from './subcomponents/modal/Deactivation';
import ChangePassword from './subcomponents/modal/ChangePassword';
import ChangeBackdrop from './subcomponents/modal/ChangeBackdrop.vue';
import {getMemberDetail, updateMemberDetail} from '../api/member/member.js'
import {getTeacherCourses, getCategories, newCourseExam, getItemsforQuestionBanks, getSectionLevelforQuestionBanks, getCategories2LevelChapters} from '../api/teacher/exam.js';
export default {
    components:{ChangeProfilePhoto,ChangePassword,ChangeBackdrop, Cancellation, Deactivate},
    data(){
        return{
            isUserProfile:true,
            isEditingProfile : false,
            isInitialLoad:true,
            selected_backdrop_sub: null,
            inputs:{
                EmailAddress:null,
                UserID:null,
                FirstName:null,
                MiddleName:null,
                LastName:null,
                Birthday:null,
                Age:null,
                CountryID:null,
                ZipCode:null,
                EducationLevel:null,
                Gender:null,
                School:null,
                EmailAddress:null,
                Username:null,
                Facebook:null,
                Gmail:null,
            },
            errors :{
                EmailAddress:[],
                FirstName : [],
                LastName : [],
                Age : [],
                CountryID : [],
                ZipCode : [],
                EducationLevel : [],
                Birthday:[],
                School:[],
                Gender:[],
                Username:[],
                Facebook:[],
                Gmail:[],                
            },    
            sort_input:{
                CategoryID:0,
                SectionID:0,
                LevelID:0,
                ChapterNo:0,
            }  ,
            CategorySections:[]  ,
            SectionLevels:[],
            LevelChapters:[],    

            TeacherStudentStatsPager:{
                PageOffset: 1,
                PageLimit: 10,
                PageCount:0,
            },
            TeacherCourseStatsPager:{
                PageOffset: 1,
                PageLimit: 10,
                PageCount:0,
            }

        }
        
    },
    computed:{
        memberDetail : function(){
            let _memberDetail =  this.$store.state.memberDetail;
            if(_memberDetail){
                this.inputs.FirstName = _memberDetail.fname;
                this.inputs.MiddleName = _memberDetail.mname;
                this.inputs.LastName = _memberDetail.lname;
                this.inputs.Birthday = _memberDetail.birthday;
                this.inputs.Age = _memberDetail.age;
                this.inputs.EmailAddress = _memberDetail.user_email;
                this.inputs.Username = _memberDetail.user_login;
                this.inputs.CountryID = _memberDetail.country_id;
                this.inputs.ZipCode = _memberDetail.zip_code;
                this.inputs.Gender = _memberDetail.gender;
                this.inputs.School = _memberDetail.school;
                this.inputs.EducationLevel = _memberDetail.education_level;
                this.inputs.Facebook = _memberDetail.social_fb;
                this.inputs.Gmail = _memberDetail.social_gmail;
            }
            return _memberDetail;
        },
        Stats:function(){
            return this.$store.state.memberStats;
        },
        GradeStats:function(){
            return this.$store.state.memberGradeStats;
        },
        GradeStatsLoading:function(){
            // return true;
            return this.$store.state.memberGradeStatsLoading;
        },
        TeacherStats:function(){
            return this.$store.state.teacherStats;
        },
        TeacherCoursesStats:function(){
            return this.$store.state.teacherCourseStats;
        },
        TeacherStudentStats:function(){
            return this.$store.state.teacherStudentStats;
        },
        EnrolledCourses:function(){
            return this.$store.state.memberEnrolledCourse;
        },
        countries: function(){
            return this.$store.state.countries;
        },
        educations: function(){
            return this.$store.state.educations;
        },
        Categories: function(){
            return this.$store.state.categories;
        } ,
        CompCategorySections :function(){
            return this.CategorySections;
        },
        CompCategorySectionLevels:function(){
            return this.SectionLevels;
        },
        CompLevelChapters:function(){
            return this.LevelChapters;
        },

        CompTeacherStudentPageCount:function(){
            return this.$store.state.teacherStudentStatsPageCount;
        },
        CompTeacherCoursePageCount:function(){
            return this.$store.state.teacherCourseStatsPageCount;
        }


    },
    created(){
        
        this.$store.dispatch("fetchTeacherStats",this.GetSessionHeaders());

        let teacherCoursePager = {
            api_headers : this.GetSessionHeaders(),
            PageOffset : this.TeacherCourseStatsPager.PageOffset ,
            PageLimit : this.TeacherCourseStatsPager.PageLimit ,
        }

        this.$store.dispatch("fetchTeacherCourseStats",teacherCoursePager);


        let teacherStudentPager = {
            api_headers : this.GetSessionHeaders(),
            PageOffset : this.TeacherStudentStatsPager.PageOffset ,
            PageLimit : this.TeacherStudentStatsPager.PageLimit ,
        }

        this.$store.dispatch("fetchTeacherStudentStats",teacherStudentPager);
        this.$store.dispatch("fetchMemberStats",this.GetSessionHeaders());
        
    },
    methods:{
        ValidateValues(){
            if(!this.HasValue(this.inputs.Username) || !this.HasValue(this.inputs.EmailAddress) ||  
            !this.HasValue(this.inputs.FirstName) || !this.HasValue(this.inputs.LastName) 
            || !this.HasIntegerValue(this.inputs.Age) || !this.HasIntegerValue(this.inputs.CountryID) 
            || !this.HasIntegerValue(this.inputs.EducationLevel) || !this.HasValue(this.inputs.Birthday) 
            || !this.HasIntegerValue(this.inputs.Gender)){
                this.$toasted.error("Please check again");
                return false;
            }

            let isValid = true;
            var specialChar = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
            if(!isNaN(this.inputs.FirstName) || /\d/.test(this.inputs.FirstName) 
            || this.inputs.FirstName.includes("_") || this.inputs.FirstName.includes("@") 
            ||  this.inputs.FirstName.includes("!") || specialChar.test(this.inputs.FirstName) ){
                 this.errors.FirstName = ["Invalid first name"];
                 isValid = false;
            }else{
                this.errors.FirstName = [];
            }

            if(!isNaN(this.inputs.LastName) || /\d/.test(this.inputs.LastName) 
            || this.inputs.LastName.includes("_") || this.inputs.LastName.includes("@") 
            ||  this.inputs.LastName.includes("!") || specialChar.test(this.inputs.LastName) ){
                 this.errors.LastName = ["Invalid last name"];
                 isValid = false;
            }else{
                this.errors.LastName = [];
            }

            if(this.HasValue(this.inputs.Birthday)){
                this.inputs.Age = this._CalculateAge(this.inputs.Birthday);
                if(this.inputs.Age > 60 || this.inputs.Age < 6){
                    this.errors.Age = ['Invalid Age'];
                    isValid = false;
                }else{
                    this.errors.Age = [];
                }
            }
            
            if(this.HasValue(this.inputs.ZipCode)){
                if(this.inputs.ZipCode.includes("_")
                || specialChar.test(this.inputs.ZipCode)){
                    this.errors.ZipCode = ['Invalid ZipCode'];
                    isValid = false;
                }else{
                    this.errors.ZipCode = [];
                }
            }
            if(this.HasValue(this.inputs.School)){
                if(!isNaN(this.inputs.School) || this.inputs.School.includes("_")
                || specialChar.test(this.inputs.School)){
                    this.errors.School = ['Invalid School'];
                    isValid = false;
                }else{
                    this.errors.School = [];
                }
            }
            
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(re.test(this.inputs.EmailAddress) == false){
                this.errors.EmailAddress = ["Invalid Email Address"];
                isValid = false;
            }else{
                    this.errors.EmailAddress = [];
            }


            return isValid;
        },
        _CalculateAge:function(birthday){
            try{
                var today = new Date();
                var birthDate = new Date(birthday);
                var age = today.getFullYear() - birthDate.getFullYear();
                var m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }catch(e){
                return null;
            }
        },        
        UpdateMember:function(){
            this.isInitialLoad = false;
            let bday =  document.getElementById('profile_update_bday').value;
            // let d_bday = new Date(bday);
            // var new_bday = d_bday.toISOString().slice(0,10);
            this.inputs.Birthday = bday;
            if(this.ValidateValues() == false){
                return;
            }
            updateMemberDetail(this.GetSessionHeaders(), this.inputs).then((response)=>{
                this.$toasted.success("Profile has been updated");
                this.GetMemberDetailInfo();
                this.isEditingProfile = false;

                this.errors.EmailAddress=[];
                this.errors.FirstName = [];
                this.errors.LastName = [];
                this.errors.Age = [];
                this.errors.CountryID = [];
                this.errors.ZipCode = [];
                this.errors.EducationLevel = [];
                this.errors.Birthday=[];
                this.errors.School=[];
                this.errors.Gender=[];
                this.errors.Username=[];
                this.errors.Facebook=[];
                this.errors.Gmail=[];   


            }).catch((response)=>{

                //Existence checks
                if(response.body.ExistenceError){
                 
                    if(response.body.ExistenceError.Username){
                        this.errors.Username = ["Username is already taken"];
                    }else{
                        this.errors.Username  = [];
                    }
                    if(response.body.ExistenceError.EmailAddress){
                        this.errors.EmailAddress = ["Email is already registered"];
                    } else{
                        this.errors.EmailAddress  = [];
                    }                   

                }

                // if(!response.body.Errors){
                //     return;
                // }

                if(response.body.Errors.Username){
                    this.errors.Username = ['Invalid Username'];
                }else{
                    this.errors.Username  = [];
                }

                if(response.body.Errors.EmailAddress){
                    this.errors.EmailAddress = response.body.Errors.EmailAddress;
                }else{
                    this.errors.EmailAddress  = [];
                }

                if(response.body.Errors.FirstName){
                    this.errors.FirstName = response.body.Errors.FirstName;
                }else{
                    this.errors.FirstName  = [];
                }

                if(response.body.Errors.LastName){
                    this.errors.LastName = response.body.Errors.LastName;
                }else{
                    this.errors.LastName  = [];
                }

                if(response.body.Errors.Age){
                    this.errors.Age = response.body.Errors.Age;
                }else{
                    this.errors.Age  = [];
                }

                if(response.body.Errors.CountryID){
                    this.errors.CountryID = response.body.Errors.CountryID;
                }else{
                    this.errors.CountryID  = [];
                }
                 
                if(response.body.Errors.ZipCode){
                    this.errors.ZipCode = response.body.Errors.ZipCode;
                }else{
                    this.errors.ZipCode  = [];
                }

                if(response.body.Errors.EducationLevel){
                    this.errors.EducationLevel = response.body.Errors.EducationLevel;
                }else{
                    this.errors.EducationLevel  = [];
                }
                
                if(response.body.Errors.Birthday){
                    this.errors.Birthday = response.body.Errors.Birthday;
                }else{
                    this.errors.Birthday  = [];
                }        

                if(response.body.Errors.School){
                    this.errors.School = response.body.Errors.School;
                }else{
                    this.errors.School  = [];
                }

                if(response.body.Errors.Gender){
                    this.errors.Gender = response.body.Errors.Gender;
                }else{
                    this.errors.Gender  = [];
                }   

                if(response.body.Errors.Facebook){
                    this.errors.Facebook = response.body.Errors.Facebook;
                }else{
                    this.errors.Facebook  = [];
                }
                
                
                if(response.body.Errors.Gmail){
                    this.errors.Gmail = response.body.Errors.Gmail;
                }else{
                    this.errors.Gmail  = [];
                }                                            


                //this.$toasted.error("Please check again");
            });
        },
        GetMemberDetailInfo:function(){
            getMemberDetail(this.GetSessionHeaders(),this.$cookie.get("session_value")).then((response) => {
              this.$store.commit("saveMemberDetail", response.body.Member);
          })
        },
        PrepareEdit:function(){
            this.isEditingProfile = !this.isEditingProfile;
            if(!this.isEditingProfile ){
                this.ResetInput();
            }
        },
        CancelEdit:function(){
            this.isEditingProfile = false;
            this.ResetInput();
        },
        ResetInput:function(){
            this.errors.EmailAddress=[];
            this.errors.FirstName = [];
            this.errors.MiddleName = [];
            this.errors.LastName = [];
            this.errors.Age = [];
            this.errors.CountryID = [];
            this.errors.ZipCode = [];
            this.errors.EducationLevel = [];
            this.errors.Birthday=[];
            this.errors.School=[];
            this.errors.Gender=[];
            this.errors.Username=[];
            this.errors.Facebook=[];
            this.errors.Gmail=[];  
            let _memberDetail =  this.$store.state.memberDetail;
            if(_memberDetail){
                this.inputs.FirstName = _memberDetail.fname;
                this.inputs.MiddleName = _memberDetail.mname;
                this.inputs.LastName = _memberDetail.lname;
                this.inputs.Birthday = _memberDetail.birthday;
                this.inputs.Age = _memberDetail.age;
                this.inputs.EmailAddress = _memberDetail.user_email;
                this.inputs.Username = _memberDetail.user_login;
                this.inputs.CountryID = _memberDetail.country_id;
                this.inputs.ZipCode = _memberDetail.zip_code;
                this.inputs.Gender = _memberDetail.gender;
                this.inputs.School = _memberDetail.school;
                this.inputs.EducationLevel = _memberDetail.education_level;
                this.inputs.Facebook = _memberDetail.social_fb;
                this.inputs.Gmail = _memberDetail.social_gmail;
            } 
        },
        //TEACHER

        GetSections:function(){
            if(this.sort_input.CategoryID == 0 ){
                
                return;
            }
            this.sort_input.SectionID = 0;
            this.sort_input.LevelID = 0;
            this.sort_input.ChapterNo = 0;
            this.SectionLevels = [];
            this.LevelChapters= [];
          getItemsforQuestionBanks(this.GetSessionHeaders(), this.sort_input.CategoryID).then((response)=>{
                this.CategorySections = response.body.Items;
                let payload = {
                    api_headers: this.GetSessionHeaders(),
                    CategoryID : this.sort_input.CategoryID,
                    SectionID: this.sort_input.SectionID,
                    LevelID: this.sort_input.LevelID,
                    ChapterNo: this.sort_input.ChapterNo
                }
                this.$store.dispatch("fetchMemberGradeStats", payload);
            });
        },
        GetSectionLevels:function(){
            if(this.sort_input.SectionID == 0 ){
                return;
            }            
            this.sort_input.LevelID = 0;
            this.sort_input.ChapterNo = 0;
            this.SectionLevels = [];
            this.LevelChapters= [];
            getSectionLevelforQuestionBanks(this.GetSessionHeaders(), this.sort_input.SectionID).then((response)=>{
                this.SectionLevels = response.body.Levels;
                let payload = {
                    api_headers: this.GetSessionHeaders(),
                    CategoryID : this.sort_input.CategoryID,
                    SectionID: this.sort_input.SectionID,
                    LevelID: this.sort_input.LevelID,
                    ChapterNo: this.sort_input.ChapterNo
                }
                this.$store.dispatch("fetchMemberGradeStats", payload);                
            });
        },         
        GetLevelChapters:function(){
            if(this.sort_input.SectionID == 0 ||this.sort_input.LevelID == 0  ){
                return;
            }           
            this.sort_input.ChapterNo = 0;
            this.LevelChapters= [];      
            getCategories2LevelChapters(this.GetSessionHeaders(), this.sort_input.SectionID, this.sort_input.LevelID, 100 ).then((response)=>{
               this.LevelChapters= response.body.Chapters;
                let payload = {
                    api_headers: this.GetSessionHeaders(),
                    CategoryID : this.sort_input.CategoryID,
                    SectionID: this.sort_input.SectionID,
                    LevelID: this.sort_input.LevelID,
                    ChapterNo: this.sort_input.ChapterNo
                }
                this.$store.dispatch("fetchMemberGradeStats", payload);               
            });
        },        
        GetTeacherGradesByChapter:function(){
                let payload = {
                    api_headers: this.GetSessionHeaders(),
                    CategoryID : this.sort_input.CategoryID,
                    SectionID: this.sort_input.SectionID,
                    LevelID: this.sort_input.LevelID,
                    ChapterNo: this.sort_input.ChapterNo
                }
                this.$store.dispatch("fetchMemberGradeStats", payload);   
        },
        GetGradesHistory:function(){

        },
        CalculateCourseProgress(total_completed_test, total_no_of_test){
            let percentage = ((total_completed_test / total_no_of_test) * 100).toFixed(2);
            return percentage;
        } ,
        
        //Helpers
        SelectedBackdrop:function(){
            let backdrop_id = this.$store.state.memberDetail.back_drop;
            let obj = null;
            switch(parseInt(backdrop_id)){
                case 1: 
                    obj = {'cover-banner-1' : true}
                    this.selected_backdrop_sub = {'cover-sub-1':true};
                break;
                case 2: 
                    obj = {'cover-banner-2' : true}
                    this.selected_backdrop_sub = {'cover-sub-2':true};
                break;
                case 3: 
                    obj = {'cover-banner-3' : true}
                    this.selected_backdrop_sub = {'cover-sub-3':true};
                break;
                case 4: 
                    obj = {'cover-banner-4' : true}
                    this.selected_backdrop_sub = {'cover-sub-4':true};
                break;
                case 5: 
                    obj = {'cover-banner-5' : true}
                    this.selected_backdrop_sub = {'cover-sub-5':true};
                break;
                case 6: 
                    obj = {'cover-banner-6' : true}
                    this.selected_backdrop_sub = {'cover-sub-6':true};
                break;
                case 7: 
                    obj = {'cover-banner-7' : true}
                    this.selected_backdrop_sub = {'cover-sub-7':true};
                break;
                case 8: 
                    obj = {'cover-banner-8' : true}
                    this.selected_backdrop_sub = {'cover-sub-8':true};
                break;    
                case 9: 
                    obj = {'cover-banner-9' : true}
                    this.selected_backdrop_sub = {'cover-sub-9':true};
                break;
                case 10: 
                    obj = {'cover-banner-10' : true}
                    this.selected_backdrop_sub = {'cover-sub-10':true};
                break;      
                case 11: 
                    obj = {'cover-banner-11' : true}
                    this.selected_backdrop_sub = {'cover-sub-11':true};
                break;      
                case 12: 
                    obj = {'cover-banner-12' : true}
                    this.selected_backdrop_sub = {'cover-sub-12':true};
                break;      
                case 13: 
                    obj = {'cover-banner-13' : true}
                    this.selected_backdrop_sub = {'cover-sub-13':true};
                break;  
                default:
                    obj = {'cover-banner-1' : true}
                    this.selected_backdrop_sub = {'cover-sub-1':true};
                break;
            }
            return obj;
        },    
           SelectedBackdropSub:function(){
            let backdrop_id = this.$store.state.memberDetail.back_drop;
            let obj = null;
            switch(parseInt(backdrop_id)){
                case 1: 
                    obj = {'cover-sub-1':true};
                break;
                case 2: 
                    obj = {'cover-sub-2' : true}
                break;
                case 3: 
                    obj = {'cover-sub-3' : true}
                break;
                case 4: 
                    obj = {'cover-sub-4' : true}
                break;
                case 5: 
                    obj = {'cover-sub-5' : true}
                break;
                case 6: 
                    obj = {'cover-sub-6' : true}
                break;
                case 7: 
                    obj = {'cover-sub-7' : true}
                break;
                case 8: 
                    obj = {'cover-sub-8' : true}
                break;    
                case 9: 
                    obj = {'cover-sub-9' : true}
                break;
                case 10: 
                    obj = {'cover-sub-10' : true}
                break;      
                case 11: 
                    obj = {'cover-sub-11' : true}
                break;      
                case 12: 
                    obj = {'cover-sub-12' : true}
                break;      
                case 13: 
                    obj = {'cover-sub-13' : true}
                break;  
                default:
                    obj = {'cover-sub-1' : true}
                break;
            }
            return obj;
        },
        //Teacher Student PAger
        SetPageOffset:function(e){
            this.TeacherStudentStatsPager.PageOffset = e;
            let teacherStudentPager = {
                api_headers : this.GetSessionHeaders(),
                PageOffset : this.TeacherStudentStatsPager.PageOffset ,
                PageLimit : this.TeacherStudentStatsPager.PageLimit ,
            }
            this.$store.dispatch("fetchTeacherStudentStats",teacherStudentPager);
        },
        PagerActivePage:function(e){
        return{
            active : (e==this.TeacherStudentStatsPager.PageOffset)
        }
        },
        PagerNextPage:function(){
            if(this.TeacherStudentStatsPager.PageOffset + 1 <= this.$store.state.teacherStudentStatsPageCount){
                this.SetPageOffset(this.TeacherStudentStatsPager.PageOffset+1);
            }
        },
        PagerPrevPage:function(){
            if(this.TeacherStudentStatsPager.PageOffset - 1 > 0){
                this.SetPageOffset(this.TeacherStudentStatsPager.PageOffset-1);
            }
        },   
        
        //Teacher Course Pager
        SetPageOffsetCourse:function(e){
            this.TeacherCourseStatsPager.PageOffset = e;
            let teacherCoursePager = {
                api_headers : this.GetSessionHeaders(),
                PageOffset : this.TeacherCourseStatsPager.PageOffset ,
                PageLimit : this.TeacherCourseStatsPager.PageLimit ,
            }
            this.$store.dispatch("fetchTeacherCourseStats" ,teacherCoursePager);
        },
        PagerActivePageCourse:function(e){
        return{
            active : (e==this.TeacherCourseStatsPager.PageOffset)
        }
        },
        PagerNextPageCourse:function(){
            if(this.TeacherCourseStatsPager.PageOffset + 1 <= this.$store.state.teacherCourseStatsPageCount){
                this.SetPageOffset(this.TeacherCourseStatsPager.PageOffset+1);
            }
        },
        PagerPrevPagCoursee:function(){
            if(this.TeacherCourseStatsPager.PageOffset - 1 > 0){
                this.SetPageOffset(this.TeacherCourseStatsPager.PageOffset-1);
            }
        },    

        
    }
}
</script>
<style>
.profilev2-container{
    margin-top: 60px;
    padding: 0;
}
.profilev2-container .profile-banner{
    height: 250px;
    background-color: #f5f7fa;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.profilev2-container .profile-banner .name-col h1{
    position: relative;
    /* color: #dd4b4b;  */
    font-weight: 600;
}
.profilev2-container .profile-banner .name-col img{
    width: 25%;
    position: absolute;
    top: -58%;
    right: -18%;
}
@media (min-width:  576px) {
    .profilev2-container .profile-banner .name-col img{
        width: 125px;
        right: -45%;
    }
} 


/*Profile Sidebar*/
.profilev2-container .col-profile-detail{
    background-color: #f5f7fa;
    min-height: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;  
}
.profilev2-container .col-profile-detail .profile-photo {
    margin: 15px auto 15px auto;
    width: 70%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.profilev2-container .col-profile-detail .profile-photo img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 4px 6px 1px gray;  
}
.profilev2-container .col-profile-detail .profile-photo .edit-overlay{
    display: none;
    position: absolute;
    top:0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    text-align: center;
    justify-content: center;
    align-items: center;    

}
 .profilev2-container .col-profile-detail .profile-photo .edit-overlay span.change-prof-image{
   font-size: 35px;
   color: darkgray;
} 
.profilev2-container .col-profile-detail .profile-photo:hover  .edit-overlay{
    display: flex;
}


.profilev2-container .col-profile-detail .profile-details {
    /*margin: 15px auto 15px auto;*/
    width: 100%;
    font-size:13px;
    color: #434a54;
    position: relative;
}
.profilev2-container .col-profile-detail .profile-details div{
    padding: 3px;
    overflow-x: hidden;
}
.profilev2-container .col-profile-detail .profile-details .change-prof-detail{
    position: absolute;
    right: 3%;
    top: -11px;
    cursor: pointer;
}

/* STUDENT STATS */
.student-stats-row .item{
    height: 75px;
    width: 80%;
    margin: 0 auto 15px auto;
    background-color: #f5f7fa;
    display: flex;
    align-items: center;  
    color: #434a54;   
}
.student-stats-row .item .stat-no{
    height: 100%;
    width: 25%;
    float: left;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;     
}
.student-stats-row .item .stat-no span{
    margin: auto;
}
.student-stats-row .item .desc{
    float: left;
    margin-left: 10px;
    width: 74%;
}
.student-stats-row .item .stat-no.worksheet{
    background-color: #d4bc8c;
}
.student-stats-row .item .stat-no.exam{
    background-color: #3e9f60;
}
.student-stats-row .item .stat-no.unittest{
    background-color: #ffce54;
}
.student-stats-row .item .stat-no.assignment{
    background-color: #a0d468;
}
.profile-stats-row .question-item .description{
    overflow: auto;
    height: auto;
}
.profile-grade-item .description .row .tab-col{
    padding: 0;
}

.table-banks-list th{
    color: #fff;
}

.table-banks-list td, .table-banks-list th {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 10px;
} 
.table-banks-list thead th{
    background-color: #036564;
    border-color: #036564;
    vertical-align: middle;
}
.table-btn-ag{
    font-size: 13px;
    padding: 3px;
}
.pagination .page-item.active .page-link{
    background-color: #8CC152;
    border-color: #8CC152;
}
.bank-list-search{
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.bank-list-search-btn{
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    background-color: #036564;
    color:white;
}
@media (max-width:  767px) {
    .profile-grade-item .description .row .tab-col{
        padding: 0 15px;
    }
}

.profile-grade-loader{
    position: absolute;
    left: 43%;
}
</style>

