<template>
<div class="ag-edit_question_translation-modal ag-register-modal-container">
    <div class="inner-container">
            <div v-if="isSucceed" class="input-modal-form">
                <div class="alert agora-new-alert" role="alert">
                    <h5 class="alert-heading"><b>TRANSLATION : </b>was successfully Updated</h5>
                    <hr>
                    <p class="mb-0">
                        <!-- This is a Grammar Section -->
                        <br>
                    </p>
                    <p class="text-right">
                        <button class="btn btn-sm ag-modal-close-2 modal-close" @click.prevent="CloseModal()">Close</button>
                    </p>
                </div>                  
            </div>
            <div v-else class="input-modal-form">
                <h5>Edit Translation</h5>
                <br>

                <div class="form-group row">
                    <div class="col-sm-12">
                    <select v-model="input.Language" :value="TranslationDetail.id" :class="HasError(this.errors.Language)"  class="form-control">
                        <option value="0">Select Language</option>
                        <option v-for="(item, index) in AsiaLanguages" :key="'avail_lang'+index" :value="item.id">
                            {{item.language}}
                        </option>
                    </select>                 
                        <div class="invalid-feedback">
                            {{this.errors.Language[0]}}
                        </div>
                    </div>
                    
                </div>
                    

                <!-- TITLE -->
                <!-- <div class="form-group row">
                    <div class="col-sm-12">
                    <input v-model="input.QuestionTitle" :class="HasError(this.errors.QuestionTitle)" type="text" class="form-control"  placeholder="Title" >
                    <div v-if="this.errors.QuestionTitle.length > 0" class="invalid-feedback">
                        {{this.errors.QuestionTitle[0].replace("QuestionTitle", "Title")}}
                    </div>
                    <span class="ft-size-12">{{MainQuestionDetail.QuestionTitle}}</span>
                    </div>
                </div> -->

                <!-- Description -->
                <div class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.QuestionDescription" :class="HasError(this.errors.QuestionDescription)" class="form-control"   rows="3" placeholder="Question">
                    </textarea>
                    <div  v-if="this.errors.QuestionDescription.length > 0" class="invalid-feedback">
                        {{this.errors.QuestionDescription[0].replace("QuestionDescription", "Question")}}
                        
                    </div>
                    <span class="ft-size-12">{{MainQuestionDetail.QuestionDescription}} {{PropAnswerMode}}</span>
                    </div>
                </div>


                <!-- ChoiceOne -->
                <div v-if="this.input.AnswerMode == 1" class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.ChoiceOne" :class="HasError(this.errors.ChoiceOne)" class="form-control"   rows="2" placeholder="Choice One">
                    </textarea>
                    <div v-if="this.errors.ChoiceOne.length > 0" class="invalid-feedback">
                        {{this.errors.ChoiceOne[0].replace("ChoiceOne", "Answer 1")}}
                    </div>
                    <span class="ft-size-12">{{MainQuestionDetail.ChoiceOne}}</span>
                    </div>
                </div>

                <!-- ChoiceTwo -->
                <div v-if="this.input.AnswerMode == 1" class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.ChoiceTwo" :class="HasError(this.errors.ChoiceTwo)" class="form-control"   rows="2" placeholder="Choice Two">
                    </textarea>
                    <div v-if="this.errors.ChoiceTwo.length > 0" class="invalid-feedback">
                        {{this.errors.ChoiceTwo[0].replace("ChoiceTwo", "Answer 2")}}
                    </div>
                    <span class="ft-size-12">{{MainQuestionDetail.ChoiceTwo}}</span>
                    </div>
                </div>

                <!-- ChoiceThree -->
                <div v-if="this.input.AnswerMode == 1" class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.ChoiceThree" :class="HasError(this.errors.ChoiceThree)" class="form-control"   rows="2" placeholder="Choice Three">
                    </textarea>
                    <div v-if="this.errors.ChoiceThree.length > 0" class="invalid-feedback">
                        {{this.errors.ChoiceThree[0].replace("ChoiceThree", "Answer 3")}}
                    </div>
                    <span class="ft-size-12">{{MainQuestionDetail.ChoiceThree}}</span>
                    </div>
                </div>         

                <!-- ChoiceFour -->
                <div v-if="this.input.AnswerMode == 1" class="form-group row">
                    <div class="col-sm-12">
                    <textarea v-model="input.ChoiceFour" :class="HasError(this.errors.ChoiceFour)" class="form-control"   rows="2" placeholder="Choice Four">
                    </textarea>
                    <div v-if="this.errors.ChoiceFour.length > 0" class="invalid-feedback">
                        {{this.errors.ChoiceFour[0].replace("ChoiceFour", "Answer 4")}}
                    </div>
                     <span class="ft-size-12">{{MainQuestionDetail.ChoiceFour}}</span>
                    </div>
                </div>                                               

                <br>
                <div class="form-actions">
                <button @click="EditTranslatedQuestion()"  class="btn btn-md btn-main-2 btn-primary">
                    <span v-if="!isSubmitted"> Save </span>
                    <pulse-loader v-else></pulse-loader>
                </button>
                <button id="close_translation_modal" @click="handleCancel()" type="button" class="btn btn-md btn-danger ag-modal-close-2">
                    Cancel
                </button>                                    
                </div>
            </div>
        <div class="clearing"></div>   
    </div>
</div>
<!--End Log In Modal-->
</template>    
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import {editTranslatedQuestion} from '../../../../../api/teacher/question_bank.js'
import {bus} from '../../../../../main.js'
export default{
    name:'AddTranslation',
    props:['PropQuestionID','PropAnswerMode', 'MainQuestionDetail','TranslationDetail','handleCancel'],
    components:{PulseLoader},
    data(){
        return{
            isSubmitted : false,
            isSucceed : false,
            input:{
                Language:0,
                QuestionID:this.PropQuestionID,
                TransQuestionID: null,
                QuestionTitle:null,
                QuestionDescription:null,
                AnswerMode:this.PropAnswerMode,
                ChoiceOne:null,
                ChoiceTwo:null,
                ChoiceThree:null,
                ChoiceFour:null,
                CorrectAnswer:null,
                CountryID:null
            },
            errors:{
                Language:[],
                QuestionID:[],
                QuestionTitle:[],
                QuestionDescription:[],
                AnswerMode:[],
                ChoiceOne:[],
                ChoiceTwo:[],
                ChoiceThree:[],
                ChoiceFour:[],
                CorrectAnswer:[]
                
            }
        }
    },
    computed:{
        AsiaLanguages:function(){
            return this.$store.getters.languages;
        }
    },
    mounted(){
        //if(this.TranslationDetail){
            this.input.Language = this.TranslationDetail.id;
            this.input.TransQuestionID = this.TranslationDetail.trans_question_id; 
            this.input.QuestionTitle = this.TranslationDetail.trans_question_title; 
            this.input.QuestionDescription = this.TranslationDetail.trans_question_description; 
            this.input.ChoiceOne = this.TranslationDetail.choices[0]; 
            this.input.ChoiceTwo = this.TranslationDetail.choices[1]; 
            this.input.ChoiceThree = this.TranslationDetail.choices[2]; 
            this.input.ChoiceFour = this.TranslationDetail.choices[3]; 
        //}
    },
    watch:{
        TranslationDetail:function(oldVal, newVal){
            
            this.input.Language = newVal.id;
            this.input.TransQuestionID = newVal.trans_question_id; 
            this.input.QuestionTitle = newVal.trans_question_title; 
            this.input.QuestionDescription = newVal.trans_question_description; 
            this.input.ChoiceOne = newVal.choices[0]; 
            this.input.ChoiceTwo = newVal.choices[1]; 
            this.input.ChoiceThree = newVal.choices[2]; 
            this.input.ChoiceFour = newVal.choices[3]; 
            
        }
    },
    methods:{
        EditTranslatedQuestion:function(){
            this.input.TransQuestionID = this.TranslationDetail.trans_question_id;
            this.isSubmitted = true;
            editTranslatedQuestion(this.GetSessionHeaders(), this.input).then((response)=>{
                this.isSubmitted = false;
                bus.$emit('reloadQuestTranslation');
                document.getElementById("close_translation_modal").click();
                //DO A EMIT HERE
            }).catch((response)=>{
              try{
                  if(!response.body.Errors){
                      return;
                  }
                  if(response.body.Errors.Language){
                      this.errors.Language = response.body.Errors.Language;
                  }else{
                      this.errors.Language = [];
                  }

                  if(response.body.Errors.AnswerMode){
                      this.errors.AnswerMode = response.body.Errors.AnswerMode;
                  }else{
                      this.errors.AnswerMode = [];
                  }

                  if(response.body.Errors.QuestionTitle){
                      this.errors.QuestionTitle = response.body.Errors.QuestionTitle;
                  }else{
                      this.errors.QuestionTitle = [];
                  }
                  
                  if(response.body.Errors.QuestionDescription){
                      this.errors.QuestionDescription = response.body.Errors.QuestionDescription;
                  }else{
                      this.errors.QuestionDescription = [];
                  }

                  if(response.body.Errors.ChoiceOne){
                      this.errors.ChoiceOne = response.body.Errors.ChoiceOne;
                  }else{
                      this.errors.ChoiceOne = [];
                  }          
                  
                  if(response.body.Errors.ChoiceTwo){
                      this.errors.ChoiceTwo = response.body.Errors.ChoiceTwo;
                  }else{
                      this.errors.ChoiceTwo = [];
                  }  
                  
                  if(response.body.Errors.ChoiceThree){
                      this.errors.ChoiceThree = response.body.Errors.ChoiceThree;
                  } else{
                      this.errors.ChoiceThree = [];
                  }     
                  
                  if(response.body.Errors.ChoiceFour){
                      this.errors.ChoiceFour = response.body.Errors.ChoiceFour;
                  }else{
                      this.errors.ChoiceFour = [];
                  }   

              }catch(e){
                console.log(e);
                 this.$toasted.show('Ooops. Something went wrong at our end.');
              }                
            }).finally(()=>{
                 this.isSubmitted = false;
            });
        },
        test:function(){
            alert(this.input.QuestionID);
            alert(this.input.AnswerMode);
        }
    }    
}
</script>
<style scoped>
.ag-edit_question_translation-modal.ag-register-modal-container .inner-container{
    width: 100%;
}
.ag-edit_question_translation-modal .inner-container .input-modal-form{
    padding: 1.5em;
    min-height: 200px;
    max-height:500px;
    overflow:scroll;
    width: 720px;
    background-color: white;
    background-origin: padding-box;
    margin-left: 5%;
    margin-top: 10%;
}
</style>