<template>

  <div id="app">

    <main-nav v-if="hideMainNav()"></main-nav>
    <transition name="fade" mode="out-in">
        <router-view/> 
    </transition>

    <main-footer v-if="hideMainNav() && hideFooter()"></main-footer>

    <register1-modal></register1-modal>

    <login-modal></login-modal>
    <forgot-password></forgot-password>

  </div>

</template>

<script>
import MainNav from './components/MainNav'
import MainFooter from './components/MainFooter'
import Register1Modal from './components//subcomponents/modal/Register1'
import LoginModal from './components//subcomponents/modal/Login'
import ForgotPassword from './components//subcomponents/modal/ForgotPassword'

export default {
  name: 'App',
  components :
  {
    MainNav,
    MainFooter,
    Register1Modal,
    LoginModal,
    ForgotPassword
  },
  created(){
       this.$store.dispatch("fetchCountries");
       this.$store.dispatch("fetchEducation");
       this.$store.dispatch("fetchCategories");
  },
  methods:
  {
    //TO DO REFAC TIHS SHIET
    hideMainNav:function()
    {
      switch(this.$route.name)
      {
        // case "Contactus": 
        //     return false;
        //     break;
        case "Demo":
            return false;
            break;
        case "RegisterComplete":
            return false;
            break;
        case "ResetPassword":
            return false;
            break;
        case "FaqList":
            return false;
            break;                 
        default:
            return true;
            break;
      }
    },
    hideFooter:function(){
       switch(this.$route.name)
      {
        case "RegisterComplete":
            return false;
            break;          
        case "Teacher": 
            return false;
            break;
        case "QuestionBanks": 
            return false;
            break;
        case "QuestionBankEdit": 
            return false;
            break;
        case "QuestionNew": 
            return false;
            break;             
        case "QuestionEdit": 
            return false;
            break;  
        case "Exams": 
            return false;
            break;  
        case "NewExam": 
            return false;
            break;  
        case "EditExam": 
            return false;
            break;     
        case "Categories": 
            return false;
            break; 
        case "NewCategory": 
            return false;
            break;  
        case "EditCategory": 
            return false;
            break;              
        // case "CourseList": 
        //     return false;
        //     break; 
        case "StudentGrade": 
            return false;
            break;     
        case "Discussion": 
            return false;
            break;
        case "FaqList":
            return false;
            break;
        case "Profile":
            return false;
            break;
        case "Messages":
            return false;
            break;
        case "StudentAssignment":
            return false;
            break;  
        case "QuestionBankNew":
            return false;
            break;
        case "CourseDetail":
            return false;
            break;
        case "Membershiplist":
            return false;
            break;
        case "Activity":
            return false;
            break;       
        case "StudentExam":
            return false;
            break;     
        case "StudentTakeExam":
            return false;
            break;    
        case "StudentInProgressExam":
            return false;
            break;         
        case "TeacherAssignment":
            return false;
            break;  
        case "NewAssignment":
            return false;
            break; 
        case "EditAssignment": 
            return false;
            break;     
        case "TeacherGrade":
            return false; 
            break; 
        case "GradeSchema": 
            return false;
            break;   
        case "AnswerAssignment":
            return false; 
            break;
        case "GradeSheets": 
            return false;
            break;      
        case "GradeIndepthView": 
            return false;
            break;          
        case "ViewStudentGrade":  
            return false;
            break;             
        case "ViewAssignment": 
            return false;
            break;  
        case "ResetPassword":
            return false;
            break;   
        case "TeacherAdmin":
            return false;
            break;    
        case "NewTeacher":
            return false;
            break;             
        case "ViewTeacher":
            return false;
            break;                                                   
        default:
            return true;
                                                                                                           
      }     
    }
  }
}
</script>

<style>

</style>
