@charset 'UTF-8';
::-webkit-scrollbar { 
    display: none; 
}

body
{
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

/*Misc*/
.semi-bold
{
    font-weight:700; 
}
.margin-top-15
{
    margin-top: 15px !important;
}
.margin-bot-15{
    margin-bottom: 15px !important
}
.margin-left-15
{
    margin-left: 15px !important;
}
.margin-top-45
{
    margin-top: 45px !important;
}

.margin-left-40
{
    margin-left: 40px !important;
}

.margin-right-45
{
    margin-right: 45px !important;
}
.pad-top-none
{
    padding-top: 0 !important;
}
.pad-bot-none
{
    padding-bottom: 0 !important;
}
.pad-left-none
{
    padding-left: 0 !important;
}
.color-white
{
    color:white;
}
.color-txt-main-1
{
    color: #036564;
}
.color-txt-main-2
{
    color: #033649;
}
.color-text-sub-1
{
    color:#0c9099;
}

.disp-inline
{
    display: inline;
}
.disp-block
{
    display: block;
}

.disp-none
{
    display: none;
}

.ft-size-34
{
    font-size: 34px;
}
.ft-size-21
{
    font-size: 21px;
}
.ft-size-18
{
    font-size: 18px;
}
.ft-size-14
{
    font-size: 14px;
}
.ft-size-12
{
    font-size: 12px;
}

.admin-scrollable{
    height: 95vh;
    overflow-y: scroll;
}

.curs-pointer{
    cursor: pointer;
}
.nowrap {
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.course-underline
{
    margin-top: 7px;
    height: 1px;
    border-bottom: 7px solid #036564;
}
.hr-line
{
    width: 15%;
    border-top: 5px solid #031634;

}
.hr-line-slim
{
    width: 90%;
    border-top: 1px solid gray; 
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.load-more{
    text-align: center;
    margin: auto;
}


.btn-main-2{
    background-color: #033649;
    border-color:#033649;
}
.btn-main-2:hover{
    background-color: #074258;
}
.btn-main-2:focus,.btn-main-2:active, .btn-main-2:visited{
    background-color: #074157 !important;;
}

.btn-main-dnger-1{
    background-color: #DD4B4B;
    border-color:#DD4B4B; 
}
.btn-main-dnger-1r:hover{
    background-color: #e16161;
}
.btn-main-dnger-1:focus,.btn-main-dnger-1:active, .btn-main-dnger-1:visited{
    background-color: #e16161 !important;;
}


.render-pre{
    white-space: pre-line;
}

.clearing
{
    clear: both;
}

/*End Misc*/

/*Navigation CSS*/
#not-logged-in-nav{
    display:none;    
}

.navbar-nav .nav-item
{
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-nav .nav-item .nav-link
{
    color: #036564;
    text-rendering: auto;
}

.nav-flag
{
    margin-left: 0 !important;
    margin-right: 0!important;
}

.profile-nav
{
    width: 100px;
    background-color: #036564;
    color: white;
    padding: 5px;
}

.login-link
{
    font-weight: bold;
    font-size: 16px;
    display: inline;
    color: white !important;
}

.trans-1 * {
    transition: 0.25s;
    transition-timing-function: ease-out;
}



@media (min-width: 992px) {
    .nav-flag
    {
        width: 50px;
        height: 45px;
        background-color: white;
    }

    .profile-nav
    {
        background-color:white;
    }
    .nav-login
    {
        background-color:#036564;
        margin-right: 0px !important;
    }
    .nav-login-link
    {
        display: inline;
        overflow: hidden;
    }
    .profile-nav
    {
        height: 58px;
        line-height: 58px;  
    }
    .login-link
    {
        font-weight: bold;
        font-size: 20px;
        display: inline;
        color: white !important;

    }
} 

/*End Of NavigationCSS*/









/*Index Footer*/
.footer-contact-us
{
    margin-top: 100px;
    margin-bottom: 35px;
}
.footer-contact-us ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-contact-us ul li
{
    height: 35px;
    color:gray;
}
.footer-contact-us ul li span
{
    padding-left: 3px;
    width: 30px;
}
/*End Index Footer*/


/*Demo Navigation*/
.demo-nav{
    background-color:#d6dce8;
}
.demo-nav-menu-ul
{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: column-reverse;
}

.demo-nav-menu-ul li
{
    height: 100%;
    text-align: right;
}
#demoNavbarNav .demo-nav-menu-ul .demo-nav-item
{
    color: #033649 !important;
    font-weight: bold;
    font-size: 18px;
}


@media (min-width: 992px) {
    .demo-nav-menu
    {
        text-align: left;
        width: 250px;
        position: relative;
        height: 50px;
    }
    .demo-nav-menu-ul
    {
        position: absolute;
        right: 0;
        line-height: 50px;
    }
    .demo-nav-item.sign-up
    {
        margin-left: 25px;
    }
} 

.demo-container
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.demo-container .demo-play
{
    height: 90%;
    width: 100%;
}
/*End Demo Navigation*/


/*Contact US*/
.contact-us-container
{
    height: 100%;
}

.rw-contact-lower
{
    height: 100%;
    background-image: url("../images/contact-us-bg.png");
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-us-container .rw-contact-lower .navbar-brand img
{
    margin-left: 18%;
    margin-top: 13%;
}

.contactus-header
{
    font-size: 90px;
    font-weight: bold;
    margin-left: 15%;
    color:white;
}
.contactus-header.first
{
    margin-top: 30%;

}
.contactus-email
{
    font-size: 16px;
    margin-top: 1%;
    margin-left: 15%;
    color:white;
}
.contact-us-lst
{
    padding: 0;
    margin-top: 7%;
    margin-left: 15%;
    list-style: none;
    color:white;
    display: flex;
    font-size: 18px;
}
.contact-us-lst li
{
    margin-right: 65px;
}
.contact-us-lst li span
{
    padding-right: 14px;
}

.contact-form label
{
    color:white;
}
.contact-form.first{
    margin-top: 33%;
}
.contactus-input{
    width: 70%;
}
.contact-submit
{
    margin-right: 35%;
    margin-top: 2%;
    background-color: yellow;
    color:#042a38;
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    border-radius: 15px;
}
/*End Contact US*/


/*FAQ Main*/
.contact-html
{
    height: 100%;
}
.faq-container
{
    height: 100%;
    background-image: url("../images/faq-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.faq-container .navbar-brand img
{
    margin-top: 5%;
}
.faq-container .rw-faq-main
{
    margin-top: 45px;
}

.faq-choice-help
{
    font-size: 16px;
    color:#042a38;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-choice-help.active
{
    border-left: 3px solid #042a38;
    padding-left: 10px;
}

.faq-choice-title
{
    font-weight: bold;
    font-size: 32px;
    color:#042a38;
}

.faq-search-input
{
    width: 320px !important;
    border-radius: 25px;
    background-color: transparent;
    border: 3px solid #042a38; 
    padding-left: 40px;
}

.faq-search
{
    position: absolute;
    left: 35px;
}

.faq-send-question-1
{
    color:#042a38;
    font-size: 18px;
    text-decoration: underline;
}
.faq-question-item
{
    color:#042a38;
    display: block;
}
.faq-question-seeall
{
    color:#042a38;
    font-size: 16px;
    display: block;
    margin-top: 25px;
}
/*FAQ DETAIL*/

.faq-detail-container
{
    height: 100%;
    background-image: url("../images/faq-detail-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.faq-detail-container .navbar-brand img
{
    margin-top: 0%;
}
.faq-detail-container .rw-faq-main
{
    margin-top: 45px;
}


.rw-faq-detail .col-7 .faq-choice-title
{
    margin-top: 18px;
}
.rw-faq-detail .col-6 .faq-choice-title
{
    margin-top: 18px;
}
.faq-detail-search
{
    background-color: white;
    width: 80px;
    height: 100%;
    box-shadow: 0 4px 2px -2px gray;
    transition: 0.25s;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.faq-detail-search:hover
{
    background-color: #042a38;
}
.faq-detail-search:hover  .faq-detail-search-btn
{
    color:white;
}
.faq-detail-search .faq-detail-search-btn
{
    font-size: 26px;
    margin-top: 25%;
    margin-left: 30%;
    color:#042a38;
}

.faq-question-detail p
{
    padding-left: 20px;
    font-size: 14px;
}
.faq-detail-sendus
{
    float: right;
}
.faq-detail-sendus a
{
    color: #042a38;
    text-decoration: underline;
    font-size: 14px;
    vertical-align: 1;
}
/*End FAQ DETAIL*/


/*REGISTER & LOG IN POPUP*/
.register-modal-dialog
{
    width: 100%;
    height: 100%;
    background: url("../images/register-popup.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.reg-pop-up-header
{
   height: 450px;
   font-size: 18px;
   color:white;
}
.reg-popup-input
{
    border: 0;
    outline: 0;
    padding-bottom: 8px;
    background: transparent;
    border-bottom: 1px solid white;
    color:white;
    display: block;
    font-size: 16px;
    margin-top: 15px;
    width: 100%; /*76%*/
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.reg-popup-input::-webkit-input-placeholder
{
    color:white;
    opacity: 0.5;
}
.login-popup-input.first
{
    margin-top: 8%;
}
.login-popup-input.second
{
    margin-top: 6%;
    margin-bottom: 2.5%;
}
.pop-up-forgot-pass
{
    float: left;
    font-size: 14px;
    transition: 0.25s;
    transition-timing-function: ease-out;
    color: #11a1ad;
}
.pop-up-rememberme
{
    float: right;
   /* margin-right: 25%;*/
    font-size: 14px;
}
.pop-up-login-btn
{
    background-color: #042a38;
    color:white;
    font-weight: 700;
    font-size: 14px;
    width: 120px;
    height: 43px;
    border: 0;
    border-radius: 15px;
    /*margin-left: 23%;*/
    margin-top: 12%;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.pop-up-login-btn:hover
{
    background-color: white;
    color:#042a38;
    border-bottom: 2px solid #042a38;
}
.pop-up-sign-up-msg
{   
    margin-top: 3%;
    /*margin-left: 18%;*/
    font-size: 14px;

}

.pop-up-yellow-signup
{
    color:yellow;
    text-decoration: none;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.pop-up-forgot-pass:hover, .pop-up-yellow-signup:hover
{
    color:white;
    text-decoration: none;
}

/* END REGISTER & LOG IN POPUP*/

/* REGISTER & LOG IN POPUP V2*/
.ag-register-modal-container{
    position: relative;
    top: 0;
    /* left: 0; */
    background: rgb(54, 25, 25);
    background: rgba(54, 54, 54, .7);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1031;
    /* z-index:1000001; */
    display: none;
}
.ag-register-modal-container .inner-container{
    max-width: 1280px;
    width: 100%;
    height: 706px;
    margin: auto;
    position: relative;
}
.ag-register-modal-container .aside-banner
{
    width: 40%;
    min-height: 706px;
    height: 100%;
    background-color: #033649;
    float: left;
}
.ag-register-modal-container .aside-banner .navbar-brand{
    margin-top: 20px;
    margin-left: 25px;
}
.ag-register-modal-container .aside-banner .aside-banner-message{
    color: white;
    font-size: 40px;
    margin-top: 65px;
    margin-left: 60px;
}
.ag-register-modal-container .aside-banner .banner-img{
    /*position: absolute;
    bottom: -7px;
    left: 35px;*/
}

.ag-register-modal-container .aside-main{
    float: left;
    width: 768px;
    background-color: #036564;
    padding-left: 80px;
    margin-top: 10%;
}

.ag-register-modal-container .ag-modal-close{
    position: absolute;
    font-size: 21px;
    color:white;
    top: 25px;
    right: 25px;
    cursor: pointer;
    opacity: 0.5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.ag-register-modal-container .ag-modal-close:hover{
    opacity: 1;
}
/*END POP UP V2*/




/*COURSE LIST*/
.course-list-container
{
    width: 100%;
    /* height: 245px; */
   

}
.course-list-banner-img
{
    height: 100%;
    height: auto; /*245px*/
    background-color: #dae4f0;
}
.course-list-banner-img img
{
    width: 100%;
    height: 100%;
}

.course-list-sort-container
{
    margin-top: 12px;
    margin-bottom: 35px;
}

.course-list-sort-controls
{
    font-size: 18px;
    padding:  0 3em 0 0;
    cursor: pointer;
    background-color: transparent;
}
.course-list-sort-controls:hover{
    color: #036564;
}
.course-list-sort-controls span
{
    padding-right: .5em;
}
.courselist-course-item
{
    text-align: center;
    transition: 0.25s;
    transition-timing-function: ease-out;
    cursor: pointer;
} 
.courselist-course-item img
{
    width: 90%;

}
.courselist-course-item-desc
{
    background-color: #dae4f0;
    width: 90%;
    margin: 0 auto 20px auto;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.courselist-course-item-desc h5
{
    font-weight: bold;
    color  : #042a38;
    padding-top: 10px;
    margin-bottom: 5px;
    padding: .3em .3em;
    font-size: 1rem;
}
.courselist-course-item-desc span
{
    color  : #042a38;
}


.col-md-3 > a > .courselist-course-item:hover
{
    transform: scale(1.07);
    background-color: #f0f0f0;
}


.courselist-course-item.with-progress img, .courselist-course-item.with-progress .courselist-course-item-desc
{
    width: 85%;
    background-color:white;
}

.courselist-course-item.with-progress .courselist-course-item-desc
{
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}
.courselist-course-item.with-progress .courselist-course-item-desc .course-progress-bar
{
    height: 10px;
    background-color: #036564;
    border-radius: 5px;
}

.courselist-course-item.with-progress .courselist-course-item-desc .course-enroll-btn
{
    height: 25px;
    font-size: 14px;
    background-color: #036564;
    color:white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    width: 100px;
    margin-top: 3px;
}
/*END COURSE LIST*/

/*Enroll*/
.enroll-container
{
    background-color: transparent !important;
    background-image: none !important;
}
.enroll-nav
{
    box-shadow: 0 4px 2px 0px lightgray;
}
.enroll-container .enroll-title
{
    /* padding-left: 135px;  */
    text-align: center;
}
.enroll-container  .enroll-course-trailer 
{
    min-height: 387px;
    width: 100%;
    text-align: center;
}
.enroll-container  .enroll-course-trailer img
{
    padding-top: 10px;
    /*width: 100%;*/
    max-width:720px;
    max-height:441px;
}

.enroll-container .enroll-search div
{
  float: right;
}

.enroll-course-start
{
    line-height: 30px;
    border-radius: 25px;
    font-weight: 700;
    background-color: #036564;
    color:white;
    width: 200px;
}
.enroll-course-category
{
    line-height: 40px;
    margin-right: 10px;
}
.enroll-course-category-link
{
    color: #036564;
    line-height: 30px;
}
.enroll-course-excerpt
{
    text-align: justify;
    padding-right: 10px;
}
.enroll-course-reviews
{
    color: #036564;
    
}
.enroll-course-reviews span
{
    font-size: 18px;
}
.enroll-course-reviews .enroll-course-reviews-count
{
    color: #036564;
    margin-left: 20px;
}
.enroll-course-reviews  .enroll-course-table-detail
{
    table-layout: fixed;
    word-wrap: break-word;
}
.enroll-course-reviews  .enroll-course-table-detail tr td
{
    width: 100%;
    height: 40px;
    vertical-align: top;
}
.enroll-course-table-detail .capstitle
{
    color  : #042a38;
}
/*End Enroll Course*/

/*Complete Profile*/
.complete-profile-container
{
    background-color: #549f9a;
    height: 100%;
    position: absolute;
    padding: 0;
}
.complete-profile-form
{
    height: 100%;
}
.reg-popup-input.complete-profile-input
{
    width: 45%;
    float: left;
}
.reg-popup-input.complete-profile-input option{
    color:#036564;
}
.reg-popup-input.complete-profile-input-full
{
    width: 98.5% ;
}
.reg-popup-input.complete-profile-input-full option{
    color:#036564;
}
.pop-up-login-btn.complete-profile-btn
{
    margin-left: 34%;
    margin-top: 10%;
}
.complete-profile-finished
{
    /*background-color: #036564;*/
    min-height: 70%;
    width: 90%;
    /*margin-top: 8%;*/
    margin-left: auto;
    margin-right: auto;
   
}
.complete-profile-finished-header
{
    margin: auto;
    text-align: justify;
    width: 230px;
}
.pop-up-login-btn.completed-register
{
    width: 200px;
    margin-left: 0;
    margin-top: 0;
}
/*End Register Completion*/


/*Membership Choice*/

.membership-choice-holder
{
    background-color: #549f9a;
    text-align: center;
    /* margin: 5px; */
    padding: 0;
    min-height: 400px;
    position: relative;
}
.membership-choice-holder .membership-choice-title
{
    color:white;
    background-color: #036564;
}
.membership-choice-price
{
    color:white;
    font-size: 80px;
    font-weight: 600;
    margin-top: 35px;
}
.membership-choice-desc
{
    color:white;
    margin-top: 35px;
}
.membership-choice-started-btn
{
    border: 0;
    font-size: 20px;
    width: 70%;
    position: absolute;
    bottom: -20px;
    left: 15%;
}

.circling-title{
    margin-left: 10px;
    display: block;
    border-radius: 50%;
    width:35px;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    font-weight: bold;
    background-color: #033649;
    color:white;
}


.alert.agora-new-alert{
    background-color: #f5f7fa;
}
/* .alert.agora-new-alert .alert-heading{
    padding-top: 25px;
} */

.no-new-container{
    background-color: #f5f7fa;
    min-height: 35px;
    line-height: 35px;
}
.no-new-container .message{
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: darkgray;
}







.admin-dashboard-container
{
    width: 100%;
    padding: 0;
}
.admin-sidebar-col
{
    min-height: 700px;
}
.admin-sidebar-col .admin-sidebar
{
    height: 100%;
    background-color: #033649;
}
.admin-sidebar-col .admin-sidebar ul{
    list-style: none;
    color: white;
    padding-top: 30px;
}
.admin-sidebar-col .admin-sidebar ul li{
    font-size: 1.3em;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.admin-sidebar-col .admin-sidebar ul li span{
    width: 25px;

}
.admin-sidebar-col .admin-sidebar ul li:after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:  0% 50%;
}
.admin-sidebar-col .admin-sidebar ul li:hover:after { transform: scaleX(.85); }

.admin-dashboard-container .admin-col-main{
    padding-top: 30px;
}

/*Profile v2 */

/*END Profile v2 */
.pager_navigation{
    margin: auto;
}



.category_section_li:hover{
    text-decoration: underline;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #042a38;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.75s infinite ease-out;
  animation: load8 0.75s infinite ease-out;
}
.sm-loader,
.sm-loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.sm-loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #042a38;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.75s infinite ease-out;
  animation: load8 0.75s infinite ease-out;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* v-vpshow classes */
.before-enter {
    opacity: 0;
  }
  
.enter {
    transition: opacity .56s ease;  
}
  /* ---------------- */