.nav-exam-manager
{
    box-shadow: 0 4px 2px -2px gray;
    /* z-index: 1000000; */
}

.exam-manager-nav{
    min-height: 65px;
    line-height: 50px;
}
.exam-manager-nav .navbar-nav .nav-item:hover .nav-link{
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.exam-manager-nav .navbar-nav .nav-item.active .nav-link, .exam-manager-nav .navbar-nav .nav-item:hover .nav-link{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 5px solid #dd4b4b;
    padding-bottom: 0.2em !important;
    color:#dd4b4b !important;
}

.notifs-counter{
    background-color: crimson;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 0;
    position: relative;
    margin-top: 12px;
}
.notifs-counter span{
    position: absolute;
    top:-10px;
    left: 13px;
    text-align: center;
}
.exam-manager-profile-nav{
    line-height: 43px;
    
}
#ex-mn-dropdown-icon{
    border: none;   
    color: #033649;
    padding-top: 12px;
    font-weight: bold;
    font-size: 16px;
}
.dropdown-exam-manager-menu{
    position: absolute;
    right: 0 !important;
    left: unset;
    font-size: 14px;
    color: #033649; 
}
.dropdown-exam-manager-menu .dropdown-item{
    color: #033649; 
    font-weight: bold;
}

.exam-manager-container .sidebar, .exam-manager-container .search-sidebar, .exam-manager-container .main-content{
    margin-top: 60px;
}

/*Col 1 Side Bar*/
.exam-manager-container .sidebar {
    min-height: 600px;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    padding: 0;
    padding-top: 3em;

}
.exam-manager-container .sidebar .get-started-btn
{
    min-height: 45px;
    width: 96%;
    background-color:#036564;
    color:white;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 16px;
    margin: 0 2% 0 2%;
    cursor: pointer; 
}
.exam-manager-container .sidebar .get-started-btn span{
    padding-right: 5px;
}

.list-menu-main{
    margin-top: 25px;
    /* color: #036564;  */
    color: #68a3a2;
    font-size: 21px;
    font-weight: 600;
}

@media (min-width: 576px) {
    .list-menu-main{
        margin-top: 25px;
        color: #68a3a2;
        font-size: 14px;
        font-weight: 600;
    }
}
@media (min-width: 992px) {
    .list-menu-main{
        margin-top: 25px;
        color: #68a3a2;
        font-size: 16px;
        font-weight: 600;
    }
}

.list-menu-main .item{
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-left: 5px solid transparent;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
    transition-timing-function: ease-out;
} 
.list-menu-main .item span{
    padding-right: 5px;
    width: 25px;
}
.list-menu-main .item .circle {
    margin: 0;
    margin-top: 5%;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #68a3a2;
    line-height: 23px;
    text-align: center;
    padding: 0;
    float: right;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

.list-menu-main .item:hover{
    border-left: 5px solid #036564;
    background-color: lightgray;
    color: #036564;
}
.list-menu-main .item:hover .circle{
    border: 2px solid transparent;
    color: white;
    background-color: #de5151;
}

.list-menu-main .item.active{
    border-left: 5px solid #036564;
    background-color: lightgray;
    color: #036564;    
}
.list-menu-main .item.active .circle{
    border: 2px solid transparent;
    color: white;
    background-color: #de5151;
}

/*COLUMN 2 SEARCH and LISTS*/

.exam-manager-container .search-sidebar {
    /*min-height: 720px;*/
    /* height: 100%; */
    border-right: 1px solid #e6e6e6;
    padding: 0;
}
.search-sidebar .search-controls{
    padding-top: 2em;
    background-color: #f5f7fa;
    height: 80px;
    color: #033649;     
}
.search-controls select, .search-controls .search_bar{
    border: 0;
    background-color: #f5f7fa;
    font-weight: 600;
    font-size: 16px;
    width: 85%;
    float: left;
}
.search-controls .search_bar{
    background-color: white;
}
.search-controls span{
    width: 10%;
    float: right;
    font-size: 21px;
    margin-top: 10px;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
}
.search-controls span:hover{
    color: #036564;    
}
.search-sidebar .create-new{
    color: #434a54;
    height: 50px;
    line-height: 50px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.25s;
    transition-timing-function: ease-out;
    font-size: 14px;
    font-weight: 600;
    border-bottom:  1px solid #e6e6e6;
}
.search-sidebar .create-new span.fa{
    margin-right: 10px;
}
.search-sidebar .create-new:hover{
    background-color: lightgray;
}
.search-sidebar .searched-items{
    max-height: 700px;
    overflow-y: scroll;
}
.search-sidebar .searched-items::-webkit-scrollbar,
.grade-item.discussion-comments .comments::-webkit-scrollbar,
.discussion-comments-scroller::-webkit-scrollbar,
.ag-new_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar,
.ag-new_unittest-modal .inner-container .input-modal-form::-webkit-scrollbar,
.ag-new_worksheet-modal .inner-container .input-modal-form::-webkit-scrollbar,
.ag-edit_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar{
    display: block;
    width: 10px;
    opacity: 0.5;
} 
.search-sidebar .searched-items::-webkit-scrollbar-track,
.grade-item.discussion-comments .comments::-webkit-scrollbar-track,
.discussion-comments-scroller::-webkit-scrollbar-track,
.ag-new_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar-track,
.ag-new_unittest-modal .inner-container .input-modal-form::-webkit-scrollbar-track,
.ag-new_worksheet-modal .inner-container .input-modal-form::-webkit-scrollbar-track,
.ag-edit_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 2px #656d78;
    border-radius: 3px;*/
    width: 3px; 
}
.search-sidebar .searched-items::-webkit-scrollbar-thumb,
.grade-item.discussion-comments .comments::-webkit-scrollbar-thumb,
.discussion-comments-scroller::-webkit-scrollbar-thumb,
.ag-new_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar-thumb,
.ag-new_unittest-modal .inner-container .input-modal-form::-webkit-scrollbar-thumb,
.ag-new_worksheet-modal .inner-container .input-modal-form::-webkit-scrollbar-thumb,
.ag-edit_question_translation-modal .inner-container .input-modal-form::-webkit-scrollbar-thumb{ 
    border: 3px solid transparent;
    border-radius: 15px;
    background-color: #656d78;
    width: 3px !important;
    background-clip: content-box;
}

.search-sidebar .searched-items .item{
    max-height: 130px;
    border-left: 6px solid transparent;
    border-bottom:  1px solid  #e6e6e6;
    padding: 5px;
    padding-left: 0;
    color:#434a54;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out;
    overflow-y: hidden;
}
.search-sidebar .searched-items .item:hover{
    background-color: lightgray;
    border-left: 6px solid #033649;
}
.search-sidebar .searched-items .item.active{
    background-color: lightgray;
    border-left: 6px solid #033649;
}

.searched-items .item .aside-image{
    float: left;
    width: 20%;
    text-align: center;
    
}
.searched-items .item .aside-image img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.searched-items .item .content-details{
    float: left;
    width: 79%;
}
.searched-items .item .content-details .date-added{
    font-size: 12px;
    display: inline-block;
    width: 100%;
}
.searched-items .item .content-details .title{
    font-size: 14px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
.searched-items .item .content-details .title.title2{
    font-size: 16px;
}
.searched-items .item .content-details .description{
    font-size: 12px;
    width: 100%;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Main Content*/
.exam-manager-container .main-content .header-row{
    padding-top: 2em;
    border-bottom:  2px solid  #e6e6e6;
    padding-bottom: 25px;
}
.exam-manager-container .main-content .header-row .aside-image img{
    width: 220px;
    height: 220px;
    /* width: 98%; */
    /* min-height: 98%; */
    /* height: auto; */
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 4px 6px 1px gray;
}
.exam-manager-container .main-content .header-row .aside-image .noImg{
    display: block;
    width: 220px;
    height: 220px;
    line-height: 200px;
    /* min-height: 95%; */
    /* height: auto; */
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 4px 6px 1px gray;
    font-size: 120px;
    font-weight: bold;
    background-color: #033649;
    color:white;
    text-align: center;

}
.exam-manager-container .main-content .header-row .aside-image .noImg span{
    margin: auto;
}
.exam-manager-container .main-content .header-row .main-description{
    color:#434a54;
    padding-left: 0;
}
.exam-manager-container .main-content .header-row .main-description h1{
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.exam-manager-container .main-content .header-row .main-description p{
    font-size: 14px;
    height: 100px;
    overflow-y: scroll;
    text-align: justify;
}
.exam-manager-container .main-content .header-row .main-description .controls{
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}
.exam-manager-container .main-content .header-row .main-description .controls button{
    color:white;
    width: 150px;
    float: left;
}
.exam-manager-container .main-content .header-row .main-description .controls button.edit{
    background-color: #434a54;
    margin-right: 15px;
}
.exam-manager-container .main-content .header-row .main-description .controls button.delete{
    background-color: #dd4b4b;
}
.exam-manager-container .main-content .header-row .main-description .controls button.edit:hover{
    background-color: #033649;
}
.exam-manager-container .main-content .header-row .main-description .controls button.delete:hover{
    background-color: #de5151;
}

.exam-manager-container .main-content .control-row{
    border-bottom:  2px solid  #e6e6e6;
    height: 48px;
}
.exam-manager-container .main-content .control-row ul{
    list-style: none;
    padding: 0;
    height: 45px;
    line-height: 45px;
    margin-left: 15px;
    color:#434a54;
    font-weight: bold;
    text-align: center;
}
.exam-manager-container .main-content .control-row ul li{
    float: left;
    min-width: 120px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 5px solid transparent;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.exam-manager-container .main-content .control-row ul li:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 5px solid #036564;
}
.exam-manager-container .main-content .control-row ul li.active{
    border-bottom: 5px solid #036564;
}

.exam-manager-container .main-content .section-row{
    margin-top: 20px;

}
.exam-manager-container .main-content .section-row .section-item{
    width: 88%;
    margin:  10px auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid #e6e6e6;
}
.exam-manager-container .main-content .section-row .section-item .section-item-header{
    background-color: #036564;
    color: white;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
}
.section-row .section-item .section-item-header .title{
    float: left;
}
.section-row .section-item .section-item-header .menu-icon{
    float: right;
    line-height: 35px;
    width: 25px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.section-row .section-item .section-item-header .menu-icon:hover{
    opacity: 1;
}
.section-row .section-item .section-item-header .new-section-item-menu .dropdown-item{
    padding: 0;
    font-size: 14px;
    padding-left: 5px;
}
.section-row .section-item .section-description{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
}
.section-row .section-item .section-sub-items ul{
    list-style: none;
    padding: 0;
}
.section-row .section-item .section-sub-items ul li{
    padding-left:10px;
    width: 100%;
    border: 1px solid white;
    background-color: #036564;
    color: white;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out; 
}
.section-row .section-item .section-sub-items ul li:hover{
    opacity: 1;
}
.section-row .section-item .section-sub-items ul li .section-item-controls{
    float: right;
}
.section-row .section-item .section-sub-items ul li .menu-icon{
    float: right;
    line-height: 35px;
    width: 25px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.section-row .section-item .section-sub-items ul li  .menu-icon:hover{
    opacity: 1;
}
.add-section-row  {
    margin-top: 20px;
}
.add-section-row  .add_new_section{
    width: 50%;
    border-radius: 10px;
    height: 55px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    border: 2px solid #aab2bd;
    color: #aab2bd;
    cursor: pointer;
    transition: 0.25s;
    transition-timing-function: ease-out; 
}
.add-section-row  .add_new_section.two-col{
    width: 85%;
}
.add-section-row .add_new_section:hover{
    background-color: #036564;
    color: white;
    border: 2px solid white;
}




/*STUDENT*/
.student-grade-row{
    margin-top: 100px;
    margin-left: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.student-grade-row .details{
    color: #434a54;
    padding-left: 0;
}
.student-grade-row .details h6, .student-grade-row .details h2{
    font-weight: bold;
}
.student-grade-row .details p{
    font-size: 12px;
    width: 85%;
    max-height: 145px;
    text-overflow: ellipsis;
}
.student-grade-row .btn-more-opt{
    color: white;
    background-color:  #434a54;
    float: right;
}
.student-grade-items-row{
    margin-top: 30px;
    padding-left: 30px;
}
.student-grade-items-row .col-items .grade-item{
    width: 93%;
    border-radius: 10px;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.student-grade-items-row .col-items .grade-item .header{
    background-color: #036564;
    color: white;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-weight: bold;
}

.student-grade-items-row .col-items .grade-item .description{
    overflow:hidden;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    height: 55px;
}
.student-grade-items-row .grade-score-item{
    margin-bottom: 40px;
}
.student-grade-items-row .grade-score-item .header{
    text-align: center;
}
.student-grade-items-row .grade-score-item .header .title{
    font-size: 14px;
    font-weight: bold;
    color: #036564;
    text-align: center;
}
.student-grade-items-row .grade-score-item  .grade{
    font-size: 38px;
    font-weight: bold;
    color: #036564;
    line-height: 1em;
    text-align: center;
}

.student-grade-items-row .grade-score-item .btn-indepth{
    font-weight: bold;
    color:white;
    background-color: #036564 !important;
}

/*DISCUSSION*/
.discussion-container{
    margin-top: 85px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 300px;
}
.discussion-container .header{
    height: 65px;
    background-color: #434a54;
    color: white;
    font-weight: bold;
}
.discussion-container .header .discuss_date{
    font-size: 12px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 0;
}
.discussion-container .header .discussion_title{
    font-size: 24px;
    padding-left: 15px;
}
.discussion-container  .discuss-item
{
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
}
.discussion-container  .discuss-item .content{
    font-size: 12px;
    color: #434a54;
}

.discussion-container  .discuss-item .details .sender_profile_ico{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
    float: left;
}

.discussion-container  .discuss-item .details .sender_info{
    padding-left: 15px;
    font-size: 12px;
    float: left;
}
.discussion-container  .discuss-item .details .sender_reply{
    font-size: 12px;
    float: right;
    padding-right: 15px;
}
.discussion-container  .discuss-item .details .sender_reply a{
    text-decoration: none;
    color: #434a54;
}
/*END DISCUSSION*/



.main-take-exam-row .question-item{
    /* width: 93%; */
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.main-take-exam-row  .question-item .header{
    background-color: #036564;
    color: white;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-weight: bold;
}

.main-take-exam-row .question-item .description{
    overflow:hidden;
    font-size: 14px;
    font-weight: 300;
    padding: 15px;
    height: 55px;
}

