/*Index Slider */
.slider-container
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
}
.bx-wrapper
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 0 !important;
}
.slider-image
{
    width: 100%;
}
.slider-caption
{
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.slider-logo
{
    position: absolute;
    left: 5%;
    top: 3%;
    display: block;
    text-indent: -9999px;
    width: 120px;
    height: 45px;
    background:url("../images/agora-logo-white.png");
    background-size: 120px 45px;
 
}
.slider-caption .slider-caption-title
{   
    color: #cdb380;
    font-weight: bold;
    font-size: 18px;
}
.slider-caption .slider-caption-title br {
    line-height: 10%;
 }
.slider-caption .slider-caption-btn
{
    width: 125px;
    border-radius: 25px;
    font-weight: 700;
}

.index-menu-nav{
    position: absolute;
    right: 5%;
    top: 5%;
}
.index-menu-nav ul{
    list-style: none;
    padding: 0;
}
.index-menu-nav ul li{
    float: left;
    width: 100px;
    font-weight: 600;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border: 1px solid transparent;  
}
.index-menu-nav ul li.signup{
    border: 1px solid white;
    border-radius: 10px;
}
.index-menu-nav ul li:hover a{
    color:#033649;
}
.index-menu-nav ul li.signup:hover {
    border: 1px solid #033649;
}
.index-menu-nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.25s;
    transition-timing-function: ease-out;  
}


@media (min-width: 576px) {
    .slider-logo
    {
        position: absolute;
        left: 5%;
        top: 3%;
        display: block;
        text-indent: -9999px;
        width: 200px;
        height: 79px;
        background:url("../images/agora-logo-white.png");
        background-size: 200px 79px;
    }
    .slider-caption .slider-caption-title
    {   
        font-size: 32px;
    }
    .slider-caption .slider-caption-btn
    {   
        width: 225px;
        height: 45px;
    }
}

@media (min-width: 992px) {
    .slider-caption .slider-caption-title {
        font-size: 52px;
    }
}
/*End Index Slider */

/*About Section Index*/
.about-container
{
    height: 500px;
}
.about-the-school
{
    font-size: 14px;
    margin-left: 10px;
}
#about-the-school
{
    display: none;
}

.about-desc
{
    font-size: 13px;
}

@media (min-width: 576px) {
    .about-the-school
    {
        font-size: 26px;
        margin-left: 0px;
    }
    .about-desc
    {
        font-size: 1.1rem;
    }
}
@media (min-width: 992px) {
    .about-the-school {
        font-size: 34px;
    }
    #about-the-school
    {
        display: block;
    }
    .about-container
    {
        height: 600px;
    }
}
.about-flag-cont
{
    position: relative;
}
.about-flag-ship
{
    width:126px;
    height:auto;
    position: absolute;
    top:-25%
}
@media (min-width: 576px) {
    .about-flag-ship
    {
        width:156px;
        height:auto;
        top:-30%;
    }
}
@media (min-width: 768px) 
{
    .about-flag-ship
    {
        width:226px;
        height:auto;
        top:-40%;
        padding-right: 1em;
    }
}
@media (min-width: 992px) {
    .about-flag-ship
    {   
        width:266px;
        height:484px;
        top:-25%;
    }
}
/*End About Section Index*/

/*Index Course Collection*/
.course-collection
{
    width: 100%;
    height: 654px;
    background-color: #033649;
    position: relative;
    overflow: hidden;
}
.course-scroll
{
    width: 409px;  
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.course-carousel
{
    list-style: none;
    padding: 0 !important ;
    margin: 0 !important;
    height: 576px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: none;
}
.course-item
{
    width: 90%;
    height: 59px;
    line-height: 59px;
    font-size: 18px;
    color:#969696;
    margin: 0 auto 0 auto;
    transition: 0.25s;
    transition-timing-function: ease-out;    
}
.course-item .fa
{
    padding-left: 1em;
    padding-right: .5em;
}
.course-item.first
{
    background-color:#0a4544;
    height: 45px !important;
    line-height: 45px !important;
    color:white !important;
}
.course-item.first .fa
{
    color:#249729;
}
.course-item.selected
{
    background-color:#036564;
    width: 409px !important;
    color:white !important;
    font-weight: 700;
    font-size: 20px;
}
.course-item.selected .fa
{
    color:#d6a545;
    padding-left: 1.3em;
}
.course-item.normal-1
{
    background-color:#042a38
}
.course-item.normal-2
{
    background-color:#03212c;
}

.course-item.curs-pointer:hover{
    background-color:#036564;
    width: 409px !important;
    color:white !important;
    font-weight: 700;
    font-size: 20px;
}

.course-item.curs-pointer:hover .fa{
    color:#d6a545;
    padding-left: 1.3em;
}

.course-slider
{
    color:white;
    height: 654px;
}
.course-slider h1
{
    font-weight: bold;
    font-size: 48px;
    padding-top: 1.8em;
}
.course-slider p
{
    font-weight: normal;
    font-size: 18px;
}
.course-hid-col{
    display: none;
}


.course-featureds
{
    height: 150px;
    background-color:white;
    color:black;
    width: 300px;
    position: absolute;
    left:0em;
    top: -27em;
    z-index: -1;
}
.featuredslider
{
    background-color: white;
    height: 100%;
}
.course-slide-item
{   padding-top: 15px;
    height: 280px;
    background-color :white;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
.course-slide-item img
{
    transition: 0.20s;
    transition-timing-function: ease-out;
}
.course-slide-item:hover
{   padding-top: 15px;
    background-color: #f0f0f0;
    font-weight: 700;
}
.course-slide-item:hover img
{
    transform: scale(1.07);
}
.slick-slide
{
    height: 100%;
}
.slick-slide img {
    height:180px;
}

.course-slide-item h5
{
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}

.course-slide-item span
{
    display: block;
    color:#72c5be;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
}

@media (min-width: 576px) {
    .course-slider h1
    {
        font-size: 26px;
    }
    .course-slider p
    {
        font-weight: normal;
        font-size: 14px;
    }
    .view-more-btn
    {
        font-size: 18px;
        width: 200px;
        height: 35px;
        line-height: 20px;
        border-radius: 25px;
        font-weight: 700;
        /* margin-top: 390px; */
    }

    .course-featureds
    {
        height: 150px;
        background-color:white;
        color:black;
        width: 500px;
        position: absolute;
        left:0em;
        top: -31em;
        z-index: -1;
    }

 
}
@media (min-width: 768px) 
{
    .course-featureds
    {
        height: 150px;
        background-color:white;
        color:black;
        width: 660px;
        position: absolute;
        left:0em;
        top: -31em;
        z-index: -1;
    }
}
@media (min-width: 992px) {
    .course-slider h1
    {
        font-weight: bold;
        font-size: 48px;
        padding-top: 1.8em;
        padding-left: 0em;
    }
    .course-slider p
    {
        font-weight: normal;
        font-size: 18px;
        padding-left: 0em;
    }
    .view-more-btn
    {
        font-size: 24px;
        width: 250px;
        height: 45px;
        line-height: 30px;
        border-radius: 25px;
        font-weight: 700;
        margin-top: 395px;
        margin-left: 0;
    }
    .course-hid-col{
        display: block;
    }
    .course-carousel
    {
        display: block;
    }
    .course-featureds
    {
        height: 260px;
        background-color:white;
        color:black;
        width: 876px;
        position: absolute;
        /* left:19.5em; */
        left:24.23em;
        top: 10.5em;
        z-index: -1;
    }
}
/*End Index Course Collection*/


/*Index News and Updates*/
.news-update-container, .reviews-container
{
    padding: 35px 0 66px 0;
}
.news-update-container h1, .reviews-container h1
{
    text-align: center;
    margin: 0px auto 0 auto;
    color:#031634;
    font-weight: bold;
}
.news-update-container hr, .reviews-container hr
{
    margin-bottom: 35px;
}
.news-updates
{
    color:#036564;
}
.news-updates img
{
    width: 100%;
    height: auto;
}
.news-updates h4
{
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 21px;
    padding-top: 10px;
}
.news-updates span
{
    text-overflow: ellipsis;
}
/*End Index News and Updates*/
.reviews-container
{
    background-color: #ebebeb;
}

.review-slider
{
    height: 350px;
    /* background-color: yellow; */
    text-align: center;

}
.review-slider .review-image 
{
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}
.review-slider .testimony-holder
{
    height: 350px;
    width: 400px;
    margin-top: 1%;
    text-align: left !important;
}
.review-slider .testimony-holder .testimony
{
    font-size: 24px;
    color:#033649;
    margin-top: auto;
    margin-bottom: auto;
}
.review-slider .testimony-holder .testimoner
{
    font-size: 24px;
    font-weight: bold;
    color:#033649;
    padding-top: 5px;
}
.reviewsliderslick
{
    width: 100%;
}
.reviewsliderslick .slick-slide img {
    height:200px;
    width: 200px;
}

/*Get Started*/
.get-started-line 
{
     margin-top: 25px;
    width: 100%;
    height: 25px;
    
}
.get-started-line hr
{
    margin-top: 80px;
    bottom: -10px;
    height: 10px;
}

.get-started-line .row
{
    width: 100%;
    height: 65px;
}
.get-started-line .get-started-btn
{
    height: 65px;
    width: 225px;
    background-color:#036564;
    color:white;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    font-size: 21px;
    margin: 0 auto 0 auto;
    position: relative; 
}

.get-started-line .overlay-line
{
    width: 98%;
    border-top: 1.7px solid black;
    opacity: 0.15;
    position: absolute;
    top: 33px;
    z-index: -1;overflow-x: hidden;
}
/*End Get Started*/

